|id|Significant Issue?|Image from DR_Export|Image from Standard|Image from JMSML|Full SIDC|Hierarchy Code|Name|Geometry|Appendix|Notes / Issue Description / Details|
|---|---|---|---|---|---|---|---|---|---|---|
|1||![](./images/SFAP-----------.png)|![](./images-std/1.sfap-----------.png)|![](./images-jmsml/SFAP-----------.png)|SFAP-----------|WAR.AIRTRK|Air Track|POINT|A||
|2||![](./images/SFAPC----------.png)|![](./images-std/1.sfapc----------.png)|![](./images-jmsml/SFAPC----------.png)|SFAPC----------|WAR.AIRTRK.CVL|Civil Aircraft|POINT|A||
|3||![](./images/SFAPCF---------.png)|![](./images-std/1.sfapcf---------.png)|![](./images-jmsml/SFAPCF---------.png)|SFAPCF---------|WAR.AIRTRK.CVL.FIXD|Fixed Wing|POINT|A||
|4||![](./images/SFAPCH---------.png)|![](./images-std/1.sfapch---------.png)|![](./images-jmsml/SFAPCH---------.png)|SFAPCH---------|WAR.AIRTRK.CVL.ROT|Rotary Wing|POINT|A||
|5||![](./images/SFAPCL---------.png)|![](./images-std/1.sfapcl---------.png)|![](./images-jmsml/SFAPCL---------.png)|SFAPCL---------|WAR.AIRTRK.CVL.LTA|Lighter Than Air|POINT|A||
|6||![](./images/SFAPM----------.png)|![](./images-std/1.sfapm----------.png)|![](./images-jmsml/SFAPM----------.png)|SFAPM----------|WAR.AIRTRK.MIL|Military|POINT|A||
|7||![](./images/SFAPME---------.png)|![](./images-std/1.sfapme---------.png)|![](./images-jmsml/SFAPME---------.png)|SFAPME---------|WAR.AIRTRK.MIL.ESCORT|Escort|POINT|A||
|8||![](./images/SFAPMF---------.png)|![](./images-std/1.sfapmf---------.png)|![](./images-jmsml/SFAPMF---------.png)|SFAPMF---------|WAR.AIRTRK.MIL.FIXD|Fixed Wing|POINT|A||
|9||![](./images/SFAPMFA--------.png)|![](./images-std/1.sfapmfa--------.png)|![](./images-jmsml/SFAPMFA--------.png)|SFAPMFA--------|WAR.AIRTRK.MIL.FIXD.ATK|Attack/Strike|POINT|A||
|10||![](./images/SFAPMFB--------.png)|![](./images-std/1.sfapmfb--------.png)|![](./images-jmsml/SFAPMFB--------.png)|SFAPMFB--------|WAR.AIRTRK.MIL.FIXD.BMB|Bomber|POINT|A||
|11||![](./images/SFAPMFC--------.png)|![](./images-std/1.sfapmfc--------.png)|![](./images-jmsml/SFAPMFC--------.png)|SFAPMFC--------|WAR.AIRTRK.MIL.FIXD.CGOALT|Cargo Airlift (Transport)|POINT|A||
|12||![](./images/SFAPMFCH-------.png)|![](./images-std/1.sfapmfch-------.png)|![](./images-jmsml/SFAPMFCH-------.png)|SFAPMFCH-------|WAR.AIRTRK.MIL.FIXD.CGOALT.HVY|Cargo Airlift (Heavy)|POINT|A||
|13||![](./images/SFAPMFCL-------.png)|![](./images-std/1.sfapmfcl-------.png)|![](./images-jmsml/SFAPMFCL-------.png)|SFAPMFCL-------|WAR.AIRTRK.MIL.FIXD.CGOALT.LIT|Cargo Airlift (Light)|POINT|A||
|14||![](./images/SFAPMFCM-------.png)|![](./images-std/1.sfapmfcm-------.png)|![](./images-jmsml/SFAPMFCM-------.png)|SFAPMFCM-------|WAR.AIRTRK.MIL.FIXD.CGOALT.MDM|Cargo Airlift (Medium)|POINT|A||
|15||![](./images/SFAPMFD--------.png)|![](./images-std/1.sfapmfd--------.png)|![](./images-jmsml/SFAPMFD--------.png)|SFAPMFD--------|WAR.AIRTRK.MIL.FIXD.ABNCP|Airborne Command Post (C2)|POINT|A||
|16||![](./images/SFAPMFF--------.png)|![](./images-std/1.sfapmff--------.png)|![](./images-jmsml/SFAPMFF--------.png)|SFAPMFF--------|WAR.AIRTRK.MIL.FIXD.FTR|Fighter|POINT|A||
|17||![](./images/SFAPMFFI-------.png)|![](./images-std/1.sfapmffi-------.png)|![](./images-jmsml/SFAPMFFI-------.png)|SFAPMFFI-------|WAR.AIRTRK.MIL.FIXD.FTR.INCR|Interceptor|POINT|A||
|18||![](./images/SFAPMFH--------.png)|![](./images-std/1.sfapmfh--------.png)|![](./images-jmsml/SFAPMFH--------.png)|SFAPMFH--------|WAR.AIRTRK.MIL.FIXD.CSAR|Combat Search And Rescue (Csar)|POINT|A||
|19||![](./images/SFAPMFJ--------.png)|![](./images-std/1.sfapmfj--------.png)|![](./images-jmsml/SFAPMFJ--------.png)|SFAPMFJ--------|WAR.AIRTRK.MIL.FIXD.ECM|Electronic Countermeasures (Ecm/Jammer)|POINT|A||
|20||![](./images/SFAPMFK--------.png)|![](./images-std/1.sfapmfk--------.png)|![](./images-jmsml/SFAPMFK--------.png)|SFAPMFK--------|WAR.AIRTRK.MIL.FIXD.TNK|Tanker|POINT|A||
|21||![](./images/SFAPMFKB-------.png)|![](./images-std/1.sfapmfkb-------.png)|![](./images-jmsml/SFAPMFKB-------.png)|SFAPMFKB-------|WAR.AIRTRK.MIL.FIXD.TNK.BOOM|Tanker Boom-Only|POINT|A||
|22||![](./images/SFAPMFKD-------.png)|![](./images-std/1.sfapmfkd-------.png)|![](./images-jmsml/SFAPMFKD-------.png)|SFAPMFKD-------|WAR.AIRTRK.MIL.FIXD.TNK.DROG|Tanker Drogue-Only|POINT|A||
|23||![](./images/SFAPMFL--------.png)|![](./images-std/1.sfapmfl--------.png)|![](./images-jmsml/SFAPMFL--------.png)|SFAPMFL--------|WAR.AIRTRK.MIL.FIXD.VSTOL|V/Stol|POINT|A||
|24||![](./images/SFAPMFM--------.png)|![](./images-std/1.sfapmfm--------.png)|![](./images-jmsml/SFAPMFM--------.png)|SFAPMFM--------|WAR.AIRTRK.MIL.FIXD.SOF|Special Operations Forces (Sof)|POINT|A||
|25||![](./images/SFAPMFO--------.png)|![](./images-std/1.sfapmfo--------.png)|![](./images-jmsml/SFAPMFO--------.png)|SFAPMFO--------|WAR.AIRTRK.MIL.FIXD.MEDV|Medical Evacuation (Medevac)|POINT|A||
|26||![](./images/SFAPMFP--------.png)|![](./images-std/1.sfapmfp--------.png)|![](./images-jmsml/SFAPMFP--------.png)|SFAPMFP--------|WAR.AIRTRK.MIL.FIXD.PAT|Patrol|POINT|A||
|27||![](./images/SFAPMFPM-------.png)|![](./images-std/1.sfapmfpm-------.png)|![](./images-jmsml/SFAPMFPM-------.png)|SFAPMFPM-------|WAR.AIRTRK.MIL.FIXD.PAT.MNECM|Mine Countermeasures|POINT|A||
|28||![](./images/SFAPMFPN-------.png)|![](./images-std/1.sfapmfpn-------.png)|![](./images-jmsml/SFAPMFPN-------.png)|SFAPMFPN-------|WAR.AIRTRK.MIL.FIXD.PAT.ASUW|Antisurface Warfare (Asuw)|POINT|A||
|29||![](./images/SFAPMFQ--------.png)|![](./images-std/1.sfapmfq--------.png)|![](./images-jmsml/SFAPMFQ--------.png)|SFAPMFQ--------|WAR.AIRTRK.MIL.FIXD.DRN|Drone (Rpv/Ua)|POINT|A||
|30||![](./images/SFAPMFQA-------.png)|![](./images-std/1.sfapmfqa-------.png)|![](./images-jmsml/SFAPMFQA-------.png)|SFAPMFQA-------|WAR.AIRTRK.MIL.FIXD.DRN.ATK|Attack|POINT|A||
|31||![](./images/SFAPMFQB-------.png)|![](./images-std/1.sfapmfqb-------.png)|![](./images-jmsml/SFAPMFQB-------.png)|SFAPMFQB-------|WAR.AIRTRK.MIL.FIXD.DRN.BMB|Bomber|POINT|A||
|32||![](./images/SFAPMFQC-------.png)|![](./images-std/1.sfapmfqc-------.png)|![](./images-jmsml/SFAPMFQC-------.png)|SFAPMFQC-------|WAR.AIRTRK.MIL.FIXD.DRN.CGO|Cargo|POINT|A||
|33||![](./images/SFAPMFQD-------.png)|![](./images-std/1.sfapmfqd-------.png)|![](./images-jmsml/SFAPMFQD-------.png)|SFAPMFQD-------|WAR.AIRTRK.MIL.FIXD.DRN.ABNCP|Airborne Command Post|POINT|A||
|34||![](./images/SFAPMFQF-------.png)|![](./images-std/1.sfapmfqf-------.png)|![](./images-jmsml/SFAPMFQF-------.png)|SFAPMFQF-------|WAR.AIRTRK.MIL.FIXD.DRN.FTR|Fighter|POINT|A||
|35||![](./images/SFAPMFQH-------.png)|![](./images-std/1.sfapmfqh-------.png)|![](./images-jmsml/SFAPMFQH-------.png)|SFAPMFQH-------|WAR.AIRTRK.MIL.FIXD.DRN.CSAR|Search & Rescue (Csar)|POINT|A||
|36||![](./images/SFAPMFQI-------.png)|![](./images-std/1.sfapmfqi-------.png)|![](./images-jmsml/SFAPMFQI-------.png)|SFAPMFQI-------|WAR.AIRTRK.MIL.FIXD.DRN.MNECM|Mine Countermeasures|POINT|A||
|37||![](./images/SFAPMFQJ-------.png)|![](./images-std/1.sfapmfqj-------.png)|![](./images-jmsml/SFAPMFQJ-------.png)|SFAPMFQJ-------|WAR.AIRTRK.MIL.FIXD.DRN.ECM|Electronic Countermeasures (Jammer)|POINT|A||
|38||![](./images/SFAPMFQK-------.png)|![](./images-std/1.sfapmfqk-------.png)|![](./images-jmsml/SFAPMFQK-------.png)|SFAPMFQK-------|WAR.AIRTRK.MIL.FIXD.DRN.TNK|Tanker|POINT|A||
|39||![](./images/SFAPMFQL-------.png)|![](./images-std/1.sfapmfql-------.png)|![](./images-jmsml/SFAPMFQL-------.png)|SFAPMFQL-------|WAR.AIRTRK.MIL.FIXD.DRN.VSTOL|V/Stol|POINT|A||
|40||![](./images/SFAPMFQM-------.png)|![](./images-std/1.sfapmfqm-------.png)|![](./images-jmsml/SFAPMFQM-------.png)|SFAPMFQM-------|WAR.AIRTRK.MIL.FIXD.DRN.SOF|Special Operations Forces (Sof)|POINT|A||
|41||![](./images/SFAPMFQN-------.png)|![](./images-std/1.sfapmfqn-------.png)|![](./images-jmsml/SFAPMFQN-------.png)|SFAPMFQN-------|WAR.AIRTRK.MIL.FIXD.DRN.ASUW|Antisurface Warfare (Asuw)|POINT|A||
|42||![](./images/SFAPMFQO-------.png)|![](./images-std/1.sfapmfqo-------.png)|![](./images-jmsml/SFAPMFQO-------.png)|SFAPMFQO-------|WAR.AIRTRK.MIL.FIXD.DRN.MEDV|Medevac|POINT|A||
|43||![](./images/SFAPMFQP-------.png)|![](./images-std/1.sfapmfqp-------.png)|![](./images-jmsml/SFAPMFQP-------.png)|SFAPMFQP-------|WAR.AIRTRK.MIL.FIXD.DRN.PAT|Patrol|POINT|A||
|44||![](./images/SFAPMFQR-------.png)|![](./images-std/1.sfapmfqr-------.png)|![](./images-jmsml/SFAPMFQR-------.png)|SFAPMFQR-------|WAR.AIRTRK.MIL.FIXD.DRN.RECON|Reconnaissance|POINT|A||
|45||![](./images/SFAPMFQRW------.png)|![](./images-std/1.sfapmfqrw------.png)|![](./images-jmsml/SFAPMFQRW------.png)|SFAPMFQRW------|WAR.AIRTRK.MIL.FIXD.DRN.RECON.ABNEW|Airborne Early Warning (Aew)|POINT|A||
|46||![](./images/SFAPMFQRX------.png)|![](./images-std/1.sfapmfqrx------.png)|![](./images-jmsml/SFAPMFQRX------.png)|SFAPMFQRX------|WAR.AIRTRK.MIL.FIXD.DRN.RECON.PHG|Photographic|POINT|A||
|47||![](./images/SFAPMFQRZ------.png)|![](./images-std/1.sfapmfqrz------.png)|![](./images-jmsml/SFAPMFQRZ------.png)|SFAPMFQRZ------|WAR.AIRTRK.MIL.FIXD.DRN.RECON.ESM|Electronic Surveillance Measures|POINT|A||
|48||![](./images/SFAPMFQS-------.png)|![](./images-std/1.sfapmfqs-------.png)|![](./images-jmsml/SFAPMFQS-------.png)|SFAPMFQS-------|WAR.AIRTRK.MIL.FIXD.DRN.ASBW|Antisubmarine Warfare (Asw)|POINT|A||
|49||![](./images/SFAPMFQT-------.png)|![](./images-std/1.sfapmfqt-------.png)|![](./images-jmsml/SFAPMFQT-------.png)|SFAPMFQT-------|WAR.AIRTRK.MIL.FIXD.DRN.TNE|Trainer|POINT|A||
|50||![](./images/SFAPMFQU-------.png)|![](./images-std/1.sfapmfqu-------.png)|![](./images-jmsml/SFAPMFQU-------.png)|SFAPMFQU-------|WAR.AIRTRK.MIL.FIXD.DRN.UTY|Utility|POINT|A||
|51||![](./images/SFAPMFQY-------.png)|![](./images-std/1.sfapmfqy-------.png)|![](./images-jmsml/SFAPMFQY-------.png)|SFAPMFQY-------|WAR.AIRTRK.MIL.FIXD.DRN.COMM|Communications|POINT|A||
|52||![](./images/SFAPMFR--------.png)|![](./images-std/1.sfapmfr--------.png)|![](./images-jmsml/SFAPMFR--------.png)|SFAPMFR--------|WAR.AIRTRK.MIL.FIXD.RECON|Reconnaissance|POINT|A||
|53||![](./images/SFAPMFRW-------.png)|![](./images-std/1.sfapmfrw-------.png)|![](./images-jmsml/SFAPMFRW-------.png)|SFAPMFRW-------|WAR.AIRTRK.MIL.FIXD.RECON.ABNEW|Airborne Early Warning (Aew)|POINT|A||
|54||![](./images/SFAPMFRX-------.png)|![](./images-std/1.sfapmfrx-------.png)|![](./images-jmsml/SFAPMFRX-------.png)|SFAPMFRX-------|WAR.AIRTRK.MIL.FIXD.RECON.PHG|Photographic|POINT|A||
|55||![](./images/SFAPMFRZ-------.png)|![](./images-std/1.sfapmfrz-------.png)|![](./images-jmsml/SFAPMFRZ-------.png)|SFAPMFRZ-------|WAR.AIRTRK.MIL.FIXD.RECON.ESM|Electronic Surveillance Measures|POINT|A||
|56||![](./images/SFAPMFS--------.png)|![](./images-std/1.sfapmfs--------.png)|![](./images-jmsml/SFAPMFS--------.png)|SFAPMFS--------|WAR.AIRTRK.MIL.FIXD.ASBWCB|Antisubmarine Warfare (Asw) Carrier Based|POINT|A||
|57||![](./images/SFAPMFT--------.png)|![](./images-std/1.sfapmft--------.png)|![](./images-jmsml/SFAPMFT--------.png)|SFAPMFT--------|WAR.AIRTRK.MIL.FIXD.TNE|Trainer|POINT|A||
|58||![](./images/SFAPMFU--------.png)|![](./images-std/1.sfapmfu--------.png)|![](./images-jmsml/SFAPMFU--------.png)|SFAPMFU--------|WAR.AIRTRK.MIL.FIXD.UTY|Utility|POINT|A||
|59||![](./images/SFAPMFUH-------.png)|![](./images-std/1.sfapmfuh-------.png)|![](./images-jmsml/SFAPMFUH-------.png)|SFAPMFUH-------|WAR.AIRTRK.MIL.FIXD.UTY.HVY|Utility (Heavy)|POINT|A||
|60||![](./images/SFAPMFUL-------.png)|![](./images-std/1.sfapmful-------.png)|![](./images-jmsml/SFAPMFUL-------.png)|SFAPMFUL-------|WAR.AIRTRK.MIL.FIXD.UTY.LIT|Utility (Light)|POINT|A||
|61||![](./images/SFAPMFUM-------.png)|![](./images-std/1.sfapmfum-------.png)|![](./images-jmsml/SFAPMFUM-------.png)|SFAPMFUM-------|WAR.AIRTRK.MIL.FIXD.UTY.MDM|Utility (Medium)|POINT|A||
|62||![](./images/SFAPMFY--------.png)|![](./images-std/1.sfapmfy--------.png)|![](./images-jmsml/SFAPMFY--------.png)|SFAPMFY--------|WAR.AIRTRK.MIL.FIXD.COMM|Communications|POINT|A||
|63||![](./images/SFAPMH---------.png)|![](./images-std/1.sfapmh---------.png)|![](./images-jmsml/SFAPMH---------.png)|SFAPMH---------|WAR.AIRTRK.MIL.ROT|Rotary Wing|POINT|A||
|64||![](./images/SFAPMHA--------.png)|![](./images-std/1.sfapmha--------.png)|![](./images-jmsml/SFAPMHA--------.png)|SFAPMHA--------|WAR.AIRTRK.MIL.ROT.ATK|Attack|POINT|A||
|65||![](./images/SFAPMHC--------.png)|![](./images-std/1.sfapmhc--------.png)|![](./images-jmsml/SFAPMHC--------.png)|SFAPMHC--------|WAR.AIRTRK.MIL.ROT.CGOALT|Cargo Airlift (Transport)|POINT|A||
|66||![](./images/SFAPMHCH-------.png)|![](./images-std/1.sfapmhch-------.png)|![](./images-jmsml/SFAPMHCH-------.png)|SFAPMHCH-------|WAR.AIRTRK.MIL.ROT.CGOALT.HVY|Cargo Airlift (Heavy)|POINT|A||
|67||![](./images/SFAPMHCL-------.png)|![](./images-std/1.sfapmhcl-------.png)|![](./images-jmsml/SFAPMHCL-------.png)|SFAPMHCL-------|WAR.AIRTRK.MIL.ROT.CGOALT.LIT|Cargo Airlift (Light)|POINT|A||
|68||![](./images/SFAPMHCM-------.png)|![](./images-std/1.sfapmhcm-------.png)|![](./images-jmsml/SFAPMHCM-------.png)|SFAPMHCM-------|WAR.AIRTRK.MIL.ROT.CGOALT.MDM|Cargo Airlift (Medium)|POINT|A||
|69||![](./images/SFAPMHD--------.png)|![](./images-std/1.sfapmhd--------.png)|![](./images-jmsml/SFAPMHD--------.png)|SFAPMHD--------|WAR.AIRTRK.MIL.ROT.ABNCP|Airborne Command Post (C2)|POINT|A||
|70||![](./images/SFAPMHH--------.png)|![](./images-std/1.sfapmhh--------.png)|![](./images-jmsml/SFAPMHH--------.png)|SFAPMHH--------|WAR.AIRTRK.MIL.ROT.CSAR|Combat Search And Rescue (Csar)|POINT|A||
|71||![](./images/SFAPMHI--------.png)|![](./images-std/1.sfapmhi--------.png)|![](./images-jmsml/SFAPMHI--------.png)|SFAPMHI--------|WAR.AIRTRK.MIL.ROT.MNECM|Mine Countermeasures|POINT|A||
|72||![](./images/SFAPMHJ--------.png)|![](./images-std/1.sfapmhj--------.png)|![](./images-jmsml/SFAPMHJ--------.png)|SFAPMHJ--------|WAR.AIRTRK.MIL.ROT.ECM|Electronic Countermeasures (Ecm/Jammer)|POINT|A||
|73||![](./images/SFAPMHK--------.png)|![](./images-std/1.sfapmhk--------.png)|![](./images-jmsml/SFAPMHK--------.png)|SFAPMHK--------|WAR.AIRTRK.MIL.ROT.TNK|Tanker|POINT|A||
|74||![](./images/SFAPMHM--------.png)|![](./images-std/1.sfapmhm--------.png)|![](./images-jmsml/SFAPMHM--------.png)|SFAPMHM--------|WAR.AIRTRK.MIL.ROT.SOF|Special Operations Forces (Sof)|POINT|A||
|75||![](./images/SFAPMHO--------.png)|![](./images-std/1.sfapmho--------.png)|![](./images-jmsml/SFAPMHO--------.png)|SFAPMHO--------|WAR.AIRTRK.MIL.ROT.MEDV|Medevac|POINT|A||
|76||![](./images/SFAPMHQ--------.png)|![](./images-std/1.sfapmhq--------.png)|![](./images-jmsml/SFAPMHQ--------.png)|SFAPMHQ--------|WAR.AIRTRK.MIL.ROT.DRN|Drone (Rpv/Ua)|POINT|A||
|77||![](./images/SFAPMHR--------.png)|![](./images-std/1.sfapmhr--------.png)|![](./images-jmsml/SFAPMHR--------.png)|SFAPMHR--------|WAR.AIRTRK.MIL.ROT.RECON|Reconnaissance|POINT|A||
|78||![](./images/SFAPMHS--------.png)|![](./images-std/1.sfapmhs--------.png)|![](./images-jmsml/SFAPMHS--------.png)|SFAPMHS--------|WAR.AIRTRK.MIL.ROT.ASBW|Antisubmarine Warfare/Mpa|POINT|A||
|79||![](./images/SFAPMHT--------.png)|![](./images-std/1.sfapmht--------.png)|![](./images-jmsml/SFAPMHT--------.png)|SFAPMHT--------|WAR.AIRTRK.MIL.ROT.TNE|Trainer|POINT|A||
|80||![](./images/SFAPMHU--------.png)|![](./images-std/1.sfapmhu--------.png)|![](./images-jmsml/SFAPMHU--------.png)|SFAPMHU--------|WAR.AIRTRK.MIL.ROT.UTY|Utility|POINT|A||
|81||![](./images/SFAPMHUH-------.png)|![](./images-std/1.sfapmhuh-------.png)|![](./images-jmsml/SFAPMHUH-------.png)|SFAPMHUH-------|WAR.AIRTRK.MIL.ROT.UTY.HVY|Utility (Heavy)|POINT|A||
|82||![](./images/SFAPMHUL-------.png)|![](./images-std/1.sfapmhul-------.png)|![](./images-jmsml/SFAPMHUL-------.png)|SFAPMHUL-------|WAR.AIRTRK.MIL.ROT.UTY.LIT|Utility (Light)|POINT|A||
|83||![](./images/SFAPMHUM-------.png)|![](./images-std/1.sfapmhum-------.png)|![](./images-jmsml/SFAPMHUM-------.png)|SFAPMHUM-------|WAR.AIRTRK.MIL.ROT.UTY.MDM|Utility (Medium)|POINT|A||
|84||![](./images/SFAPML---------.png)|![](./images-std/1.sfapml---------.png)|![](./images-jmsml/SFAPML---------.png)|SFAPML---------|WAR.AIRTRK.MIL.LTA|Lighter Than Air|POINT|A||
|85||![](./images/SFAPMV---------.png)|![](./images-std/1.sfapmv---------.png)|![](./images-jmsml/SFAPMV---------.png)|SFAPMV---------|WAR.AIRTRK.MIL.VIP|Very Important Person (Vip)|POINT|A||
|86||![](./images/SFAPW----------.png)|![](./images-std/1.sfapw----------.png)|![](./images-jmsml/SFAPW----------.png)|SFAPW----------|WAR.AIRTRK.WPN|Weapon|POINT|A||
|87||![](./images/SFAPWB---------.png)|![](./images-std/1.sfapwb---------.png)|![](./images-jmsml/SFAPWB---------.png)|SFAPWB---------|WAR.AIRTRK.WPN.BM|Bomb|POINT|A||
|88||![](./images/SFAPWD---------.png)|![](./images-std/1.sfapwd---------.png)|![](./images-jmsml/SFAPWD---------.png)|SFAPWD---------|WAR.AIRTRK.WPN.DCY|Decoy|POINT|A||
|89||![](./images/SFAPWM---------.png)|![](./images-std/1.sfapwm---------.png)|![](./images-jmsml/SFAPWM---------.png)|SFAPWM---------|WAR.AIRTRK.WPN.MSLIF|Missile In Flight|POINT|A||
|90||![](./images/SFAPWMA--------.png)|![](./images-std/1.sfapwma--------.png)|![](./images-jmsml/SFAPWMA--------.png)|SFAPWMA--------|WAR.AIRTRK.WPN.MSLIF.ALM|Air Launched Missile|POINT|A||
|91||![](./images/SFAPWMAA-------.png)|![](./images-std/1.sfapwmaa-------.png)|![](./images-jmsml/SFAPWMAA-------.png)|SFAPWMAA-------|WAR.AIRTRK.WPN.MSLIF.ALM.AAM|Air-To-Air Missile (Aam)|POINT|A||
|92||![](./images/SFAPWMAP-------.png)|![](./images-std/1.sfapwmap-------.png)|![](./images-jmsml/SFAPWMAP-------.png)|SFAPWMAP-------|WAR.AIRTRK.WPN.MSLIF.ALM.ASPC|Air-To-Space Missile|POINT|A||
|93||![](./images/SFAPWMAS-------.png)|![](./images-std/1.sfapwmas-------.png)|![](./images-jmsml/SFAPWMAS-------.png)|SFAPWMAS-------|WAR.AIRTRK.WPN.MSLIF.ALM.ASM|Air-To-Surface Missile (Asm)|POINT|A||
|94||![](./images/SFAPWMB--------.png)|![](./images-std/1.sfapwmb--------.png)|![](./images-jmsml/SFAPWMB--------.png)|SFAPWMB--------|WAR.AIRTRK.WPN.MSLIF.BLST|Ballistic Missile|POINT|A||
|95||![](./images/SFAPWMCM-------.png)|![](./images-std/1.sfapwmcm-------.png)|![](./images-jmsml/SFAPWMCM-------.png)|SFAPWMCM-------|WAR.AIRTRK.WPN.MSLIF.CM|Cruise Missile|POINT|A||
|96||![](./images/SFAPWMS--------.png)|![](./images-std/1.sfapwms--------.png)|![](./images-jmsml/SFAPWMS--------.png)|SFAPWMS--------|WAR.AIRTRK.WPN.MSLIF.SLM|Surface Launched Missile|POINT|A||
|97||![](./images/SFAPWMSA-------.png)|![](./images-std/1.sfapwmsa-------.png)|![](./images-jmsml/SFAPWMSA-------.png)|SFAPWMSA-------|WAR.AIRTRK.WPN.MSLIF.SLM.SAM|Surface-To-Air Missile (Sam)|POINT|A||
|98||![](./images/SFAPWMSB-------.png)|![](./images-std/1.sfapwmsb-------.png)|![](./images-jmsml/SFAPWMSB-------.png)|SFAPWMSB-------|WAR.AIRTRK.WPN.MSLIF.SLM.ABM|Antiballistic Missile (Abm)|POINT|A||
|99||![](./images/SFAPWMSS-------.png)|![](./images-std/1.sfapwmss-------.png)|![](./images-jmsml/SFAPWMSS-------.png)|SFAPWMSS-------|WAR.AIRTRK.WPN.MSLIF.SLM.SSM|Surface-To-Surface Missile (Ssm)|POINT|A||
|100||![](./images/SFAPWMSU-------.png)|![](./images-std/1.sfapwmsu-------.png)|![](./images-jmsml/SFAPWMSU-------.png)|SFAPWMSU-------|WAR.AIRTRK.WPN.MSLIF.SLM.SSUM|Surface-To-Subsurface Missile|POINT|A||
|101||![](./images/SFAPWMU--------.png)|![](./images-std/1.sfapwmu--------.png)|![](./images-jmsml/SFAPWMU--------.png)|SFAPWMU--------|WAR.AIRTRK.WPN.MSLIF.SBSM|Subsurface-To-Surface Missile (S/Ssm)|POINT|A||
|102||![](./images/SFFP-----------.png)|![](./images-std/1.sffp-----------.png)|![](./images-jmsml/SFFP-----------.png)|SFFP-----------|WAR.SOFUNT|Special Operations Forces (Sof) Unit|POINT|A||
|103||![](./images/SFFPA----------.png)|![](./images-std/1.sffpa----------.png)|![](./images-jmsml/SFFPA----------.png)|SFFPA----------|WAR.SOFUNT.AVN|Sof Unit Aviation|POINT|A||
|104||![](./images/SFFPAF---------.png)|![](./images-std/1.sffpaf---------.png)|![](./images-jmsml/SFFPAF---------.png)|SFFPAF---------|WAR.SOFUNT.AVN.FIXD|Sof Unit Fixed Wing|POINT|A||
|105||![](./images/SFFPAFA--------.png)|![](./images-std/1.sffpafa--------.png)|![](./images-jmsml/SFFPAFA--------.png)|SFFPAFA--------|WAR.SOFUNT.AVN.FIXD.ATK|Sof Unit Attack|POINT|A||
|106||![](./images/SFFPAFK--------.png)|![](./images-std/1.sffpafk--------.png)|![](./images-jmsml/SFFPAFK--------.png)|SFFPAFK--------|WAR.SOFUNT.AVN.FIXD.RFE|Sof Unit Refuel|POINT|A||
|107||![](./images/SFFPAFU--------.png)|![](./images-std/1.sffpafu--------.png)|![](./images-jmsml/SFFPAFU--------.png)|SFFPAFU--------|WAR.SOFUNT.AVN.FIXD.UTY|Sof Unit Utility|POINT|A||
|108||![](./images/SFFPAFUH-------.png)|![](./images-std/1.sffpafuh-------.png)|![](./images-jmsml/SFFPAFUH-------.png)|SFFPAFUH-------|WAR.SOFUNT.AVN.FIXD.UTY.HVY|Sof Unit Utility (Heavy)|POINT|A||
|109||![](./images/SFFPAFUL-------.png)|![](./images-std/1.sffpaful-------.png)|![](./images-jmsml/SFFPAFUL-------.png)|SFFPAFUL-------|WAR.SOFUNT.AVN.FIXD.UTY.LIT|Sof Unit Utility (Light)|POINT|A||
|110||![](./images/SFFPAFUM-------.png)|![](./images-std/1.sffpafum-------.png)|![](./images-jmsml/SFFPAFUM-------.png)|SFFPAFUM-------|WAR.SOFUNT.AVN.FIXD.UTY.MDM|Sof Unit Utility (Medium)|POINT|A||
|111||![](./images/SFFPAH---------.png)|![](./images-std/1.sffpah---------.png)|![](./images-jmsml/SFFPAH---------.png)|SFFPAH---------|WAR.SOFUNT.AVN.ROT|Sof Unit Rotary Wing|POINT|A||
|112||![](./images/SFFPAHA--------.png)|![](./images-std/1.sffpaha--------.png)|![](./images-jmsml/SFFPAHA--------.png)|SFFPAHA--------|WAR.SOFUNT.AVN.ROT.ATK|Sof Unit Attack|POINT|A||
|113||![](./images/SFFPAHH--------.png)|![](./images-std/1.sffpahh--------.png)|![](./images-jmsml/SFFPAHH--------.png)|SFFPAHH--------|WAR.SOFUNT.AVN.ROT.CSAR|Sof Unit Combat Search And Rescue|POINT|A||
|114||![](./images/SFFPAHU--------.png)|![](./images-std/1.sffpahu--------.png)|![](./images-jmsml/SFFPAHU--------.png)|SFFPAHU--------|WAR.SOFUNT.AVN.ROT.UTY|Sof Unit Utility|POINT|A||
|115||![](./images/SFFPAHUH-------.png)|![](./images-std/1.sffpahuh-------.png)|![](./images-jmsml/SFFPAHUH-------.png)|SFFPAHUH-------|WAR.SOFUNT.AVN.ROT.UTY.HVY|Sof Unit Utility (Heavy)|POINT|A||
|116||![](./images/SFFPAHUL-------.png)|![](./images-std/1.sffpahul-------.png)|![](./images-jmsml/SFFPAHUL-------.png)|SFFPAHUL-------|WAR.SOFUNT.AVN.ROT.UTY.LIT|Sof Unit Utility (Light)|POINT|A||
|117||![](./images/SFFPAHUM-------.png)|![](./images-std/1.sffpahum-------.png)|![](./images-jmsml/SFFPAHUM-------.png)|SFFPAHUM-------|WAR.SOFUNT.AVN.ROT.UTY.MDM|Sof Unit Utility (Medium)|POINT|A||
|118||![](./images/SFFPAV---------.png)|![](./images-std/1.sffpav---------.png)|![](./images-jmsml/SFFPAV---------.png)|SFFPAV---------|WAR.SOFUNT.AVN.VSTOL|Sof Unit V/Stol|POINT|A||
|119||![](./images/SFFPB----------.png)|![](./images-std/1.sffpb----------.png)|![](./images-jmsml/SFFPB----------.png)|SFFPB----------|WAR.SOFUNT.SUP|Sof Unit Support|POINT|A||
|120||![](./images/SFFPG----------.png)|![](./images-std/1.sffpg----------.png)|![](./images-jmsml/SFFPG----------.png)|SFFPG----------|WAR.SOFUNT.GRD|Sof Unit Ground|POINT|A||
|121||![](./images/SFFPGC---------.png)|![](./images-std/1.sffpgc---------.png)|![](./images-jmsml/SFFPGC---------.png)|SFFPGC---------|WAR.SOFUNT.GRD.CVLAFF|Sof Unit Civil Affairs|POINT|A||
|122||![](./images/SFFPGP---------.png)|![](./images-std/1.sffpgp---------.png)|![](./images-jmsml/SFFPGP---------.png)|SFFPGP---------|WAR.SOFUNT.GRD.PSYOP|Sof Unit Psychological Operations (Psyop)|POINT|A||
|123||![](./images/SFFPGPA--------.png)|![](./images-std/1.sffpgpa--------.png)|![](./images-jmsml/SFFPGPA--------.png)|SFFPGPA--------|WAR.SOFUNT.GRD.PSYOP.FIXAVN|Sof Unit Fixed Wing Aviation|POINT|A||
|124||![](./images/SFFPGR---------.png)|![](./images-std/1.sffpgr---------.png)|![](./images-jmsml/SFFPGR---------.png)|SFFPGR---------|WAR.SOFUNT.GRD.RGR|Sof Unit Ranger|POINT|A||
|125||![](./images/SFFPGS---------.png)|![](./images-std/1.sffpgs---------.png)|![](./images-jmsml/SFFPGS---------.png)|SFFPGS---------|WAR.SOFUNT.GRD.SOF|Sof Unit Special Forces|POINT|A||
|126||![](./images/SFFPN----------.png)|![](./images-std/1.sffpn----------.png)|![](./images-jmsml/SFFPN----------.png)|SFFPN----------|WAR.SOFUNT.NAV|Sof Unit Sof Unit Naval|POINT|A||
|127||![](./images/SFFPNB---------.png)|![](./images-std/1.sffpnb---------.png)|![](./images-jmsml/SFFPNB---------.png)|SFFPNB---------|WAR.SOFUNT.NAV.SBT|Sof Unit Special Boat|POINT|A||
|128||![](./images/SFFPNN---------.png)|![](./images-std/1.sffpnn---------.png)|![](./images-jmsml/SFFPNN---------.png)|SFFPNN---------|WAR.SOFUNT.NAV.SSSNR|Sof Unit Special Ssnr|POINT|A||
|129||![](./images/SFFPNS---------.png)|![](./images-std/1.sffpns---------.png)|![](./images-jmsml/SFFPNS---------.png)|SFFPNS---------|WAR.SOFUNT.NAV.SEAL|Sof Unit Seal|POINT|A||
|130||![](./images/SFFPNU---------.png)|![](./images-std/1.sffpnu---------.png)|![](./images-jmsml/SFFPNU---------.png)|SFFPNU---------|WAR.SOFUNT.NAV.UH2DML|Sof Unit Underwater Demolition Team|POINT|A||
|131||![](./images/SFGP-----------.png)|![](./images-std/1.sfgp-----------.png)|![](./images-jmsml/SFGP-----------.png)|SFGP-----------|WAR.GRDTRK|Ground Track|POINT|A||
|132||![](./images/SFGPE----------.png)|![](./images-std/1.sfgpe----------.png)|![](./images-jmsml/SFGPE----------.png)|SFGPE----------|WAR.GRDTRK.EQT|Ground Track Equipment|POINT|A||
|133||![](./images/SFGPES---------.png)|![](./images-std/1.sfgpes---------.png)|![](./images-jmsml/SFGPES---------.png)|SFGPES---------|WAR.GRDTRK.EQT.SNS|Sensor|POINT|A||
|134||![](./images/SFGPESE--------.png)|![](./images-std/1.sfgpese--------.png)|![](./images-jmsml/SFGPESE--------.png)|SFGPESE--------|WAR.GRDTRK.EQT.SNS.EMP|Emplaced Sensor|POINT|A||
|135||![](./images/SFGPESR--------.png)|![](./images-std/1.sfgpesr--------.png)|![](./images-jmsml/SFGPESR--------.png)|SFGPESR--------|WAR.GRDTRK.EQT.SNS.RAD|Radar|POINT|A||
|136||![](./images/SFGPEV---------.png)|![](./images-std/1.sfgpev---------.png)|![](./images-jmsml/SFGPEV---------.png)|SFGPEV---------|WAR.GRDTRK.EQT.GRDVEH|Ground Vehicle|POINT|A||
|137||![](./images/SFGPEVA--------.png)|![](./images-std/1.sfgpeva--------.png)|![](./images-jmsml/SFGPEVA--------.png)|SFGPEVA--------|WAR.GRDTRK.EQT.GRDVEH.ARMD|Armored Vehicle|POINT|A||
|138||![](./images/SFGPEVAA-------.png)|![](./images-std/1.sfgpevaa-------.png)|![](./images-jmsml/SFGPEVAA-------.png)|SFGPEVAA-------|WAR.GRDTRK.EQT.GRDVEH.ARMD.ARMPC|Armored Personnel Carrier|POINT|A||
|139||![](./images/SFGPEVAAR------.png)|![](./images-std/1.sfgpevaar------.png)|![](./images-jmsml/SFGPEVAAR------.png)|SFGPEVAAR------|WAR.GRDTRK.EQT.GRDVEH.ARMD.ARMPC.RCY|Armored Personnel Carrier Recovery|POINT|A||
|140||![](./images/SFGPEVAC-------.png)|![](./images-std/1.sfgpevac-------.png)|![](./images-jmsml/SFGPEVAC-------.png)|SFGPEVAC-------|WAR.GRDTRK.EQT.GRDVEH.ARMD.C2V|C2V/Acv|POINT|A||
|141||![](./images/SFGPEVAI-------.png)|![](./images-std/1.sfgpevai-------.png)|![](./images-jmsml/SFGPEVAI-------.png)|SFGPEVAI-------|WAR.GRDTRK.EQT.GRDVEH.ARMD.ARMINF|Armored Infantry|POINT|A||
|142||![](./images/SFGPEVAL-------.png)|![](./images-std/1.sfgpeval-------.png)|![](./images-jmsml/SFGPEVAL-------.png)|SFGPEVAL-------|WAR.GRDTRK.EQT.GRDVEH.ARMD.LARMVH|Light Armored Vehicle|POINT|A||
|143||![](./images/SFGPEVAS-------.png)|![](./images-std/1.sfgpevas-------.png)|![](./images-jmsml/SFGPEVAS-------.png)|SFGPEVAS-------|WAR.GRDTRK.EQT.GRDVEH.ARMD.CSSVEH|Combat Service Support Vehicle|POINT|A||
|144||![](./images/SFGPEVAT-------.png)|![](./images-std/1.sfgpevat-------.png)|![](./images-jmsml/SFGPEVAT-------.png)|SFGPEVAT-------|WAR.GRDTRK.EQT.GRDVEH.ARMD.TANK|Tank|POINT|A||
|145||![](./images/SFGPEVATH------.png)|![](./images-std/1.sfgpevath------.png)|![](./images-jmsml/SFGPEVATH------.png)|SFGPEVATH------|WAR.GRDTRK.EQT.GRDVEH.ARMD.TANK.HVY|Tank Heavy|POINT|A||
|146||![](./images/SFGPEVATHR-----.png)|![](./images-std/1.sfgpevathr-----.png)|![](./images-jmsml/SFGPEVATHR-----.png)|SFGPEVATHR-----|WAR.GRDTRK.EQT.GRDVEH.ARMD.TANK.HVY.RCY|Tank Heavy Recovery|POINT|A||
|147||![](./images/SFGPEVATL------.png)|![](./images-std/1.sfgpevatl------.png)|![](./images-jmsml/SFGPEVATL------.png)|SFGPEVATL------|WAR.GRDTRK.EQT.GRDVEH.ARMD.TANK.LIT|Tank Light|POINT|A||
|148||![](./images/SFGPEVATLR-----.png)|![](./images-std/1.sfgpevatlr-----.png)|![](./images-jmsml/SFGPEVATLR-----.png)|SFGPEVATLR-----|WAR.GRDTRK.EQT.GRDVEH.ARMD.TANK.LIT.RCY|Tank Light Recovery|POINT|A||
|149||![](./images/SFGPEVATM------.png)|![](./images-std/1.sfgpevatm------.png)|![](./images-jmsml/SFGPEVATM------.png)|SFGPEVATM------|WAR.GRDTRK.EQT.GRDVEH.ARMD.TANK.MDM|Tank Medium|POINT|A||
|150||![](./images/SFGPEVATMR-----.png)|![](./images-std/1.sfgpevatmr-----.png)|![](./images-jmsml/SFGPEVATMR-----.png)|SFGPEVATMR-----|WAR.GRDTRK.EQT.GRDVEH.ARMD.TANK.MDM.RCY|Tank Medium Recovery|POINT|A||
|151||![](./images/SFGPEVC--------.png)|![](./images-std/1.sfgpevc--------.png)|![](./images-jmsml/SFGPEVC--------.png)|SFGPEVC--------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH|Civilian Vehicle|POINT|A||
|152||![](./images/SFGPEVCA-------.png)|![](./images-std/1.sfgpevca-------.png)|![](./images-jmsml/SFGPEVCA-------.png)|SFGPEVCA-------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.AUT|Automobile|POINT|A||
|153||![](./images/SFGPEVCAH------.png)|![](./images-std/1.sfgpevcah------.png)|![](./images-jmsml/SFGPEVCAH------.png)|SFGPEVCAH------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.AUT.SDN|Sedan Automobile|POINT|A||
|154||![](./images/SFGPEVCAL------.png)|![](./images-std/1.sfgpevcal------.png)|![](./images-jmsml/SFGPEVCAL------.png)|SFGPEVCAL------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.AUT.CPCT|Compact Automobile|POINT|A||
|155||![](./images/SFGPEVCAM------.png)|![](./images-std/1.sfgpevcam------.png)|![](./images-jmsml/SFGPEVCAM------.png)|SFGPEVCAM------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.AUT.MDSZ|Midsize Automobile|POINT|A||
|156||![](./images/SFGPEVCF-------.png)|![](./images-std/1.sfgpevcf-------.png)|![](./images-jmsml/SFGPEVCF-------.png)|SFGPEVCF-------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRLF|Tractor Trailer Truck With Flatbed Trailer|POINT|A||
|157||![](./images/SFGPEVCFH------.png)|![](./images-std/1.sfgpevcfh------.png)|![](./images-jmsml/SFGPEVCFH------.png)|SFGPEVCFH------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRLF.LRG|Large/Heavy Flatbed Trailer Tractor Trailer Truck|POINT|A||
|158||![](./images/SFGPEVCFL------.png)|![](./images-std/1.sfgpevcfl------.png)|![](./images-jmsml/SFGPEVCFL------.png)|SFGPEVCFL------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRLF.SMAL|Small/Light Flatbed Trailer Tractor Trailer Truck|POINT|A||
|159||![](./images/SFGPEVCFM------.png)|![](./images-std/1.sfgpevcfm------.png)|![](./images-jmsml/SFGPEVCFM------.png)|SFGPEVCFM------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRLF.MDM|Medium Flatbed Trailer Tractor Trailer Truck|POINT|A||
|160||![](./images/SFGPEVCJ-------.png)|![](./images-std/1.sfgpevcj-------.png)|![](./images-jmsml/SFGPEVCJ-------.png)|SFGPEVCJ-------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.JP|Jeep Type Vehicle|POINT|A||
|161||![](./images/SFGPEVCJH------.png)|![](./images-std/1.sfgpevcjh------.png)|![](./images-jmsml/SFGPEVCJH------.png)|SFGPEVCJH------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.JP.LRG|Large/Heavy Jeep Type Vehicle|POINT|A||
|162||![](./images/SFGPEVCJL------.png)|![](./images-std/1.sfgpevcjl------.png)|![](./images-jmsml/SFGPEVCJL------.png)|SFGPEVCJL------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.JP.SMAL|Small/Light Jeep Type Vehicle|POINT|A||
|163||![](./images/SFGPEVCJM------.png)|![](./images-std/1.sfgpevcjm------.png)|![](./images-jmsml/SFGPEVCJM------.png)|SFGPEVCJM------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.JP.MDM|Medium Jeep Type Vehicle|POINT|A||
|164||![](./images/SFGPEVCM-------.png)|![](./images-std/1.sfgpevcm-------.png)|![](./images-jmsml/SFGPEVCM-------.png)|SFGPEVCM-------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.MPV|Multiple Passenger Vehicle|POINT|A||
|165||![](./images/SFGPEVCMH------.png)|![](./images-std/1.sfgpevcmh------.png)|![](./images-jmsml/SFGPEVCMH------.png)|SFGPEVCMH------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.MPV.LBUS|Large Bus Multiple Passenger Vehicle|POINT|A||
|166||![](./images/SFGPEVCML------.png)|![](./images-std/1.sfgpevcml------.png)|![](./images-jmsml/SFGPEVCML------.png)|SFGPEVCML------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.MPV.VAN|Van Multiple Passenger Vehicle|POINT|A||
|167||![](./images/SFGPEVCMM------.png)|![](./images-std/1.sfgpevcmm------.png)|![](./images-jmsml/SFGPEVCMM------.png)|SFGPEVCMM------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.MPV.SBUS|Small Bus Multiple Passenger Vehicle|POINT|A||
|168||![](./images/SFGPEVCO-------.png)|![](./images-std/1.sfgpevco-------.png)|![](./images-jmsml/SFGPEVCO-------.png)|SFGPEVCO-------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.OBTRK|Open-Bed Truck|POINT|A||
|169||![](./images/SFGPEVCOH------.png)|![](./images-std/1.sfgpevcoh------.png)|![](./images-jmsml/SFGPEVCOH------.png)|SFGPEVCOH------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.OBTRK.LRG|Large Open-Bed Truck|POINT|A||
|170||![](./images/SFGPEVCOL------.png)|![](./images-std/1.sfgpevcol------.png)|![](./images-jmsml/SFGPEVCOL------.png)|SFGPEVCOL------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.OBTRK.PU|Pickup Open-Bed Truck|POINT|A||
|171||![](./images/SFGPEVCOM------.png)|![](./images-std/1.sfgpevcom------.png)|![](./images-jmsml/SFGPEVCOM------.png)|SFGPEVCOM------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.OBTRK.SMAL|Small Open-Bed Truck|POINT|A||
|172||![](./images/SFGPEVCT-------.png)|![](./images-std/1.sfgpevct-------.png)|![](./images-jmsml/SFGPEVCT-------.png)|SFGPEVCT-------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRL|Tractor Trailer Truck With Box Trailer|POINT|A||
|173||![](./images/SFGPEVCTH------.png)|![](./images-std/1.sfgpevcth------.png)|![](./images-jmsml/SFGPEVCTH------.png)|SFGPEVCTH------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRL.LRG|Large/Heavy Box Trailer Tractor Trailer Truck|POINT|A||
|174||![](./images/SFGPEVCTL------.png)|![](./images-std/1.sfgpevctl------.png)|![](./images-jmsml/SFGPEVCTL------.png)|SFGPEVCTL------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRL.SMAL|Small/Light Box Trailer Tractor Trailer Truck|POINT|A||
|175||![](./images/SFGPEVCTM------.png)|![](./images-std/1.sfgpevctm------.png)|![](./images-jmsml/SFGPEVCTM------.png)|SFGPEVCTM------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRL.MDM|Medium Box Trailer Tractor Trailer Truck|POINT|A||
|176||![](./images/SFGPEVCU-------.png)|![](./images-std/1.sfgpevcu-------.png)|![](./images-jmsml/SFGPEVCU-------.png)|SFGPEVCU-------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.UTYVEH|Utility Vehicle|POINT|A||
|177||![](./images/SFGPEVCUH------.png)|![](./images-std/1.sfgpevcuh------.png)|![](./images-jmsml/SFGPEVCUH------.png)|SFGPEVCUH------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.UTYVEH.LBOX|Large Box Truck Utility Vehicle|POINT|A||
|178||![](./images/SFGPEVCUL------.png)|![](./images-std/1.sfgpevcul------.png)|![](./images-jmsml/SFGPEVCUL------.png)|SFGPEVCUL------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.UTYVEH.SUV|Sport Utility Vehicle (Suv) Utility Vehicle|POINT|A||
|179||![](./images/SFGPEVCUM------.png)|![](./images-std/1.sfgpevcum------.png)|![](./images-jmsml/SFGPEVCUM------.png)|SFGPEVCUM------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.UTYVEH.SBOX|Small Box Truck Utility Vehicle|POINT|A||
|180||![](./images/SFGPEVE--------.png)|![](./images-std/1.sfgpeve--------.png)|![](./images-jmsml/SFGPEVE--------.png)|SFGPEVE--------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH|Engineer Vehicle|POINT|A||
|181||![](./images/SFGPEVEA-------.png)|![](./images-std/1.sfgpevea-------.png)|![](./images-jmsml/SFGPEVEA-------.png)|SFGPEVEA-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.MCVEH|Mine Clearing Vehicle|POINT|A||
|182||![](./images/SFGPEVEAA------.png)|![](./images-std/1.sfgpeveaa------.png)|![](./images-jmsml/SFGPEVEAA------.png)|SFGPEVEAA------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.MCVEH.ARMVM|Armored Mounted Mine Clearing Vehicle|POINT|A||
|183||![](./images/SFGPEVEAT------.png)|![](./images-std/1.sfgpeveat------.png)|![](./images-jmsml/SFGPEVEAT------.png)|SFGPEVEAT------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.MCVEH.TM|Trailer Mounted Mine Clearing Vehicle|POINT|A||
|184||![](./images/SFGPEVEB-------.png)|![](./images-std/1.sfgpeveb-------.png)|![](./images-jmsml/SFGPEVEB-------.png)|SFGPEVEB-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.BRG|Bridge|POINT|A||
|185||![](./images/SFGPEVEC-------.png)|![](./images-std/1.sfgpevec-------.png)|![](./images-jmsml/SFGPEVEC-------.png)|SFGPEVEC-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.CSNVEH|Construction Vehicle|POINT|A||
|186||![](./images/SFGPEVED-------.png)|![](./images-std/1.sfgpeved-------.png)|![](./images-jmsml/SFGPEVED-------.png)|SFGPEVED-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.DZR|Dozer|POINT|A||
|187||![](./images/SFGPEVEDA------.png)|![](./images-std/1.sfgpeveda------.png)|![](./images-jmsml/SFGPEVEDA------.png)|SFGPEVEDA------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.DZR.ARMD|Armored Dozer|POINT|A||
|188||![](./images/SFGPEVEE-------.png)|![](./images-std/1.sfgpevee-------.png)|![](./images-jmsml/SFGPEVEE-------.png)|SFGPEVEE-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.ERHMR|Earthmover|POINT|A||
|189||![](./images/SFGPEVEF-------.png)|![](./images-std/1.sfgpevef-------.png)|![](./images-jmsml/SFGPEVEF-------.png)|SFGPEVEF-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.FRYTSP|Ferry Transporter|POINT|A||
|190||![](./images/SFGPEVEH-------.png)|![](./images-std/1.sfgpeveh-------.png)|![](./images-jmsml/SFGPEVEH-------.png)|SFGPEVEH-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.BH|Backhoe|POINT|A||
|191||![](./images/SFGPEVEM-------.png)|![](./images-std/1.sfgpevem-------.png)|![](./images-jmsml/SFGPEVEM-------.png)|SFGPEVEM-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.MLVEH|Mine Laying Vehicle|POINT|A||
|192||![](./images/SFGPEVEML------.png)|![](./images-std/1.sfgpeveml------.png)|![](./images-jmsml/SFGPEVEML------.png)|SFGPEVEML------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.MLVEH.TRKMV|Truck Mounted With Volcano|POINT|A||
|193||![](./images/SFGPEVEMV------.png)|![](./images-std/1.sfgpevemv------.png)|![](./images-jmsml/SFGPEVEMV------.png)|SFGPEVEMV------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.MLVEH.ARMCV|Armored Carrier With Volcano|POINT|A||
|194||![](./images/SFGPEVER-------.png)|![](./images-std/1.sfgpever-------.png)|![](./images-jmsml/SFGPEVER-------.png)|SFGPEVER-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.ARMERV|Armored Engineer Recon Vehicle (Aerv)|POINT|A||
|195||![](./images/SFGPEVES-------.png)|![](./images-std/1.sfgpeves-------.png)|![](./images-jmsml/SFGPEVES-------.png)|SFGPEVES-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.AST|Armored Assault|POINT|A||
|196||![](./images/SFGPEVM--------.png)|![](./images-std/1.sfgpevm--------.png)|![](./images-jmsml/SFGPEVM--------.png)|SFGPEVM--------|WAR.GRDTRK.EQT.GRDVEH.PKAN|Pack Animal(S)|POINT|A||
|197||![](./images/SFGPEVS--------.png)|![](./images-std/1.sfgpevs--------.png)|![](./images-jmsml/SFGPEVS--------.png)|SFGPEVS--------|WAR.GRDTRK.EQT.GRDVEH.MSLSPT|Missile Support Vehicle|POINT|A||
|198||![](./images/SFGPEVSC-------.png)|![](./images-std/1.sfgpevsc-------.png)|![](./images-jmsml/SFGPEVSC-------.png)|SFGPEVSC-------|WAR.GRDTRK.EQT.GRDVEH.MSLSPT.CRN|Missile Support Vehicle Crane/Loading Device|POINT|A||
|199||![](./images/SFGPEVSP-------.png)|![](./images-std/1.sfgpevsp-------.png)|![](./images-jmsml/SFGPEVSP-------.png)|SFGPEVSP-------|WAR.GRDTRK.EQT.GRDVEH.MSLSPT.PLNT|Missile Support Vehicle Propellant Transporter|POINT|A||
|200||![](./images/SFGPEVSR-------.png)|![](./images-std/1.sfgpevsr-------.png)|![](./images-jmsml/SFGPEVSR-------.png)|SFGPEVSR-------|WAR.GRDTRK.EQT.GRDVEH.MSLSPT.TPTR|Missile Support Vehicle Transporter|POINT|A||
|201||![](./images/SFGPEVST-------.png)|![](./images-std/1.sfgpevst-------.png)|![](./images-jmsml/SFGPEVST-------.png)|SFGPEVST-------|WAR.GRDTRK.EQT.GRDVEH.MSLSPT.TLDR|Missile Support Vehicle Transloader|POINT|A||
|202||![](./images/SFGPEVSW-------.png)|![](./images-std/1.sfgpevsw-------.png)|![](./images-jmsml/SFGPEVSW-------.png)|SFGPEVSW-------|WAR.GRDTRK.EQT.GRDVEH.MSLSPT.WH|Missile Support Vehicle Warhead Transporter|POINT|A||
|203||![](./images/SFGPEVT--------.png)|![](./images-std/1.sfgpevt--------.png)|![](./images-jmsml/SFGPEVT--------.png)|SFGPEVT--------|WAR.GRDTRK.EQT.GRDVEH.TRNLCO|Train Locomotive|POINT|A||
|204||![](./images/SFGPEVU--------.png)|![](./images-std/1.sfgpevu--------.png)|![](./images-jmsml/SFGPEVU--------.png)|SFGPEVU--------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH|Utility Vehicle|POINT|A||
|205||![](./images/SFGPEVUA-------.png)|![](./images-std/1.sfgpevua-------.png)|![](./images-jmsml/SFGPEVUA-------.png)|SFGPEVUA-------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.AMBLNC|Ambulance|POINT|A||
|206||![](./images/SFGPEVUAA------.png)|![](./images-std/1.sfgpevuaa------.png)|![](./images-jmsml/SFGPEVUAA------.png)|SFGPEVUAA------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.AMBLNC.ARMD|Armored Ambulance|POINT|A||
|207||![](./images/SFGPEVUB-------.png)|![](./images-std/1.sfgpevub-------.png)|![](./images-jmsml/SFGPEVUB-------.png)|SFGPEVUB-------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.BUS|Bus|POINT|A||
|208||![](./images/SFGPEVUL-------.png)|![](./images-std/1.sfgpevul-------.png)|![](./images-jmsml/SFGPEVUL-------.png)|SFGPEVUL-------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.LCCTRK|Limited Cross-Country Truck|POINT|A||
|209||![](./images/SFGPEVUR-------.png)|![](./images-std/1.sfgpevur-------.png)|![](./images-jmsml/SFGPEVUR-------.png)|SFGPEVUR-------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.H2OCRT|Water Craft|POINT|A||
|210||![](./images/SFGPEVUS-------.png)|![](./images-std/1.sfgpevus-------.png)|![](./images-jmsml/SFGPEVUS-------.png)|SFGPEVUS-------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.SEMI|Semi|POINT|A||
|211||![](./images/SFGPEVUSH------.png)|![](./images-std/1.sfgpevush------.png)|![](./images-jmsml/SFGPEVUSH------.png)|SFGPEVUSH------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.SEMI.HVY|Semi Heavy|POINT|A||
|212||![](./images/SFGPEVUSL------.png)|![](./images-std/1.sfgpevusl------.png)|![](./images-jmsml/SFGPEVUSL------.png)|SFGPEVUSL------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.SEMI.LIT|Semi Light|POINT|A||
|213||![](./images/SFGPEVUSM------.png)|![](./images-std/1.sfgpevusm------.png)|![](./images-jmsml/SFGPEVUSM------.png)|SFGPEVUSM------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.SEMI.MDM|Semi Medium|POINT|A||
|214||![](./images/SFGPEVUT-------.png)|![](./images-std/1.sfgpevut-------.png)|![](./images-jmsml/SFGPEVUT-------.png)|SFGPEVUT-------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.TOWTRK|Tow Truck|POINT|A||
|215||![](./images/SFGPEVUTH------.png)|![](./images-std/1.sfgpevuth------.png)|![](./images-jmsml/SFGPEVUTH------.png)|SFGPEVUTH------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.TOWTRK.HVY|Tow Truck Heavy|POINT|A||
|216||![](./images/SFGPEVUTL------.png)|![](./images-std/1.sfgpevutl------.png)|![](./images-jmsml/SFGPEVUTL------.png)|SFGPEVUTL------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.TOWTRK.LIT|Tow Truck Light|POINT|A||
|217||![](./images/SFGPEVUX-------.png)|![](./images-std/1.sfgpevux-------.png)|![](./images-jmsml/SFGPEVUX-------.png)|SFGPEVUX-------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.CCTRK|Cross-Country Truck|POINT|A||
|218|PERHAPS|![](./images/SFGPEWA--------.png)|![](./images-std/1.sfgpewa--------.png)|![](./images-jmsml/SFGPEWA--------.png)|SFGPEWA--------|WAR.GRDTRK.EQT.WPN.ADFG|Air Defense Gun|POINT|A||
|219|PERHAPS|![](./images/SFGPEWAH-------.png)|![](./images-std/1.sfgpewah-------.png)|![](./images-jmsml/SFGPEWAH-------.png)|SFGPEWAH-------|WAR.GRDTRK.EQT.WPN.ADFG.HVY|Air Defense Gun Heavy|POINT|A||
|220|PERHAPS|![](./images/SFGPEWAL-------.png)|![](./images-std/1.sfgpewal-------.png)|![](./images-jmsml/SFGPEWAL-------.png)|SFGPEWAL-------|WAR.GRDTRK.EQT.WPN.ADFG.LIT|Air Defense Gun Light|POINT|A||
|221|PERHAPS|![](./images/SFGPEWAM-------.png)|![](./images-std/1.sfgpewam-------.png)|![](./images-jmsml/SFGPEWAM-------.png)|SFGPEWAM-------|WAR.GRDTRK.EQT.WPN.ADFG.MDM|Air Defense Gun Medium|POINT|A||
|222|PERHAPS|![](./images/SFGPEWD--------.png)|![](./images-std/1.sfgpewd--------.png)|![](./images-jmsml/SFGPEWD--------.png)|SFGPEWD--------|WAR.GRDTRK.EQT.WPN.DFG|Direct Fire Gun|POINT|A||
|223|PERHAPS|![](./images/SFGPEWDH-------.png)|![](./images-std/1.sfgpewdh-------.png)|![](./images-jmsml/SFGPEWDH-------.png)|SFGPEWDH-------|WAR.GRDTRK.EQT.WPN.DFG.HVY|Direct Fire Gun Heavy|POINT|A||
|224|PERHAPS|![](./images/SFGPEWDHS------.png)|![](./images-std/1.sfgpewdhs------.png)|![](./images-jmsml/SFGPEWDHS------.png)|SFGPEWDHS------|WAR.GRDTRK.EQT.WPN.DFG.HVY.SPD|Direct Fire Gun Heavy Self-Propelled|POINT|A||
|225|PERHAPS|![](./images/SFGPEWDL-------.png)|![](./images-std/1.sfgpewdl-------.png)|![](./images-jmsml/SFGPEWDL-------.png)|SFGPEWDL-------|WAR.GRDTRK.EQT.WPN.DFG.LIT|Direct Fire Gun Light|POINT|A||
|226|PERHAPS|![](./images/SFGPEWDLS------.png)|![](./images-std/1.sfgpewdls------.png)|![](./images-jmsml/SFGPEWDLS------.png)|SFGPEWDLS------|WAR.GRDTRK.EQT.WPN.DFG.LIT.SPD|Direct Fire Gun Light Self-Propelled|POINT|A||
|227|PERHAPS|![](./images/SFGPEWDM-------.png)|![](./images-std/1.sfgpewdm-------.png)|![](./images-jmsml/SFGPEWDM-------.png)|SFGPEWDM-------|WAR.GRDTRK.EQT.WPN.DFG.MDM|Direct Fire Gun Medium|POINT|A||
|228|PERHAPS|![](./images/SFGPEWDMS------.png)|![](./images-std/1.sfgpewdms------.png)|![](./images-jmsml/SFGPEWDMS------.png)|SFGPEWDMS------|WAR.GRDTRK.EQT.WPN.DFG.MDM.SPD|Direct Fire Gun Medium Self-Propelled|POINT|A||
|229|PERHAPS|![](./images/SFGPEWG--------.png)|![](./images-std/1.sfgpewg--------.png)|![](./images-jmsml/SFGPEWG--------.png)|SFGPEWG--------|WAR.GRDTRK.EQT.WPN.ATG|Antitank Gun|POINT|A||
|230|PERHAPS|![](./images/SFGPEWGH-------.png)|![](./images-std/1.sfgpewgh-------.png)|![](./images-jmsml/SFGPEWGH-------.png)|SFGPEWGH-------|WAR.GRDTRK.EQT.WPN.ATG.HVY|Antitank Gun Heavy|POINT|A||
|231|PERHAPS|![](./images/SFGPEWGL-------.png)|![](./images-std/1.sfgpewgl-------.png)|![](./images-jmsml/SFGPEWGL-------.png)|SFGPEWGL-------|WAR.GRDTRK.EQT.WPN.ATG.LIT|Antitank Gun Light|POINT|A||
|232|PERHAPS|![](./images/SFGPEWGM-------.png)|![](./images-std/1.sfgpewgm-------.png)|![](./images-jmsml/SFGPEWGM-------.png)|SFGPEWGM-------|WAR.GRDTRK.EQT.WPN.ATG.MDM|Antitank Gun Medium|POINT|A||
|233|PERHAPS|![](./images/SFGPEWGR-------.png)|![](./images-std/1.sfgpewgr-------.png)|![](./images-jmsml/SFGPEWGR-------.png)|SFGPEWGR-------|WAR.GRDTRK.EQT.WPN.ATG.RECL|Antitank Gun Recoilless|POINT|A||
|234|PERHAPS|![](./images/SFGPEWH--------.png)|![](./images-std/1.sfgpewh--------.png)|![](./images-jmsml/SFGPEWH--------.png)|SFGPEWH--------|WAR.GRDTRK.EQT.WPN.HOW|Howitzer|POINT|A||
|235|PERHAPS|![](./images/SFGPEWHH-------.png)|![](./images-std/1.sfgpewhh-------.png)|![](./images-jmsml/SFGPEWHH-------.png)|SFGPEWHH-------|WAR.GRDTRK.EQT.WPN.HOW.HVY|Howitzer Heavy|POINT|A||
|236|PERHAPS|![](./images/SFGPEWHHS------.png)|![](./images-std/1.sfgpewhhs------.png)|![](./images-jmsml/SFGPEWHHS------.png)|SFGPEWHHS------|WAR.GRDTRK.EQT.WPN.HOW.HVY.SPD|Howitzer Heavy Self-Propelled|POINT|A||
|237|PERHAPS|![](./images/SFGPEWHL-------.png)|![](./images-std/1.sfgpewhl-------.png)|![](./images-jmsml/SFGPEWHL-------.png)|SFGPEWHL-------|WAR.GRDTRK.EQT.WPN.HOW.LIT|Howitzer Light|POINT|A||
|238||![](./images/SFGPEWHLS------.png)|![](./images-std/1.sfgpewhls------.png)|![](./images-jmsml/SFGPEWHLS------.png)|SFGPEWHLS------|WAR.GRDTRK.EQT.WPN.HOW.LIT.SPD|Howitzer Light Self-Propelled|POINT|A||
|239|PERHAPS|![](./images/SFGPEWHM-------.png)|![](./images-std/1.sfgpewhm-------.png)|![](./images-jmsml/SFGPEWHM-------.png)|SFGPEWHM-------|WAR.GRDTRK.EQT.WPN.HOW.MDM|Howitzer Medium|POINT|A||
|240||![](./images/SFGPEWHMS------.png)|![](./images-std/1.sfgpewhms------.png)|![](./images-jmsml/SFGPEWHMS------.png)|SFGPEWHMS------|WAR.GRDTRK.EQT.WPN.HOW.MDM.SPD|Howitzer Medium Self-Propelled|POINT|A||
|241||![](./images/SFGPEWM--------.png)|![](./images-std/1.sfgpewm--------.png)|![](./images-jmsml/SFGPEWM--------.png)|SFGPEWM--------|WAR.GRDTRK.EQT.WPN.MSLL|Missile Launcher|POINT|A||
|242||![](./images/SFGPEWMA-------.png)|![](./images-std/1.sfgpewma-------.png)|![](./images-jmsml/SFGPEWMA-------.png)|SFGPEWMA-------|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD|Air Defense (Ad) Missile Launcher|POINT|A||
|243||![](./images/SFGPEWMAI------.png)|![](./images-std/1.sfgpewmai------.png)|![](./images-jmsml/SFGPEWMAI------.png)|SFGPEWMAI------|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.INTMR|Intermediate Range Ad Missile Launcher|POINT|A||
|244||![](./images/SFGPEWMAIE-----.png)|![](./images-std/1.sfgpewmaie-----.png)|![](./images-jmsml/SFGPEWMAIE-----.png)|SFGPEWMAIE-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.INTMR.TELAR|Transporter Erector Launcher And Radar (Telar)|POINT|A||
|245||![](./images/SFGPEWMAIR-----.png)|![](./images-std/1.sfgpewmair-----.png)|![](./images-jmsml/SFGPEWMAIR-----.png)|SFGPEWMAIR-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.INTMR.TLAR|Transporter Launcher And Radar (Tlar)|POINT|A||
|246||![](./images/SFGPEWMAL------.png)|![](./images-std/1.sfgpewmal------.png)|![](./images-jmsml/SFGPEWMAL------.png)|SFGPEWMAL------|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.LNGR|Long Range Ad Missile Launcher|POINT|A||
|247||![](./images/SFGPEWMALE-----.png)|![](./images-std/1.sfgpewmale-----.png)|![](./images-jmsml/SFGPEWMALE-----.png)|SFGPEWMALE-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.LNGR.TELAR|Transporter Erector Launcher And Radar (Telar)|POINT|A||
|248||![](./images/SFGPEWMALR-----.png)|![](./images-std/1.sfgpewmalr-----.png)|![](./images-jmsml/SFGPEWMALR-----.png)|SFGPEWMALR-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.LNGR.TLAR|Transporter Launcher And Radar (Tlar)|POINT|A||
|249||![](./images/SFGPEWMAS------.png)|![](./images-std/1.sfgpewmas------.png)|![](./images-jmsml/SFGPEWMAS------.png)|SFGPEWMAS------|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.SHTR|Short Range Ad Missile Launcher|POINT|A||
|250||![](./images/SFGPEWMASE-----.png)|![](./images-std/1.sfgpewmase-----.png)|![](./images-jmsml/SFGPEWMASE-----.png)|SFGPEWMASE-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.SHTR.TELAR|Transporter Erector Launcher And Radar (Telar)|POINT|A||
|251||![](./images/SFGPEWMASR-----.png)|![](./images-std/1.sfgpewmasr-----.png)|![](./images-jmsml/SFGPEWMASR-----.png)|SFGPEWMASR-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.SHTR.TLAR|Transporter Launcher And Radar (Tlar)|POINT|A||
|252||![](./images/SFGPEWMAT------.png)|![](./images-std/1.sfgpewmat------.png)|![](./images-jmsml/SFGPEWMAT------.png)|SFGPEWMAT------|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.THT|Ad Missile Launcher Theater|POINT|A||
|253||![](./images/SFGPEWMATE-----.png)|![](./images-std/1.sfgpewmate-----.png)|![](./images-jmsml/SFGPEWMATE-----.png)|SFGPEWMATE-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.THT.TELAR|Transporter Erector Launcher And Radar (Telar)|POINT|A||
|254||![](./images/SFGPEWMATR-----.png)|![](./images-std/1.sfgpewmatr-----.png)|![](./images-jmsml/SFGPEWMATR-----.png)|SFGPEWMATR-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.THT.TLAR|Transporter Launcher And Radar (Tlar)|POINT|A||
|255||![](./images/SFGPEWMS-------.png)|![](./images-std/1.sfgpewms-------.png)|![](./images-jmsml/SFGPEWMS-------.png)|SFGPEWMS-------|WAR.GRDTRK.EQT.WPN.MSLL.SUF|Surf-Surf (Ss) Missile Launcher|POINT|A||
|256||![](./images/SFGPEWMSI------.png)|![](./images-std/1.sfgpewmsi------.png)|![](./images-jmsml/SFGPEWMSI------.png)|SFGPEWMSI------|WAR.GRDTRK.EQT.WPN.MSLL.SUF.INTMR|Intermediate Range Ss Missile Launcher|POINT|A||
|257||![](./images/SFGPEWMSL------.png)|![](./images-std/1.sfgpewmsl------.png)|![](./images-jmsml/SFGPEWMSL------.png)|SFGPEWMSL------|WAR.GRDTRK.EQT.WPN.MSLL.SUF.LNGR|Long Range Ss Missile Launcher|POINT|A||
|258||![](./images/SFGPEWMSS------.png)|![](./images-std/1.sfgpewmss------.png)|![](./images-jmsml/SFGPEWMSS------.png)|SFGPEWMSS------|WAR.GRDTRK.EQT.WPN.MSLL.SUF.SHTR|Short Range Ss Missile Launcher|POINT|A||
|259||![](./images/SFGPEWMT-------.png)|![](./images-std/1.sfgpewmt-------.png)|![](./images-jmsml/SFGPEWMT-------.png)|SFGPEWMT-------|WAR.GRDTRK.EQT.WPN.MSLL.AT|Missile Launcher Antitank (At)|POINT|A||
|260||![](./images/SFGPEWMTH------.png)|![](./images-std/1.sfgpewmth------.png)|![](./images-jmsml/SFGPEWMTH------.png)|SFGPEWMTH------|WAR.GRDTRK.EQT.WPN.MSLL.AT.HVY|Missile Launcher At Heavy|POINT|A||
|261||![](./images/SFGPEWMTL------.png)|![](./images-std/1.sfgpewmtl------.png)|![](./images-jmsml/SFGPEWMTL------.png)|SFGPEWMTL------|WAR.GRDTRK.EQT.WPN.MSLL.AT.LIT|Missile Launcher At Light|POINT|A||
|262||![](./images/SFGPEWMTM------.png)|![](./images-std/1.sfgpewmtm------.png)|![](./images-jmsml/SFGPEWMTM------.png)|SFGPEWMTM------|WAR.GRDTRK.EQT.WPN.MSLL.AT.MDM|Missile Launcher At Medium|POINT|A||
|263||![](./images/SFGPEWO--------.png)|![](./images-std/1.sfgpewo--------.png)|![](./images-jmsml/SFGPEWO--------.png)|SFGPEWO--------|WAR.GRDTRK.EQT.WPN.MORT|Mortar|POINT|A||
|264|PERHAPS|![](./images/SFGPEWOH-------.png)|![](./images-std/1.sfgpewoh-------.png)|![](./images-jmsml/SFGPEWOH-------.png)|SFGPEWOH-------|WAR.GRDTRK.EQT.WPN.MORT.HVY|Mortar Heavy|POINT|A||
|265|PERHAPS|![](./images/SFGPEWOL-------.png)|![](./images-std/1.sfgpewol-------.png)|![](./images-jmsml/SFGPEWOL-------.png)|SFGPEWOL-------|WAR.GRDTRK.EQT.WPN.MORT.LIT|Mortar Light|POINT|A||
|266|PERHAPS|![](./images/SFGPEWOM-------.png)|![](./images-std/1.sfgpewom-------.png)|![](./images-jmsml/SFGPEWOM-------.png)|SFGPEWOM-------|WAR.GRDTRK.EQT.WPN.MORT.MDM|Mortar Medium|POINT|A||
|267||![](./images/SFGPEWR--------.png)|![](./images-std/1.sfgpewr--------.png)|![](./images-jmsml/SFGPEWR--------.png)|SFGPEWR--------|WAR.GRDTRK.EQT.WPN.RIFWPN|Rifle/Automatic Weapon|POINT|A||
|268||![](./images/SFGPEWRH-------.png)|![](./images-std/1.sfgpewrh-------.png)|![](./images-jmsml/SFGPEWRH-------.png)|SFGPEWRH-------|WAR.GRDTRK.EQT.WPN.RIFWPN.HMG|Heavy Machine Gun|POINT|A||
|269||![](./images/SFGPEWRL-------.png)|![](./images-std/1.sfgpewrl-------.png)|![](./images-jmsml/SFGPEWRL-------.png)|SFGPEWRL-------|WAR.GRDTRK.EQT.WPN.RIFWPN.LMG|Light Machine Gun|POINT|A||
|270||![](./images/SFGPEWRR-------.png)|![](./images-std/1.sfgpewrr-------.png)|![](./images-jmsml/SFGPEWRR-------.png)|SFGPEWRR-------|WAR.GRDTRK.EQT.WPN.RIFWPN.RIF|Rifle|POINT|A||
|271||![](./images/SFGPEWS--------.png)|![](./images-std/1.sfgpews--------.png)|![](./images-jmsml/SFGPEWS--------.png)|SFGPEWS--------|WAR.GRDTRK.EQT.WPN.SRL|Single Rocket Launcher|POINT|A||
|272||![](./images/SFGPEWSH-------.png)|![](./images-std/1.sfgpewsh-------.png)|![](./images-jmsml/SFGPEWSH-------.png)|SFGPEWSH-------|WAR.GRDTRK.EQT.WPN.SRL.HVY|Single Rocket Launcher Heavy|POINT|A||
|273||![](./images/SFGPEWSL-------.png)|![](./images-std/1.sfgpewsl-------.png)|![](./images-jmsml/SFGPEWSL-------.png)|SFGPEWSL-------|WAR.GRDTRK.EQT.WPN.SRL.LIT|Single Rocket Launcher Light|POINT|A||
|274||![](./images/SFGPEWSM-------.png)|![](./images-std/1.sfgpewsm-------.png)|![](./images-jmsml/SFGPEWSM-------.png)|SFGPEWSM-------|WAR.GRDTRK.EQT.WPN.SRL.MDM|Single Rocket Launcher Medium|POINT|A||
|275||![](./images/SFGPEWT--------.png)|![](./images-std/1.sfgpewt--------.png)|![](./images-jmsml/SFGPEWT--------.png)|SFGPEWT--------|WAR.GRDTRK.EQT.WPN.ATRL|Antitank Rocket Launcher|POINT|A||
|276||![](./images/SFGPEWTH-------.png)|![](./images-std/1.sfgpewth-------.png)|![](./images-jmsml/SFGPEWTH-------.png)|SFGPEWTH-------|WAR.GRDTRK.EQT.WPN.ATRL.HVY|Antitank Rocket Launcher Heavy|POINT|A||
|277||![](./images/SFGPEWTL-------.png)|![](./images-std/1.sfgpewtl-------.png)|![](./images-jmsml/SFGPEWTL-------.png)|SFGPEWTL-------|WAR.GRDTRK.EQT.WPN.ATRL.LIT|Antitank Rocket Launcher Light|POINT|A||
|278||![](./images/SFGPEWTM-------.png)|![](./images-std/1.sfgpewtm-------.png)|![](./images-jmsml/SFGPEWTM-------.png)|SFGPEWTM-------|WAR.GRDTRK.EQT.WPN.ATRL.MDM|Antitank Rocket Launcher Medium|POINT|A||
|279||![](./images/SFGPEWX--------.png)|![](./images-std/1.sfgpewx--------.png)|![](./images-jmsml/SFGPEWX--------.png)|SFGPEWX--------|WAR.GRDTRK.EQT.WPN.MRL|Multiple Rocket Launcher|POINT|A||
|280||![](./images/SFGPEWXH-------.png)|![](./images-std/1.sfgpewxh-------.png)|![](./images-jmsml/SFGPEWXH-------.png)|SFGPEWXH-------|WAR.GRDTRK.EQT.WPN.MRL.HVY|Multiple Rocket Launcher Heavy|POINT|A||
|281||![](./images/SFGPEWXL-------.png)|![](./images-std/1.sfgpewxl-------.png)|![](./images-jmsml/SFGPEWXL-------.png)|SFGPEWXL-------|WAR.GRDTRK.EQT.WPN.MRL.LIT|Multiple Rocket Launcher Light|POINT|A||
|282||![](./images/SFGPEWXM-------.png)|![](./images-std/1.sfgpewxm-------.png)|![](./images-jmsml/SFGPEWXM-------.png)|SFGPEWXM-------|WAR.GRDTRK.EQT.WPN.MRL.MDM|Multiple Rocket Launcher Medium|POINT|A||
|283|PERHAPS|![](./images/SFGPEWZ--------.png)|![](./images-std/1.sfgpewz--------.png)|![](./images-jmsml/SFGPEWZ--------.png)|SFGPEWZ--------|WAR.GRDTRK.EQT.WPN.GREL|Grenade Launcher|POINT|A||
|284|PERHAPS|![](./images/SFGPEWZH-------.png)|![](./images-std/1.sfgpewzh-------.png)|![](./images-jmsml/SFGPEWZH-------.png)|SFGPEWZH-------|WAR.GRDTRK.EQT.WPN.GREL.HVY|Grenade Launcher Heavy|POINT|A||
|285|PERHAPS|![](./images/SFGPEWZL-------.png)|![](./images-std/1.sfgpewzl-------.png)|![](./images-jmsml/SFGPEWZL-------.png)|SFGPEWZL-------|WAR.GRDTRK.EQT.WPN.GREL.LIT|Grenade Launcher Light|POINT|A||
|286|PERHAPS|![](./images/SFGPEWZM-------.png)|![](./images-std/1.sfgpewzm-------.png)|![](./images-jmsml/SFGPEWZM-------.png)|SFGPEWZM-------|WAR.GRDTRK.EQT.WPN.GREL.MDM|Grenade Launcher Medium|POINT|A||
|287||![](./images/SFGPEXF--------.png)|![](./images-std/1.sfgpexf--------.png)|![](./images-jmsml/SFGPEXF--------.png)|SFGPEXF--------|WAR.GRDTRK.EQT.SPL.FLMTHR|Flame Thrower|POINT|A||
|288||![](./images/SFGPEXI--------.png)|![](./images-std/1.sfgpexi--------.png)|![](./images-jmsml/SFGPEXI--------.png)|SFGPEXI--------|WAR.GRDTRK.EQT.SPL.IED|Improvised Explosive Device|POINT|A||
|289||![](./images/SFGPEXL--------.png)|![](./images-std/1.sfgpexl--------.png)|![](./images-jmsml/SFGPEXL--------.png)|SFGPEXL--------|WAR.GRDTRK.EQT.SPL.LSR|Laser|POINT|A||
|290||![](./images/SFGPEXM--------.png)|![](./images-std/1.sfgpexm--------.png)|![](./images-jmsml/SFGPEXM--------.png)|SFGPEXM--------|WAR.GRDTRK.EQT.SPL.LNDMNE|Land Mines|POINT|A||
|291||![](./images/SFGPEXMC-------.png)|![](./images-std/1.sfgpexmc-------.png)|![](./images-jmsml/SFGPEXMC-------.png)|SFGPEXMC-------|WAR.GRDTRK.EQT.SPL.LNDMNE.CLM|Claymore|POINT|A||
|292||![](./images/SFGPEXML-------.png)|![](./images-std/1.sfgpexml-------.png)|![](./images-jmsml/SFGPEXML-------.png)|SFGPEXML-------|WAR.GRDTRK.EQT.SPL.LNDMNE.LTL|Less Than Lethal|POINT|A||
|293||![](./images/SFGPEXN--------.png)|![](./images-std/1.sfgpexn--------.png)|![](./images-jmsml/SFGPEXN--------.png)|SFGPEXN--------|WAR.GRDTRK.EQT.SPL.CBRNEQ|Cbrn Equipment|POINT|A||
|294||![](./images/SFGPIBA---H----.png)|![](./images-std/1.sfgpiba---h----.png)|![](./images-jmsml/SFGPIBA---H----.png)|SFGPIBA---H----|WAR.GRDTRK.INS.MILBF.AB|Airport/Airbase|POINT|A||
|295||![](./images/SFGPIB----H----.png)|![](./images-std/1.sfgpib----h----.png)|![](./images-jmsml/SFGPIB----H----.png)|SFGPIB----H----|WAR.GRDTRK.INS.MILBF|Military Base/Facility|POINT|A||
|296||![](./images/SFGPIBN---H----.png)|![](./images-std/1.sfgpibn---h----.png)|![](./images-jmsml/SFGPIBN---H----.png)|SFGPIBN---H----|WAR.GRDTRK.INS.MILBF.SP|Seaport/Naval Base|POINT|A||
|297||![](./images/SFGPIE----H----.png)|![](./images-std/1.sfgpie----h----.png)|![](./images-jmsml/SFGPIE----H----.png)|SFGPIE----H----|WAR.GRDTRK.INS.EQTMNF|Equipment Manufacture|POINT|A||
|298||![](./images/SFGPIG----H----.png)|![](./images-std/1.sfgpig----h----.png)|![](./images-jmsml/SFGPIG----H----.png)|SFGPIG----H----|WAR.GRDTRK.INS.GOVLDR|Government Leadership|POINT|A||
|299||![](./images/SFGPI-----H----.png)|![](./images-std/1.sfgpi-----h----.png)|![](./images-jmsml/SFGPI-----H----.png)|SFGPI-----H----|WAR.GRDTRK.INS|Installation|POINT|A||
|300||![](./images/SFGPIMA---H----.png)|![](./images-std/1.sfgpima---h----.png)|![](./images-jmsml/SFGPIMA---H----.png)|SFGPIMA---H----|WAR.GRDTRK.INS.MMF.APA|Aircraft Production & Assembly|POINT|A||
|301||![](./images/SFGPIMC---H----.png)|![](./images-std/1.sfgpimc---h----.png)|![](./images-jmsml/SFGPIMC---H----.png)|SFGPIMC---H----|WAR.GRDTRK.INS.MMF.CBWP|Chemical & Biological Warfare Production|POINT|A||
|302||![](./images/SFGPIME---H----.png)|![](./images-std/1.sfgpime---h----.png)|![](./images-jmsml/SFGPIME---H----.png)|SFGPIME---H----|WAR.GRDTRK.INS.MMF.AMEP|Ammunition And Explosives Production|POINT|A||
|303|PERHAPS|![](./images/SFGPIMFA--H----.png)|![](./images-std/1.sfgpimfa--h----.png)|![](./images-jmsml/SFGPIMFA--H----.png)|SFGPIMFA--H----|WAR.GRDTRK.INS.MMF.NENY.ATMER|Atomic Energy Reactor|POINT|A||
|304|PERHAPS|![](./images/SFGPIMF---H----.png)|![](./images-std/1.sfgpimf---h----.png)|![](./images-jmsml/SFGPIMF---H----.png)|SFGPIMF---H----|WAR.GRDTRK.INS.MMF.NENY|Nuclear Energy|POINT|A||
|305|PERHAPS|![](./images/SFGPIMFP--H----.png)|![](./images-std/1.sfgpimfp--h----.png)|![](./images-jmsml/SFGPIMFP--H----.png)|SFGPIMFP--H----|WAR.GRDTRK.INS.MMF.NENY.NMP|Nuclear Material Production|POINT|A||
|306||![](./images/SFGPIMFPW-H----.png)|![](./images-std/1.sfgpimfpw-h----.png)|![](./images-jmsml/SFGPIMFPW-H----.png)|SFGPIMFPW-H----|WAR.GRDTRK.INS.MMF.NENY.NMP.WPNGR|Weapons Grade|POINT|A||
|307|PERHAPS|![](./images/SFGPIMFS--H----.png)|![](./images-std/1.sfgpimfs--h----.png)|![](./images-jmsml/SFGPIMFS--H----.png)|SFGPIMFS--H----|WAR.GRDTRK.INS.MMF.NENY.NMS|Nuclear Material Storage|POINT|A||
|308||![](./images/SFGPIMG---H----.png)|![](./images-std/1.sfgpimg---h----.png)|![](./images-jmsml/SFGPIMG---H----.png)|SFGPIMG---H----|WAR.GRDTRK.INS.MMF.AMTP|Armament Production|POINT|A||
|309||![](./images/SFGPIMM---H----.png)|![](./images-std/1.sfgpimm---h----.png)|![](./images-jmsml/SFGPIMM---H----.png)|SFGPIMM---H----|WAR.GRDTRK.INS.MMF.MSSP|Missile & Space System Production|POINT|A||
|310||![](./images/SFGPIMNB--H----.png)|![](./images-std/1.sfgpimnb--h----.png)|![](./images-jmsml/SFGPIMNB--H----.png)|SFGPIMNB--H----|WAR.GRDTRK.INS.MMF.ENGEP.BRG|Bridge|POINT|A||
|311||![](./images/SFGPIMN---H----.png)|![](./images-std/1.sfgpimn---h----.png)|![](./images-jmsml/SFGPIMN---H----.png)|SFGPIMN---H----|WAR.GRDTRK.INS.MMF.ENGEP|Engineering Equipment Production|POINT|A||
|312||![](./images/SFGPIMS---H----.png)|![](./images-std/1.sfgpims---h----.png)|![](./images-jmsml/SFGPIMS---H----.png)|SFGPIMS---H----|WAR.GRDTRK.INS.MMF.SHPCSN|Ship Construction|POINT|A||
|313||![](./images/SFGPIMV---H----.png)|![](./images-std/1.sfgpimv---h----.png)|![](./images-jmsml/SFGPIMV---H----.png)|SFGPIMV---H----|WAR.GRDTRK.INS.MMF.MILVP|Military Vehicle Production|POINT|A||
|314||![](./images/SFGPIPD---H----.png)|![](./images-std/1.sfgpipd---h----.png)|![](./images-jmsml/SFGPIPD---H----.png)|SFGPIPD---H----|WAR.GRDTRK.INS.PF.DECON|Decontamination|POINT|A||
|315||![](./images/SFGPIP----H----.png)|![](./images-std/1.sfgpip----h----.png)|![](./images-jmsml/SFGPIP----H----.png)|SFGPIP----H----|WAR.GRDTRK.INS.PF|Processing Facility|POINT|A||
|316||![](./images/SFGPIR----H----.png)|![](./images-std/1.sfgpir----h----.png)|![](./images-jmsml/SFGPIR----H----.png)|SFGPIR----H----|WAR.GRDTRK.INS.RMP|Raw Material Production/Storage|POINT|A||
|317||![](./images/SFGPIRM---H----.png)|![](./images-std/1.sfgpirm---h----.png)|![](./images-jmsml/SFGPIRM---H----.png)|SFGPIRM---H----|WAR.GRDTRK.INS.RMP.MNE|Mine|POINT|A||
|318||![](./images/SFGPIRNB--H----.png)|![](./images-std/1.sfgpirnb--h----.png)|![](./images-jmsml/SFGPIRNB--H----.png)|SFGPIRNB--H----|WAR.GRDTRK.INS.RMP.CBRN.BIO|Biological|POINT|A||
|319||![](./images/SFGPIRNC--H----.png)|![](./images-std/1.sfgpirnc--h----.png)|![](./images-jmsml/SFGPIRNC--H----.png)|SFGPIRNC--H----|WAR.GRDTRK.INS.RMP.CBRN.CML|Chemical|POINT|A||
|320||![](./images/SFGPIRN---H----.png)|![](./images-std/1.sfgpirn---h----.png)|![](./images-jmsml/SFGPIRN---H----.png)|SFGPIRN---H----|WAR.GRDTRK.INS.RMP.CBRN|Cbrn|POINT|A||
|321||![](./images/SFGPIRNN--H----.png)|![](./images-std/1.sfgpirnn--h----.png)|![](./images-jmsml/SFGPIRNN--H----.png)|SFGPIRNN--H----|WAR.GRDTRK.INS.RMP.CBRN.NUC|Nuclear|POINT|A||
|322||![](./images/SFGPIRP---H----.png)|![](./images-std/1.sfgpirp---h----.png)|![](./images-jmsml/SFGPIRP---H----.png)|SFGPIRP---H----|WAR.GRDTRK.INS.RMP.PGO|Petroleum/Gas/Oil|POINT|A||
|323||![](./images/SFGPIT----H----.png)|![](./images-std/1.sfgpit----h----.png)|![](./images-jmsml/SFGPIT----H----.png)|SFGPIT----H----|WAR.GRDTRK.INS.TSPF|Transport Facility|POINT|A||
|324||![](./images/SFGPIUED--H----.png)|![](./images-std/1.sfgpiued--h----.png)|![](./images-jmsml/SFGPIUED--H----.png)|SFGPIUED--H----|WAR.GRDTRK.INS.SRUF.EPF.DAM|Dam|POINT|A||
|325||![](./images/SFGPIUEF--H----.png)|![](./images-std/1.sfgpiuef--h----.png)|![](./images-jmsml/SFGPIUEF--H----.png)|SFGPIUEF--H----|WAR.GRDTRK.INS.SRUF.EPF.FOSF|Fossil Fuel|POINT|A||
|326||![](./images/SFGPIUE---H----.png)|![](./images-std/1.sfgpiue---h----.png)|![](./images-jmsml/SFGPIUE---H----.png)|SFGPIUE---H----|WAR.GRDTRK.INS.SRUF.EPF|Electric Power Facility|POINT|A||
|327||![](./images/SFGPIUEN--H----.png)|![](./images-std/1.sfgpiuen--h----.png)|![](./images-jmsml/SFGPIUEN--H----.png)|SFGPIUEN--H----|WAR.GRDTRK.INS.SRUF.EPF.NPT|Nuclear Plant|POINT|A||
|328||![](./images/SFGPIU----H----.png)|![](./images-std/1.sfgpiu----h----.png)|![](./images-jmsml/SFGPIU----H----.png)|SFGPIU----H----|WAR.GRDTRK.INS.SRUF|Service Research Utility Facility|POINT|A||
|329||![](./images/SFGPIUP---H----.png)|![](./images-std/1.sfgpiup---h----.png)|![](./images-jmsml/SFGPIUP---H----.png)|SFGPIUP---H----|WAR.GRDTRK.INS.SRUF.PWS|Public Water Services|POINT|A||
|330||![](./images/SFGPIUR---H----.png)|![](./images-std/1.sfgpiur---h----.png)|![](./images-jmsml/SFGPIUR---H----.png)|SFGPIUR---H----|WAR.GRDTRK.INS.SRUF.TRF|Technological Research Facility|POINT|A||
|331||![](./images/SFGPIUT---H----.png)|![](./images-std/1.sfgpiut---h----.png)|![](./images-jmsml/SFGPIUT---H----.png)|SFGPIUT---H----|WAR.GRDTRK.INS.SRUF.TCF|Telecommunications Facility|POINT|A||
|332||![](./images/SFGPIX----H----.png)|![](./images-std/1.sfgpix----h----.png)|![](./images-jmsml/SFGPIX----H----.png)|SFGPIX----H----|WAR.GRDTRK.INS.MEDF|Medical Facility|POINT|A||
|333||![](./images/SFGPIXH---H----.png)|![](./images-std/1.sfgpixh---h----.png)|![](./images-jmsml/SFGPIXH---H----.png)|SFGPIXH---H----|WAR.GRDTRK.INS.MEDF.HSP|Hospital|POINT|A||
|334||![](./images/SFGPU----------.png)|![](./images-std/1.sfgpu----------.png)|![](./images-jmsml/SFGPU----------.png)|SFGPU----------|WAR.GRDTRK.UNT|Unit|POINT|A||
|335||![](./images/SFGPUC---------.png)|![](./images-std/1.sfgpuc---------.png)|![](./images-jmsml/SFGPUC---------.png)|SFGPUC---------|WAR.GRDTRK.UNT.CBT|Combat|POINT|A||
|336||![](./images/SFGPUCA--------.png)|![](./images-std/1.sfgpuca--------.png)|![](./images-jmsml/SFGPUCA--------.png)|SFGPUCA--------|WAR.GRDTRK.UNT.CBT.ARM|Armor|POINT|A||
|337||![](./images/SFGPUCAA-------.png)|![](./images-std/1.sfgpucaa-------.png)|![](./images-jmsml/SFGPUCAA-------.png)|SFGPUCAA-------|WAR.GRDTRK.UNT.CBT.AARM|Antiarmor|POINT|A||
|338||![](./images/SFGPUCAAA------.png)|![](./images-std/1.sfgpucaaa------.png)|![](./images-jmsml/SFGPUCAAA------.png)|SFGPUCAAA------|WAR.GRDTRK.UNT.CBT.AARM.ARMD|Antiarmor Armored|POINT|A||
|339||![](./images/SFGPUCAAAS-----.png)|![](./images-std/1.sfgpucaaas-----.png)|![](./images-jmsml/SFGPUCAAAS-----.png)|SFGPUCAAAS-----|WAR.GRDTRK.UNT.CBT.AARM.ARMD.AAST|Antiarmor Armored Air Assault|POINT|A||
|340||![](./images/SFGPUCAAAT-----.png)|![](./images-std/1.sfgpucaaat-----.png)|![](./images-jmsml/SFGPUCAAAT-----.png)|SFGPUCAAAT-----|WAR.GRDTRK.UNT.CBT.AARM.ARMD.TKD|Antiarmor Armored Tracked|POINT|A||
|341||![](./images/SFGPUCAAAW-----.png)|![](./images-std/1.sfgpucaaaw-----.png)|![](./images-jmsml/SFGPUCAAAW-----.png)|SFGPUCAAAW-----|WAR.GRDTRK.UNT.CBT.AARM.ARMD.WHD|Antiarmor Armored Wheeled|POINT|A||
|342||![](./images/SFGPUCAAC------.png)|![](./images-std/1.sfgpucaac------.png)|![](./images-jmsml/SFGPUCAAC------.png)|SFGPUCAAC------|WAR.GRDTRK.UNT.CBT.AARM.ARC|Antiarmor Arctic|POINT|A||
|343||![](./images/SFGPUCAAD------.png)|![](./images-std/1.sfgpucaad------.png)|![](./images-jmsml/SFGPUCAAD------.png)|SFGPUCAAD------|WAR.GRDTRK.UNT.CBT.AARM.DMD|Antiarmor Dismounted|POINT|A||
|344||![](./images/SFGPUCAAL------.png)|![](./images-std/1.sfgpucaal------.png)|![](./images-jmsml/SFGPUCAAL------.png)|SFGPUCAAL------|WAR.GRDTRK.UNT.CBT.AARM.LIT|Antiarmor Light|POINT|A||
|345||![](./images/SFGPUCAAM------.png)|![](./images-std/1.sfgpucaam------.png)|![](./images-jmsml/SFGPUCAAM------.png)|SFGPUCAAM------|WAR.GRDTRK.UNT.CBT.AARM.ABN|Antiarmor Airborne|POINT|A||
|346||![](./images/SFGPUCAAO------.png)|![](./images-std/1.sfgpucaao------.png)|![](./images-jmsml/SFGPUCAAO------.png)|SFGPUCAAO------|WAR.GRDTRK.UNT.CBT.AARM.MOT|Antiarmor Motorized|POINT|A||
|347||![](./images/SFGPUCAAOS-----.png)|![](./images-std/1.sfgpucaaos-----.png)|![](./images-jmsml/SFGPUCAAOS-----.png)|SFGPUCAAOS-----|WAR.GRDTRK.UNT.CBT.AARM.MOT.AAST|Antiarmor Motorized Air Assault|POINT|A||
|348||![](./images/SFGPUCAAS------.png)|![](./images-std/1.sfgpucaas------.png)|![](./images-jmsml/SFGPUCAAS------.png)|SFGPUCAAS------|WAR.GRDTRK.UNT.CBT.AARM.AAST|Antiarmor Air Assault|POINT|A||
|349||![](./images/SFGPUCAAU------.png)|![](./images-std/1.sfgpucaau------.png)|![](./images-jmsml/SFGPUCAAU------.png)|SFGPUCAAU------|WAR.GRDTRK.UNT.CBT.AARM.MNT|Antiarmor Mountain|POINT|A||
|350||![](./images/SFGPUCAT-------.png)|![](./images-std/1.sfgpucat-------.png)|![](./images-jmsml/SFGPUCAT-------.png)|SFGPUCAT-------|WAR.GRDTRK.UNT.CBT.ARM.TRK|Armor Track|POINT|A||
|351||![](./images/SFGPUCATA------.png)|![](./images-std/1.sfgpucata------.png)|![](./images-jmsml/SFGPUCATA------.png)|SFGPUCATA------|WAR.GRDTRK.UNT.CBT.ARM.TRK.ABN|Armor Track Airborne|POINT|A||
|352||![](./images/SFGPUCATH------.png)|![](./images-std/1.sfgpucath------.png)|![](./images-jmsml/SFGPUCATH------.png)|SFGPUCATH------|WAR.GRDTRK.UNT.CBT.ARM.TRK.HVY|Armor Track Heavy|POINT|A||
|353||![](./images/SFGPUCATL------.png)|![](./images-std/1.sfgpucatl------.png)|![](./images-jmsml/SFGPUCATL------.png)|SFGPUCATL------|WAR.GRDTRK.UNT.CBT.ARM.TRK.LIT|Armor Track Light|POINT|A||
|354||![](./images/SFGPUCATM------.png)|![](./images-std/1.sfgpucatm------.png)|![](./images-jmsml/SFGPUCATM------.png)|SFGPUCATM------|WAR.GRDTRK.UNT.CBT.ARM.TRK.MDM|Armor Track Medium|POINT|A||
|355||![](./images/SFGPUCATR------.png)|![](./images-std/1.sfgpucatr------.png)|![](./images-jmsml/SFGPUCATR------.png)|SFGPUCATR------|WAR.GRDTRK.UNT.CBT.ARM.TRK.RCY|Armor Track Recovery|POINT|A||
|356||![](./images/SFGPUCATW------.png)|![](./images-std/1.sfgpucatw------.png)|![](./images-jmsml/SFGPUCATW------.png)|SFGPUCATW------|WAR.GRDTRK.UNT.CBT.ARM.TRK.AMP|Armor Track Amphibious|POINT|A||
|357||![](./images/SFGPUCATWR-----.png)|![](./images-std/1.sfgpucatwr-----.png)|![](./images-jmsml/SFGPUCATWR-----.png)|SFGPUCATWR-----|WAR.GRDTRK.UNT.CBT.ARM.TRK.AMP.RCY|Armor Track Amphibious Recovery|POINT|A||
|358||![](./images/SFGPUCAW-------.png)|![](./images-std/1.sfgpucaw-------.png)|![](./images-jmsml/SFGPUCAW-------.png)|SFGPUCAW-------|WAR.GRDTRK.UNT.CBT.ARM.WHD|Armor Wheeled|POINT|A||
|359||![](./images/SFGPUCAWA------.png)|![](./images-std/1.sfgpucawa------.png)|![](./images-jmsml/SFGPUCAWA------.png)|SFGPUCAWA------|WAR.GRDTRK.UNT.CBT.ARM.WHD.ABN|Armor Wheeled Airborne|POINT|A||
|360||![](./images/SFGPUCAWH------.png)|![](./images-std/1.sfgpucawh------.png)|![](./images-jmsml/SFGPUCAWH------.png)|SFGPUCAWH------|WAR.GRDTRK.UNT.CBT.ARM.WHD.HVY|Armor Wheeled Heavy|POINT|A||
|361||![](./images/SFGPUCAWL------.png)|![](./images-std/1.sfgpucawl------.png)|![](./images-jmsml/SFGPUCAWL------.png)|SFGPUCAWL------|WAR.GRDTRK.UNT.CBT.ARM.WHD.LIT|Armor Wheeled Light|POINT|A||
|362||![](./images/SFGPUCAWM------.png)|![](./images-std/1.sfgpucawm------.png)|![](./images-jmsml/SFGPUCAWM------.png)|SFGPUCAWM------|WAR.GRDTRK.UNT.CBT.ARM.WHD.MDM|Armor Wheeled Medium|POINT|A||
|363||![](./images/SFGPUCAWR------.png)|![](./images-std/1.sfgpucawr------.png)|![](./images-jmsml/SFGPUCAWR------.png)|SFGPUCAWR------|WAR.GRDTRK.UNT.CBT.ARM.WHD.RCY|Armor Wheeled Recovery|POINT|A||
|364||![](./images/SFGPUCAWS------.png)|![](./images-std/1.sfgpucaws------.png)|![](./images-jmsml/SFGPUCAWS------.png)|SFGPUCAWS------|WAR.GRDTRK.UNT.CBT.ARM.WHD.AAST|Armor Wheeled Air Assault|POINT|A||
|365||![](./images/SFGPUCAWW------.png)|![](./images-std/1.sfgpucaww------.png)|![](./images-jmsml/SFGPUCAWW------.png)|SFGPUCAWW------|WAR.GRDTRK.UNT.CBT.ARM.WHD.AMP|Armor Wheeled Amphibious|POINT|A||
|366||![](./images/SFGPUCAWWR-----.png)|![](./images-std/1.sfgpucawwr-----.png)|![](./images-jmsml/SFGPUCAWWR-----.png)|SFGPUCAWWR-----|WAR.GRDTRK.UNT.CBT.ARM.WHD.AMP.RCY|Armor Wheeled Amphibious Recovery|POINT|A||
|367||![](./images/SFGPUCD--------.png)|![](./images-std/1.sfgpucd--------.png)|![](./images-jmsml/SFGPUCD--------.png)|SFGPUCD--------|WAR.GRDTRK.UNT.CBT.ADF|Air Defense|POINT|A||
|368||![](./images/SFGPUCDC-------.png)|![](./images-std/1.sfgpucdc-------.png)|![](./images-jmsml/SFGPUCDC-------.png)|SFGPUCDC-------|WAR.GRDTRK.UNT.CBT.ADF.CMPS|Composite|POINT|A||
|369||![](./images/SFGPUCDG-------.png)|![](./images-std/1.sfgpucdg-------.png)|![](./images-jmsml/SFGPUCDG-------.png)|SFGPUCDG-------|WAR.GRDTRK.UNT.CBT.ADF.GUNUNT|Gun Unit|POINT|A||
|370||![](./images/SFGPUCDH-------.png)|![](./images-std/1.sfgpucdh-------.png)|![](./images-jmsml/SFGPUCDH-------.png)|SFGPUCDH-------|WAR.GRDTRK.UNT.CBT.ADF.MSL.HMAD|H/Mad|POINT|A||
|371||![](./images/SFGPUCDHH------.png)|![](./images-std/1.sfgpucdhh------.png)|![](./images-jmsml/SFGPUCDHH------.png)|SFGPUCDHH------|WAR.GRDTRK.UNT.CBT.ADF.MSL.HMAD.HWK|Hawk|POINT|A||
|372||![](./images/SFGPUCDHP------.png)|![](./images-std/1.sfgpucdhp------.png)|![](./images-jmsml/SFGPUCDHP------.png)|SFGPUCDHP------|WAR.GRDTRK.UNT.CBT.ADF.MSL.HMAD.PATT|Patriot|POINT|A||
|373||![](./images/SFGPUCDM-------.png)|![](./images-std/1.sfgpucdm-------.png)|![](./images-jmsml/SFGPUCDM-------.png)|SFGPUCDM-------|WAR.GRDTRK.UNT.CBT.ADF.MSL|Air Defense Missile|POINT|A||
|374||![](./images/SFGPUCDMH------.png)|![](./images-std/1.sfgpucdmh------.png)|![](./images-jmsml/SFGPUCDMH------.png)|SFGPUCDMH------|WAR.GRDTRK.UNT.CBT.ADF.MSL.HVY|Air Defense Missile Heavy|POINT|A||
|375||![](./images/SFGPUCDML------.png)|![](./images-std/1.sfgpucdml------.png)|![](./images-jmsml/SFGPUCDML------.png)|SFGPUCDML------|WAR.GRDTRK.UNT.CBT.ADF.MSL.LIT|Air Defense Missile Light|POINT|A||
|376||![](./images/SFGPUCDMLA-----.png)|![](./images-std/1.sfgpucdmla-----.png)|![](./images-jmsml/SFGPUCDMLA-----.png)|SFGPUCDMLA-----|WAR.GRDTRK.UNT.CBT.ADF.MSL.LIT.MOT|Air Defense Missile Motorized (Avenger)|POINT|A||
|377||![](./images/SFGPUCDMM------.png)|![](./images-std/1.sfgpucdmm------.png)|![](./images-jmsml/SFGPUCDMM------.png)|SFGPUCDMM------|WAR.GRDTRK.UNT.CBT.ADF.MSL.MDM|Air Defense Missile Medium|POINT|A||
|378||![](./images/SFGPUCDO-------.png)|![](./images-std/1.sfgpucdo-------.png)|![](./images-jmsml/SFGPUCDO-------.png)|SFGPUCDO-------|WAR.GRDTRK.UNT.CBT.ADF.TMDU|Theater Missile Defense Unit|POINT|A||
|379||![](./images/SFGPUCDS-------.png)|![](./images-std/1.sfgpucds-------.png)|![](./images-jmsml/SFGPUCDS-------.png)|SFGPUCDS-------|WAR.GRDTRK.UNT.CBT.ADF.SHTR|Short Range|POINT|A||
|380||![](./images/SFGPUCDSC------.png)|![](./images-std/1.sfgpucdsc------.png)|![](./images-jmsml/SFGPUCDSC------.png)|SFGPUCDSC------|WAR.GRDTRK.UNT.CBT.ADF.SHTR.CPL|Chaparral|POINT|A||
|381||![](./images/SFGPUCDSS------.png)|![](./images-std/1.sfgpucdss------.png)|![](./images-jmsml/SFGPUCDSS------.png)|SFGPUCDSS------|WAR.GRDTRK.UNT.CBT.ADF.SHTR.STG|Stinger|POINT|A||
|382||![](./images/SFGPUCDSV------.png)|![](./images-std/1.sfgpucdsv------.png)|![](./images-jmsml/SFGPUCDSV------.png)|SFGPUCDSV------|WAR.GRDTRK.UNT.CBT.ADF.SHTR.VUL|Vulcan|POINT|A||
|383||![](./images/SFGPUCDT-------.png)|![](./images-std/1.sfgpucdt-------.png)|![](./images-jmsml/SFGPUCDT-------.png)|SFGPUCDT-------|WAR.GRDTRK.UNT.CBT.ADF.TGTGUT|Targeting Unit|POINT|A||
|384||![](./images/SFGPUCE--------.png)|![](./images-std/1.sfgpuce--------.png)|![](./images-jmsml/SFGPUCE--------.png)|SFGPUCE--------|WAR.GRDTRK.UNT.CBT.ENG|Engineer|POINT|A||
|385||![](./images/SFGPUCEC-------.png)|![](./images-std/1.sfgpucec-------.png)|![](./images-jmsml/SFGPUCEC-------.png)|SFGPUCEC-------|WAR.GRDTRK.UNT.CBT.ENG.CBT|Engineer Combat|POINT|A||
|386||![](./images/SFGPUCECA------.png)|![](./images-std/1.sfgpuceca------.png)|![](./images-jmsml/SFGPUCECA------.png)|SFGPUCECA------|WAR.GRDTRK.UNT.CBT.ENG.CBT.ABN|Engineer Combat Airborne|POINT|A||
|387||![](./images/SFGPUCECC------.png)|![](./images-std/1.sfgpucecc------.png)|![](./images-jmsml/SFGPUCECC------.png)|SFGPUCECC------|WAR.GRDTRK.UNT.CBT.ENG.CBT.ARC|Engineer Combat Arctic|POINT|A||
|388||![](./images/SFGPUCECH------.png)|![](./images-std/1.sfgpucech------.png)|![](./images-jmsml/SFGPUCECH------.png)|SFGPUCECH------|WAR.GRDTRK.UNT.CBT.ENG.CBT.HVY|Engineer Combat Heavy|POINT|A||
|389||![](./images/SFGPUCECL------.png)|![](./images-std/1.sfgpucecl------.png)|![](./images-jmsml/SFGPUCECL------.png)|SFGPUCECL------|WAR.GRDTRK.UNT.CBT.ENG.CBT.LIT|Engineer Combat Light (Sapper)|POINT|A||
|390||![](./images/SFGPUCECM------.png)|![](./images-std/1.sfgpucecm------.png)|![](./images-jmsml/SFGPUCECM------.png)|SFGPUCECM------|WAR.GRDTRK.UNT.CBT.ENG.CBT.MDM|Engineer Combat Medium|POINT|A||
|391||![](./images/SFGPUCECO------.png)|![](./images-std/1.sfgpuceco------.png)|![](./images-jmsml/SFGPUCECO------.png)|SFGPUCECO------|WAR.GRDTRK.UNT.CBT.ENG.CBT.MNT|Engineer Combat Mountain|POINT|A||
|392||![](./images/SFGPUCECR------.png)|![](./images-std/1.sfgpucecr------.png)|![](./images-jmsml/SFGPUCECR------.png)|SFGPUCECR------|WAR.GRDTRK.UNT.CBT.ENG.CBT.RECON|Engineer Combat Recon|POINT|A||
|393||![](./images/SFGPUCECS------.png)|![](./images-std/1.sfgpucecs------.png)|![](./images-jmsml/SFGPUCECS------.png)|SFGPUCECS------|WAR.GRDTRK.UNT.CBT.ENG.CBT.AAST|Engineer Combat Air Assault|POINT|A||
|394||![](./images/SFGPUCECT------.png)|![](./images-std/1.sfgpucect------.png)|![](./images-jmsml/SFGPUCECT------.png)|SFGPUCECT------|WAR.GRDTRK.UNT.CBT.ENG.CBT.MECH|Engineer Combat Mechanized (Track)|POINT|A||
|395||![](./images/SFGPUCECW------.png)|![](./images-std/1.sfgpucecw------.png)|![](./images-jmsml/SFGPUCECW------.png)|SFGPUCECW------|WAR.GRDTRK.UNT.CBT.ENG.CBT.MOT|Engineer Combat Motorized|POINT|A||
|396||![](./images/SFGPUCEN-------.png)|![](./images-std/1.sfgpucen-------.png)|![](./images-jmsml/SFGPUCEN-------.png)|SFGPUCEN-------|WAR.GRDTRK.UNT.CBT.ENG.CSN|Engineer Construction|POINT|A||
|397|PERHAPS|![](./images/SFGPUCENN------.png)|![](./images-std/1.sfgpucenn------.png)|![](./images-jmsml/SFGPUCENN------.png)|SFGPUCENN------|WAR.GRDTRK.UNT.CBT.ENG.CSN.NAV|Engineer Naval Construction|POINT|A||
|398||![](./images/SFGPUCF--------.png)|![](./images-std/1.sfgpucf--------.png)|![](./images-jmsml/SFGPUCF--------.png)|SFGPUCF--------|WAR.GRDTRK.UNT.CBT.FLDART|Field Artillery|POINT|A||
|399||![](./images/SFGPUCFH-------.png)|![](./images-std/1.sfgpucfh-------.png)|![](./images-jmsml/SFGPUCFH-------.png)|SFGPUCFH-------|WAR.GRDTRK.UNT.CBT.FLDART.HOW|Howitzer/Gun|POINT|A||
|400||![](./images/SFGPUCFHA------.png)|![](./images-std/1.sfgpucfha------.png)|![](./images-jmsml/SFGPUCFHA------.png)|SFGPUCFHA------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.ABN|Airborne|POINT|A||
|401||![](./images/SFGPUCFHC------.png)|![](./images-std/1.sfgpucfhc------.png)|![](./images-jmsml/SFGPUCFHC------.png)|SFGPUCFHC------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.ARC|Arctic|POINT|A||
|402||![](./images/SFGPUCFHE------.png)|![](./images-std/1.sfgpucfhe------.png)|![](./images-jmsml/SFGPUCFHE------.png)|SFGPUCFHE------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.SPD|Self-Propelled|POINT|A||
|403||![](./images/SFGPUCFHH------.png)|![](./images-std/1.sfgpucfhh------.png)|![](./images-jmsml/SFGPUCFHH------.png)|SFGPUCFHH------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.HVY|Heavy|POINT|A||
|404||![](./images/SFGPUCFHL------.png)|![](./images-std/1.sfgpucfhl------.png)|![](./images-jmsml/SFGPUCFHL------.png)|SFGPUCFHL------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.LIT|Light|POINT|A||
|405||![](./images/SFGPUCFHM------.png)|![](./images-std/1.sfgpucfhm------.png)|![](./images-jmsml/SFGPUCFHM------.png)|SFGPUCFHM------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.MDM|Medium|POINT|A||
|406||![](./images/SFGPUCFHO------.png)|![](./images-std/1.sfgpucfho------.png)|![](./images-jmsml/SFGPUCFHO------.png)|SFGPUCFHO------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.MNT|Mountain|POINT|A||
|407||![](./images/SFGPUCFHS------.png)|![](./images-std/1.sfgpucfhs------.png)|![](./images-jmsml/SFGPUCFHS------.png)|SFGPUCFHS------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.AAST|Air Assault|POINT|A||
|408||![](./images/SFGPUCFHX------.png)|![](./images-std/1.sfgpucfhx------.png)|![](./images-jmsml/SFGPUCFHX------.png)|SFGPUCFHX------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.AMP|Amphibious|POINT|A||
|409|PERHAPS|![](./images/SFGPUCFM-------.png)|![](./images-std/1.sfgpucfm-------.png)|![](./images-jmsml/SFGPUCFM-------.png)|SFGPUCFM-------|WAR.GRDTRK.UNT.CBT.FLDART.MORT|Mortar|POINT|A||
|410||![](./images/SFGPUCFML------.png)|![](./images-std/1.sfgpucfml------.png)|![](./images-jmsml/SFGPUCFML------.png)|SFGPUCFML------|WAR.GRDTRK.UNT.CBT.FLDART.MORT.AMP|Amphibious Mortar|POINT|A||
|411||![](./images/SFGPUCFMS------.png)|![](./images-std/1.sfgpucfms------.png)|![](./images-jmsml/SFGPUCFMS------.png)|SFGPUCFMS------|WAR.GRDTRK.UNT.CBT.FLDART.MORT.SPDTRK|Self-Propelled (Sp) Tracked Mortar|POINT|A||
|412||![](./images/SFGPUCFMT------.png)|![](./images-std/1.sfgpucfmt------.png)|![](./images-jmsml/SFGPUCFMT------.png)|SFGPUCFMT------|WAR.GRDTRK.UNT.CBT.FLDART.MORT.TOW|Towed Mortar|POINT|A||
|413||![](./images/SFGPUCFMTA-----.png)|![](./images-std/1.sfgpucfmta-----.png)|![](./images-jmsml/SFGPUCFMTA-----.png)|SFGPUCFMTA-----|WAR.GRDTRK.UNT.CBT.FLDART.MORT.TOW.ABN|Towed Airborne Mortar|POINT|A||
|414||![](./images/SFGPUCFMTC-----.png)|![](./images-std/1.sfgpucfmtc-----.png)|![](./images-jmsml/SFGPUCFMTC-----.png)|SFGPUCFMTC-----|WAR.GRDTRK.UNT.CBT.FLDART.MORT.TOW.ARC|Towed Arctic Mortar|POINT|A||
|415||![](./images/SFGPUCFMTO-----.png)|![](./images-std/1.sfgpucfmto-----.png)|![](./images-jmsml/SFGPUCFMTO-----.png)|SFGPUCFMTO-----|WAR.GRDTRK.UNT.CBT.FLDART.MORT.TOW.MNT|Towed Mountain Mortar|POINT|A||
|416||![](./images/SFGPUCFMTS-----.png)|![](./images-std/1.sfgpucfmts-----.png)|![](./images-jmsml/SFGPUCFMTS-----.png)|SFGPUCFMTS-----|WAR.GRDTRK.UNT.CBT.FLDART.MORT.TOW.AAST|Towed Air Assault Mortar|POINT|A||
|417||![](./images/SFGPUCFMW------.png)|![](./images-std/1.sfgpucfmw------.png)|![](./images-jmsml/SFGPUCFMW------.png)|SFGPUCFMW------|WAR.GRDTRK.UNT.CBT.FLDART.MORT.SPDWHD|Sp Wheeled Mortar|POINT|A||
|418||![](./images/SFGPUCFO-------.png)|![](./images-std/1.sfgpucfo-------.png)|![](./images-jmsml/SFGPUCFO-------.png)|SFGPUCFO-------|WAR.GRDTRK.UNT.CBT.FLDART.METO|Meteorological|POINT|A||
|419||![](./images/SFGPUCFOA------.png)|![](./images-std/1.sfgpucfoa------.png)|![](./images-jmsml/SFGPUCFOA------.png)|SFGPUCFOA------|WAR.GRDTRK.UNT.CBT.FLDART.METO.ABN|Airborne Meteorological|POINT|A||
|420||![](./images/SFGPUCFOL------.png)|![](./images-std/1.sfgpucfol------.png)|![](./images-jmsml/SFGPUCFOL------.png)|SFGPUCFOL------|WAR.GRDTRK.UNT.CBT.FLDART.METO.LIT|Light Meteorological|POINT|A||
|421||![](./images/SFGPUCFOO------.png)|![](./images-std/1.sfgpucfoo------.png)|![](./images-jmsml/SFGPUCFOO------.png)|SFGPUCFOO------|WAR.GRDTRK.UNT.CBT.FLDART.METO.MNT|Mountain Meteorological|POINT|A||
|422||![](./images/SFGPUCFOS------.png)|![](./images-std/1.sfgpucfos------.png)|![](./images-jmsml/SFGPUCFOS------.png)|SFGPUCFOS------|WAR.GRDTRK.UNT.CBT.FLDART.METO.AAST|Air Assault Meteorological|POINT|A||
|423||![](./images/SFGPUCFR-------.png)|![](./images-std/1.sfgpucfr-------.png)|![](./images-jmsml/SFGPUCFR-------.png)|SFGPUCFR-------|WAR.GRDTRK.UNT.CBT.FLDART.ROC|Rocket|POINT|A||
|424||![](./images/SFGPUCFRM------.png)|![](./images-std/1.sfgpucfrm------.png)|![](./images-jmsml/SFGPUCFRM------.png)|SFGPUCFRM------|WAR.GRDTRK.UNT.CBT.FLDART.ROC.MRL|Multiple Rocket Launcher|POINT|A||
|425||![](./images/SFGPUCFRMR-----.png)|![](./images-std/1.sfgpucfrmr-----.png)|![](./images-jmsml/SFGPUCFRMR-----.png)|SFGPUCFRMR-----|WAR.GRDTRK.UNT.CBT.FLDART.ROC.MRL.MRTRK|Multiple Rocket Truck|POINT|A||
|426|PERHAPS|![](./images/SFGPUCFRMS-----.png)|![](./images-std/1.sfgpucfrms-----.png)|![](./images-jmsml/SFGPUCFRMS-----.png)|SFGPUCFRMS-----|WAR.GRDTRK.UNT.CBT.FLDART.ROC.MRL.MRSPD|Multiple Rocket Self-Propelled|POINT|A||
|427||![](./images/SFGPUCFRMT-----.png)|![](./images-std/1.sfgpucfrmt-----.png)|![](./images-jmsml/SFGPUCFRMT-----.png)|SFGPUCFRMT-----|WAR.GRDTRK.UNT.CBT.FLDART.ROC.MRL.MRTOW|Multiple Rocket Towed|POINT|A||
|428||![](./images/SFGPUCFRS------.png)|![](./images-std/1.sfgpucfrs------.png)|![](./images-jmsml/SFGPUCFRS------.png)|SFGPUCFRS------|WAR.GRDTRK.UNT.CBT.FLDART.ROC.SRL|Single Rocket Launcher|POINT|A||
|429||![](./images/SFGPUCFRSR-----.png)|![](./images-std/1.sfgpucfrsr-----.png)|![](./images-jmsml/SFGPUCFRSR-----.png)|SFGPUCFRSR-----|WAR.GRDTRK.UNT.CBT.FLDART.ROC.SRL.SRTRK|Single Rocket Truck|POINT|A||
|430|PERHAPS|![](./images/SFGPUCFRSS-----.png)|![](./images-std/1.sfgpucfrss-----.png)|![](./images-jmsml/SFGPUCFRSS-----.png)|SFGPUCFRSS-----|WAR.GRDTRK.UNT.CBT.FLDART.ROC.SRL.SRSPD|Single Rocket Self-Propelled|POINT|A||
|431|PERHAPS|![](./images/SFGPUCFRST-----.png)|![](./images-std/1.sfgpucfrst-----.png)|![](./images-jmsml/SFGPUCFRST-----.png)|SFGPUCFRST-----|WAR.GRDTRK.UNT.CBT.FLDART.ROC.SRL.SRTOW|Single Rocket Towed|POINT|A||
|432||![](./images/SFGPUCFS-------.png)|![](./images-std/1.sfgpucfs-------.png)|![](./images-jmsml/SFGPUCFS-------.png)|SFGPUCFS-------|WAR.GRDTRK.UNT.CBT.FLDART.ARTSVY|Artillery Survey|POINT|A||
|433||![](./images/SFGPUCFSA------.png)|![](./images-std/1.sfgpucfsa------.png)|![](./images-jmsml/SFGPUCFSA------.png)|SFGPUCFSA------|WAR.GRDTRK.UNT.CBT.FLDART.ARTSVY.ABN|Airborne|POINT|A||
|434||![](./images/SFGPUCFSL------.png)|![](./images-std/1.sfgpucfsl------.png)|![](./images-jmsml/SFGPUCFSL------.png)|SFGPUCFSL------|WAR.GRDTRK.UNT.CBT.FLDART.ARTSVY.LIT|Light|POINT|A||
|435||![](./images/SFGPUCFSO------.png)|![](./images-std/1.sfgpucfso------.png)|![](./images-jmsml/SFGPUCFSO------.png)|SFGPUCFSO------|WAR.GRDTRK.UNT.CBT.FLDART.ARTSVY.MNT|Mountain|POINT|A||
|436||![](./images/SFGPUCFSS------.png)|![](./images-std/1.sfgpucfss------.png)|![](./images-jmsml/SFGPUCFSS------.png)|SFGPUCFSS------|WAR.GRDTRK.UNT.CBT.FLDART.ARTSVY.AAST|Air Assault|POINT|A||
|437||![](./images/SFGPUCFT-------.png)|![](./images-std/1.sfgpucft-------.png)|![](./images-jmsml/SFGPUCFT-------.png)|SFGPUCFT-------|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ|Target Acquisition|POINT|A||
|438||![](./images/SFGPUCFTA------.png)|![](./images-std/1.sfgpucfta------.png)|![](./images-jmsml/SFGPUCFTA------.png)|SFGPUCFTA------|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ.ANG|Anglico|POINT|A||
|439||![](./images/SFGPUCFTC------.png)|![](./images-std/1.sfgpucftc------.png)|![](./images-jmsml/SFGPUCFTC------.png)|SFGPUCFTC------|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ.CLT|Colt/Fist|POINT|A||
|440||![](./images/SFGPUCFTCD-----.png)|![](./images-std/1.sfgpucftcd-----.png)|![](./images-jmsml/SFGPUCFTCD-----.png)|SFGPUCFTCD-----|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ.CLT.DMD|Dismounted Colt/Fist|POINT|A||
|441||![](./images/SFGPUCFTCM-----.png)|![](./images-std/1.sfgpucftcm-----.png)|![](./images-jmsml/SFGPUCFTCM-----.png)|SFGPUCFTCM-----|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ.CLT.TKD|Tracked Colt/Fist|POINT|A||
|442||![](./images/SFGPUCFTF------.png)|![](./images-std/1.sfgpucftf------.png)|![](./images-jmsml/SFGPUCFTF------.png)|SFGPUCFTF------|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ.FLH|Flash (Optical)|POINT|A||
|443||![](./images/SFGPUCFTR------.png)|![](./images-std/1.sfgpucftr------.png)|![](./images-jmsml/SFGPUCFTR------.png)|SFGPUCFTR------|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ.RAD|Radar|POINT|A||
|444||![](./images/SFGPUCFTS------.png)|![](./images-std/1.sfgpucfts------.png)|![](./images-jmsml/SFGPUCFTS------.png)|SFGPUCFTS------|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ.SND|Sound|POINT|A||
|445||![](./images/SFGPUCI--------.png)|![](./images-std/1.sfgpuci--------.png)|![](./images-jmsml/SFGPUCI--------.png)|SFGPUCI--------|WAR.GRDTRK.UNT.CBT.INF|Infantry|POINT|A||
|446||![](./images/SFGPUCIA-------.png)|![](./images-std/1.sfgpucia-------.png)|![](./images-jmsml/SFGPUCIA-------.png)|SFGPUCIA-------|WAR.GRDTRK.UNT.CBT.INF.ABN|Infantry Airborne|POINT|A||
|447||![](./images/SFGPUCIC-------.png)|![](./images-std/1.sfgpucic-------.png)|![](./images-jmsml/SFGPUCIC-------.png)|SFGPUCIC-------|WAR.GRDTRK.UNT.CBT.INF.ARC|Infantry Arctic|POINT|A||
|448||![](./images/SFGPUCII-------.png)|![](./images-std/1.sfgpucii-------.png)|![](./images-jmsml/SFGPUCII-------.png)|SFGPUCII-------|WAR.GRDTRK.UNT.CBT.INF.INFFV|Infantry Fighting Vehicle|POINT|A||
|449||![](./images/SFGPUCIL-------.png)|![](./images-std/1.sfgpucil-------.png)|![](./images-jmsml/SFGPUCIL-------.png)|SFGPUCIL-------|WAR.GRDTRK.UNT.CBT.INF.LIT|Infantry Light|POINT|A||
|450||![](./images/SFGPUCIM-------.png)|![](./images-std/1.sfgpucim-------.png)|![](./images-jmsml/SFGPUCIM-------.png)|SFGPUCIM-------|WAR.GRDTRK.UNT.CBT.INF.MOT|Infantry Motorized|POINT|A||
|451||![](./images/SFGPUCIN-------.png)|![](./images-std/1.sfgpucin-------.png)|![](./images-jmsml/SFGPUCIN-------.png)|SFGPUCIN-------|WAR.GRDTRK.UNT.CBT.INF.NAV|Infantry Naval|POINT|A||
|452||![](./images/SFGPUCIO-------.png)|![](./images-std/1.sfgpucio-------.png)|![](./images-jmsml/SFGPUCIO-------.png)|SFGPUCIO-------|WAR.GRDTRK.UNT.CBT.INF.MNT|Infantry Mountain|POINT|A||
|453||![](./images/SFGPUCIS-------.png)|![](./images-std/1.sfgpucis-------.png)|![](./images-jmsml/SFGPUCIS-------.png)|SFGPUCIS-------|WAR.GRDTRK.UNT.CBT.INF.AAST|Infantry Air Assault|POINT|A||
|454||![](./images/SFGPUCIZ-------.png)|![](./images-std/1.sfgpuciz-------.png)|![](./images-jmsml/SFGPUCIZ-------.png)|SFGPUCIZ-------|WAR.GRDTRK.UNT.CBT.INF.MECH|Infantry Mechanized|POINT|A||
|455||![](./images/SFGPUCM--------.png)|![](./images-std/1.sfgpucm--------.png)|![](./images-jmsml/SFGPUCM--------.png)|SFGPUCM--------|WAR.GRDTRK.UNT.CBT.MSL|Missile (Surf-Surf)|POINT|A||
|456||![](./images/SFGPUCMS-------.png)|![](./images-std/1.sfgpucms-------.png)|![](./images-jmsml/SFGPUCMS-------.png)|SFGPUCMS-------|WAR.GRDTRK.UNT.CBT.MSL.STGC|Missile (Surf-Surf) Strategic|POINT|A||
|457||![](./images/SFGPUCMT-------.png)|![](./images-std/1.sfgpucmt-------.png)|![](./images-jmsml/SFGPUCMT-------.png)|SFGPUCMT-------|WAR.GRDTRK.UNT.CBT.MSL.TAC|Missile (Surf-Surf) Tactical|POINT|A||
|458||![](./images/SFGPUCR--------.png)|![](./images-std/1.sfgpucr--------.png)|![](./images-jmsml/SFGPUCR--------.png)|SFGPUCR--------|WAR.GRDTRK.UNT.CBT.RECON|Reconnaissance|POINT|A||
|459||![](./images/SFGPUCRA-------.png)|![](./images-std/1.sfgpucra-------.png)|![](./images-jmsml/SFGPUCRA-------.png)|SFGPUCRA-------|WAR.GRDTRK.UNT.CBT.RECON.ABN|Reconnaissance Airborne|POINT|A||
|460||![](./images/SFGPUCRC-------.png)|![](./images-std/1.sfgpucrc-------.png)|![](./images-jmsml/SFGPUCRC-------.png)|SFGPUCRC-------|WAR.GRDTRK.UNT.CBT.RECON.ARC|Reconnaissance Arctic|POINT|A||
|461||![](./images/SFGPUCRH-------.png)|![](./images-std/1.sfgpucrh-------.png)|![](./images-jmsml/SFGPUCRH-------.png)|SFGPUCRH-------|WAR.GRDTRK.UNT.CBT.RECON.HRE|Reconnaissance Horse|POINT|A||
|462||![](./images/SFGPUCRL-------.png)|![](./images-std/1.sfgpucrl-------.png)|![](./images-jmsml/SFGPUCRL-------.png)|SFGPUCRL-------|WAR.GRDTRK.UNT.CBT.RECON.LIT|Reconnaissance Light|POINT|A||
|463||![](./images/SFGPUCRO-------.png)|![](./images-std/1.sfgpucro-------.png)|![](./images-jmsml/SFGPUCRO-------.png)|SFGPUCRO-------|WAR.GRDTRK.UNT.CBT.RECON.MNT|Reconnaissance Mountain|POINT|A||
|464||![](./images/SFGPUCRR-------.png)|![](./images-std/1.sfgpucrr-------.png)|![](./images-jmsml/SFGPUCRR-------.png)|SFGPUCRR-------|WAR.GRDTRK.UNT.CBT.RECON.MAR|Reconnaissance Marine|POINT|A||
|465||![](./images/SFGPUCRRD------.png)|![](./images-std/1.sfgpucrrd------.png)|![](./images-jmsml/SFGPUCRRD------.png)|SFGPUCRRD------|WAR.GRDTRK.UNT.CBT.RECON.MAR.DIV|Reconnaissance Marine Division|POINT|A||
|466||![](./images/SFGPUCRRF------.png)|![](./images-std/1.sfgpucrrf------.png)|![](./images-jmsml/SFGPUCRRF------.png)|SFGPUCRRF------|WAR.GRDTRK.UNT.CBT.RECON.MAR.FOR|Reconnaissance Marine Force|POINT|A||
|467||![](./images/SFGPUCRRL------.png)|![](./images-std/1.sfgpucrrl------.png)|![](./images-jmsml/SFGPUCRRL------.png)|SFGPUCRRL------|WAR.GRDTRK.UNT.CBT.RECON.MAR.LAR|Reconnaissance Marine Light Armored Reconnaissnace (Lar)|POINT|A||
|468||![](./images/SFGPUCRS-------.png)|![](./images-std/1.sfgpucrs-------.png)|![](./images-jmsml/SFGPUCRS-------.png)|SFGPUCRS-------|WAR.GRDTRK.UNT.CBT.RECON.AAST|Reconnaissance Air Assault|POINT|A||
|469||![](./images/SFGPUCRV-------.png)|![](./images-std/1.sfgpucrv-------.png)|![](./images-jmsml/SFGPUCRV-------.png)|SFGPUCRV-------|WAR.GRDTRK.UNT.CBT.RECON.CVY|Reconnaissance Cavalry|POINT|A||
|470||![](./images/SFGPUCRVA------.png)|![](./images-std/1.sfgpucrva------.png)|![](./images-jmsml/SFGPUCRVA------.png)|SFGPUCRVA------|WAR.GRDTRK.UNT.CBT.RECON.CVY.ARMD|Reconnaissance Cavalry Armored|POINT|A||
|471||![](./images/SFGPUCRVG------.png)|![](./images-std/1.sfgpucrvg------.png)|![](./images-jmsml/SFGPUCRVG------.png)|SFGPUCRVG------|WAR.GRDTRK.UNT.CBT.RECON.CVY.GRD|Reconnaissance Cavalry Ground|POINT|A||
|472||![](./images/SFGPUCRVM------.png)|![](./images-std/1.sfgpucrvm------.png)|![](./images-jmsml/SFGPUCRVM------.png)|SFGPUCRVM------|WAR.GRDTRK.UNT.CBT.RECON.CVY.MOT|Reconnaissance Cavalry Motorized|POINT|A||
|473||![](./images/SFGPUCRVO------.png)|![](./images-std/1.sfgpucrvo------.png)|![](./images-jmsml/SFGPUCRVO------.png)|SFGPUCRVO------|WAR.GRDTRK.UNT.CBT.RECON.CVY.AIR|Reconnaissance Cavalry Air|POINT|A||
|474||![](./images/SFGPUCRX-------.png)|![](./images-std/1.sfgpucrx-------.png)|![](./images-jmsml/SFGPUCRX-------.png)|SFGPUCRX-------|WAR.GRDTRK.UNT.CBT.RECON.LRS|Reconnaissance Long Range Surveillance (Lrs)|POINT|A||
|475||![](./images/SFGPUCS--------.png)|![](./images-std/1.sfgpucs--------.png)|![](./images-jmsml/SFGPUCS--------.png)|SFGPUCS--------|WAR.GRDTRK.UNT.CBT.ISF|Internal Security Forces|POINT|A||
|476||![](./images/SFGPUCSA-------.png)|![](./images-std/1.sfgpucsa-------.png)|![](./images-jmsml/SFGPUCSA-------.png)|SFGPUCSA-------|WAR.GRDTRK.UNT.CBT.ISF.AVN|Aviation|POINT|A||
|477||![](./images/SFGPUCSG-------.png)|![](./images-std/1.sfgpucsg-------.png)|![](./images-jmsml/SFGPUCSG-------.png)|SFGPUCSG-------|WAR.GRDTRK.UNT.CBT.ISF.GRD|Ground|POINT|A||
|478||![](./images/SFGPUCSGA------.png)|![](./images-std/1.sfgpucsga------.png)|![](./images-jmsml/SFGPUCSGA------.png)|SFGPUCSGA------|WAR.GRDTRK.UNT.CBT.ISF.GRD.MECH|Mechanized Ground|POINT|A||
|479||![](./images/SFGPUCSGD------.png)|![](./images-std/1.sfgpucsgd------.png)|![](./images-jmsml/SFGPUCSGD------.png)|SFGPUCSGD------|WAR.GRDTRK.UNT.CBT.ISF.GRD.DMD|Dismounted Ground|POINT|A||
|480||![](./images/SFGPUCSGM------.png)|![](./images-std/1.sfgpucsgm------.png)|![](./images-jmsml/SFGPUCSGM------.png)|SFGPUCSGM------|WAR.GRDTRK.UNT.CBT.ISF.GRD.MOT|Motorized Ground|POINT|A||
|481||![](./images/SFGPUCSM-------.png)|![](./images-std/1.sfgpucsm-------.png)|![](./images-jmsml/SFGPUCSM-------.png)|SFGPUCSM-------|WAR.GRDTRK.UNT.CBT.ISF.WHMECH|Wheeled Mechanized|POINT|A||
|482||![](./images/SFGPUCSR-------.png)|![](./images-std/1.sfgpucsr-------.png)|![](./images-jmsml/SFGPUCSR-------.png)|SFGPUCSR-------|WAR.GRDTRK.UNT.CBT.ISF.RALRD|Railroad|POINT|A||
|483||![](./images/SFGPUCSW-------.png)|![](./images-std/1.sfgpucsw-------.png)|![](./images-jmsml/SFGPUCSW-------.png)|SFGPUCSW-------|WAR.GRDTRK.UNT.CBT.ISF.RIV|Riverine|POINT|A||
|484||![](./images/SFGPUCV--------.png)|![](./images-std/1.sfgpucv--------.png)|![](./images-jmsml/SFGPUCV--------.png)|SFGPUCV--------|WAR.GRDTRK.UNT.CBT.AVN|Aviation|POINT|A||
|485||![](./images/SFGPUCVC-------.png)|![](./images-std/1.sfgpucvc-------.png)|![](./images-jmsml/SFGPUCVC-------.png)|SFGPUCVC-------|WAR.GRDTRK.UNT.CBT.AVN.CMPS|Composite|POINT|A||
|486||![](./images/SFGPUCVF-------.png)|![](./images-std/1.sfgpucvf-------.png)|![](./images-jmsml/SFGPUCVF-------.png)|SFGPUCVF-------|WAR.GRDTRK.UNT.CBT.AVN.FIXD|Fixed Wing|POINT|A||
|487||![](./images/SFGPUCVFA------.png)|![](./images-std/1.sfgpucvfa------.png)|![](./images-jmsml/SFGPUCVFA------.png)|SFGPUCVFA------|WAR.GRDTRK.UNT.CBT.AVN.FIXD.ATK|Attack Fixed Wing|POINT|A||
|488||![](./images/SFGPUCVFR------.png)|![](./images-std/1.sfgpucvfr------.png)|![](./images-jmsml/SFGPUCVFR------.png)|SFGPUCVFR------|WAR.GRDTRK.UNT.CBT.AVN.FIXD.RECON|Recon Fixed Wing|POINT|A||
|489||![](./images/SFGPUCVFU------.png)|![](./images-std/1.sfgpucvfu------.png)|![](./images-jmsml/SFGPUCVFU------.png)|SFGPUCVFU------|WAR.GRDTRK.UNT.CBT.AVN.FIXD.UTY|Utility Fixed Wing|POINT|A||
|490||![](./images/SFGPUCVR-------.png)|![](./images-std/1.sfgpucvr-------.png)|![](./images-jmsml/SFGPUCVR-------.png)|SFGPUCVR-------|WAR.GRDTRK.UNT.CBT.AVN.ROT|Rotary Wing|POINT|A||
|491||![](./images/SFGPUCVRA------.png)|![](./images-std/1.sfgpucvra------.png)|![](./images-jmsml/SFGPUCVRA------.png)|SFGPUCVRA------|WAR.GRDTRK.UNT.CBT.AVN.ROT.ATK|Attack Rotary Wing|POINT|A||
|492||![](./images/SFGPUCVRM------.png)|![](./images-std/1.sfgpucvrm------.png)|![](./images-jmsml/SFGPUCVRM------.png)|SFGPUCVRM------|WAR.GRDTRK.UNT.CBT.AVN.ROT.MNECM|Mine Countermeasure Rotary Wing|POINT|A||
|493||![](./images/SFGPUCVRS------.png)|![](./images-std/1.sfgpucvrs------.png)|![](./images-jmsml/SFGPUCVRS------.png)|SFGPUCVRS------|WAR.GRDTRK.UNT.CBT.AVN.ROT.SCUT|Scout Rotary Wing|POINT|A||
|494||![](./images/SFGPUCVRU------.png)|![](./images-std/1.sfgpucvru------.png)|![](./images-jmsml/SFGPUCVRU------.png)|SFGPUCVRU------|WAR.GRDTRK.UNT.CBT.AVN.ROT.UTY|Utility Rotary Wing|POINT|A||
|495||![](./images/SFGPUCVRUC-----.png)|![](./images-std/1.sfgpucvruc-----.png)|![](./images-jmsml/SFGPUCVRUC-----.png)|SFGPUCVRUC-----|WAR.GRDTRK.UNT.CBT.AVN.ROT.C2|C2 Rotary Wing|POINT|A||
|496||![](./images/SFGPUCVRUE-----.png)|![](./images-std/1.sfgpucvrue-----.png)|![](./images-jmsml/SFGPUCVRUE-----.png)|SFGPUCVRUE-----|WAR.GRDTRK.UNT.CBT.AVN.ROT.MEDV|Medevac Rotary Wing|POINT|A||
|497||![](./images/SFGPUCVRUH-----.png)|![](./images-std/1.sfgpucvruh-----.png)|![](./images-jmsml/SFGPUCVRUH-----.png)|SFGPUCVRUH-----|WAR.GRDTRK.UNT.CBT.AVN.ROT.UTY.HVY|Heavy Utility Rotary Win|POINT|A||
|498||![](./images/SFGPUCVRUL-----.png)|![](./images-std/1.sfgpucvrul-----.png)|![](./images-jmsml/SFGPUCVRUL-----.png)|SFGPUCVRUL-----|WAR.GRDTRK.UNT.CBT.AVN.ROT.UTY.LIT|Light Utility Rotary Wing|POINT|A||
|499||![](./images/SFGPUCVRUM-----.png)|![](./images-std/1.sfgpucvrum-----.png)|![](./images-jmsml/SFGPUCVRUM-----.png)|SFGPUCVRUM-----|WAR.GRDTRK.UNT.CBT.AVN.ROT.UTY.MDM|Medium Utility Rotary Wing|POINT|A||
|500||![](./images/SFGPUCVRW------.png)|![](./images-std/1.sfgpucvrw------.png)|![](./images-jmsml/SFGPUCVRW------.png)|SFGPUCVRW------|WAR.GRDTRK.UNT.CBT.AVN.ROT.ASBW|Antisubmarine Warfare Rotary Wing|POINT|A||
|501||![](./images/SFGPUCVS-------.png)|![](./images-std/1.sfgpucvs-------.png)|![](./images-jmsml/SFGPUCVS-------.png)|SFGPUCVS-------|WAR.GRDTRK.UNT.CBT.AVN.SAR|Search And Rescue|POINT|A||
|502||![](./images/SFGPUCVU-------.png)|![](./images-std/1.sfgpucvu-------.png)|![](./images-jmsml/SFGPUCVU-------.png)|SFGPUCVU-------|WAR.GRDTRK.UNT.CBT.AVN.UA|Unmanned Aircraft|POINT|A||
|503||![](./images/SFGPUCVUF------.png)|![](./images-std/1.sfgpucvuf------.png)|![](./images-jmsml/SFGPUCVUF------.png)|SFGPUCVUF------|WAR.GRDTRK.UNT.CBT.AVN.UA.FIXD|Unmanned Aircraft Fixed Wing|POINT|A||
|504||![](./images/SFGPUCVUR------.png)|![](./images-std/1.sfgpucvur------.png)|![](./images-jmsml/SFGPUCVUR------.png)|SFGPUCVUR------|WAR.GRDTRK.UNT.CBT.AVN.UA.ROT|Unmanned Aircraft Rotary Wing|POINT|A||
|505||![](./images/SFGPUCVV-------.png)|![](./images-std/1.sfgpucvv-------.png)|![](./images-jmsml/SFGPUCVV-------.png)|SFGPUCVV-------|WAR.GRDTRK.UNT.CBT.AVN.VSTOL|Vertical And/Or Short Takeoff And Landing Aircraft (V/Stol)|POINT|A||
|506||![](./images/SFGPUH---------.png)|![](./images-std/1.sfgpuh---------.png)|![](./images-jmsml/SFGPUH---------.png)|SFGPUH---------|WAR.GRDTRK.UNT.C2HQ|Special C2 Headquarters Component|POINT|A||
|507||![](./images/SFGPUS---------.png)|![](./images-std/1.sfgpus---------.png)|![](./images-jmsml/SFGPUS---------.png)|SFGPUS---------|WAR.GRDTRK.UNT.CSS|Combat Service Support|POINT|A||
|508||![](./images/SFGPUSA--------.png)|![](./images-std/1.sfgpusa--------.png)|![](./images-jmsml/SFGPUSA--------.png)|SFGPUSA--------|WAR.GRDTRK.UNT.CSS.ADMIN|Administrative (Admin)|POINT|A||
|509||![](./images/SFGPUSAC-------.png)|![](./images-std/1.sfgpusac-------.png)|![](./images-jmsml/SFGPUSAC-------.png)|SFGPUSAC-------|WAR.GRDTRK.UNT.CSS.ADMIN.CRP|Admin Corps|POINT|A||
|510||![](./images/SFGPUSAF-------.png)|![](./images-std/1.sfgpusaf-------.png)|![](./images-jmsml/SFGPUSAF-------.png)|SFGPUSAF-------|WAR.GRDTRK.UNT.CSS.ADMIN.FIN|Finance|POINT|A||
|511||![](./images/SFGPUSAFC------.png)|![](./images-std/1.sfgpusafc------.png)|![](./images-jmsml/SFGPUSAFC------.png)|SFGPUSAFC------|WAR.GRDTRK.UNT.CSS.ADMIN.FIN.CRP|Finance Corps|POINT|A||
|512||![](./images/SFGPUSAFT------.png)|![](./images-std/1.sfgpusaft------.png)|![](./images-jmsml/SFGPUSAFT------.png)|SFGPUSAFT------|WAR.GRDTRK.UNT.CSS.ADMIN.FIN.THT|Finance Theater|POINT|A||
|513||![](./images/SFGPUSAJ-------.png)|![](./images-std/1.sfgpusaj-------.png)|![](./images-jmsml/SFGPUSAJ-------.png)|SFGPUSAJ-------|WAR.GRDTRK.UNT.CSS.ADMIN.JAG|Judge Advocate General (Jag)|POINT|A||
|514||![](./images/SFGPUSAJC------.png)|![](./images-std/1.sfgpusajc------.png)|![](./images-jmsml/SFGPUSAJC------.png)|SFGPUSAJC------|WAR.GRDTRK.UNT.CSS.ADMIN.JAG.CRP|Jag Corps|POINT|A||
|515||![](./images/SFGPUSAJT------.png)|![](./images-std/1.sfgpusajt------.png)|![](./images-jmsml/SFGPUSAJT------.png)|SFGPUSAJT------|WAR.GRDTRK.UNT.CSS.ADMIN.JAG.THT|Jag Theater|POINT|A||
|516|PERHAPS|![](./images/SFGPUSAL-------.png)|![](./images-std/1.sfgpusal-------.png)|![](./images-jmsml/SFGPUSAL-------.png)|SFGPUSAL-------|WAR.GRDTRK.UNT.CSS.ADMIN.LBR|Labor|POINT|A||
|517|PERHAPS|![](./images/SFGPUSALC------.png)|![](./images-std/1.sfgpusalc------.png)|![](./images-jmsml/SFGPUSALC------.png)|SFGPUSALC------|WAR.GRDTRK.UNT.CSS.ADMIN.LBR.CRP|Labor Corps|POINT|A||
|518|PERHAPS|![](./images/SFGPUSALT------.png)|![](./images-std/1.sfgpusalt------.png)|![](./images-jmsml/SFGPUSALT------.png)|SFGPUSALT------|WAR.GRDTRK.UNT.CSS.ADMIN.LBR.THT|Labor Theater|POINT|A||
|519|PERHAPS|![](./images/SFGPUSAM-------.png)|![](./images-std/1.sfgpusam-------.png)|![](./images-jmsml/SFGPUSAM-------.png)|SFGPUSAM-------|WAR.GRDTRK.UNT.CSS.ADMIN.MTRY|Mortuary/Graves Registry|POINT|A||
|520|PERHAPS|![](./images/SFGPUSAMC------.png)|![](./images-std/1.sfgpusamc------.png)|![](./images-jmsml/SFGPUSAMC------.png)|SFGPUSAMC------|WAR.GRDTRK.UNT.CSS.ADMIN.MTRY.CRP|Mortuary/Graves Registry Corps|POINT|A||
|521|PERHAPS|![](./images/SFGPUSAMT------.png)|![](./images-std/1.sfgpusamt------.png)|![](./images-jmsml/SFGPUSAMT------.png)|SFGPUSAMT------|WAR.GRDTRK.UNT.CSS.ADMIN.MTRY.THT|Mortuary/Graves Registry Theater|POINT|A||
|522|PERHAPS|![](./images/SFGPUSAO-------.png)|![](./images-std/1.sfgpusao-------.png)|![](./images-jmsml/SFGPUSAO-------.png)|SFGPUSAO-------|WAR.GRDTRK.UNT.CSS.ADMIN.PST|Postal|POINT|A||
|523|PERHAPS|![](./images/SFGPUSAOC------.png)|![](./images-std/1.sfgpusaoc------.png)|![](./images-jmsml/SFGPUSAOC------.png)|SFGPUSAOC------|WAR.GRDTRK.UNT.CSS.ADMIN.PST.CRP|Postal Corps|POINT|A||
|524|PERHAPS|![](./images/SFGPUSAOT------.png)|![](./images-std/1.sfgpusaot------.png)|![](./images-jmsml/SFGPUSAOT------.png)|SFGPUSAOT------|WAR.GRDTRK.UNT.CSS.ADMIN.PST.THT|Postal Theater|POINT|A||
|525||![](./images/SFGPUSAP-------.png)|![](./images-std/1.sfgpusap-------.png)|![](./images-jmsml/SFGPUSAP-------.png)|SFGPUSAP-------|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF|Public Affairs|POINT|A||
|526||![](./images/SFGPUSAPB------.png)|![](./images-std/1.sfgpusapb------.png)|![](./images-jmsml/SFGPUSAPB------.png)|SFGPUSAPB------|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.BRCT|Public Affairs Broadcast|POINT|A||
|527||![](./images/SFGPUSAPBC-----.png)|![](./images-std/1.sfgpusapbc-----.png)|![](./images-jmsml/SFGPUSAPBC-----.png)|SFGPUSAPBC-----|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.BRCT.CRP|Public Affairs Broadcast Corps|POINT|A||
|528||![](./images/SFGPUSAPBT-----.png)|![](./images-std/1.sfgpusapbt-----.png)|![](./images-jmsml/SFGPUSAPBT-----.png)|SFGPUSAPBT-----|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.BRCT.THT|Public Affairs Broadcast Theater|POINT|A||
|529||![](./images/SFGPUSAPC------.png)|![](./images-std/1.sfgpusapc------.png)|![](./images-jmsml/SFGPUSAPC------.png)|SFGPUSAPC------|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.CRP|Public Affairs Corps|POINT|A||
|530||![](./images/SFGPUSAPM------.png)|![](./images-std/1.sfgpusapm------.png)|![](./images-jmsml/SFGPUSAPM------.png)|SFGPUSAPM------|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.JIB|Public Affairs Joint Information Bureau (Jib)|POINT|A||
|531||![](./images/SFGPUSAPMC-----.png)|![](./images-std/1.sfgpusapmc-----.png)|![](./images-jmsml/SFGPUSAPMC-----.png)|SFGPUSAPMC-----|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.JIB.CRP|Public Affairs Jib Corps|POINT|A||
|532||![](./images/SFGPUSAPMT-----.png)|![](./images-std/1.sfgpusapmt-----.png)|![](./images-jmsml/SFGPUSAPMT-----.png)|SFGPUSAPMT-----|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.JIB.THT|Public Affairs Jib Theater|POINT|A||
|533||![](./images/SFGPUSAPT------.png)|![](./images-std/1.sfgpusapt------.png)|![](./images-jmsml/SFGPUSAPT------.png)|SFGPUSAPT------|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.THT|Public Affairs Theater|POINT|A||
|534||![](./images/SFGPUSAQ-------.png)|![](./images-std/1.sfgpusaq-------.png)|![](./images-jmsml/SFGPUSAQ-------.png)|SFGPUSAQ-------|WAR.GRDTRK.UNT.CSS.ADMIN.SUPPLY|Quartermaster (Supply)|POINT|A||
|535||![](./images/SFGPUSAQC------.png)|![](./images-std/1.sfgpusaqc------.png)|![](./images-jmsml/SFGPUSAQC------.png)|SFGPUSAQC------|WAR.GRDTRK.UNT.CSS.ADMIN.SUPPLY.CRP|Quartermaster (Supply) Corps|POINT|A||
|536||![](./images/SFGPUSAQT------.png)|![](./images-std/1.sfgpusaqt------.png)|![](./images-jmsml/SFGPUSAQT------.png)|SFGPUSAQT------|WAR.GRDTRK.UNT.CSS.ADMIN.SUPPLY.THT|Quartermaster (Supply) Theater|POINT|A||
|537||![](./images/SFGPUSAR-------.png)|![](./images-std/1.sfgpusar-------.png)|![](./images-jmsml/SFGPUSAR-------.png)|SFGPUSAR-------|WAR.GRDTRK.UNT.CSS.ADMIN.RELG|Religious/Chaplain|POINT|A||
|538||![](./images/SFGPUSARC------.png)|![](./images-std/1.sfgpusarc------.png)|![](./images-jmsml/SFGPUSARC------.png)|SFGPUSARC------|WAR.GRDTRK.UNT.CSS.ADMIN.RELG.CRP|Religious/Chaplain Corps|POINT|A||
|539||![](./images/SFGPUSART------.png)|![](./images-std/1.sfgpusart------.png)|![](./images-jmsml/SFGPUSART------.png)|SFGPUSART------|WAR.GRDTRK.UNT.CSS.ADMIN.RELG.THT|Religious/Chaplain Theater|POINT|A||
|540||![](./images/SFGPUSAS-------.png)|![](./images-std/1.sfgpusas-------.png)|![](./images-jmsml/SFGPUSAS-------.png)|SFGPUSAS-------|WAR.GRDTRK.UNT.CSS.ADMIN.PERSVC|Personnel Services|POINT|A||
|541||![](./images/SFGPUSASC------.png)|![](./images-std/1.sfgpusasc------.png)|![](./images-jmsml/SFGPUSASC------.png)|SFGPUSASC------|WAR.GRDTRK.UNT.CSS.ADMIN.PERSVC.CRP|Personnel Corps|POINT|A||
|542||![](./images/SFGPUSAST------.png)|![](./images-std/1.sfgpusast------.png)|![](./images-jmsml/SFGPUSAST------.png)|SFGPUSAST------|WAR.GRDTRK.UNT.CSS.ADMIN.PERSVC.THT|Personnel Theater|POINT|A||
|543||![](./images/SFGPUSAT-------.png)|![](./images-std/1.sfgpusat-------.png)|![](./images-jmsml/SFGPUSAT-------.png)|SFGPUSAT-------|WAR.GRDTRK.UNT.CSS.ADMIN.THT|Admin Theater|POINT|A||
|544||![](./images/SFGPUSAW-------.png)|![](./images-std/1.sfgpusaw-------.png)|![](./images-jmsml/SFGPUSAW-------.png)|SFGPUSAW-------|WAR.GRDTRK.UNT.CSS.ADMIN.MWR|Morale Welfare Recreation (Mwr)|POINT|A||
|545||![](./images/SFGPUSAWC------.png)|![](./images-std/1.sfgpusawc------.png)|![](./images-jmsml/SFGPUSAWC------.png)|SFGPUSAWC------|WAR.GRDTRK.UNT.CSS.ADMIN.MWR.CRP|Mwr Corps|POINT|A||
|546||![](./images/SFGPUSAWT------.png)|![](./images-std/1.sfgpusawt------.png)|![](./images-jmsml/SFGPUSAWT------.png)|SFGPUSAWT------|WAR.GRDTRK.UNT.CSS.ADMIN.MWR.THT|Mwr Theater|POINT|A||
|547||![](./images/SFGPUSAX-------.png)|![](./images-std/1.sfgpusax-------.png)|![](./images-jmsml/SFGPUSAX-------.png)|SFGPUSAX-------|WAR.GRDTRK.UNT.CSS.ADMIN.RHU|Replacement Holding Unit (Rhu)|POINT|A||
|548||![](./images/SFGPUSAXC------.png)|![](./images-std/1.sfgpusaxc------.png)|![](./images-jmsml/SFGPUSAXC------.png)|SFGPUSAXC------|WAR.GRDTRK.UNT.CSS.ADMIN.RHU.CRP|Rhu Corps|POINT|A||
|549||![](./images/SFGPUSAXT------.png)|![](./images-std/1.sfgpusaxt------.png)|![](./images-jmsml/SFGPUSAXT------.png)|SFGPUSAXT------|WAR.GRDTRK.UNT.CSS.ADMIN.RHU.THT|Rhu Theater|POINT|A||
|550||![](./images/SFGPUSM--------.png)|![](./images-std/1.sfgpusm--------.png)|![](./images-jmsml/SFGPUSM--------.png)|SFGPUSM--------|WAR.GRDTRK.UNT.CSS.MED|Medical|POINT|A||
|551||![](./images/SFGPUSMC-------.png)|![](./images-std/1.sfgpusmc-------.png)|![](./images-jmsml/SFGPUSMC-------.png)|SFGPUSMC-------|WAR.GRDTRK.UNT.CSS.MED.CRP|Medical Corps|POINT|A||
|552||![](./images/SFGPUSMD-------.png)|![](./images-std/1.sfgpusmd-------.png)|![](./images-jmsml/SFGPUSMD-------.png)|SFGPUSMD-------|WAR.GRDTRK.UNT.CSS.MED.DEN|Medical Dental|POINT|A||
|553||![](./images/SFGPUSMDC------.png)|![](./images-std/1.sfgpusmdc------.png)|![](./images-jmsml/SFGPUSMDC------.png)|SFGPUSMDC------|WAR.GRDTRK.UNT.CSS.MED.DEN.CRP|Medical Dental Corps|POINT|A||
|554||![](./images/SFGPUSMDT------.png)|![](./images-std/1.sfgpusmdt------.png)|![](./images-jmsml/SFGPUSMDT------.png)|SFGPUSMDT------|WAR.GRDTRK.UNT.CSS.MED.DEN.THT|Medical Dental Theater|POINT|A||
|555||![](./images/SFGPUSMM-------.png)|![](./images-std/1.sfgpusmm-------.png)|![](./images-jmsml/SFGPUSMM-------.png)|SFGPUSMM-------|WAR.GRDTRK.UNT.CSS.MED.MEDTF|Medical Treatment Facility|POINT|A||
|556||![](./images/SFGPUSMMC------.png)|![](./images-std/1.sfgpusmmc------.png)|![](./images-jmsml/SFGPUSMMC------.png)|SFGPUSMMC------|WAR.GRDTRK.UNT.CSS.MED.MEDTF.CRP|Medical Treatment Facility Corps|POINT|A||
|557||![](./images/SFGPUSMMT------.png)|![](./images-std/1.sfgpusmmt------.png)|![](./images-jmsml/SFGPUSMMT------.png)|SFGPUSMMT------|WAR.GRDTRK.UNT.CSS.MED.MEDTF.THT|Medical Treatment Facility Theater|POINT|A||
|558||![](./images/SFGPUSMP-------.png)|![](./images-std/1.sfgpusmp-------.png)|![](./images-jmsml/SFGPUSMP-------.png)|SFGPUSMP-------|WAR.GRDTRK.UNT.CSS.MED.PSY|Medical Psychological|POINT|A||
|559||![](./images/SFGPUSMPC------.png)|![](./images-std/1.sfgpusmpc------.png)|![](./images-jmsml/SFGPUSMPC------.png)|SFGPUSMPC------|WAR.GRDTRK.UNT.CSS.MED.PSY.CRP|Medical Psychological Corps|POINT|A||
|560||![](./images/SFGPUSMPT------.png)|![](./images-std/1.sfgpusmpt------.png)|![](./images-jmsml/SFGPUSMPT------.png)|SFGPUSMPT------|WAR.GRDTRK.UNT.CSS.MED.PSY.THT|Medical Psychological Theater|POINT|A||
|561||![](./images/SFGPUSMT-------.png)|![](./images-std/1.sfgpusmt-------.png)|![](./images-jmsml/SFGPUSMT-------.png)|SFGPUSMT-------|WAR.GRDTRK.UNT.CSS.MED.THT|Medical Theater|POINT|A||
|562||![](./images/SFGPUSMV-------.png)|![](./images-std/1.sfgpusmv-------.png)|![](./images-jmsml/SFGPUSMV-------.png)|SFGPUSMV-------|WAR.GRDTRK.UNT.CSS.MED.VNY|Medical Veterinary|POINT|A||
|563||![](./images/SFGPUSMVC------.png)|![](./images-std/1.sfgpusmvc------.png)|![](./images-jmsml/SFGPUSMVC------.png)|SFGPUSMVC------|WAR.GRDTRK.UNT.CSS.MED.VNY.CRP|Medical Veterinary Corps|POINT|A||
|564||![](./images/SFGPUSMVT------.png)|![](./images-std/1.sfgpusmvt------.png)|![](./images-jmsml/SFGPUSMVT------.png)|SFGPUSMVT------|WAR.GRDTRK.UNT.CSS.MED.VNY.THT|Medical Veterinary Theater|POINT|A||
|565||![](./images/SFGPUSS--------.png)|![](./images-std/1.sfgpuss--------.png)|![](./images-jmsml/SFGPUSS--------.png)|SFGPUSS--------|WAR.GRDTRK.UNT.CSS.SLP|Supply|POINT|A||
|566||![](./images/SFGPUSS1-------.png)|![](./images-std/1.sfgpuss1-------.png)|![](./images-jmsml/SFGPUSS1-------.png)|SFGPUSS1-------|WAR.GRDTRK.UNT.CSS.SLP.CLS1|Supply Class I|POINT|A||
|567||![](./images/SFGPUSS1C------.png)|![](./images-std/1.sfgpuss1c------.png)|![](./images-jmsml/SFGPUSS1C------.png)|SFGPUSS1C------|WAR.GRDTRK.UNT.CSS.SLP.CLS1.CRP|Supply Class I Corps|POINT|A||
|568||![](./images/SFGPUSS1T------.png)|![](./images-std/1.sfgpuss1t------.png)|![](./images-jmsml/SFGPUSS1T------.png)|SFGPUSS1T------|WAR.GRDTRK.UNT.CSS.SLP.CLS1.THT|Supply Class I Theater|POINT|A||
|569||![](./images/SFGPUSS2-------.png)|![](./images-std/1.sfgpuss2-------.png)|![](./images-jmsml/SFGPUSS2-------.png)|SFGPUSS2-------|WAR.GRDTRK.UNT.CSS.SLP.CLS2|Supply Class Ii|POINT|A||
|570||![](./images/SFGPUSS2C------.png)|![](./images-std/1.sfgpuss2c------.png)|![](./images-jmsml/SFGPUSS2C------.png)|SFGPUSS2C------|WAR.GRDTRK.UNT.CSS.SLP.CLS2.CRP|Supply Class Ii Corps|POINT|A||
|571||![](./images/SFGPUSS2T------.png)|![](./images-std/1.sfgpuss2t------.png)|![](./images-jmsml/SFGPUSS2T------.png)|SFGPUSS2T------|WAR.GRDTRK.UNT.CSS.SLP.CLS2.THT|Supply Class Ii Theater|POINT|A||
|572||![](./images/SFGPUSS3-------.png)|![](./images-std/1.sfgpuss3-------.png)|![](./images-jmsml/SFGPUSS3-------.png)|SFGPUSS3-------|WAR.GRDTRK.UNT.CSS.SLP.CLS3|Supply Class Iii|POINT|A||
|573||![](./images/SFGPUSS3A------.png)|![](./images-std/1.sfgpuss3a------.png)|![](./images-jmsml/SFGPUSS3A------.png)|SFGPUSS3A------|WAR.GRDTRK.UNT.CSS.SLP.CLS3.AVN|Supply Class Iii Aviation|POINT|A||
|574||![](./images/SFGPUSS3AC-----.png)|![](./images-std/1.sfgpuss3ac-----.png)|![](./images-jmsml/SFGPUSS3AC-----.png)|SFGPUSS3AC-----|WAR.GRDTRK.UNT.CSS.SLP.CLS3.AVN.CRP|Supply Class Iii Aviation Corps|POINT|A||
|575||![](./images/SFGPUSS3AT-----.png)|![](./images-std/1.sfgpuss3at-----.png)|![](./images-jmsml/SFGPUSS3AT-----.png)|SFGPUSS3AT-----|WAR.GRDTRK.UNT.CSS.SLP.CLS3.AVN.THT|Supply Class Iii Aviation Theater|POINT|A||
|576||![](./images/SFGPUSS3C------.png)|![](./images-std/1.sfgpuss3c------.png)|![](./images-jmsml/SFGPUSS3C------.png)|SFGPUSS3C------|WAR.GRDTRK.UNT.CSS.SLP.CLS3.CRP|Supply Class Iii Corps|POINT|A||
|577||![](./images/SFGPUSS3T------.png)|![](./images-std/1.sfgpuss3t------.png)|![](./images-jmsml/SFGPUSS3T------.png)|SFGPUSS3T------|WAR.GRDTRK.UNT.CSS.SLP.CLS3.THT|Supply Class Iii Theater|POINT|A||
|578||![](./images/SFGPUSS4-------.png)|![](./images-std/1.sfgpuss4-------.png)|![](./images-jmsml/SFGPUSS4-------.png)|SFGPUSS4-------|WAR.GRDTRK.UNT.CSS.SLP.CLS4|Supply Class Iv|POINT|A||
|579||![](./images/SFGPUSS4C------.png)|![](./images-std/1.sfgpuss4c------.png)|![](./images-jmsml/SFGPUSS4C------.png)|SFGPUSS4C------|WAR.GRDTRK.UNT.CSS.SLP.CLS4.CRP|Supply Class Iv Corps|POINT|A||
|580||![](./images/SFGPUSS4T------.png)|![](./images-std/1.sfgpuss4t------.png)|![](./images-jmsml/SFGPUSS4T------.png)|SFGPUSS4T------|WAR.GRDTRK.UNT.CSS.SLP.CLS4.THT|Supply Class Iv Theater|POINT|A||
|581||![](./images/SFGPUSS5-------.png)|![](./images-std/1.sfgpuss5-------.png)|![](./images-jmsml/SFGPUSS5-------.png)|SFGPUSS5-------|WAR.GRDTRK.UNT.CSS.SLP.CLS5|Supply Class V|POINT|A||
|582||![](./images/SFGPUSS5C------.png)|![](./images-std/1.sfgpuss5c------.png)|![](./images-jmsml/SFGPUSS5C------.png)|SFGPUSS5C------|WAR.GRDTRK.UNT.CSS.SLP.CLS5.CRP|Supply Class V Corps|POINT|A||
|583||![](./images/SFGPUSS5T------.png)|![](./images-std/1.sfgpuss5t------.png)|![](./images-jmsml/SFGPUSS5T------.png)|SFGPUSS5T------|WAR.GRDTRK.UNT.CSS.SLP.CLS5.THT|Supply Class V Theater|POINT|A||
|584|PERHAPS|![](./images/SFGPUSS6-------.png)|![](./images-std/1.sfgpuss6-------.png)|![](./images-jmsml/SFGPUSS6-------.png)|SFGPUSS6-------|WAR.GRDTRK.UNT.CSS.SLP.CLS6|Supply Class Vi|POINT|A||
|585|PERHAPS|![](./images/SFGPUSS6C------.png)|![](./images-std/1.sfgpuss6c------.png)|![](./images-jmsml/SFGPUSS6C------.png)|SFGPUSS6C------|WAR.GRDTRK.UNT.CSS.SLP.CLS6.CRP|Supply Class Vi Corps|POINT|A||
|586|PERHAPS|![](./images/SFGPUSS6T------.png)|![](./images-std/1.sfgpuss6t------.png)|![](./images-jmsml/SFGPUSS6T------.png)|SFGPUSS6T------|WAR.GRDTRK.UNT.CSS.SLP.CLS6.THT|Supply Class Vi Theater|POINT|A||
|587||![](./images/SFGPUSS7-------.png)|![](./images-std/1.sfgpuss7-------.png)|![](./images-jmsml/SFGPUSS7-------.png)|SFGPUSS7-------|WAR.GRDTRK.UNT.CSS.SLP.CLS7|Supply Class Vii|POINT|A||
|588||![](./images/SFGPUSS7C------.png)|![](./images-std/1.sfgpuss7c------.png)|![](./images-jmsml/SFGPUSS7C------.png)|SFGPUSS7C------|WAR.GRDTRK.UNT.CSS.SLP.CLS7.CRP|Supply Class Vii Corps|POINT|A||
|589||![](./images/SFGPUSS7T------.png)|![](./images-std/1.sfgpuss7t------.png)|![](./images-jmsml/SFGPUSS7T------.png)|SFGPUSS7T------|WAR.GRDTRK.UNT.CSS.SLP.CLS7.THT|Supply Class Vii Theater|POINT|A||
|590||![](./images/SFGPUSS8-------.png)|![](./images-std/1.sfgpuss8-------.png)|![](./images-jmsml/SFGPUSS8-------.png)|SFGPUSS8-------|WAR.GRDTRK.UNT.CSS.SLP.CLS8|Supply Class Viii|POINT|A||
|591||![](./images/SFGPUSS8C------.png)|![](./images-std/1.sfgpuss8c------.png)|![](./images-jmsml/SFGPUSS8C------.png)|SFGPUSS8C------|WAR.GRDTRK.UNT.CSS.SLP.CLS8.CRP|Supply Class Viii Corps|POINT|A||
|592||![](./images/SFGPUSS8T------.png)|![](./images-std/1.sfgpuss8t------.png)|![](./images-jmsml/SFGPUSS8T------.png)|SFGPUSS8T------|WAR.GRDTRK.UNT.CSS.SLP.CLS8.THT|Supply Class Viii Theater|POINT|A||
|593||![](./images/SFGPUSS9-------.png)|![](./images-std/1.sfgpuss9-------.png)|![](./images-jmsml/SFGPUSS9-------.png)|SFGPUSS9-------|WAR.GRDTRK.UNT.CSS.SLP.CLS9|Supply Class Ix|POINT|A||
|594||![](./images/SFGPUSS9C------.png)|![](./images-std/1.sfgpuss9c------.png)|![](./images-jmsml/SFGPUSS9C------.png)|SFGPUSS9C------|WAR.GRDTRK.UNT.CSS.SLP.CLS9.CRP|Supply Class Ix Corps|POINT|A||
|595||![](./images/SFGPUSS9T------.png)|![](./images-std/1.sfgpuss9t------.png)|![](./images-jmsml/SFGPUSS9T------.png)|SFGPUSS9T------|WAR.GRDTRK.UNT.CSS.SLP.CLS9.THT|Supply Class Ix Theater|POINT|A||
|596||![](./images/SFGPUSSC-------.png)|![](./images-std/1.sfgpussc-------.png)|![](./images-jmsml/SFGPUSSC-------.png)|SFGPUSSC-------|WAR.GRDTRK.UNT.CSS.SLP.CRP|Supply Corps|POINT|A||
|597||![](./images/SFGPUSSL-------.png)|![](./images-std/1.sfgpussl-------.png)|![](./images-jmsml/SFGPUSSL-------.png)|SFGPUSSL-------|WAR.GRDTRK.UNT.CSS.SLP.LDY|Supply Laundry/Bath|POINT|A||
|598||![](./images/SFGPUSSLC------.png)|![](./images-std/1.sfgpusslc------.png)|![](./images-jmsml/SFGPUSSLC------.png)|SFGPUSSLC------|WAR.GRDTRK.UNT.CSS.SLP.LDY.CRP|Supply Laundry/Bath Corps|POINT|A||
|599||![](./images/SFGPUSSLT------.png)|![](./images-std/1.sfgpusslt------.png)|![](./images-jmsml/SFGPUSSLT------.png)|SFGPUSSLT------|WAR.GRDTRK.UNT.CSS.SLP.LDY.THT|Supply Laundry/Bath Theater|POINT|A||
|600||![](./images/SFGPUSST-------.png)|![](./images-std/1.sfgpusst-------.png)|![](./images-jmsml/SFGPUSST-------.png)|SFGPUSST-------|WAR.GRDTRK.UNT.CSS.SLP.THT|Supply Theater|POINT|A||
|601||![](./images/SFGPUSSW-------.png)|![](./images-std/1.sfgpussw-------.png)|![](./images-jmsml/SFGPUSSW-------.png)|SFGPUSSW-------|WAR.GRDTRK.UNT.CSS.SLP.H2O|Supply Water|POINT|A||
|602||![](./images/SFGPUSSWC------.png)|![](./images-std/1.sfgpusswc------.png)|![](./images-jmsml/SFGPUSSWC------.png)|SFGPUSSWC------|WAR.GRDTRK.UNT.CSS.SLP.H2O.CRP|Supply Water Corps|POINT|A||
|603||![](./images/SFGPUSSWP------.png)|![](./images-std/1.sfgpusswp------.png)|![](./images-jmsml/SFGPUSSWP------.png)|SFGPUSSWP------|WAR.GRDTRK.UNT.CSS.SLP.H2O.PUR|Supply Water Purification|POINT|A||
|604||![](./images/SFGPUSSWPC-----.png)|![](./images-std/1.sfgpusswpc-----.png)|![](./images-jmsml/SFGPUSSWPC-----.png)|SFGPUSSWPC-----|WAR.GRDTRK.UNT.CSS.SLP.H2O.PUR.CRP|Supply Water Purification Corps|POINT|A||
|605||![](./images/SFGPUSSWPT-----.png)|![](./images-std/1.sfgpusswpt-----.png)|![](./images-jmsml/SFGPUSSWPT-----.png)|SFGPUSSWPT-----|WAR.GRDTRK.UNT.CSS.SLP.H2O.PUR.THT|Supply Water Purification Theater|POINT|A||
|606||![](./images/SFGPUSSWT------.png)|![](./images-std/1.sfgpusswt------.png)|![](./images-jmsml/SFGPUSSWT------.png)|SFGPUSSWT------|WAR.GRDTRK.UNT.CSS.SLP.H2O.THT|Supply Water Theater|POINT|A||
|607||![](./images/SFGPUSSX-------.png)|![](./images-std/1.sfgpussx-------.png)|![](./images-jmsml/SFGPUSSX-------.png)|SFGPUSSX-------|WAR.GRDTRK.UNT.CSS.SLP.CLS10|Supply Class X|POINT|A||
|608||![](./images/SFGPUSSXC------.png)|![](./images-std/1.sfgpussxc------.png)|![](./images-jmsml/SFGPUSSXC------.png)|SFGPUSSXC------|WAR.GRDTRK.UNT.CSS.SLP.CLS10.CRP|Supply Class X Corps|POINT|A||
|609|PERHAPS|![](./images/SFGPUSSXT------.png)|![](./images-std/1.sfgpussxt------.png)|![](./images-jmsml/SFGPUSSXT------.png)|SFGPUSSXT------|WAR.GRDTRK.UNT.CSS.SLP.CLS10.THT|Supply Class X Theater|POINT|A||
|610||![](./images/SFGPUST--------.png)|![](./images-std/1.sfgpust--------.png)|![](./images-jmsml/SFGPUST--------.png)|SFGPUST--------|WAR.GRDTRK.UNT.CSS.TPT|Transportation|POINT|A||
|611||![](./images/SFGPUSTA-------.png)|![](./images-std/1.sfgpusta-------.png)|![](./images-jmsml/SFGPUSTA-------.png)|SFGPUSTA-------|WAR.GRDTRK.UNT.CSS.TPT.APOD|Apod/Apoe|POINT|A||
|612||![](./images/SFGPUSTAC------.png)|![](./images-std/1.sfgpustac------.png)|![](./images-jmsml/SFGPUSTAC------.png)|SFGPUSTAC------|WAR.GRDTRK.UNT.CSS.TPT.APOD.CRP|Apod/Apoe Corps|POINT|A||
|613||![](./images/SFGPUSTAT------.png)|![](./images-std/1.sfgpustat------.png)|![](./images-jmsml/SFGPUSTAT------.png)|SFGPUSTAT------|WAR.GRDTRK.UNT.CSS.TPT.APOD.THT|Apod/Apoe Theater|POINT|A||
|614||![](./images/SFGPUSTC-------.png)|![](./images-std/1.sfgpustc-------.png)|![](./images-jmsml/SFGPUSTC-------.png)|SFGPUSTC-------|WAR.GRDTRK.UNT.CSS.TPT.CRP|Transportation Corps|POINT|A||
|615||![](./images/SFGPUSTI-------.png)|![](./images-std/1.sfgpusti-------.png)|![](./images-jmsml/SFGPUSTI-------.png)|SFGPUSTI-------|WAR.GRDTRK.UNT.CSS.TPT.MSL|Missile|POINT|A||
|616||![](./images/SFGPUSTIC------.png)|![](./images-std/1.sfgpustic------.png)|![](./images-jmsml/SFGPUSTIC------.png)|SFGPUSTIC------|WAR.GRDTRK.UNT.CSS.TPT.MSL.CRP|Missile Corps|POINT|A||
|617||![](./images/SFGPUSTIT------.png)|![](./images-std/1.sfgpustit------.png)|![](./images-jmsml/SFGPUSTIT------.png)|SFGPUSTIT------|WAR.GRDTRK.UNT.CSS.TPT.MSL.THT|Missile Theater|POINT|A||
|618||![](./images/SFGPUSTM-------.png)|![](./images-std/1.sfgpustm-------.png)|![](./images-jmsml/SFGPUSTM-------.png)|SFGPUSTM-------|WAR.GRDTRK.UNT.CSS.TPT.MCC|Movement Control Center (Mcc)|POINT|A||
|619||![](./images/SFGPUSTMC------.png)|![](./images-std/1.sfgpustmc------.png)|![](./images-jmsml/SFGPUSTMC------.png)|SFGPUSTMC------|WAR.GRDTRK.UNT.CSS.TPT.MCC.CRP|Mcc Corps|POINT|A||
|620||![](./images/SFGPUSTMT------.png)|![](./images-std/1.sfgpustmt------.png)|![](./images-jmsml/SFGPUSTMT------.png)|SFGPUSTMT------|WAR.GRDTRK.UNT.CSS.TPT.MCC.THT|Mcc Theater|POINT|A||
|621||![](./images/SFGPUSTR-------.png)|![](./images-std/1.sfgpustr-------.png)|![](./images-jmsml/SFGPUSTR-------.png)|SFGPUSTR-------|WAR.GRDTRK.UNT.CSS.TPT.RHD|Railhead|POINT|A||
|622||![](./images/SFGPUSTRC------.png)|![](./images-std/1.sfgpustrc------.png)|![](./images-jmsml/SFGPUSTRC------.png)|SFGPUSTRC------|WAR.GRDTRK.UNT.CSS.TPT.RHD.CRP|Railhead Corps|POINT|A||
|623||![](./images/SFGPUSTRT------.png)|![](./images-std/1.sfgpustrt------.png)|![](./images-jmsml/SFGPUSTRT------.png)|SFGPUSTRT------|WAR.GRDTRK.UNT.CSS.TPT.RHD.THT|Railhead Theater|POINT|A||
|624||![](./images/SFGPUSTS-------.png)|![](./images-std/1.sfgpusts-------.png)|![](./images-jmsml/SFGPUSTS-------.png)|SFGPUSTS-------|WAR.GRDTRK.UNT.CSS.TPT.SPOD|Spod/Spoe|POINT|A||
|625||![](./images/SFGPUSTSC------.png)|![](./images-std/1.sfgpustsc------.png)|![](./images-jmsml/SFGPUSTSC------.png)|SFGPUSTSC------|WAR.GRDTRK.UNT.CSS.TPT.SPOD.CRP|Spod/Spoe Corps|POINT|A||
|626||![](./images/SFGPUSTST------.png)|![](./images-std/1.sfgpustst------.png)|![](./images-jmsml/SFGPUSTST------.png)|SFGPUSTST------|WAR.GRDTRK.UNT.CSS.TPT.SPOD.THT|Spod/Spoe Theater|POINT|A||
|627||![](./images/SFGPUSTT-------.png)|![](./images-std/1.sfgpustt-------.png)|![](./images-jmsml/SFGPUSTT-------.png)|SFGPUSTT-------|WAR.GRDTRK.UNT.CSS.TPT.THT|Transportation Theater|POINT|A||
|628||![](./images/SFGPUSX--------.png)|![](./images-std/1.sfgpusx--------.png)|![](./images-jmsml/SFGPUSX--------.png)|SFGPUSX--------|WAR.GRDTRK.UNT.CSS.MAINT|Maintenance|POINT|A||
|629||![](./images/SFGPUSXC-------.png)|![](./images-std/1.sfgpusxc-------.png)|![](./images-jmsml/SFGPUSXC-------.png)|SFGPUSXC-------|WAR.GRDTRK.UNT.CSS.MAINT.CRP|Maintenance Corps|POINT|A||
|630||![](./images/SFGPUSXE-------.png)|![](./images-std/1.sfgpusxe-------.png)|![](./images-jmsml/SFGPUSXE-------.png)|SFGPUSXE-------|WAR.GRDTRK.UNT.CSS.MAINT.EOP|Electro-Optical|POINT|A||
|631||![](./images/SFGPUSXEC------.png)|![](./images-std/1.sfgpusxec------.png)|![](./images-jmsml/SFGPUSXEC------.png)|SFGPUSXEC------|WAR.GRDTRK.UNT.CSS.MAINT.EOP.CRP|Electro-Optical Corps|POINT|A||
|632||![](./images/SFGPUSXET------.png)|![](./images-std/1.sfgpusxet------.png)|![](./images-jmsml/SFGPUSXET------.png)|SFGPUSXET------|WAR.GRDTRK.UNT.CSS.MAINT.EOP.THT|Electro-Optical Theater|POINT|A||
|633||![](./images/SFGPUSXH-------.png)|![](./images-std/1.sfgpusxh-------.png)|![](./images-jmsml/SFGPUSXH-------.png)|SFGPUSXH-------|WAR.GRDTRK.UNT.CSS.MAINT.HVY|Maintenance Heavy|POINT|A||
|634||![](./images/SFGPUSXHC------.png)|![](./images-std/1.sfgpusxhc------.png)|![](./images-jmsml/SFGPUSXHC------.png)|SFGPUSXHC------|WAR.GRDTRK.UNT.CSS.MAINT.HVY.CRP|Maintenance Heavy Corps|POINT|A||
|635||![](./images/SFGPUSXHT------.png)|![](./images-std/1.sfgpusxht------.png)|![](./images-jmsml/SFGPUSXHT------.png)|SFGPUSXHT------|WAR.GRDTRK.UNT.CSS.MAINT.HVY.THT|Maintenance Heavy Theater|POINT|A||
|636||![](./images/SFGPUSXO-------.png)|![](./images-std/1.sfgpusxo-------.png)|![](./images-jmsml/SFGPUSXO-------.png)|SFGPUSXO-------|WAR.GRDTRK.UNT.CSS.MAINT.ORD|Ordnance|POINT|A||
|637||![](./images/SFGPUSXOC------.png)|![](./images-std/1.sfgpusxoc------.png)|![](./images-jmsml/SFGPUSXOC------.png)|SFGPUSXOC------|WAR.GRDTRK.UNT.CSS.MAINT.ORD.CRP|Ordnance Corps|POINT|A||
|638||![](./images/SFGPUSXOM------.png)|![](./images-std/1.sfgpusxom------.png)|![](./images-jmsml/SFGPUSXOM------.png)|SFGPUSXOM------|WAR.GRDTRK.UNT.CSS.MAINT.ORD.MSL|Ordnance Missile|POINT|A||
|639||![](./images/SFGPUSXOMC-----.png)|![](./images-std/1.sfgpusxomc-----.png)|![](./images-jmsml/SFGPUSXOMC-----.png)|SFGPUSXOMC-----|WAR.GRDTRK.UNT.CSS.MAINT.ORD.MSL.CRP|Ordnance Missile Corps|POINT|A||
|640||![](./images/SFGPUSXOMT-----.png)|![](./images-std/1.sfgpusxomt-----.png)|![](./images-jmsml/SFGPUSXOMT-----.png)|SFGPUSXOMT-----|WAR.GRDTRK.UNT.CSS.MAINT.ORD.MSL.THT|Ordnance Missile Theater|POINT|A||
|641||![](./images/SFGPUSXOT------.png)|![](./images-std/1.sfgpusxot------.png)|![](./images-jmsml/SFGPUSXOT------.png)|SFGPUSXOT------|WAR.GRDTRK.UNT.CSS.MAINT.ORD.THT|Ordnance Theater|POINT|A||
|642||![](./images/SFGPUSXR-------.png)|![](./images-std/1.sfgpusxr-------.png)|![](./images-jmsml/SFGPUSXR-------.png)|SFGPUSXR-------|WAR.GRDTRK.UNT.CSS.MAINT.RCY|Maintenance Recovery|POINT|A||
|643||![](./images/SFGPUSXRC------.png)|![](./images-std/1.sfgpusxrc------.png)|![](./images-jmsml/SFGPUSXRC------.png)|SFGPUSXRC------|WAR.GRDTRK.UNT.CSS.MAINT.RCY.CRP|Maintenance Recovery Corps|POINT|A||
|644||![](./images/SFGPUSXRT------.png)|![](./images-std/1.sfgpusxrt------.png)|![](./images-jmsml/SFGPUSXRT------.png)|SFGPUSXRT------|WAR.GRDTRK.UNT.CSS.MAINT.RCY.THT|Maintenance Recovery Theater|POINT|A||
|645||![](./images/SFGPUSXT-------.png)|![](./images-std/1.sfgpusxt-------.png)|![](./images-jmsml/SFGPUSXT-------.png)|SFGPUSXT-------|WAR.GRDTRK.UNT.CSS.MAINT.THT|Maintenance Theater|POINT|A||
|646||![](./images/SFGPUU---------.png)|![](./images-std/1.sfgpuu---------.png)|![](./images-jmsml/SFGPUU---------.png)|SFGPUU---------|WAR.GRDTRK.UNT.CS|Combat Support|POINT|A||
|647||![](./images/SFGPUUA--------.png)|![](./images-std/1.sfgpuua--------.png)|![](./images-jmsml/SFGPUUA--------.png)|SFGPUUA--------|WAR.GRDTRK.UNT.CS.CBRN|Combat Support Cbrn|POINT|A||
|648||![](./images/SFGPUUAB-------.png)|![](./images-std/1.sfgpuuab-------.png)|![](./images-jmsml/SFGPUUAB-------.png)|SFGPUUAB-------|WAR.GRDTRK.UNT.CS.CBRN.BIO|Biological|POINT|A||
|649||![](./images/SFGPUUABR------.png)|![](./images-std/1.sfgpuuabr------.png)|![](./images-jmsml/SFGPUUABR------.png)|SFGPUUABR------|WAR.GRDTRK.UNT.CS.CBRN.BIO.RECEQP|Recon Equipped|POINT|A||
|650||![](./images/SFGPUUAC-------.png)|![](./images-std/1.sfgpuuac-------.png)|![](./images-jmsml/SFGPUUAC-------.png)|SFGPUUAC-------|WAR.GRDTRK.UNT.CS.CBRN.CML|Chemical|POINT|A||
|651||![](./images/SFGPUUACC------.png)|![](./images-std/1.sfgpuuacc------.png)|![](./images-jmsml/SFGPUUACC------.png)|SFGPUUACC------|WAR.GRDTRK.UNT.CS.CBRN.CML.SMKDEC|Smoke/Decon|POINT|A||
|652||![](./images/SFGPUUACCK-----.png)|![](./images-std/1.sfgpuuacck-----.png)|![](./images-jmsml/SFGPUUACCK-----.png)|SFGPUUACCK-----|WAR.GRDTRK.UNT.CS.CBRN.CML.SMKDEC.MECH|Mechanized Smoke/Decon|POINT|A||
|653||![](./images/SFGPUUACCM-----.png)|![](./images-std/1.sfgpuuaccm-----.png)|![](./images-jmsml/SFGPUUACCM-----.png)|SFGPUUACCM-----|WAR.GRDTRK.UNT.CS.CBRN.CML.SMKDEC.MOT|Motorized Smoke/Decon|POINT|A||
|654||![](./images/SFGPUUACR------.png)|![](./images-std/1.sfgpuuacr------.png)|![](./images-jmsml/SFGPUUACR------.png)|SFGPUUACR------|WAR.GRDTRK.UNT.CS.CBRN.CML.RECON|Chemical Recon|POINT|A||
|655||![](./images/SFGPUUACRS-----.png)|![](./images-std/1.sfgpuuacrs-----.png)|![](./images-jmsml/SFGPUUACRS-----.png)|SFGPUUACRS-----|WAR.GRDTRK.UNT.CS.CBRN.CML.RECON.WAVS|Chemical Wheeled Armored Vehicle Reconnaissance Surveillance|POINT|A||
|656||![](./images/SFGPUUACRW-----.png)|![](./images-std/1.sfgpuuacrw-----.png)|![](./images-jmsml/SFGPUUACRW-----.png)|SFGPUUACRW-----|WAR.GRDTRK.UNT.CS.CBRN.CML.RECON.WARMVH|Chemical Wheeled Armored Vehicle|POINT|A||
|657||![](./images/SFGPUUACS------.png)|![](./images-std/1.sfgpuuacs------.png)|![](./images-jmsml/SFGPUUACS------.png)|SFGPUUACS------|WAR.GRDTRK.UNT.CS.CBRN.CML.SMK|Smoke|POINT|A||
|658||![](./images/SFGPUUACSA-----.png)|![](./images-std/1.sfgpuuacsa-----.png)|![](./images-jmsml/SFGPUUACSA-----.png)|SFGPUUACSA-----|WAR.GRDTRK.UNT.CS.CBRN.CML.SMK.ARM|Armor Smoke|POINT|A||
|659||![](./images/SFGPUUACSM-----.png)|![](./images-std/1.sfgpuuacsm-----.png)|![](./images-jmsml/SFGPUUACSM-----.png)|SFGPUUACSM-----|WAR.GRDTRK.UNT.CS.CBRN.CML.SMK.MOT|Motorized Smoke|POINT|A||
|660||![](./images/SFGPUUAD-------.png)|![](./images-std/1.sfgpuuad-------.png)|![](./images-jmsml/SFGPUUAD-------.png)|SFGPUUAD-------|WAR.GRDTRK.UNT.CS.CBRN.DECON|Decontamination|POINT|A||
|661||![](./images/SFGPUUAN-------.png)|![](./images-std/1.sfgpuuan-------.png)|![](./images-jmsml/SFGPUUAN-------.png)|SFGPUUAN-------|WAR.GRDTRK.UNT.CS.CBRN.NUC|Nuclear|POINT|A||
|662||![](./images/SFGPUUE--------.png)|![](./images-std/1.sfgpuue--------.png)|![](./images-jmsml/SFGPUUE--------.png)|SFGPUUE--------|WAR.GRDTRK.UNT.CS.EOD|Explosive Ordnance Disposal|POINT|A||
|663||![](./images/SFGPUUI--------.png)|![](./images-std/1.sfgpuui--------.png)|![](./images-jmsml/SFGPUUI--------.png)|SFGPUUI--------|WAR.GRDTRK.UNT.CS.IWU|Information Warfare Unit|POINT|A||
|664||![](./images/SFGPUUL--------.png)|![](./images-std/1.sfgpuul--------.png)|![](./images-jmsml/SFGPUUL--------.png)|SFGPUUL--------|WAR.GRDTRK.UNT.CS.LAWENU|Law Enforcement Unit|POINT|A||
|665||![](./images/SFGPUULC-------.png)|![](./images-std/1.sfgpuulc-------.png)|![](./images-jmsml/SFGPUULC-------.png)|SFGPUULC-------|WAR.GRDTRK.UNT.CS.LAWENU.CLE|Civilian Law Enforcement|POINT|A||
|666||![](./images/SFGPUULD-------.png)|![](./images-std/1.sfgpuuld-------.png)|![](./images-jmsml/SFGPUULD-------.png)|SFGPUULD-------|WAR.GRDTRK.UNT.CS.LAWENU.CID|Central Intelligence Division (Cid)|POINT|A||
|667|PERHAPS|![](./images/SFGPUULF-------.png)|![](./images-std/1.sfgpuulf-------.png)|![](./images-jmsml/SFGPUULF-------.png)|SFGPUULF-------|WAR.GRDTRK.UNT.CS.LAWENU.SECPOL|Security Police (Air)|POINT|A||
|668||![](./images/SFGPUULM-------.png)|![](./images-std/1.sfgpuulm-------.png)|![](./images-jmsml/SFGPUULM-------.png)|SFGPUULM-------|WAR.GRDTRK.UNT.CS.LAWENU.MILP|Military Police|POINT|A||
|669||![](./images/SFGPUULS-------.png)|![](./images-std/1.sfgpuuls-------.png)|![](./images-jmsml/SFGPUULS-------.png)|SFGPUULS-------|WAR.GRDTRK.UNT.CS.LAWENU.SHRPAT|Shore Patrol|POINT|A||
|670||![](./images/SFGPUUM--------.png)|![](./images-std/1.sfgpuum--------.png)|![](./images-jmsml/SFGPUUM--------.png)|SFGPUUM--------|WAR.GRDTRK.UNT.CS.MILINT|Military Intelligence|POINT|A||
|671||![](./images/SFGPUUMA-------.png)|![](./images-std/1.sfgpuuma-------.png)|![](./images-jmsml/SFGPUUMA-------.png)|SFGPUUMA-------|WAR.GRDTRK.UNT.CS.MILINT.AEREXP|Aerial Exploitation|POINT|A||
|672||![](./images/SFGPUUMC-------.png)|![](./images-std/1.sfgpuumc-------.png)|![](./images-jmsml/SFGPUUMC-------.png)|SFGPUUMC-------|WAR.GRDTRK.UNT.CS.MILINT.CINT|Counterintelligence|POINT|A||
|673||![](./images/SFGPUUMJ-------.png)|![](./images-std/1.sfgpuumj-------.png)|![](./images-jmsml/SFGPUUMJ-------.png)|SFGPUUMJ-------|WAR.GRDTRK.UNT.CS.MILINT.JINTCT|Joint Intelligence Center|POINT|A||
|674||![](./images/SFGPUUMMO------.png)|![](./images-std/1.sfgpuummo------.png)|![](./images-jmsml/SFGPUUMMO------.png)|SFGPUUMMO------|WAR.GRDTRK.UNT.CS.MILINT.SVL.METO|Meteorological|POINT|A||
|675||![](./images/SFGPUUMO-------.png)|![](./images-std/1.sfgpuumo-------.png)|![](./images-jmsml/SFGPUUMO-------.png)|SFGPUUMO-------|WAR.GRDTRK.UNT.CS.MILINT.OPN|Operations|POINT|A||
|676||![](./images/SFGPUUMQ-------.png)|![](./images-std/1.sfgpuumq-------.png)|![](./images-jmsml/SFGPUUMQ-------.png)|SFGPUUMQ-------|WAR.GRDTRK.UNT.CS.MILINT.INTGN|Interrogation|POINT|A||
|677||![](./images/SFGPUUMR-------.png)|![](./images-std/1.sfgpuumr-------.png)|![](./images-jmsml/SFGPUUMR-------.png)|SFGPUUMR-------|WAR.GRDTRK.UNT.CS.MILINT.SVL|Surveillance|POINT|A||
|678|PERHAPS|![](./images/SFGPUUMRG------.png)|![](./images-std/1.sfgpuumrg------.png)|![](./images-jmsml/SFGPUUMRG------.png)|SFGPUUMRG------|WAR.GRDTRK.UNT.CS.MILINT.SVL.GRDSR|Ground Surveillance Radar|POINT|A||
|679||![](./images/SFGPUUMRS------.png)|![](./images-std/1.sfgpuumrs------.png)|![](./images-jmsml/SFGPUUMRS------.png)|SFGPUUMRS------|WAR.GRDTRK.UNT.CS.MILINT.SVL.SNS|Sensor|POINT|A||
|680||![](./images/SFGPUUMRSS-----.png)|![](./images-std/1.sfgpuumrss-----.png)|![](./images-jmsml/SFGPUUMRSS-----.png)|SFGPUUMRSS-----|WAR.GRDTRK.UNT.CS.MILINT.SVL.SNS.SCM|Sensor Scm|POINT|A||
|681||![](./images/SFGPUUMRX------.png)|![](./images-std/1.sfgpuumrx------.png)|![](./images-jmsml/SFGPUUMRX------.png)|SFGPUUMRX------|WAR.GRDTRK.UNT.CS.MILINT.SVL.GRDSM|Ground Station Module|POINT|A||
|682||![](./images/SFGPUUMS-------.png)|![](./images-std/1.sfgpuums-------.png)|![](./images-jmsml/SFGPUUMS-------.png)|SFGPUUMS-------|WAR.GRDTRK.UNT.CS.MILINT.SIGINT|Signal Intelligence (Sigint)|POINT|A||
|683||![](./images/SFGPUUMSE------.png)|![](./images-std/1.sfgpuumse------.png)|![](./images-jmsml/SFGPUUMSE------.png)|SFGPUUMSE------|WAR.GRDTRK.UNT.CS.MILINT.SIGINT.ECW|Electronic Warfare|POINT|A||
|684||![](./images/SFGPUUMSEA-----.png)|![](./images-std/1.sfgpuumsea-----.png)|![](./images-jmsml/SFGPUUMSEA-----.png)|SFGPUUMSEA-----|WAR.GRDTRK.UNT.CS.MILINT.SIGINT.ECW.ARMWVH|Armored Wheeled Vehicle|POINT|A||
|685||![](./images/SFGPUUMSEC-----.png)|![](./images-std/1.sfgpuumsec-----.png)|![](./images-jmsml/SFGPUUMSEC-----.png)|SFGPUUMSEC-----|WAR.GRDTRK.UNT.CS.MILINT.SIGINT.ECW.CRP|Corps|POINT|A||
|686||![](./images/SFGPUUMSED-----.png)|![](./images-std/1.sfgpuumsed-----.png)|![](./images-jmsml/SFGPUUMSED-----.png)|SFGPUUMSED-----|WAR.GRDTRK.UNT.CS.MILINT.SIGINT.ECW.DFN|Direction Finding|POINT|A||
|687||![](./images/SFGPUUMSEI-----.png)|![](./images-std/1.sfgpuumsei-----.png)|![](./images-jmsml/SFGPUUMSEI-----.png)|SFGPUUMSEI-----|WAR.GRDTRK.UNT.CS.MILINT.SIGINT.ECW.INC|Intercept|POINT|A||
|688||![](./images/SFGPUUMSEJ-----.png)|![](./images-std/1.sfgpuumsej-----.png)|![](./images-jmsml/SFGPUUMSEJ-----.png)|SFGPUUMSEJ-----|WAR.GRDTRK.UNT.CS.MILINT.SIGINT.ECW.JMG|Jamming|POINT|A||
|689||![](./images/SFGPUUMSET-----.png)|![](./images-std/1.sfgpuumset-----.png)|![](./images-jmsml/SFGPUUMSET-----.png)|SFGPUUMSET-----|WAR.GRDTRK.UNT.CS.MILINT.SIGINT.ECW.THT|Theater|POINT|A||
|690||![](./images/SFGPUUMT-------.png)|![](./images-std/1.sfgpuumt-------.png)|![](./images-jmsml/SFGPUUMT-------.png)|SFGPUUMT-------|WAR.GRDTRK.UNT.CS.MILINT.TACEXP|Tactical Exploit|POINT|A||
|691||![](./images/SFGPUUP--------.png)|![](./images-std/1.sfgpuup--------.png)|![](./images-jmsml/SFGPUUP--------.png)|SFGPUUP--------|WAR.GRDTRK.UNT.CS.LNDSUP|Landing Support|POINT|A||
|692||![](./images/SFGPUUS--------.png)|![](./images-std/1.sfgpuus--------.png)|![](./images-jmsml/SFGPUUS--------.png)|SFGPUUS--------|WAR.GRDTRK.UNT.CS.SIGUNT|Signal Unit|POINT|A||
|693||![](./images/SFGPUUSA-------.png)|![](./images-std/1.sfgpuusa-------.png)|![](./images-jmsml/SFGPUUSA-------.png)|SFGPUUSA-------|WAR.GRDTRK.UNT.CS.SIGUNT.ARA|Area|POINT|A||
|694||![](./images/SFGPUUSC-------.png)|![](./images-std/1.sfgpuusc-------.png)|![](./images-jmsml/SFGPUUSC-------.png)|SFGPUUSC-------|WAR.GRDTRK.UNT.CS.SIGUNT.COMCP|Communication Configured Package|POINT|A||
|695||![](./images/SFGPUUSCL------.png)|![](./images-std/1.sfgpuuscl------.png)|![](./images-jmsml/SFGPUUSCL------.png)|SFGPUUSCL------|WAR.GRDTRK.UNT.CS.SIGUNT.COMCP.LCCP|Large Communication Configured Package (Lccp)|POINT|A||
|696||![](./images/SFGPUUSF-------.png)|![](./images-std/1.sfgpuusf-------.png)|![](./images-jmsml/SFGPUUSF-------.png)|SFGPUUSF-------|WAR.GRDTRK.UNT.CS.SIGUNT.FWDCOM|Forward Communications|POINT|A||
|697||![](./images/SFGPUUSM-------.png)|![](./images-std/1.sfgpuusm-------.png)|![](./images-jmsml/SFGPUUSM-------.png)|SFGPUUSM-------|WAR.GRDTRK.UNT.CS.SIGUNT.MSE|Multiple Subscriber Element|POINT|A||
|698||![](./images/SFGPUUSML------.png)|![](./images-std/1.sfgpuusml------.png)|![](./images-jmsml/SFGPUUSML------.png)|SFGPUUSML------|WAR.GRDTRK.UNT.CS.SIGUNT.MSE.LEN|Large Extension Node|POINT|A||
|699||![](./images/SFGPUUSMN------.png)|![](./images-std/1.sfgpuusmn------.png)|![](./images-jmsml/SFGPUUSMN------.png)|SFGPUUSMN------|WAR.GRDTRK.UNT.CS.SIGUNT.MSE.NODCTR|Node Center|POINT|A||
|700||![](./images/SFGPUUSMS------.png)|![](./images-std/1.sfgpuusms------.png)|![](./images-jmsml/SFGPUUSMS------.png)|SFGPUUSMS------|WAR.GRDTRK.UNT.CS.SIGUNT.MSE.SEN|Small Extension Node|POINT|A||
|701||![](./images/SFGPUUSO-------.png)|![](./images-std/1.sfgpuuso-------.png)|![](./images-jmsml/SFGPUUSO-------.png)|SFGPUUSO-------|WAR.GRDTRK.UNT.CS.SIGUNT.CMDOPN|Command Operations|POINT|A||
|702||![](./images/SFGPUUSR-------.png)|![](./images-std/1.sfgpuusr-------.png)|![](./images-jmsml/SFGPUUSR-------.png)|SFGPUUSR-------|WAR.GRDTRK.UNT.CS.SIGUNT.RDOUNT|Radio Unit|POINT|A||
|703|PERHAPS|![](./images/SFGPUUSRS------.png)|![](./images-std/1.sfgpuusrs------.png)|![](./images-jmsml/SFGPUUSRS------.png)|SFGPUUSRS------|WAR.GRDTRK.UNT.CS.SIGUNT.RDOUNT.TACSAT|Tactical Satellite|POINT|A||
|704||![](./images/SFGPUUSRT------.png)|![](./images-std/1.sfgpuusrt------.png)|![](./images-jmsml/SFGPUUSRT------.png)|SFGPUUSRT------|WAR.GRDTRK.UNT.CS.SIGUNT.RDOUNT.TTYCTR|Teletype Center|POINT|A||
|705||![](./images/SFGPUUSRW------.png)|![](./images-std/1.sfgpuusrw------.png)|![](./images-jmsml/SFGPUUSRW------.png)|SFGPUUSRW------|WAR.GRDTRK.UNT.CS.SIGUNT.RDOUNT.RLY|Relay|POINT|A||
|706||![](./images/SFGPUUSS-------.png)|![](./images-std/1.sfgpuuss-------.png)|![](./images-jmsml/SFGPUUSS-------.png)|SFGPUUSS-------|WAR.GRDTRK.UNT.CS.SIGUNT.SIGSUP|Signal Support|POINT|A||
|707||![](./images/SFGPUUSW-------.png)|![](./images-std/1.sfgpuusw-------.png)|![](./images-jmsml/SFGPUUSW-------.png)|SFGPUUSW-------|WAR.GRDTRK.UNT.CS.SIGUNT.PHOSWT|Telephone Switch|POINT|A||
|708||![](./images/SFGPUUSX-------.png)|![](./images-std/1.sfgpuusx-------.png)|![](./images-jmsml/SFGPUUSX-------.png)|SFGPUUSX-------|WAR.GRDTRK.UNT.CS.SIGUNT.ECRG|Electronic Ranging|POINT|A||
|709||![](./images/SFPP-----------.png)|![](./images-std/1.sfpp-----------.png)|![](./images-jmsml/SFPP-----------.png)|SFPP-----------|WAR.SPC|Space Track|POINT|A||
|710||![](./images/SFPPL----------.png)|![](./images-std/1.sfppl----------.png)|![](./images-jmsml/SFPPL----------.png)|SFPPL----------|WAR.SPC.SLV|Space Launch Vehicle|POINT|A||
|711||![](./images/SFPPS----------.png)|![](./images-std/1.sfpps----------.png)|![](./images-jmsml/SFPPS----------.png)|SFPPS----------|WAR.SPC.SAT|Satellite|POINT|A||
|712||![](./images/SFPPT----------.png)|![](./images-std/1.sfppt----------.png)|![](./images-jmsml/SFPPT----------.png)|SFPPT----------|WAR.SPC.SST|Space Station|POINT|A||
|713||![](./images/SFPPV----------.png)|![](./images-std/1.sfppv----------.png)|![](./images-jmsml/SFPPV----------.png)|SFPPV----------|WAR.SPC.CSV|Crewed Space Vehicle|POINT|A||
|714||![](./images/SFSP-----------.png)|![](./images-std/1.sfsp-----------.png)|![](./images-jmsml/SFSP-----------.png)|SFSP-----------|WAR.SSUF|Sea Surface Track|POINT|A||
|715||![](./images/SFSPC----------.png)|![](./images-std/1.sfspc----------.png)|![](./images-jmsml/SFSPC----------.png)|SFSPC----------|WAR.SSUF.CBTT|Combatant|POINT|A||
|716||![](./images/SFSPCA---------.png)|![](./images-std/1.sfspca---------.png)|![](./images-jmsml/SFSPCA---------.png)|SFSPCA---------|WAR.SSUF.CBTT.AMPWS|Amphibious Warfare Ship|POINT|A||
|717||![](./images/SFSPCALA-------.png)|![](./images-std/1.sfspcala-------.png)|![](./images-jmsml/SFSPCALA-------.png)|SFSPCALA-------|WAR.SSUF.CBTT.AMPWS.ASTVES|Assault Vessel|POINT|A||
|718||![](./images/SFSPCALC-------.png)|![](./images-std/1.sfspcalc-------.png)|![](./images-jmsml/SFSPCALC-------.png)|SFSPCALC-------|WAR.SSUF.CBTT.AMPWS.LNDCRT|Landing Craft|POINT|A||
|719||![](./images/SFSPCALS-------.png)|![](./images-std/1.sfspcals-------.png)|![](./images-jmsml/SFSPCALS-------.png)|SFSPCALS-------|WAR.SSUF.CBTT.AMPWS.LNDSHP|Landing Ship|POINT|A||
|720||![](./images/SFSPCALSM------.png)|![](./images-std/1.sfspcalsm------.png)|![](./images-jmsml/SFSPCALSM------.png)|SFSPCALSM------|WAR.SSUF.CBTT.AMPWS.LNDSHP.MDM|Landing Ship Medium|POINT|A||
|721||![](./images/SFSPCALST------.png)|![](./images-std/1.sfspcalst------.png)|![](./images-jmsml/SFSPCALST------.png)|SFSPCALST------|WAR.SSUF.CBTT.AMPWS.LNDSHP.TANK|Landing Ship Tank|POINT|A||
|722||![](./images/SFSPCD---------.png)|![](./images-std/1.sfspcd---------.png)|![](./images-jmsml/SFSPCD---------.png)|SFSPCD---------|WAR.SSUF.CBTT.SUFDCY|Surface Decoy|POINT|A||
|723||![](./images/SFSPCH---------.png)|![](./images-std/1.sfspch---------.png)|![](./images-jmsml/SFSPCH---------.png)|SFSPCH---------|WAR.SSUF.CBTT.HOV|Hovercraft|POINT|A||
|724||![](./images/SFSPCL---------.png)|![](./images-std/1.sfspcl---------.png)|![](./images-jmsml/SFSPCL---------.png)|SFSPCL---------|WAR.SSUF.CBTT.LNE|Line|POINT|A||
|725||![](./images/SFSPCLBB-------.png)|![](./images-std/1.sfspclbb-------.png)|![](./images-jmsml/SFSPCLBB-------.png)|SFSPCLBB-------|WAR.SSUF.CBTT.LNE.BBS|Battleship|POINT|A||
|726||![](./images/SFSPCLCC-------.png)|![](./images-std/1.sfspclcc-------.png)|![](./images-jmsml/SFSPCLCC-------.png)|SFSPCLCC-------|WAR.SSUF.CBTT.LNE.CRU|Cruiser|POINT|A||
|727||![](./images/SFSPCLCV-------.png)|![](./images-std/1.sfspclcv-------.png)|![](./images-jmsml/SFSPCLCV-------.png)|SFSPCLCV-------|WAR.SSUF.CBTT.LNE.CRR|Carrier|POINT|A||
|728||![](./images/SFSPCLDD-------.png)|![](./images-std/1.sfspcldd-------.png)|![](./images-jmsml/SFSPCLDD-------.png)|SFSPCLDD-------|WAR.SSUF.CBTT.LNE.DD|Destroyer|POINT|A||
|729||![](./images/SFSPCLFF-------.png)|![](./images-std/1.sfspclff-------.png)|![](./images-jmsml/SFSPCLFF-------.png)|SFSPCLFF-------|WAR.SSUF.CBTT.LNE.FFR|Frigate/Corvette|POINT|A||
|730||![](./images/SFSPCLLL-------.png)|![](./images-std/1.sfspclll-------.png)|![](./images-jmsml/SFSPCLLL-------.png)|SFSPCLLL-------|WAR.SSUF.CBTT.LNE.LL|Littoral Combatant|POINT|A||
|731||![](./images/SFSPCLLLAS-----.png)|![](./images-std/1.sfspclllas-----.png)|![](./images-jmsml/SFSPCLLLAS-----.png)|SFSPCLLLAS-----|WAR.SSUF.CBTT.LNE.LL.ASBW|Antisubmarine Warfare Mission Package|POINT|A||
|732||![](./images/SFSPCLLLMI-----.png)|![](./images-std/1.sfspclllmi-----.png)|![](./images-jmsml/SFSPCLLLMI-----.png)|SFSPCLLLMI-----|WAR.SSUF.CBTT.LNE.LL.MNEW|Mine Warfare Mission Package|POINT|A||
|733||![](./images/SFSPCLLLSU-----.png)|![](./images-std/1.sfspclllsu-----.png)|![](./images-jmsml/SFSPCLLLSU-----.png)|SFSPCLLLSU-----|WAR.SSUF.CBTT.LNE.LL.SUW|Surface Warfare (Suw) Mission Package|POINT|A||
|734||![](./images/SFSPCM---------.png)|![](./images-std/1.sfspcm---------.png)|![](./images-jmsml/SFSPCM---------.png)|SFSPCM---------|WAR.SSUF.CBTT.MNEWV|Mine Warfare Vessel|POINT|A||
|735||![](./images/SFSPCMMA-------.png)|![](./images-std/1.sfspcmma-------.png)|![](./images-jmsml/SFSPCMMA-------.png)|SFSPCMMA-------|WAR.SSUF.CBTT.MNEWV.MCMSUP|Mcm Support|POINT|A||
|736||![](./images/SFSPCMMH-------.png)|![](./images-std/1.sfspcmmh-------.png)|![](./images-jmsml/SFSPCMMH-------.png)|SFSPCMMH-------|WAR.SSUF.CBTT.MNEWV.MNEHNT|Minehunter|POINT|A||
|737||![](./images/SFSPCMML-------.png)|![](./images-std/1.sfspcmml-------.png)|![](./images-jmsml/SFSPCMML-------.png)|SFSPCMML-------|WAR.SSUF.CBTT.MNEWV.MNELYR|Minelayer|POINT|A||
|738||![](./images/SFSPCMMS-------.png)|![](./images-std/1.sfspcmms-------.png)|![](./images-jmsml/SFSPCMMS-------.png)|SFSPCMMS-------|WAR.SSUF.CBTT.MNEWV.MNESWE|Minesweeper|POINT|A||
|739||![](./images/SFSPCP---------.png)|![](./images-std/1.sfspcp---------.png)|![](./images-jmsml/SFSPCP---------.png)|SFSPCP---------|WAR.SSUF.CBTT.PAT|Patrol|POINT|A||
|740||![](./images/SFSPCPSB-------.png)|![](./images-std/1.sfspcpsb-------.png)|![](./images-jmsml/SFSPCPSB-------.png)|SFSPCPSB-------|WAR.SSUF.CBTT.PAT.ASBW|Antisubmarine Warfare|POINT|A||
|741||![](./images/SFSPCPSU-------.png)|![](./images-std/1.sfspcpsu-------.png)|![](./images-jmsml/SFSPCPSU-------.png)|SFSPCPSU-------|WAR.SSUF.CBTT.PAT.ASUW|Antisurface Warfare|POINT|A||
|742||![](./images/SFSPCPSUG------.png)|![](./images-std/1.sfspcpsug------.png)|![](./images-jmsml/SFSPCPSUG------.png)|SFSPCPSUG------|WAR.SSUF.CBTT.PAT.ASUW.GUN|Gun Patrol Craft|POINT|A||
|743||![](./images/SFSPCPSUM------.png)|![](./images-std/1.sfspcpsum------.png)|![](./images-jmsml/SFSPCPSUM------.png)|SFSPCPSUM------|WAR.SSUF.CBTT.PAT.ASUW.ASMSL|Antiship Missile Patrol Craft|POINT|A||
|744||![](./images/SFSPCPSUT------.png)|![](./images-std/1.sfspcpsut------.png)|![](./images-jmsml/SFSPCPSUT------.png)|SFSPCPSUT------|WAR.SSUF.CBTT.PAT.ASUW.TPD|Torpedo Patrol Craft|POINT|A||
|745||![](./images/SFSPCU---------.png)|![](./images-std/1.sfspcu---------.png)|![](./images-jmsml/SFSPCU---------.png)|SFSPCU---------|WAR.SSUF.CBTT.USV|Unmanned Surface Vehicle|POINT|A||
|746||![](./images/SFSPCUM--------.png)|![](./images-std/1.sfspcum--------.png)|![](./images-jmsml/SFSPCUM--------.png)|SFSPCUM--------|WAR.SSUF.CBTT.USV.MNECM|Mine Countermeasures Surface Drone|POINT|A||
|747||![](./images/SFSPCUN--------.png)|![](./images-std/1.sfspcun--------.png)|![](./images-jmsml/SFSPCUN--------.png)|SFSPCUN--------|WAR.SSUF.CBTT.USV.ASUW|Antisurface Warfare Surface Drone|POINT|A||
|748||![](./images/SFSPCUR--------.png)|![](./images-std/1.sfspcur--------.png)|![](./images-jmsml/SFSPCUR--------.png)|SFSPCUR--------|WAR.SSUF.CBTT.USV.RMV|Remote Multimission Vehicle|POINT|A||
|749||![](./images/SFSPCUS--------.png)|![](./images-std/1.sfspcus--------.png)|![](./images-jmsml/SFSPCUS--------.png)|SFSPCUS--------|WAR.SSUF.CBTT.USV.ASBW|Antisubmarine Warfare Surface Drone|POINT|A||
|750||![](./images/SFSPG----------.png)|![](./images-std/1.sfspg----------.png)|![](./images-jmsml/SFSPG----------.png)|SFSPG----------|WAR.SSUF.CBTT.NAVGRP|Navy Group|POINT|A||
|751||![](./images/SFSPGC---------.png)|![](./images-std/1.sfspgc---------.png)|![](./images-jmsml/SFSPGC---------.png)|SFSPGC---------|WAR.SSUF.CBTT.NAVGRP.CNY|Convoy|POINT|A||
|752||![](./images/SFSPGG---------.png)|![](./images-std/1.sfspgg---------.png)|![](./images-jmsml/SFSPGG---------.png)|SFSPGG---------|WAR.SSUF.CBTT.NAVGRP.NAVTG|Navy Task Group|POINT|A||
|753||![](./images/SFSPGT---------.png)|![](./images-std/1.sfspgt---------.png)|![](./images-jmsml/SFSPGT---------.png)|SFSPGT---------|WAR.SSUF.CBTT.NAVGRP.NAVTF|Navy Task Force|POINT|A||
|754||![](./images/SFSPGU---------.png)|![](./images-std/1.sfspgu---------.png)|![](./images-jmsml/SFSPGU---------.png)|SFSPGU---------|WAR.SSUF.CBTT.NAVGRP.NAVTU|Navy Task Unit|POINT|A||
|755||![](./images/SFSPN----------.png)|![](./images-std/1.sfspn----------.png)|![](./images-jmsml/SFSPN----------.png)|SFSPN----------|WAR.SSUF.NCBTT|Noncombatant|POINT|A||
|756||![](./images/SFSPNF---------.png)|![](./images-std/1.sfspnf---------.png)|![](./images-jmsml/SFSPNF---------.png)|SFSPNF---------|WAR.SSUF.NCBTT.FLTSUP|Fleet Support|POINT|A||
|757||![](./images/SFSPNH---------.png)|![](./images-std/1.sfspnh---------.png)|![](./images-jmsml/SFSPNH---------.png)|SFSPNH---------|WAR.SSUF.NCBTT.HOV|Hovercraft|POINT|A||
|758||![](./images/SFSPNI---------.png)|![](./images-std/1.sfspni---------.png)|![](./images-jmsml/SFSPNI---------.png)|SFSPNI---------|WAR.SSUF.NCBTT.INT|Intelligence|POINT|A||
|759||![](./images/SFSPNM---------.png)|![](./images-std/1.sfspnm---------.png)|![](./images-jmsml/SFSPNM---------.png)|SFSPNM---------|WAR.SSUF.NCBTT.HSPSHP|Hospital Ship|POINT|A||
|760||![](./images/SFSPNR---------.png)|![](./images-std/1.sfspnr---------.png)|![](./images-jmsml/SFSPNR---------.png)|SFSPNR---------|WAR.SSUF.NCBTT.UWRPM|Underway Replenishment|POINT|A||
|761||![](./images/SFSPNS---------.png)|![](./images-std/1.sfspns---------.png)|![](./images-jmsml/SFSPNS---------.png)|SFSPNS---------|WAR.SSUF.NCBTT.SSH|Service & Support Harbor|POINT|A||
|762|PERHAPS|![](./images/SFSPO----------.png)|![](./images-std/1.sfspo----------.png)|![](./images-jmsml/SFSPO----------.png)|SFSPO----------|WAR.SSUF.OWN|Own Track|POINT|A||
|763||![](./images/SFSPXA---------.png)|![](./images-std/1.sfspxa---------.png)|![](./images-jmsml/SFSPXA---------.png)|SFSPXA---------|WAR.SSUF.NMIL.FSTREC|Fast Recreactional Craft|POINT|A||
|764||![](./images/SFSPXAR--------.png)|![](./images-std/1.sfspxar--------.png)|![](./images-jmsml/SFSPXAR--------.png)|SFSPXAR--------|WAR.SSUF.NMIL.FSTREC.RHIB|Rigid-Hull Inflatable Boat|POINT|A||
|765||![](./images/SFSPXAS--------.png)|![](./images-std/1.sfspxas--------.png)|![](./images-jmsml/SFSPXAS--------.png)|SFSPXAS--------|WAR.SSUF.NMIL.FSTREC.SPDBT|Speed Boat|POINT|A||
|766||![](./images/SFSPXF---------.png)|![](./images-std/1.sfspxf---------.png)|![](./images-jmsml/SFSPXF---------.png)|SFSPXF---------|WAR.SSUF.NMIL.FSG|Fishing|POINT|A||
|767||![](./images/SFSPXFDF-------.png)|![](./images-std/1.sfspxfdf-------.png)|![](./images-jmsml/SFSPXFDF-------.png)|SFSPXFDF-------|WAR.SSUF.NMIL.FSG.DRFT|Drifter|POINT|A||
|768||![](./images/SFSPXFDR-------.png)|![](./images-std/1.sfspxfdr-------.png)|![](./images-jmsml/SFSPXFDR-------.png)|SFSPXFDR-------|WAR.SSUF.NMIL.FSG.DRG|Dredge|POINT|A||
|769||![](./images/SFSPXFTR-------.png)|![](./images-std/1.sfspxftr-------.png)|![](./images-jmsml/SFSPXFTR-------.png)|SFSPXFTR-------|WAR.SSUF.NMIL.FSG.TRW|Trawler|POINT|A||
|770||![](./images/SFSPXH---------.png)|![](./images-std/1.sfspxh---------.png)|![](./images-jmsml/SFSPXH---------.png)|SFSPXH---------|WAR.SSUF.NMIL.HOV|Hovercraft|POINT|A||
|771||![](./images/SFSPXL---------.png)|![](./images-std/1.sfspxl---------.png)|![](./images-jmsml/SFSPXL---------.png)|SFSPXL---------|WAR.SSUF.NMIL.LAWENV|Law Enforcement Vessel|POINT|A||
|772||![](./images/SFSPXM---------.png)|![](./images-std/1.sfspxm---------.png)|![](./images-jmsml/SFSPXM---------.png)|SFSPXM---------|WAR.SSUF.NMIL.MCT|Merchant|POINT|A||
|773||![](./images/SFSPXMC--------.png)|![](./images-std/1.sfspxmc--------.png)|![](./images-jmsml/SFSPXMC--------.png)|SFSPXMC--------|WAR.SSUF.NMIL.MCT.CGO|Cargo|POINT|A||
|774||![](./images/SFSPXMF--------.png)|![](./images-std/1.sfspxmf--------.png)|![](./images-jmsml/SFSPXMF--------.png)|SFSPXMF--------|WAR.SSUF.NMIL.MCT.FRY|Ferry|POINT|A||
|775||![](./images/SFSPXMH--------.png)|![](./images-std/1.sfspxmh--------.png)|![](./images-jmsml/SFSPXMH--------.png)|SFSPXMH--------|WAR.SSUF.NMIL.MCT.HAZMAT|Hazardous Materials (Hazmat)|POINT|A||
|776||![](./images/SFSPXMO--------.png)|![](./images-std/1.sfspxmo--------.png)|![](./images-jmsml/SFSPXMO--------.png)|SFSPXMO--------|WAR.SSUF.NMIL.MCT.OLR|Oiler/Tanker|POINT|A||
|777||![](./images/SFSPXMP--------.png)|![](./images-std/1.sfspxmp--------.png)|![](./images-jmsml/SFSPXMP--------.png)|SFSPXMP--------|WAR.SSUF.NMIL.MCT.PSG|Passenger|POINT|A||
|778||![](./images/SFSPXMR--------.png)|![](./images-std/1.sfspxmr--------.png)|![](./images-jmsml/SFSPXMR--------.png)|SFSPXMR--------|WAR.SSUF.NMIL.MCT.RORO|Roll On/Roll Off|POINT|A||
|779||![](./images/SFSPXMTO-------.png)|![](./images-std/1.sfspxmto-------.png)|![](./images-jmsml/SFSPXMTO-------.png)|SFSPXMTO-------|WAR.SSUF.NMIL.MCT.TOWVES|Towing Vessel|POINT|A||
|780||![](./images/SFSPXMTU-------.png)|![](./images-std/1.sfspxmtu-------.png)|![](./images-jmsml/SFSPXMTU-------.png)|SFSPXMTU-------|WAR.SSUF.NMIL.MCT.TUG|Tug|POINT|A||
|781||![](./images/SFSPXP---------.png)|![](./images-std/1.sfspxp---------.png)|![](./images-jmsml/SFSPXP---------.png)|SFSPXP---------|WAR.SSUF.NMIL.PWC|Personal Watercraft|POINT|A||
|782||![](./images/SFSPXR---------.png)|![](./images-std/1.sfspxr---------.png)|![](./images-jmsml/SFSPXR---------.png)|SFSPXR---------|WAR.SSUF.NMIL.LESCRT|Leisure Craft|POINT|A||
|783||![](./images/SFUP-----------.png)|![](./images-std/1.sfup-----------.png)|![](./images-jmsml/SFUP-----------.png)|SFUP-----------|WAR.SBSUF|Subsurface Track|POINT|A||
|784|PERHAPS|![](./images/SFUPE----------.png)|![](./images-std/1.sfupe----------.png)|![](./images-jmsml/SFUPE----------.png)|SFUPE----------|WAR.SBSUF.ERL|Environmental Report Location|POINT|A||
|785|PERHAPS|![](./images/SFUPND---------.png)|![](./images-std/1.sfupnd---------.png)|![](./images-jmsml/SFUPND---------.png)|SFUPND---------|WAR.SBSUF.NSUB.DVR|Diver|POINT|A||
|786||![](./images/SFUPS----------.png)|![](./images-std/1.sfups----------.png)|![](./images-jmsml/SFUPS----------.png)|SFUPS----------|WAR.SBSUF.SUB|Submarine|POINT|A||
|787||![](./images/SFUPS1---------.png)|![](./images-std/1.sfups1---------.png)|![](./images-jmsml/SFUPS1---------.png)|SFUPS1---------|WAR.SBSUF.SUB.POSS1|Possible Submarine 1|POINT|A||
|788||![](./images/SFUPS2---------.png)|![](./images-std/1.sfups2---------.png)|![](./images-jmsml/SFUPS2---------.png)|SFUPS2---------|WAR.SBSUF.SUB.POSS2|Possible Submarine 2|POINT|A||
|789||![](./images/SFUPS3---------.png)|![](./images-std/1.sfups3---------.png)|![](./images-jmsml/SFUPS3---------.png)|SFUPS3---------|WAR.SBSUF.SUB.POSS3|Possible Submarine 3|POINT|A||
|790||![](./images/SFUPS4---------.png)|![](./images-std/1.sfups4---------.png)|![](./images-jmsml/SFUPS4---------.png)|SFUPS4---------|WAR.SBSUF.SUB.POSS4|Possible Submarine 4|POINT|A||
|791||![](./images/SFUPSB---------.png)|![](./images-std/1.sfupsb---------.png)|![](./images-jmsml/SFUPSB---------.png)|SFUPSB---------|WAR.SBSUF.SUB.BOTTMD|Bottomed|POINT|A||
|792||![](./images/SFUPSC---------.png)|![](./images-std/1.sfupsc---------.png)|![](./images-jmsml/SFUPSC---------.png)|SFUPSC---------|WAR.SBSUF.SUB.CNVPRN|Conventional Propulsion|POINT|A||
|793||![](./images/SFUPSCA--------.png)|![](./images-std/1.sfupsca--------.png)|![](./images-jmsml/SFUPSCA--------.png)|SFUPSCA--------|WAR.SBSUF.SUB.CNVPRN.ATK|Attack Submarine (Ss)|POINT|A||
|794||![](./images/SFUPSCB--------.png)|![](./images-std/1.sfupscb--------.png)|![](./images-jmsml/SFUPSCB--------.png)|SFUPSCB--------|WAR.SBSUF.SUB.CNVPRN.BLST|Ballistic Missile Submarine (Ssb)|POINT|A||
|795||![](./images/SFUPSCF--------.png)|![](./images-std/1.sfupscf--------.png)|![](./images-jmsml/SFUPSCF--------.png)|SFUPSCF--------|WAR.SBSUF.SUB.CNVPRN.SURF|Surfaced Conventional Propulsion Submarine|POINT|A||
|796||![](./images/SFUPSCG--------.png)|![](./images-std/1.sfupscg--------.png)|![](./images-jmsml/SFUPSCG--------.png)|SFUPSCG--------|WAR.SBSUF.SUB.CNVPRN.GDD|Guided Missile Submarine (Ssg)|POINT|A||
|797||![](./images/SFUPSCM--------.png)|![](./images-std/1.sfupscm--------.png)|![](./images-jmsml/SFUPSCM--------.png)|SFUPSCM--------|WAR.SBSUF.SUB.CNVPRN.MSL|Missile Submarine (Type Unknown)|POINT|A||
|798||![](./images/SFUPSF---------.png)|![](./images-std/1.sfupsf---------.png)|![](./images-jmsml/SFUPSF---------.png)|SFUPSF---------|WAR.SBSUF.SUB.SURF|Surfaced Submarine|POINT|A||
|799||![](./images/SFUPSK---------.png)|![](./images-std/1.sfupsk---------.png)|![](./images-jmsml/SFUPSK---------.png)|SFUPSK---------|WAR.SBSUF.SUB.SNORKL|Snorkeling Submarine|POINT|A||
|800||![](./images/SFUPSL---------.png)|![](./images-std/1.sfupsl---------.png)|![](./images-jmsml/SFUPSL---------.png)|SFUPSL---------|WAR.SBSUF.SUB.PRBSUB|Probable Submarine|POINT|A||
|801||![](./images/SFUPSN---------.png)|![](./images-std/1.sfupsn---------.png)|![](./images-jmsml/SFUPSN---------.png)|SFUPSN---------|WAR.SBSUF.SUB.NPRN|Nuclear Propulsion|POINT|A||
|802||![](./images/SFUPSNA--------.png)|![](./images-std/1.sfupsna--------.png)|![](./images-jmsml/SFUPSNA--------.png)|SFUPSNA--------|WAR.SBSUF.SUB.NPRN.ATK|Attack Submarine (Ssn)|POINT|A||
|803||![](./images/SFUPSNB--------.png)|![](./images-std/1.sfupsnb--------.png)|![](./images-jmsml/SFUPSNB--------.png)|SFUPSNB--------|WAR.SBSUF.SUB.NPRN.BLST|Ballistic Missile Submarine (Ssbn)|POINT|A||
|804||![](./images/SFUPSNF--------.png)|![](./images-std/1.sfupsnf--------.png)|![](./images-jmsml/SFUPSNF--------.png)|SFUPSNF--------|WAR.SBSUF.SUB.NPRN.SURF|Surfaced Nuclear Propulsion Submarine|POINT|A||
|805||![](./images/SFUPSNG--------.png)|![](./images-std/1.sfupsng--------.png)|![](./images-jmsml/SFUPSNG--------.png)|SFUPSNG--------|WAR.SBSUF.SUB.NPRN.GDD|Guided Missile Submarine (Ssgn)|POINT|A||
|806||![](./images/SFUPSNM--------.png)|![](./images-std/1.sfupsnm--------.png)|![](./images-jmsml/SFUPSNM--------.png)|SFUPSNM--------|WAR.SBSUF.SUB.NPRN.MSL|Missile Submarine (Type Unknown)|POINT|A||
|807||![](./images/SFUPSO---------.png)|![](./images-std/1.sfupso---------.png)|![](./images-jmsml/SFUPSO---------.png)|SFUPSO---------|WAR.SBSUF.SUB.OTH|Other Submersible|POINT|A||
|808||![](./images/SFUPSOF--------.png)|![](./images-std/1.sfupsof--------.png)|![](./images-jmsml/SFUPSOF--------.png)|SFUPSOF--------|WAR.SBSUF.SUB.OTH.SURF|Surfaced Other Submersible|POINT|A||
|809||![](./images/SFUPSR---------.png)|![](./images-std/1.sfupsr---------.png)|![](./images-jmsml/SFUPSR---------.png)|SFUPSR---------|WAR.SBSUF.SUB.CRT|Certain Submarine|POINT|A||
|810||![](./images/SFUPSU---------.png)|![](./images-std/1.sfupsu---------.png)|![](./images-jmsml/SFUPSU---------.png)|SFUPSU---------|WAR.SBSUF.SUB.UUV|Unmanned Underwater Vehicle (Uuv)|POINT|A||
|811||![](./images/SFUPSUM--------.png)|![](./images-std/1.sfupsum--------.png)|![](./images-jmsml/SFUPSUM--------.png)|SFUPSUM--------|WAR.SBSUF.SUB.UUV.MNEW|Mine Warfare Subsurface Drone|POINT|A||
|812||![](./images/SFUPSUN--------.png)|![](./images-std/1.sfupsun--------.png)|![](./images-jmsml/SFUPSUN--------.png)|SFUPSUN--------|WAR.SBSUF.SUB.UUV.ASUW|Antisurface Warfare Subsurface Drone|POINT|A||
|813||![](./images/SFUPSUS--------.png)|![](./images-std/1.sfupsus--------.png)|![](./images-jmsml/SFUPSUS--------.png)|SFUPSUS--------|WAR.SBSUF.SUB.UUV.ASBW|Antisubmarine Warfare Subsurface Drone|POINT|A||
|814||![](./images/SFUPSX---------.png)|![](./images-std/1.sfupsx---------.png)|![](./images-jmsml/SFUPSX---------.png)|SFUPSX---------|WAR.SBSUF.SUB.NONSUB|Nonsubmarine|POINT|A||
|815|PERHAPS|![](./images/SFUPV----------.png)|![](./images-std/1.sfupv----------.png)|![](./images-jmsml/SFUPV----------.png)|SFUPV----------|WAR.SBSUF.DRL|Dive Report Location|POINT|A||
|816||![](./images/SFUPW----------.png)|![](./images-std/1.sfupw----------.png)|![](./images-jmsml/SFUPW----------.png)|SFUPW----------|WAR.SBSUF.UH2WPN|Underwater Weapon|POINT|A||
|817||![](./images/SFUPWD---------.png)|![](./images-std/1.sfupwd---------.png)|![](./images-jmsml/SFUPWD---------.png)|SFUPWD---------|WAR.SBSUF.UH2DCY|Underwater Decoy|POINT|A||
|818|PERHAPS|![](./images/SFUPWDM--------.png)|![](./images-std/1.sfupwdm--------.png)|![](./images-jmsml/SFUPWDM--------.png)|SFUPWDM--------|WAR.SBSUF.UH2DCY.SMDCY|Sea Mine Decoy|POINT|A||
|819|PERHAPS|![](./images/SFUPWDMG-------.png)|![](./images-std/1.sfupwdmg-------.png)|![](./images-jmsml/SFUPWDMG-------.png)|SFUPWDMG-------|WAR.SBSUF.UH2DCY.SMDCY.GRND|Ground (Bottom) Decoy|POINT|A||
|820|PERHAPS|![](./images/SFUPWDMM-------.png)|![](./images-std/1.sfupwdmm-------.png)|![](./images-jmsml/SFUPWDMM-------.png)|SFUPWDMM-------|WAR.SBSUF.UH2DCY.SMDCY.MOORED|Moored Decoy|POINT|A||
|821|PERHAPS|![](./images/SFUPWM---------.png)|![](./images-std/1.sfupwm---------.png)|![](./images-jmsml/SFUPWM---------.png)|SFUPWM---------|WAR.SBSUF.UH2WPN.SMNE|Sea Mine|POINT|A||
|822|PERHAPS|![](./images/SFUPWMA--------.png)|![](./images-std/1.sfupwma--------.png)|![](./images-jmsml/SFUPWMA--------.png)|SFUPWMA--------|WAR.SBSUF.UH2WPN.SMNE.ANCHOR|General Mine Anchor|POINT|A||
|823|PERHAPS|![](./images/SFUPWMB--------.png)|![](./images-std/1.sfupwmb--------.png)|![](./images-jmsml/SFUPWMB--------.png)|SFUPWMB--------|WAR.SBSUF.UH2WPN.SMNE.OBSTRC|General Obstructor|POINT|A||
|824|PERHAPS|![](./images/SFUPWMBD-------.png)|![](./images-std/1.sfupwmbd-------.png)|![](./images-jmsml/SFUPWMBD-------.png)|SFUPWMBD-------|WAR.SBSUF.UH2WPN.SMNE.OBSTRC.NTRLZD|General Neutralized Obstructor|POINT|A||
|825|PERHAPS|![](./images/SFUPWMC--------.png)|![](./images-std/1.sfupwmc--------.png)|![](./images-jmsml/SFUPWMC--------.png)|SFUPWMC--------|WAR.SBSUF.UH2WPN.SMNE.MILCO|General Mine-Like Contact (Milco)|POINT|A||
|826|PERHAPS|![](./images/SFUPWMD--------.png)|![](./images-std/1.sfupwmd--------.png)|![](./images-jmsml/SFUPWMD--------.png)|SFUPWMD--------|WAR.SBSUF.UH2WPN.SMNE.NTRLZD|Sea Mine Neutralized|POINT|A||
|827|PERHAPS|![](./images/SFUPWME--------.png)|![](./images-std/1.sfupwme--------.png)|![](./images-jmsml/SFUPWME--------.png)|SFUPWME--------|WAR.SBSUF.UH2WPN.SMNE.MILEC|General Mine-Like Echo (Milec)|POINT|A||
|828|PERHAPS|![](./images/SFUPWMF--------.png)|![](./images-std/1.sfupwmf--------.png)|![](./images-jmsml/SFUPWMF--------.png)|SFUPWMF--------|WAR.SBSUF.UH2WPN.SMNE.SMF|Sea Mine (Floating)|POINT|A||
|829|PERHAPS|![](./images/SFUPWMFC-------.png)|![](./images-std/1.sfupwmfc-------.png)|![](./images-jmsml/SFUPWMFC-------.png)|SFUPWMFC-------|WAR.SBSUF.UH2WPN.SMNE.SMF.MILCO|Floating Mine-Like Contact (Milco)|POINT|A||
|830|PERHAPS|![](./images/SFUPWMFD-------.png)|![](./images-std/1.sfupwmfd-------.png)|![](./images-jmsml/SFUPWMFD-------.png)|SFUPWMFD-------|WAR.SBSUF.UH2WPN.SMNE.SMF.NTRLZD|Sea Mine (Floating) Neutralized|POINT|A||
|831|PERHAPS|![](./images/SFUPWMFE-------.png)|![](./images-std/1.sfupwmfe-------.png)|![](./images-jmsml/SFUPWMFE-------.png)|SFUPWMFE-------|WAR.SBSUF.UH2WPN.SMNE.SMF.MILEC|Floating Mine-Like Echo (Milec)|POINT|A||
|832|PERHAPS|![](./images/SFUPWMFO-------.png)|![](./images-std/1.sfupwmfo-------.png)|![](./images-jmsml/SFUPWMFO-------.png)|SFUPWMFO-------|WAR.SBSUF.UH2WPN.SMNE.SMF.NMMLCO|Floating Non-Mine Mine-Like Contact|POINT|A||
|833|PERHAPS|![](./images/SFUPWMFR-------.png)|![](./images-std/1.sfupwmfr-------.png)|![](./images-jmsml/SFUPWMFR-------.png)|SFUPWMFR-------|WAR.SBSUF.UH2WPN.SMNE.SMF.NGREAC|Floating Negative Reacquisition|POINT|A||
|834|PERHAPS|![](./images/SFUPWMFX-------.png)|![](./images-std/1.sfupwmfx-------.png)|![](./images-jmsml/SFUPWMFX-------.png)|SFUPWMFX-------|WAR.SBSUF.UH2WPN.SMNE.SMF.EXER|Floating Exercise Mine|POINT|A||
|835|PERHAPS|![](./images/SFUPWMG--------.png)|![](./images-std/1.sfupwmg--------.png)|![](./images-jmsml/SFUPWMG--------.png)|SFUPWMG--------|WAR.SBSUF.UH2WPN.SMNE.SMG|Sea Mine (Ground)|POINT|A||
|836|PERHAPS|![](./images/SFUPWMGC-------.png)|![](./images-std/1.sfupwmgc-------.png)|![](./images-jmsml/SFUPWMGC-------.png)|SFUPWMGC-------|WAR.SBSUF.UH2WPN.SMNE.SMG.MILCO|Ground (Bottom) Mine-Like Contact (Milco)|POINT|A||
|837|PERHAPS|![](./images/SFUPWMGD-------.png)|![](./images-std/1.sfupwmgd-------.png)|![](./images-jmsml/SFUPWMGD-------.png)|SFUPWMGD-------|WAR.SBSUF.UH2WPN.SMNE.SMG.NTRLZD|Sea Mine (Ground) Neutralized|POINT|A||
|838|PERHAPS|![](./images/SFUPWMGE-------.png)|![](./images-std/1.sfupwmge-------.png)|![](./images-jmsml/SFUPWMGE-------.png)|SFUPWMGE-------|WAR.SBSUF.UH2WPN.SMNE.SMG.MILEC|Ground (Bottom) Mine-Like Echo (Milec)|POINT|A||
|839|PERHAPS|![](./images/SFUPWMGO-------.png)|![](./images-std/1.sfupwmgo-------.png)|![](./images-jmsml/SFUPWMGO-------.png)|SFUPWMGO-------|WAR.SBSUF.UH2WPN.SMNE.SMG.NMMLCO|Ground (Bottom) Non-Mine Mine-Like Contact|POINT|A||
|840|PERHAPS|![](./images/SFUPWMGR-------.png)|![](./images-std/1.sfupwmgr-------.png)|![](./images-jmsml/SFUPWMGR-------.png)|SFUPWMGR-------|WAR.SBSUF.UH2WPN.SMNE.SMG.NGREAC|Ground (Bottom) Negative Reacquisition|POINT|A||
|841|PERHAPS|![](./images/SFUPWMGX-------.png)|![](./images-std/1.sfupwmgx-------.png)|![](./images-jmsml/SFUPWMGX-------.png)|SFUPWMGX-------|WAR.SBSUF.UH2WPN.SMNE.SMG.EXER|Ground (Bottom) Exercise Mine|POINT|A||
|842|PERHAPS|![](./images/SFUPWMM--------.png)|![](./images-std/1.sfupwmm--------.png)|![](./images-jmsml/SFUPWMM--------.png)|SFUPWMM--------|WAR.SBSUF.UH2WPN.SMNE.SMM|Sea Mine (Moored)|POINT|A||
|843|PERHAPS|![](./images/SFUPWMMC-------.png)|![](./images-std/1.sfupwmmc-------.png)|![](./images-jmsml/SFUPWMMC-------.png)|SFUPWMMC-------|WAR.SBSUF.UH2WPN.SMNE.SMM.MILCO|Moored Mine-Like Contact|POINT|A||
|844|PERHAPS|![](./images/SFUPWMMD-------.png)|![](./images-std/1.sfupwmmd-------.png)|![](./images-jmsml/SFUPWMMD-------.png)|SFUPWMMD-------|WAR.SBSUF.UH2WPN.SMNE.SMM.NTRLZD|Sea Mine (Moored) Neutralized|POINT|A||
|845|PERHAPS|![](./images/SFUPWMME-------.png)|![](./images-std/1.sfupwmme-------.png)|![](./images-jmsml/SFUPWMME-------.png)|SFUPWMME-------|WAR.SBSUF.UH2WPN.SMNE.SMM.MILEC|Moored Mine-Like Echo|POINT|A||
|846|PERHAPS|![](./images/SFUPWMMO-------.png)|![](./images-std/1.sfupwmmo-------.png)|![](./images-jmsml/SFUPWMMO-------.png)|SFUPWMMO-------|WAR.SBSUF.UH2WPN.SMNE.SMM.NMMLCO|Moored Non-Mine Mine-Like Object|POINT|A||
|847|PERHAPS|![](./images/SFUPWMMR-------.png)|![](./images-std/1.sfupwmmr-------.png)|![](./images-jmsml/SFUPWMMR-------.png)|SFUPWMMR-------|WAR.SBSUF.UH2WPN.SMNE.SMM.NGREAC|Moored Negative Reacquisition|POINT|A||
|848|PERHAPS|![](./images/SFUPWMMX-------.png)|![](./images-std/1.sfupwmmx-------.png)|![](./images-jmsml/SFUPWMMX-------.png)|SFUPWMMX-------|WAR.SBSUF.UH2WPN.SMNE.SMM.EXER|Moored Exercise Mine|POINT|A||
|849|PERHAPS|![](./images/SFUPWMN--------.png)|![](./images-std/1.sfupwmn--------.png)|![](./images-jmsml/SFUPWMN--------.png)|SFUPWMN--------|WAR.SBSUF.UH2WPN.SMNE.NMMLCO|General Non-Mine Mine-Like Object|POINT|A||
|850|PERHAPS|![](./images/SFUPWMO--------.png)|![](./images-std/1.sfupwmo--------.png)|![](./images-jmsml/SFUPWMO--------.png)|SFUPWMO--------|WAR.SBSUF.UH2WPN.SMNE.SMOP|Sea Mine (Other Position)|POINT|A||
|851|PERHAPS|![](./images/SFUPWMOD-------.png)|![](./images-std/1.sfupwmod-------.png)|![](./images-jmsml/SFUPWMOD-------.png)|SFUPWMOD-------|WAR.SBSUF.UH2WPN.SMNE.SMOP.NTRLZD|Sea Mine (Other Position) Neutralized|POINT|A||
|852|PERHAPS|![](./images/SFUPWMR--------.png)|![](./images-std/1.sfupwmr--------.png)|![](./images-jmsml/SFUPWMR--------.png)|SFUPWMR--------|WAR.SBSUF.UH2WPN.SMNE.NGREAC|General Negative Reacquisition|POINT|A||
|853|PERHAPS|![](./images/SFUPWMS--------.png)|![](./images-std/1.sfupwms--------.png)|![](./images-jmsml/SFUPWMS--------.png)|SFUPWMS--------|WAR.SBSUF.UH2WPN.SMNE.RISING|Rising Mine|POINT|A||
|854|PERHAPS|![](./images/SFUPWMSD-------.png)|![](./images-std/1.sfupwmsd-------.png)|![](./images-jmsml/SFUPWMSD-------.png)|SFUPWMSD-------|WAR.SBSUF.UH2WPN.SMNE.RISING.NTRLZD|Rising Neutralized Mine|POINT|A||
|855|PERHAPS|![](./images/SFUPWMSX-------.png)|![](./images-std/1.sfupwmsx-------.png)|![](./images-jmsml/SFUPWMSX-------.png)|SFUPWMSX-------|WAR.SBSUF.UH2WPN.SMNE.RISING.EXER|Rising Exercise Mine|POINT|A||
|856|PERHAPS|![](./images/SFUPWMX--------.png)|![](./images-std/1.sfupwmx--------.png)|![](./images-jmsml/SFUPWMX--------.png)|SFUPWMX--------|WAR.SBSUF.UH2WPN.SMNE.EXER|General Exercise Mine|POINT|A||
|857|PERHAPS|![](./images/SFUPWT---------.png)|![](./images-std/1.sfupwt---------.png)|![](./images-jmsml/SFUPWT---------.png)|SFUPWT---------|WAR.SBSUF.UH2WPN.TPD|Torpedo|POINT|A||
|858|PERHAPS|![](./images/SFUPX----------.png)|![](./images-std/1.sfupx----------.png)|![](./images-jmsml/SFUPX----------.png)|SFUPX----------|WAR.SBSUF.UXO|Unexploded Ordnance Area|POINT|A||
|859||![](./images/GFFPACAC------X.png)|![](./images-std/1.g-fpacac------x.png)|![](./images-jmsml/GFFPACAC------X.png)|GFFPACAC------X|TACGRP.FSUPP.ARS.C2ARS.ACA.CIRCLR|Airspace Coordination Area (Aca)  Circular|AREA|B||
|860||![](./images/GFFPACAI------X.png)|![](./images-std/1.g-fpacai------x.png)|![](./images-jmsml/GFFPACAI------X.png)|GFFPACAI------X|TACGRP.FSUPP.ARS.C2ARS.ACA.IRR|Airspace Coordination Area (Aca)  Irregular|AREA|B||
|861||![](./images/GFFPACAR------X.png)|![](./images-std/1.g-fpacar------x.png)|![](./images-jmsml/GFFPACAR------X.png)|GFFPACAR------X|TACGRP.FSUPP.ARS.C2ARS.ACA.RTG|Airspace Coordination Area (Aca)  Rectangular|AREA|B||
|862||![](./images/GFFPACBC------X.png)|![](./images-std/1.g-fpacbc------x.png)|![](./images-jmsml/GFFPACBC------X.png)|GFFPACBC------X|TACGRP.FSUPP.ARS.C2ARS.TBA.CIRCLR|Target Build Up Area (Tba)  Circular|AREA|B||
|863||![](./images/GFFPACBI------X.png)|![](./images-std/1.g-fpacbi------x.png)|![](./images-jmsml/GFFPACBI------X.png)|GFFPACBI------X|TACGRP.FSUPP.ARS.C2ARS.TBA.IRR|Target Build Up Area (Tba)  Irregular|AREA|B||
|864||![](./images/GFFPACBR------X.png)|![](./images-std/1.g-fpacbr------x.png)|![](./images-jmsml/GFFPACBR------X.png)|GFFPACBR------X|TACGRP.FSUPP.ARS.C2ARS.TBA.RTG|Target Build Up Area (Tba)  Rectangular|AREA|B||
|865||![](./images/GFFPACDC------X.png)|![](./images-std/1.g-fpacdc------x.png)|![](./images-jmsml/GFFPACDC------X.png)|GFFPACDC------X|TACGRP.FSUPP.ARS.C2ARS.DA.CIRCLR|Dead Space Area (Da)  Circular|AREA|B||
|866||![](./images/GFFPACDI------X.png)|![](./images-std/1.g-fpacdi------x.png)|![](./images-jmsml/GFFPACDI------X.png)|GFFPACDI------X|TACGRP.FSUPP.ARS.C2ARS.DA.IRR|Dead Space Area (Da)  Irregular|AREA|B||
|867||![](./images/GFFPACDR------X.png)|![](./images-std/1.g-fpacdr------x.png)|![](./images-jmsml/GFFPACDR------X.png)|GFFPACDR------X|TACGRP.FSUPP.ARS.C2ARS.DA.RTG|Dead Space Area (Da)  Rectangular|AREA|B||
|868||![](./images/GFFPACEC------X.png)|![](./images-std/1.g-fpacec------x.png)|![](./images-jmsml/GFFPACEC------X.png)|GFFPACEC------X|TACGRP.FSUPP.ARS.C2ARS.SNSZ.CIRCLR|Sensor Zone  Circular|AREA|B||
|869||![](./images/GFFPACEI------X.png)|![](./images-std/1.g-fpacei------x.png)|![](./images-jmsml/GFFPACEI------X.png)|GFFPACEI------X|TACGRP.FSUPP.ARS.C2ARS.SNSZ.IRR|Sensor Zone  Irregular|AREA|B||
|870||![](./images/GFFPACER------X.png)|![](./images-std/1.g-fpacer------x.png)|![](./images-jmsml/GFFPACER------X.png)|GFFPACER------X|TACGRP.FSUPP.ARS.C2ARS.SNSZ.RTG|Sensor Zone  Rectangular|AREA|B||
|871||![](./images/GFFPACFC------X.png)|![](./images-std/1.g-fpacfc------x.png)|![](./images-jmsml/GFFPACFC------X.png)|GFFPACFC------X|TACGRP.FSUPP.ARS.C2ARS.FFA.CIRCLR|Free Fire Area (Ffa)  Circular|AREA|B||
|872||![](./images/GFFPACFI------X.png)|![](./images-std/1.g-fpacfi------x.png)|![](./images-jmsml/GFFPACFI------X.png)|GFFPACFI------X|TACGRP.FSUPP.ARS.C2ARS.FFA.IRR|Free Fire Area (Ffa)  Irregular|AREA|B||
|873||![](./images/GFFPACFR------X.png)|![](./images-std/1.g-fpacfr------x.png)|![](./images-jmsml/GFFPACFR------X.png)|GFFPACFR------X|TACGRP.FSUPP.ARS.C2ARS.FFA.RTG|Free Fire Area (Ffa)  Rectangular|AREA|B||
|874||![](./images/GFFPACNC------X.png)|![](./images-std/1.g-fpacnc------x.png)|![](./images-jmsml/GFFPACNC------X.png)|GFFPACNC------X|TACGRP.FSUPP.ARS.C2ARS.NFA.CIRCLR|No Fire Area (Nfa)  Circular|AREA|B||
|875||![](./images/GFFPACNI------X.png)|![](./images-std/1.g-fpacni------x.png)|![](./images-jmsml/GFFPACNI------X.png)|GFFPACNI------X|TACGRP.FSUPP.ARS.C2ARS.NFA.IRR|No Fire Area (Nfa)  Irregular|AREA|B||
|876||![](./images/GFFPACNR------X.png)|![](./images-std/1.g-fpacnr------x.png)|![](./images-jmsml/GFFPACNR------X.png)|GFFPACNR------X|TACGRP.FSUPP.ARS.C2ARS.NFA.RTG|No Fire Area (Nfa)  Rectangular|AREA|B||
|877||![](./images/GFFPACPC------X.png)|![](./images-std/1.g-fpacpc------x.png)|![](./images-jmsml/GFFPACPC------X.png)|GFFPACPC------X|TACGRP.FSUPP.ARS.C2ARS.PAA.CIRCLR|Position Area For Artillery (Paa)  Circular|AREA|B||
|878||![](./images/GFFPACPR------X.png)|![](./images-std/1.g-fpacpr------x.png)|![](./images-jmsml/GFFPACPR------X.png)|GFFPACPR------X|TACGRP.FSUPP.ARS.C2ARS.PAA.RTG|Position Area For Artillery (Paa)  Rectangular|AREA|B||
|879||![](./images/GFFPACRC------X.png)|![](./images-std/1.g-fpacrc------x.png)|![](./images-jmsml/GFFPACRC------X.png)|GFFPACRC------X|TACGRP.FSUPP.ARS.C2ARS.RFA.CIRCLR|Restrictive Fire Area (Rfa)  Circular|AREA|B||
|880||![](./images/GFFPACRI------X.png)|![](./images-std/1.g-fpacri------x.png)|![](./images-jmsml/GFFPACRI------X.png)|GFFPACRI------X|TACGRP.FSUPP.ARS.C2ARS.RFA.IRR|Restrictive Fire Area (Rfa)  Irregular|AREA|B||
|881||![](./images/GFFPACRR------X.png)|![](./images-std/1.g-fpacrr------x.png)|![](./images-jmsml/GFFPACRR------X.png)|GFFPACRR------X|TACGRP.FSUPP.ARS.C2ARS.RFA.RTG|Restrictive Fire Area (Rfa)  Rectangular|AREA|B||
|882||![](./images/GFFPACSC------X.png)|![](./images-std/1.g-fpacsc------x.png)|![](./images-jmsml/GFFPACSC------X.png)|GFFPACSC------X|TACGRP.FSUPP.ARS.C2ARS.FSA.CIRCLR|Fire Support Area (Fsa)  Circular|AREA|B||
|883||![](./images/GFFPACSI------X.png)|![](./images-std/1.g-fpacsi------x.png)|![](./images-jmsml/GFFPACSI------X.png)|GFFPACSI------X|TACGRP.FSUPP.ARS.C2ARS.FSA.IRR|Fire Support Area (Fsa)  Irregular|AREA|B||
|884||![](./images/GFFPACSR------X.png)|![](./images-std/1.g-fpacsr------x.png)|![](./images-jmsml/GFFPACSR------X.png)|GFFPACSR------X|TACGRP.FSUPP.ARS.C2ARS.FSA.RTG|Fire Support Area (Fsa)  Rectangular|AREA|B||
|885||![](./images/GFFPACT-------X.png)|![](./images-std/1.g-fpact-------x.png)|![](./images-jmsml/GFFPACT-------X.png)|GFFPACT-------X|TACGRP.FSUPP.ARS.C2ARS.TGMF|Terminally Guided Munition Footprint (Tgmf)|AREA|B||
|886||![](./images/GFFPACVC------X.png)|![](./images-std/1.g-fpacvc------x.png)|![](./images-jmsml/GFFPACVC------X.png)|GFFPACVC------X|TACGRP.FSUPP.ARS.C2ARS.TVAR.CIRCLR|Target Value Area (Tvar)  Circular|AREA|B||
|887||![](./images/GFFPACVI------X.png)|![](./images-std/1.g-fpacvi------x.png)|![](./images-jmsml/GFFPACVI------X.png)|GFFPACVI------X|TACGRP.FSUPP.ARS.C2ARS.TVAR.IRR|Target Value Area (Tvar)  Irregular|AREA|B||
|888||![](./images/GFFPACVR------X.png)|![](./images-std/1.g-fpacvr------x.png)|![](./images-jmsml/GFFPACVR------X.png)|GFFPACVR------X|TACGRP.FSUPP.ARS.C2ARS.TVAR.RTG|Target Value Area (Tvar)  Rectangular|AREA|B||
|889||![](./images/GFFPACZC------X.png)|![](./images-std/1.g-fpaczc------x.png)|![](./images-jmsml/GFFPACZC------X.png)|GFFPACZC------X|TACGRP.FSUPP.ARS.C2ARS.ZOR.CIRCLR|Zone Of Responsibility (Zor)  Circular|AREA|B||
|890||![](./images/GFFPACZI------X.png)|![](./images-std/1.g-fpaczi------x.png)|![](./images-jmsml/GFFPACZI------X.png)|GFFPACZI------X|TACGRP.FSUPP.ARS.C2ARS.ZOR.IRR|Zone Of Responsibility (Zor)  Irregular|AREA|B||
|891||![](./images/GFFPACZR------X.png)|![](./images-std/1.g-fpaczr------x.png)|![](./images-jmsml/GFFPACZR------X.png)|GFFPACZR------X|TACGRP.FSUPP.ARS.C2ARS.ZOR.RTG|Zone Of Responsibility (Zor)  Rectangular|AREA|B||
|892||![](./images/GFFPAKBC------X.png)|![](./images-std/1.g-fpakbc------x.png)|![](./images-jmsml/GFFPAKBC------X.png)|GFFPAKBC------X|TACGRP.FSUPP.ARS.KLBOX.BLUE.CIRCLR|Blue Kill Box  Circular|AREA|B||
|893||![](./images/GFFPAKBI------X.png)|![](./images-std/1.g-fpakbi------x.png)|![](./images-jmsml/GFFPAKBI------X.png)|GFFPAKBI------X|TACGRP.FSUPP.ARS.KLBOX.BLUE.IRR|Blue Kill Box  Irregular|AREA|B||
|894||![](./images/GFFPAKBR------X.png)|![](./images-std/1.g-fpakbr------x.png)|![](./images-jmsml/GFFPAKBR------X.png)|GFFPAKBR------X|TACGRP.FSUPP.ARS.KLBOX.BLUE.RTG|Blue Kill Box  Rectangular|AREA|B||
|895||![](./images/GFFPAKPC------X.png)|![](./images-std/1.g-fpakpc------x.png)|![](./images-jmsml/GFFPAKPC------X.png)|GFFPAKPC------X|TACGRP.FSUPP.ARS.KLBOX.PURPLE.CIRCLR|Purple Kill Box  Circular|AREA|B||
|896||![](./images/GFFPAKPI------X.png)|![](./images-std/1.g-fpakpi------x.png)|![](./images-jmsml/GFFPAKPI------X.png)|GFFPAKPI------X|TACGRP.FSUPP.ARS.KLBOX.PURPLE.IRR|Purple Kill Box  Irregular|AREA|B||
|897||![](./images/GFFPAKPR------X.png)|![](./images-std/1.g-fpakpr------x.png)|![](./images-jmsml/GFFPAKPR------X.png)|GFFPAKPR------X|TACGRP.FSUPP.ARS.KLBOX.PURPLE.RTG|Purple Kill Box  Rectangular|AREA|B||
|898||![](./images/GFFPATB-------X.png)|![](./images-std/1.g-fpatb-------x.png)|![](./images-jmsml/GFFPATB-------X.png)|GFFPATB-------X|TACGRP.FSUPP.ARS.ARATGT.BMARA|Bomb Area|AREA|B||
|899||![](./images/GFFPATC-------X.png)|![](./images-std/1.g-fpatc-------x.png)|![](./images-jmsml/GFFPATC-------X.png)|GFFPATC-------X|TACGRP.FSUPP.ARS.ARATGT.CIRTGT|Circular Target|AREA|B||
|900||![](./images/GFFPATG-------X.png)|![](./images-std/1.g-fpatg-------x.png)|![](./images-jmsml/GFFPATG-------X.png)|GFFPATG-------X|TACGRP.FSUPP.ARS.ARATGT.SGTGT|Series Or Group Of Targets|AREA|B||
|901||![](./images/GFFPATR-------X.png)|![](./images-std/1.g-fpatr-------x.png)|![](./images-jmsml/GFFPATR-------X.png)|GFFPATR-------X|TACGRP.FSUPP.ARS.ARATGT.RTGTGT|Rectangular Target|AREA|B||
|902||![](./images/GFFPATS-------X.png)|![](./images-std/1.g-fpats-------x.png)|![](./images-jmsml/GFFPATS-------X.png)|GFFPATS-------X|TACGRP.FSUPP.ARS.ARATGT.SMK|Smoke|AREA|B||
|903||![](./images/GFFPAT--------X.png)|![](./images-std/1.g-fpat--------x.png)|![](./images-jmsml/GFFPAT--------X.png)|GFFPAT--------X|TACGRP.FSUPP.ARS.ARATGT|Area Target|AREA|B||
|904||![](./images/GFFPAXC-------X.png)|![](./images-std/1.g-fpaxc-------x.png)|![](./images-jmsml/GFFPAXC-------X.png)|GFFPAXC-------X|TACGRP.FSUPP.ARS.WPNRF.CIRCLR|Weapon/Sensor Range Fan  Circular|AREA|B||
|905||![](./images/GFFPAXS-------X.png)|![](./images-std/1.g-fpaxs-------x.png)|![](./images-jmsml/GFFPAXS-------X.png)|GFFPAXS-------X|TACGRP.FSUPP.ARS.WPNRF.SCR|Weapon/Sensor Range Fan  Sector|AREA|B||
|906||![](./images/GFFPAZCI------X.png)|![](./images-std/1.g-fpazci------x.png)|![](./images-jmsml/GFFPAZCI------X.png)|GFFPAZCI------X|TACGRP.FSUPP.ARS.TGTAQZ.CNS.IRR|Censor Zone  Irregular|AREA|B||
|907||![](./images/GFFPAZCR------X.png)|![](./images-std/1.g-fpazcr------x.png)|![](./images-jmsml/GFFPAZCR------X.png)|GFFPAZCR------X|TACGRP.FSUPP.ARS.TGTAQZ.CNS.RTG|Censor Zone  Rectangular|AREA|B||
|908||![](./images/GFFPAZFI------X.png)|![](./images-std/1.g-fpazfi------x.png)|![](./images-jmsml/GFFPAZFI------X.png)|GFFPAZFI------X|TACGRP.FSUPP.ARS.TGTAQZ.CFZ.IRR|Critical Friendly Zone (Cfz)  Irregular|AREA|B||
|909||![](./images/GFFPAZFR------X.png)|![](./images-std/1.g-fpazfr------x.png)|![](./images-jmsml/GFFPAZFR------X.png)|GFFPAZFR------X|TACGRP.FSUPP.ARS.TGTAQZ.CFZ.RTG|Critical Friendly Zone (Cfz)  Rectangular|AREA|B||
|910||![](./images/GFFPAZII------X.png)|![](./images-std/1.g-fpazii------x.png)|![](./images-jmsml/GFFPAZII------X.png)|GFFPAZII------X|TACGRP.FSUPP.ARS.TGTAQZ.ATIZ.IRR|Artillery Target Intelligence (Ati) Zone  Irregular|AREA|B||
|911||![](./images/GFFPAZIR------X.png)|![](./images-std/1.g-fpazir------x.png)|![](./images-jmsml/GFFPAZIR------X.png)|GFFPAZIR------X|TACGRP.FSUPP.ARS.TGTAQZ.ATIZ.RTG|Artillery Target Intelligence (Ati) Zone  Rectangular|AREA|B||
|912||![](./images/GFFPAZXI------X.png)|![](./images-std/1.g-fpazxi------x.png)|![](./images-jmsml/GFFPAZXI------X.png)|GFFPAZXI------X|TACGRP.FSUPP.ARS.TGTAQZ.CFFZ.IRR|Call For Fire Zone (Cffz)  Irregular|AREA|B||
|913||![](./images/GFFPAZXR------X.png)|![](./images-std/1.g-fpazxr------x.png)|![](./images-jmsml/GFFPAZXR------X.png)|GFFPAZXR------X|TACGRP.FSUPP.ARS.TGTAQZ.CFFZ.RTG|Call For Fire Zone (Cffz)  Rectangular|AREA|B||
|914||![](./images/GFFPLCC-------X.png)|![](./images-std/1.g-fplcc-------x.png)|![](./images-jmsml/GFFPLCC-------X.png)|GFFPLCC-------X|TACGRP.FSUPP.LNE.C2LNE.CFL|Coordinated Fire Line (Cfl)|LINE|B||
|915||![](./images/GFFPLCF-------X.png)|![](./images-std/1.g-fplcf-------x.png)|![](./images-jmsml/GFFPLCF-------X.png)|GFFPLCF-------X|TACGRP.FSUPP.LNE.C2LNE.FSCL|Fire Support Coordination Line (Fscl)|LINE|B||
|916||![](./images/GFFPLCM-------X.png)|![](./images-std/1.g-fplcm-------x.png)|![](./images-jmsml/GFFPLCM-------X.png)|GFFPLCM-------X|TACGRP.FSUPP.LNE.C2LNE.MFP|Munition Flight Path (Mfp)|LINE|B||
|917||![](./images/GFFPLCN-------X.png)|![](./images-std/1.g-fplcn-------x.png)|![](./images-jmsml/GFFPLCN-------X.png)|GFFPLCN-------X|TACGRP.FSUPP.LNE.C2LNE.NFL|No-Fire Line (Nfl)|LINE|B||
|918||![](./images/GFFPLCR-------X.png)|![](./images-std/1.g-fplcr-------x.png)|![](./images-jmsml/GFFPLCR-------X.png)|GFFPLCR-------X|TACGRP.FSUPP.LNE.C2LNE.RFL|Restrictive Fire Line (Rfl)|LINE|B||
|919||![](./images/GFFPLTF-------X.png)|![](./images-std/1.g-fpltf-------x.png)|![](./images-jmsml/GFFPLTF-------X.png)|GFFPLTF-------X|TACGRP.FSUPP.LNE.LNRTGT.FPF|Final Protective Fire (Fpf)|LINE|B||
|920||![](./images/GFFPLTS-------X.png)|![](./images-std/1.g-fplts-------x.png)|![](./images-jmsml/GFFPLTS-------X.png)|GFFPLTS-------X|TACGRP.FSUPP.LNE.LNRTGT.LSTGT|Linear Smoke Target|LINE|B||
|921||![](./images/GFFPLT--------X.png)|![](./images-std/1.g-fplt--------x.png)|![](./images-jmsml/GFFPLT--------X.png)|GFFPLT--------X|TACGRP.FSUPP.LNE.LNRTGT|Linear Target|LINE|B||
|922||![](./images/GFFPPCB-------X.png)|![](./images-std/1.g-fppcb-------x.png)|![](./images-jmsml/GFFPPCB-------X.png)|GFFPPCB-------X|TACGRP.FSUPP.PNT.C2PNT.FP|Firing Point|POINT|B||
|923||![](./images/GFFPPCF-------X.png)|![](./images-std/1.g-fppcf-------x.png)|![](./images-jmsml/GFFPPCF-------X.png)|GFFPPCF-------X|TACGRP.FSUPP.PNT.C2PNT.FSS|Fire Support Station|POINT|B||
|924||![](./images/GFFPPCH-------X.png)|![](./images-std/1.g-fppch-------x.png)|![](./images-jmsml/GFFPPCH-------X.png)|GFFPPCH-------X|TACGRP.FSUPP.PNT.C2PNT.HP|Hide Point|POINT|B||
|925||![](./images/GFFPPCL-------X.png)|![](./images-std/1.g-fppcl-------x.png)|![](./images-jmsml/GFFPPCL-------X.png)|GFFPPCL-------X|TACGRP.FSUPP.PNT.C2PNT.LP|Launch Point|POINT|B||
|926||![](./images/GFFPPCR-------X.png)|![](./images-std/1.g-fppcr-------x.png)|![](./images-jmsml/GFFPPCR-------X.png)|GFFPPCR-------X|TACGRP.FSUPP.PNT.C2PNT.RP|Reload Point|POINT|B||
|927||![](./images/GFFPPCS-------X.png)|![](./images-std/1.g-fppcs-------x.png)|![](./images-jmsml/GFFPPCS-------X.png)|GFFPPCS-------X|TACGRP.FSUPP.PNT.C2PNT.SCP|Survey Control Point|POINT|B||
|928||![](./images/GFFPPTN-------X.png)|![](./images-std/1.g-fpptn-------x.png)|![](./images-jmsml/GFFPPTN-------X.png)|GFFPPTN-------X|TACGRP.FSUPP.PNT.TGT.NUCTGT|Nuclear Target|POINT|B||
|929||![](./images/GFFPPTS-------X.png)|![](./images-std/1.g-fppts-------x.png)|![](./images-jmsml/GFFPPTS-------X.png)|GFFPPTS-------X|TACGRP.FSUPP.PNT.TGT.PTGT|Point/Single Target|POINT|B||
|930||![](./images/GFGPAAF-------X.png)|![](./images-std/1.g-gpaaf-------x.png)|![](./images-jmsml/GFGPAAF-------X.png)|GFGPAAF-------X|TACGRP.C2GM.AVN.ARS.SHRDEZ|Short-Range Air Defense Engagement Zone (Shoradez)|POINT|B||
|931||![](./images/GFGPAAH-------X.png)|![](./images-std/1.g-gpaah-------x.png)|![](./images-jmsml/GFGPAAH-------X.png)|GFGPAAH-------X|TACGRP.C2GM.AVN.ARS.HIDACZ|High Density Airspace Control Zone (Hidacz)|POINT|B||
|932||![](./images/GFGPAAMH------X.png)|![](./images-std/1.g-gpaamh------x.png)|![](./images-jmsml/GFGPAAMH------X.png)|GFGPAAMH------X|TACGRP.C2GM.AVN.ARS.MEZ.HAMEZ|High Altitude Mez|POINT|B||
|933||![](./images/GFGPAAML------X.png)|![](./images-std/1.g-gpaaml------x.png)|![](./images-jmsml/GFGPAAML------X.png)|GFGPAAML------X|TACGRP.C2GM.AVN.ARS.MEZ.LAMEZ|Low Altitude Mez|POINT|B||
|934||![](./images/GFGPAAM-------X.png)|![](./images-std/1.g-gpaam-------x.png)|![](./images-jmsml/GFGPAAM-------X.png)|GFGPAAM-------X|TACGRP.C2GM.AVN.ARS.MEZ|Missile Engagement Zone (Mez)|POINT|B||
|935||![](./images/GFGPAAR-------X.png)|![](./images-std/1.g-gpaar-------x.png)|![](./images-jmsml/GFGPAAR-------X.png)|GFGPAAR-------X|TACGRP.C2GM.AVN.ARS.ROZ|Restricted Operations Zone (Roz)|POINT|B||
|936||![](./images/GFGPAAW-------X.png)|![](./images-std/1.g-gpaaw-------x.png)|![](./images-jmsml/GFGPAAW-------X.png)|GFGPAAW-------X|TACGRP.C2GM.AVN.ARS.WFZ|Weapons Free Zone|POINT|B||
|937||![](./images/GFGPALC-------X.png)|![](./images-std/1.g-gpalc-------x.png)|![](./images-jmsml/GFGPALC-------X.png)|GFGPALC-------X|TACGRP.C2GM.AVN.LNE.ACDR|Air Corridor|LINE|B||
|938||![](./images/GFGPALL-------X.png)|![](./images-std/1.g-gpall-------x.png)|![](./images-jmsml/GFGPALL-------X.png)|GFGPALL-------X|TACGRP.C2GM.AVN.LNE.LLTR|Low Level Transit Route (Lltr)|LINE|B||
|939||![](./images/GFGPALM-------X.png)|![](./images-std/1.g-gpalm-------x.png)|![](./images-jmsml/GFGPALM-------X.png)|GFGPALM-------X|TACGRP.C2GM.AVN.LNE.MRR|Minimum Risk Route (Mrr)|LINE|B||
|940||![](./images/GFGPALS-------X.png)|![](./images-std/1.g-gpals-------x.png)|![](./images-jmsml/GFGPALS-------X.png)|GFGPALS-------X|TACGRP.C2GM.AVN.LNE.SAAFR|Standard-Use Army Aircraft Flight Route (Saafr)|LINE|B||
|941||![](./images/GFGPALU-------X.png)|![](./images-std/1.g-gpalu-------x.png)|![](./images-jmsml/GFGPALU-------X.png)|GFGPALU-------X|TACGRP.C2GM.AVN.LNE.UAR|Unmanned Aircraft (Ua) Route|LINE|B||
|942||![](./images/GFGPAPC-------X.png)|![](./images-std/1.g-gpapc-------x.png)|![](./images-jmsml/GFGPAPC-------X.png)|GFGPAPC-------X|TACGRP.C2GM.AVN.PNT.COMMCP|Communications Checkpoint (Ccp)|POINT|B||
|943||![](./images/GFGPAPD-------X.png)|![](./images-std/1.g-gpapd-------x.png)|![](./images-jmsml/GFGPAPD-------X.png)|GFGPAPD-------X|TACGRP.C2GM.AVN.PNT.DAPP|Downed Aircrew Pickup Point|POINT|B||
|944||![](./images/GFGPAPP-------X.png)|![](./images-std/1.g-gpapp-------x.png)|![](./images-jmsml/GFGPAPP-------X.png)|GFGPAPP-------X|TACGRP.C2GM.AVN.PNT.ACP|Air Control Point (Acp)|POINT|B||
|945||![](./images/GFGPAPU-------X.png)|![](./images-std/1.g-gpapu-------x.png)|![](./images-jmsml/GFGPAPU-------X.png)|GFGPAPU-------X|TACGRP.C2GM.AVN.PNT.PUP|Pull-Up Point (Pup)|POINT|B||
|946||![](./images/GFGPDABP------X.png)|![](./images-std/1.g-gpdabp------x.png)|![](./images-jmsml/GFGPDABP------X.png)|GFGPDABP------X|TACGRP.C2GM.DEF.ARS.BTLPSN.PBNO|Prepared But Not Occupied|POINT|B||
|947||![](./images/GFGPDAB-------X.png)|![](./images-std/1.g-gpdab-------x.png)|![](./images-jmsml/GFGPDAB-------X.png)|GFGPDAB-------X|TACGRP.C2GM.DEF.ARS.BTLPSN|Battle Position|POINT|B||
|948||![](./images/GFGPDAE-------X.png)|![](./images-std/1.g-gpdae-------x.png)|![](./images-jmsml/GFGPDAE-------X.png)|GFGPDAE-------X|TACGRP.C2GM.DEF.ARS.EMTARA|Engagement Area|AREA|B||
|949|PERHAPS|![](./images/GFGPDLF-------X.png)|![](./images-std/1.g-gpdlf-------x.png)|![](./images-jmsml/GFGPDLF-------X.png)|GFGPDLF-------X|TACGRP.C2GM.DEF.LNE.FEBA|Forward Edge Of Battle Area (Feba)|LINE|B||
|950||![](./images/GFGPDLP-------X.png)|![](./images-std/1.g-gpdlp-------x.png)|![](./images-jmsml/GFGPDLP-------X.png)|GFGPDLP-------X|TACGRP.C2GM.DEF.LNE.PDF|Principal Direction Of Fire (Pdf)|LINE|B||
|951||![](./images/GFGPDPOC------X.png)|![](./images-std/1.g-gpdpoc------x.png)|![](./images-jmsml/GFGPDPOC------X.png)|GFGPDPOC------X|TACGRP.C2GM.DEF.PNT.OBSPST.CBTPST|Combat Outpost|POINT|B||
|952||![](./images/GFGPDPOF------X.png)|![](./images-std/1.g-gpdpof------x.png)|![](./images-jmsml/GFGPDPOF------X.png)|GFGPDPOF------X|TACGRP.C2GM.DEF.PNT.OBSPST.FWDOP|Forward Observer Position|POINT|B||
|953||![](./images/GFGPDPON------X.png)|![](./images-std/1.g-gpdpon------x.png)|![](./images-jmsml/GFGPDPON------X.png)|GFGPDPON------X|TACGRP.C2GM.DEF.PNT.OBSPST.CBRNOP|Cbrn Observation Post (Dismounted)|POINT|B||
|954||![](./images/GFGPDPOR------X.png)|![](./images-std/1.g-gpdpor------x.png)|![](./images-jmsml/GFGPDPOR------X.png)|GFGPDPOR------X|TACGRP.C2GM.DEF.PNT.OBSPST.RECON|Observation Post Occupied By Dismounted Scouts Or Reconnaissance|POINT|B||
|955||![](./images/GFGPDPOS------X.png)|![](./images-std/1.g-gpdpos------x.png)|![](./images-jmsml/GFGPDPOS------X.png)|GFGPDPOS------X|TACGRP.C2GM.DEF.PNT.OBSPST.SOP|Sensor Outpost/Listening Post (Op/Lp)|POINT|B||
|956||![](./images/GFGPDPO-------X.png)|![](./images-std/1.g-gpdpo-------x.png)|![](./images-jmsml/GFGPDPO-------X.png)|GFGPDPO-------X|TACGRP.C2GM.DEF.PNT.OBSPST|Observation Post/Outpost|POINT|B||
|957||![](./images/GFGPDPT-------X.png)|![](./images-std/1.g-gpdpt-------x.png)|![](./images-jmsml/GFGPDPT-------X.png)|GFGPDPT-------X|TACGRP.C2GM.DEF.PNT.TGTREF|Target Reference Point (Trp)|POINT|B||
|958||![](./images/GFGPGAA-------X.png)|![](./images-std/1.g-gpgaa-------x.png)|![](./images-jmsml/GFGPGAA-------X.png)|GFGPGAA-------X|TACGRP.C2GM.GNL.ARS.ABYARA|Assembly Area|AREA|B||
|959||![](./images/GFGPGAD-------X.png)|![](./images-std/1.g-gpgad-------x.png)|![](./images-jmsml/GFGPGAD-------X.png)|GFGPGAD-------X|TACGRP.C2GM.GNL.ARS.DRPZ|Drop Zone|POINT|B||
|960||![](./images/GFGPGAE-------X.png)|![](./images-std/1.g-gpgae-------x.png)|![](./images-jmsml/GFGPGAE-------X.png)|GFGPGAE-------X|TACGRP.C2GM.GNL.ARS.EMTARA|Engagement Area|AREA|B||
|961||![](./images/GFGPGAF-------X.png)|![](./images-std/1.g-gpgaf-------x.png)|![](./images-jmsml/GFGPGAF-------X.png)|GFGPGAF-------X|TACGRP.C2GM.GNL.ARS.FTFDAR|Fortified Area|AREA|B||
|962||![](./images/GFGPGAG-------X.png)|![](./images-std/1.g-gpgag-------x.png)|![](./images-jmsml/GFGPGAG-------X.png)|GFGPGAG-------X|TACGRP.C2GM.GNL.ARS.GENARA|General Area|AREA|B||
|963||![](./images/GFGPGAL-------X.png)|![](./images-std/1.g-gpgal-------x.png)|![](./images-jmsml/GFGPGAL-------X.png)|GFGPGAL-------X|TACGRP.C2GM.GNL.ARS.LZ|Landing Zone (Lz)|POINT|B||
|964||![](./images/GFGPGAP-------X.png)|![](./images-std/1.g-gpgap-------x.png)|![](./images-jmsml/GFGPGAP-------X.png)|GFGPGAP-------X|TACGRP.C2GM.GNL.ARS.PZ|Pickup Zone (Pz)|POINT|B||
|965||![](./images/GFGPGAS-------X.png)|![](./images-std/1.g-gpgas-------x.png)|![](./images-jmsml/GFGPGAS-------X.png)|GFGPGAS-------X|TACGRP.C2GM.GNL.ARS.SRHARA|Search Area/Reconnaissance Area|LINE|B||
|966||![](./images/GFGPGAX-------X.png)|![](./images-std/1.g-gpgax-------x.png)|![](./images-jmsml/GFGPGAX-------X.png)|GFGPGAX-------X|TACGRP.C2GM.GNL.ARS.EZ|Extraction Zone (Ez)|POINT|B||
|967||![](./images/GFGPGAY-------X.png)|![](./images-std/1.g-gpgay-------x.png)|![](./images-jmsml/GFGPGAY-------X.png)|GFGPGAY-------X|TACGRP.C2GM.GNL.ARS.LAARA|Limited Access Area|AREA|B||
|968||![](./images/GFGPGAZ-------X.png)|![](./images-std/1.g-gpgaz-------x.png)|![](./images-jmsml/GFGPGAZ-------X.png)|GFGPGAZ-------X|TACGRP.C2GM.GNL.ARS.AIRFZ|Airfield Zone|POINT|B||
|969||![](./images/GFGPGLB-------X.png)|![](./images-std/1.g-gpglb-------x.png)|![](./images-jmsml/GFGPGLB-------X.png)|GFGPGLB-------X|TACGRP.C2GM.GNL.LNE.BNDS|Boundaries|LINE|B||
|970||![](./images/GFGPGLC-------X.png)|![](./images-std/1.g-gpglc-------x.png)|![](./images-jmsml/GFGPGLC-------X.png)|GFGPGLC-------X|TACGRP.C2GM.GNL.LNE.LOC|Line Of Contact|LINE|B||
|971||![](./images/GFGPGLF-------X.png)|![](./images-std/1.g-gpglf-------x.png)|![](./images-jmsml/GFGPGLF-------X.png)|GFGPGLF-------X|TACGRP.C2GM.GNL.LNE.FLOT|Forward Line Of Own Troops (Flot)|LINE|B||
|972||![](./images/GFGPGLL-------X.png)|![](./images-std/1.g-gpgll-------x.png)|![](./images-jmsml/GFGPGLL-------X.png)|GFGPGLL-------X|TACGRP.C2GM.GNL.LNE.LITLNE|Light Line|LINE|B||
|973||![](./images/GFGPGLP-------X.png)|![](./images-std/1.g-gpglp-------x.png)|![](./images-jmsml/GFGPGLP-------X.png)|GFGPGLP-------X|TACGRP.C2GM.GNL.LNE.PHELNE|Phase Line|LINE|B||
|974||![](./images/GFGPGPAA------X.png)|![](./images-std/1.g-gpgpaa------x.png)|![](./images-jmsml/GFGPGPAA------X.png)|GFGPGPAA------X|TACGRP.C2GM.GNL.PNT.ACTL.ASBWF|Antisubmarine Warfare  Fixed Wing|POINT|B||
|975||![](./images/GFGPGPAB------X.png)|![](./images-std/1.g-gpgpab------x.png)|![](./images-jmsml/GFGPGPAB------X.png)|GFGPGPAB------X|TACGRP.C2GM.GNL.PNT.ACTL.SUWF|Sucap - Fixed Wing|POINT|B||
|976||![](./images/GFGPGPAC------X.png)|![](./images-std/1.g-gpgpac------x.png)|![](./images-jmsml/GFGPGPAC------X.png)|GFGPGPAC------X|TACGRP.C2GM.GNL.PNT.ACTL.SUWR|Sucap - Rotary Wing|POINT|B||
|977||![](./images/GFGPGPAD------X.png)|![](./images-std/1.g-gpgpad------x.png)|![](./images-jmsml/GFGPGPAD------X.png)|GFGPGPAD------X|TACGRP.C2GM.GNL.PNT.ACTL.MIWF|Miw - Fixed Wing|POINT|B||
|978||![](./images/GFGPGPAE------X.png)|![](./images-std/1.g-gpgpae------x.png)|![](./images-jmsml/GFGPGPAE------X.png)|GFGPGPAE------X|TACGRP.C2GM.GNL.PNT.ACTL.MIWR|Miw - Rotary Wing|POINT|B||
|979||![](./images/GFGPGPAF------X.png)|![](./images-std/1.g-gpgpaf------x.png)|![](./images-jmsml/GFGPGPAF------X.png)|GFGPGPAF------X|TACGRP.C2GM.GNL.PNT.ACTL.UA|Unmanned Aerial System (Uas/Ua)|POINT|B||
|980||![](./images/GFGPGPAG------X.png)|![](./images-std/1.g-gpgpag------x.png)|![](./images-jmsml/GFGPGPAG------X.png)|GFGPGPAG------X|TACGRP.C2GM.GNL.PNT.ACTL.VTUA|Vtua|POINT|B||
|981||![](./images/GFGPGPAH------X.png)|![](./images-std/1.g-gpgpah------x.png)|![](./images-jmsml/GFGPGPAH------X.png)|GFGPGPAH------X|TACGRP.C2GM.GNL.PNT.ACTL.ASBWR|Antisubmarine Warfare  Rotary Wing|POINT|B||
|982||![](./images/GFGPGPAI------X.png)|![](./images-std/1.g-gpgpai------x.png)|![](./images-jmsml/GFGPGPAI------X.png)|GFGPGPAI------X|TACGRP.C2GM.GNL.PNT.ACTL.ORB|Orbit|POINT|B||
|983||![](./images/GFGPGPAJ------X.png)|![](./images-std/1.g-gpgpaj------x.png)|![](./images-jmsml/GFGPGPAJ------X.png)|GFGPGPAJ------X|TACGRP.C2GM.GNL.PNT.ACTL.ORBF8|Orbit - Figure Eight|POINT|B||
|984||![](./images/GFGPGPAK------X.png)|![](./images-std/1.g-gpgpak------x.png)|![](./images-jmsml/GFGPGPAK------X.png)|GFGPGPAK------X|TACGRP.C2GM.GNL.PNT.ACTL.TAK|Tanking|POINT|B||
|985||![](./images/GFGPGPAL------X.png)|![](./images-std/1.g-gpgpal------x.png)|![](./images-jmsml/GFGPGPAL------X.png)|GFGPGPAL------X|TACGRP.C2GM.GNL.PNT.ACTL.RPH|Replenish|POINT|B||
|986||![](./images/GFGPGPAM------X.png)|![](./images-std/1.g-gpgpam------x.png)|![](./images-jmsml/GFGPGPAM------X.png)|GFGPGPAM------X|TACGRP.C2GM.GNL.PNT.ACTL.ORBRT|Orbit - Race Track|POINT|B||
|987||![](./images/GFGPGPAN------X.png)|![](./images-std/1.g-gpgpan------x.png)|![](./images-jmsml/GFGPGPAN------X.png)|GFGPGPAN------X|TACGRP.C2GM.GNL.PNT.ACTL.ORBRD|Orbit - Random  Closed|POINT|B||
|988||![](./images/GFGPGPAO------X.png)|![](./images-std/1.g-gpgpao------x.png)|![](./images-jmsml/GFGPGPAO------X.png)|GFGPGPAO------X|TACGRP.C2GM.GNL.PNT.ACTL.TMC|Tomcat|POINT|B||
|989||![](./images/GFGPGPAP------X.png)|![](./images-std/1.g-gpgpap------x.png)|![](./images-jmsml/GFGPGPAP------X.png)|GFGPGPAP------X|TACGRP.C2GM.GNL.PNT.ACTL.CAP|Combat Air Patrol (Cap)|POINT|B||
|990||![](./images/GFGPGPAR------X.png)|![](./images-std/1.g-gpgpar------x.png)|![](./images-jmsml/GFGPGPAR------X.png)|GFGPGPAR------X|TACGRP.C2GM.GNL.PNT.ACTL.RSC|Rescue|POINT|B||
|991||![](./images/GFGPGPAS------X.png)|![](./images-std/1.g-gpgpas------x.png)|![](./images-jmsml/GFGPGPAS------X.png)|GFGPGPAS------X|TACGRP.C2GM.GNL.PNT.ACTL.SKEIP|Strike Ip|POINT|B||
|992||![](./images/GFGPGPAT------X.png)|![](./images-std/1.g-gpgpat------x.png)|![](./images-jmsml/GFGPGPAT------X.png)|GFGPGPAT------X|TACGRP.C2GM.GNL.PNT.ACTL.TCN|Tacan|POINT|B||
|993||![](./images/GFGPGPAW------X.png)|![](./images-std/1.g-gpgpaw------x.png)|![](./images-jmsml/GFGPGPAW------X.png)|GFGPGPAW------X|TACGRP.C2GM.GNL.PNT.ACTL.ABNEW|Airborne Early Warning (Aew)|POINT|B||
|994||![](./images/GFGPGPA-------X.png)|![](./images-std/1.g-gpgpa-------x.png)|![](./images-jmsml/GFGPGPA-------X.png)|GFGPGPA-------X|TACGRP.C2GM.GNL.PNT.ACTL|Air Control|POINT|B||
|995||![](./images/GFGPGPBSA-----X.png)|![](./images-std/1.g-gpgpbsa-----x.png)|![](./images-jmsml/GFGPGPBSA-----X.png)|GFGPGPBSA-----X|TACGRP.C2GM.GNL.PNT.UCTL.SBSTN.ASW|Asw Submarine Control Station|POINT|B||
|996||![](./images/GFGPGPBS------X.png)|![](./images-std/1.g-gpgpbs------x.png)|![](./images-jmsml/GFGPGPBS------X.png)|GFGPGPBS------X|TACGRP.C2GM.GNL.PNT.UCTL.SBSTN|Submarine Control Station|POINT|B||
|997||![](./images/GFGPGPBUA-----X.png)|![](./images-std/1.g-gpgpbua-----x.png)|![](./images-jmsml/GFGPGPBUA-----X.png)|GFGPGPBUA-----X|TACGRP.C2GM.GNL.PNT.UCTL.UUV.ASW|Uuv - Antisubmarine Warfare Control Station|POINT|B||
|998||![](./images/GFGPGPBUM-----X.png)|![](./images-std/1.g-gpgpbum-----x.png)|![](./images-jmsml/GFGPGPBUM-----X.png)|GFGPGPBUM-----X|TACGRP.C2GM.GNL.PNT.UCTL.UUV.MIW|Uuv - Mine Warfare Control Station|POINT|B||
|999||![](./images/GFGPGPBUS-----X.png)|![](./images-std/1.g-gpgpbus-----x.png)|![](./images-jmsml/GFGPGPBUS-----X.png)|GFGPGPBUS-----X|TACGRP.C2GM.GNL.PNT.UCTL.UUV.SUW|Uuv - Surface Warfare Control Station|POINT|B||
|1000||![](./images/GFGPGPBU------X.png)|![](./images-std/1.g-gpgpbu------x.png)|![](./images-jmsml/GFGPGPBU------X.png)|GFGPGPBU------X|TACGRP.C2GM.GNL.PNT.UCTL.UUV|Unmanned Underwater Vehicle (Uuv) Control Station|POINT|B||
|1001||![](./images/GFGPGPB-------X.png)|![](./images-std/1.g-gpgpb-------x.png)|![](./images-jmsml/GFGPGPB-------X.png)|GFGPGPB-------X|TACGRP.C2GM.GNL.PNT.UCTL|Subsurface Control Station|POINT|B||
|1002||![](./images/GFGPGPCA------X.png)|![](./images-std/1.g-gpgpca------x.png)|![](./images-jmsml/GFGPGPCA------X.png)|GFGPGPCA------X|TACGRP.C2GM.GNL.PNT.SCTL.ASW|Asw Control Station|POINT|B||
|1003||![](./images/GFGPGPCC------X.png)|![](./images-std/1.g-gpgpcc------x.png)|![](./images-jmsml/GFGPGPCC------X.png)|GFGPGPCC------X|TACGRP.C2GM.GNL.PNT.SCTL.RSC|Rescue Control Point|POINT|B||
|1004||![](./images/GFGPGPCE------X.png)|![](./images-std/1.g-gpgpce------x.png)|![](./images-jmsml/GFGPGPCE------X.png)|GFGPGPCE------X|TACGRP.C2GM.GNL.PNT.SCTL.REP|Replenishment Control Point|POINT|B||
|1005||![](./images/GFGPGPCM------X.png)|![](./images-std/1.g-gpgpcm------x.png)|![](./images-jmsml/GFGPGPCM------X.png)|GFGPGPCM------X|TACGRP.C2GM.GNL.PNT.SCTL.MIW|Miw Control Station|POINT|B||
|1006||![](./images/GFGPGPCN------X.png)|![](./images-std/1.g-gpgpcn------x.png)|![](./images-jmsml/GFGPGPCN------X.png)|GFGPGPCN------X|TACGRP.C2GM.GNL.PNT.SCTL.NCBTT|Noncombatant Control Station|POINT|B||
|1007||![](./images/GFGPGPCP------X.png)|![](./images-std/1.g-gpgpcp------x.png)|![](./images-jmsml/GFGPGPCP------X.png)|GFGPGPCP------X|TACGRP.C2GM.GNL.PNT.SCTL.PKT|Picket Control Station|POINT|B||
|1008||![](./images/GFGPGPCR------X.png)|![](./images-std/1.g-gpgpcr------x.png)|![](./images-jmsml/GFGPGPCR------X.png)|GFGPGPCR------X|TACGRP.C2GM.GNL.PNT.SCTL.RDV|Rendezvous Control Point|POINT|B||
|1009||![](./images/GFGPGPCS------X.png)|![](./images-std/1.g-gpgpcs------x.png)|![](./images-jmsml/GFGPGPCS------X.png)|GFGPGPCS------X|TACGRP.C2GM.GNL.PNT.SCTL.SUW|Suw Control Station|POINT|B||
|1010||![](./images/GFGPGPCUA-----X.png)|![](./images-std/1.g-gpgpcua-----x.png)|![](./images-jmsml/GFGPGPCUA-----X.png)|GFGPGPCUA-----X|TACGRP.C2GM.GNL.PNT.SCTL.USV.ASW|Usv - Antisubmarine Warfare Control Station|POINT|B||
|1011||![](./images/GFGPGPCUM-----X.png)|![](./images-std/1.g-gpgpcum-----x.png)|![](./images-jmsml/GFGPGPCUM-----X.png)|GFGPGPCUM-----X|TACGRP.C2GM.GNL.PNT.SCTL.USV.MIW|Usv - Mine Warfare Control Station|POINT|B||
|1012||![](./images/GFGPGPCUR-----X.png)|![](./images-std/1.g-gpgpcur-----x.png)|![](./images-jmsml/GFGPGPCUR-----X.png)|GFGPGPCUR-----X|TACGRP.C2GM.GNL.PNT.SCTL.USV.RMV|Remote Multimission Vehicle (Rmv) Usv Control Station|POINT|B||
|1013||![](./images/GFGPGPCUS-----X.png)|![](./images-std/1.g-gpgpcus-----x.png)|![](./images-jmsml/GFGPGPCUS-----X.png)|GFGPGPCUS-----X|TACGRP.C2GM.GNL.PNT.SCTL.USV.SUW|Usv - Surface Warfare Control Station|POINT|B||
|1014||![](./images/GFGPGPCU------X.png)|![](./images-std/1.g-gpgpcu------x.png)|![](./images-jmsml/GFGPGPCU------X.png)|GFGPGPCU------X|TACGRP.C2GM.GNL.PNT.SCTL.USV|Unmanned Surface Vehicle (Usv) Control Station|POINT|B||
|1015||![](./images/GFGPGPC-------X.png)|![](./images-std/1.g-gpgpc-------x.png)|![](./images-jmsml/GFGPGPC-------X.png)|GFGPGPC-------X|TACGRP.C2GM.GNL.PNT.SCTL|Sea Surface Control Station|POINT|B||
|1016||![](./images/GFGPGPF-------X.png)|![](./images-std/1.g-gpgpf-------x.png)|![](./images-jmsml/GFGPGPF-------X.png)|GFGPGPF-------X|TACGRP.C2GM.GNL.PNT.FRMN|Formation|POINT|B||
|1017||![](./images/GFGPGPHA------X.png)|![](./images-std/1.g-gpgpha------x.png)|![](./images-jmsml/GFGPGPHA------X.png)|GFGPGPHA------X|TACGRP.C2GM.GNL.PNT.HBR.PNTA|Point A|POINT|B||
|1018||![](./images/GFGPGPHQ------X.png)|![](./images-std/1.g-gpgphq------x.png)|![](./images-jmsml/GFGPGPHQ------X.png)|GFGPGPHQ------X|TACGRP.C2GM.GNL.PNT.HBR.PNTQ|Point Q|POINT|B||
|1019||![](./images/GFGPGPH-------X.png)|![](./images-std/1.g-gpgph-------x.png)|![](./images-jmsml/GFGPGPH-------X.png)|GFGPGPH-------X|TACGRP.C2GM.GNL.PNT.HBR|Harbor (General)|POINT|B||
|1020||![](./images/GFGPGPHX------X.png)|![](./images-std/1.g-gpgphx------x.png)|![](./images-jmsml/GFGPGPHX------X.png)|GFGPGPHX------X|TACGRP.C2GM.GNL.PNT.HBR.PNTX|Point X|POINT|B||
|1021||![](./images/GFGPGPHY------X.png)|![](./images-std/1.g-gpgphy------x.png)|![](./images-jmsml/GFGPGPHY------X.png)|GFGPGPHY------X|TACGRP.C2GM.GNL.PNT.HBR.PNTY|Point Y|POINT|B||
|1022||![](./images/GFGPGPOD------X.png)|![](./images-std/1.g-gpgpod------x.png)|![](./images-jmsml/GFGPGPOD------X.png)|GFGPGPOD------X|TACGRP.C2GM.GNL.PNT.RTE.DVSN|Diversions|POINT|B||
|1023||![](./images/GFGPGPOP------X.png)|![](./images-std/1.g-gpgpop------x.png)|![](./images-jmsml/GFGPGPOP------X.png)|GFGPGPOP------X|TACGRP.C2GM.GNL.PNT.RTE.PIM|Pim|POINT|B||
|1024||![](./images/GFGPGPOR------X.png)|![](./images-std/1.g-gpgpor------x.png)|![](./images-jmsml/GFGPGPOR------X.png)|GFGPGPOR------X|TACGRP.C2GM.GNL.PNT.RTE.PNTR|Point R|POINT|B||
|1025||![](./images/GFGPGPOW------X.png)|![](./images-std/1.g-gpgpow------x.png)|![](./images-jmsml/GFGPGPOW------X.png)|GFGPGPOW------X|TACGRP.C2GM.GNL.PNT.RTE.WAP|Waypoint|POINT|B||
|1026||![](./images/GFGPGPO-------X.png)|![](./images-std/1.g-gpgpo-------x.png)|![](./images-jmsml/GFGPGPO-------X.png)|GFGPGPO-------X|TACGRP.C2GM.GNL.PNT.RTE|Route|POINT|B||
|1027||![](./images/GFGPGPOZ------X.png)|![](./images-std/1.g-gpgpoz------x.png)|![](./images-jmsml/GFGPGPOZ------X.png)|GFGPGPOZ------X|TACGRP.C2GM.GNL.PNT.RTE.RDV|Rendezvous|POINT|B||
|1028||![](./images/GFGPGPPA------X.png)|![](./images-std/1.g-gpgppa------x.png)|![](./images-jmsml/GFGPGPPA------X.png)|GFGPGPPA------X|TACGRP.C2GM.GNL.PNT.ACTPNT.AMNPNT|Amnesty Point|POINT|B||
|1029||![](./images/GFGPGPPC------X.png)|![](./images-std/1.g-gpgppc------x.png)|![](./images-jmsml/GFGPGPPC------X.png)|GFGPGPPC------X|TACGRP.C2GM.GNL.PNT.ACTPNT.CONPNT|Contact Point|POINT|B||
|1030||![](./images/GFGPGPPD------X.png)|![](./images-std/1.g-gpgppd------x.png)|![](./images-jmsml/GFGPGPPD------X.png)|GFGPGPPD------X|TACGRP.C2GM.GNL.PNT.ACTPNT.DCNPNT|Decision Point|POINT|B||
|1031||![](./images/GFGPGPPE------X.png)|![](./images-std/1.g-gpgppe------x.png)|![](./images-jmsml/GFGPGPPE------X.png)|GFGPGPPE------X|TACGRP.C2GM.GNL.PNT.ACTPNT.RELPNT|Release Point|POINT|B||
|1032||![](./images/GFGPGPPK------X.png)|![](./images-std/1.g-gpgppk------x.png)|![](./images-jmsml/GFGPGPPK------X.png)|GFGPGPPK------X|TACGRP.C2GM.GNL.PNT.ACTPNT.CHKPNT|Check Point|POINT|B||
|1033||![](./images/GFGPGPPL------X.png)|![](./images-std/1.g-gpgppl------x.png)|![](./images-jmsml/GFGPGPPL------X.png)|GFGPGPPL------X|TACGRP.C2GM.GNL.PNT.ACTPNT.LNKUPT|Linkup Point|POINT|B||
|1034||![](./images/GFGPGPPO------X.png)|![](./images-std/1.g-gpgppo------x.png)|![](./images-jmsml/GFGPGPPO------X.png)|GFGPGPPO------X|TACGRP.C2GM.GNL.PNT.ACTPNT.CRDPNT|Coordination Point|POINT|B||
|1035||![](./images/GFGPGPPP------X.png)|![](./images-std/1.g-gpgppp------x.png)|![](./images-jmsml/GFGPGPPP------X.png)|GFGPGPPP------X|TACGRP.C2GM.GNL.PNT.ACTPNT.PSSPNT|Passage Point|POINT|B||
|1036||![](./images/GFGPGPPR------X.png)|![](./images-std/1.g-gpgppr------x.png)|![](./images-jmsml/GFGPGPPR------X.png)|GFGPGPPR------X|TACGRP.C2GM.GNL.PNT.ACTPNT.RAYPNT|Rally Point|POINT|B||
|1037||![](./images/GFGPGPPS------X.png)|![](./images-std/1.g-gpgpps------x.png)|![](./images-jmsml/GFGPGPPS------X.png)|GFGPGPPS------X|TACGRP.C2GM.GNL.PNT.ACTPNT.STRPNT|Start Point|POINT|B||
|1038||![](./images/GFGPGPPW------X.png)|![](./images-std/1.g-gpgppw------x.png)|![](./images-jmsml/GFGPGPPW------X.png)|GFGPGPPW------X|TACGRP.C2GM.GNL.PNT.ACTPNT.WAP|Waypoint|POINT|B||
|1039||![](./images/GFGPGPP-------X.png)|![](./images-std/1.g-gpgpp-------x.png)|![](./images-jmsml/GFGPGPP-------X.png)|GFGPGPP-------X|TACGRP.C2GM.GNL.PNT.ACTPNT|Action Points (General)|POINT|B||
|1040||![](./images/GFGPGPRC------X.png)|![](./images-std/1.g-gpgprc------x.png)|![](./images-jmsml/GFGPGPRC------X.png)|GFGPGPRC------X|TACGRP.C2GM.GNL.PNT.REFPNT.CRDRTB|Corridor Tab|POINT|B||
|1041||![](./images/GFGPGPRD------X.png)|![](./images-std/1.g-gpgprd------x.png)|![](./images-jmsml/GFGPGPRD------X.png)|GFGPGPRD------X|TACGRP.C2GM.GNL.PNT.REFPNT.DLRP|Dlrp|POINT|B||
|1042||![](./images/GFGPGPRI------X.png)|![](./images-std/1.g-gpgpri------x.png)|![](./images-jmsml/GFGPGPRI------X.png)|GFGPGPRI------X|TACGRP.C2GM.GNL.PNT.REFPNT.PNTINR|Point Of Interest|POINT|B||
|1043||![](./images/GFGPGPRM------X.png)|![](./images-std/1.g-gpgprm------x.png)|![](./images-jmsml/GFGPGPRM------X.png)|GFGPGPRM------X|TACGRP.C2GM.GNL.PNT.REFPNT.MRSH|Marshall Point|POINT|B||
|1044||![](./images/GFGPGPRN------X.png)|![](./images-std/1.g-gpgprn------x.png)|![](./images-jmsml/GFGPGPRN------X.png)|GFGPGPRN------X|TACGRP.C2GM.GNL.PNT.REFPNT.NAVREF|Navigational Reference Point|POINT|B||
|1045||![](./images/GFGPGPRP------X.png)|![](./images-std/1.g-gpgprp------x.png)|![](./images-jmsml/GFGPGPRP------X.png)|GFGPGPRP------X|TACGRP.C2GM.GNL.PNT.REFPNT.PIM|Point Of Intended Movement (Pim)|POINT|B||
|1046||![](./images/GFGPGPRS------X.png)|![](./images-std/1.g-gpgprs------x.png)|![](./images-jmsml/GFGPGPRS------X.png)|GFGPGPRS------X|TACGRP.C2GM.GNL.PNT.REFPNT.SPLPNT|Special Point|POINT|B||
|1047||![](./images/GFGPGPRW------X.png)|![](./images-std/1.g-gpgprw------x.png)|![](./images-jmsml/GFGPGPRW------X.png)|GFGPGPRW------X|TACGRP.C2GM.GNL.PNT.REFPNT.WAP|Waypoint|POINT|B||
|1048||![](./images/GFGPGPR-------X.png)|![](./images-std/1.g-gpgpr-------x.png)|![](./images-jmsml/GFGPGPR-------X.png)|GFGPGPR-------X|TACGRP.C2GM.GNL.PNT.REFPNT|Reference Point|POINT|B||
|1049||![](./images/GFGPGPUSA-----X.png)|![](./images-std/1.g-gpgpusa-----x.png)|![](./images-jmsml/GFGPGPUSA-----X.png)|GFGPGPUSA-----X|TACGRP.C2GM.GNL.PNT.USW.SRH.ARA|Search Area|POINT|B||
|1050||![](./images/GFGPGPUSC-----X.png)|![](./images-std/1.g-gpgpusc-----x.png)|![](./images-jmsml/GFGPGPUSC-----X.png)|GFGPGPUSC-----X|TACGRP.C2GM.GNL.PNT.USW.SRH.CTR|Search Center|POINT|B||
|1051||![](./images/GFGPGPUSD-----X.png)|![](./images-std/1.g-gpgpusd-----x.png)|![](./images-jmsml/GFGPGPUSD-----X.png)|GFGPGPUSD-----X|TACGRP.C2GM.GNL.PNT.USW.SRH.DIPPSN|Dip Position|POINT|B||
|1052||![](./images/GFGPGPUS------X.png)|![](./images-std/1.g-gpgpus------x.png)|![](./images-jmsml/GFGPGPUS------X.png)|GFGPGPUS------X|TACGRP.C2GM.GNL.PNT.USW.SRH|Search|POINT|B||
|1053||![](./images/GFGPGPUUB-----X.png)|![](./images-std/1.g-gpgpuub-----x.png)|![](./images-jmsml/GFGPGPUUB-----X.png)|GFGPGPUUB-----X|TACGRP.C2GM.GNL.PNT.USW.UH2.BCON|Brief Contact|POINT|B||
|1054||![](./images/GFGPGPUUD-----X.png)|![](./images-std/1.g-gpgpuud-----x.png)|![](./images-jmsml/GFGPGPUUD-----X.png)|GFGPGPUUD-----X|TACGRP.C2GM.GNL.PNT.USW.UH2.DTM|Datum|POINT|B||
|1055||![](./images/GFGPGPUUL-----X.png)|![](./images-std/1.g-gpgpuul-----x.png)|![](./images-jmsml/GFGPGPUUL-----X.png)|GFGPGPUUL-----X|TACGRP.C2GM.GNL.PNT.USW.UH2.LCON|Lost Contact|POINT|B||
|1056||![](./images/GFGPGPUUS-----X.png)|![](./images-std/1.g-gpgpuus-----x.png)|![](./images-jmsml/GFGPGPUUS-----X.png)|GFGPGPUUS-----X|TACGRP.C2GM.GNL.PNT.USW.UH2.SNK|Sinker|POINT|B||
|1057||![](./images/GFGPGPUYA-----X.png)|![](./images-std/1.g-gpgpuya-----x.png)|![](./images-jmsml/GFGPGPUYA-----X.png)|GFGPGPUYA-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.ANM|Anm|POINT|B||
|1058||![](./images/GFGPGPUYB-----X.png)|![](./images-std/1.g-gpgpuyb-----x.png)|![](./images-jmsml/GFGPGPUYB-----X.png)|GFGPGPUYB-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.BT|Bathythermograph Transmitting (Bt)|POINT|B||
|1059||![](./images/GFGPGPUYC-----X.png)|![](./images-std/1.g-gpgpuyc-----x.png)|![](./images-jmsml/GFGPGPUYC-----X.png)|GFGPGPUYC-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.CASS|Command Active Sonobuoy System (Cass)|POINT|B||
|1060||![](./images/GFGPGPUYD-----X.png)|![](./images-std/1.g-gpgpuyd-----x.png)|![](./images-jmsml/GFGPGPUYD-----X.png)|GFGPGPUYD-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.DIFAR|Directional Frequency Analyzing And Recording (Difar)|POINT|B||
|1061||![](./images/GFGPGPUYK-----X.png)|![](./images-std/1.g-gpgpuyk-----x.png)|![](./images-jmsml/GFGPGPUYK-----X.png)|GFGPGPUYK-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.KGP|Kingpin|POINT|B||
|1062||![](./images/GFGPGPUYL-----X.png)|![](./images-std/1.g-gpgpuyl-----x.png)|![](./images-jmsml/GFGPGPUYL-----X.png)|GFGPGPUYL-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.LOFAR|Low Frequency Analyzing And Recording (Lofar)|POINT|B||
|1063||![](./images/GFGPGPUYP-----X.png)|![](./images-std/1.g-gpgpuyp-----x.png)|![](./images-jmsml/GFGPGPUYP-----X.png)|GFGPGPUYP-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.PTNCTR|Pattern Center|POINT|B||
|1064||![](./images/GFGPGPUYR-----X.png)|![](./images-std/1.g-gpgpuyr-----x.png)|![](./images-jmsml/GFGPGPUYR-----X.png)|GFGPGPUYR-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.RO|Range Only (Ro)|POINT|B||
|1065||![](./images/GFGPGPUYS-----X.png)|![](./images-std/1.g-gpgpuys-----x.png)|![](./images-jmsml/GFGPGPUYS-----X.png)|GFGPGPUYS-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.DICASS|Directional Command Active Sonobuoy System (Dicass)|POINT|B||
|1066||![](./images/GFGPGPUYT-----X.png)|![](./images-std/1.g-gpgpuyt-----x.png)|![](./images-jmsml/GFGPGPUYT-----X.png)|GFGPGPUYT-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.ATAC|Atac|POINT|B||
|1067||![](./images/GFGPGPUYV-----X.png)|![](./images-std/1.g-gpgpuyv-----x.png)|![](./images-jmsml/GFGPGPUYV-----X.png)|GFGPGPUYV-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.VLAD|Vertical Line Array Difar (Vlad)|POINT|B||
|1068||![](./images/GFGPGPUYX------.png)|![](./images-std/1.g-gpgpuyx-----x.png)|![](./images-jmsml/GFGPGPUYX-----X.png)|GFGPGPUYX-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.EXP|Sonobuoy-Expired|POINT|B||
|1069||![](./images/GFGPGPUY------X.png)|![](./images-std/1.g-gpgpuy------x.png)|![](./images-jmsml/GFGPGPUY------X.png)|GFGPGPUY------X|TACGRP.C2GM.GNL.PNT.USW.SNBY|Sonobuoy|POINT|B||
|1070||![](./images/GFGPGPWA------X.png)|![](./images-std/1.g-gpgpwa------x.png)|![](./images-jmsml/GFGPGPWA------X.png)|GFGPGPWA------X|TACGRP.C2GM.GNL.PNT.WPN.AIMPNT|Aim Point|POINT|B||
|1071||![](./images/GFGPGPWD------X.png)|![](./images-std/1.g-gpgpwd------x.png)|![](./images-jmsml/GFGPGPWD------X.png)|GFGPGPWD------X|TACGRP.C2GM.GNL.PNT.WPN.DRPPNT|Drop Point|POINT|B||
|1072||![](./images/GFGPGPWE------X.png)|![](./images-std/1.g-gpgpwe------x.png)|![](./images-jmsml/GFGPGPWE------X.png)|GFGPGPWE------X|TACGRP.C2GM.GNL.PNT.WPN.ENTPNT|Entry Point|POINT|B||
|1073||![](./images/GFGPGPWG------X.png)|![](./images-std/1.g-gpgpwg------x.png)|![](./images-jmsml/GFGPGPWG------X.png)|GFGPGPWG------X|TACGRP.C2GM.GNL.PNT.WPN.GRDZRO|Ground Zero|POINT|B||
|1074||![](./images/GFGPGPWI------X.png)|![](./images-std/1.g-gpgpwi------x.png)|![](./images-jmsml/GFGPGPWI------X.png)|GFGPGPWI------X|TACGRP.C2GM.GNL.PNT.WPN.IMTPNT|Impact Point|POINT|B||
|1075||![](./images/GFGPGPWM------X.png)|![](./images-std/1.g-gpgpwm------x.png)|![](./images-jmsml/GFGPGPWM------X.png)|GFGPGPWM------X|TACGRP.C2GM.GNL.PNT.WPN.MSLPNT|Msl Detect Point|POINT|B||
|1076||![](./images/GFGPGPWP------X.png)|![](./images-std/1.g-gpgpwp------x.png)|![](./images-jmsml/GFGPGPWP------X.png)|GFGPGPWP------X|TACGRP.C2GM.GNL.PNT.WPN.PIPNT|Predicted Impact Point|POINT|B||
|1077|PERHAPS|![](./images/GFGPOAA-------X.png)|![](./images-std/1.g-gpoaa-------x.png)|![](./images-jmsml/GFGPOAA-------X.png)|GFGPOAA-------X|TACGRP.C2GM.OFF.ARS.ASTPSN|Assault Position|AREA|B|Missing 'PSN' static label|
|1078||![](./images/GFGPOAF-------X.png)|![](./images-std/1.g-gpoaf-------x.png)|![](./images-jmsml/GFGPOAF-------X.png)|GFGPOAF-------X|TACGRP.C2GM.OFF.ARS.AFP|Attack By Fire Position|AREA|B||
|1079||![](./images/GFGPOAK-------X.png)|![](./images-std/1.g-gpoak-------x.png)|![](./images-jmsml/GFGPOAK-------X.png)|GFGPOAK-------X|TACGRP.C2GM.OFF.ARS.ATKPSN|Attack Position|AREA|B||
|1080||![](./images/GFGPOAO-------X.png)|![](./images-std/1.g-gpoao-------x.png)|![](./images-jmsml/GFGPOAO-------X.png)|GFGPOAO-------X|TACGRP.C2GM.OFF.ARS.OBJ|Objective|AREA|B||
|1081||![](./images/GFGPOAP-------X.png)|![](./images-std/1.g-gpoap-------x.png)|![](./images-jmsml/GFGPOAP-------X.png)|GFGPOAP-------X|TACGRP.C2GM.OFF.ARS.PBX|Penetration Box|AREA|B||
|1082||![](./images/GFGPOAS-------X.png)|![](./images-std/1.g-gpoas-------x.png)|![](./images-jmsml/GFGPOAS-------X.png)|GFGPOAS-------X|TACGRP.C2GM.OFF.ARS.SFP|Support By Fire Position|LINE|B||
|1083||![](./images/GFGPOLAA------X.png)|![](./images-std/1.g-gpolaa------x.png)|![](./images-jmsml/GFGPOLAA------X.png)|GFGPOLAA------X|TACGRP.C2GM.OFF.LNE.AXSADV.ABN|Airborne|LINE|B||
|1084||![](./images/GFGPOLAGM-----X.png)|![](./images-std/1.g-gpolagm-----x.png)|![](./images-jmsml/GFGPOLAGM-----X.png)|GFGPOLAGM-----X|TACGRP.C2GM.OFF.LNE.AXSADV.GRD.MANATK|Main Attack|LINE|B||
|1085||![](./images/GFGPOLAGS-----X.png)|![](./images-std/1.g-gpolags-----x.png)|![](./images-jmsml/GFGPOLAGS-----X.png)|GFGPOLAGS-----X|TACGRP.C2GM.OFF.LNE.AXSADV.GRD.SUPATK|Supporting Attack|LINE|B||
|1086||![](./images/GFGPOLAR------X.png)|![](./images-std/1.g-gpolar------x.png)|![](./images-jmsml/GFGPOLAR------X.png)|GFGPOLAR------X|TACGRP.C2GM.OFF.LNE.AXSADV.ATK|Attack  Rotary Wingv|LINE|B||
|1087||![](./images/GFGPOLAV------X.png)|![](./images-std/1.g-gpolav------x.png)|![](./images-jmsml/GFGPOLAV------X.png)|GFGPOLAV------X|TACGRP.C2GM.OFF.LNE.AXSADV.AVN|Aviation|LINE|B||
|1088||![](./images/GFGPOLC-------X.png)|![](./images-std/1.g-gpolc-------x.png)|![](./images-jmsml/GFGPOLC-------X.png)|GFGPOLC-------X|TACGRP.C2GM.OFF.LNE.LDLC|Line Of Departure/Line Of Contact (Ld/Lc)|LINE|B||
|1089||![](./images/GFGPOLF-------X.png)|![](./images-std/1.g-gpolf-------x.png)|![](./images-jmsml/GFGPOLF-------X.png)|GFGPOLF-------X|TACGRP.C2GM.OFF.LNE.FCL|Final Coordination Line|LINE|B||
|1090||![](./images/GFGPOLI-------X.png)|![](./images-std/1.g-gpoli-------x.png)|![](./images-jmsml/GFGPOLI-------X.png)|GFGPOLI-------X|TACGRP.C2GM.OFF.LNE.INFNLE|Infiltration Lane|LINE|B||
|1091||![](./images/GFGPOLKA------X.png)|![](./images-std/1.g-gpolka------x.png)|![](./images-jmsml/GFGPOLKA------X.png)|GFGPOLKA------X|TACGRP.C2GM.OFF.LNE.DIRATK.AVN|Aviation|LINE|B||
|1092||![](./images/GFGPOLKGM-----X.png)|![](./images-std/1.g-gpolkgm-----x.png)|![](./images-jmsml/GFGPOLKGM-----X.png)|GFGPOLKGM-----X|TACGRP.C2GM.OFF.LNE.DIRATK.GRD.MANATK|Main Attack|LINE|B||
|1093||![](./images/GFGPOLKGS-----X.png)|![](./images-std/1.g-gpolkgs-----x.png)|![](./images-jmsml/GFGPOLKGS-----X.png)|GFGPOLKGS-----X|TACGRP.C2GM.OFF.LNE.DIRATK.GRD.SUPATK|Supporting Attack|LINE|B||
|1094||![](./images/GFGPOLL-------X.png)|![](./images-std/1.g-gpoll-------x.png)|![](./images-jmsml/GFGPOLL-------X.png)|GFGPOLL-------X|TACGRP.C2GM.OFF.LNE.LMTADV|Limit Of Advance|LINE|B||
|1095||![](./images/GFGPOLP-------X.png)|![](./images-std/1.g-gpolp-------x.png)|![](./images-jmsml/GFGPOLP-------X.png)|GFGPOLP-------X|TACGRP.C2GM.OFF.LNE.PLD|Probable Line Of Deployment (Pld)|LINE|B||
|1096||![](./images/GFGPOLT-------X.png)|![](./images-std/1.g-gpolt-------x.png)|![](./images-jmsml/GFGPOLT-------X.png)|GFGPOLT-------X|TACGRP.C2GM.OFF.LNE.LD|Line Of Departure|LINE|B||
|1097||![](./images/GFGPOPP-------X.png)|![](./images-std/1.g-gpopp-------x.png)|![](./images-jmsml/GFGPOPP-------X.png)|GFGPOPP-------X|TACGRP.C2GM.OFF.PNT.PNTD|Point Of Departure|POINT|B||
|1098||![](./images/GFGPPA--------X.png)|![](./images-std/1.g-gppa--------x.png)|![](./images-jmsml/GFGPPA--------X.png)|GFGPPA--------X|TACGRP.C2GM.DCPN.AAFF|Axis Of Advance For Feint|POINT|B||
|1099||![](./images/GFGPPC--------X.png)|![](./images-std/1.g-gppc--------x.png)|![](./images-jmsml/GFGPPC--------X.png)|GFGPPC--------X|TACGRP.C2GM.DCPN.DMYMD|Dummy Minefield (Dynamic)|POINT|B||
|1100||![](./images/GFGPPD--------X.png)|![](./images-std/1.g-gppd--------x.png)|![](./images-jmsml/GFGPPD--------X.png)|GFGPPD--------X|TACGRP.C2GM.DCPN.DMY|Dummy (Deception/Decoy)|POINT|B||
|1101||![](./images/GFGPPF--------X.png)|![](./images-std/1.g-gppf--------x.png)|![](./images-jmsml/GFGPPF--------X.png)|GFGPPF--------X|TACGRP.C2GM.DCPN.DAFF|Direction Of Attack For Feint|POINT|B||
|1102||![](./images/GFGPPM--------X.png)|![](./images-std/1.g-gppm--------x.png)|![](./images-jmsml/GFGPPM--------X.png)|GFGPPM--------X|TACGRP.C2GM.DCPN.DMA|Decoy Mined Area|AREA|B||
|1103||![](./images/GFGPPN--------X.png)|![](./images-std/1.g-gppn--------x.png)|![](./images-jmsml/GFGPPN--------X.png)|GFGPPN--------X|TACGRP.C2GM.DCPN.DMYMS|Dummy Minefield (Static)|POINT|B||
|1104||![](./images/GFGPPY--------X.png)|![](./images-std/1.g-gppy--------x.png)|![](./images-jmsml/GFGPPY--------X.png)|GFGPPY--------X|TACGRP.C2GM.DCPN.DMAF|Decoy Mined Area  Fenced|AREA|B||
|1105||![](./images/GFGPSAA-------X.png)|![](./images-std/1.g-gpsaa-------x.png)|![](./images-jmsml/GFGPSAA-------X.png)|GFGPSAA-------X|TACGRP.C2GM.SPL.ARA.AHD|Airhead|AREA|B||
|1106||![](./images/GFGPSAE-------X.png)|![](./images-std/1.g-gpsae-------x.png)|![](./images-jmsml/GFGPSAE-------X.png)|GFGPSAE-------X|TACGRP.C2GM.SPL.ARA.ENCMT|Encirclement|AREA|B||
|1107||![](./images/GFGPSAN-------X.png)|![](./images-std/1.g-gpsan-------x.png)|![](./images-jmsml/GFGPSAN-------X.png)|GFGPSAN-------X|TACGRP.C2GM.SPL.ARA.NAI|Named Area Of Interest (Nai)|AREA|B||
|1108||![](./images/GFGPSAO-------X.png)|![](./images-std/1.g-gpsao-------x.png)|![](./images-jmsml/GFGPSAO-------X.png)|GFGPSAO-------X|TACGRP.C2GM.SPL.ARA.AOO|Area Of Operations (Ao)|AREA|B||
|1109||![](./images/GFGPSAT-------X.png)|![](./images-std/1.g-gpsat-------x.png)|![](./images-jmsml/GFGPSAT-------X.png)|GFGPSAT-------X|TACGRP.C2GM.SPL.ARA.TAI|Targeted Area Of Interest (Tai)|AREA|B||
|1110||![](./images/GFGPSLA-------X.png)|![](./images-std/1.g-gpsla-------x.png)|![](./images-jmsml/GFGPSLA-------X.png)|GFGPSLA-------X|TACGRP.C2GM.SPL.LNE.AMB|Ambush|LINE|B||
|1111||![](./images/GFGPSLB-------X.png)|![](./images-std/1.g-gpslb-------x.png)|![](./images-jmsml/GFGPSLB-------X.png)|GFGPSLB-------X|TACGRP.C2GM.SPL.LNE.BRGH|Bridgehead|LINE|B||
|1112||![](./images/GFGPSLH-------X.png)|![](./images-std/1.g-gpslh-------x.png)|![](./images-jmsml/GFGPSLH-------X.png)|GFGPSLH-------X|TACGRP.C2GM.SPL.LNE.HGL|Holding Line|LINE|B||
|1113||![](./images/GFGPSLR-------X.png)|![](./images-std/1.g-gpslr-------x.png)|![](./images-jmsml/GFGPSLR-------X.png)|GFGPSLR-------X|TACGRP.C2GM.SPL.LNE.REL|Release Line|LINE|B||
|1114|PERHAPS|![](./images/GFMPBCA-------X.png)|![](./images-std/1.g-mpbca-------x.png)|![](./images-jmsml/GFMPBCA-------X.png)|GFMPBCA-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.ASTCA|Assault Crossing Area|LINE|B|Being Drawn as Area (not line?)|
|1115||![](./images/GFMPBCB-------X.png)|![](./images-std/1.g-mpbcb-------x.png)|![](./images-jmsml/GFMPBCB-------X.png)|GFMPBCB-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.BRG|Bridge Or Gap|LINE|B||
|1116||![](./images/GFMPBCD-------X.png)|![](./images-std/1.g-mpbcd-------x.png)|![](./images-jmsml/GFMPBCD-------X.png)|GFMPBCD-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.FRDDFT|Ford Difficult|LINE|B||
|1117||![](./images/GFMPBCE-------X.png)|![](./images-std/1.g-mpbce-------x.png)|![](./images-jmsml/GFMPBCE-------X.png)|GFMPBCE-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.FRDESY|Ford Easy|LINE|B||
|1118||![](./images/GFMPBCF-------X.png)|![](./images-std/1.g-mpbcf-------x.png)|![](./images-jmsml/GFMPBCF-------X.png)|GFMPBCF-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.FRY|Ferry|LINE|B||
|1119||![](./images/GFMPBCL-------X.png)|![](./images-std/1.g-mpbcl-------x.png)|![](./images-jmsml/GFMPBCL-------X.png)|GFMPBCL-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.LANE|Lane|LINE|B||
|1120||![](./images/GFMPBCP-------X.png)|![](./images-std/1.g-mpbcp-------x.png)|![](./images-jmsml/GFMPBCP-------X.png)|GFMPBCP-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.ERP|Engineer Regulating Point|LINE|B||
|1121||![](./images/GFMPBCR-------X.png)|![](./images-std/1.g-mpbcr-------x.png)|![](./images-jmsml/GFMPBCR-------X.png)|GFMPBCR-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.RFT|Raft Site|LINE|B||
|1122||![](./images/GFMPBDD-------X.png)|![](./images-std/1.g-mpbdd-------x.png)|![](./images-jmsml/GFMPBDD-------X.png)|GFMPBDD-------X|TACGRP.MOBSU.OBSTBP.DFTY.DFT|Bypass Difficult|LINE|B||
|1123||![](./images/GFMPBDE-------X.png)|![](./images-std/1.g-mpbde-------x.png)|![](./images-jmsml/GFMPBDE-------X.png)|GFMPBDE-------X|TACGRP.MOBSU.OBSTBP.DFTY.ESY|Bypass Easy|LINE|B||
|1124||![](./images/GFMPBDI-------X.png)|![](./images-std/1.g-mpbdi-------x.png)|![](./images-jmsml/GFMPBDI-------X.png)|GFMPBDI-------X|TACGRP.MOBSU.OBSTBP.DFTY.IMP|Bypass Impossible|LINE|B||
|1125||![](./images/GFMPNB--------X.png)|![](./images-std/1.g-mpnb--------x.png)|![](./images-jmsml/GFMPNB--------X.png)|GFMPNB--------X|TACGRP.MOBSU.CBRN.BIOCA|Biologically Contaminated Area|AREA|B||
|1126||![](./images/GFMPNC--------X.png)|![](./images-std/1.g-mpnc--------x.png)|![](./images-jmsml/GFMPNC--------X.png)|GFMPNC--------X|TACGRP.MOBSU.CBRN.CMLCA|Chemically Contaminated Area|AREA|B||
|1127||![](./images/GFMPNDA-------X.png)|![](./images-std/1.g-mpnda-------x.png)|![](./images-jmsml/GFMPNDA-------X.png)|GFMPNDA-------X|TACGRP.MOBSU.CBRN.DECONP.ALTUSP|Alternate Decon Site/Point (Unspecified)|POINT|B||
|1128||![](./images/GFMPNDB-------X.png)|![](./images-std/1.g-mpndb-------x.png)|![](./images-jmsml/GFMPNDB-------X.png)|GFMPNDB-------X|TACGRP.MOBSU.CBRN.DECONP.EQTTRP|Decon Site/Point (Equipment And Troops)|POINT|B||
|1129||![](./images/GFMPNDD-------X.png)|![](./images-std/1.g-mpndd-------x.png)|![](./images-jmsml/GFMPNDD-------X.png)|GFMPNDD-------X|TACGRP.MOBSU.CBRN.DECONP.TRGH|Decon Site/Point (Thorough Decontamination)|POINT|B||
|1130||![](./images/GFMPNDE-------X.png)|![](./images-std/1.g-mpnde-------x.png)|![](./images-jmsml/GFMPNDE-------X.png)|GFMPNDE-------X|TACGRP.MOBSU.CBRN.DECONP.EQT|Decon Site/Point (Equipment)|POINT|B||
|1131||![](./images/GFMPNDO-------X.png)|![](./images-std/1.g-mpndo-------x.png)|![](./images-jmsml/GFMPNDO-------X.png)|GFMPNDO-------X|TACGRP.MOBSU.CBRN.DECONP.OPDECN|Decon Site/Point (Operational Decontamination)|POINT|B||
|1132||![](./images/GFMPNDP-------X.png)|![](./images-std/1.g-mpndp-------x.png)|![](./images-jmsml/GFMPNDP-------X.png)|GFMPNDP-------X|TACGRP.MOBSU.CBRN.DECONP.USP|Decon Site/Point (Unspecified)|POINT|B||
|1133||![](./images/GFMPNDT-------X.png)|![](./images-std/1.g-mpndt-------x.png)|![](./images-jmsml/GFMPNDT-------X.png)|GFMPNDT-------X|TACGRP.MOBSU.CBRN.DECONP.TRP|Decon Site/Point (Troops)|POINT|B||
|1134||![](./images/GFMPNEB-------X.png)|![](./images-std/1.g-mpneb-------x.png)|![](./images-jmsml/GFMPNEB-------X.png)|GFMPNEB-------X|TACGRP.MOBSU.CBRN.REEVNT.BIO|Biological|POINT|B||
|1135||![](./images/GFMPNEC-------X.png)|![](./images-std/1.g-mpnec-------x.png)|![](./images-jmsml/GFMPNEC-------X.png)|GFMPNEC-------X|TACGRP.MOBSU.CBRN.REEVNT.CML|Chemical|POINT|B||
|1136|PERHAPS|![](./images/GFMPNF--------X.png)|![](./images-std/1.g-mpnf--------x.png)|![](./images-jmsml/GFMPNF--------X.png)|GFMPNF--------X|TACGRP.MOBSU.CBRN.FAOTP|Fallout Producing|POINT|B||
|1137||![](./images/GFMPNL--------X.png)|![](./images-std/1.g-mpnl--------x.png)|![](./images-jmsml/GFMPNL--------X.png)|GFMPNL--------X|TACGRP.MOBSU.CBRN.DRCL|Dose Rate Contour Lines|AREA|B||
|1138||![](./images/GFMPNM--------X.png)|![](./images-std/1.g-mpnm--------x.png)|![](./images-jmsml/GFMPNM--------X.png)|GFMPNM--------X|TACGRP.MOBSU.CBRN.MSDZ|Minimum Safe Distance Zones|POINT|B||
|1139||![](./images/GFMPNR--------X.png)|![](./images-std/1.g-mpnr--------x.png)|![](./images-jmsml/GFMPNR--------X.png)|GFMPNR--------X|TACGRP.MOBSU.CBRN.RADA|Radioactive Area|AREA|B||
|1140||![](./images/GFMPNZ--------X.png)|![](./images-std/1.g-mpnz--------x.png)|![](./images-jmsml/GFMPNZ--------X.png)|GFMPNZ--------X|TACGRP.MOBSU.CBRN.NDGZ|Nuclear Detonations Ground Zero|POINT|B||
|1141||![](./images/GFMPOADC------X.png)|![](./images-std/1.g-mpoadc------x.png)|![](./images-jmsml/GFMPOADC------X.png)|GFMPOADC------X|TACGRP.MOBSU.OBST.ATO.ATD.ATDC|Complete|LINE|B||
|1142||![](./images/GFMPOADU------X.png)|![](./images-std/1.g-mpoadu------x.png)|![](./images-jmsml/GFMPOADU------X.png)|GFMPOADU------X|TACGRP.MOBSU.OBST.ATO.ATD.ATDUC|Under Construction|LINE|B||
|1143||![](./images/GFMPOAOF------X.png)|![](./images-std/1.g-mpoaof------x.png)|![](./images-jmsml/GFMPOAOF------X.png)|GFMPOAOF------X|TACGRP.MOBSU.OBST.ATO.TDTSM.FIXPFD|Fixed And Prefabricated|POINT|B||
|1144||![](./images/GFMPOAOM------X.png)|![](./images-std/1.g-mpoaom------x.png)|![](./images-jmsml/GFMPOAOM------X.png)|GFMPOAOM------X|TACGRP.MOBSU.OBST.ATO.TDTSM.MVB|Moveable|POINT|B||
|1145||![](./images/GFMPOAOP------X.png)|![](./images-std/1.g-mpoaop------x.png)|![](./images-jmsml/GFMPOAOP------X.png)|GFMPOAOP------X|TACGRP.MOBSU.OBST.ATO.TDTSM.MVBPFD|Moveable And Prefabricated|POINT|B||
|1146||![](./images/GFMPOAR-------X.png)|![](./images-std/1.g-mpoar-------x.png)|![](./images-jmsml/GFMPOAR-------X.png)|GFMPOAR-------X|TACGRP.MOBSU.OBST.ATO.ATDATM|Antitank Ditch Reinforced With Antitank Mines|LINE|B||
|1147||![](./images/GFMPOAW-------X.png)|![](./images-std/1.g-mpoaw-------x.png)|![](./images-jmsml/GFMPOAW-------X.png)|GFMPOAW-------X|TACGRP.MOBSU.OBST.ATO.ATW|Antitank Wall|LINE|B||
|1148||![](./images/GFMPOB--------X.png)|![](./images-std/1.g-mpob--------x.png)|![](./images-jmsml/GFMPOB--------X.png)|GFMPOB--------X|TACGRP.MOBSU.OBST.BBY|Booby Trap|POINT|B||
|1149||![](./images/GFMPOEB-------X.png)|![](./images-std/1.g-mpoeb-------x.png)|![](./images-jmsml/GFMPOEB-------X.png)|GFMPOEB-------X|TACGRP.MOBSU.OBST.OBSEFT.BLK|Block|LINE|B||
|1150||![](./images/GFMPOED-------X.png)|![](./images-std/1.g-mpoed-------x.png)|![](./images-jmsml/GFMPOED-------X.png)|GFMPOED-------X|TACGRP.MOBSU.OBST.OBSEFT.DRT|Disrupt|LINE|B||
|1151||![](./images/GFMPOEF-------X.png)|![](./images-std/1.g-mpoef-------x.png)|![](./images-jmsml/GFMPOEF-------X.png)|GFMPOEF-------X|TACGRP.MOBSU.OBST.OBSEFT.FIX|Fix|LINE|B||
|1152||![](./images/GFMPOET-------X.png)|![](./images-std/1.g-mpoet-------x.png)|![](./images-jmsml/GFMPOET-------X.png)|GFMPOET-------X|TACGRP.MOBSU.OBST.OBSEFT.TUR|Turn|LINE|B||
|1153||![](./images/GFMPOFA-------X.png)|![](./images-std/1.g-mpofa-------x.png)|![](./images-jmsml/GFMPOFA-------X.png)|GFMPOFA-------X|TACGRP.MOBSU.OBST.MNEFLD.MNDARA|Mined Area|AREA|B||
|1154||![](./images/GFMPOFD-------X.png)|![](./images-std/1.g-mpofd-------x.png)|![](./images-jmsml/GFMPOFD-------X.png)|GFMPOFD-------X|TACGRP.MOBSU.OBST.MNEFLD.DYN|Dynamic Depiction|AREA|B||
|1155||![](./images/GFMPOFG-------X.png)|![](./images-std/1.g-mpofg-------x.png)|![](./images-jmsml/GFMPOFG-------X.png)|GFMPOFG-------X|TACGRP.MOBSU.OBST.MNEFLD.GAP|Gap|LINE|B||
|1156||![](./images/GFMPOFS-------X.png)|![](./images-std/1.g-mpofs-------x.png)|![](./images-jmsml/GFMPOFS-------X.png)|GFMPOFS-------X|TACGRP.MOBSU.OBST.MNEFLD.STC|Static Depiction|POINT|B||
|1157||![](./images/GFMPOGB-------X.png)|![](./images-std/1.g-mpogb-------x.png)|![](./images-jmsml/GFMPOGB-------X.png)|GFMPOGB-------X|TACGRP.MOBSU.OBST.GNL.BLT|Belt|AREA|B||
|1158||![](./images/GFMPOGF-------X.png)|![](./images-std/1.g-mpogf-------x.png)|![](./images-jmsml/GFMPOGF-------X.png)|GFMPOGF-------X|TACGRP.MOBSU.OBST.GNL.OFA|Obstacle Free Area|AREA|B||
|1159||![](./images/GFMPOGL-------X.png)|![](./images-std/1.g-mpogl-------x.png)|![](./images-jmsml/GFMPOGL-------X.png)|GFMPOGL-------X|TACGRP.MOBSU.OBST.GNL.LNE|Line|LINE|B||
|1160||![](./images/GFMPOGR-------X.png)|![](./images-std/1.g-mpogr-------x.png)|![](./images-jmsml/GFMPOGR-------X.png)|GFMPOGR-------X|TACGRP.MOBSU.OBST.GNL.ORA|Obstacle Restricted Area|AREA|B||
|1161||![](./images/GFMPOGZ-------X.png)|![](./images-std/1.g-mpogz-------x.png)|![](./images-jmsml/GFMPOGZ-------X.png)|GFMPOGZ-------X|TACGRP.MOBSU.OBST.GNL.Z|Zone|AREA|B||
|1162||![](./images/GFMPOHO-------X.png)|![](./images-std/1.g-mpoho-------x.png)|![](./images-jmsml/GFMPOHO-------X.png)|GFMPOHO-------X|TACGRP.MOBSU.OBST.AVN.OHWIRE|Overhead Wire/Power Line|LINE|B||
|1163||![](./images/GFMPOHTH------X.png)|![](./images-std/1.g-mpohth------x.png)|![](./images-jmsml/GFMPOHTH------X.png)|GFMPOHTH------X|TACGRP.MOBSU.OBST.AVN.TWR.HIGH|High|POINT|B||
|1164||![](./images/GFMPOHTL------X.png)|![](./images-std/1.g-mpohtl------x.png)|![](./images-jmsml/GFMPOHTL------X.png)|GFMPOHTL------X|TACGRP.MOBSU.OBST.AVN.TWR.LOW|Low|POINT|B||
|1165|PERHAPS|![](./images/GFMPOMC-------X.png)|![](./images-std/1.g-mpomc-------x.png)|![](./images-jmsml/GFMPOMC-------X.png)|GFMPOMC-------X|TACGRP.MOBSU.OBST.MNE.MCLST|Mine Cluster|LINE|B||
|1166||![](./images/GFMPOMD-------X.png)|![](./images-std/1.g-mpomd-------x.png)|![](./images-jmsml/GFMPOMD-------X.png)|GFMPOMD-------X|TACGRP.MOBSU.OBST.MNE.ATMAHD|Antitank Mine With Antihandling Device|POINT|B||
|1167||![](./images/GFMPOME-------X.png)|![](./images-std/1.g-mpome-------x.png)|![](./images-jmsml/GFMPOME-------X.png)|GFMPOME-------X|TACGRP.MOBSU.OBST.MNE.ATMDIR|Antitank Mine (Directional)|POINT|B||
|1168||![](./images/GFMPOMP-------X.png)|![](./images-std/1.g-mpomp-------x.png)|![](./images-jmsml/GFMPOMP-------X.png)|GFMPOMP-------X|TACGRP.MOBSU.OBST.MNE.APMNE|Antipersonnel (Ap) Mines|POINT|B||
|1169||![](./images/GFMPOMT-------X.png)|![](./images-std/1.g-mpomt-------x.png)|![](./images-jmsml/GFMPOMT-------X.png)|GFMPOMT-------X|TACGRP.MOBSU.OBST.MNE.ATMNE|Antitank Mine (At)|POINT|B||
|1170||![](./images/GFMPOMU-------X.png)|![](./images-std/1.g-mpomu-------x.png)|![](./images-jmsml/GFMPOMU-------X.png)|GFMPOMU-------X|TACGRP.MOBSU.OBST.MNE.USPMNE|Unspecified Mine|POINT|B||
|1171||![](./images/GFMPOMW-------X.png)|![](./images-std/1.g-mpomw-------x.png)|![](./images-jmsml/GFMPOMW-------X.png)|GFMPOMW-------X|TACGRP.MOBSU.OBST.MNE.WAMNE|Wide Area Mines|POINT|B||
|1172||![](./images/GFMPORA-------X.png)|![](./images-std/1.g-mpora-------x.png)|![](./images-jmsml/GFMPORA-------X.png)|GFMPORA-------X|TACGRP.MOBSU.OBST.RCBB.ABP|Explosives  State Of Readiness 2 (Armed-But Passable)|LINE|B||
|1173||![](./images/GFMPORC-------X.png)|![](./images-std/1.g-mporc-------x.png)|![](./images-jmsml/GFMPORC-------X.png)|GFMPORC-------X|TACGRP.MOBSU.OBST.RCBB.EXCD|Roadblock Complete (Executed)|LINE|B||
|1174||![](./images/GFMPORP-------X.png)|![](./images-std/1.g-mporp-------x.png)|![](./images-jmsml/GFMPORP-------X.png)|GFMPORP-------X|TACGRP.MOBSU.OBST.RCBB.PLND|Planned|LINE|B||
|1175||![](./images/GFMPORS-------X.png)|![](./images-std/1.g-mpors-------x.png)|![](./images-jmsml/GFMPORS-------X.png)|GFMPORS-------X|TACGRP.MOBSU.OBST.RCBB.SAFE|Explosives  State Of Readiness 1 (Safe)|LINE|B||
|1176||![](./images/GFMPOS--------X.png)|![](./images-std/1.g-mpos--------x.png)|![](./images-jmsml/GFMPOS--------X.png)|GFMPOS--------X|TACGRP.MOBSU.OBST.ABS|Abatis|LINE|B||
|1177||![](./images/GFMPOT--------X.png)|![](./images-std/1.g-mpot--------x.png)|![](./images-jmsml/GFMPOT--------X.png)|GFMPOT--------X|TACGRP.MOBSU.OBST.TRIPWR|Trip Wire|LINE|B||
|1178||![](./images/GFMPOU--------X.png)|![](./images-std/1.g-mpou--------x.png)|![](./images-jmsml/GFMPOU--------X.png)|GFMPOU--------X|TACGRP.MOBSU.OBST.UXO|Unexploded Ordnance Area (Uxo)|AREA|B||
|1179||![](./images/GFMPOWA-------X.png)|![](./images-std/1.g-mpowa-------x.png)|![](./images-jmsml/GFMPOWA-------X.png)|GFMPOWA-------X|TACGRP.MOBSU.OBST.WREOBS.DAFNC|Double Apron Fence|LINE|B||
|1180||![](./images/GFMPOWCD------X.png)|![](./images-std/1.g-mpowcd------x.png)|![](./images-jmsml/GFMPOWCD------X.png)|GFMPOWCD------X|TACGRP.MOBSU.OBST.WREOBS.CCTA.DBLSTD|Double Strand Concertina|LINE|B||
|1181||![](./images/GFMPOWCS------X.png)|![](./images-std/1.g-mpowcs------x.png)|![](./images-jmsml/GFMPOWCS------X.png)|GFMPOWCS------X|TACGRP.MOBSU.OBST.WREOBS.CCTA.SNG|Single Concertina|LINE|B||
|1182||![](./images/GFMPOWCT------X.png)|![](./images-std/1.g-mpowct------x.png)|![](./images-jmsml/GFMPOWCT------X.png)|GFMPOWCT------X|TACGRP.MOBSU.OBST.WREOBS.CCTA.TRISTD|Triple Strand Concertina|LINE|B||
|1183||![](./images/GFMPOWD-------X.png)|![](./images-std/1.g-mpowd-------x.png)|![](./images-jmsml/GFMPOWD-------X.png)|GFMPOWD-------X|TACGRP.MOBSU.OBST.WREOBS.DBLFNC|Double Fence|LINE|B||
|1184||![](./images/GFMPOWH-------X.png)|![](./images-std/1.g-mpowh-------x.png)|![](./images-jmsml/GFMPOWH-------X.png)|GFMPOWH-------X|TACGRP.MOBSU.OBST.WREOBS.HWFNC|High Wire Fence|LINE|B||
|1185||![](./images/GFMPOWL-------X.png)|![](./images-std/1.g-mpowl-------x.png)|![](./images-jmsml/GFMPOWL-------X.png)|GFMPOWL-------X|TACGRP.MOBSU.OBST.WREOBS.LWFNC|Low Wire Fence|LINE|B||
|1186||![](./images/GFMPOWS-------X.png)|![](./images-std/1.g-mpows-------x.png)|![](./images-jmsml/GFMPOWS-------X.png)|GFMPOWS-------X|TACGRP.MOBSU.OBST.WREOBS.SNGFNC|Single Fence|LINE|B||
|1187||![](./images/GFMPOWU-------X.png)|![](./images-std/1.g-mpowu-------x.png)|![](./images-jmsml/GFMPOWU-------X.png)|GFMPOWU-------X|TACGRP.MOBSU.OBST.WREOBS.USP|Unspecified|LINE|B||
|1188||![](./images/GFMPSE--------X.png)|![](./images-std/1.g-mpse--------x.png)|![](./images-jmsml/GFMPSE--------X.png)|GFMPSE--------X|TACGRP.MOBSU.SU.ESTOF|Earthwork  Small Trench Or Fortification|POINT|B||
|1189||![](./images/GFMPSF--------X.png)|![](./images-std/1.g-mpsf--------x.png)|![](./images-jmsml/GFMPSF--------X.png)|GFMPSF--------X|TACGRP.MOBSU.SU.FRT|Fort|POINT|B||
|1190||![](./images/GFMPSL--------X.png)|![](./images-std/1.g-mpsl--------x.png)|![](./images-jmsml/GFMPSL--------X.png)|GFMPSL--------X|TACGRP.MOBSU.SU.FTFDLN|Fortified Line|LINE|B||
|1191||![](./images/GFMPSP--------X.png)|![](./images-std/1.g-mpsp--------x.png)|![](./images-jmsml/GFMPSP--------X.png)|GFMPSP--------X|TACGRP.MOBSU.SU.STRGPT|Strong Point|AREA|B||
|1192||![](./images/GFMPSS--------X.png)|![](./images-std/1.g-mpss--------x.png)|![](./images-jmsml/GFMPSS--------X.png)|GFMPSS--------X|TACGRP.MOBSU.SU.SUFSHL|Surface Shelter|POINT|B||
|1193||![](./images/GFMPSU--------X.png)|![](./images-std/1.g-mpsu--------x.png)|![](./images-jmsml/GFMPSU--------X.png)|GFMPSU--------X|TACGRP.MOBSU.SU.UGDSHL|Underground Shelter|POINT|B||
|1194||![](./images/GFMPSW--------X.png)|![](./images-std/1.g-mpsw--------x.png)|![](./images-jmsml/GFMPSW--------X.png)|GFMPSW--------X|TACGRP.MOBSU.SU.FEWS|Foxhole  Emplacement Or Weapon Site|LINE|B||
|1195||![](./images/GFOPBA--------X.png)|![](./images-std/1.g-opba--------x.png)|![](./images-jmsml/GFOPBA--------X.png)|GFOPBA--------X|TACGRP.OTH.BERLNE.ACU|Acoustic|LINE|B||
|1196||![](./images/GFOPBE--------X.png)|![](./images-std/1.g-opbe--------x.png)|![](./images-jmsml/GFOPBE--------X.png)|GFOPBE--------X|TACGRP.OTH.BERLNE.ELC|Electronic|LINE|B||
|1197||![](./images/GFOPBO--------X.png)|![](./images-std/1.g-opbo--------x.png)|![](./images-jmsml/GFOPBO--------X.png)|GFOPBO--------X|TACGRP.OTH.BERLNE.EOPI|Electro-Optical Intercept|LINE|B||
|1198||![](./images/GFOPB---------X.png)|![](./images-std/1.g-opb---------x.png)|![](./images-jmsml/GFOPB---------X.png)|GFOPB---------X|TACGRP.OTH.BERLNE|Bearing Line|LINE|B||
|1199||![](./images/GFOPBT--------X.png)|![](./images-std/1.g-opbt--------x.png)|![](./images-jmsml/GFOPBT--------X.png)|GFOPBT--------X|TACGRP.OTH.BERLNE.TPD|Torpedo|LINE|B||
|1200||![](./images/GFOPED--------X.png)|![](./images-std/1.g-oped--------x.png)|![](./images-jmsml/GFOPED--------X.png)|GFOPED--------X|TACGRP.OTH.ER.DTHAC|Ditched Aircraft|POINT|B||
|1201||![](./images/GFOPEP--------X.png)|![](./images-std/1.g-opep--------x.png)|![](./images-jmsml/GFOPEP--------X.png)|GFOPEP--------X|TACGRP.OTH.ER.PIW|Person In Water|POINT|B||
|1202||![](./images/GFOPEV--------X.png)|![](./images-std/1.g-opev--------x.png)|![](./images-jmsml/GFOPEV--------X.png)|GFOPEV--------X|TACGRP.OTH.ER.DSTVES|Distressed Vessel|POINT|B||
|1203||![](./images/GFOPFA--------X.png)|![](./images-std/1.g-opfa--------x.png)|![](./images-jmsml/GFOPFA--------X.png)|GFOPFA--------X|TACGRP.OTH.FIX.ACU|Acoustic|POINT|B||
|1204||![](./images/GFOPFE--------X.png)|![](./images-std/1.g-opfe--------x.png)|![](./images-jmsml/GFOPFE--------X.png)|GFOPFE--------X|TACGRP.OTH.FIX.EM|Electro-Magnetic|POINT|B||
|1205||![](./images/GFOPFO--------X.png)|![](./images-std/1.g-opfo--------x.png)|![](./images-jmsml/GFOPFO--------X.png)|GFOPFO--------X|TACGRP.OTH.FIX.EOP|Electro-Optical|POINT|B||
|1206||![](./images/GFOPHI--------X.png)|![](./images-std/1.g-ophi--------x.png)|![](./images-jmsml/GFOPHI--------X.png)|GFOPHI--------X|TACGRP.OTH.HAZ.IB|Iceberg|POINT|B||
|1207||![](./images/GFOPHM--------X.png)|![](./images-std/1.g-ophm--------x.png)|![](./images-jmsml/GFOPHM--------X.png)|GFOPHM--------X|TACGRP.OTH.HAZ.SML|Sea Mine-Like|POINT|B||
|1208||![](./images/GFOPHN--------X.png)|![](./images-std/1.g-ophn--------x.png)|![](./images-jmsml/GFOPHN--------X.png)|GFOPHN--------X|TACGRP.OTH.HAZ.NVGL|Navigational|LINE|B||
|1209||![](./images/GFOPHO--------X.png)|![](./images-std/1.g-opho--------x.png)|![](./images-jmsml/GFOPHO--------X.png)|GFOPHO--------X|TACGRP.OTH.HAZ.OLRG|Oil Rig|POINT|B||
|1210||![](./images/GFOPSBM-------X.png)|![](./images-std/1.g-opsbm-------x.png)|![](./images-jmsml/GFOPSBM-------X.png)|GFOPSBM-------X|TACGRP.OTH.SSUBSR.BTMRTN.INS|Installation/Manmade|POINT|B||
|1211||![](./images/GFOPSBN-------X.png)|![](./images-std/1.g-opsbn-------x.png)|![](./images-jmsml/GFOPSBN-------X.png)|GFOPSBN-------X|TACGRP.OTH.SSUBSR.BTMRTN.SBRSOO|Seabed Rock/Stone  Obstacle  Other|POINT|B||
|1212||![](./images/GFOPSBW-------X.png)|![](./images-std/1.g-opsbw-------x.png)|![](./images-jmsml/GFOPSBW-------X.png)|GFOPSBW-------X|TACGRP.OTH.SSUBSR.BTMRTN.WRKND|Wreck  Non Dangerous|POINT|B||
|1213||![](./images/GFOPSB--------X.png)|![](./images-std/1.g-opsb--------x.png)|![](./images-jmsml/GFOPSB--------X.png)|GFOPSB--------X|TACGRP.OTH.SSUBSR.BTMRTN|Bottom Return/Non-Milco|POINT|B||
|1214||![](./images/GFOPSBX-------X.png)|![](./images-std/1.g-opsbx-------x.png)|![](./images-jmsml/GFOPSBX-------X.png)|GFOPSBX-------X|TACGRP.OTH.SSUBSR.BTMRTN.WRKD|Wreck  Dangerous|POINT|B||
|1215||![](./images/GFOPSM--------X.png)|![](./images-std/1.g-opsm--------x.png)|![](./images-jmsml/GFOPSM--------X.png)|GFOPSM--------X|TACGRP.OTH.SSUBSR.MARLFE|Marine Life|POINT|B||
|1216||![](./images/GFOPSS--------X.png)|![](./images-std/1.g-opss--------x.png)|![](./images-jmsml/GFOPSS--------X.png)|GFOPSS--------X|TACGRP.OTH.SSUBSR.SA|Sea Anomaly (Wake  Current  Knuckle)|POINT|B||
|1217||![](./images/GFSPAD--------X.png)|![](./images-std/1.g-spad--------x.png)|![](./images-jmsml/GFSPAD--------X.png)|GFSPAD--------X|TACGRP.CSS.ARA.DHA|Detainee Holding Area|AREA|B||
|1218||![](./images/GFSPAE--------X.png)|![](./images-std/1.g-spae--------x.png)|![](./images-jmsml/GFSPAE--------X.png)|GFSPAE--------X|TACGRP.CSS.ARA.EPWHA|Enemy Prisoner Of War (Epw) Holding Area|AREA|B||
|1219||![](./images/GFSPAH--------X.png)|![](./images-std/1.g-spah--------x.png)|![](./images-jmsml/GFSPAH--------X.png)|GFSPAH--------X|TACGRP.CSS.ARA.RHA|Refugee Holding Area|AREA|B||
|1220||![](./images/GFSPAR--------X.png)|![](./images-std/1.g-spar--------x.png)|![](./images-jmsml/GFSPAR--------X.png)|GFSPAR--------X|TACGRP.CSS.ARA.FARP|Forward Arming And Refueling Area (Farp)|AREA|B||
|1221||![](./images/GFSPASB-------X.png)|![](./images-std/1.g-spasb-------x.png)|![](./images-jmsml/GFSPASB-------X.png)|GFSPASB-------X|TACGRP.CSS.ARA.SUPARS.BSA|Brigade (Bsa)|AREA|B||
|1222||![](./images/GFSPASD-------X.png)|![](./images-std/1.g-spasd-------x.png)|![](./images-jmsml/GFSPASD-------X.png)|GFSPASD-------X|TACGRP.CSS.ARA.SUPARS.DSA|Division (Dsa)|AREA|B||
|1223||![](./images/GFSPASR-------X.png)|![](./images-std/1.g-spasr-------x.png)|![](./images-jmsml/GFSPASR-------X.png)|GFSPASR-------X|TACGRP.CSS.ARA.SUPARS.RSA|Regimental (Rsa)|AREA|B||
|1224||![](./images/GFSPLCH-------X.png)|![](./images-std/1.g-splch-------x.png)|![](./images-jmsml/GFSPLCH-------X.png)|GFSPLCH-------X|TACGRP.CSS.LNE.CNY.HCNY|Halted Convoy|LINE|B||
|1225||![](./images/GFSPLCM-------X.png)|![](./images-std/1.g-splcm-------x.png)|![](./images-jmsml/GFSPLCM-------X.png)|GFSPLCM-------X|TACGRP.CSS.LNE.CNY.MCNY|Moving Convoy|LINE|B||
|1226||![](./images/GFSPLRA-------X.png)|![](./images-std/1.g-splra-------x.png)|![](./images-jmsml/GFSPLRA-------X.png)|GFSPLRA-------X|TACGRP.CSS.LNE.SLPRUT.ASRUT|Alternate Supply Route|LINE|B||
|1227||![](./images/GFSPLRM-------X.png)|![](./images-std/1.g-splrm-------x.png)|![](./images-jmsml/GFSPLRM-------X.png)|GFSPLRM-------X|TACGRP.CSS.LNE.SLPRUT.MSRUT|Main Supply Route|LINE|B||
|1228||![](./images/GFSPLRO-------X.png)|![](./images-std/1.g-splro-------x.png)|![](./images-jmsml/GFSPLRO-------X.png)|GFSPLRO-------X|TACGRP.CSS.LNE.SLPRUT.1WTRFF|One-Way Traffic|LINE|B||
|1229||![](./images/GFSPLRT-------X.png)|![](./images-std/1.g-splrt-------x.png)|![](./images-jmsml/GFSPLRT-------X.png)|GFSPLRT-------X|TACGRP.CSS.LNE.SLPRUT.ATRFF|Alternating Traffic|LINE|B||
|1230||![](./images/GFSPLRW-------X.png)|![](./images-std/1.g-splrw-------x.png)|![](./images-jmsml/GFSPLRW-------X.png)|GFSPLRW-------X|TACGRP.CSS.LNE.SLPRUT.2WTRFF|Two-Way Traffic|LINE|B||
|1231||![](./images/GFSPPAS-------X.png)|![](./images-std/1.g-sppas-------x.png)|![](./images-jmsml/GFSPPAS-------X.png)|GFSPPAS-------X|TACGRP.CSS.PNT.AP.ASP|Ammunition Supply Point (Asp)|POINT|B||
|1232||![](./images/GFSPPAT-------X.png)|![](./images-std/1.g-sppat-------x.png)|![](./images-jmsml/GFSPPAT-------X.png)|GFSPPAT-------X|TACGRP.CSS.PNT.AP.ATP|Ammunition Transfer Point (Atp)|POINT|B||
|1233||![](./images/GFSPPC--------X.png)|![](./images-std/1.g-sppc--------x.png)|![](./images-jmsml/GFSPPC--------X.png)|GFSPPC--------X|TACGRP.CSS.PNT.CBNP|Cannibalization Point|POINT|B||
|1234||![](./images/GFSPPD--------X.png)|![](./images-std/1.g-sppd--------x.png)|![](./images-jmsml/GFSPPD--------X.png)|GFSPPD--------X|TACGRP.CSS.PNT.DCP|Detainee Collection Point|POINT|B||
|1235||![](./images/GFSPPE--------X.png)|![](./images-std/1.g-sppe--------x.png)|![](./images-jmsml/GFSPPE--------X.png)|GFSPPE--------X|TACGRP.CSS.PNT.EPWCP|Enemy Prisoner Of War (Epw) Collection Point|POINT|B||
|1236||![](./images/GFSPPI--------X.png)|![](./images-std/1.g-sppi--------x.png)|![](./images-jmsml/GFSPPI--------X.png)|GFSPPI--------X|TACGRP.CSS.PNT.TTP|Trailer Transfer Point|POINT|B||
|1237||![](./images/GFSPPL--------X.png)|![](./images-std/1.g-sppl--------x.png)|![](./images-jmsml/GFSPPL--------X.png)|GFSPPL--------X|TACGRP.CSS.PNT.LRP|Logistics Release Point (Lrp)|POINT|B||
|1238||![](./images/GFSPPM--------X.png)|![](./images-std/1.g-sppm--------x.png)|![](./images-jmsml/GFSPPM--------X.png)|GFSPPM--------X|TACGRP.CSS.PNT.MCP|Maintenance Collection Point|POINT|B||
|1239||![](./images/GFSPPN--------X.png)|![](./images-std/1.g-sppn--------x.png)|![](./images-jmsml/GFSPPN--------X.png)|GFSPPN--------X|TACGRP.CSS.PNT.UMC|Unit Maintenance Collection Point|POINT|B||
|1240||![](./images/GFSPPO--------X.png)|![](./images-std/1.g-sppo--------x.png)|![](./images-jmsml/GFSPPO--------X.png)|GFSPPO--------X|TACGRP.CSS.PNT.TCP|Traffic Control Post (Tcp)|POINT|B||
|1241||![](./images/GFSPPR--------X.png)|![](./images-std/1.g-sppr--------x.png)|![](./images-jmsml/GFSPPR--------X.png)|GFSPPR--------X|TACGRP.CSS.PNT.RRRP|Rearm  Refuel And Resupply Point|POINT|B||
|1242||![](./images/GFSPPSA-------X.png)|![](./images-std/1.g-sppsa-------x.png)|![](./images-jmsml/GFSPPSA-------X.png)|GFSPPSA-------X|TACGRP.CSS.PNT.SPT.CLS1|Class I|POINT|B||
|1243||![](./images/GFSPPSB-------X.png)|![](./images-std/1.g-sppsb-------x.png)|![](./images-jmsml/GFSPPSB-------X.png)|GFSPPSB-------X|TACGRP.CSS.PNT.SPT.CLS2|Class Ii|POINT|B||
|1244||![](./images/GFSPPSC-------X.png)|![](./images-std/1.g-sppsc-------x.png)|![](./images-jmsml/GFSPPSC-------X.png)|GFSPPSC-------X|TACGRP.CSS.PNT.SPT.CLS3|Class Iii|POINT|B||
|1245||![](./images/GFSPPSD-------X.png)|![](./images-std/1.g-sppsd-------x.png)|![](./images-jmsml/GFSPPSD-------X.png)|GFSPPSD-------X|TACGRP.CSS.PNT.SPT.CLS4|Class Iv|POINT|B||
|1246||![](./images/GFSPPSE-------X.png)|![](./images-std/1.g-sppse-------x.png)|![](./images-jmsml/GFSPPSE-------X.png)|GFSPPSE-------X|TACGRP.CSS.PNT.SPT.CLS5|Class V|POINT|B||
|1247||![](./images/GFSPPSF-------X.png)|![](./images-std/1.g-sppsf-------x.png)|![](./images-jmsml/GFSPPSF-------X.png)|GFSPPSF-------X|TACGRP.CSS.PNT.SPT.CLS6|Class Vi|POINT|B||
|1248||![](./images/GFSPPSG-------X.png)|![](./images-std/1.g-sppsg-------x.png)|![](./images-jmsml/GFSPPSG-------X.png)|GFSPPSG-------X|TACGRP.CSS.PNT.SPT.CLS7|Class Vii|POINT|B||
|1249||![](./images/GFSPPSH-------X.png)|![](./images-std/1.g-sppsh-------x.png)|![](./images-jmsml/GFSPPSH-------X.png)|GFSPPSH-------X|TACGRP.CSS.PNT.SPT.CLS8|Class Viii|POINT|B||
|1250||![](./images/GFSPPSI-------X.png)|![](./images-std/1.g-sppsi-------x.png)|![](./images-jmsml/GFSPPSI-------X.png)|GFSPPSI-------X|TACGRP.CSS.PNT.SPT.CLS9|Class Ix|POINT|B||
|1251||![](./images/GFSPPSJ-------X.png)|![](./images-std/1.g-sppsj-------x.png)|![](./images-jmsml/GFSPPSJ-------X.png)|GFSPPSJ-------X|TACGRP.CSS.PNT.SPT.CLS10|Class X|POINT|B||
|1252||![](./images/GFSPPSZ-------X.png)|![](./images-std/1.g-sppsz-------x.png)|![](./images-jmsml/GFSPPSZ-------X.png)|GFSPPSZ-------X|TACGRP.CSS.PNT.SPT.GNL|General|POINT|B||
|1253||![](./images/GFSPPT--------X.png)|![](./images-std/1.g-sppt--------x.png)|![](./images-jmsml/GFSPPT--------X.png)|GFSPPT--------X|TACGRP.CSS.PNT.CVP|Civilian Collection Point|POINT|B||
|1254||![](./images/GFSPPU--------X.png)|![](./images-std/1.g-sppu--------x.png)|![](./images-jmsml/GFSPPU--------X.png)|GFSPPU--------X|TACGRP.CSS.PNT.ROM|Refuel On The Move (Rom) Point|POINT|B||
|1255||![](./images/GFSPPX--------X.png)|![](./images-std/1.g-sppx--------x.png)|![](./images-jmsml/GFSPPX--------X.png)|GFSPPX--------X|TACGRP.CSS.PNT.AEP|Ambulance Exchange Point|POINT|B||
|1256||![](./images/GFSPPY--------X.png)|![](./images-std/1.g-sppy--------x.png)|![](./images-jmsml/GFSPPY--------X.png)|GFSPPY--------X|TACGRP.CSS.PNT.CCP|Casualty Collection Point|POINT|B||
|1257||![](./images/GFTPAS--------X.png)|![](./images-std/1.g-tpas--------x.png)|![](./images-jmsml/GFTPAS--------X.png)|GFTPAS--------X|TACGRP.TSK.FLWASS.FLWSUP|Follow And Support|LINE|B||
|1258||![](./images/GFTPA---------X.png)|![](./images-std/1.g-tpa---------x.png)|![](./images-jmsml/GFTPA---------X.png)|GFTPA---------X|TACGRP.TSK.FLWASS|Follow And Assume|LINE|B||
|1259||![](./images/GFTPB---------X.png)|![](./images-std/1.g-tpb---------x.png)|![](./images-jmsml/GFTPB---------X.png)|GFTPB---------X|TACGRP.TSK.BLK|Block|LINE|B||
|1260||![](./images/GFTPC---------X.png)|![](./images-std/1.g-tpc---------x.png)|![](./images-jmsml/GFTPC---------X.png)|GFTPC---------X|TACGRP.TSK.CNZ|Canalize|LINE|B||
|1261||![](./images/GFTPD---------X.png)|![](./images-std/1.g-tpd---------x.png)|![](./images-jmsml/GFTPD---------X.png)|GFTPD---------X|TACGRP.TSK.DSTY|Destroy|POINT|B||
|1262||![](./images/GFTPE---------X.png)|![](./images-std/1.g-tpe---------x.png)|![](./images-jmsml/GFTPE---------X.png)|GFTPE---------X|TACGRP.TSK.ISL|Isolate|POINT|B||
|1263||![](./images/GFTPF---------X.png)|![](./images-std/1.g-tpf---------x.png)|![](./images-jmsml/GFTPF---------X.png)|GFTPF---------X|TACGRP.TSK.FIX|Fix|LINE|B||
|1264||![](./images/GFTPH---------X.png)|![](./images-std/1.g-tph---------x.png)|![](./images-jmsml/GFTPH---------X.png)|GFTPH---------X|TACGRP.TSK.BRH|Breach|LINE|B||
|1265||![](./images/GFTPI---------X.png)|![](./images-std/1.g-tpi---------x.png)|![](./images-jmsml/GFTPI---------X.png)|GFTPI---------X|TACGRP.TSK.ITDT|Interdict|POINT|B||
|1266||![](./images/GFTPJ---------X.png)|![](./images-std/1.g-tpj---------x.png)|![](./images-jmsml/GFTPJ---------X.png)|GFTPJ---------X|TACGRP.TSK.CNT|Contain|LINE|B||
|1267||![](./images/GFTPKF--------X.png)|![](./images-std/1.g-tpkf--------x.png)|![](./images-jmsml/GFTPKF--------X.png)|GFTPKF--------X|TACGRP.TSK.CATK.CATKF|Counterattack By Fire|LINE|B||
|1268||![](./images/GFTPK---------X.png)|![](./images-std/1.g-tpk---------x.png)|![](./images-jmsml/GFTPK---------X.png)|GFTPK---------X|TACGRP.TSK.CATK|Counterattack (Catk)|LINE|B||
|1269||![](./images/GFTPL---------X.png)|![](./images-std/1.g-tpl---------x.png)|![](./images-jmsml/GFTPL---------X.png)|GFTPL---------X|TACGRP.TSK.DLY|Delay|LINE|B||
|1270||![](./images/GFTPM---------X.png)|![](./images-std/1.g-tpm---------x.png)|![](./images-jmsml/GFTPM---------X.png)|GFTPM---------X|TACGRP.TSK.RTM|Retirement|LINE|B||
|1271||![](./images/GFTPN---------X.png)|![](./images-std/1.g-tpn---------x.png)|![](./images-jmsml/GFTPN---------X.png)|GFTPN---------X|TACGRP.TSK.NEUT|Neutralize|POINT|B||
|1272||![](./images/GFTPO---------X.png)|![](./images-std/1.g-tpo---------x.png)|![](./images-jmsml/GFTPO---------X.png)|GFTPO---------X|TACGRP.TSK.OCC|Occupy|LINE|B||
|1273||![](./images/GFTPP---------X.png)|![](./images-std/1.g-tpp---------x.png)|![](./images-jmsml/GFTPP---------X.png)|GFTPP---------X|TACGRP.TSK.PNE|Penetrate|LINE|B||
|1274||![](./images/GFTPQ---------X.png)|![](./images-std/1.g-tpq---------x.png)|![](./images-jmsml/GFTPQ---------X.png)|GFTPQ---------X|TACGRP.TSK.RTN|Retain|LINE|B||
|1275||![](./images/GFTPR---------X.png)|![](./images-std/1.g-tpr---------x.png)|![](./images-jmsml/GFTPR---------X.png)|GFTPR---------X|TACGRP.TSK.RIP|Relief In Place (Rip)|LINE|B||
|1276||![](./images/GFTPS---------X.png)|![](./images-std/1.g-tps---------x.png)|![](./images-jmsml/GFTPS---------X.png)|GFTPS---------X|TACGRP.TSK.SCE|Secure|LINE|B||
|1277||![](./images/GFTPT---------X.png)|![](./images-std/1.g-tpt---------x.png)|![](./images-jmsml/GFTPT---------X.png)|GFTPT---------X|TACGRP.TSK.DRT|Disrupt|LINE|B||
|1278||![](./images/GFTPUC--------X.png)|![](./images-std/1.g-tpuc--------x.png)|![](./images-jmsml/GFTPUC--------X.png)|GFTPUC--------X|TACGRP.TSK.SEC.COV|Cover|LINE|B||
|1279||![](./images/GFTPUG--------X.png)|![](./images-std/1.g-tpug--------x.png)|![](./images-jmsml/GFTPUG--------X.png)|GFTPUG--------X|TACGRP.TSK.SEC.GUD|Guard|LINE|B||
|1280||![](./images/GFTPUS--------X.png)|![](./images-std/1.g-tpus--------x.png)|![](./images-jmsml/GFTPUS--------X.png)|GFTPUS--------X|TACGRP.TSK.SEC.SCN|Screen|LINE|B||
|1281||![](./images/GFTPWP--------X.png)|![](./images-std/1.g-tpwp--------x.png)|![](./images-jmsml/GFTPWP--------X.png)|GFTPWP--------X|TACGRP.TSK.WDR.WDRUP|Withdraw Under Pressure|LINE|B||
|1282||![](./images/GFTPW---------X.png)|![](./images-std/1.g-tpw---------x.png)|![](./images-jmsml/GFTPW---------X.png)|GFTPW---------X|TACGRP.TSK.WDR|Withdraw|LINE|B||
|1283||![](./images/GFTPX---------X.png)|![](./images-std/1.g-tpx---------x.png)|![](./images-jmsml/GFTPX---------X.png)|GFTPX---------X|TACGRP.TSK.CLR|Clear|LINE|B||
|1284||![](./images/GFTPY---------X.png)|![](./images-std/1.g-tpy---------x.png)|![](./images-jmsml/GFTPY---------X.png)|GFTPY---------X|TACGRP.TSK.BYS|Bypass|LINE|B||
|1285||![](./images/GFTPZ---------X.png)|![](./images-std/1.g-tpz---------x.png)|![](./images-jmsml/GFTPZ---------X.png)|GFTPZ---------X|TACGRP.TSK.SZE|Seize|LINE|B||
|1286||![](./images/WA-DBAD-----A--.png)|![](./images-std/0.wa-dbad-----a--.png)|![](./images-jmsml/WA-DBAD-----A--.png)|WA-DBAD-----A--|METOC.AMPHC.BDAWTH.DT-SD|Dust Or Sand|AREA|C||
|1287|PERHAPS|![](./images/WA-DBAFF----A--.png)|![](./images-std/0.wa-dbaff----a--.png)|![](./images-jmsml/WA-DBAFF----A--.png)|WA-DBAFF----A--|METOC.AMPHC.BDAWTH.ODFF|Operator-Defined Freeform|AREA|C||
|1288||![](./images/WA-DBAFG----A--.png)|![](./images-std/0.wa-dbafg----a--.png)|![](./images-jmsml/WA-DBAFG----A--.png)|WA-DBAFG----A--|METOC.AMPHC.BDAWTH.FG|Fog|AREA|C||
|1289||![](./images/WA-DBAFP----A--.png)|![](./images-std/0.wa-dbafp----a--.png)|![](./images-jmsml/WA-DBAFP----A--.png)|WA-DBAFP----A--|METOC.AMPHC.BDAWTH.FZPPN|Freezing-Frozen Precipitation|AREA|C||
|1290||![](./images/WA-DBAI-----A--.png)|![](./images-std/0.wa-dbai-----a--.png)|![](./images-jmsml/WA-DBAI-----A--.png)|WA-DBAI-----A--|METOC.AMPHC.BDAWTH.ICG|Icing|AREA|C||
|1291||![](./images/WA-DBAIF----A--.png)|![](./images-std/0.wa-dbaif----a--.png)|![](./images-jmsml/WA-DBAIF----A--.png)|WA-DBAIF----A--|METOC.AMPHC.BDAWTH.IFR|Instrument Flight Rule (Ifr)|AREA|C||
|1292||![](./images/WA-DBALPC---A--.png)|![](./images-std/0.wa-dbalpc---a--.png)|![](./images-jmsml/WA-DBALPC---A--.png)|WA-DBALPC---A--|METOC.AMPHC.BDAWTH.LPNCI.LPC|Liquid Precipitation - Convective|AREA|C||
|1293||![](./images/WA-DBALPNC--A--.png)|![](./images-std/0.wa-dbalpnc--a--.png)|![](./images-jmsml/WA-DBALPNC--A--.png)|WA-DBALPNC--A--|METOC.AMPHC.BDAWTH.LPNCI|Liquid Precipitation - Non-Convective Continuous Or Intermittent|AREA|C||
|1294||![](./images/WA-DBAMV----A--.png)|![](./images-std/0.wa-dbamv----a--.png)|![](./images-jmsml/WA-DBAMV----A--.png)|WA-DBAMV----A--|METOC.AMPHC.BDAWTH.MVFR|Marginal Visual Flight Rule (Mvfr)|AREA|C||
|1295||![](./images/WA-DBAT-----A--.png)|![](./images-std/0.wa-dbat-----a--.png)|![](./images-jmsml/WA-DBAT-----A--.png)|WA-DBAT-----A--|METOC.AMPHC.BDAWTH.TS|Thunderstorms|AREA|C||
|1296||![](./images/WA-DBATB----A--.png)|![](./images-std/0.wa-dbatb----a--.png)|![](./images-jmsml/WA-DBATB----A--.png)|WA-DBATB----A--|METOC.AMPHC.BDAWTH.TRB|Turbulence|AREA|C||
|1297||![](./images/WA-DIPCO---L---.png)|![](./images-std/0.wa-dipco---l---.png)|![](./images-jmsml/WA-DIPCO---L---.png)|WA-DIPCO---L---|METOC.AMPHC.ISP.CTUR|Contour - Upper Air|LINE|C||
|1298|PERHAPS|![](./images/WA-DIPFF---L---.png)|![](./images-std/0.wa-dipff---l---.png)|![](./images-jmsml/WA-DIPFF---L---.png)|WA-DIPFF---L---|METOC.AMPHC.ISP.ODFF|Operator-Defined Freeform|LINE|C||
|1299||![](./images/WA-DIPIB---L---.png)|![](./images-std/0.wa-dipib---l---.png)|![](./images-jmsml/WA-DIPIB---L---.png)|WA-DIPIB---L---|METOC.AMPHC.ISP.ISB|Isobar - Surface|LINE|C||
|1300||![](./images/WA-DIPID---L---.png)|![](./images-std/0.wa-dipid---l---.png)|![](./images-jmsml/WA-DIPID---L---.png)|WA-DIPID---L---|METOC.AMPHC.ISP.ISD|Isodrosotherm|LINE|C||
|1301||![](./images/WA-DIPIS---L---.png)|![](./images-std/0.wa-dipis---l---.png)|![](./images-jmsml/WA-DIPIS---L---.png)|WA-DIPIS---L---|METOC.AMPHC.ISP.IST|Isotherm|LINE|C||
|1302||![](./images/WA-DIPIT---L---.png)|![](./images-std/0.wa-dipit---l---.png)|![](./images-jmsml/WA-DIPIT---L---.png)|WA-DIPIT---L---|METOC.AMPHC.ISP.ISH|Isotach|LINE|C||
|1303||![](./images/WA-DIPTH---L---.png)|![](./images-std/0.wa-dipth---l---.png)|![](./images-jmsml/WA-DIPTH---L---.png)|WA-DIPTH---L---|METOC.AMPHC.ISP.THK|Thickness|LINE|C||
|1304||![](./images/WA-DPFC-FG-L---.png)|![](./images-std/0.wa-dpfc-fg-l---.png)|![](./images-jmsml/WA-DPFC-FG-L---.png)|WA-DPFC-FG-L---|METOC.AMPHC.PRS.FRNSYS.CLDFRN.FRGS|Cold Frontogenesis|LINE|C||
|1305||![](./images/WA-DPFC-FY-L---.png)|![](./images-std/0.wa-dpfc-fy-l---.png)|![](./images-jmsml/WA-DPFC-FY-L---.png)|WA-DPFC-FY-L---|METOC.AMPHC.PRS.FRNSYS.CLDFRN.FRLS|Cold Frontolysis|LINE|C||
|1306||![](./images/WA-DPFC----L---.png)|![](./images-std/0.wa-dpfc----l---.png)|![](./images-jmsml/WA-DPFC----L---.png)|WA-DPFC----L---|METOC.AMPHC.PRS.FRNSYS.CLDFRN|Cold Front|LINE|C||
|1307||![](./images/WA-DPFCU---L---.png)|![](./images-std/0.wa-dpfcu---l---.png)|![](./images-jmsml/WA-DPFCU---L---.png)|WA-DPFCU---L---|METOC.AMPHC.PRS.FRNSYS.CLDFRN.UPP|Upper Cold Front|LINE|C||
|1308||![](./images/WA-DPFO-FY-L---.png)|![](./images-std/0.wa-dpfo-fy-l---.png)|![](./images-jmsml/WA-DPFO-FY-L---.png)|WA-DPFO-FY-L---|METOC.AMPHC.PRS.FRNSYS.OCD.FRLS|Occluded Frontolysis|LINE|C||
|1309||![](./images/WA-DPFO----L---.png)|![](./images-std/0.wa-dpfo----l---.png)|![](./images-jmsml/WA-DPFO----L---.png)|WA-DPFO----L---|METOC.AMPHC.PRS.FRNSYS.OCD|Occluded Front|LINE|C||
|1310||![](./images/WA-DPFOU---L---.png)|![](./images-std/0.wa-dpfou---l---.png)|![](./images-jmsml/WA-DPFOU---L---.png)|WA-DPFOU---L---|METOC.AMPHC.PRS.FRNSYS.OCD.UPP|Upper Occluded Front|LINE|C||
|1311||![](./images/WA-DPFS-FG-L---.png)|![](./images-std/0.wa-dpfs-fg-l---.png)|![](./images-jmsml/WA-DPFS-FG-L---.png)|WA-DPFS-FG-L---|METOC.AMPHC.PRS.FRNSYS.STAT.FRGS|Stationary Frontogenesis|LINE|C||
|1312||![](./images/WA-DPFS-FY-L---.png)|![](./images-std/0.wa-dpfs-fy-l---.png)|![](./images-jmsml/WA-DPFS-FY-L---.png)|WA-DPFS-FY-L---|METOC.AMPHC.PRS.FRNSYS.STAT.FRLS|Stationary Frontolysis|LINE|C||
|1313||![](./images/WA-DPFS----L---.png)|![](./images-std/0.wa-dpfs----l---.png)|![](./images-jmsml/WA-DPFS----L---.png)|WA-DPFS----L---|METOC.AMPHC.PRS.FRNSYS.STAT|Stationary Front|LINE|C||
|1314||![](./images/WA-DPFSU---L---.png)|![](./images-std/0.wa-dpfsu---l---.png)|![](./images-jmsml/WA-DPFSU---L---.png)|WA-DPFSU---L---|METOC.AMPHC.PRS.FRNSYS.STAT.UPP|Upper Stationary Front|LINE|C||
|1315||![](./images/WA-DPFW-FG-L---.png)|![](./images-std/0.wa-dpfw-fg-l---.png)|![](./images-jmsml/WA-DPFW-FG-L---.png)|WA-DPFW-FG-L---|METOC.AMPHC.PRS.FRNSYS.WRMFRN.FRGS|Warm Frontogenesis|LINE|C||
|1316||![](./images/WA-DPFW-FY-L---.png)|![](./images-std/0.wa-dpfw-fy-l---.png)|![](./images-jmsml/WA-DPFW-FY-L---.png)|WA-DPFW-FY-L---|METOC.AMPHC.PRS.FRNSYS.WRMFRN.FRLS|Warm Frontolysis|LINE|C||
|1317||![](./images/WA-DPFW----L---.png)|![](./images-std/0.wa-dpfw----l---.png)|![](./images-jmsml/WA-DPFW----L---.png)|WA-DPFW----L---|METOC.AMPHC.PRS.FRNSYS.WRMFRN|Warm Front|LINE|C||
|1318||![](./images/WA-DPFWU---L---.png)|![](./images-std/0.wa-dpfwu---l---.png)|![](./images-jmsml/WA-DPFWU---L---.png)|WA-DPFWU---L---|METOC.AMPHC.PRS.FRNSYS.WRMFRN.UPP|Upper Warm Front|LINE|C||
|1319|YES|![](./images/WA-DPXCV---L---.png)|![](./images-std/0.wa-dpxcv---l---.png)|![](./images-jmsml/WA-DPXCV---L---.png)|WA-DPXCV---L---|METOC.AMPHC.PRS.LNE.CNGLNE|Convergance Line|LINE|C||
|1320||![](./images/WA-DPXIL---L---.png)|![](./images-std/0.wa-dpxil---l---.png)|![](./images-jmsml/WA-DPXIL---L---.png)|WA-DPXIL---L---|METOC.AMPHC.PRS.LNE.ISTB|Instability Line|LINE|C||
|1321||![](./images/WA-DPXITCZ-L---.png)|![](./images-std/0.wa-dpxitcz-l---.png)|![](./images-jmsml/WA-DPXITCZ-L---.png)|WA-DPXITCZ-L---|METOC.AMPHC.PRS.LNE.ITCZ|Inter-Tropical Convergance Zone|LINE|C||
|1322||![](./images/WA-DPXITD--L---.png)|![](./images-std/0.wa-dpxitd--l---.png)|![](./images-jmsml/WA-DPXITD--L---.png)|WA-DPXITD--L---|METOC.AMPHC.PRS.LNE.ITD|Inter-Tropical Discontinuity|LINE|C||
|1323||![](./images/WA-DPXR----L---.png)|![](./images-std/0.wa-dpxr----l---.png)|![](./images-jmsml/WA-DPXR----L---.png)|WA-DPXR----L---|METOC.AMPHC.PRS.LNE.RDGAXS|Ridge Axis|LINE|C||
|1324||![](./images/WA-DPXSH---L---.png)|![](./images-std/0.wa-dpxsh---l---.png)|![](./images-jmsml/WA-DPXSH---L---.png)|WA-DPXSH---L---|METOC.AMPHC.PRS.LNE.SHA|Shear Line|LINE|C||
|1325||![](./images/WA-DPXSQ---L---.png)|![](./images-std/0.wa-dpxsq---l---.png)|![](./images-jmsml/WA-DPXSQ---L---.png)|WA-DPXSQ---L---|METOC.AMPHC.PRS.LNE.SSL|Severe Squall Line|LINE|C||
|1326||![](./images/WA-DPXT----L---.png)|![](./images-std/0.wa-dpxt----l---.png)|![](./images-jmsml/WA-DPXT----L---.png)|WA-DPXT----L---|METOC.AMPHC.PRS.LNE.TRUAXS|Trough Axis|LINE|C||
|1327||![](./images/WA-DWJ-----L---.png)|![](./images-std/0.wa-dwj-----l---.png)|![](./images-jmsml/WA-DWJ-----L---.png)|WA-DWJ-----L---|METOC.AMPHC.WND.JTSM|Jet Stream|LINE|C||
|1328||![](./images/WA-DWS-----L---.png)|![](./images-std/0.wa-dws-----l---.png)|![](./images-jmsml/WA-DWS-----L---.png)|WA-DWS-----L---|METOC.AMPHC.WND.SMLNE|Stream Line|LINE|C||
|1329|YES|![](./images/WA-DWSTSWA--A--.png)|![](./images-std/0.wa-dwstswa--a--.png)|![](./images-jmsml/WA-DWSTSWA--A--.png)|WA-DWSTSWA--A--|METOC.AMPHC.WTH.TPLSYS.TSWADL|Tropical Storm Wind Areas And Date-Time Labels|AREA|C||
|1330||![](./images/WAS-CCCSBCP----.png)|![](./images-std/0.was-cccsbcp----.png)|![](./images-jmsml/WAS-CCCSBCP----.png)|WAS-CCCSBCP----|METOC.AMPHC.CUDCOV.SYM.BKN|Broken Coverage|POINT|C||
|1331||![](./images/WAS-CCCSCSP----.png)|![](./images-std/0.was-cccscsp----.png)|![](./images-jmsml/WAS-CCCSCSP----.png)|WAS-CCCSCSP----|METOC.AMPHC.CUDCOV.SYM.SKC|Clear Sky|POINT|C||
|1332||![](./images/WAS-CCCSFCP----.png)|![](./images-std/0.was-cccsfcp----.png)|![](./images-jmsml/WAS-CCCSFCP----.png)|WAS-CCCSFCP----|METOC.AMPHC.CUDCOV.SYM.FEW|Few Coverage|POINT|C||
|1333||![](./images/WAS-CCCSOBP----.png)|![](./images-std/0.was-cccsobp----.png)|![](./images-jmsml/WAS-CCCSOBP----.png)|WAS-CCCSOBP----|METOC.AMPHC.CUDCOV.SYM.STOPO|Sky Totally Or Partially Obscured|POINT|C||
|1334||![](./images/WAS-CCCSOCP----.png)|![](./images-std/0.was-cccsocp----.png)|![](./images-jmsml/WAS-CCCSOCP----.png)|WAS-CCCSOCP----|METOC.AMPHC.CUDCOV.SYM.OVC|Overcast Coverage|POINT|C||
|1335||![](./images/WAS-CCCSSCP----.png)|![](./images-std/0.was-cccsscp----.png)|![](./images-jmsml/WAS-CCCSSCP----.png)|WAS-CCCSSCP----|METOC.AMPHC.CUDCOV.SYM.SCT|Scattered Coverage|POINT|C||
|1336||![](./images/WAS-GNDEWCP----.png)|![](./images-std/0.was-gndewcp----.png)|![](./images-jmsml/WAS-GNDEWCP----.png)|WAS-GNDEWCP----|METOC.AMPHC.STOG.WOSMIC.EXTDWC|Extremely Dry With Cracks|POINT|C||
|1337||![](./images/WAS-GND-NCP----.png)|![](./images-std/0.was-gnd-ncp----.png)|![](./images-jmsml/WAS-GND-NCP----.png)|WAS-GND-NCP----|METOC.AMPHC.STOG.WOSMIC.SUFDRY|Surface Dry Without Cracks Or Appreciable Dust Or Loose Sand|POINT|C||
|1338||![](./images/WAS-GNFL--P----.png)|![](./images-std/0.was-gnfl--p----.png)|![](./images-jmsml/WAS-GNFL--P----.png)|WAS-GNFL--P----|METOC.AMPHC.STOG.WOSMIC.SUFFLD|Surface Flooded|POINT|C||
|1339||![](./images/WAS-GNFZ--P----.png)|![](./images-std/0.was-gnfz--p----.png)|![](./images-jmsml/WAS-GNFZ--P----.png)|WAS-GNFZ--P----|METOC.AMPHC.STOG.WOSMIC.SUFFZN|Surface Frozen|POINT|C||
|1340||![](./images/WAS-GNG-TIP----.png)|![](./images-std/0.was-gng-tip----.png)|![](./images-jmsml/WAS-GNG-TIP----.png)|WAS-GNG-TIP----|METOC.AMPHC.STOG.WOSMIC.GLZGRD|Glaze (Thin Ice) On Ground|POINT|C||
|1341||![](./images/WAS-GNLDMCP----.png)|![](./images-std/0.was-gnldmcp----.png)|![](./images-jmsml/WAS-GNLDMCP----.png)|WAS-GNLDMCP----|METOC.AMPHC.STOG.WOSMIC.MLDCGC|Moderate/Thick Loose Dry Dust Or Sand Covering Ground Completely|POINT|C||
|1342||![](./images/WAS-GNLDN-P----.png)|![](./images-std/0.was-gnldn-p----.png)|![](./images-jmsml/WAS-GNLDN-P----.png)|WAS-GNLDN-P----|METOC.AMPHC.STOG.WOSMIC.LDNCGC|Loose Dry Dust Or Sand Not Covering Ground Completely|POINT|C||
|1343||![](./images/WAS-GNLDTCP----.png)|![](./images-std/0.was-gnldtcp----.png)|![](./images-jmsml/WAS-GNLDTCP----.png)|WAS-GNLDTCP----|METOC.AMPHC.STOG.WOSMIC.TLDCGC|Thin Loose Dry Dust Or Sand Covering Ground Completely|POINT|C||
|1344||![](./images/WAS-GNM---P----.png)|![](./images-std/0.was-gnm---p----.png)|![](./images-jmsml/WAS-GNM---P----.png)|WAS-GNM---P----|METOC.AMPHC.STOG.WOSMIC.SUFMST|Surface Moist|POINT|C||
|1345||![](./images/WAS-GNW-SWP----.png)|![](./images-std/0.was-gnw-swp----.png)|![](./images-jmsml/WAS-GNW-SWP----.png)|WAS-GNW-SWP----|METOC.AMPHC.STOG.WOSMIC.SUFWET|Surface Wet  Standing Water In Small Or Large Pools|POINT|C||
|1346||![](./images/WAS-GSI---P----.png)|![](./images-std/0.was-gsi---p----.png)|![](./images-jmsml/WAS-GSI---P----.png)|WAS-GSI---P----|METOC.AMPHC.STOG.WSMIC.PDMIC|Predominately Ice Covered|POINT|C||
|1347||![](./images/WAS-GSSCCEP----.png)|![](./images-std/0.was-gssccep----.png)|![](./images-jmsml/WAS-GSSCCEP----.png)|WAS-GSSCCEP----|METOC.AMPHC.STOG.WSMIC.ELCSCG|Even Layer Of Compact Or Wet Snow Covering Ground Completely|POINT|C||
|1348||![](./images/WAS-GSSCCUP----.png)|![](./images-std/0.was-gssccup----.png)|![](./images-jmsml/WAS-GSSCCUP----.png)|WAS-GSSCCUP----|METOC.AMPHC.STOG.WSMIC.ULCSCG|Uneven Layer Of Compact Or Wet Snow Covering Ground Completely|POINT|C||
|1349||![](./images/WAS-GSSCH-P----.png)|![](./images-std/0.was-gssch-p----.png)|![](./images-jmsml/WAS-GSSCH-P----.png)|WAS-GSSCH-P----|METOC.AMPHC.STOG.WSMIC.CSNALH|Compact Or Wet Snow (With Or Without Ice) Covering At Least One-Half Ground  But Ground Not Completely Covered|POINT|C||
|1350||![](./images/WAS-GSSCL-P----.png)|![](./images-std/0.was-gsscl-p----.png)|![](./images-jmsml/WAS-GSSCL-P----.png)|WAS-GSSCL-P----|METOC.AMPHC.STOG.WSMIC.CWSNLH|Compact Or Wet Snow (With Or Without Ice) Covering Less Than One-Half Of Ground|POINT|C||
|1351||![](./images/WAS-GSSDC-P----.png)|![](./images-std/0.was-gssdc-p----.png)|![](./images-jmsml/WAS-GSSDC-P----.png)|WAS-GSSDC-P----|METOC.AMPHC.STOG.WSMIC.SCGC|Snow Covering Ground Completely; Deep Drifts|POINT|C||
|1352||![](./images/WAS-GSSLCEP----.png)|![](./images-std/0.was-gsslcep----.png)|![](./images-jmsml/WAS-GSSLCEP----.png)|WAS-GSSLCEP----|METOC.AMPHC.STOG.WSMIC.ELDSCG|Even Layer Of Loose Dry Snow Covering Ground Completely|POINT|C||
|1353||![](./images/WAS-GSSLCUP----.png)|![](./images-std/0.was-gsslcup----.png)|![](./images-jmsml/WAS-GSSLCUP----.png)|WAS-GSSLCUP----|METOC.AMPHC.STOG.WSMIC.ULDSCG|Uneven Layer Of Loose Dry Snow Covering Ground Completely|POINT|C||
|1354||![](./images/WAS-GSSLH-P----.png)|![](./images-std/0.was-gsslh-p----.png)|![](./images-jmsml/WAS-GSSLH-P----.png)|WAS-GSSLH-P----|METOC.AMPHC.STOG.WSMIC.LDSALH|Loose Dry Snow Covering At Least One-Half Ground  But Ground Not Completely Covered|POINT|C||
|1355||![](./images/WAS-GSSLL-P----.png)|![](./images-std/0.was-gssll-p----.png)|![](./images-jmsml/WAS-GSSLL-P----.png)|WAS-GSSLL-P----|METOC.AMPHC.STOG.WSMIC.LDSNLH|Loose Dry Snow Covering Less Than One-Half Of Ground|POINT|C||
|1356||![](./images/WAS-ICL---P----.png)|![](./images-std/0.was-icl---p----.png)|![](./images-jmsml/WAS-ICL---P----.png)|WAS-ICL---P----|METOC.AMPHC.ICG.CLR.LIT|Clear Icing - Light|POINT|C||
|1357||![](./images/WAS-ICM---P----.png)|![](./images-std/0.was-icm---p----.png)|![](./images-jmsml/WAS-ICM---P----.png)|WAS-ICM---P----|METOC.AMPHC.ICG.CLR.MOD|Clear Icing - Moderate|POINT|C||
|1358||![](./images/WAS-ICS---P----.png)|![](./images-std/0.was-ics---p----.png)|![](./images-jmsml/WAS-ICS---P----.png)|WAS-ICS---P----|METOC.AMPHC.ICG.CLR.SVR|Clear Icing - Severe|POINT|C||
|1359||![](./images/WAS-IML---P----.png)|![](./images-std/0.was-iml---p----.png)|![](./images-jmsml/WAS-IML---P----.png)|WAS-IML---P----|METOC.AMPHC.ICG.MIX.LIT|Mixed Icing - Light|POINT|C||
|1360||![](./images/WAS-IMM---P----.png)|![](./images-std/0.was-imm---p----.png)|![](./images-jmsml/WAS-IMM---P----.png)|WAS-IMM---P----|METOC.AMPHC.ICG.MIX.MOD|Mixed Icing - Moderate|POINT|C||
|1361||![](./images/WAS-IMS---P----.png)|![](./images-std/0.was-ims---p----.png)|![](./images-jmsml/WAS-IMS---P----.png)|WAS-IMS---P----|METOC.AMPHC.ICG.MIX.SVR|Mixed Icing - Severe|POINT|C||
|1362||![](./images/WAS-IRL---P----.png)|![](./images-std/0.was-irl---p----.png)|![](./images-jmsml/WAS-IRL---P----.png)|WAS-IRL---P----|METOC.AMPHC.ICG.RIME.LIT|Rime Icing - Light|POINT|C||
|1363||![](./images/WAS-IRM---P----.png)|![](./images-std/0.was-irm---p----.png)|![](./images-jmsml/WAS-IRM---P----.png)|WAS-IRM---P----|METOC.AMPHC.ICG.RIME.MOD|Rime Icing - Moderate|POINT|C||
|1364||![](./images/WAS-IRS---P----.png)|![](./images-std/0.was-irs---p----.png)|![](./images-jmsml/WAS-IRS---P----.png)|WAS-IRS---P----|METOC.AMPHC.ICG.RIME.SVR|Rime Icing - Severe|POINT|C||
|1365||![](./images/WAS-PA----P----.png)|![](./images-std/0.was-pa----p----.png)|![](./images-jmsml/WAS-PA----P----.png)|WAS-PA----P----|METOC.AMPHC.PRS.HGHCTR.ACYC|Anticyclone Center|POINT|C||
|1366||![](./images/WAS-PC----P----.png)|![](./images-std/0.was-pc----p----.png)|![](./images-jmsml/WAS-PC----P----.png)|WAS-PC----P----|METOC.AMPHC.PRS.LOWCTR.CYC|Cyclone Center|POINT|C||
|1367||![](./images/WAS-PH----P----.png)|![](./images-std/0.was-ph----p----.png)|![](./images-jmsml/WAS-PH----P----.png)|WAS-PH----P----|METOC.AMPHC.PRS.HGHCTR|High Pressure Center|POINT|C||
|1368||![](./images/WAS-PHT---P----.png)|![](./images-std/0.was-pht---p----.png)|![](./images-jmsml/WAS-PHT---P----.png)|WAS-PHT---P----|METOC.AMPHC.PRS.HGHCTR.TROPHG|Tropopause High|POINT|C||
|1369||![](./images/WAS-PL----P----.png)|![](./images-std/0.was-pl----p----.png)|![](./images-jmsml/WAS-PL----P----.png)|WAS-PL----P----|METOC.AMPHC.PRS.LOWCTR|Low Pressure Center|POINT|C||
|1370||![](./images/WAS-PLT---P----.png)|![](./images-std/0.was-plt---p----.png)|![](./images-jmsml/WAS-PLT---P----.png)|WAS-PLT---P----|METOC.AMPHC.PRS.LOWCTR.TROPLW|Tropopause Low|POINT|C||
|1371||![](./images/WAS-TE----P----.png)|![](./images-std/0.was-te----p----.png)|![](./images-jmsml/WAS-TE----P----.png)|WAS-TE----P----|METOC.AMPHC.TRB.EXT|Turbulence - Extreme|POINT|C||
|1372||![](./images/WAS-TL----P----.png)|![](./images-std/0.was-tl----p----.png)|![](./images-jmsml/WAS-TL----P----.png)|WAS-TL----P----|METOC.AMPHC.TRB.LIT|Turbulence - Light|POINT|C||
|1373||![](./images/WAS-TM----P----.png)|![](./images-std/0.was-tm----p----.png)|![](./images-jmsml/WAS-TM----P----.png)|WAS-TM----P----|METOC.AMPHC.TRB.MOD|Turbulence - Moderate|POINT|C||
|1374||![](./images/WAS-T-MW--P----.png)|![](./images-std/0.was-t-mw--p----.png)|![](./images-jmsml/WAS-T-MW--P----.png)|WAS-T-MW--P----|METOC.AMPHC.TRB.MNTWAV|Mountain Waves|POINT|C||
|1375||![](./images/WAS-TS----P----.png)|![](./images-std/0.was-ts----p----.png)|![](./images-jmsml/WAS-TS----P----.png)|WAS-TS----P----|METOC.AMPHC.TRB.SVR|Turbulence - Severe|POINT|C||
|1376||![](./images/WAS-WC----P----.png)|![](./images-std/0.was-wc----p----.png)|![](./images-jmsml/WAS-WC----P----.png)|WAS-WC----P----|METOC.AMPHC.WND.CALM|Calm Winds|POINT|C||
|1377|PERHAPS|![](./images/WAS-WP----P----.png)|![](./images-std/0.was-wp----p----.png)|![](./images-jmsml/WAS-WP----P----.png)|WAS-WP----P----|METOC.AMPHC.WND.PLT|Wind Plot|LINE|C||
|1378||![](./images/WAS-WSBR--P----.png)|![](./images-std/0.was-wsbr--p----.png)|![](./images-jmsml/WAS-WSBR--P----.png)|WAS-WSBR--P----|METOC.AMPHC.WTH.MIST|Mist|POINT|C||
|1379||![](./images/WAS-WSDB--P----.png)|![](./images-std/0.was-wsdb--p----.png)|![](./images-jmsml/WAS-WSDB--P----.png)|WAS-WSDB--P----|METOC.AMPHC.WTH.DT-SD.BLDTSD|Blowing Dust Or Sand|POINT|C||
|1380||![](./images/WAS-WSDD--P----.png)|![](./images-std/0.was-wsdd--p----.png)|![](./images-jmsml/WAS-WSDD--P----.png)|WAS-WSDD--P----|METOC.AMPHC.WTH.DT-SD.DTDVL|Dust Devil|POINT|C||
|1381||![](./images/WAS-WSDFL-P----.png)|![](./images-std/0.was-wsdfl-p----.png)|![](./images-jmsml/WAS-WSDFL-P----.png)|WAS-WSDFL-P----|METOC.AMPHC.WTH.FZDZ.LIT|Freezing Drizzle - Light|POINT|C||
|1382||![](./images/WAS-WSDFMHP----.png)|![](./images-std/0.was-wsdfmhp----.png)|![](./images-jmsml/WAS-WSDFMHP----.png)|WAS-WSDFMHP----|METOC.AMPHC.WTH.FZDZ.MODHVY|Freezing Drizzle - Moderate/Heavy|POINT|C||
|1383||![](./images/WAS-WSD-HCP----.png)|![](./images-std/0.was-wsd-hcp----.png)|![](./images-jmsml/WAS-WSD-HCP----.png)|WAS-WSD-HCP----|METOC.AMPHC.WTH.DZ.INMHVY.CTSHVY|Drizzle - Continuous Heavy|POINT|C||
|1384||![](./images/WAS-WSD-HIP----.png)|![](./images-std/0.was-wsd-hip----.png)|![](./images-jmsml/WAS-WSD-HIP----.png)|WAS-WSD-HIP----|METOC.AMPHC.WTH.DZ.INMHVY|Drizzle - Intermittent Heavy|POINT|C||
|1385||![](./images/WAS-WSD-LCP----.png)|![](./images-std/0.was-wsd-lcp----.png)|![](./images-jmsml/WAS-WSD-LCP----.png)|WAS-WSD-LCP----|METOC.AMPHC.WTH.DZ.INMLIT.CTSLIT|Drizzle - Continuous Light|POINT|C||
|1386||![](./images/WAS-WSD-LIP----.png)|![](./images-std/0.was-wsd-lip----.png)|![](./images-jmsml/WAS-WSD-LIP----.png)|WAS-WSD-LIP----|METOC.AMPHC.WTH.DZ.INMLIT|Drizzle - Intermittent Light|POINT|C||
|1387||![](./images/WAS-WSD-MCP----.png)|![](./images-std/0.was-wsd-mcp----.png)|![](./images-jmsml/WAS-WSD-MCP----.png)|WAS-WSD-MCP----|METOC.AMPHC.WTH.DZ.INMMOD.CTSMOD|Drizzle - Continuous Moderate|POINT|C||
|1388||![](./images/WAS-WSD-MIP----.png)|![](./images-std/0.was-wsd-mip----.png)|![](./images-jmsml/WAS-WSD-MIP----.png)|WAS-WSD-MIP----|METOC.AMPHC.WTH.DZ.INMMOD|Drizzle - Intermittent Moderate|POINT|C||
|1389||![](./images/WAS-WSDSLMP----.png)|![](./images-std/0.was-wsdslmp----.png)|![](./images-jmsml/WAS-WSDSLMP----.png)|WAS-WSDSLMP----|METOC.AMPHC.WTH.DT-SD.LITMOD|Dust-Sand Storm - Light To Moderate|POINT|C||
|1390||![](./images/WAS-WSDSS-P----.png)|![](./images-std/0.was-wsdss-p----.png)|![](./images-jmsml/WAS-WSDSS-P----.png)|WAS-WSDSS-P----|METOC.AMPHC.WTH.DT-SD.SVR|Dust-Sand Storm - Severe|POINT|C||
|1391||![](./images/WAS-WSFGCSP----.png)|![](./images-std/0.was-wsfgcsp----.png)|![](./images-jmsml/WAS-WSFGCSP----.png)|WAS-WSFGCSP----|METOC.AMPHC.WTH.FG.SHWCTS|Fog - Shallow Continuous|POINT|C||
|1392||![](./images/WAS-WSFGFOP----.png)|![](./images-std/0.was-wsfgfop----.png)|![](./images-jmsml/WAS-WSFGFOP----.png)|WAS-WSFGFOP----|METOC.AMPHC.WTH.FG.FZSNV|Fog - Freezing  Sky Not Visible|POINT|C||
|1393||![](./images/WAS-WSFGFVP----.png)|![](./images-std/0.was-wsfgfvp----.png)|![](./images-jmsml/WAS-WSFGFVP----.png)|WAS-WSFGFVP----|METOC.AMPHC.WTH.FG.FZSV|Fog - Freezing  Sky Visible|POINT|C||
|1394||![](./images/WAS-WSFGP-P----.png)|![](./images-std/0.was-wsfgp-p----.png)|![](./images-jmsml/WAS-WSFGP-P----.png)|WAS-WSFGP-P----|METOC.AMPHC.WTH.FG.PTHY|Fog - Patchy|POINT|C||
|1395||![](./images/WAS-WSFGPSP----.png)|![](./images-std/0.was-wsfgpsp----.png)|![](./images-jmsml/WAS-WSFGPSP----.png)|WAS-WSFGPSP----|METOC.AMPHC.WTH.FG.SHWPTH|Fog - Shallow Patches|POINT|C||
|1396||![](./images/WAS-WSFGSOP----.png)|![](./images-std/0.was-wsfgsop----.png)|![](./images-jmsml/WAS-WSFGSOP----.png)|WAS-WSFGSOP----|METOC.AMPHC.WTH.FG.SKYOBD|Fog - Sky Obscured|POINT|C||
|1397||![](./images/WAS-WSFGSVP----.png)|![](./images-std/0.was-wsfgsvp----.png)|![](./images-jmsml/WAS-WSFGSVP----.png)|WAS-WSFGSVP----|METOC.AMPHC.WTH.FG.SKYVSB|Fog - Sky Visible|POINT|C||
|1398||![](./images/WAS-WSF-LVP----.png)|![](./images-std/0.was-wsf-lvp----.png)|![](./images-jmsml/WAS-WSF-LVP----.png)|WAS-WSF-LVP----|METOC.AMPHC.WTH.FZLVL|Freezing Level|POINT|C||
|1399||![](./images/WAS-WSFU--P----.png)|![](./images-std/0.was-wsfu--p----.png)|![](./images-jmsml/WAS-WSFU--P----.png)|WAS-WSFU--P----|METOC.AMPHC.WTH.FU|Smoke|POINT|C||
|1400||![](./images/WAS-WSGRL-P----.png)|![](./images-std/0.was-wsgrl-p----.png)|![](./images-jmsml/WAS-WSGRL-P----.png)|WAS-WSGRL-P----|METOC.AMPHC.WTH.HL.LIT|Hail - Light Not Associated With Thunder|POINT|C||
|1401||![](./images/WAS-WSGRMHP----.png)|![](./images-std/0.was-wsgrmhp----.png)|![](./images-jmsml/WAS-WSGRMHP----.png)|WAS-WSGRMHP----|METOC.AMPHC.WTH.HL.MODHVY|Hail - Moderate/Heavy Not Associated With Thunder|POINT|C||
|1402||![](./images/WAS-WSHZ--P----.png)|![](./images-std/0.was-wshz--p----.png)|![](./images-jmsml/WAS-WSHZ--P----.png)|WAS-WSHZ--P----|METOC.AMPHC.WTH.HZ|Haze|POINT|C||
|1403||![](./images/WAS-WSIC--P----.png)|![](./images-std/0.was-wsic--p----.png)|![](./images-jmsml/WAS-WSIC--P----.png)|WAS-WSIC--P----|METOC.AMPHC.WTH.IC|Ice Crystals (Diamond Dust)|POINT|C||
|1404||![](./images/WAS-WSM-L-P----.png)|![](./images-std/0.was-wsm-l-p----.png)|![](./images-jmsml/WAS-WSM-L-P----.png)|WAS-WSM-L-P----|METOC.AMPHC.WTH.RASN.RDSLIT|Rain Or Drizzle And Snow - Light|POINT|C||
|1405||![](./images/WAS-WSM-MHP----.png)|![](./images-std/0.was-wsm-mhp----.png)|![](./images-jmsml/WAS-WSM-MHP----.png)|WAS-WSM-MHP----|METOC.AMPHC.WTH.RASN.RDSMH|Rain Or Drizzle And Snow - Moderate/Heavy|POINT|C||
|1406||![](./images/WAS-WSMSL-P----.png)|![](./images-std/0.was-wsmsl-p----.png)|![](./images-jmsml/WAS-WSMSL-P----.png)|WAS-WSMSL-P----|METOC.AMPHC.WTH.RASN.SWRLIT|Rain And Snow Showers - Light|POINT|C||
|1407||![](./images/WAS-WSMSMHP----.png)|![](./images-std/0.was-wsmsmhp----.png)|![](./images-jmsml/WAS-WSMSMHP----.png)|WAS-WSMSMHP----|METOC.AMPHC.WTH.RASN.SWRMOD|Rain And Snow Showers - Moderate/Heavy|POINT|C||
|1408||![](./images/WAS-WSPLH-P----.png)|![](./images-std/0.was-wsplh-p----.png)|![](./images-jmsml/WAS-WSPLH-P----.png)|WAS-WSPLH-P----|METOC.AMPHC.WTH.PE.HVY|Ice Pellets - Heavy|POINT|C||
|1409||![](./images/WAS-WSPLL-P----.png)|![](./images-std/0.was-wspll-p----.png)|![](./images-jmsml/WAS-WSPLL-P----.png)|WAS-WSPLL-P----|METOC.AMPHC.WTH.PE.LIT|Ice Pellets - Light|POINT|C||
|1410||![](./images/WAS-WSPLM-P----.png)|![](./images-std/0.was-wsplm-p----.png)|![](./images-jmsml/WAS-WSPLM-P----.png)|WAS-WSPLM-P----|METOC.AMPHC.WTH.PE.MOD|Ice Pellets - Moderate|POINT|C||
|1411||![](./images/WAS-WSRFL-P----.png)|![](./images-std/0.was-wsrfl-p----.png)|![](./images-jmsml/WAS-WSRFL-P----.png)|WAS-WSRFL-P----|METOC.AMPHC.WTH.FZRA.LIT|Freezing Rain - Light|POINT|C||
|1412||![](./images/WAS-WSRFMHP----.png)|![](./images-std/0.was-wsrfmhp----.png)|![](./images-jmsml/WAS-WSRFMHP----.png)|WAS-WSRFMHP----|METOC.AMPHC.WTH.FZRA.MODHVY|Freezing Rain - Moderate/Heavy|POINT|C||
|1413||![](./images/WAS-WSR-HCP----.png)|![](./images-std/0.was-wsr-hcp----.png)|![](./images-jmsml/WAS-WSR-HCP----.png)|WAS-WSR-HCP----|METOC.AMPHC.WTH.RA.INMHVY.CTSHVY|Rain - Continuous Heavy|POINT|C||
|1414||![](./images/WAS-WSR-HIP----.png)|![](./images-std/0.was-wsr-hip----.png)|![](./images-jmsml/WAS-WSR-HIP----.png)|WAS-WSR-HIP----|METOC.AMPHC.WTH.RA.INMHVY|Rain - Intermittent Heavy|POINT|C||
|1415||![](./images/WAS-WSR-LCP----.png)|![](./images-std/0.was-wsr-lcp----.png)|![](./images-jmsml/WAS-WSR-LCP----.png)|WAS-WSR-LCP----|METOC.AMPHC.WTH.RA.INMLIT.CTSLIT|Rain - Continuous Light|POINT|C||
|1416||![](./images/WAS-WSR-LIP----.png)|![](./images-std/0.was-wsr-lip----.png)|![](./images-jmsml/WAS-WSR-LIP----.png)|WAS-WSR-LIP----|METOC.AMPHC.WTH.RA.INMLIT|Rain - Intermittent Light|POINT|C||
|1417||![](./images/WAS-WSR-MCP----.png)|![](./images-std/0.was-wsr-mcp----.png)|![](./images-jmsml/WAS-WSR-MCP----.png)|WAS-WSR-MCP----|METOC.AMPHC.WTH.RA.INMMOD.CTSMOD|Rain - Continuous Moderate|POINT|C||
|1418||![](./images/WAS-WSR-MIP----.png)|![](./images-std/0.was-wsr-mip----.png)|![](./images-jmsml/WAS-WSR-MIP----.png)|WAS-WSR-MIP----|METOC.AMPHC.WTH.RA.INMMOD|Rain - Intermittent Moderate|POINT|C||
|1419||![](./images/WAS-WSRSL-P----.png)|![](./images-std/0.was-wsrsl-p----.png)|![](./images-jmsml/WAS-WSRSL-P----.png)|WAS-WSRSL-P----|METOC.AMPHC.WTH.RASWR.LIT|Rain Showers - Light|POINT|C||
|1420||![](./images/WAS-WSRSMHP----.png)|![](./images-std/0.was-wsrsmhp----.png)|![](./images-jmsml/WAS-WSRSMHP----.png)|WAS-WSRSMHP----|METOC.AMPHC.WTH.RASWR.MODHVY|Rain Showers - Moderate/Heavy|POINT|C||
|1421||![](./images/WAS-WSRST-P----.png)|![](./images-std/0.was-wsrst-p----.png)|![](./images-jmsml/WAS-WSRST-P----.png)|WAS-WSRST-P----|METOC.AMPHC.WTH.RASWR.TOR|Rain Showers - Torrential|POINT|C||
|1422||![](./images/WAS-WSSBH-P----.png)|![](./images-std/0.was-wssbh-p----.png)|![](./images-jmsml/WAS-WSSBH-P----.png)|WAS-WSSBH-P----|METOC.AMPHC.WTH.SN.BLSNHY|Blowing Snow - Heavy|POINT|C||
|1423||![](./images/WAS-WSSBLMP----.png)|![](./images-std/0.was-wssblmp----.png)|![](./images-jmsml/WAS-WSSBLMP----.png)|WAS-WSSBLMP----|METOC.AMPHC.WTH.SN.BLSNLM|Blowing Snow - Light/Moderate|POINT|C||
|1424||![](./images/WAS-WSSG--P----.png)|![](./images-std/0.was-wssg--p----.png)|![](./images-jmsml/WAS-WSSG--P----.png)|WAS-WSSG--P----|METOC.AMPHC.WTH.SG|Snow Grains|POINT|C||
|1425||![](./images/WAS-WSS-HCP----.png)|![](./images-std/0.was-wss-hcp----.png)|![](./images-jmsml/WAS-WSS-HCP----.png)|WAS-WSS-HCP----|METOC.AMPHC.WTH.SN.INMHVY.CTSHVY|Snow - Continuous Heavy|POINT|C||
|1426||![](./images/WAS-WSS-HIP----.png)|![](./images-std/0.was-wss-hip----.png)|![](./images-jmsml/WAS-WSS-HIP----.png)|WAS-WSS-HIP----|METOC.AMPHC.WTH.SN.INMHVY|Snow - Intermittent Heavy|POINT|C||
|1427||![](./images/WAS-WSS-LCP----.png)|![](./images-std/0.was-wss-lcp----.png)|![](./images-jmsml/WAS-WSS-LCP----.png)|WAS-WSS-LCP----|METOC.AMPHC.WTH.SN.INMLIT.CTSLIT|Snow - Continuous Light|POINT|C||
|1428||![](./images/WAS-WSS-LIP----.png)|![](./images-std/0.was-wss-lip----.png)|![](./images-jmsml/WAS-WSS-LIP----.png)|WAS-WSS-LIP----|METOC.AMPHC.WTH.SN.INMLIT|Snow - Intermittent Light|POINT|C||
|1429||![](./images/WAS-WSS-MCP----.png)|![](./images-std/0.was-wss-mcp----.png)|![](./images-jmsml/WAS-WSS-MCP----.png)|WAS-WSS-MCP----|METOC.AMPHC.WTH.SN.INMMOD.CTSMOD|Snow - Continuous Moderate|POINT|C||
|1430||![](./images/WAS-WSS-MIP----.png)|![](./images-std/0.was-wss-mip----.png)|![](./images-jmsml/WAS-WSS-MIP----.png)|WAS-WSS-MIP----|METOC.AMPHC.WTH.SN.INMMOD|Snow - Intermittent Moderate|POINT|C||
|1431||![](./images/WAS-WSSSL-P----.png)|![](./images-std/0.was-wsssl-p----.png)|![](./images-jmsml/WAS-WSSSL-P----.png)|WAS-WSSSL-P----|METOC.AMPHC.WTH.SSWR.LIT|Snow Showers - Light|POINT|C||
|1432||![](./images/WAS-WSSSMHP----.png)|![](./images-std/0.was-wsssmhp----.png)|![](./images-jmsml/WAS-WSSSMHP----.png)|WAS-WSSSMHP----|METOC.AMPHC.WTH.SSWR.MODHVY|Snow Showers - Moderate/Heavy|POINT|C||
|1433||![](./images/WAS-WST-FCP----.png)|![](./images-std/0.was-wst-fcp----.png)|![](./images-jmsml/WAS-WST-FCP----.png)|WAS-WST-FCP----|METOC.AMPHC.WTH.STMS.FC|Funnel Cloud (Tornado-Waterspout)|POINT|C||
|1434||![](./images/WAS-WSTHH-P----.png)|![](./images-std/0.was-wsthh-p----.png)|![](./images-jmsml/WAS-WSTHH-P----.png)|WAS-WSTHH-P----|METOC.AMPHC.WTH.STMS.TSHVWH|Thunderstorm Heavy - With Hail|POINT|C||
|1435||![](./images/WAS-WSTHR-P----.png)|![](./images-std/0.was-wsthr-p----.png)|![](./images-jmsml/WAS-WSTHR-P----.png)|WAS-WSTHR-P----|METOC.AMPHC.WTH.STMS.TSHVNH|Thunderstorm Heavy With Rain-Snow - No Hail|POINT|C||
|1436||![](./images/WAS-WST-LGP----.png)|![](./images-std/0.was-wst-lgp----.png)|![](./images-jmsml/WAS-WST-LGP----.png)|WAS-WST-LGP----|METOC.AMPHC.WTH.STMS.LTG|Lightning|POINT|C||
|1437||![](./images/WAS-WST-LVP----.png)|![](./images-std/0.was-wst-lvp----.png)|![](./images-jmsml/WAS-WST-LVP----.png)|WAS-WST-LVP----|METOC.AMPHC.WTH.TROPLV|Tropopause Level|POINT|C||
|1438||![](./images/WAS-WSTMH-P----.png)|![](./images-std/0.was-wstmh-p----.png)|![](./images-jmsml/WAS-WSTMH-P----.png)|WAS-WSTMH-P----|METOC.AMPHC.WTH.STMS.TSLMWH|Thunderstorm Light To Moderate - With Hail|POINT|C||
|1439||![](./images/WAS-WSTMR-P----.png)|![](./images-std/0.was-wstmr-p----.png)|![](./images-jmsml/WAS-WSTMR-P----.png)|WAS-WSTMR-P----|METOC.AMPHC.WTH.STMS.TSLMNH|Thunderstorm Light To Moderate With Rain/Snow - No Hail|POINT|C||
|1440||![](./images/WAS-WST-NPP----.png)|![](./images-std/0.was-wst-npp----.png)|![](./images-jmsml/WAS-WST-NPP----.png)|WAS-WST-NPP----|METOC.AMPHC.WTH.STMS.TS|Thunderstorm - No Precipitation|POINT|C||
|1441||![](./images/WAS-WSTSD-P----.png)|![](./images-std/0.was-wstsd-p----.png)|![](./images-jmsml/WAS-WSTSD-P----.png)|WAS-WSTSD-P----|METOC.AMPHC.WTH.TPLSYS.TROPDN|Tropical Depression|POINT|C||
|1442||![](./images/WAS-WSTSH-P----.png)|![](./images-std/0.was-wstsh-p----.png)|![](./images-jmsml/WAS-WSTSH-P----.png)|WAS-WSTSH-P----|METOC.AMPHC.WTH.TPLSYS.HC|Hurricane-Typhoon|POINT|C||
|1443||![](./images/WAS-WST-SQP----.png)|![](./images-std/0.was-wst-sqp----.png)|![](./images-jmsml/WAS-WST-SQP----.png)|WAS-WST-SQP----|METOC.AMPHC.WTH.STMS.SQL|Squall|POINT|C||
|1444||![](./images/WAS-WSTSS-P----.png)|![](./images-std/0.was-wstss-p----.png)|![](./images-jmsml/WAS-WSTSS-P----.png)|WAS-WSTSS-P----|METOC.AMPHC.WTH.TPLSYS.TROPSM|Tropical Storm|POINT|C||
|1445||![](./images/WAS-WSUKP-P----.png)|![](./images-std/0.was-wsukp-p----.png)|![](./images-jmsml/WAS-WSUKP-P----.png)|WAS-WSUKP-P----|METOC.AMPHC.WTH.POUTAI|Precipitation Of Unknown Type And Intensity|POINT|C||
|1446||![](./images/WAS-WSVA--P----.png)|![](./images-std/0.was-wsva--p----.png)|![](./images-jmsml/WAS-WSVA--P----.png)|WAS-WSVA--P----|METOC.AMPHC.WTH.VOLERN.VOLASH|Volcanic Ash|POINT|C||
|1447||![](./images/WAS-WSVE--P----.png)|![](./images-std/0.was-wsve--p----.png)|![](./images-jmsml/WAS-WSVE--P----.png)|WAS-WSVE--P----|METOC.AMPHC.WTH.VOLERN|Volcanic Eruption|POINT|C||
|1448||![](./images/WO-DBSF-----A--.png)|![](./images-std/0.wo-dbsf-----a--.png)|![](./images-jmsml/WO-DBSF-----A--.png)|WO-DBSF-----A--|METOC.OCA.OCNGRY.BEHSPE.FLT|Flat|AREA|C||
|1449||![](./images/WO-DBSG-----A--.png)|![](./images-std/0.wo-dbsg-----a--.png)|![](./images-jmsml/WO-DBSG-----A--.png)|WO-DBSG-----A--|METOC.OCA.OCNGRY.BEHSPE.GTL|Gentle|AREA|C||
|1450||![](./images/WO-DBSM-----A--.png)|![](./images-std/0.wo-dbsm-----a--.png)|![](./images-jmsml/WO-DBSM-----A--.png)|WO-DBSM-----A--|METOC.OCA.OCNGRY.BEHSPE.MOD|Moderate|AREA|C||
|1451||![](./images/WO-DBST-----A--.png)|![](./images-std/0.wo-dbst-----a--.png)|![](./images-jmsml/WO-DBST-----A--.png)|WO-DBST-----A--|METOC.OCA.OCNGRY.BEHSPE.STP|Steep|AREA|C||
|1452||![](./images/WO-DGMBCA---A--.png)|![](./images-std/0.wo-dgmbca---a--.png)|![](./images-jmsml/WO-DGMBCA---A--.png)|WO-DGMBCA---A--|METOC.OCA.GPHY.MNEWBD.MIWBC.A|A|AREA|C||
|1453||![](./images/WO-DGMBCB---A--.png)|![](./images-std/0.wo-dgmbcb---a--.png)|![](./images-jmsml/WO-DGMBCB---A--.png)|WO-DGMBCB---A--|METOC.OCA.GPHY.MNEWBD.MIWBC.B|B|AREA|C||
|1454||![](./images/WO-DGMBCC---A--.png)|![](./images-std/0.wo-dgmbcc---a--.png)|![](./images-jmsml/WO-DGMBCC---A--.png)|WO-DGMBCC---A--|METOC.OCA.GPHY.MNEWBD.MIWBC.C|C|AREA|C||
|1455||![](./images/WO-DGMBTA---A--.png)|![](./images-std/0.wo-dgmbta---a--.png)|![](./images-jmsml/WO-DGMBTA---A--.png)|WO-DGMBTA---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.A1|A1|AREA|C||
|1456||![](./images/WO-DGMBTB---A--.png)|![](./images-std/0.wo-dgmbtb---a--.png)|![](./images-jmsml/WO-DGMBTB---A--.png)|WO-DGMBTB---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.A2|A2|AREA|C||
|1457||![](./images/WO-DGMBTC---A--.png)|![](./images-std/0.wo-dgmbtc---a--.png)|![](./images-jmsml/WO-DGMBTC---A--.png)|WO-DGMBTC---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.A3|A3|AREA|C||
|1458||![](./images/WO-DGMBTD---A--.png)|![](./images-std/0.wo-dgmbtd---a--.png)|![](./images-jmsml/WO-DGMBTD---A--.png)|WO-DGMBTD---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.B1|B1|AREA|C||
|1459||![](./images/WO-DGMBTE---A--.png)|![](./images-std/0.wo-dgmbte---a--.png)|![](./images-jmsml/WO-DGMBTE---A--.png)|WO-DGMBTE---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.B2|B2|AREA|C||
|1460||![](./images/WO-DGMBTF---A--.png)|![](./images-std/0.wo-dgmbtf---a--.png)|![](./images-jmsml/WO-DGMBTF---A--.png)|WO-DGMBTF---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.B3|B3|AREA|C||
|1461||![](./images/WO-DGMBTG---A--.png)|![](./images-std/0.wo-dgmbtg---a--.png)|![](./images-jmsml/WO-DGMBTG---A--.png)|WO-DGMBTG---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.C1|C1|AREA|C||
|1462||![](./images/WO-DGMBTH---A--.png)|![](./images-std/0.wo-dgmbth---a--.png)|![](./images-jmsml/WO-DGMBTH---A--.png)|WO-DGMBTH---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.C2|C2|AREA|C||
|1463||![](./images/WO-DGMBTI---A--.png)|![](./images-std/0.wo-dgmbti---a--.png)|![](./images-jmsml/WO-DGMBTI---A--.png)|WO-DGMBTI---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.C3|C3|AREA|C||
|1464||![](./images/WO-DGMCH----A--.png)|![](./images-std/0.wo-dgmch----a--.png)|![](./images-jmsml/WO-DGMCH----A--.png)|WO-DGMCH----A--|METOC.OCA.GPHY.MNEWBD.CTRB.HGH|High|AREA|C||
|1465||![](./images/WO-DGMCL----A--.png)|![](./images-std/0.wo-dgmcl----a--.png)|![](./images-jmsml/WO-DGMCL----A--.png)|WO-DGMCL----A--|METOC.OCA.GPHY.MNEWBD.CTRB.LW|Low|AREA|C||
|1466||![](./images/WO-DGMCM----A--.png)|![](./images-std/0.wo-dgmcm----a--.png)|![](./images-jmsml/WO-DGMCM----A--.png)|WO-DGMCM----A--|METOC.OCA.GPHY.MNEWBD.CTRB.MDM|Medium|AREA|C||
|1467||![](./images/WO-DGMIBA---A--.png)|![](./images-std/0.wo-dgmiba---a--.png)|![](./images-jmsml/WO-DGMIBA---A--.png)|WO-DGMIBA---A--|METOC.OCA.GPHY.MNEWBD.IMTBUR.0%|0|AREA|C||
|1468||![](./images/WO-DGMIBB---A--.png)|![](./images-std/0.wo-dgmibb---a--.png)|![](./images-jmsml/WO-DGMIBB---A--.png)|WO-DGMIBB---A--|METOC.OCA.GPHY.MNEWBD.IMTBUR.0-10-|0-10-|AREA|C||
|1469||![](./images/WO-DGMIBC---A--.png)|![](./images-std/0.wo-dgmibc---a--.png)|![](./images-jmsml/WO-DGMIBC---A--.png)|WO-DGMIBC---A--|METOC.OCA.GPHY.MNEWBD.IMTBUR.10-20-|10-20-|AREA|C||
|1470||![](./images/WO-DGMIBD---A--.png)|![](./images-std/0.wo-dgmibd---a--.png)|![](./images-jmsml/WO-DGMIBD---A--.png)|WO-DGMIBD---A--|METOC.OCA.GPHY.MNEWBD.IMTBUR.20-75-|20-75-|AREA|C||
|1471||![](./images/WO-DGMIBE---A--.png)|![](./images-std/0.wo-dgmibe---a--.png)|![](./images-jmsml/WO-DGMIBE---A--.png)|WO-DGMIBE---A--|METOC.OCA.GPHY.MNEWBD.IMTBUR.-75-|-75-|AREA|C||
|1472||![](./images/WO-DGML-----A--.png)|![](./images-std/0.wo-dgml-----a--.png)|![](./images-jmsml/WO-DGML-----A--.png)|WO-DGML-----A--|METOC.OCA.GPHY.MNEWBD.MIWBS.LND|Land|AREA|C||
|1473||![](./images/WO-DGMN-----A--.png)|![](./images-std/0.wo-dgmn-----a--.png)|![](./images-jmsml/WO-DGMN-----A--.png)|WO-DGMN-----A--|METOC.OCA.GPHY.MNEWBD.MIWBS.NODAT|No Data|AREA|C||
|1474||![](./images/WO-DGMRM----A--.png)|![](./images-std/0.wo-dgmrm----a--.png)|![](./images-jmsml/WO-DGMRM----A--.png)|WO-DGMRM----A--|METOC.OCA.GPHY.MNEWBD.BTMRGN.MOD|Moderate|AREA|C||
|1475||![](./images/WO-DGMRR----A--.png)|![](./images-std/0.wo-dgmrr----a--.png)|![](./images-jmsml/WO-DGMRR----A--.png)|WO-DGMRR----A--|METOC.OCA.GPHY.MNEWBD.BTMRGN.RGH|Rough|AREA|C||
|1476||![](./images/WO-DGMRS----A--.png)|![](./images-std/0.wo-dgmrs----a--.png)|![](./images-jmsml/WO-DGMRS----A--.png)|WO-DGMRS----A--|METOC.OCA.GPHY.MNEWBD.BTMRGN.SMH|Smooth|AREA|C||
|1477||![](./images/WO-DGMSB----A--.png)|![](./images-std/0.wo-dgmsb----a--.png)|![](./images-jmsml/WO-DGMSB----A--.png)|WO-DGMSB----A--|METOC.OCA.GPHY.MNEWBD.MIWBS.BLDS|Boulders|AREA|C||
|1478||![](./images/WO-DGMSC----A--.png)|![](./images-std/0.wo-dgmsc----a--.png)|![](./images-jmsml/WO-DGMSC----A--.png)|WO-DGMSC----A--|METOC.OCA.GPHY.MNEWBD.MIWBS.CLAY|Clay|AREA|C||
|1479||![](./images/WO-DGMS-CO--A--.png)|![](./images-std/0.wo-dgms-co--a--.png)|![](./images-jmsml/WO-DGMS-CO--A--.png)|WO-DGMS-CO--A--|METOC.OCA.GPHY.MNEWBD.MIWBS.COBLOS|Cobbles  Oyster Shells|AREA|C||
|1480||![](./images/WO-DGMSIC---A--.png)|![](./images-std/0.wo-dgmsic---a--.png)|![](./images-jmsml/WO-DGMSIC---A--.png)|WO-DGMSIC---A--|METOC.OCA.GPHY.MNEWBD.MIWBS.CSESLT|Coarse Silt|AREA|C||
|1481||![](./images/WO-DGMSIF---A--.png)|![](./images-std/0.wo-dgmsif---a--.png)|![](./images-jmsml/WO-DGMSIF---A--.png)|WO-DGMSIF---A--|METOC.OCA.GPHY.MNEWBD.MIWBS.FNESLT|Fine Silt|AREA|C||
|1482||![](./images/WO-DGMSIM---A--.png)|![](./images-std/0.wo-dgmsim---a--.png)|![](./images-jmsml/WO-DGMSIM---A--.png)|WO-DGMSIM---A--|METOC.OCA.GPHY.MNEWBD.MIWBS.MDMSLT|Medium Silt|AREA|C||
|1483||![](./images/WO-DGMSIVF--A--.png)|![](./images-std/0.wo-dgmsivf--a--.png)|![](./images-jmsml/WO-DGMSIVF--A--.png)|WO-DGMSIVF--A--|METOC.OCA.GPHY.MNEWBD.MIWBS.VFNSLT|Very Fine Silt|AREA|C||
|1484||![](./images/WO-DGMS-PH--A--.png)|![](./images-std/0.wo-dgms-ph--a--.png)|![](./images-jmsml/WO-DGMS-PH--A--.png)|WO-DGMS-PH--A--|METOC.OCA.GPHY.MNEWBD.MIWBS.PBLSHE|Pebbles  Shells|AREA|C||
|1485||![](./images/WO-DGMSR----A--.png)|![](./images-std/0.wo-dgmsr----a--.png)|![](./images-jmsml/WO-DGMSR----A--.png)|WO-DGMSR----A--|METOC.OCA.GPHY.MNEWBD.MIWBS.SLDRCK|Solid Rock|AREA|C||
|1486||![](./images/WO-DGMSSC---A--.png)|![](./images-std/0.wo-dgmssc---a--.png)|![](./images-jmsml/WO-DGMSSC---A--.png)|WO-DGMSSC---A--|METOC.OCA.GPHY.MNEWBD.MIWBS.CSESD|Coarse Sand|AREA|C||
|1487||![](./images/WO-DGMSSF---A--.png)|![](./images-std/0.wo-dgmssf---a--.png)|![](./images-jmsml/WO-DGMSSF---A--.png)|WO-DGMSSF---A--|METOC.OCA.GPHY.MNEWBD.MIWBS.FNESD|Fine Sand|AREA|C||
|1488||![](./images/WO-DGMS-SH--A--.png)|![](./images-std/0.wo-dgms-sh--a--.png)|![](./images-jmsml/WO-DGMS-SH--A--.png)|WO-DGMS-SH--A--|METOC.OCA.GPHY.MNEWBD.MIWBS.SD&SHE|Sand And Shells|AREA|C||
|1489||![](./images/WO-DGMSSM---A--.png)|![](./images-std/0.wo-dgmssm---a--.png)|![](./images-jmsml/WO-DGMSSM---A--.png)|WO-DGMSSM---A--|METOC.OCA.GPHY.MNEWBD.MIWBS.MDMSD|Medium Sand|AREA|C||
|1490||![](./images/WO-DGMSSVF--A--.png)|![](./images-std/0.wo-dgmssvf--a--.png)|![](./images-jmsml/WO-DGMSSVF--A--.png)|WO-DGMSSVF--A--|METOC.OCA.GPHY.MNEWBD.MIWBS.VFNESD|Very Fine Sand|AREA|C||
|1491||![](./images/WO-DGMSSVS--A--.png)|![](./images-std/0.wo-dgmssvs--a--.png)|![](./images-jmsml/WO-DGMSSVS--A--.png)|WO-DGMSSVS--A--|METOC.OCA.GPHY.MNEWBD.MIWBS.VCSESD|Very Coarse Sand|AREA|C||
|1492||![](./images/WO-DHABP----A--.png)|![](./images-std/0.wo-dhabp----a--.png)|![](./images-jmsml/WO-DHABP----A--.png)|WO-DHABP----A--|METOC.OCA.HYDGRY.ATN.PRH1.PRH3|Perches-Stakes|POINT|C||
|1493||![](./images/WO-DHALLA--L---.png)|![](./images-std/0.wo-dhalla--l---.png)|![](./images-jmsml/WO-DHALLA--L---.png)|WO-DHALLA--L---|METOC.OCA.HYDGRY.ATN.LDGLNE|Leading Line|LINE|C||
|1494||![](./images/WO-DHCB-----A--.png)|![](./images-std/0.wo-dhcb-----a--.png)|![](./images-jmsml/WO-DHCB-----A--.png)|WO-DHCB-----A--|METOC.OCA.HYDGRY.CSTHYD.BEH|Beach|AREA|C||
|1495||![](./images/WO-DHCC----L---.png)|![](./images-std/0.wo-dhcc----l---.png)|![](./images-jmsml/WO-DHCC----L---.png)|WO-DHCC----L---|METOC.OCA.HYDGRY.CSTHYD.CSTLN|Coastline|LINE|C||
|1496|YES|![](./images/WO-DHCF-----A--.png)|![](./images-std/0.wo-dhcf-----a--.png)|![](./images-jmsml/WO-DHCF-----A--.png)|WO-DHCF-----A--|METOC.OCA.HYDGRY.CSTHYD.FSH1.FSH3|Foreshore|AREA|C||
|1497|JMSML|![](./images/WO-DHCF----L---.png)|![](./images-std/0.wo-dhcf----l---.png)|![](./images-jmsml/WO-DHCF----L---.png)|WO-DHCF----L---|METOC.OCA.HYDGRY.CSTHYD.FSH1.FSH2|Foreshore|LINE|C||
|1498||![](./images/WO-DHCI-----A--.png)|![](./images-std/0.wo-dhci-----a--.png)|![](./images-jmsml/WO-DHCI-----A--.png)|WO-DHCI-----A--|METOC.OCA.HYDGRY.CSTHYD.ISND|Island|AREA|C||
|1499||![](./images/WO-DHCW-----A--.png)|![](./images-std/0.wo-dhcw-----a--.png)|![](./images-jmsml/WO-DHCW-----A--.png)|WO-DHCW-----A--|METOC.OCA.HYDGRY.CSTHYD.H2O|Water|AREA|C||
|1500||![](./images/WO-DHDDA----A--.png)|![](./images-std/0.wo-dhdda----a--.png)|![](./images-jmsml/WO-DHDDA----A--.png)|WO-DHDDA----A--|METOC.OCA.HYDGRY.DPH.ARA|Depth Area|POINT|C||
|1501||![](./images/WO-DHDDC---L---.png)|![](./images-std/0.wo-dhddc---l---.png)|![](./images-jmsml/WO-DHDDC---L---.png)|WO-DHDDC---L---|METOC.OCA.HYDGRY.DPH.CTUR|Depth Contour|LINE|C||
|1502||![](./images/WO-DHDDL---L---.png)|![](./images-std/0.wo-dhddl---l---.png)|![](./images-jmsml/WO-DHDDL---L---.png)|WO-DHDDL---L---|METOC.OCA.HYDGRY.DPH.CRV|Depth Curve|LINE|C||
|1503||![](./images/WO-DHHD-----A--.png)|![](./images-std/0.wo-dhhd-----a--.png)|![](./images-jmsml/WO-DHHD-----A--.png)|WO-DHHD-----A--|METOC.OCA.HYDGRY.DANHAZ.UH2DAN|Underwater Danger-Hazard|AREA|C||
|1504||![](./images/WO-DHHDB---L---.png)|![](./images-std/0.wo-dhhdb---l---.png)|![](./images-jmsml/WO-DHHDB---L---.png)|WO-DHHDB---L---|METOC.OCA.HYDGRY.DANHAZ.BRKS|Breakers|LINE|C||
|1505||![](./images/WO-DHHDD----A--.png)|![](./images-std/0.wo-dhhdd----a--.png)|![](./images-jmsml/WO-DHHDD----A--.png)|WO-DHHDD----A--|METOC.OCA.HYDGRY.DANHAZ.DCDH2O|Discolored Water|AREA|C||
|1506||![](./images/WO-DHHDF----A--.png)|![](./images-std/0.wo-dhhdf----a--.png)|![](./images-jmsml/WO-DHHDF----A--.png)|WO-DHHDF----A--|METOC.OCA.HYDGRY.DANHAZ.FLGRD1.FLGRD3|Foul Ground|AREA|C||
|1507|YES|![](./images/WO-DHHDK----A--.png)|![](./images-std/0.wo-dhhdk----a--.png)|![](./images-jmsml/WO-DHHDK----A--.png)|WO-DHHDK----A--|METOC.OCA.HYDGRY.DANHAZ.KLP1.KLP3|Kelp3-Seaweed|AREA|C||
|1508|YES|![](./images/WO-DHHDK--P----.png)|![](./images-std/0.wo-dhhdk--p----.png)|![](./images-jmsml/WO-DHHDK--P----.png)|WO-DHHDK--P----|METOC.OCA.HYDGRY.DANHAZ.KLP1.KLP2|Kelp2-Seaweed|POINT|C||
|1509||![](./images/WO-DHPBA----A--.png)|![](./images-std/0.wo-dhpba----a--.png)|![](./images-jmsml/WO-DHPBA----A--.png)|WO-DHPBA----A--|METOC.OCA.HYDGRY.PRTHBR.PRT.ANCRG3|Anchorage|AREA|C||
|1510||![](./images/WO-DHPBA---L---.png)|![](./images-std/0.wo-dhpba---l---.png)|![](./images-jmsml/WO-DHPBA---L---.png)|WO-DHPBA---L---|METOC.OCA.HYDGRY.PRTHBR.PRT.ANCRG2|Anchorage|LINE|C||
|1511||![](./images/WO-DHPBP---L---.png)|![](./images-std/0.wo-dhpbp---l---.png)|![](./images-jmsml/WO-DHPBP---L---.png)|WO-DHPBP---L---|METOC.OCA.HYDGRY.PRTHBR.PRT.PWQ|Pier-Wharf-Quay|LINE|C||
|1512||![](./images/WO-DHPMD----A--.png)|![](./images-std/0.wo-dhpmd----a--.png)|![](./images-jmsml/WO-DHPMD----A--.png)|WO-DHPMD----A--|METOC.OCA.HYDGRY.PRTHBR.FAC.DDCK|Drydock|AREA|C||
|1513|YES|![](./images/WO-DHPMO----A--.png)|![](./images-std/0.wo-dhpmo----a--.png)|![](./images-jmsml/WO-DHPMO----A--.png)|WO-DHPMO----A--|METOC.OCA.HYDGRY.PRTHBR.FAC.OSLF3|Offshore Loading Facility|AREA|C||
|1514|YES|![](./images/WO-DHPMO---L---.png)|![](./images-std/0.wo-dhpmo---l---.png)|![](./images-jmsml/WO-DHPMO---L---.png)|WO-DHPMO---L---|METOC.OCA.HYDGRY.PRTHBR.FAC.OSLF2|Offshore Loading Facility|LINE|C||
|1515|JMSML|![](./images/WO-DHPMO--P----.png)|![](./images-std/0.wo-dhpmo--p----.png)|![](./images-jmsml/WO-DHPMO--P----.png)|WO-DHPMO--P----|METOC.OCA.HYDGRY.PRTHBR.FAC.OSLF1|Offshore Loading Facility|POINT|C||
|1516||![](./images/WO-DHPMRA--L---.png)|![](./images-std/0.wo-dhpmra--l---.png)|![](./images-jmsml/WO-DHPMRA--L---.png)|WO-DHPMRA--L---|METOC.OCA.HYDGRY.PRTHBR.FAC.RAMPAW|Ramp (Above Water)|LINE|C||
|1517||![](./images/WO-DHPMRB--L---.png)|![](./images-std/0.wo-dhpmrb--l---.png)|![](./images-jmsml/WO-DHPMRB--L---.png)|WO-DHPMRB--L---|METOC.OCA.HYDGRY.PRTHBR.FAC.RAMPBW|Ramp (Below Water)|LINE|C||
|1518||![](./images/WO-DHPSPA--L---.png)|![](./images-std/0.wo-dhpspa--l---.png)|![](./images-jmsml/WO-DHPSPA--L---.png)|WO-DHPSPA--L---|METOC.OCA.HYDGRY.PRTHBR.SHRLNE.BWGJAW|Breakwater-Groin-Jetty (Above Water)|LINE|C||
|1519||![](./images/WO-DHPSPB--L---.png)|![](./images-std/0.wo-dhpspb--l---.png)|![](./images-jmsml/WO-DHPSPB--L---.png)|WO-DHPSPB--L---|METOC.OCA.HYDGRY.PRTHBR.SHRLNE.BWGJBW|Breakwater-Groin-Jetty (Below Water)|LINE|C||
|1520||![](./images/WO-DHPSPS--L---.png)|![](./images-std/0.wo-dhpsps--l---.png)|![](./images-jmsml/WO-DHPSPS--L---.png)|WO-DHPSPS--L---|METOC.OCA.HYDGRY.PRTHBR.SHRLNE.SW|Seawall|LINE|C||
|1521|YES|![](./images/WO-DIDID---L---.png)|![](./images-std/0.wo-didid---l---.png)|![](./images-jmsml/WO-DIDID---L---.png)|WO-DIDID---L---|METOC.OCA.ISYS.DYNPRO.ID|Ice Drift (Direction)|LINE|C|JMSML is better|
|1522||![](./images/WO-DILIEE--L---.png)|![](./images-std/0.wo-diliee--l---.png)|![](./images-jmsml/WO-DILIEE--L---.png)|WO-DILIEE--L---|METOC.OCA.ISYS.LMT.EIEOB|Estimated Ice Edge Or Boundary|LINE|C||
|1523||![](./images/WO-DILIEO--L---.png)|![](./images-std/0.wo-dilieo--l---.png)|![](./images-jmsml/WO-DILIEO--L---.png)|WO-DILIEO--L---|METOC.OCA.ISYS.LMT.OIEOB|Observed Ice Edge Or Boundary|LINE|C||
|1524||![](./images/WO-DILIER--L---.png)|![](./images-std/0.wo-dilier--l---.png)|![](./images-jmsml/WO-DILIER--L---.png)|WO-DILIER--L---|METOC.OCA.ISYS.LMT.IEOBFR|Ice Edge Or Boundary From Radar|LINE|C||
|1525||![](./images/WO-DILOR---L---.png)|![](./images-std/0.wo-dilor---l---.png)|![](./images-jmsml/WO-DILOR---L---.png)|WO-DILOR---L---|METOC.OCA.ISYS.LMT.LORO|Limit Of Radar Observation|LINE|C||
|1526||![](./images/WO-DILOV---L---.png)|![](./images-std/0.wo-dilov---l---.png)|![](./images-jmsml/WO-DILOV---L---.png)|WO-DILOV---L---|METOC.OCA.ISYS.LMT.LOVO|Limit Of Visual Observation|LINE|C||
|1527||![](./images/WO-DILUC---L---.png)|![](./images-std/0.wo-diluc---l---.png)|![](./images-jmsml/WO-DILUC---L---.png)|WO-DILUC---L---|METOC.OCA.ISYS.LMT.LOU|Limit Of Undercast|LINE|C||
|1528||![](./images/WO-DIOC----L---.png)|![](./images-std/0.wo-dioc----l---.png)|![](./images-jmsml/WO-DIOC----L---.png)|WO-DIOC----L---|METOC.OCA.ISYS.OITI.CRK|Cracks|LINE|C||
|1529||![](./images/WO-DIOCS---L---.png)|![](./images-std/0.wo-diocs---l---.png)|![](./images-jmsml/WO-DIOCS---L---.png)|WO-DIOCS---L---|METOC.OCA.ISYS.OITI.CRKASL|Cracks At A Specific Location|LINE|C||
|1530||![](./images/WO-DIOLF---L---.png)|![](./images-std/0.wo-diolf---l---.png)|![](./images-jmsml/WO-DIOLF---L---.png)|WO-DIOLF---L---|METOC.OCA.ISYS.OITI.FZLED|Frozen Lead|LINE|C||
|1531||![](./images/WO-DIOL----L---.png)|![](./images-std/0.wo-diol----l---.png)|![](./images-jmsml/WO-DIOL----L---.png)|WO-DIOL----L---|METOC.OCA.ISYS.OITI.LED|Lead|LINE|C||
|1532||![](./images/WO-DL-MA----A--.png)|![](./images-std/0.wo-dl-ma----a--.png)|![](./images-jmsml/WO-DL-MA----A--.png)|WO-DL-MA----A--|METOC.OCA.LMT.MARTAR|Maritime Area|AREA|C||
|1533||![](./images/WO-DL-ML---L---.png)|![](./images-std/0.wo-dl-ml---l---.png)|![](./images-jmsml/WO-DL-ML---L---.png)|WO-DL-ML---L---|METOC.OCA.LMT.MARTLB|Maritime Limit Boundary|LINE|C||
|1534||![](./images/WO-DL-O-----A--.png)|![](./images-std/0.wo-dl-o-----a--.png)|![](./images-jmsml/WO-DL-O-----A--.png)|WO-DL-O-----A--|METOC.OCA.LMT.OD|Operator-Defined|AREA|C||
|1535||![](./images/WO-DL-RA---L---.png)|![](./images-std/0.wo-dl-ra---l---.png)|![](./images-jmsml/WO-DL-RA---L---.png)|WO-DL-RA---L---|METOC.OCA.LMT.RSDARA|Restricted Area|LINE|C||
|1536||![](./images/WO-DL-SA----A--.png)|![](./images-std/0.wo-dl-sa----a--.png)|![](./images-jmsml/WO-DL-SA----A--.png)|WO-DL-SA----A--|METOC.OCA.LMT.SWPARA|Swept Area|AREA|C||
|1537||![](./images/WO-DL-TA----A--.png)|![](./images-std/0.wo-dl-ta----a--.png)|![](./images-jmsml/WO-DL-TA----A--.png)|WO-DL-TA----A--|METOC.OCA.LMT.TRGARA|Training Area|AREA|C||
|1538||![](./images/WO-DMCA----L---.png)|![](./images-std/0.wo-dmca----l---.png)|![](./images-jmsml/WO-DMCA----L---.png)|WO-DMCA----L---|METOC.OCA.MMD.SUBCBL|Submarine Cable|LINE|C||
|1539||![](./images/WO-DMCC-----A--.png)|![](./images-std/0.wo-dmcc-----a--.png)|![](./images-jmsml/WO-DMCC-----A--.png)|WO-DMCC-----A--|METOC.OCA.MMD.SBMCRB|Submerged Crib|AREA|C||
|1540||![](./images/WO-DMCD----L---.png)|![](./images-std/0.wo-dmcd----l---.png)|![](./images-jmsml/WO-DMCD----L---.png)|WO-DMCD----L---|METOC.OCA.MMD.CNL|Canal|LINE|C||
|1541||![](./images/WO-DMOA-----A--.png)|![](./images-std/0.wo-dmoa-----a--.png)|![](./images-jmsml/WO-DMOA-----A--.png)|WO-DMOA-----A--|METOC.OCA.MMD.OLRGFD|Oil/Gas Rig Field|AREA|C||
|1542||![](./images/WO-DMPA----L---.png)|![](./images-std/0.wo-dmpa----l---.png)|![](./images-jmsml/WO-DMPA----L---.png)|WO-DMPA----L---|METOC.OCA.MMD.PPELNE|Pipelines/Pipe|LINE|C||
|1543||![](./images/WO-DOBVA----A--.png)|![](./images-std/0.wo-dobva----a--.png)|![](./images-jmsml/WO-DOBVA----A--.png)|WO-DOBVA----A--|METOC.OCA.OCNGRY.BIOLUM.VDR1-2|Vdr Level 1-2|AREA|C||
|1544||![](./images/WO-DOBVB----A--.png)|![](./images-std/0.wo-dobvb----a--.png)|![](./images-jmsml/WO-DOBVB----A--.png)|WO-DOBVB----A--|METOC.OCA.OCNGRY.BIOLUM.VDR2-3|Vdr Level 2-3|AREA|C||
|1545||![](./images/WO-DOBVC----A--.png)|![](./images-std/0.wo-dobvc----a--.png)|![](./images-jmsml/WO-DOBVC----A--.png)|WO-DOBVC----A--|METOC.OCA.OCNGRY.BIOLUM.VDR3-4|Vdr Level 3-4|AREA|C||
|1546||![](./images/WO-DOBVD----A--.png)|![](./images-std/0.wo-dobvd----a--.png)|![](./images-jmsml/WO-DOBVD----A--.png)|WO-DOBVD----A--|METOC.OCA.OCNGRY.BIOLUM.VDR4-5|Vdr Level 4-5|AREA|C||
|1547||![](./images/WO-DOBVE----A--.png)|![](./images-std/0.wo-dobve----a--.png)|![](./images-jmsml/WO-DOBVE----A--.png)|WO-DOBVE----A--|METOC.OCA.OCNGRY.BIOLUM.VDR5-6|Vdr Level 5-6|AREA|C||
|1548||![](./images/WO-DOBVF----A--.png)|![](./images-std/0.wo-dobvf----a--.png)|![](./images-jmsml/WO-DOBVF----A--.png)|WO-DOBVF----A--|METOC.OCA.OCNGRY.BIOLUM.VDR6-7|Vdr Level 6-7|AREA|C||
|1549||![](./images/WO-DOBVG----A--.png)|![](./images-std/0.wo-dobvg----a--.png)|![](./images-jmsml/WO-DOBVG----A--.png)|WO-DOBVG----A--|METOC.OCA.OCNGRY.BIOLUM.VDR7-8|Vdr Level 7-8|AREA|C||
|1550||![](./images/WO-DOBVH----A--.png)|![](./images-std/0.wo-dobvh----a--.png)|![](./images-jmsml/WO-DOBVH----A--.png)|WO-DOBVH----A--|METOC.OCA.OCNGRY.BIOLUM.VDR8-9|Vdr Level 8-9|AREA|C||
|1551||![](./images/WO-DOBVI----A--.png)|![](./images-std/0.wo-dobvi----a--.png)|![](./images-jmsml/WO-DOBVI----A--.png)|WO-DOBVI----A--|METOC.OCA.OCNGRY.BIOLUM.VDR9-0|Vdr Level 9-10|AREA|C||
|1552||![](./images/WO-DTCCCFE-L---.png)|![](./images-std/0.wo-dtcccfe-l---.png)|![](./images-jmsml/WO-DTCCCFE-L---.png)|WO-DTCCCFE-L---|METOC.OCA.HYDGRY.TDECUR.EBB|Current Flow - Ebb|LINE|C||
|1553||![](./images/WO-DTCCCFF-L---.png)|![](./images-std/0.wo-dtcccff-l---.png)|![](./images-jmsml/WO-DTCCCFF-L---.png)|WO-DTCCCFF-L---|METOC.OCA.HYDGRY.TDECUR.FLOOD|Current Flow - Flood|LINE|C||
|1554||![](./images/WOS-BFC-CBP----.png)|![](./images-std/0.wos-bfc-cbp----.png)|![](./images-jmsml/WOS-BFC-CBP----.png)|WOS-BFC-CBP----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.COBL|Cobbles|POINT|C||
|1555||![](./images/WOS-BFC-CLP----.png)|![](./images-std/0.wos-bfc-clp----.png)|![](./images-jmsml/WOS-BFC-CLP----.png)|WOS-BFC-CLP----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.CLAY|Clay|POINT|C||
|1556||![](./images/WOS-BFC-COP----.png)|![](./images-std/0.wos-bfc-cop----.png)|![](./images-jmsml/WOS-BFC-COP----.png)|WOS-BFC-COP----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.CRL|Coral|POINT|C||
|1557||![](./images/WOS-BFC-G-P----.png)|![](./images-std/0.wos-bfc-g-p----.png)|![](./images-jmsml/WOS-BFC-G-P----.png)|WOS-BFC-G-P----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.GVL|Gravel|POINT|C||
|1558||![](./images/WOS-BFC-M-P----.png)|![](./images-std/0.wos-bfc-m-p----.png)|![](./images-jmsml/WOS-BFC-M-P----.png)|WOS-BFC-M-P----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.MUD|Mud|POINT|C||
|1559||![](./images/WOS-BFC-P-P----.png)|![](./images-std/0.wos-bfc-p-p----.png)|![](./images-jmsml/WOS-BFC-P-P----.png)|WOS-BFC-P-P----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.PBL|Pebbles|POINT|C||
|1560||![](./images/WOS-BFC-R-P----.png)|![](./images-std/0.wos-bfc-r-p----.png)|![](./images-jmsml/WOS-BFC-R-P----.png)|WOS-BFC-R-P----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.RCK|Rock|POINT|C||
|1561||![](./images/WOS-BFC-SHP----.png)|![](./images-std/0.wos-bfc-shp----.png)|![](./images-jmsml/WOS-BFC-SHP----.png)|WOS-BFC-SHP----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.SHE|Shell|POINT|C||
|1562||![](./images/WOS-BFC-SIP----.png)|![](./images-std/0.wos-bfc-sip----.png)|![](./images-jmsml/WOS-BFC-SIP----.png)|WOS-BFC-SIP----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.SLT|Silt|POINT|C||
|1563||![](./images/WOS-BFC-S-P----.png)|![](./images-std/0.wos-bfc-s-p----.png)|![](./images-jmsml/WOS-BFC-S-P----.png)|WOS-BFC-S-P----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.SD|Sand|POINT|C||
|1564||![](./images/WOS-BFC-STP----.png)|![](./images-std/0.wos-bfc-stp----.png)|![](./images-jmsml/WOS-BFC-STP----.png)|WOS-BFC-STP----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.STNE|Stones|POINT|C||
|1565||![](./images/WOS-BFQ-C-P----.png)|![](./images-std/0.wos-bfq-c-p----.png)|![](./images-jmsml/WOS-BFQ-C-P----.png)|WOS-BFQ-C-P----|METOC.OCA.HYDGRY.BTMFAT.QLFYTM.CSE|Coarse|POINT|C||
|1566||![](./images/WOS-BFQ-F-P----.png)|![](./images-std/0.wos-bfq-f-p----.png)|![](./images-jmsml/WOS-BFQ-F-P----.png)|WOS-BFQ-F-P----|METOC.OCA.HYDGRY.BTMFAT.QLFYTM.FNE|Fine|POINT|C||
|1567||![](./images/WOS-BFQ-M-P----.png)|![](./images-std/0.wos-bfq-m-p----.png)|![](./images-jmsml/WOS-BFQ-M-P----.png)|WOS-BFQ-M-P----|METOC.OCA.HYDGRY.BTMFAT.QLFYTM.MDM|Medium|POINT|C||
|1568||![](./images/WOS-HABA--P----.png)|![](./images-std/0.wos-haba--p----.png)|![](./images-jmsml/WOS-HABA--P----.png)|WOS-HABA--P----|METOC.OCA.HYDGRY.ATN.BCN|Beacon|POINT|C||
|1569||![](./images/WOS-HABB--P----.png)|![](./images-std/0.wos-habb--p----.png)|![](./images-jmsml/WOS-HABB--P----.png)|WOS-HABB--P----|METOC.OCA.HYDGRY.ATN.BUOY|Buoy Default|POINT|C||
|1570||![](./images/WOS-HABM--P----.png)|![](./images-std/0.wos-habm--p----.png)|![](./images-jmsml/WOS-HABM--P----.png)|WOS-HABM--P----|METOC.OCA.HYDGRY.ATN.MRK|Marker|POINT|C||
|1571||![](./images/WOS-HABP--P----.png)|![](./images-std/0.wos-habp--p----.png)|![](./images-jmsml/WOS-HABP--P----.png)|WOS-HABP--P----|METOC.OCA.HYDGRY.ATN.PRH1.PRH2|Perches-Stakes|POINT|C||
|1572|PERHAPS|![](./images/WOS-HALH--P----.png)|![](./images-std/0.wos-halh--p----.png)|![](./images-jmsml/WOS-HALH--P----.png)|WOS-HALH--P----|METOC.OCA.HYDGRY.ATN.LITHSE|Lighthouse|POINT|C||
|1573||![](./images/WOS-HAL---P----.png)|![](./images-std/0.wos-hal---p----.png)|![](./images-jmsml/WOS-HAL---P----.png)|WOS-HAL---P----|METOC.OCA.HYDGRY.ATN.LIT|Light|POINT|C||
|1574||![](./images/WOS-HALV--P----.png)|![](./images-std/0.wos-halv--p----.png)|![](./images-jmsml/WOS-HALV--P----.png)|WOS-HALV--P----|METOC.OCA.HYDGRY.ATN.LITVES|Light Vessel-Lightship|POINT|C||
|1575|PERHAPS|![](./images/WOS-HDS---P----.png)|![](./images-std/0.wos-hds---p----.png)|![](./images-jmsml/WOS-HDS---P----.png)|WOS-HDS---P----|METOC.OCA.HYDGRY.DPH.SNDG|Soundings|POINT|C||
|1576||![](./images/WOS-HHDE--P----.png)|![](./images-std/0.wos-hhde--p----.png)|![](./images-jmsml/WOS-HHDE--P----.png)|WOS-HHDE--P----|METOC.OCA.HYDGRY.DANHAZ.EOTR|Eddies-Overfalls-Tide Rips|POINT|C||
|1577||![](./images/WOS-HHDF--P----.png)|![](./images-std/0.wos-hhdf--p----.png)|![](./images-jmsml/WOS-HHDF--P----.png)|WOS-HHDF--P----|METOC.OCA.HYDGRY.DANHAZ.FLGRD1.FLGRD2|Foul Ground|POINT|C||
|1578||![](./images/WOS-HHDMDBP----.png)|![](./images-std/0.wos-hhdmdbp----.png)|![](./images-jmsml/WOS-HHDMDBP----.png)|WOS-HHDMDBP----|METOC.OCA.HYDGRY.DANHAZ.MNENAV.DBT|Mine-Naval (Doubtful)|POINT|C||
|1579||![](./images/WOS-HHDMDFP----.png)|![](./images-std/0.wos-hhdmdfp----.png)|![](./images-jmsml/WOS-HHDMDFP----.png)|WOS-HHDMDFP----|METOC.OCA.HYDGRY.DANHAZ.MNENAV.DEFN|Mine-Naval (Definite)|POINT|C||
|1580|YES|![](./images/WOS-HHDR---L---.png)|![](./images-std/0.wos-hhdr---l---.png)|![](./images-jmsml/WOS-HHDR---L---.png)|WOS-HHDR---L---|METOC.OCA.HYDGRY.DANHAZ.REEF|Reef|LINE|C||
|1581||![](./images/WOS-HHDS--P----.png)|![](./images-std/0.wos-hhds--p----.png)|![](./images-jmsml/WOS-HHDS--P----.png)|WOS-HHDS--P----|METOC.OCA.HYDGRY.DANHAZ.SNAG|Snags-Stumps|POINT|C||
|1582||![](./images/WOS-HHDWA-P----.png)|![](./images-std/0.wos-hhdwa-p----.png)|![](./images-jmsml/WOS-HHDWA-P----.png)|WOS-HHDWA-P----|METOC.OCA.HYDGRY.DANHAZ.WRK.UCOV|Wreck (Uncovers)|POINT|C||
|1583||![](./images/WOS-HHDWB-P----.png)|![](./images-std/0.wos-hhdwb-p----.png)|![](./images-jmsml/WOS-HHDWB-P----.png)|WOS-HHDWB-P----|METOC.OCA.HYDGRY.DANHAZ.WRK.SBM|Wreck (Submerged)|POINT|C||
|1584||![](./images/WOS-HHRA--P----.png)|![](./images-std/0.wos-hhra--p----.png)|![](./images-jmsml/WOS-HHRA--P----.png)|WOS-HHRA--P----|METOC.OCA.HYDGRY.DANHAZ.RCKAWD|Rock Awashed|POINT|C||
|1585||![](./images/WOS-HHRS--P----.png)|![](./images-std/0.wos-hhrs--p----.png)|![](./images-jmsml/WOS-HHRS--P----.png)|WOS-HHRS--P----|METOC.OCA.HYDGRY.DANHAZ.RCKSBM|Rock Submergered|POINT|C||
|1586||![](./images/WOS-HPBA--P----.png)|![](./images-std/0.wos-hpba--p----.png)|![](./images-jmsml/WOS-HPBA--P----.png)|WOS-HPBA--P----|METOC.OCA.HYDGRY.PRTHBR.PRT.ANCRG1|Anchorage|POINT|C||
|1587||![](./images/WOS-HPB-A-P----.png)|![](./images-std/0.wos-hpb-a-p----.png)|![](./images-jmsml/WOS-HPB-A-P----.png)|WOS-HPB-A-P----|METOC.OCA.HYDGRY.PRTHBR.PRT.BRHSA|Berths (Anchor)|POINT|C||
|1588||![](./images/WOS-HPB-O-P----.png)|![](./images-std/0.wos-hpb-o-p----.png)|![](./images-jmsml/WOS-HPB-O-P----.png)|WOS-HPB-O-P----|METOC.OCA.HYDGRY.PRTHBR.PRT.BRHSO|Berths (Onshore)|POINT|C||
|1589||![](./images/WOS-HPCP--P----.png)|![](./images-std/0.wos-hpcp--p----.png)|![](./images-jmsml/WOS-HPCP--P----.png)|WOS-HPCP--P----|METOC.OCA.HYDGRY.PRTHBR.PRT.CIP|Call In Point|POINT|C||
|1590||![](./images/WOS-HPD---P----.png)|![](./images-std/0.wos-hpd---p----.png)|![](./images-jmsml/WOS-HPD---P----.png)|WOS-HPD---P----|METOC.OCA.HYDGRY.PRTHBR.FAC.DOPN|Dolphin|POINT|C||
|1591||![](./images/WOS-HPFF----A--.png)|![](./images-std/0.wos-hpff----a--.png)|![](./images-jmsml/WOS-HPFF----A--.png)|WOS-HPFF----A--|METOC.OCA.HYDGRY.PRTHBR.FSG.FSTK3|Fish Stakes-Traps-Weirs Fstk3|AREA|C||
|1592||![](./images/WOS-HPFH--P----.png)|![](./images-std/0.wos-hpfh--p----.png)|![](./images-jmsml/WOS-HPFH--P----.png)|WOS-HPFH--P----|METOC.OCA.HYDGRY.PRTHBR.FSG.FSGHBR|Fishing Harbor|POINT|C||
|1593|PERHAPS|![](./images/WOS-HPFS---L---.png)|![](./images-std/0.wos-hpfs---l---.png)|![](./images-jmsml/WOS-HPFS---L---.png)|WOS-HPFS---L---|METOC.OCA.HYDGRY.PRTHBR.FSG.FSTK2|Fish Stakes-Traps-Weirs Fstk2|POINT|C|Standard is confusing|
|1594|YES|![](./images/WOS-HPFS--P----.png)|![](./images-std/0.wos-hpfs--p----.png)|![](./images-jmsml/WOS-HPFS--P----.png)|WOS-HPFS--P----|METOC.OCA.HYDGRY.PRTHBR.FSG.FSTK1|Fish Stakes-Traps-Weirs Fstk1|POINT|C||
|1595||![](./images/WOS-HPM-CC-L---.png)|![](./images-std/0.wos-hpm-cc-l---.png)|![](./images-jmsml/WOS-HPM-CC-L---.png)|WOS-HPM-CC-L---|METOC.OCA.HYDGRY.PRTHBR.FAC.CFCSG|Cable Ferry Crossing|POINT|C||
|1596||![](./images/WOS-HPM-FC-L---.png)|![](./images-std/0.wos-hpm-fc-l---.png)|![](./images-jmsml/WOS-HPM-FC-L---.png)|WOS-HPM-FC-L---|METOC.OCA.HYDGRY.PRTHBR.FAC.FRYCSG|Ferry Crossing|POINT|C||
|1597||![](./images/WOS-HPML--P----.png)|![](./images-std/0.wos-hpml--p----.png)|![](./images-jmsml/WOS-HPML--P----.png)|WOS-HPML--P----|METOC.OCA.HYDGRY.PRTHBR.FAC.LNDPLC|Landing Place|POINT|C||
|1598||![](./images/WOS-HPM-R-P----.png)|![](./images-std/0.wos-hpm-r-p----.png)|![](./images-jmsml/WOS-HPM-R-P----.png)|WOS-HPM-R-P----|METOC.OCA.HYDGRY.PRTHBR.FAC.LNDRNG|Landing Ring|POINT|C||
|1599||![](./images/WOS-IBBBM-P----.png)|![](./images-std/0.wos-ibbbm-p----.png)|![](./images-jmsml/WOS-IBBBM-P----.png)|WOS-IBBBM-P----|METOC.OCA.ISYS.IB.MNYBB|Many Bergy Bits|POINT|C||
|1600||![](./images/WOS-IBBB--P----.png)|![](./images-std/0.wos-ibbb--p----.png)|![](./images-jmsml/WOS-IBBB--P----.png)|WOS-IBBB--P----|METOC.OCA.ISYS.IB.BB|Bergy Bit|POINT|C||
|1601||![](./images/WOS-IBBS--P----.png)|![](./images-std/0.wos-ibbs--p----.png)|![](./images-jmsml/WOS-IBBS--P----.png)|WOS-IBBS--P----|METOC.OCA.ISYS.IB.BAS|Belts And Strips|POINT|C||
|1602||![](./images/WOS-IBF---P----.png)|![](./images-std/0.wos-ibf---p----.png)|![](./images-jmsml/WOS-IBF---P----.png)|WOS-IBF---P----|METOC.OCA.ISYS.IB.FBG|Floeberg|POINT|C||
|1603||![](./images/WOS-IBGLM-P----.png)|![](./images-std/0.wos-ibglm-p----.png)|![](./images-jmsml/WOS-IBGLM-P----.png)|WOS-IBGLM-P----|METOC.OCA.ISYS.IB.MNYGWL|Many Growlers|POINT|C||
|1604||![](./images/WOS-IBGL--P----.png)|![](./images-std/0.wos-ibgl--p----.png)|![](./images-jmsml/WOS-IBGL--P----.png)|WOS-IBGL--P----|METOC.OCA.ISYS.IB.GWL|Growler|POINT|C||
|1605||![](./images/WOS-IBG---P----.png)|![](./images-std/0.wos-ibg---p----.png)|![](./images-jmsml/WOS-IBG---P----.png)|WOS-IBG---P----|METOC.OCA.ISYS.IB.GNL|Iceberg - General|POINT|C||
|1606||![](./images/WOS-IBII--P----.png)|![](./images-std/0.wos-ibii--p----.png)|![](./images-jmsml/WOS-IBII--P----.png)|WOS-IBII--P----|METOC.OCA.ISYS.IB.II|Ice Island|POINT|C||
|1607||![](./images/WOS-IBMG--P----.png)|![](./images-std/0.wos-ibmg--p----.png)|![](./images-jmsml/WOS-IBMG--P----.png)|WOS-IBMG--P----|METOC.OCA.ISYS.IB.MNYGNL|Many Icebergs - General|POINT|C||
|1608||![](./images/WOS-IBM---P----.png)|![](./images-std/0.wos-ibm---p----.png)|![](./images-jmsml/WOS-IBM---P----.png)|WOS-IBM---P----|METOC.OCA.ISYS.IB.MNY|Many Icebergs|POINT|C||
|1609||![](./images/WOS-IB----P----.png)|![](./images-std/0.wos-ib----p----.png)|![](./images-jmsml/WOS-IB----P----.png)|WOS-IB----P----|METOC.OCA.ISYS.IB|Icebergs|POINT|C||
|1610||![](./images/WOS-ICIF--P----.png)|![](./images-std/0.wos-icif--p----.png)|![](./images-jmsml/WOS-ICIF--P----.png)|WOS-ICIF--P----|METOC.OCA.ISYS.ICN.IF|Ice Free|POINT|C||
|1611||![](./images/WOS-ICWB--P----.png)|![](./images-std/0.wos-icwb--p----.png)|![](./images-jmsml/WOS-ICWB--P----.png)|WOS-ICWB--P----|METOC.OCA.ISYS.ICN.BW|Bergy Water|POINT|C||
|1612||![](./images/WOS-ICWR--P----.png)|![](./images-std/0.wos-icwr--p----.png)|![](./images-jmsml/WOS-ICWR--P----.png)|WOS-ICWR--P----|METOC.OCA.ISYS.ICN.WWRT|Water With Radar Targets|POINT|C||
|1613||![](./images/WOS-IDC---P----.png)|![](./images-std/0.wos-idc---p----.png)|![](./images-jmsml/WOS-IDC---P----.png)|WOS-IDC---P----|METOC.OCA.ISYS.DYNPRO.CNG|Convergence|POINT|C||
|1614||![](./images/WOS-IDD---P----.png)|![](./images-std/0.wos-idd---p----.png)|![](./images-jmsml/WOS-IDD---P----.png)|WOS-IDD---P----|METOC.OCA.ISYS.DYNPRO.DVG|Divergence|POINT|C||
|1615||![](./images/WOS-IDS---P----.png)|![](./images-std/0.wos-ids---p----.png)|![](./images-jmsml/WOS-IDS---P----.png)|WOS-IDS---P----|METOC.OCA.ISYS.DYNPRO.SHAZ|Shearing Or Shear Zone|POINT|C||
|1616||![](./images/WOS-II----P----.png)|![](./images-std/0.wos-ii----p----.png)|![](./images-jmsml/WOS-II----P----.png)|WOS-II----P----|METOC.OCA.ISYS.SI|Sea Ice|POINT|C||
|1617||![](./images/WOS-IIP---P----.png)|![](./images-std/0.wos-iip---p----.png)|![](./images-jmsml/WOS-IIP---P----.png)|WOS-IIP---P----|METOC.OCA.ISYS.SI.MPOFI|Melt Puddles Or Flooded Ice|POINT|C||
|1618||![](./images/WOS-IITE--P----.png)|![](./images-std/0.wos-iite--p----.png)|![](./images-jmsml/WOS-IITE--P----.png)|WOS-IITE--P----|METOC.OCA.ISYS.SI.ITEST|Ice Thickness (Estimated)|POINT|C||
|1619||![](./images/WOS-IITM--P----.png)|![](./images-std/0.wos-iitm--p----.png)|![](./images-jmsml/WOS-IITM--P----.png)|WOS-IITM--P----|METOC.OCA.ISYS.SI.ITOBS|Ice Thickness (Observed)|POINT|C||
|1620||![](./images/WOS-ISC---P----.png)|![](./images-std/0.wos-isc---p----.png)|![](./images-jmsml/WOS-ISC---P----.png)|WOS-ISC---P----|METOC.OCA.ISYS.SC|Snow Cover|POINT|C||
|1621||![](./images/WOS-ISS---P----.png)|![](./images-std/0.wos-iss---p----.png)|![](./images-jmsml/WOS-ISS---P----.png)|WOS-ISS---P----|METOC.OCA.ISYS.SC.SWO|Sastrugi (With Orientation)|POINT|C||
|1622||![](./images/WOS-ITBB--P----.png)|![](./images-std/0.wos-itbb--p----.png)|![](./images-jmsml/WOS-ITBB--P----.png)|WOS-ITBB--P----|METOC.OCA.ISYS.TOPFTR.JBB|Jammed Brash Barrier|POINT|C||
|1623||![](./images/WOS-ITRH--P----.png)|![](./images-std/0.wos-itrh--p----.png)|![](./images-jmsml/WOS-ITRH--P----.png)|WOS-ITRH--P----|METOC.OCA.ISYS.TOPFTR.HUM|Ridges Or Hummocks|POINT|C||
|1624||![](./images/WOS-ITR---P----.png)|![](./images-std/0.wos-itr---p----.png)|![](./images-jmsml/WOS-ITR---P----.png)|WOS-ITR---P----|METOC.OCA.ISYS.TOPFTR.RFTG|Rafting|POINT|C||
|1625||![](./images/WOS-MF----P----.png)|![](./images-std/0.wos-mf----p----.png)|![](./images-jmsml/WOS-MF----P----.png)|WOS-MF----P----|METOC.OCA.MMD.FRD|Ford|POINT|C||
|1626||![](./images/WOS-ML----P----.png)|![](./images-std/0.wos-ml----p----.png)|![](./images-jmsml/WOS-ML----P----.png)|WOS-ML----P----|METOC.OCA.MMD.LCK|Lock|POINT|C||
|1627||![](./images/WOS-MOA---P----.png)|![](./images-std/0.wos-moa---p----.png)|![](./images-jmsml/WOS-MOA---P----.png)|WOS-MOA---P----|METOC.OCA.MMD.OLRG|Oil/Gas Rig|POINT|C||
|1628||![](./images/WOS-MPA---P----.png)|![](./images-std/0.wos-mpa---p----.png)|![](./images-jmsml/WOS-MPA---P----.png)|WOS-MPA---P----|METOC.OCA.MMD.PLE|Pile/Piling/Post|POINT|C||
|1629||![](./images/WOS-TCCTD-P----.png)|![](./images-std/0.wos-tcctd-p----.png)|![](./images-jmsml/WOS-TCCTD-P----.png)|WOS-TCCTD-P----|METOC.OCA.HYDGRY.TDECUR.TDEDP|Tide Data Point|POINT|C||
|1630||![](./images/WOS-TCCTG-P----.png)|![](./images-std/0.wos-tcctg-p----.png)|![](./images-jmsml/WOS-TCCTG-P----.png)|WOS-TCCTG-P----|METOC.OCA.HYDGRY.TDECUR.TDEG|Tide Gauge|POINT|C||
|1631||![](./images/WOS-TCCW--P----.png)|![](./images-std/0.wos-tccw--p----.png)|![](./images-jmsml/WOS-TCCW--P----.png)|WOS-TCCW--P----|METOC.OCA.HYDGRY.TDECUR.H2OTRB|Water Turbulence|POINT|C||
|1632||![](./images/IFAPSCC--------.png)|![](./images-std/1.ifapscc--------.png)|![](./images-jmsml/IFAPSCC--------.png)|IFAPSCC--------|SIGINT.AIRTRK.SIGINC.COMM.CELL|Cellular/Mobile|POINT|D||
|1633|PERHAPS|![](./images/IFAPSCO--------.png)|![](./images-std/1.ifapsco--------.png)|![](./images-jmsml/IFAPSCO--------.png)|IFAPSCO--------|SIGINT.AIRTRK.SIGINC.COMM.OLOS|Omni-Line Of Sight (Los)|POINT|D||
|1634|PERHAPS|![](./images/IFAPSCP--------.png)|![](./images-std/1.ifapscp--------.png)|![](./images-jmsml/IFAPSCP--------.png)|IFAPSCP--------|SIGINT.AIRTRK.SIGINC.COMM.PTPLOS|Point-To-Point Line Of Sight (Los)|POINT|D||
|1635|PERHAPS|![](./images/IFAPSCS--------.png)|![](./images-std/1.ifapscs--------.png)|![](./images-jmsml/IFAPSCS--------.png)|IFAPSCS--------|SIGINT.AIRTRK.SIGINC.COMM.SATUL|Satellite Uplink|POINT|D||
|1636||![](./images/IFAPSRAI-------.png)|![](./images-std/1.ifapsrai-------.png)|![](./images-jmsml/IFAPSRAI-------.png)|IFAPSRAI-------|SIGINT.AIRTRK.SIGINC.RAD.ABNINC|Airborne Intercept|POINT|D||
|1637||![](./images/IFAPSRAS-------.png)|![](./images-std/1.ifapsras-------.png)|![](./images-jmsml/IFAPSRAS-------.png)|IFAPSRAS-------|SIGINT.AIRTRK.SIGINC.RAD.ABNSB|Airborne Search & Bombing|POINT|D||
|1638||![](./images/IFAPSRC--------.png)|![](./images-std/1.ifapsrc--------.png)|![](./images-jmsml/IFAPSRC--------.png)|IFAPSRC--------|SIGINT.AIRTRK.SIGINC.RAD.CTDINC|Controlled Intercept|POINT|D||
|1639||![](./images/IFAPSRD--------.png)|![](./images-std/1.ifapsrd--------.png)|![](./images-jmsml/IFAPSRD--------.png)|IFAPSRD--------|SIGINT.AIRTRK.SIGINC.RAD.DATTMN|Data Transmission|POINT|D||
|1640||![](./images/IFAPSRE--------.png)|![](./images-std/1.ifapsre--------.png)|![](./images-jmsml/IFAPSRE--------.png)|IFAPSRE--------|SIGINT.AIRTRK.SIGINC.RAD.EW|Early Warning|POINT|D||
|1641||![](./images/IFAPSRF--------.png)|![](./images-std/1.ifapsrf--------.png)|![](./images-jmsml/IFAPSRF--------.png)|IFAPSRF--------|SIGINT.AIRTRK.SIGINC.RAD.FIRCTL|Fire Control|POINT|D||
|1642||![](./images/IFAPSRI--------.png)|![](./images-std/1.ifapsri--------.png)|![](./images-jmsml/IFAPSRI--------.png)|IFAPSRI--------|SIGINT.AIRTRK.SIGINC.RAD.IFF|Iff (Transponder)|POINT|D||
|1643||![](./images/IFAPSRMA-------.png)|![](./images-std/1.ifapsrma-------.png)|![](./images-jmsml/IFAPSRMA-------.png)|IFAPSRMA-------|SIGINT.AIRTRK.SIGINC.RAD.MSLAQ|Missile Acquisition|POINT|D||
|1644||![](./images/IFAPSRMD-------.png)|![](./images-std/1.ifapsrmd-------.png)|![](./images-jmsml/IFAPSRMD-------.png)|IFAPSRMD-------|SIGINT.AIRTRK.SIGINC.RAD.MSLDL|Missile Downlink|POINT|D||
|1645||![](./images/IFAPSRMF-------.png)|![](./images-std/1.ifapsrmf-------.png)|![](./images-jmsml/IFAPSRMF-------.png)|IFAPSRMF-------|SIGINT.AIRTRK.SIGINC.RAD.MFN|Multifunction|POINT|D||
|1646||![](./images/IFAPSRMG-------.png)|![](./images-std/1.ifapsrmg-------.png)|![](./images-jmsml/IFAPSRMG-------.png)|IFAPSRMG-------|SIGINT.AIRTRK.SIGINC.RAD.MSLGDN|Missile Guidance|POINT|D||
|1647||![](./images/IFAPSRMT-------.png)|![](./images-std/1.ifapsrmt-------.png)|![](./images-jmsml/IFAPSRMT-------.png)|IFAPSRMT-------|SIGINT.AIRTRK.SIGINC.RAD.MSLTRK|Missile Tracking|POINT|D||
|1648||![](./images/IFAPSRTA-------.png)|![](./images-std/1.ifapsrta-------.png)|![](./images-jmsml/IFAPSRTA-------.png)|IFAPSRTA-------|SIGINT.AIRTRK.SIGINC.RAD.TGTAQ|Target Acquisition|POINT|D||
|1649||![](./images/IFAPSRTI-------.png)|![](./images-std/1.ifapsrti-------.png)|![](./images-jmsml/IFAPSRTI-------.png)|IFAPSRTI-------|SIGINT.AIRTRK.SIGINC.RAD.TGTILL|Target Illuminator|POINT|D||
|1650||![](./images/IFAPSRTT-------.png)|![](./images-std/1.ifapsrtt-------.png)|![](./images-jmsml/IFAPSRTT-------.png)|IFAPSRTT-------|SIGINT.AIRTRK.SIGINC.RAD.TGTTRK|Target Tracking|POINT|D||
|1651||![](./images/IFAPSRU--------.png)|![](./images-std/1.ifapsru--------.png)|![](./images-jmsml/IFAPSRU--------.png)|IFAPSRU--------|SIGINT.AIRTRK.SIGINC.RAD.UNK|Unknown|POINT|D||
|1652||![](./images/IFGPSCC--------.png)|![](./images-std/1.ifgpscc--------.png)|![](./images-jmsml/IFGPSCC--------.png)|IFGPSCC--------|SIGINT.GRDTRK.SIGINC.COMM.CELL|Cellular/Mobile|POINT|D||
|1653||![](./images/IFGPSCO--------.png)|![](./images-std/1.ifgpsco--------.png)|![](./images-jmsml/IFGPSCO--------.png)|IFGPSCO--------|SIGINT.GRDTRK.SIGINC.COMM.OLOS|Omni-Line Of Sight (Los)|POINT|D||
|1654||![](./images/IFGPSCP--------.png)|![](./images-std/1.ifgpscp--------.png)|![](./images-jmsml/IFGPSCP--------.png)|IFGPSCP--------|SIGINT.GRDTRK.SIGINC.COMM.PTPLOS|Point-To-Point Line Of Sight (Los)|POINT|D||
|1655||![](./images/IFGPSCS--------.png)|![](./images-std/1.ifgpscs--------.png)|![](./images-jmsml/IFGPSCS--------.png)|IFGPSCS--------|SIGINT.GRDTRK.SIGINC.COMM.SATUL|Satellite Uplink|POINT|D||
|1656||![](./images/IFGPSCT--------.png)|![](./images-std/1.ifgpsct--------.png)|![](./images-jmsml/IFGPSCT--------.png)|IFGPSCT--------|SIGINT.GRDTRK.SIGINC.COMM.TPSSCT|Tropospheric Scatter|POINT|D||
|1657||![](./images/IFGPSRAT-------.png)|![](./images-std/1.ifgpsrat-------.png)|![](./images-jmsml/IFGPSRAT-------.png)|IFGPSRAT-------|SIGINT.GRDTRK.SIGINC.RAD.ATCTL|Air Traffic Control|POINT|D||
|1658||![](./images/IFGPSRB--------.png)|![](./images-std/1.ifgpsrb--------.png)|![](./images-jmsml/IFGPSRB--------.png)|IFGPSRB--------|SIGINT.GRDTRK.SIGINC.RAD.BTFSVL|Battlefield Surveillance|POINT|D||
|1659||![](./images/IFGPSRCA-------.png)|![](./images-std/1.ifgpsrca-------.png)|![](./images-jmsml/IFGPSRCA-------.png)|IFGPSRCA-------|SIGINT.GRDTRK.SIGINC.RAD.CTDAPP|Controlled Approach|POINT|D||
|1660||![](./images/IFGPSRCS-------.png)|![](./images-std/1.ifgpsrcs-------.png)|![](./images-jmsml/IFGPSRCS-------.png)|IFGPSRCS-------|SIGINT.GRDTRK.SIGINC.RAD.CSTSVL|Coastal Surveillance|POINT|D||
|1661||![](./images/IFGPSRD--------.png)|![](./images-std/1.ifgpsrd--------.png)|![](./images-jmsml/IFGPSRD--------.png)|IFGPSRD--------|SIGINT.GRDTRK.SIGINC.RAD.DATTMN|Data Transmission|POINT|D||
|1662||![](./images/IFGPSRE--------.png)|![](./images-std/1.ifgpsre--------.png)|![](./images-jmsml/IFGPSRE--------.png)|IFGPSRE--------|SIGINT.GRDTRK.SIGINC.RAD.EW|Early Warning|POINT|D||
|1663||![](./images/IFGPSRF--------.png)|![](./images-std/1.ifgpsrf--------.png)|![](./images-jmsml/IFGPSRF--------.png)|IFGPSRF--------|SIGINT.GRDTRK.SIGINC.RAD.FIRCTL|Fire Control|POINT|D||
|1664||![](./images/IFGPSRH--------.png)|![](./images-std/1.ifgpsrh--------.png)|![](./images-jmsml/IFGPSRH--------.png)|IFGPSRH--------|SIGINT.GRDTRK.SIGINC.RAD.HGTFDG|Height Finding|POINT|D||
|1665||![](./images/IFGPSRI--------.png)|![](./images-std/1.ifgpsri--------.png)|![](./images-jmsml/IFGPSRI--------.png)|IFGPSRI--------|SIGINT.GRDTRK.SIGINC.RAD.IDFF|Identification Friend/Foe (Interrogator)|POINT|D||
|1666||![](./images/IFGPSRMA-------.png)|![](./images-std/1.ifgpsrma-------.png)|![](./images-jmsml/IFGPSRMA-------.png)|IFGPSRMA-------|SIGINT.GRDTRK.SIGINC.RAD.MSLAQ|Missile Acquisition|POINT|D||
|1667||![](./images/IFGPSRMF-------.png)|![](./images-std/1.ifgpsrmf-------.png)|![](./images-jmsml/IFGPSRMF-------.png)|IFGPSRMF-------|SIGINT.GRDTRK.SIGINC.RAD.MFN|Multifunction|POINT|D||
|1668||![](./images/IFGPSRMG-------.png)|![](./images-std/1.ifgpsrmg-------.png)|![](./images-jmsml/IFGPSRMG-------.png)|IFGPSRMG-------|SIGINT.GRDTRK.SIGINC.RAD.MSLGDN|Missile Guidance|POINT|D||
|1669||![](./images/IFGPSRMM-------.png)|![](./images-std/1.ifgpsrmm-------.png)|![](./images-jmsml/IFGPSRMM-------.png)|IFGPSRMM-------|SIGINT.GRDTRK.SIGINC.RAD.METO|Meteorological (Military)|POINT|D||
|1670||![](./images/IFGPSRMT-------.png)|![](./images-std/1.ifgpsrmt-------.png)|![](./images-jmsml/IFGPSRMT-------.png)|IFGPSRMT-------|SIGINT.GRDTRK.SIGINC.RAD.MSLTRK|Missile Tracking|POINT|D||
|1671||![](./images/IFGPSRS--------.png)|![](./images-std/1.ifgpsrs--------.png)|![](./images-jmsml/IFGPSRS--------.png)|IFGPSRS--------|SIGINT.GRDTRK.SIGINC.RAD.SHETKG|Shell Tracking|POINT|D||
|1672||![](./images/IFGPSRTA-------.png)|![](./images-std/1.ifgpsrta-------.png)|![](./images-jmsml/IFGPSRTA-------.png)|IFGPSRTA-------|SIGINT.GRDTRK.SIGINC.RAD.TGTAQ|Target Acquisition|POINT|D||
|1673||![](./images/IFGPSRTI-------.png)|![](./images-std/1.ifgpsrti-------.png)|![](./images-jmsml/IFGPSRTI-------.png)|IFGPSRTI-------|SIGINT.GRDTRK.SIGINC.RAD.TGTILL|Target Illuminator|POINT|D||
|1674||![](./images/IFGPSRTT-------.png)|![](./images-std/1.ifgpsrtt-------.png)|![](./images-jmsml/IFGPSRTT-------.png)|IFGPSRTT-------|SIGINT.GRDTRK.SIGINC.RAD.TGTTRK|Target Tracking|POINT|D||
|1675||![](./images/IFGPSRU--------.png)|![](./images-std/1.ifgpsru--------.png)|![](./images-jmsml/IFGPSRU--------.png)|IFGPSRU--------|SIGINT.GRDTRK.SIGINC.RAD.UNK|Unknown|POINT|D||
|1676||![](./images/IFPPSCD--------.png)|![](./images-std/1.ifppscd--------.png)|![](./images-jmsml/IFPPSCD--------.png)|IFPPSCD--------|SIGINT.SPC.SIGINC.COMM.SATDL|Satellite Downlink|POINT|D||
|1677||![](./images/IFPPSRD--------.png)|![](./images-std/1.ifppsrd--------.png)|![](./images-jmsml/IFPPSRD--------.png)|IFPPSRD--------|SIGINT.SPC.SIGINC.RAD.DATTMN|Data Transmission|POINT|D||
|1678||![](./images/IFPPSRE--------.png)|![](./images-std/1.ifppsre--------.png)|![](./images-jmsml/IFPPSRE--------.png)|IFPPSRE--------|SIGINT.SPC.SIGINC.RAD.ERHSVL|Earth Surveillance|POINT|D||
|1679||![](./images/IFPPSRI--------.png)|![](./images-std/1.ifppsri--------.png)|![](./images-jmsml/IFPPSRI--------.png)|IFPPSRI--------|SIGINT.SPC.SIGINC.RAD.IFF|Iff (Transponder)|POINT|D||
|1680||![](./images/IFPPSRM--------.png)|![](./images-std/1.ifppsrm--------.png)|![](./images-jmsml/IFPPSRM--------.png)|IFPPSRM--------|SIGINT.SPC.SIGINC.RAD.MFN|Multifunction|POINT|D||
|1681||![](./images/IFPPSRS--------.png)|![](./images-std/1.ifppsrs--------.png)|![](./images-jmsml/IFPPSRS--------.png)|IFPPSRS--------|SIGINT.SPC.SIGINC.RAD.SPC|Space|POINT|D||
|1682||![](./images/IFPPSRT--------.png)|![](./images-std/1.ifppsrt--------.png)|![](./images-jmsml/IFPPSRT--------.png)|IFPPSRT--------|SIGINT.SPC.SIGINC.RAD.TGTAQ|Target Acquisition|POINT|D||
|1683||![](./images/IFPPSRU--------.png)|![](./images-std/1.ifppsru--------.png)|![](./images-jmsml/IFPPSRU--------.png)|IFPPSRU--------|SIGINT.SPC.SIGINC.RAD.UNK|Unknown|POINT|D||
|1684||![](./images/IFSPSCC--------.png)|![](./images-std/1.ifspscc--------.png)|![](./images-jmsml/IFSPSCC--------.png)|IFSPSCC--------|SIGINT.SSUF.SIGINC.COMM.CELL|Cellular-Mobile|POINT|D||
|1685||![](./images/IFSPSCO--------.png)|![](./images-std/1.ifspsco--------.png)|![](./images-jmsml/IFSPSCO--------.png)|IFSPSCO--------|SIGINT.SSUF.SIGINC.COMM.OLOS|Omni-Line Of Sight (Los)|POINT|D||
|1686||![](./images/IFSPSCP--------.png)|![](./images-std/1.ifspscp--------.png)|![](./images-jmsml/IFSPSCP--------.png)|IFSPSCP--------|SIGINT.SSUF.SIGINC.COMM.PTPLOS|Point-To-Point Line Of Sight (Los)|POINT|D||
|1687||![](./images/IFSPSCS--------.png)|![](./images-std/1.ifspscs--------.png)|![](./images-jmsml/IFSPSCS--------.png)|IFSPSCS--------|SIGINT.SSUF.SIGINC.COMM.SATUL|Satellite Uplink|POINT|D||
|1688||![](./images/IFSPSRAA-------.png)|![](./images-std/1.ifspsraa-------.png)|![](./images-jmsml/IFSPSRAA-------.png)|IFSPSRAA-------|SIGINT.SSUF.SIGINC.RAD.AA-C|Antiaircraft|POINT|D||
|1689||![](./images/IFSPSRAT-------.png)|![](./images-std/1.ifspsrat-------.png)|![](./images-jmsml/IFSPSRAT-------.png)|IFSPSRAT-------|SIGINT.SSUF.SIGINC.RAD.ATCTL|Air Traffic Control|POINT|D||
|1690||![](./images/IFSPSRCA-------.png)|![](./images-std/1.ifspsrca-------.png)|![](./images-jmsml/IFSPSRCA-------.png)|IFSPSRCA-------|SIGINT.SSUF.SIGINC.RAD.CTDAPP|Controlled Approach|POINT|D||
|1691||![](./images/IFSPSRCI-------.png)|![](./images-std/1.ifspsrci-------.png)|![](./images-jmsml/IFSPSRCI-------.png)|IFSPSRCI-------|SIGINT.SSUF.SIGINC.RAD.CTDINC|Controlled Intercept|POINT|D||
|1692||![](./images/IFSPSRD--------.png)|![](./images-std/1.ifspsrd--------.png)|![](./images-jmsml/IFSPSRD--------.png)|IFSPSRD--------|SIGINT.SSUF.SIGINC.RAD.DATTMN|Data Transmission|POINT|D||
|1693||![](./images/IFSPSRE--------.png)|![](./images-std/1.ifspsre--------.png)|![](./images-jmsml/IFSPSRE--------.png)|IFSPSRE--------|SIGINT.SSUF.SIGINC.RAD.EW|Early Warning|POINT|D||
|1694||![](./images/IFSPSRF--------.png)|![](./images-std/1.ifspsrf--------.png)|![](./images-jmsml/IFSPSRF--------.png)|IFSPSRF--------|SIGINT.SSUF.SIGINC.RAD.FIRCTL|Fire Control|POINT|D||
|1695||![](./images/IFSPSRH--------.png)|![](./images-std/1.ifspsrh--------.png)|![](./images-jmsml/IFSPSRH--------.png)|IFSPSRH--------|SIGINT.SSUF.SIGINC.RAD.HGTFDG|Height Finding|POINT|D||
|1696||![](./images/IFSPSRI--------.png)|![](./images-std/1.ifspsri--------.png)|![](./images-jmsml/IFSPSRI--------.png)|IFSPSRI--------|SIGINT.SSUF.SIGINC.RAD.IDFF|Identification Friend-Foe (Interrogator)|POINT|D||
|1697||![](./images/IFSPSRMA-------.png)|![](./images-std/1.ifspsrma-------.png)|![](./images-jmsml/IFSPSRMA-------.png)|IFSPSRMA-------|SIGINT.SSUF.SIGINC.RAD.MSLAQ|Missile Acquisition|POINT|D||
|1698||![](./images/IFSPSRMF-------.png)|![](./images-std/1.ifspsrmf-------.png)|![](./images-jmsml/IFSPSRMF-------.png)|IFSPSRMF-------|SIGINT.SSUF.SIGINC.RAD.MFN|Multifunction|POINT|D||
|1699||![](./images/IFSPSRMG-------.png)|![](./images-std/1.ifspsrmg-------.png)|![](./images-jmsml/IFSPSRMG-------.png)|IFSPSRMG-------|SIGINT.SSUF.SIGINC.RAD.MSLGDN|Missile Guidance|POINT|D||
|1700||![](./images/IFSPSRMM-------.png)|![](./images-std/1.ifspsrmm-------.png)|![](./images-jmsml/IFSPSRMM-------.png)|IFSPSRMM-------|SIGINT.SSUF.SIGINC.RAD.METO|Meteorological (Military)|POINT|D||
|1701||![](./images/IFSPSRMT-------.png)|![](./images-std/1.ifspsrmt-------.png)|![](./images-jmsml/IFSPSRMT-------.png)|IFSPSRMT-------|SIGINT.SSUF.SIGINC.RAD.MSLTRK|Missile Tracking|POINT|D||
|1702||![](./images/IFSPSRS--------.png)|![](./images-std/1.ifspsrs--------.png)|![](./images-jmsml/IFSPSRS--------.png)|IFSPSRS--------|SIGINT.SSUF.SIGINC.RAD.SUFSRH|Surface Search|POINT|D||
|1703||![](./images/IFSPSRTA-------.png)|![](./images-std/1.ifspsrta-------.png)|![](./images-jmsml/IFSPSRTA-------.png)|IFSPSRTA-------|SIGINT.SSUF.SIGINC.RAD.TGTAQ|Target Acquisition|POINT|D||
|1704||![](./images/IFSPSRTI-------.png)|![](./images-std/1.ifspsrti-------.png)|![](./images-jmsml/IFSPSRTI-------.png)|IFSPSRTI-------|SIGINT.SSUF.SIGINC.RAD.TGTILL|Target Illuminator|POINT|D||
|1705||![](./images/IFSPSRTT-------.png)|![](./images-std/1.ifspsrtt-------.png)|![](./images-jmsml/IFSPSRTT-------.png)|IFSPSRTT-------|SIGINT.SSUF.SIGINC.RAD.TGTTRK|Target Tracking|POINT|D||
|1706||![](./images/IFSPSRU--------.png)|![](./images-std/1.ifspsru--------.png)|![](./images-jmsml/IFSPSRU--------.png)|IFSPSRU--------|SIGINT.SSUF.SIGINC.RAD.UNK|Unknown|POINT|D||
|1707||![](./images/IFUPSCO--------.png)|![](./images-std/1.ifupsco--------.png)|![](./images-jmsml/IFUPSCO--------.png)|IFUPSCO--------|SIGINT.SBSUF.SIGINC.COMM.OLOS|Omni-Line Of Sight (Los)|POINT|D||
|1708||![](./images/IFUPSCP--------.png)|![](./images-std/1.ifupscp--------.png)|![](./images-jmsml/IFUPSCP--------.png)|IFUPSCP--------|SIGINT.SBSUF.SIGINC.COMM.PTPLOS|Point-To-Point Line Of Sight (Los)|POINT|D||
|1709||![](./images/IFUPSCS--------.png)|![](./images-std/1.ifupscs--------.png)|![](./images-jmsml/IFUPSCS--------.png)|IFUPSCS--------|SIGINT.SBSUF.SIGINC.COMM.SATUL|Satellite Uplink|POINT|D||
|1710||![](./images/IFUPSRD--------.png)|![](./images-std/1.ifupsrd--------.png)|![](./images-jmsml/IFUPSRD--------.png)|IFUPSRD--------|SIGINT.SBSUF.SIGINC.RAD.DATTMN|Data Transmission|POINT|D||
|1711||![](./images/IFUPSRE--------.png)|![](./images-std/1.ifupsre--------.png)|![](./images-jmsml/IFUPSRE--------.png)|IFUPSRE--------|SIGINT.SBSUF.SIGINC.RAD.EW|Early Warning|POINT|D||
|1712||![](./images/IFUPSRM--------.png)|![](./images-std/1.ifupsrm--------.png)|![](./images-jmsml/IFUPSRM--------.png)|IFUPSRM--------|SIGINT.SBSUF.SIGINC.RAD.MFN|Multifunction|POINT|D||
|1713||![](./images/IFUPSRS--------.png)|![](./images-std/1.ifupsrs--------.png)|![](./images-jmsml/IFUPSRS--------.png)|IFUPSRS--------|SIGINT.SBSUF.SIGINC.RAD.SUFSRH|Surface Search|POINT|D||
|1714||![](./images/IFUPSRT--------.png)|![](./images-std/1.ifupsrt--------.png)|![](./images-jmsml/IFUPSRT--------.png)|IFUPSRT--------|SIGINT.SBSUF.SIGINC.RAD.TGTAQ|Target Acquisition|POINT|D||
|1715||![](./images/IFUPSRU--------.png)|![](./images-std/1.ifupsru--------.png)|![](./images-jmsml/IFUPSRU--------.png)|IFUPSRU--------|SIGINT.SBSUF.SIGINC.RAD.UNK|Unknown|POINT|D||
|1716|PERHAPS|![](./images/OFGP-----------.png)|![](./images-std/1.ofgp-----------.png)|![](./images-jmsml/OFGP-----------.png)|OFGP-----------|STBOPS.GRPORG|Nonmilitary Group Or Organization|POINT|E||
|1717|PERHAPS|![](./images/OFGPA----------.png)|![](./images-std/1.ofgpa----------.png)|![](./images-jmsml/OFGPA----------.png)|OFGPA----------|STBOPS.GRPORG.DPRE|Displaced Persons Refugees And Evacuees|POINT|E||
|1718|PERHAPS|![](./images/OFGPB----------.png)|![](./images-std/1.ofgpb----------.png)|![](./images-jmsml/OFGPB----------.png)|OFGPB----------|STBOPS.GRPORG.NGO|Nongovernmental Organization (Ngo)|POINT|E||
|1719|PERHAPS|![](./images/OFGPC----------.png)|![](./images-std/1.ofgpc----------.png)|![](./images-jmsml/OFGPC----------.png)|OFGPC----------|STBOPS.GRPORG.TERRST|Terrorist|POINT|E||
|1720|PERHAPS|![](./images/OFGPD----------.png)|![](./images-std/1.ofgpd----------.png)|![](./images-jmsml/OFGPD----------.png)|OFGPD----------|STBOPS.GRPORG.RELIGS|Religious|POINT|E||
|1721|PERHAPS|![](./images/OFGPE----------.png)|![](./images-std/1.ofgpe----------.png)|![](./images-jmsml/OFGPE----------.png)|OFGPE----------|STBOPS.GRPORG.FNFGHT|Foreign Fighters|POINT|E||
|1722|PERHAPS|![](./images/OFGPF----------.png)|![](./images-std/1.ofgpf----------.png)|![](./images-jmsml/OFGPF----------.png)|OFGPF----------|STBOPS.GRPORG.GANG|Gang|POINT|E||
|1723||![](./images/OFIPD----------.png)|![](./images-std/1.ofipd----------.png)|![](./images-jmsml/OFIPD----------.png)|OFIPD----------|STBOPS.ITM.DGVEH|Drug Vehicle|POINT|E||
|1724||![](./images/OFIPF----------.png)|![](./images-std/1.ofipf----------.png)|![](./images-jmsml/OFIPF----------.png)|OFIPF----------|STBOPS.ITM.ISF|Internal Security Force|POINT|E||
|1725||![](./images/OFIPG----------.png)|![](./images-std/1.ofipg----------.png)|![](./images-jmsml/OFIPG----------.png)|OFIPG----------|STBOPS.ITM.GRF|Graffiti|POINT|E||
|1726||![](./images/OFIPI----------.png)|![](./images-std/1.ofipi----------.png)|![](./images-jmsml/OFIPI----------.png)|OFIPI----------|STBOPS.ITM.KNIVEH|Known Insurgent Vehicle|POINT|E||
|1727|PERHAPS|![](./images/OFIPR----------.png)|![](./images-std/1.ofipr----------.png)|![](./images-jmsml/OFIPR----------.png)|OFIPR----------|STBOPS.ITM.RFG|Refugees|POINT|E||
|1728||![](./images/OFIPS----------.png)|![](./images-std/1.ofips----------.png)|![](./images-jmsml/OFIPS----------.png)|OFIPS----------|STBOPS.ITM.SAFHSE|Safe House|POINT|E||
|1729||![](./images/OFIPV----------.png)|![](./images-std/1.ofipv----------.png)|![](./images-jmsml/OFIPV----------.png)|OFIPV----------|STBOPS.ITM.VRLRPS|Vandalism/Loot/Ransack/Plunder/Sack|POINT|E||
|1730||![](./images/OFLPB----------.png)|![](./images-std/1.oflpb----------.png)|![](./images-jmsml/OFLPB----------.png)|OFLPB----------|STBOPS.LOCAT.BLST|Black List Location|POINT|E||
|1731||![](./images/OFLPG----------.png)|![](./images-std/1.oflpg----------.png)|![](./images-jmsml/OFLPG----------.png)|OFLPG----------|STBOPS.LOCAT.GLST|Gray List Location|POINT|E||
|1732||![](./images/OFLPM----------.png)|![](./images-std/1.oflpm----------.png)|![](./images-jmsml/OFLPM----------.png)|OFLPM----------|STBOPS.LOCAT.MASS|Mass Grave Location|POINT|E||
|1733||![](./images/OFLPW----------.png)|![](./images-std/1.oflpw----------.png)|![](./images-jmsml/OFLPW----------.png)|OFLPW----------|STBOPS.LOCAT.WLST|White List Location|POINT|E||
|1734||![](./images/OFOPA----------.png)|![](./images-std/1.ofopa----------.png)|![](./images-jmsml/OFOPA----------.png)|OFOPA----------|STBOPS.OPN.ARR|Arrest|POINT|E||
|1735||![](./images/OFOPC----------.png)|![](./images-std/1.ofopc----------.png)|![](./images-jmsml/OFOPC----------.png)|OFOPC----------|STBOPS.OPN.CMPLSS|Composite Loss|POINT|E||
|1736||![](./images/OFOPCA---------.png)|![](./images-std/1.ofopca---------.png)|![](./images-jmsml/OFOPCA---------.png)|OFOPCA---------|STBOPS.OPN.CMPLSS.CBT|Combat|POINT|E||
|1737||![](./images/OFOPCB---------.png)|![](./images-std/1.ofopcb---------.png)|![](./images-jmsml/OFOPCB---------.png)|OFOPCB---------|STBOPS.OPN.CMPLSS.ACCDNT|Accident|POINT|E||
|1738||![](./images/OFOPCC---------.png)|![](./images-std/1.ofopcc---------.png)|![](./images-jmsml/OFOPCC---------.png)|OFOPCC---------|STBOPS.OPN.CMPLSS.OTHER|Other|POINT|E||
|1739||![](./images/OFOPD----------.png)|![](./images-std/1.ofopd----------.png)|![](./images-jmsml/OFOPD----------.png)|OFOPD----------|STBOPS.OPN.DEMO|Demonstration|POINT|E||
|1740||![](./images/OFOPE----------.png)|![](./images-std/1.ofope----------.png)|![](./images-jmsml/OFOPE----------.png)|OFOPE----------|STBOPS.OPN.EXTN|Extortion|POINT|E||
|1741||![](./images/OFOPF----------.png)|![](./images-std/1.ofopf----------.png)|![](./images-jmsml/OFOPF----------.png)|OFOPF----------|STBOPS.OPN.FRGSRH|Foraging/Searching|POINT|E||
|1742||![](./images/OFOPHA---------.png)|![](./images-std/1.ofopha---------.png)|![](./images-jmsml/OFOPHA---------.png)|OFOPHA---------|STBOPS.OPN.HJKG.APL|Hijacking (Airplane)|POINT|E||
|1743||![](./images/OFOPHT---------.png)|![](./images-std/1.ofopht---------.png)|![](./images-jmsml/OFOPHT---------.png)|OFOPHT---------|STBOPS.OPN.HJKG.VEH|Hijacking (Vehicle)|POINT|E||
|1744||![](./images/OFOPHV---------.png)|![](./images-std/1.ofophv---------.png)|![](./images-jmsml/OFOPHV---------.png)|OFOPHV---------|STBOPS.OPN.HJKG.BOAT|Hijacking (Boat)|POINT|E||
|1745||![](./images/OFOPK----------.png)|![](./images-std/1.ofopk----------.png)|![](./images-jmsml/OFOPK----------.png)|OFOPK----------|STBOPS.OPN.KDNG|Kidnapping|POINT|E||
|1746||![](./images/OFOPKA---------.png)|![](./images-std/1.ofopka---------.png)|![](./images-jmsml/OFOPKA---------.png)|OFOPKA---------|STBOPS.OPN.KDNG.ATEMPT|Attempted|POINT|E||
|1747||![](./images/OFOPM----------.png)|![](./images-std/1.ofopm----------.png)|![](./images-jmsml/OFOPM----------.png)|OFOPM----------|STBOPS.OPN.ML|Mine Laying|POINT|E||
|1748||![](./images/OFOPO----------.png)|![](./images-std/1.ofopo----------.png)|![](./images-jmsml/OFOPO----------.png)|OFOPO----------|STBOPS.OPN.FDDIST|Food Distribution|POINT|E||
|1749||![](./images/OFOPP----------.png)|![](./images-std/1.ofopp----------.png)|![](./images-jmsml/OFOPP----------.png)|OFOPP----------|STBOPS.OPN.PATG|Patrolling|POINT|E||
|1750||![](./images/OFOPRC---------.png)|![](./images-std/1.ofoprc---------.png)|![](./images-jmsml/OFOPRC---------.png)|OFOPRC---------|STBOPS.OPN.RCMT.CRCD|Recruitment (Coerced/Impressed)|POINT|E||
|1751||![](./images/OFOPRW---------.png)|![](./images-std/1.ofoprw---------.png)|![](./images-jmsml/OFOPRW---------.png)|OFOPRW---------|STBOPS.OPN.RCMT.WLG|Recruitment (Willing)|POINT|E||
|1752||![](./images/OFOPS----------.png)|![](./images-std/1.ofops----------.png)|![](./images-jmsml/OFOPS----------.png)|OFOPS----------|STBOPS.OPN.SPY|Spy|POINT|E||
|1753||![](./images/OFOPU----------.png)|![](./images-std/1.ofopu----------.png)|![](./images-jmsml/OFOPU----------.png)|OFOPU----------|STBOPS.OPN.DGOPN|Drug Operation|POINT|E||
|1754||![](./images/OFOPY----------.png)|![](./images-std/1.ofopy----------.png)|![](./images-jmsml/OFOPY----------.png)|OFOPY----------|STBOPS.OPN.PSYOP|Psychological Operations (Psyop)|POINT|E||
|1755|PERHAPS|![](./images/OFOPYH---------.png)|![](./images-std/1.ofopyh---------.png)|![](./images-jmsml/OFOPYH---------.png)|OFOPYH---------|STBOPS.OPN.PSYOP.HTHP|House-To-House Propaganda|POINT|E||
|1756||![](./images/OFOPYT---------.png)|![](./images-std/1.ofopyt---------.png)|![](./images-jmsml/OFOPYT---------.png)|OFOPYT---------|STBOPS.OPN.PSYOP.TARP|Psyop (Tv And Radio Propaganda)|POINT|E||
|1757||![](./images/OFOPYW---------.png)|![](./images-std/1.ofopyw---------.png)|![](./images-jmsml/OFOPYW---------.png)|OFOPYW---------|STBOPS.OPN.PSYOP.WP|Psyop (Written Propaganda)|POINT|E||
|1758||![](./images/OFPP-----------.png)|![](./images-std/1.ofpp-----------.png)|![](./images-jmsml/OFPP-----------.png)|OFPP-----------|STBOPS.INDIV|Individual|POINT|E||
|1759||![](./images/OFPPA----------.png)|![](./images-std/1.ofppa----------.png)|![](./images-jmsml/OFPPA----------.png)|OFPPA----------|STBOPS.INDIV.LEADER|Leader|POINT|E||
|1760||![](./images/OFPPB----------.png)|![](./images-std/1.ofppb----------.png)|![](./images-jmsml/OFPPB----------.png)|OFPPB----------|STBOPS.INDIV.TRGTD|Targeted|POINT|E||
|1761||![](./images/OFPPC----------.png)|![](./images-std/1.ofppc----------.png)|![](./images-jmsml/OFPPC----------.png)|OFPPC----------|STBOPS.INDIV.TERRST|Terrorist|POINT|E||
|1762||![](./images/OFRP-----------.png)|![](./images-std/1.ofrp-----------.png)|![](./images-jmsml/OFRP-----------.png)|OFRP-----------|STBOPS.RAPE|Rape|POINT|E||
|1763||![](./images/OFRPA----------.png)|![](./images-std/1.ofrpa----------.png)|![](./images-jmsml/OFRPA----------.png)|OFRPA----------|STBOPS.RAPE.ATEMPT|Attempted|POINT|E||
|1764||![](./images/OFVPA----------.png)|![](./images-std/1.ofvpa----------.png)|![](./images-jmsml/OFVPA----------.png)|OFVPA----------|STBOPS.VIOATY.ASN|Arson/Fire|POINT|E||
|1765||![](./images/OFVPB----------.png)|![](./images-std/1.ofvpb----------.png)|![](./images-jmsml/OFVPB----------.png)|OFVPB----------|STBOPS.VIOATY.BM|Bomb/Bombing|POINT|E||
|1766||![](./images/OFVPD----------.png)|![](./images-std/1.ofvpd----------.png)|![](./images-jmsml/OFVPD----------.png)|OFVPD----------|STBOPS.VIOATY.DBS|Drive-By Shooting|POINT|E||
|1767||![](./images/OFVPE----------.png)|![](./images-std/1.ofvpe----------.png)|![](./images-jmsml/OFVPE----------.png)|OFVPE----------|STBOPS.VIOATY.EXPLSN|Explosion|POINT|E||
|1768||![](./images/OFVPEI---------.png)|![](./images-std/1.ofvpei---------.png)|![](./images-jmsml/OFVPEI---------.png)|OFVPEI---------|STBOPS.VIOATY.EXPLSN.EXPLSN|Ied Explosion|POINT|E||
|1769|PERHAPS|![](./images/OFVPM----------.png)|![](./images-std/1.ofvpm----------.png)|![](./images-jmsml/OFVPM----------.png)|OFVPM----------|STBOPS.VIOATY.KILL|Killing (General)|POINT|E||
|1770|PERHAPS|![](./images/OFVPMA---------.png)|![](./images-std/1.ofvpma---------.png)|![](./images-jmsml/OFVPMA---------.png)|OFVPMA---------|STBOPS.VIOATY.KILL.MDR|Murder|POINT|E||
|1771|PERHAPS|![](./images/OFVPMB---------.png)|![](./images-std/1.ofvpmb---------.png)|![](./images-jmsml/OFVPMB---------.png)|OFVPMB---------|STBOPS.VIOATY.KILL.EX|Execution|POINT|E||
|1772|PERHAPS|![](./images/OFVPMC---------.png)|![](./images-std/1.ofvpmc---------.png)|![](./images-jmsml/OFVPMC---------.png)|OFVPMC---------|STBOPS.VIOATY.KILL.ASS|Assassination|POINT|E||
|1773||![](./images/OFVPP----------.png)|![](./images-std/1.ofvpp----------.png)|![](./images-jmsml/OFVPP----------.png)|OFVPP----------|STBOPS.VIOATY.PSNG|Poisoning|POINT|E||
|1774||![](./images/OFVPS----------.png)|![](./images-std/1.ofvps----------.png)|![](./images-jmsml/OFVPS----------.png)|OFVPS----------|STBOPS.VIOATY.SPG|Sniping|POINT|E||
|1775||![](./images/OFVPY----------.png)|![](./images-std/1.ofvpy----------.png)|![](./images-jmsml/OFVPY----------.png)|OFVPY----------|STBOPS.VIOATY.BBY|Booby Trap|POINT|E||
|1776||![](./images/EFFPAA----H----.png)|![](./images-std/1.effpaa---------.png)|![](./images-jmsml/EFFPAA----H----.png)|EFFPAA----H----|EMS.INFSTR.AGFD.AGLAB|Agricultural Laboratory|POINT|G||
|1777||![](./images/EFFPAB----H----.png)|![](./images-std/1.effpab---------.png)|![](./images-jmsml/EFFPAB----H----.png)|EFFPAB----H----|EMS.INFSTR.AGFD.AFL|Animal Feedlot|POINT|G||
|1778||![](./images/EFFPAC----H----.png)|![](./images-std/1.effpac---------.png)|![](./images-jmsml/EFFPAC----H----.png)|EFFPAC----H----|EMS.INFSTR.AGFD.CFDC|Commercial Food Distribution Center|POINT|G||
|1779||![](./images/EFFPAD----H----.png)|![](./images-std/1.effpad---------.png)|![](./images-jmsml/EFFPAD----H----.png)|EFFPAD----H----|EMS.INFSTR.AGFD.FRMRNC|Farm/Ranch|POINT|G||
|1780||![](./images/EFFPAE----H----.png)|![](./images-std/1.effpae---------.png)|![](./images-jmsml/EFFPAE----H----.png)|EFFPAE----H----|EMS.INFSTR.AGFD.FPC|Food Production Center|POINT|G||
|1781||![](./images/EFFPAF----H----.png)|![](./images-std/1.effpaf---------.png)|![](./images-jmsml/EFFPAF----H----.png)|EFFPAF----H----|EMS.INFSTR.AGFD.FDRTL|Food Retail|POINT|G||
|1782||![](./images/EFFPAG----H----.png)|![](./images-std/1.effpag---------.png)|![](./images-jmsml/EFFPAG----H----.png)|EFFPAG----H----|EMS.INFSTR.AGFD.GRSTR|Grain Storage|POINT|G||
|1783||![](./images/EFFPA-----H----.png)|![](./images-std/1.effpa----------.png)|![](./images-jmsml/EFFPA-----H----.png)|EFFPA-----H----|EMS.INFSTR.AGFD|Agriculture And Food Infrastructure|POINT|G||
|1784||![](./images/EFFPBA---------.png)|![](./images-std/1.effpba---------.png)|![](./images-jmsml/EFFPBA---------.png)|EFFPBA---------|EMS.INFSTR.BFI.ATM|Atm|POINT|G||
|1785||![](./images/EFFPBB----H----.png)|![](./images-std/1.effpbb---------.png)|![](./images-jmsml/EFFPBB----H----.png)|EFFPBB----H----|EMS.INFSTR.BFI.BANK|Bank|POINT|G||
|1786||![](./images/EFFPBC----H----.png)|![](./images-std/1.effpbc---------.png)|![](./images-jmsml/EFFPBC----H----.png)|EFFPBC----H----|EMS.INFSTR.BFI.BLSTR|Bullion Storage|POINT|G||
|1787||![](./images/EFFPBD----H----.png)|![](./images-std/1.effpbd---------.png)|![](./images-jmsml/EFFPBD----H----.png)|EFFPBD----H----|EMS.INFSTR.BFI.FRB|Federal Reserve Bank|POINT|G||
|1788||![](./images/EFFPBE----H----.png)|![](./images-std/1.effpbe---------.png)|![](./images-jmsml/EFFPBE----H----.png)|EFFPBE----H----|EMS.INFSTR.BFI.FINEX|Financial Exchange|POINT|G||
|1789||![](./images/EFFPBF----H----.png)|![](./images-std/1.effpbf---------.png)|![](./images-jmsml/EFFPBF----H----.png)|EFFPBF----H----|EMS.INFSTR.BFI.FSO|Financial Services Other|POINT|G||
|1790||![](./images/EFFPB-----H----.png)|![](./images-std/1.effpb----------.png)|![](./images-jmsml/EFFPB-----H----.png)|EFFPB-----H----|EMS.INFSTR.BFI|Banking Finance And Insurance Infrastructure|POINT|G||
|1791||![](./images/EFFPCA----H----.png)|![](./images-std/1.effpca---------.png)|![](./images-jmsml/EFFPCA----H----.png)|EFFPCA----H----|EMS.INFSTR.CMCL.CMLPLN|Chemical Plant|POINT|G||
|1792||![](./images/EFFPCB----H----.png)|![](./images-std/1.effpcb---------.png)|![](./images-jmsml/EFFPCB----H----.png)|EFFPCB----H----|EMS.INFSTR.CMCL.FIRMAN|Firearms Manufacturer|POINT|G||
|1793||![](./images/EFFPCC----H----.png)|![](./images-std/1.effpcc---------.png)|![](./images-jmsml/EFFPCC----H----.png)|EFFPCC----H----|EMS.INFSTR.CMCL.FIRRET|Firearms Retailer|POINT|G||
|1794||![](./images/EFFPCD----H----.png)|![](./images-std/1.effpcd---------.png)|![](./images-jmsml/EFFPCD----H----.png)|EFFPCD----H----|EMS.INFSTR.CMCL.HZMTPR|Hazardous Material Production|POINT|G||
|1795||![](./images/EFFPCE----H----.png)|![](./images-std/1.effpce---------.png)|![](./images-jmsml/EFFPCE----H----.png)|EFFPCE----H----|EMS.INFSTR.CMCL.HZMTST|Hazardous Material Storage|POINT|G||
|1796|PERHAPS|![](./images/EFFPCF----H----.png)|![](./images-std/1.effpcf---------.png)|![](./images-jmsml/EFFPCF----H----.png)|EFFPCF----H----|EMS.INFSTR.CMCL.INDSTE|Industrial Site|POINT|G||
|1797||![](./images/EFFPCG----H----.png)|![](./images-std/1.effpcg---------.png)|![](./images-jmsml/EFFPCG----H----.png)|EFFPCG----H----|EMS.INFSTR.CMCL.LNDFL|Landfill|POINT|G||
|1798|PERHAPS|![](./images/EFFPC-----H----.png)|![](./images-std/1.effpc----------.png)|![](./images-jmsml/EFFPC-----H----.png)|EFFPC-----H----|EMS.INFSTR.CMCL|Commercial Infrastructure|POINT|G||
|1799||![](./images/EFFPCH----H----.png)|![](./images-std/1.effpch---------.png)|![](./images-jmsml/EFFPCH----H----.png)|EFFPCH----H----|EMS.INFSTR.CMCL.RXMFG|Pharmaceutical Manufacturer|POINT|G||
|1800||![](./images/EFFPCI----H----.png)|![](./images-std/1.effpci---------.png)|![](./images-jmsml/EFFPCI----H----.png)|EFFPCI----H----|EMS.INFSTR.CMCL.CHWS|Contaminated Hazardous Waste Site|POINT|G||
|1801||![](./images/EFFPCJ----H----.png)|![](./images-std/1.effpcj---------.png)|![](./images-jmsml/EFFPCJ----H----.png)|EFFPCJ----H----|EMS.INFSTR.CMCL.TXRLIN|Toxic Release Inventory|POINT|G||
|1802||![](./images/EFFPDA----H----.png)|![](./images-std/1.effpda---------.png)|![](./images-jmsml/EFFPDA----H----.png)|EFFPDA----H----|EMS.INFSTR.EDFAC.COLUNI|College University|POINT|G||
|1803||![](./images/EFFPDB----H----.png)|![](./images-std/1.effpdb---------.png)|![](./images-jmsml/EFFPDB----H----.png)|EFFPDB----H----|EMS.INFSTR.EDFAC.SCHOOL|School|POINT|G||
|1804||![](./images/EFFPD-----H----.png)|![](./images-std/1.effpd----------.png)|![](./images-jmsml/EFFPD-----H----.png)|EFFPD-----H----|EMS.INFSTR.EDFAC|Educational Facilities Infrastructure|POINT|G||
|1805||![](./images/EFFPEA----H----.png)|![](./images-std/1.effpea---------.png)|![](./images-jmsml/EFFPEA----H----.png)|EFFPEA----H----|EMS.INFSTR.ENGFAC.GENSTA|Generation Station|POINT|G||
|1806||![](./images/EFFPEB----H----.png)|![](./images-std/1.effpeb---------.png)|![](./images-jmsml/EFFPEB----H----.png)|EFFPEB----H----|EMS.INFSTR.ENGFAC.NTLGAS|Natural Gas Facility|POINT|G||
|1807||![](./images/EFFPEE----H----.png)|![](./images-std/1.effpee---------.png)|![](./images-jmsml/EFFPEE----H----.png)|EFFPEE----H----|EMS.INFSTR.ENGFAC.PROPNE|Propane Facility|POINT|G||
|1808||![](./images/EFFPF-----H----.png)|![](./images-std/1.effpf----------.png)|![](./images-jmsml/EFFPF-----H----.png)|EFFPF-----H----|EMS.INFSTR.GVTSTE|Government Site Infrastructure|POINT|G||
|1809||![](./images/EFFPGA----H----.png)|![](./images-std/1.effpga---------.png)|![](./images-jmsml/EFFPGA----H----.png)|EFFPGA----H----|EMS.INFSTR.MIL.ARMORY|Military Armory|POINT|G||
|1810||![](./images/EFFPG-----H----.png)|![](./images-std/1.effpg----------.png)|![](./images-jmsml/EFFPG-----H----.png)|EFFPG-----H----|EMS.INFSTR.MIL|Military Infrastructure|POINT|G||
|1811||![](./images/EFFPHA----H----.png)|![](./images-std/1.effpha---------.png)|![](./images-jmsml/EFFPHA----H----.png)|EFFPHA----H----|EMS.INFSTR.PSTSRV.PDC|Postal Distribution Center|POINT|G||
|1812||![](./images/EFFPHB----H----.png)|![](./images-std/1.effphb---------.png)|![](./images-jmsml/EFFPHB----H----.png)|EFFPHB----H----|EMS.INFSTR.PSTSRV.PO|Post Office|POINT|G||
|1813||![](./images/EFFPH-----H----.png)|![](./images-std/1.effph----------.png)|![](./images-jmsml/EFFPH-----H----.png)|EFFPH-----H----|EMS.INFSTR.PSTSRV|Postal Service Infrastructure|POINT|G||
|1814||![](./images/EFFPIA----H----.png)|![](./images-std/1.effpia---------.png)|![](./images-jmsml/EFFPIA----H----.png)|EFFPIA----H----|EMS.INFSTR.PUBVEN.ENCFAC|Enclosed Facility|POINT|G||
|1815||![](./images/EFFPIB----H----.png)|![](./images-std/1.effpib---------.png)|![](./images-jmsml/EFFPIB----H----.png)|EFFPIB----H----|EMS.INFSTR.PUBVEN.OPNFAC|Open Facility|POINT|G||
|1816||![](./images/EFFPIC----H----.png)|![](./images-std/1.effpic---------.png)|![](./images-jmsml/EFFPIC----H----.png)|EFFPIC----H----|EMS.INFSTR.PUBVEN.RECARE|Recreational Area|POINT|G||
|1817||![](./images/EFFPID----H----.png)|![](./images-std/1.effpid---------.png)|![](./images-jmsml/EFFPID----H----.png)|EFFPID----H----|EMS.INFSTR.PUBVEN.RELIG|Religious Institution|POINT|G||
|1818||![](./images/EFFPI-----H----.png)|![](./images-std/1.effpi----------.png)|![](./images-jmsml/EFFPI-----H----.png)|EFFPI-----H----|EMS.INFSTR.PUBVEN|Public Venues Infrastructure|POINT|G||
|1819||![](./images/EFFPJA----H----.png)|![](./images-std/1.effpja---------.png)|![](./images-jmsml/EFFPJA----H----.png)|EFFPJA----H----|EMS.INFSTR.SPCNDS.ADLTDC|Adult Day Care|POINT|G||
|1820||![](./images/EFFPJB----H----.png)|![](./images-std/1.effpjb---------.png)|![](./images-jmsml/EFFPJB----H----.png)|EFFPJB----H----|EMS.INFSTR.SPCNDS.CHLDDC|Child Day Care|POINT|G||
|1821||![](./images/EFFPJC----H----.png)|![](./images-std/1.effpjc---------.png)|![](./images-jmsml/EFFPJC----H----.png)|EFFPJC----H----|EMS.INFSTR.SPCNDS.ELDERC|Elder Care|POINT|G||
|1822||![](./images/EFFPJ-----H----.png)|![](./images-std/1.effpj----------.png)|![](./images-jmsml/EFFPJ-----H----.png)|EFFPJ-----H----|EMS.INFSTR.SPCNDS|Special Needs Infrastructure|POINT|G||
|1823||![](./images/EFFPKB----H----.png)|![](./images-std/1.effpkb---------.png)|![](./images-jmsml/EFFPKB----H----.png)|EFFPKB----H----|EMS.INFSTR.TELCOM.TCTWR|Telecommunications Tower|POINT|G||
|1824||![](./images/EFFPK-----H----.png)|![](./images-std/1.effpk----------.png)|![](./images-jmsml/EFFPK-----H----.png)|EFFPK-----H----|EMS.INFSTR.TELCOM|Telecommunications Infrastructure|POINT|G||
|1825||![](./images/EFFPLA----H----.png)|![](./images-std/1.effpla---------.png)|![](./images-jmsml/EFFPLA----H----.png)|EFFPLA----H----|EMS.INFSTR.TSP.ATCF|Air Traffic Control Facility|POINT|G||
|1826||![](./images/EFFPLD----H----.png)|![](./images-std/1.effpld---------.png)|![](./images-jmsml/EFFPLD----H----.png)|EFFPLD----H----|EMS.INFSTR.TSP.BSTN|Bus Station|POINT|G||
|1827||![](./images/EFFPLE----H----.png)|![](./images-std/1.effple---------.png)|![](./images-jmsml/EFFPLE----H----.png)|EFFPLE----H----|EMS.INFSTR.TSP.FRYTRM|Ferry Terminal|POINT|G||
|1828||![](./images/EFFPLF----H----.png)|![](./images-std/1.effplf---------.png)|![](./images-jmsml/EFFPLF----H----.png)|EFFPLF----H----|EMS.INFSTR.TSP.HLS|Helicopter Landing Site|POINT|G||
|1829||![](./images/EFFPLH----H----.png)|![](./images-std/1.effplh---------.png)|![](./images-jmsml/EFFPLH----H----.png)|EFFPLH----H----|EMS.INFSTR.TSP.MAINTF|Maintenance Facility|POINT|G||
|1830||![](./images/EFFPLJ----H----.png)|![](./images-std/1.effplj---------.png)|![](./images-jmsml/EFFPLJ----H----.png)|EFFPLJ----H----|EMS.INFSTR.TSP.RLSTN|Rail Station|POINT|G||
|1831||![](./images/EFFPLK----H----.png)|![](./images-std/1.effplk---------.png)|![](./images-jmsml/EFFPLK----H----.png)|EFFPLK----H----|EMS.INFSTR.TSP.RSTSTP|Rest Stop|POINT|G||
|1832||![](./images/EFFPLM----H----.png)|![](./images-std/1.effplm---------.png)|![](./images-jmsml/EFFPLM----H----.png)|EFFPLM----H----|EMS.INFSTR.TSP.TOLLF|Toll Facility|POINT|G||
|1833||![](./images/EFFPLO----H----.png)|![](./images-std/1.effplo---------.png)|![](./images-jmsml/EFFPLO----H----.png)|EFFPLO----H----|EMS.INFSTR.TSP.TIF|Traffic Inspection Facility|POINT|G||
|1834||![](./images/EFFPLP----H----.png)|![](./images-std/1.effplp---------.png)|![](./images-jmsml/EFFPLP----H----.png)|EFFPLP----H----|EMS.INFSTR.TSP.TNL|Tunnel|POINT|G||
|1835||![](./images/EFFPMA---------.png)|![](./images-std/1.effpma---------.png)|![](./images-jmsml/EFFPMA---------.png)|EFFPMA---------|EMS.INFSTR.WS.CV|Control Valve|POINT|G||
|1836||![](./images/EFFPMB----H----.png)|![](./images-std/1.effpmb---------.png)|![](./images-jmsml/EFFPMB----H----.png)|EFFPMB----H----|EMS.INFSTR.WS.DAM|Dam|POINT|G||
|1837||![](./images/EFFPMC---------.png)|![](./images-std/1.effpmc---------.png)|![](./images-jmsml/EFFPMC---------.png)|EFFPMC---------|EMS.INFSTR.WS.DO|Discharge Outfall|POINT|G||
|1838||![](./images/EFFPMD----H----.png)|![](./images-std/1.effpmd---------.png)|![](./images-jmsml/EFFPMD----H----.png)|EFFPMD----H----|EMS.INFSTR.WS.GWWELL|Ground Water Well|POINT|G||
|1839||![](./images/EFFPME----H----.png)|![](./images-std/1.effpme---------.png)|![](./images-jmsml/EFFPME----H----.png)|EFFPME----H----|EMS.INFSTR.WS.PMPSTN|Pumping Station|POINT|G||
|1840||![](./images/EFFPMF----H----.png)|![](./images-std/1.effpmf---------.png)|![](./images-jmsml/EFFPMF----H----.png)|EFFPMF----H----|EMS.INFSTR.WS.RSVR|Reservoir|POINT|G||
|1841||![](./images/EFFPMG----H----.png)|![](./images-std/1.effpmg---------.png)|![](./images-jmsml/EFFPMG----H----.png)|EFFPMG----H----|EMS.INFSTR.WS.STRTWR|Storage Tower|POINT|G||
|1842||![](./images/EFFPMH----H----.png)|![](./images-std/1.effpmh---------.png)|![](./images-jmsml/EFFPMH----H----.png)|EFFPMH----H----|EMS.INFSTR.WS.SWI|Surface Water Intake|POINT|G||
|1843||![](./images/EFFPMI----H----.png)|![](./images-std/1.effpmi---------.png)|![](./images-jmsml/EFFPMI----H----.png)|EFFPMI----H----|EMS.INFSTR.WS.WH20TF|Wastewater Treatment Facility|POINT|G||
|1844||![](./images/EFIPA----------.png)|![](./images-std/1.efipa----------.png)|![](./images-jmsml/EFIPA----------.png)|EFIPA----------|EMS.INCDNT.CVDIS|Civil Disturbance Incident|POINT|G||
|1845||![](./images/EFIPAC---------.png)|![](./images-std/1.efipac---------.png)|![](./images-jmsml/EFIPAC---------.png)|EFIPAC---------|EMS.INCDNT.CVDIS.CVRIOT|Civil Rioting|POINT|G||
|1846||![](./images/EFIPB----------.png)|![](./images-std/1.efipb----------.png)|![](./images-jmsml/EFIPB----------.png)|EFIPB----------|EMS.INCDNT.CRMACT|Criminal Activity Incident|POINT|G||
|1847||![](./images/EFIPBA---------.png)|![](./images-std/1.efipba---------.png)|![](./images-jmsml/EFIPBA---------.png)|EFIPBA---------|EMS.INCDNT.CRMACT.BMTHT|Bomb Threat|POINT|G||
|1848||![](./images/EFIPBC---------.png)|![](./images-std/1.efipbc---------.png)|![](./images-jmsml/EFIPBC---------.png)|EFIPBC---------|EMS.INCDNT.CRMACT.EXPLN|Explosion|POINT|G||
|1849||![](./images/EFIPBD---------.png)|![](./images-std/1.efipbd---------.png)|![](./images-jmsml/EFIPBD---------.png)|EFIPBD---------|EMS.INCDNT.CRMACT.LOOT|Looting|POINT|G||
|1850||![](./images/EFIPBF---------.png)|![](./images-std/1.efipbf---------.png)|![](./images-jmsml/EFIPBF---------.png)|EFIPBF---------|EMS.INCDNT.CRMACT.SHTG|Shooting|POINT|G||
|1851||![](./images/EFIPC----------.png)|![](./images-std/1.efipc----------.png)|![](./images-jmsml/EFIPC----------.png)|EFIPC----------|EMS.INCDNT.FIRE|Fire Incident|POINT|G||
|1852||![](./images/EFIPCA---------.png)|![](./images-std/1.efipca---------.png)|![](./images-jmsml/EFIPCA---------.png)|EFIPCA---------|EMS.INCDNT.FIRE.HTSPT|Hot Spot|POINT|G||
|1853||![](./images/EFIPCB---------.png)|![](./images-std/1.efipcb---------.png)|![](./images-jmsml/EFIPCB---------.png)|EFIPCB---------|EMS.INCDNT.FIRE.NRES|Non-Residential Fire|POINT|G||
|1854||![](./images/EFIPCC---------.png)|![](./images-std/1.efipcc---------.png)|![](./images-jmsml/EFIPCC---------.png)|EFIPCC---------|EMS.INCDNT.FIRE.ORGN|Origin (Of Fire)|POINT|G||
|1855||![](./images/EFIPCD---------.png)|![](./images-std/1.efipcd---------.png)|![](./images-jmsml/EFIPCD---------.png)|EFIPCD---------|EMS.INCDNT.FIRE.RES|Residential Fire|POINT|G||
|1856||![](./images/EFIPCE---------.png)|![](./images-std/1.efipce---------.png)|![](./images-jmsml/EFIPCE---------.png)|EFIPCE---------|EMS.INCDNT.FIRE.SCH|School Fire|POINT|G||
|1857||![](./images/EFIPCF---------.png)|![](./images-std/1.efipcf---------.png)|![](./images-jmsml/EFIPCF---------.png)|EFIPCF---------|EMS.INCDNT.FIRE.SMK|Smoke|POINT|G||
|1858||![](./images/EFIPCG---------.png)|![](./images-std/1.efipcg---------.png)|![](./images-jmsml/EFIPCG---------.png)|EFIPCG---------|EMS.INCDNT.FIRE.SN|Special Needs Fire|POINT|G||
|1859||![](./images/EFIPCH---------.png)|![](./images-std/1.efipch---------.png)|![](./images-jmsml/EFIPCH---------.png)|EFIPCH---------|EMS.INCDNT.FIRE.WLD|Wild Fire|POINT|G||
|1860|PERHAPS|![](./images/EFIPD----------.png)|![](./images-std/1.efipd----------.png)|![](./images-jmsml/EFIPD----------.png)|EFIPD----------|EMS.INCDNT.HAZMAT|Hazardous Material Incident|POINT|G||
|1861||![](./images/EFIPDA---------.png)|![](./images-std/1.efipda---------.png)|![](./images-jmsml/EFIPDA---------.png)|EFIPDA---------|EMS.INCDNT.HAZMAT.CHMAGT|Chemical Agent|POINT|G||
|1862||![](./images/EFIPDB---------.png)|![](./images-std/1.efipdb---------.png)|![](./images-jmsml/EFIPDB---------.png)|EFIPDB---------|EMS.INCDNT.HAZMAT.CORMTL|Corrosive Material|POINT|G||
|1863|PERHAPS|![](./images/EFIPDC---------.png)|![](./images-std/1.efipdc---------.png)|![](./images-jmsml/EFIPDC---------.png)|EFIPDC---------|EMS.INCDNT.HAZMAT.WHWET|Hazardous When Wet|POINT|G||
|1864|PERHAPS|![](./images/EFIPDD---------.png)|![](./images-std/1.efipdd---------.png)|![](./images-jmsml/EFIPDD---------.png)|EFIPDD---------|EMS.INCDNT.HAZMAT.EXPLV|Explosive|POINT|G||
|1865|PERHAPS|![](./images/EFIPDE---------.png)|![](./images-std/1.efipde---------.png)|![](./images-jmsml/EFIPDE---------.png)|EFIPDE---------|EMS.INCDNT.HAZMAT.FLGAS|Flammable Gas|POINT|G||
|1866|PERHAPS|![](./images/EFIPDF---------.png)|![](./images-std/1.efipdf---------.png)|![](./images-jmsml/EFIPDF---------.png)|EFIPDF---------|EMS.INCDNT.HAZMAT.FLLIQ|Flammable Liquid|POINT|G||
|1867|PERHAPS|![](./images/EFIPDG---------.png)|![](./images-std/1.efipdg---------.png)|![](./images-jmsml/EFIPDG---------.png)|EFIPDG---------|EMS.INCDNT.HAZMAT.FLSLD|Flammable Solid|POINT|G||
|1868|PERHAPS|![](./images/EFIPDH---------.png)|![](./images-std/1.efipdh---------.png)|![](./images-jmsml/EFIPDH---------.png)|EFIPDH---------|EMS.INCDNT.HAZMAT.NFLGAS|Non-Flammable Gas|POINT|G||
|1869|PERHAPS|![](./images/EFIPDI---------.png)|![](./images-std/1.efipdi---------.png)|![](./images-jmsml/EFIPDI---------.png)|EFIPDI---------|EMS.INCDNT.HAZMAT.ORGPER|Organic Peroxide|POINT|G||
|1870|PERHAPS|![](./images/EFIPDJ---------.png)|![](./images-std/1.efipdj---------.png)|![](./images-jmsml/EFIPDJ---------.png)|EFIPDJ---------|EMS.INCDNT.HAZMAT.OXDZR|Oxidizer|POINT|G||
|1871||![](./images/EFIPDK---------.png)|![](./images-std/1.efipdk---------.png)|![](./images-jmsml/EFIPDK---------.png)|EFIPDK---------|EMS.INCDNT.HAZMAT.RADMTL|Radioactive Material|POINT|G||
|1872||![](./images/EFIPDL---------.png)|![](./images-std/1.efipdl---------.png)|![](./images-jmsml/EFIPDL---------.png)|EFIPDL---------|EMS.INCDNT.HAZMAT.SPCMB|Spontaneously Combustible|POINT|G||
|1873||![](./images/EFIPDM---------.png)|![](./images-std/1.efipdm---------.png)|![](./images-jmsml/EFIPDM---------.png)|EFIPDM---------|EMS.INCDNT.HAZMAT.TXGAS|Toxic Gas|POINT|G||
|1874||![](./images/EFIPDN---------.png)|![](./images-std/1.efipdn---------.png)|![](./images-jmsml/EFIPDN---------.png)|EFIPDN---------|EMS.INCDNT.HAZMAT.TXINF|Toxic And Infectious|POINT|G||
|1875||![](./images/EFIPDO---------.png)|![](./images-std/1.efipdo---------.png)|![](./images-jmsml/EFIPDO---------.png)|EFIPDO---------|EMS.INCDNT.HAZMAT.UNXORD|Unexploded Ordnance|POINT|G||
|1876||![](./images/EFIPE----------.png)|![](./images-std/1.efipe----------.png)|![](./images-jmsml/EFIPE----------.png)|EFIPE----------|EMS.INCDNT.AIR|Air Incident|POINT|G||
|1877||![](./images/EFIPEA---------.png)|![](./images-std/1.efipea---------.png)|![](./images-jmsml/EFIPEA---------.png)|EFIPEA---------|EMS.INCDNT.AIR.ACDNT|Air Accident|POINT|G||
|1878||![](./images/EFIPF----------.png)|![](./images-std/1.efipf----------.png)|![](./images-jmsml/EFIPF----------.png)|EFIPF----------|EMS.INCDNT.MRN|Marine Incident|POINT|G||
|1879||![](./images/EFIPFA---------.png)|![](./images-std/1.efipfa---------.png)|![](./images-jmsml/EFIPFA---------.png)|EFIPFA---------|EMS.INCDNT.MRN.ACDNT|Marine Accident|POINT|G||
|1880||![](./images/EFIPG----------.png)|![](./images-std/1.efipg----------.png)|![](./images-jmsml/EFIPG----------.png)|EFIPG----------|EMS.INCDNT.RAIL|Rail Incident|POINT|G||
|1881||![](./images/EFIPGA---------.png)|![](./images-std/1.efipga---------.png)|![](./images-jmsml/EFIPGA---------.png)|EFIPGA---------|EMS.INCDNT.RAIL.ACDNT|Rail Accident|POINT|G||
|1882||![](./images/EFIPGB---------.png)|![](./images-std/1.efipgb---------.png)|![](./images-jmsml/EFIPGB---------.png)|EFIPGB---------|EMS.INCDNT.RAIL.HJCK|Rail Hijacking|POINT|G||
|1883||![](./images/EFIPH----------.png)|![](./images-std/1.efiph----------.png)|![](./images-jmsml/EFIPH----------.png)|EFIPH----------|EMS.INCDNT.VEH|Vehicle Incident|POINT|G||
|1884||![](./images/EFIPHA---------.png)|![](./images-std/1.efipha---------.png)|![](./images-jmsml/EFIPHA---------.png)|EFIPHA---------|EMS.INCDNT.VEH.ACDNT|Vehicle Accident|POINT|G||
|1885||![](./images/EFNPAA---------.png)|![](./images-std/0.e-npaa---------.png)|![](./images-jmsml/EFNPAA---------.png)|EFNPAA---------|EMS.NATEVT.GEO.AFTSHK|Aftershock|POINT|G||
|1886||![](./images/EFNPAB---------.png)|![](./images-std/0.e-npab---------.png)|![](./images-jmsml/EFNPAB---------.png)|EFNPAB---------|EMS.NATEVT.GEO.AVL|Avalanche|POINT|G||
|1887||![](./images/EFNPAC---------.png)|![](./images-std/0.e-npac---------.png)|![](./images-jmsml/EFNPAC---------.png)|EFNPAC---------|EMS.NATEVT.GEO.EQKEPI|Earthquake Epicenter|POINT|G||
|1888||![](./images/EFNPAD---------.png)|![](./images-std/0.e-npad---------.png)|![](./images-jmsml/EFNPAD---------.png)|EFNPAD---------|EMS.NATEVT.GEO.LNDSLD|Landslide|POINT|G||
|1889||![](./images/EFNPAE---------.png)|![](./images-std/0.e-npae---------.png)|![](./images-jmsml/EFNPAE---------.png)|EFNPAE---------|EMS.NATEVT.GEO.SBSDNC|Subsidence|POINT|G||
|1890||![](./images/EFNPAG---------.png)|![](./images-std/0.e-npag---------.png)|![](./images-jmsml/EFNPAG---------.png)|EFNPAG---------|EMS.NATEVT.GEO.VLCTHT|Volcanic Threat|POINT|G||
|1891||![](./images/EFNPBB---------.png)|![](./images-std/0.e-npbb---------.png)|![](./images-jmsml/EFNPBB---------.png)|EFNPBB---------|EMS.NATEVT.HYDMET.DRGHT|Drought|POINT|G||
|1892||![](./images/EFNPBC---------.png)|![](./images-std/0.e-npbc---------.png)|![](./images-jmsml/EFNPBC---------.png)|EFNPBC---------|EMS.NATEVT.HYDMET.FLD|Flood|POINT|G||
|1893||![](./images/EFNPBF---------.png)|![](./images-std/0.e-npbf---------.png)|![](./images-jmsml/EFNPBF---------.png)|EFNPBF---------|EMS.NATEVT.HYDMET.INV|Inversion|POINT|G||
|1894||![](./images/EFNPBM---------.png)|![](./images-std/0.e-npbm---------.png)|![](./images-jmsml/EFNPBM---------.png)|EFNPBM---------|EMS.NATEVT.HYDMET.TSNMI|Tsunami|POINT|G||
|1895||![](./images/EFNPCA---------.png)|![](./images-std/0.e-npca---------.png)|![](./images-jmsml/EFNPCA---------.png)|EFNPCA---------|EMS.NATEVT.INFST.BIRD|Bird Infestation|POINT|G||
|1896||![](./images/EFNPCB---------.png)|![](./images-std/0.e-npcb---------.png)|![](./images-jmsml/EFNPCB---------.png)|EFNPCB---------|EMS.NATEVT.INFST.INSCT|Insect Infestation|POINT|G||
|1897||![](./images/EFNPCC---------.png)|![](./images-std/0.e-npcc---------.png)|![](./images-jmsml/EFNPCC---------.png)|EFNPCC---------|EMS.NATEVT.INFST.MICROB|Microbial Infestation|POINT|G||
|1898||![](./images/EFNPCD---------.png)|![](./images-std/0.e-npcd---------.png)|![](./images-jmsml/EFNPCD---------.png)|EFNPCD---------|EMS.NATEVT.INFST.REPT|Reptile Infestation|POINT|G||
|1899||![](./images/EFNPCE---------.png)|![](./images-std/0.e-npce---------.png)|![](./images-jmsml/EFNPCE---------.png)|EFNPCE---------|EMS.NATEVT.INFST.RDNT|Rodent Infestation|POINT|G||
|1900||![](./images/EFOPA----------.png)|![](./images-std/1.efopa----------.png)|![](./images-jmsml/EFOPA----------.png)|EFOPA----------|EMS.OPN.EMMED|Emergency Medical Operation|POINT|G||
|1901||![](./images/EFOPAA---------.png)|![](./images-std/1.efopaa---------.png)|![](./images-jmsml/EFOPAA---------.png)|EFOPAA---------|EMS.OPN.EMMED.UNT|Emergency Medical Operation Unit|POINT|G||
|1902|YES|![](./images/EFOPAB---------.png)|![](./images-std/1.efopab---------.png)|![](./images-jmsml/EFOPAB---------.png)|EFOPAB---------|EMS.OPN.EMMED.EQPT|Emergency Medical Operation Equipment|POINT|G||
|1903||![](./images/EFOPAC----H----.png)|![](./images-std/1.efopac---------.png)|![](./images-jmsml/EFOPAC----H----.png)|EFOPAC----H----|EMS.OPN.EMMED.INS|Emergency Medical Operation Installation|POINT|G||
|1904||![](./images/EFOPAD----H----.png)|![](./images-std/1.efopad---------.png)|![](./images-jmsml/EFOPAD----H----.png)|EFOPAD----H----|EMS.OPN.EMMED.EMTLOC|Emt Station Location|POINT|G||
|1905|YES|![](./images/EFOPAE---------.png)|![](./images-std/1.efopae---------.png)|![](./images-jmsml/EFOPAE---------.png)|EFOPAE---------|EMS.OPN.EMMED.AMBLNC|Ambulance|POINT|G||
|1906|YES|![](./images/EFOPAF---------.png)|![](./images-std/1.efopaf---------.png)|![](./images-jmsml/EFOPAF---------.png)|EFOPAF---------|EMS.OPN.EMMED.MEH|Medical Evacuation Helicopter|POINT|G||
|1907||![](./images/EFOPAG----H----.png)|![](./images-std/1.efopag---------.png)|![](./images-jmsml/EFOPAG----H----.png)|EFOPAG----H----|EMS.OPN.EMMED.HDF|Health Department Facility|POINT|G||
|1908|PERHAPS|![](./images/EFOPAJ----H----.png)|![](./images-std/1.efopaj---------.png)|![](./images-jmsml/EFOPAJ----H----.png)|EFOPAJ----H----|EMS.OPN.EMMED.MFOP|Medical Facilities Out Patient|POINT|G||
|1909|PERHAPS|![](./images/EFOPAK----H----.png)|![](./images-std/1.efopak---------.png)|![](./images-jmsml/EFOPAK----H----.png)|EFOPAK----H----|EMS.OPN.EMMED.MRG|Morgue|POINT|G||
|1910||![](./images/EFOPAL----H----.png)|![](./images-std/1.efopal---------.png)|![](./images-jmsml/EFOPAL----H----.png)|EFOPAL----H----|EMS.OPN.EMMED.RX|Pharmacy|POINT|G||
|1911||![](./images/EFOPAM----H----.png)|![](./images-std/1.efopam---------.png)|![](./images-jmsml/EFOPAM----H----.png)|EFOPAM----H----|EMS.OPN.EMMED.TRIAGE|Triage|POINT|G||
|1912||![](./images/EFOPB----------.png)|![](./images-std/1.efopb----------.png)|![](./images-jmsml/EFOPB----------.png)|EFOPB----------|EMS.OPN.EMOPN|Emergency Operation|POINT|G||
|1913||![](./images/EFOPBA---------.png)|![](./images-std/1.efopba---------.png)|![](./images-jmsml/EFOPBA---------.png)|EFOPBA---------|EMS.OPN.EMOPN.UNT|Emergency Operation Unit|POINT|G||
|1914|YES|![](./images/EFOPBB---------.png)|![](./images-std/1.efopbb---------.png)|![](./images-jmsml/EFOPBB---------.png)|EFOPBB---------|EMS.OPN.EMOPN.EQPT|Emergency Operation Equipment|POINT|G||
|1915||![](./images/EFOPBC----H----.png)|![](./images-std/1.efopbc---------.png)|![](./images-jmsml/EFOPBC----H----.png)|EFOPBC----H----|EMS.OPN.EMOPN.INS|Emergency Operation Installation|POINT|G||
|1916||![](./images/EFOPBD---------.png)|![](./images-std/1.efopbd---------.png)|![](./images-jmsml/EFOPBD---------.png)|EFOPBD---------|EMS.OPN.EMOPN.ECEP|Emergency Collection Evacuation Point|POINT|G||
|1917||![](./images/EFOPBE----H----.png)|![](./images-std/1.efopbe---------.png)|![](./images-jmsml/EFOPBE----H----.png)|EFOPBE----H----|EMS.OPN.EMOPN.EICC|Emergency Incident Command Center|POINT|G||
|1918||![](./images/EFOPBF----H----.png)|![](./images-std/1.efopbf---------.png)|![](./images-jmsml/EFOPBF----H----.png)|EFOPBF----H----|EMS.OPN.EMOPN.EOC|Emergency Operations Center|POINT|G||
|1919||![](./images/EFOPBG----H----.png)|![](./images-std/1.efopbg---------.png)|![](./images-jmsml/EFOPBG----H----.png)|EFOPBG----H----|EMS.OPN.EMOPN.EPIC|Emergency Public Information Center|POINT|G||
|1920||![](./images/EFOPBH----H----.png)|![](./images-std/1.efopbh---------.png)|![](./images-jmsml/EFOPBH----H----.png)|EFOPBH----H----|EMS.OPN.EMOPN.EMSHLT|Emergency Shelter|POINT|G||
|1921||![](./images/EFOPBI----H----.png)|![](./images-std/1.efopbi---------.png)|![](./images-jmsml/EFOPBI----H----.png)|EFOPBI----H----|EMS.OPN.EMOPN.ESA|Emergency Staging Area|POINT|G||
|1922|PERHAPS|![](./images/EFOPBJ---------.png)|![](./images-std/1.efopbj---------.png)|![](./images-jmsml/EFOPBJ---------.png)|EFOPBJ---------|EMS.OPN.EMOPN.EMTM|Emergency Team|POINT|G||
|1923||![](./images/EFOPBK----H----.png)|![](./images-std/1.efopbk---------.png)|![](./images-jmsml/EFOPBK----H----.png)|EFOPBK----H----|EMS.OPN.EMOPN.EWDC|Emergency Water Distribution Center|POINT|G||
|1924||![](./images/EFOPBL----H----.png)|![](./images-std/1.efopbl---------.png)|![](./images-jmsml/EFOPBL----H----.png)|EFOPBL----H----|EMS.OPN.EMOPN.FDDIST|Emergency Food Distribution Center|POINT|G||
|1925||![](./images/EFOPC----------.png)|![](./images-std/1.efopc----------.png)|![](./images-jmsml/EFOPC----------.png)|EFOPC----------|EMS.OPN.FIRFT|Fire Fighting Operation|POINT|G||
|1926||![](./images/EFOPCA---------.png)|![](./images-std/1.efopca---------.png)|![](./images-jmsml/EFOPCA---------.png)|EFOPCA---------|EMS.OPN.FIRFT.FIRFTU|Fire Fighting Operation Unit|POINT|G||
|1927|YES|![](./images/EFOPCB---------.png)|![](./images-std/1.efopcb---------.png)|![](./images-jmsml/EFOPCB---------.png)|EFOPCB---------|EMS.OPN.FIRFT.FIRFTE|Fire Fighting Operation Equipment|POINT|G||
|1928|YES|![](./images/EFOPCC---------.png)|![](./images-std/1.efopcc---------.png)|![](./images-jmsml/EFOPCC---------.png)|EFOPCC---------|EMS.OPN.FIRFT.FIRHYD|Fire Hydrant|POINT|G||
|1929|PERHAPS|![](./images/EFOPCD----H----.png)|![](./images-std/1.efopcd---------.png)|![](./images-jmsml/EFOPCD----H----.png)|EFOPCD----H----|EMS.OPN.FIRFT.OTHH2O|Other Water Supply Location|POINT|G||
|1930||![](./images/EFOPCE----H----.png)|![](./images-std/1.efopce---------.png)|![](./images-jmsml/EFOPCE----H----.png)|EFOPCE----H----|EMS.OPN.FIRFT.FIRSTN|Fire Station|POINT|G||
|1931||![](./images/EFOPD----------.png)|![](./images-std/1.efopd----------.png)|![](./images-jmsml/EFOPD----------.png)|EFOPD----------|EMS.OPN.LAWENF|Law Enforcement Operation|POINT|G||
|1932||![](./images/EFOPDA---------.png)|![](./images-std/1.efopda---------.png)|![](./images-jmsml/EFOPDA---------.png)|EFOPDA---------|EMS.OPN.LAWENF.LAWENU|Law Enforcement Operation Unit|POINT|G||
|1933|YES|![](./images/EFOPDB---------.png)|![](./images-std/1.efopdb---------.png)|![](./images-jmsml/EFOPDB---------.png)|EFOPDB---------|EMS.OPN.LAWENF.LAWENE|Law Enforcement Operation Equipment|POINT|G||
|1934||![](./images/EFOPDC----H----.png)|![](./images-std/1.efopdc---------.png)|![](./images-jmsml/EFOPDC----H----.png)|EFOPDC----H----|EMS.OPN.LAWENF.LAWENI|Law Enforcement Operation Installation|POINT|G||
|1935||![](./images/EFOPDD---------.png)|![](./images-std/1.efopdd---------.png)|![](./images-jmsml/EFOPDD---------.png)|EFOPDD---------|EMS.OPN.LAWENF.ATF|Atf|POINT|G||
|1936||![](./images/EFOPDDA--------.png)|![](./images-std/1.efopdda--------.png)|![](./images-jmsml/EFOPDDA--------.png)|EFOPDDA--------|EMS.OPN.LAWENF.ATF.ATFUNT|Atf Unit|POINT|G||
|1937|YES|![](./images/EFOPDDB--------.png)|![](./images-std/1.efopddb--------.png)|![](./images-jmsml/EFOPDDB--------.png)|EFOPDDB--------|EMS.OPN.LAWENF.ATF.ATFEQP|Atf Equipment|POINT|G||
|1938||![](./images/EFOPDDC---H----.png)|![](./images-std/1.efopddc--------.png)|![](./images-jmsml/EFOPDDC---H----.png)|EFOPDDC---H----|EMS.OPN.LAWENF.ATF.ATFINS|Atf Installation|POINT|G||
|1939|PERHAPS|![](./images/EFOPDE---------.png)|![](./images-std/1.efopde---------.png)|![](./images-jmsml/EFOPDE---------.png)|EFOPDE---------|EMS.OPN.LAWENF.BDRPT|Border Patrol|POINT|G||
|1940||![](./images/EFOPDEA--------.png)|![](./images-std/1.efopdea--------.png)|![](./images-jmsml/EFOPDEA--------.png)|EFOPDEA--------|EMS.OPN.LAWENF.BDRPT.BDRPTU|Border Patrol Unit|POINT|G||
|1941|YES|![](./images/EFOPDEB--------.png)|![](./images-std/1.efopdeb--------.png)|![](./images-jmsml/EFOPDEB--------.png)|EFOPDEB--------|EMS.OPN.LAWENF.BDRPT.BDRPTE|Border Patrol Equipment|POINT|G||
|1942||![](./images/EFOPDEC---H----.png)|![](./images-std/1.efopdec--------.png)|![](./images-jmsml/EFOPDEC---H----.png)|EFOPDEC---H----|EMS.OPN.LAWENF.BDRPT.BDRPTI|Border Patrol Installation|POINT|G||
|1943|PERHAPS|![](./images/EFOPDF---------.png)|![](./images-std/1.efopdf---------.png)|![](./images-jmsml/EFOPDF---------.png)|EFOPDF---------|EMS.OPN.LAWENF.CSTM|Customs Service|POINT|G||
|1944||![](./images/EFOPDFA--------.png)|![](./images-std/1.efopdfa--------.png)|![](./images-jmsml/EFOPDFA--------.png)|EFOPDFA--------|EMS.OPN.LAWENF.CSTM.CSTMUN|Customs Service Unit|POINT|G||
|1945|YES|![](./images/EFOPDFB--------.png)|![](./images-std/1.efopdfb--------.png)|![](./images-jmsml/EFOPDFB--------.png)|EFOPDFB--------|EMS.OPN.LAWENF.CSTM.CSTMEQ|Customs Service Equipment|POINT|G||
|1946||![](./images/EFOPDFC---H----.png)|![](./images-std/1.efopdfc--------.png)|![](./images-jmsml/EFOPDFC---H----.png)|EFOPDFC---H----|EMS.OPN.LAWENF.CSTM.CSTMIN|Customs Service Installation|POINT|G||
|1947||![](./images/EFOPDG---------.png)|![](./images-std/1.efopdg---------.png)|![](./images-jmsml/EFOPDG---------.png)|EFOPDG---------|EMS.OPN.LAWENF.DEA|Dea|POINT|G||
|1948||![](./images/EFOPDGA--------.png)|![](./images-std/1.efopdga--------.png)|![](./images-jmsml/EFOPDGA--------.png)|EFOPDGA--------|EMS.OPN.LAWENF.DEA.DEAUNT|Dea Unit|POINT|G||
|1949|YES|![](./images/EFOPDGB--------.png)|![](./images-std/1.efopdgb--------.png)|![](./images-jmsml/EFOPDGB--------.png)|EFOPDGB--------|EMS.OPN.LAWENF.DEA.DEAEQP|Dea Equipment|POINT|G||
|1950||![](./images/EFOPDGC---H----.png)|![](./images-std/1.efopdgc--------.png)|![](./images-jmsml/EFOPDGC---H----.png)|EFOPDGC---H----|EMS.OPN.LAWENF.DEA.DEAINS|Dea Installation|POINT|G||
|1951||![](./images/EFOPDH---------.png)|![](./images-std/1.efopdh---------.png)|![](./images-jmsml/EFOPDH---------.png)|EFOPDH---------|EMS.OPN.LAWENF.DOJ|Doj|POINT|G||
|1952||![](./images/EFOPDHA--------.png)|![](./images-std/1.efopdha--------.png)|![](./images-jmsml/EFOPDHA--------.png)|EFOPDHA--------|EMS.OPN.LAWENF.DOJ.DOJ|Doj Unit|POINT|G||
|1953|YES|![](./images/EFOPDHB--------.png)|![](./images-std/1.efopdhb--------.png)|![](./images-jmsml/EFOPDHB--------.png)|EFOPDHB--------|EMS.OPN.LAWENF.DOJ.DOJEQP|Doj Equipment|POINT|G||
|1954||![](./images/EFOPDHC---H----.png)|![](./images-std/1.efopdhc--------.png)|![](./images-jmsml/EFOPDHC---H----.png)|EFOPDHC---H----|EMS.OPN.LAWENF.DOJ.DOJINS|Doj Installation|POINT|G||
|1955||![](./images/EFOPDI---------.png)|![](./images-std/1.efopdi---------.png)|![](./images-jmsml/EFOPDI---------.png)|EFOPDI---------|EMS.OPN.LAWENF.FBI|Fbi|POINT|G||
|1956||![](./images/EFOPDIA--------.png)|![](./images-std/1.efopdia--------.png)|![](./images-jmsml/EFOPDIA--------.png)|EFOPDIA--------|EMS.OPN.LAWENF.FBI.FBIUNT|Fbi Unit|POINT|G||
|1957||![](./images/EFOPDIB--------.png)|![](./images-std/1.efopdib--------.png)|![](./images-jmsml/EFOPDIB--------.png)|EFOPDIB--------|EMS.OPN.LAWENF.FBI.FBIEQP|Fbi Equipment|POINT|G||
|1958||![](./images/EFOPDIC---H----.png)|![](./images-std/1.efopdic--------.png)|![](./images-jmsml/EFOPDIC---H----.png)|EFOPDIC---H----|EMS.OPN.LAWENF.FBI.FBIINS|Fbi Installation|POINT|G||
|1959||![](./images/EFOPDJ---------.png)|![](./images-std/1.efopdj---------.png)|![](./images-jmsml/EFOPDJ---------.png)|EFOPDJ---------|EMS.OPN.LAWENF.POL|Police|POINT|G||
|1960|YES|![](./images/EFOPDJB--------.png)|![](./images-std/1.efopdjb--------.png)|![](./images-jmsml/EFOPDJB--------.png)|EFOPDJB--------|EMS.OPN.LAWENF.POL.POLEQP|Police Equipment|POINT|G||
|1961||![](./images/EFOPDJC---H----.png)|![](./images-std/1.efopdjc--------.png)|![](./images-jmsml/EFOPDJC---H----.png)|EFOPDJC---H----|EMS.OPN.LAWENF.POL.POLINS|Police Installation|POINT|G||
|1962|PERHAPS|![](./images/EFOPDK---------.png)|![](./images-std/1.efopdk---------.png)|![](./images-jmsml/EFOPDK---------.png)|EFOPDK---------|EMS.OPN.LAWENF.PRSN|Prison|POINT|G||
|1963||![](./images/EFOPDL---------.png)|![](./images-std/1.efopdl---------.png)|![](./images-jmsml/EFOPDL---------.png)|EFOPDL---------|EMS.OPN.LAWENF.SECSR|Secret Service|POINT|G||
|1964||![](./images/EFOPDLA--------.png)|![](./images-std/1.efopdla--------.png)|![](./images-jmsml/EFOPDLA--------.png)|EFOPDLA--------|EMS.OPN.LAWENF.SECSR.SECSRU|Secret Service Unit|POINT|G||
|1965|YES|![](./images/EFOPDLB--------.png)|![](./images-std/1.efopdlb--------.png)|![](./images-jmsml/EFOPDLB--------.png)|EFOPDLB--------|EMS.OPN.LAWENF.SECSR.SECSRE|Secret Service Equipment|POINT|G||
|1966||![](./images/EFOPDLC---H----.png)|![](./images-std/1.efopdlc--------.png)|![](./images-jmsml/EFOPDLC---H----.png)|EFOPDLC---H----|EMS.OPN.LAWENF.SECSR.SECSRI|Secret Service Installation|POINT|G||
|1967||![](./images/EFOPDM---------.png)|![](./images-std/1.efopdm---------.png)|![](./images-jmsml/EFOPDM---------.png)|EFOPDM---------|EMS.OPN.LAWENF.TSA|Tsa|POINT|G||
|1968||![](./images/EFOPDMA--------.png)|![](./images-std/1.efopdma--------.png)|![](./images-jmsml/EFOPDMA--------.png)|EFOPDMA--------|EMS.OPN.LAWENF.TSA.TSAUNT|Tsa Unit|POINT|G||
|1969|YES|![](./images/EFOPDMB--------.png)|![](./images-std/1.efopdmb--------.png)|![](./images-jmsml/EFOPDMB--------.png)|EFOPDMB--------|EMS.OPN.LAWENF.TSA.TSAEQP|Tsa Equipment|POINT|G||
|1970||![](./images/EFOPDMC---H----.png)|![](./images-std/1.efopdmc--------.png)|![](./images-jmsml/EFOPDMC---H----.png)|EFOPDMC---H----|EMS.OPN.LAWENF.TSA.TSAINS|Tsa Installation|POINT|G||
|1971||![](./images/EFOPDN---------.png)|![](./images-std/1.efopdn---------.png)|![](./images-jmsml/EFOPDN---------.png)|EFOPDN---------|EMS.OPN.LAWENF.CSTGD|Coast Guard|POINT|G||
|1972||![](./images/EFOPDNA--------.png)|![](./images-std/1.efopdna--------.png)|![](./images-jmsml/EFOPDNA--------.png)|EFOPDNA--------|EMS.OPN.LAWENF.CSTGD.CSTGDU|Coast Guard Unit|POINT|G||
|1973||![](./images/EFOPDNC---H----.png)|![](./images-std/1.efopdnc--------.png)|![](./images-jmsml/EFOPDNC---H----.png)|EFOPDNC---H----|EMS.OPN.LAWENF.CSTGD.CSTGDI|Coast Guard Installation|POINT|G||
|1974|PERHAPS|![](./images/EFOPDO---------.png)|![](./images-std/1.efopdo---------.png)|![](./images-jmsml/EFOPDO---------.png)|EFOPDO---------|EMS.OPN.LAWENF.USMAR|Us Marshals Service|POINT|G||
|1975|PERHAPS|![](./images/EFOPDOA--------.png)|![](./images-std/1.efopdoa--------.png)|![](./images-jmsml/EFOPDOA--------.png)|EFOPDOA--------|EMS.OPN.LAWENF.USMAR.USMARU|Us Marshals Service Unit|POINT|G||
|1976|YES|![](./images/EFOPDOB--------.png)|![](./images-std/1.efopdob--------.png)|![](./images-jmsml/EFOPDOB--------.png)|EFOPDOB--------|EMS.OPN.LAWENF.USMAR.USMARE|Us Marshals Service Equipment|POINT|G||
|1977|PERHAPS|![](./images/EFOPDOC---H----.png)|![](./images-std/1.efopdoc--------.png)|![](./images-jmsml/EFOPDOC---H----.png)|EFOPDOC---H----|EMS.OPN.LAWENF.USMAR.USMARI|Us Marshals Service Installation|POINT|G||
|1978|YES|![](./images/EFOPEA---------.png)|![](./images-std/1.efopea---------.png)|![](./images-jmsml/EFOPEA---------.png)|EFOPEA---------|EMS.OPN.SNS.BIO|Biological Sensor|POINT|G||
|1979|YES|![](./images/EFOPEB---------.png)|![](./images-std/1.efopeb---------.png)|![](./images-jmsml/EFOPEB---------.png)|EFOPEB---------|EMS.OPN.SNS.CML|Chemical Sensor|POINT|G||
|1980|YES|![](./images/EFOPEC---------.png)|![](./images-std/1.efopec---------.png)|![](./images-jmsml/EFOPEC---------.png)|EFOPEC---------|EMS.OPN.SNS.INT|Intrusion Sensor|POINT|G||
|1981|YES|![](./images/EFOPED---------.png)|![](./images-std/1.efoped---------.png)|![](./images-jmsml/EFOPED---------.png)|EFOPED---------|EMS.OPN.SNS.NUC|Nuclear Sensor|POINT|G||
|1982|YES|![](./images/EFOPEE---------.png)|![](./images-std/1.efopee---------.png)|![](./images-jmsml/EFOPEE---------.png)|EFOPEE---------|EMS.OPN.SNS.RAD|Radiological Sensor|POINT|G||
|1983||![](./images/GFSPPO--------X.png)|![](./images-std/1.g-sppo--------x.png)|![](./images-jmsml/GFSPPO--------X.png)|GFSPPO--------X|EMS.INFSTR.TSP.TCP|Traffic Control Point|POINT|G||
|1984||![](./images/GFMPBCB-------X.png)|![](./images-std/1.g-mpbcb-------x.png)|![](./images-jmsml/GFMPBCB-------X.png)|GFMPBCB-------X|EMS.INFSTR.TSP.BRG|Bridge|POINT|G||
|1985||![](./images/OFIPR----------.png)|![](./images-std/1.ofipr----------.png)|![](./images-jmsml/OFIPR----------.png)|OFIPR----------|EMS.INCDNT.CVDIS.DISPOP|Civil Displaced Population|POINT|G||
|1986||![](./images/OFOPD----------.png)|![](./images-std/1.ofopd----------.png)|![](./images-jmsml/OFOPD----------.png)|OFOPD----------|EMS.INCDNT.CVDIS.DEMO|Civil Demonstration|POINT|G||
|1987||![](./images/OFOPHA---------.png)|![](./images-std/1.ofopha---------.png)|![](./images-jmsml/OFOPHA---------.png)|OFOPHA---------|EMS.INCDNT.AIR.HJKG|Air Hijacking|POINT|G||
|1988||![](./images/OFOPHT---------.png)|![](./images-std/1.ofopht---------.png)|![](./images-jmsml/OFOPHT---------.png)|OFOPHT---------|EMS.INCDNT.VEH.HJKG|Vehicle Hijacking|POINT|G||
|1989||![](./images/OFOPHV---------.png)|![](./images-std/1.ofophv---------.png)|![](./images-jmsml/OFOPHV---------.png)|OFOPHV---------|EMS.INCDNT.MRN.HJKG|Marine Hijacking|POINT|G||
|1990||![](./images/OFVPB----------.png)|![](./images-std/1.ofvpb----------.png)|![](./images-jmsml/OFVPB----------.png)|OFVPB----------|EMS.INCDNT.CRMACT.BM|Bomb|POINT|G||
|1991||![](./images/OFVPP----------.png)|![](./images-std/1.ofvpp----------.png)|![](./images-jmsml/OFVPP----------.png)|OFVPP----------|EMS.INCDNT.CRMACT.PSNG|Poisoning|POINT|G||
|1992||![](./images/SFGPES---------.png)|![](./images-std/1.sfgpes---------.png)|![](./images-jmsml/SFGPES---------.png)|SFGPES---------|EMS.OPN.SNS|Sensor|POINT|G||
|1993||![](./images/SFGPIB----H----.png)|![](./images-std/1.sfgpib----h----.png)|![](./images-jmsml/SFGPIB----H----.png)|SFGPIB----H----|EMS.INFSTR.MIL.MILBF|Military Base|POINT|G||
|1994||![](./images/SFGPIRP---H----.png)|![](./images-std/1.sfgpirp---h----.png)|![](./images-jmsml/SFGPIRP---H----.png)|SFGPIRP---H----|EMS.INFSTR.ENGFAC.PETFAC|Petroleum Facility|POINT|G||
|1995||![](./images/SFGPIT----H----.png)|![](./images-std/1.sfgpit----h----.png)|![](./images-jmsml/SFGPIT----H----.png)|SFGPIT----H----|EMS.INFSTR.TSP|Transportation Infrastructure|POINT|G||
|1996||![](./images/SFGPIUE---H----.png)|![](./images-std/1.sfgpiue---h----.png)|![](./images-jmsml/SFGPIUE---H----.png)|SFGPIUE---H----|EMS.INFSTR.ENGFAC|Energy Facilities Infrastructure|POINT|G||
|1997||![](./images/SFGPIUEN--H----.png)|![](./images-std/1.sfgpiuen--h----.png)|![](./images-jmsml/SFGPIUEN--H----.png)|SFGPIUEN--H----|EMS.INFSTR.ENGFAC.NUCFAC|Nuclear Facility|POINT|G||
|1998||![](./images/SFGPIUP---H----.png)|![](./images-std/1.sfgpiup---h----.png)|![](./images-jmsml/SFGPIUP---H----.png)|SFGPIUP---H----|EMS.INFSTR.WS|Water Supply Infrastructure|POINT|G||
|1999||![](./images/SFGPIUT---H----.png)|![](./images-std/1.sfgpiut---h----.png)|![](./images-jmsml/SFGPIUT---H----.png)|SFGPIUT---H----|EMS.INFSTR.TELCOM.TCF|Telecommunications Facility|POINT|G||
|2000||![](./images/SFGPIXH---H----.png)|![](./images-std/1.sfgpixh---h----.png)|![](./images-jmsml/SFGPIXH---H----.png)|SFGPIXH---H----|EMS.OPN.EMMED.HSP|Hospital|POINT|G||
|2001||![](./images/SFGPUULC-------.png)|![](./images-std/1.sfgpuulc-------.png)|![](./images-jmsml/SFGPUULC-------.png)|SFGPUULC-------|EMS.OPN.LAWENF.POL.POLUNT|Police Unit|POINT|G||
|2002||![](./images/SFSPNM---------.png)|![](./images-std/1.sfspnm---------.png)|![](./images-jmsml/SFSPNM---------.png)|SFSPNM---------|EMS.OPN.EMMED.HSPSHP|Hospital Ship|POINT|G||
|2003||![](./images/SFSPXL---------.png)|![](./images-std/1.sfspxl---------.png)|![](./images-jmsml/SFSPXL---------.png)|SFSPXL---------|EMS.OPN.LAWENF.CSTGD.CSTGDE|Coast Guard Equipment|POINT|G||
|2004||![](./images/SPGPIBA---H----.png)|![](./images-std/1.sfgpiba---h----.png)|![](./images-jmsml/SFGPIBA---H----.png)|SFGPIBA---H----|EMS.INFSTR.TSP.AIRPT|Airport|POINT|G||
|2005||![](./images/SPGPIBN---H----.png)|![](./images-std/1.sfgpibn---h----.png)|![](./images-jmsml/SFGPIBN---H----.png)|SFGPIBN---H----|EMS.INFSTR.TSP.SP|Port|POINT|G||
|2006||![](./images/WAS-WSD-LIP----.png)|![](./images-std/0.was-wsd-lip----.png)|![](./images-jmsml/WAS-WSD-LIP----.png)|WAS-WSD-LIP----|EMS.NATEVT.HYDMET.DZ|Drizzle|POINT|G||
|2007||![](./images/WAS-WSDSLMP----.png)|![](./images-std/0.was-wsdslmp----.png)|![](./images-jmsml/WAS-WSDSLMP----.png)|WAS-WSDSLMP----|EMS.NATEVT.HYDMET.DT/SD|Sand Dust Storm|POINT|G||
|2008||![](./images/WAS-WSFGSOP----.png)|![](./images-std/0.was-wsfgsop----.png)|![](./images-jmsml/WAS-WSFGSOP----.png)|WAS-WSFGSOP----|EMS.NATEVT.HYDMET.FG|Fog|POINT|G||
|2009||![](./images/WAS-WSGRL-P----.png)|![](./images-std/0.was-wsgrl-p----.png)|![](./images-jmsml/WAS-WSGRL-P----.png)|WAS-WSGRL-P----|EMS.NATEVT.HYDMET.HL|Hail|POINT|G||
|2010||![](./images/WAS-WSR-LIP----.png)|![](./images-std/0.was-wsr-lip----.png)|![](./images-jmsml/WAS-WSR-LIP----.png)|WAS-WSR-LIP----|EMS.NATEVT.HYDMET.RA|Rain|POINT|G||
|2011||![](./images/WAS-WSS-LIP----.png)|![](./images-std/0.was-wss-lip----.png)|![](./images-jmsml/WAS-WSS-LIP----.png)|WAS-WSS-LIP----|EMS.NATEVT.HYDMET.SN|Snow|POINT|G||
|2012||![](./images/WAS-WST-FCP----.png)|![](./images-std/0.was-wst-fcp----.png)|![](./images-jmsml/WAS-WST-FCP----.png)|WAS-WST-FCP----|EMS.NATEVT.HYDMET.TNDO|Tornado|POINT|G||
|2013||![](./images/WAS-WSTMH-P----.png)|![](./images-std/0.was-wstmh-p----.png)|![](./images-jmsml/WAS-WSTMH-P----.png)|WAS-WSTMH-P----|EMS.NATEVT.HYDMET.TSTRM|Thunder Storm|POINT|G||
|2014||![](./images/WAS-WSTSS-P----.png)|![](./images-std/0.was-wstss-p----.png)|![](./images-jmsml/WAS-WSTSS-P----.png)|WAS-WSTSS-P----|EMS.NATEVT.HYDMET.TRPCYC|Tropical Cyclone|POINT|G||
|2015||![](./images/WAS-WSVE--P----.png)|![](./images-std/0.was-wsve--p----.png)|![](./images-jmsml/WAS-WSVE--P----.png)|WAS-WSVE--P----|EMS.NATEVT.GEO.VOLERN|Volcanic Eruption|POINT|G||
|2016||![](./images/WOS-HPBA--P----.png)|![](./images-std/0.wos-hpba--p----.png)|![](./images-jmsml/WOS-HPBA--P----.png)|WOS-HPBA--P----|EMS.INFSTR.TSP.ANCRG|Ship Anchorage|POINT|G||
|2017||![](./images/WOS-ML----P----.png)|![](./images-std/0.wos-ml----p----.png)|![](./images-jmsml/WOS-ML----P----.png)|WOS-ML----P----|EMS.INFSTR.TSP.LCK|Lock|POINT|G||
|2018||![](./images/OHPPF----------.png)|![](./images-std/2.ohppf----------.png)|![](./images-jmsml/OHPPF----------.png)|OHPPF----------|STBOPS.INDIV.SUICBM|IED Suicide Bomber|POINT|E|USAS CS 11-12|
