|Count|Significant Issue?|Image from DR_Export|Image from Standard|Full SIDC|Hierarchy Code|Name|Geometry|Appendix|
|---|---|---|---|---|---|---|---|---|
|1||![](./images/SFAP-----------.png)|![](./images-std/1.sfap-----------.jpeg)|SFAP-----------|WAR.AIRTRK|Air Track|POINT|A|
|2||![](./images/SFAPC----------.png)|![](./images-std/1.sfapc----------.jpeg)|SFAPC----------|WAR.AIRTRK.CVL|Civil Aircraft|POINT|A|
|3||![](./images/SFAPCF---------.png)|![](./images-std/1.sfapcf---------.jpeg)|SFAPCF---------|WAR.AIRTRK.CVL.FIXD|Fixed Wing|POINT|A|
|4||![](./images/SFAPCH---------.png)|![](./images-std/1.sfapch---------.jpeg)|SFAPCH---------|WAR.AIRTRK.CVL.ROT|Rotary Wing|POINT|A|
|5||![](./images/SFAPCL---------.png)|![](./images-std/1.sfapcl---------.jpeg)|SFAPCL---------|WAR.AIRTRK.CVL.LTA|Lighter Than Air|POINT|A|
|6||![](./images/SFAPM----------.png)|![](./images-std/1.sfapm----------.jpeg)|SFAPM----------|WAR.AIRTRK.MIL|Military|POINT|A|
|7||![](./images/SFAPMF---------.png)|![](./images-std/1.sfapmf---------.jpeg)|SFAPMF---------|WAR.AIRTRK.MIL.FIXD|Fixed Wing|POINT|A|
|8||![](./images/SFAPMFA--------.png)|![](./images-std/1.sfapmfa--------.jpeg)|SFAPMFA--------|WAR.AIRTRK.MIL.FIXD.ATK|Attack/Strike|POINT|A|
|9||![](./images/SFAPMFB--------.png)|![](./images-std/1.sfapmfb--------.jpeg)|SFAPMFB--------|WAR.AIRTRK.MIL.FIXD.BMB|Bomber|POINT|A|
|10||![](./images/SFAPMFC--------.png)|![](./images-std/1.sfapmfc--------.jpeg)|SFAPMFC--------|WAR.AIRTRK.MIL.FIXD.CGOALT|Cargo Airlift (Transport)|POINT|A|
|11||![](./images/SFAPMFCH-------.png)|![](./images-std/1.sfapmfch-------.jpeg)|SFAPMFCH-------|WAR.AIRTRK.MIL.FIXD.CGOALT.HVY|Cargo Airlift (Heavy)|POINT|A|
|12||![](./images/SFAPMFCL-------.png)|![](./images-std/1.sfapmfcl-------.jpeg)|SFAPMFCL-------|WAR.AIRTRK.MIL.FIXD.CGOALT.LIT|Cargo Airlift (Light)|POINT|A|
|13||![](./images/SFAPMFCM-------.png)|![](./images-std/1.sfapmfcm-------.jpeg)|SFAPMFCM-------|WAR.AIRTRK.MIL.FIXD.CGOALT.MDM|Cargo Airlift (Medium)|POINT|A|
|14||![](./images/SFAPMFD--------.png)|![](./images-std/1.sfapmfd--------.jpeg)|SFAPMFD--------|WAR.AIRTRK.MIL.FIXD.ABNCP|Airborne Command Post (C2)|POINT|A|
|15||![](./images/SFAPMFF--------.png)|![](./images-std/1.sfapmff--------.jpeg)|SFAPMFF--------|WAR.AIRTRK.MIL.FIXD.FTR|Fighter|POINT|A|
|16||![](./images/SFAPMFFI-------.png)|![](./images-std/1.sfapmffi-------.jpeg)|SFAPMFFI-------|WAR.AIRTRK.MIL.FIXD.FTR.INCR|Interceptor|POINT|A|
|17||![](./images/SFAPMFH--------.png)|![](./images-std/1.sfapmfh--------.jpeg)|SFAPMFH--------|WAR.AIRTRK.MIL.FIXD.CSAR|Combat Search And Rescue (Csar)|POINT|A|
|18||![](./images/SFAPMFJ--------.png)|![](./images-std/1.sfapmfj--------.jpeg)|SFAPMFJ--------|WAR.AIRTRK.MIL.FIXD.ECM|Electronic Countermeasures (Ecm/Jammer)|POINT|A|
|19||![](./images/SFAPMFK--------.png)|![](./images-std/1.sfapmfk--------.jpeg)|SFAPMFK--------|WAR.AIRTRK.MIL.FIXD.TNK|Tanker|POINT|A|
|20||![](./images/SFAPMFKB-------.png)|![](./images-std/1.sfapmfkb-------.jpeg)|SFAPMFKB-------|WAR.AIRTRK.MIL.FIXD.TNK.BOOM|Tanker Boom-Only|POINT|A|
|21||![](./images/SFAPMFKD-------.png)|![](./images-std/1.sfapmfkd-------.jpeg)|SFAPMFKD-------|WAR.AIRTRK.MIL.FIXD.TNK.DROG|Tanker Drogue-Only|POINT|A|
|22||![](./images/SFAPMFL--------.png)|![](./images-std/1.sfapmfl--------.jpeg)|SFAPMFL--------|WAR.AIRTRK.MIL.FIXD.VSTOL|V/Stol|POINT|A|
|23||![](./images/SFAPMFM--------.png)|![](./images-std/1.sfapmfm--------.jpeg)|SFAPMFM--------|WAR.AIRTRK.MIL.FIXD.SOF|Special Operations Forces (Sof)|POINT|A|
|24||![](./images/SFAPMFO--------.png)|![](./images-std/1.sfapmfo--------.jpeg)|SFAPMFO--------|WAR.AIRTRK.MIL.FIXD.MEDV|Medical Evacuation (Medevac)|POINT|A|
|25||![](./images/SFAPMFP--------.png)|![](./images-std/1.sfapmfp--------.jpeg)|SFAPMFP--------|WAR.AIRTRK.MIL.FIXD.PAT|Patrol|POINT|A|
|26||![](./images/SFAPMFPM-------.png)|![](./images-std/1.sfapmfpm-------.jpeg)|SFAPMFPM-------|WAR.AIRTRK.MIL.FIXD.PAT.MNECM|Mine Countermeasures|POINT|A|
|27||![](./images/SFAPMFPN-------.png)|![](./images-std/1.sfapmfpn-------.jpeg)|SFAPMFPN-------|WAR.AIRTRK.MIL.FIXD.PAT.ASUW|Antisurface Warfare (Asuw)|POINT|A|
|28||![](./images/SFAPMFQ--------.png)|![](./images-std/1.sfapmfq--------.jpeg)|SFAPMFQ--------|WAR.AIRTRK.MIL.FIXD.DRN|Drone (Rpv/Ua)|POINT|A|
|29||![](./images/SFAPMFQA-------.png)|![](./images-std/1.sfapmfqa-------.jpeg)|SFAPMFQA-------|WAR.AIRTRK.MIL.FIXD.DRN.ATK|Attack|POINT|A|
|30||![](./images/SFAPMFQB-------.png)|![](./images-std/1.sfapmfqb-------.jpeg)|SFAPMFQB-------|WAR.AIRTRK.MIL.FIXD.DRN.BMB|Bomber|POINT|A|
|31||![](./images/SFAPMFQC-------.png)|![](./images-std/1.sfapmfqc-------.jpeg)|SFAPMFQC-------|WAR.AIRTRK.MIL.FIXD.DRN.CGO|Cargo|POINT|A|
|32||![](./images/SFAPMFQD-------.png)|![](./images-std/1.sfapmfqd-------.jpeg)|SFAPMFQD-------|WAR.AIRTRK.MIL.FIXD.DRN.ABNCP|Airborne Command Post|POINT|A|
|33||![](./images/SFAPMFQF-------.png)|![](./images-std/1.sfapmfqf-------.jpeg)|SFAPMFQF-------|WAR.AIRTRK.MIL.FIXD.DRN.FTR|Fighter|POINT|A|
|34||![](./images/SFAPMFQH-------.png)|![](./images-std/1.sfapmfqh-------.jpeg)|SFAPMFQH-------|WAR.AIRTRK.MIL.FIXD.DRN.CSAR|Search & Rescue (Csar)|POINT|A|
|35||![](./images/SFAPMFQI-------.png)|![](./images-std/1.sfapmfqi-------.jpeg)|SFAPMFQI-------|WAR.AIRTRK.MIL.FIXD.DRN.MNECM|Mine Countermeasures|POINT|A|
|36||![](./images/SFAPMFQJ-------.png)|![](./images-std/1.sfapmfqj-------.jpeg)|SFAPMFQJ-------|WAR.AIRTRK.MIL.FIXD.DRN.ECM|Electronic Countermeasures (Jammer)|POINT|A|
|37||![](./images/SFAPMFQK-------.png)|![](./images-std/1.sfapmfqk-------.jpeg)|SFAPMFQK-------|WAR.AIRTRK.MIL.FIXD.DRN.TNK|Tanker|POINT|A|
|38||![](./images/SFAPMFQL-------.png)|![](./images-std/1.sfapmfql-------.jpeg)|SFAPMFQL-------|WAR.AIRTRK.MIL.FIXD.DRN.VSTOL|V/Stol|POINT|A|
|39||![](./images/SFAPMFQM-------.png)|![](./images-std/1.sfapmfqm-------.jpeg)|SFAPMFQM-------|WAR.AIRTRK.MIL.FIXD.DRN.SOF|Special Operations Forces (Sof)|POINT|A|
|40||![](./images/SFAPMFQN-------.png)|![](./images-std/1.sfapmfqn-------.jpeg)|SFAPMFQN-------|WAR.AIRTRK.MIL.FIXD.DRN.ASUW|Antisurface Warfare (Asuw)|POINT|A|
|41||![](./images/SFAPMFQO-------.png)|![](./images-std/1.sfapmfqo-------.jpeg)|SFAPMFQO-------|WAR.AIRTRK.MIL.FIXD.DRN.MEDV|Medevac|POINT|A|
|42||![](./images/SFAPMFQP-------.png)|![](./images-std/1.sfapmfqp-------.jpeg)|SFAPMFQP-------|WAR.AIRTRK.MIL.FIXD.DRN.PAT|Patrol|POINT|A|
|43||![](./images/SFAPMFQR-------.png)|![](./images-std/1.sfapmfqr-------.jpeg)|SFAPMFQR-------|WAR.AIRTRK.MIL.FIXD.DRN.RECON|Reconnaissance|POINT|A|
|44||![](./images/SFAPMFQRW------.png)|![](./images-std/1.sfapmfqrw------.jpeg)|SFAPMFQRW------|WAR.AIRTRK.MIL.FIXD.DRN.RECON.ABNEW|Airborne Early Warning (Aew)|POINT|A|
|45||![](./images/SFAPMFQRX------.png)|![](./images-std/1.sfapmfqrx------.jpeg)|SFAPMFQRX------|WAR.AIRTRK.MIL.FIXD.DRN.RECON.PHG|Photographic|POINT|A|
|46||![](./images/SFAPMFQRZ------.png)|![](./images-std/1.sfapmfqrz------.jpeg)|SFAPMFQRZ------|WAR.AIRTRK.MIL.FIXD.DRN.RECON.ESM|Electronic Surveillance Measures|POINT|A|
|47||![](./images/SFAPMFQS-------.png)|![](./images-std/1.sfapmfqs-------.jpeg)|SFAPMFQS-------|WAR.AIRTRK.MIL.FIXD.DRN.ASBW|Antisubmarine Warfare (Asw)|POINT|A|
|48||![](./images/SFAPMFQT-------.png)|![](./images-std/1.sfapmfqt-------.jpeg)|SFAPMFQT-------|WAR.AIRTRK.MIL.FIXD.DRN.TNE|Trainer|POINT|A|
|49||![](./images/SFAPMFQU-------.png)|![](./images-std/1.sfapmfqu-------.jpeg)|SFAPMFQU-------|WAR.AIRTRK.MIL.FIXD.DRN.UTY|Utility|POINT|A|
|50||![](./images/SFAPMFQY-------.png)|![](./images-std/1.sfapmfqy-------.jpeg)|SFAPMFQY-------|WAR.AIRTRK.MIL.FIXD.DRN.COMM|Communications|POINT|A|
|51||![](./images/SFAPMFR--------.png)|![](./images-std/1.sfapmfr--------.jpeg)|SFAPMFR--------|WAR.AIRTRK.MIL.FIXD.RECON|Reconnaissance|POINT|A|
|52||![](./images/SFAPMFRW-------.png)|![](./images-std/1.sfapmfrw-------.jpeg)|SFAPMFRW-------|WAR.AIRTRK.MIL.FIXD.RECON.ABNEW|Airborne Early Warning (Aew)|POINT|A|
|53||![](./images/SFAPMFRX-------.png)|![](./images-std/1.sfapmfrx-------.jpeg)|SFAPMFRX-------|WAR.AIRTRK.MIL.FIXD.RECON.PHG|Photographic|POINT|A|
|54||![](./images/SFAPMFRZ-------.png)|![](./images-std/1.sfapmfrz-------.jpeg)|SFAPMFRZ-------|WAR.AIRTRK.MIL.FIXD.RECON.ESM|Electronic Surveillance Measures|POINT|A|
|55||![](./images/SFAPMFS--------.png)|![](./images-std/1.sfapmfs--------.jpeg)|SFAPMFS--------|WAR.AIRTRK.MIL.FIXD.ASBWCB|Antisubmarine Warfare (Asw) Carrier Based|POINT|A|
|56||![](./images/SFAPMFT--------.png)|![](./images-std/1.sfapmft--------.jpeg)|SFAPMFT--------|WAR.AIRTRK.MIL.FIXD.TNE|Trainer|POINT|A|
|57||![](./images/SFAPMFU--------.png)|![](./images-std/1.sfapmfu--------.jpeg)|SFAPMFU--------|WAR.AIRTRK.MIL.FIXD.UTY|Utility|POINT|A|
|58||![](./images/SFAPMFUH-------.png)|![](./images-std/1.sfapmfuh-------.jpeg)|SFAPMFUH-------|WAR.AIRTRK.MIL.FIXD.UTY.HVY|Utility (Heavy)|POINT|A|
|59||![](./images/SFAPMFUL-------.png)|![](./images-std/1.sfapmful-------.jpeg)|SFAPMFUL-------|WAR.AIRTRK.MIL.FIXD.UTY.LIT|Utility (Light)|POINT|A|
|60||![](./images/SFAPMFUM-------.png)|![](./images-std/1.sfapmfum-------.jpeg)|SFAPMFUM-------|WAR.AIRTRK.MIL.FIXD.UTY.MDM|Utility (Medium)|POINT|A|
|61||![](./images/SFAPMFY--------.png)|![](./images-std/1.sfapmfy--------.jpeg)|SFAPMFY--------|WAR.AIRTRK.MIL.FIXD.COMM|Communications|POINT|A|
|62||![](./images/SFAPMH---------.png)|![](./images-std/1.sfapmh---------.jpeg)|SFAPMH---------|WAR.AIRTRK.MIL.ROT|Rotary Wing|POINT|A|
|63||![](./images/SFAPMHA--------.png)|![](./images-std/1.sfapmha--------.jpeg)|SFAPMHA--------|WAR.AIRTRK.MIL.ROT.ATK|Attack|POINT|A|
|64||![](./images/SFAPMHC--------.png)|![](./images-std/1.sfapmhc--------.jpeg)|SFAPMHC--------|WAR.AIRTRK.MIL.ROT.CGOALT|Cargo Airlift (Transport)|POINT|A|
|65||![](./images/SFAPMHCH-------.png)|![](./images-std/1.sfapmhch-------.jpeg)|SFAPMHCH-------|WAR.AIRTRK.MIL.ROT.CGOALT.HVY|Cargo Airlift (Heavy)|POINT|A|
|66||![](./images/SFAPMHCL-------.png)|![](./images-std/1.sfapmhcl-------.jpeg)|SFAPMHCL-------|WAR.AIRTRK.MIL.ROT.CGOALT.LIT|Cargo Airlift (Light)|POINT|A|
|67||![](./images/SFAPMHCM-------.png)|![](./images-std/1.sfapmhcm-------.jpeg)|SFAPMHCM-------|WAR.AIRTRK.MIL.ROT.CGOALT.MDM|Cargo Airlift (Medium)|POINT|A|
|68||![](./images/SFAPMHD--------.png)|![](./images-std/1.sfapmhd--------.jpeg)|SFAPMHD--------|WAR.AIRTRK.MIL.ROT.ABNCP|Airborne Command Post (C2)|POINT|A|
|69||![](./images/SFAPMHH--------.png)|![](./images-std/1.sfapmhh--------.jpeg)|SFAPMHH--------|WAR.AIRTRK.MIL.ROT.CSAR|Combat Search And Rescue (Csar)|POINT|A|
|70||![](./images/SFAPMHI--------.png)|![](./images-std/1.sfapmhi--------.jpeg)|SFAPMHI--------|WAR.AIRTRK.MIL.ROT.MNECM|Mine Countermeasures|POINT|A|
|71||![](./images/SFAPMHJ--------.png)|![](./images-std/1.sfapmhj--------.jpeg)|SFAPMHJ--------|WAR.AIRTRK.MIL.ROT.ECM|Electronic Countermeasures (Ecm/Jammer)|POINT|A|
|72||![](./images/SFAPMHK--------.png)|![](./images-std/1.sfapmhk--------.jpeg)|SFAPMHK--------|WAR.AIRTRK.MIL.ROT.TNK|Tanker|POINT|A|
|73||![](./images/SFAPMHM--------.png)|![](./images-std/1.sfapmhm--------.jpeg)|SFAPMHM--------|WAR.AIRTRK.MIL.ROT.SOF|Special Operations Forces (Sof)|POINT|A|
|74||![](./images/SFAPMHO--------.png)|![](./images-std/1.sfapmho--------.jpeg)|SFAPMHO--------|WAR.AIRTRK.MIL.ROT.MEDV|Medevac|POINT|A|
|75||![](./images/SFAPMHQ--------.png)|![](./images-std/1.sfapmhq--------.jpeg)|SFAPMHQ--------|WAR.AIRTRK.MIL.ROT.DRN|Drone (Rpv/Ua)|POINT|A|
|76||![](./images/SFAPMHR--------.png)|![](./images-std/1.sfapmhr--------.jpeg)|SFAPMHR--------|WAR.AIRTRK.MIL.ROT.RECON|Reconnaissance|POINT|A|
|77||![](./images/SFAPMHS--------.png)|![](./images-std/1.sfapmhs--------.jpeg)|SFAPMHS--------|WAR.AIRTRK.MIL.ROT.ASBW|Antisubmarine Warfare/Mpa|POINT|A|
|78||![](./images/SFAPMHT--------.png)|![](./images-std/1.sfapmht--------.jpeg)|SFAPMHT--------|WAR.AIRTRK.MIL.ROT.TNE|Trainer|POINT|A|
|79||![](./images/SFAPMHU--------.png)|![](./images-std/1.sfapmhu--------.jpeg)|SFAPMHU--------|WAR.AIRTRK.MIL.ROT.UTY|Utility|POINT|A|
|80||![](./images/SFAPMHUH-------.png)|![](./images-std/1.sfapmhuh-------.jpeg)|SFAPMHUH-------|WAR.AIRTRK.MIL.ROT.UTY.HVY|Utility (Heavy)|POINT|A|
|81||![](./images/SFAPMHUL-------.png)|![](./images-std/1.sfapmhul-------.jpeg)|SFAPMHUL-------|WAR.AIRTRK.MIL.ROT.UTY.LIT|Utility (Light)|POINT|A|
|82||![](./images/SFAPMHUM-------.png)|![](./images-std/1.sfapmhum-------.jpeg)|SFAPMHUM-------|WAR.AIRTRK.MIL.ROT.UTY.MDM|Utility (Medium)|POINT|A|
|83||![](./images/SFAPML---------.png)|![](./images-std/1.sfapml---------.jpeg)|SFAPML---------|WAR.AIRTRK.MIL.LTA|Lighter Than Air|POINT|A|
|84||![](./images/SFAPW----------.png)|![](./images-std/1.sfapw----------.jpeg)|SFAPW----------|WAR.AIRTRK.WPN|Weapon|POINT|A|
|85||![](./images/SFAPWB---------.png)|![](./images-std/1.sfapwb---------.jpeg)|SFAPWB---------|WAR.AIRTRK.WPN.BM|Bomb|POINT|A|
|86||![](./images/SFAPWD---------.png)|![](./images-std/1.sfapwd---------.jpeg)|SFAPWD---------|WAR.AIRTRK.WPN.DCY|Decoy|POINT|A|
|87||![](./images/SFAPWM---------.png)|![](./images-std/1.sfapwm---------.jpeg)|SFAPWM---------|WAR.AIRTRK.WPN.MSLIF|Missile In Flight|POINT|A|
|88||![](./images/SFAPWMA--------.png)|![](./images-std/1.sfapwma--------.jpeg)|SFAPWMA--------|WAR.AIRTRK.WPN.MSLIF.ALM|Air Launched Missile|POINT|A|
|89||![](./images/SFAPWMAA-------.png)|![](./images-std/1.sfapwmaa-------.jpeg)|SFAPWMAA-------|WAR.AIRTRK.WPN.MSLIF.ALM.AAM|Air-To-Air Missile (Aam)|POINT|A|
|90||![](./images/SFAPWMAP-------.png)|![](./images-std/1.sfapwmap-------.jpeg)|SFAPWMAP-------|WAR.AIRTRK.WPN.MSLIF.ALM.ASPC|Air-To-Space Missile|POINT|A|
|91||![](./images/SFAPWMAS-------.png)|![](./images-std/1.sfapwmas-------.jpeg)|SFAPWMAS-------|WAR.AIRTRK.WPN.MSLIF.ALM.ASM|Air-To-Surface Missile (Asm)|POINT|A|
|92||![](./images/SFAPWMB--------.png)|![](./images-std/1.sfapwmb--------.jpeg)|SFAPWMB--------|WAR.AIRTRK.WPN.MSLIF.BLST|Ballistic Missile|POINT|A|
|93||![](./images/SFAPWMCM-------.png)|![](./images-std/1.sfapwmcm-------.jpeg)|SFAPWMCM-------|WAR.AIRTRK.WPN.MSLIF.CM|Cruise Missile|POINT|A|
|94||![](./images/SFAPWMS--------.png)|![](./images-std/1.sfapwms--------.jpeg)|SFAPWMS--------|WAR.AIRTRK.WPN.MSLIF.SLM|Surface Launched Missile|POINT|A|
|95||![](./images/SFAPWMSA-------.png)|![](./images-std/1.sfapwmsa-------.jpeg)|SFAPWMSA-------|WAR.AIRTRK.WPN.MSLIF.SLM.SAM|Surface-To-Air Missile (Sam)|POINT|A|
|96||![](./images/SFAPWMSB-------.png)|![](./images-std/1.sfapwmsb-------.jpeg)|SFAPWMSB-------|WAR.AIRTRK.WPN.MSLIF.SLM.ABM|Antiballistic Missile (Abm)|POINT|A|
|97||![](./images/SFAPWMSS-------.png)|![](./images-std/1.sfapwmss-------.jpeg)|SFAPWMSS-------|WAR.AIRTRK.WPN.MSLIF.SLM.SSM|Surface-To-Surface Missile (Ssm)|POINT|A|
|98||![](./images/SFAPWMSU-------.png)|![](./images-std/1.sfapwmsu-------.jpeg)|SFAPWMSU-------|WAR.AIRTRK.WPN.MSLIF.SLM.SSUM|Surface-To-Subsurface Missile|POINT|A|
|99||![](./images/SFAPWMU--------.png)|![](./images-std/1.sfapwmu--------.jpeg)|SFAPWMU--------|WAR.AIRTRK.WPN.MSLIF.SBSM|Subsurface-To-Surface Missile (S/Ssm)|POINT|A|
|100||![](./images/SFFP-----------.png)|![](./images-std/1.sffp-----------.jpeg)|SFFP-----------|WAR.SOFUNT|Special Operations Forces (Sof) Unit|POINT|A|
|101||![](./images/SFFPA----------.png)|![](./images-std/1.sffpa----------.jpeg)|SFFPA----------|WAR.SOFUNT.AVN|Sof Unit Aviation|POINT|A|
|102||![](./images/SFFPAF---------.png)|![](./images-std/1.sffpaf---------.jpeg)|SFFPAF---------|WAR.SOFUNT.AVN.FIXD|Sof Unit Fixed Wing|POINT|A|
|103||![](./images/SFFPAFA--------.png)|![](./images-std/1.sffpafa--------.jpeg)|SFFPAFA--------|WAR.SOFUNT.AVN.FIXD.ATK|Sof Unit Attack|POINT|A|
|104||![](./images/SFFPAFK--------.png)|![](./images-std/1.sffpafk--------.jpeg)|SFFPAFK--------|WAR.SOFUNT.AVN.FIXD.RFE|Sof Unit Refuel|POINT|A|
|105||![](./images/SFFPAFU--------.png)|![](./images-std/1.sffpafu--------.jpeg)|SFFPAFU--------|WAR.SOFUNT.AVN.FIXD.UTY|Sof Unit Utility|POINT|A|
|106||![](./images/SFFPAFUH-------.png)|![](./images-std/1.sffpafuh-------.jpeg)|SFFPAFUH-------|WAR.SOFUNT.AVN.FIXD.UTY.HVY|Sof Unit Utility (Heavy)|POINT|A|
|107||![](./images/SFFPAFUL-------.png)|![](./images-std/1.sffpaful-------.jpeg)|SFFPAFUL-------|WAR.SOFUNT.AVN.FIXD.UTY.LIT|Sof Unit Utility (Light)|POINT|A|
|108||![](./images/SFFPAFUM-------.png)|![](./images-std/1.sffpafum-------.jpeg)|SFFPAFUM-------|WAR.SOFUNT.AVN.FIXD.UTY.MDM|Sof Unit Utility (Medium)|POINT|A|
|109||![](./images/SFFPAH---------.png)|![](./images-std/1.sffpah---------.jpeg)|SFFPAH---------|WAR.SOFUNT.AVN.ROT|Sof Unit Rotary Wing|POINT|A|
|110||![](./images/SFFPAHA--------.png)|![](./images-std/1.sffpaha--------.jpeg)|SFFPAHA--------|WAR.SOFUNT.AVN.ROT.ATK|Sof Unit Attack|POINT|A|
|111||![](./images/SFFPAHH--------.png)|![](./images-std/1.sffpahh--------.jpeg)|SFFPAHH--------|WAR.SOFUNT.AVN.ROT.CSAR|Sof Unit Combat Search And Rescue|POINT|A|
|112||![](./images/SFFPAHU--------.png)|![](./images-std/1.sffpahu--------.jpeg)|SFFPAHU--------|WAR.SOFUNT.AVN.ROT.UTY|Sof Unit Utility|POINT|A|
|113||![](./images/SFFPAHUH-------.png)|![](./images-std/1.sffpahuh-------.jpeg)|SFFPAHUH-------|WAR.SOFUNT.AVN.ROT.UTY.HVY|Sof Unit Utility (Heavy)|POINT|A|
|114||![](./images/SFFPAHUL-------.png)|![](./images-std/1.sffpahul-------.jpeg)|SFFPAHUL-------|WAR.SOFUNT.AVN.ROT.UTY.LIT|Sof Unit Utility (Light)|POINT|A|
|115||![](./images/SFFPAHUM-------.png)|![](./images-std/1.sffpahum-------.jpeg)|SFFPAHUM-------|WAR.SOFUNT.AVN.ROT.UTY.MDM|Sof Unit Utility (Medium)|POINT|A|
|116||![](./images/SFFPAV---------.png)|![](./images-std/1.sffpav---------.jpeg)|SFFPAV---------|WAR.SOFUNT.AVN.VSTOL|Sof Unit V/Stol|POINT|A|
|117||![](./images/SFFPB----------.png)|![](./images-std/1.sffpb----------.jpeg)|SFFPB----------|WAR.SOFUNT.SUP|Sof Unit Support|POINT|A|
|118||![](./images/SFFPG----------.png)|![](./images-std/1.sffpg----------.jpeg)|SFFPG----------|WAR.SOFUNT.GRD|Sof Unit Ground|POINT|A|
|119||![](./images/SFFPGC---------.png)|![](./images-std/1.sffpgc---------.jpeg)|SFFPGC---------|WAR.SOFUNT.GRD.CVLAFF|Sof Unit Civil Affairs|POINT|A|
|120||![](./images/SFFPGP---------.png)|![](./images-std/1.sffpgp---------.jpeg)|SFFPGP---------|WAR.SOFUNT.GRD.PSYOP|Sof Unit Psychological Operations (Psyop)|POINT|A|
|121||![](./images/SFFPGPA--------.png)|![](./images-std/1.sffpgpa--------.jpeg)|SFFPGPA--------|WAR.SOFUNT.GRD.PSYOP.FIXAVN|Sof Unit Fixed Wing Aviation|POINT|A|
|122||![](./images/SFFPGR---------.png)|![](./images-std/1.sffpgr---------.jpeg)|SFFPGR---------|WAR.SOFUNT.GRD.RGR|Sof Unit Ranger|POINT|A|
|123||![](./images/SFFPGS---------.png)|![](./images-std/1.sffpgs---------.jpeg)|SFFPGS---------|WAR.SOFUNT.GRD.SOF|Sof Unit Special Forces|POINT|A|
|124||![](./images/SFFPN----------.png)|![](./images-std/1.sffpn----------.jpeg)|SFFPN----------|WAR.SOFUNT.NAV|Sof Unit Sof Unit Naval|POINT|A|
|125||![](./images/SFFPNB---------.png)|![](./images-std/1.sffpnb---------.jpeg)|SFFPNB---------|WAR.SOFUNT.NAV.SBT|Sof Unit Special Boat|POINT|A|
|126||![](./images/SFFPNN---------.png)|![](./images-std/1.sffpnn---------.jpeg)|SFFPNN---------|WAR.SOFUNT.NAV.SSSNR|Sof Unit Special Ssnr|POINT|A|
|127||![](./images/SFFPNS---------.png)|![](./images-std/1.sffpns---------.jpeg)|SFFPNS---------|WAR.SOFUNT.NAV.SEAL|Sof Unit Seal|POINT|A|
|128||![](./images/SFFPNU---------.png)|![](./images-std/1.sffpnu---------.jpeg)|SFFPNU---------|WAR.SOFUNT.NAV.UH2DML|Sof Unit Underwater Demolition Team|POINT|A|
|129||![](./images/SFGP-----------.png)|![](./images-std/1.sfgp-----------.jpeg)|SFGP-----------|WAR.GRDTRK|Ground Track|POINT|A|
|130||![](./images/SFGPE----------.png)|![](./images-std/1.sfgpe----------.jpeg)|SFGPE----------|WAR.GRDTRK.EQT|Ground Track Equipment|POINT|A|
|131||![](./images/SFGPES---------.png)|![](./images-std/1.sfgpes---------.jpeg)|SFGPES---------|WAR.GRDTRK.EQT.SNS|Sensor|POINT|A|
|132||![](./images/SFGPESE--------.png)|![](./images-std/1.sfgpese--------.jpeg)|SFGPESE--------|WAR.GRDTRK.EQT.SNS.EMP|Emplaced Sensor|POINT|A|
|133||![](./images/SFGPESR--------.png)|![](./images-std/1.sfgpesr--------.jpeg)|SFGPESR--------|WAR.GRDTRK.EQT.SNS.RAD|Radar|POINT|A|
|134||![](./images/SFGPEV---------.png)|![](./images-std/1.sfgpev---------.jpeg)|SFGPEV---------|WAR.GRDTRK.EQT.GRDVEH|Ground Vehicle|POINT|A|
|135||![](./images/SFGPEVA--------.png)|![](./images-std/1.sfgpeva--------.jpeg)|SFGPEVA--------|WAR.GRDTRK.EQT.GRDVEH.ARMD|Armored Vehicle|POINT|A|
|136||![](./images/SFGPEVAA-------.png)|![](./images-std/1.sfgpevaa-------.jpeg)|SFGPEVAA-------|WAR.GRDTRK.EQT.GRDVEH.ARMD.ARMPC|Armored Personnel Carrier|POINT|A|
|137||![](./images/SFGPEVAAR------.png)|![](./images-std/1.sfgpevaar------.jpeg)|SFGPEVAAR------|WAR.GRDTRK.EQT.GRDVEH.ARMD.ARMPC.RCY|Armored Personnel Carrier Recovery|POINT|A|
|138||![](./images/SFGPEVAC-------.png)|![](./images-std/1.sfgpevac-------.jpeg)|SFGPEVAC-------|WAR.GRDTRK.EQT.GRDVEH.ARMD.C2V|C2V/Acv|POINT|A|
|139||![](./images/SFGPEVAI-------.png)|![](./images-std/1.sfgpevai-------.jpeg)|SFGPEVAI-------|WAR.GRDTRK.EQT.GRDVEH.ARMD.ARMINF|Armored Infantry|POINT|A|
|140||![](./images/SFGPEVAL-------.png)|![](./images-std/1.sfgpeval-------.jpeg)|SFGPEVAL-------|WAR.GRDTRK.EQT.GRDVEH.ARMD.LARMVH|Light Armored Vehicle|POINT|A|
|141||![](./images/SFGPEVAS-------.png)|![](./images-std/1.sfgpevas-------.jpeg)|SFGPEVAS-------|WAR.GRDTRK.EQT.GRDVEH.ARMD.CSSVEH|Combat Service Support Vehicle|POINT|A|
|142||![](./images/SFGPEVAT-------.png)|![](./images-std/1.sfgpevat-------.jpeg)|SFGPEVAT-------|WAR.GRDTRK.EQT.GRDVEH.ARMD.TANK|Tank|POINT|A|
|143||![](./images/SFGPEVATH------.png)|![](./images-std/1.sfgpevath------.jpeg)|SFGPEVATH------|WAR.GRDTRK.EQT.GRDVEH.ARMD.TANK.HVY|Tank Heavy|POINT|A|
|144||![](./images/SFGPEVATHR-----.png)|![](./images-std/1.sfgpevathr-----.jpeg)|SFGPEVATHR-----|WAR.GRDTRK.EQT.GRDVEH.ARMD.TANK.HVY.RCY|Tank Heavy Recovery|POINT|A|
|145||![](./images/SFGPEVATL------.png)|![](./images-std/1.sfgpevatl------.jpeg)|SFGPEVATL------|WAR.GRDTRK.EQT.GRDVEH.ARMD.TANK.LIT|Tank Light|POINT|A|
|146||![](./images/SFGPEVATLR-----.png)|![](./images-std/1.sfgpevatlr-----.jpeg)|SFGPEVATLR-----|WAR.GRDTRK.EQT.GRDVEH.ARMD.TANK.LIT.RCY|Tank Light Recovery|POINT|A|
|147||![](./images/SFGPEVATM------.png)|![](./images-std/1.sfgpevatm------.jpeg)|SFGPEVATM------|WAR.GRDTRK.EQT.GRDVEH.ARMD.TANK.MDM|Tank Medium|POINT|A|
|148||![](./images/SFGPEVATMR-----.png)|![](./images-std/1.sfgpevatmr-----.jpeg)|SFGPEVATMR-----|WAR.GRDTRK.EQT.GRDVEH.ARMD.TANK.MDM.RCY|Tank Medium Recovery|POINT|A|
|149||![](./images/SFGPEVC--------.png)|![](./images-std/1.sfgpevc--------.jpeg)|SFGPEVC--------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH|Civilian Vehicle|POINT|A|
|150||![](./images/SFGPEVCA-------.png)|![](./images-std/1.sfgpevca-------.jpeg)|SFGPEVCA-------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.AUT|Automobile|POINT|A|
|151||![](./images/SFGPEVCAH------.png)|![](./images-std/1.sfgpevcah------.jpeg)|SFGPEVCAH------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.AUT.SDN|Sedan Automobile|POINT|A|
|152||![](./images/SFGPEVCAL------.png)|![](./images-std/1.sfgpevcal------.jpeg)|SFGPEVCAL------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.AUT.CPCT|Compact Automobile|POINT|A|
|153||![](./images/SFGPEVCAM------.png)|![](./images-std/1.sfgpevcam------.jpeg)|SFGPEVCAM------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.AUT.MDSZ|Midsize Automobile|POINT|A|
|154||![](./images/SFGPEVCF-------.png)|![](./images-std/1.sfgpevcf-------.jpeg)|SFGPEVCF-------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRLF|Tractor Trailer Truck With Flatbed Trailer|POINT|A|
|155||![](./images/SFGPEVCFH------.png)|![](./images-std/1.sfgpevcfh------.jpeg)|SFGPEVCFH------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRLF.LRG|Large/Heavy Flatbed Trailer Tractor Trailer Truck|POINT|A|
|156||![](./images/SFGPEVCFL------.png)|![](./images-std/1.sfgpevcfl------.jpeg)|SFGPEVCFL------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRLF.SMAL|Small/Light Flatbed Trailer Tractor Trailer Truck|POINT|A|
|157||![](./images/SFGPEVCFM------.png)|![](./images-std/1.sfgpevcfm------.jpeg)|SFGPEVCFM------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRLF.MDM|Medium Flatbed Trailer Tractor Trailer Truck|POINT|A|
|158||![](./images/SFGPEVCJ-------.png)|![](./images-std/1.sfgpevcj-------.jpeg)|SFGPEVCJ-------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.JP|Jeep Type Vehicle|POINT|A|
|159||![](./images/SFGPEVCJH------.png)|![](./images-std/1.sfgpevcjh------.jpeg)|SFGPEVCJH------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.JP.LRG|Large/Heavy Jeep Type Vehicle|POINT|A|
|160||![](./images/SFGPEVCJL------.png)|![](./images-std/1.sfgpevcjl------.jpeg)|SFGPEVCJL------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.JP.SMAL|Small/Light Jeep Type Vehicle|POINT|A|
|161||![](./images/SFGPEVCJM------.png)|![](./images-std/1.sfgpevcjm------.jpeg)|SFGPEVCJM------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.JP.MDM|Medium Jeep Type Vehicle|POINT|A|
|162||![](./images/SFGPEVCM-------.png)|![](./images-std/1.sfgpevcm-------.jpeg)|SFGPEVCM-------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.MPV|Multiple Passenger Vehicle|POINT|A|
|163||![](./images/SFGPEVCMH------.png)|![](./images-std/1.sfgpevcmh------.jpeg)|SFGPEVCMH------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.MPV.LBUS|Large Bus Multiple Passenger Vehicle|POINT|A|
|164||![](./images/SFGPEVCML------.png)|![](./images-std/1.sfgpevcml------.jpeg)|SFGPEVCML------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.MPV.VAN|Van Multiple Passenger Vehicle|POINT|A|
|165||![](./images/SFGPEVCMM------.png)|![](./images-std/1.sfgpevcmm------.jpeg)|SFGPEVCMM------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.MPV.SBUS|Small Bus Multiple Passenger Vehicle|POINT|A|
|166||![](./images/SFGPEVCO-------.png)|![](./images-std/1.sfgpevco-------.jpeg)|SFGPEVCO-------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.OBTRK|Open-Bed Truck|POINT|A|
|167||![](./images/SFGPEVCOH------.png)|![](./images-std/1.sfgpevcoh------.jpeg)|SFGPEVCOH------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.OBTRK.LRG|Large Open-Bed Truck|POINT|A|
|168||![](./images/SFGPEVCOL------.png)|![](./images-std/1.sfgpevcol------.jpeg)|SFGPEVCOL------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.OBTRK.PU|Pickup Open-Bed Truck|POINT|A|
|169||![](./images/SFGPEVCOM------.png)|![](./images-std/1.sfgpevcom------.jpeg)|SFGPEVCOM------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.OBTRK.SMAL|Small Open-Bed Truck|POINT|A|
|170||![](./images/SFGPEVCT-------.png)|![](./images-std/1.sfgpevct-------.jpeg)|SFGPEVCT-------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRL|Tractor Trailer Truck With Box Trailer|POINT|A|
|171||![](./images/SFGPEVCTH------.png)|![](./images-std/1.sfgpevcth------.jpeg)|SFGPEVCTH------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRL.LRG|Large/Heavy Box Trailer Tractor Trailer Truck|POINT|A|
|172||![](./images/SFGPEVCTL------.png)|![](./images-std/1.sfgpevctl------.jpeg)|SFGPEVCTL------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRL.SMAL|Small/Light Box Trailer Tractor Trailer Truck|POINT|A|
|173||![](./images/SFGPEVCTM------.png)|![](./images-std/1.sfgpevctm------.jpeg)|SFGPEVCTM------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.TRTRL.MDM|Medium Box Trailer Tractor Trailer Truck|POINT|A|
|174||![](./images/SFGPEVCU-------.png)|![](./images-std/1.sfgpevcu-------.jpeg)|SFGPEVCU-------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.UTYVEH|Utility Vehicle|POINT|A|
|175||![](./images/SFGPEVCUH------.png)|![](./images-std/1.sfgpevcuh------.jpeg)|SFGPEVCUH------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.UTYVEH.LBOX|Large Box Truck Utility Vehicle|POINT|A|
|176||![](./images/SFGPEVCUL------.png)|![](./images-std/1.sfgpevcul------.jpeg)|SFGPEVCUL------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.UTYVEH.SUV|Sport Utility Vehicle (Suv) Utility Vehicle|POINT|A|
|177||![](./images/SFGPEVCUM------.png)|![](./images-std/1.sfgpevcum------.jpeg)|SFGPEVCUM------|WAR.GRDTRK.EQT.GRDVEH.CVLVEH.UTYVEH.SBOX|Small Box Truck Utility Vehicle|POINT|A|
|178||![](./images/SFGPEVE--------.png)|![](./images-std/1.sfgpeve--------.jpeg)|SFGPEVE--------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH|Engineer Vehicle|POINT|A|
|179||![](./images/SFGPEVEA-------.png)|![](./images-std/1.sfgpevea-------.jpeg)|SFGPEVEA-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.MCVEH|Mine Clearing Vehicle|POINT|A|
|180||![](./images/SFGPEVEAA------.png)|![](./images-std/1.sfgpeveaa------.jpeg)|SFGPEVEAA------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.MCVEH.ARMVM|Armored Mounted Mine Clearing Vehicle|POINT|A|
|181||![](./images/SFGPEVEAT------.png)|![](./images-std/1.sfgpeveat------.jpeg)|SFGPEVEAT------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.MCVEH.TM|Trailer Mounted Mine Clearing Vehicle|POINT|A|
|182||![](./images/SFGPEVEB-------.png)|![](./images-std/1.sfgpeveb-------.jpeg)|SFGPEVEB-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.BRG|Bridge|POINT|A|
|183||![](./images/SFGPEVEC-------.png)|![](./images-std/1.sfgpevec-------.jpeg)|SFGPEVEC-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.CSNVEH|Construction Vehicle|POINT|A|
|184||![](./images/SFGPEVED-------.png)|![](./images-std/1.sfgpeved-------.jpeg)|SFGPEVED-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.DZR|Dozer|POINT|A|
|185||![](./images/SFGPEVEDA------.png)|![](./images-std/1.sfgpeveda------.jpeg)|SFGPEVEDA------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.DZR.ARMD|Armored Dozer|POINT|A|
|186||![](./images/SFGPEVEE-------.png)|![](./images-std/1.sfgpevee-------.jpeg)|SFGPEVEE-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.ERHMR|Earthmover|POINT|A|
|187||![](./images/SFGPEVEF-------.png)|![](./images-std/1.sfgpevef-------.jpeg)|SFGPEVEF-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.FRYTSP|Ferry Transporter|POINT|A|
|188||![](./images/SFGPEVEH-------.png)|![](./images-std/1.sfgpeveh-------.jpeg)|SFGPEVEH-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.BH|Backhoe|POINT|A|
|189||![](./images/SFGPEVEM-------.png)|![](./images-std/1.sfgpevem-------.jpeg)|SFGPEVEM-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.MLVEH|Mine Laying Vehicle|POINT|A|
|190||![](./images/SFGPEVEML------.png)|![](./images-std/1.sfgpeveml------.jpeg)|SFGPEVEML------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.MLVEH.TRKMV|Truck Mounted With Volcano|POINT|A|
|191||![](./images/SFGPEVEMV------.png)|![](./images-std/1.sfgpevemv------.jpeg)|SFGPEVEMV------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.MLVEH.ARMCV|Armored Carrier With Volcano|POINT|A|
|192||![](./images/SFGPEVER-------.png)|![](./images-std/1.sfgpever-------.jpeg)|SFGPEVER-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.ARMERV|Armored Engineer Recon Vehicle (Aerv)|POINT|A|
|193||![](./images/SFGPEVES-------.png)|![](./images-std/1.sfgpeves-------.jpeg)|SFGPEVES-------|WAR.GRDTRK.EQT.GRDVEH.ENGVEH.AST|Armored Assault|POINT|A|
|194||![](./images/SFGPEVM--------.png)|![](./images-std/1.sfgpevm--------.jpeg)|SFGPEVM--------|WAR.GRDTRK.EQT.GRDVEH.PKAN|Pack Animal(S)|POINT|A|
|195||![](./images/SFGPEVS--------.png)|![](./images-std/1.sfgpevs--------.jpeg)|SFGPEVS--------|WAR.GRDTRK.EQT.GRDVEH.MSLSPT|Missile Support Vehicle|POINT|A|
|196||![](./images/SFGPEVSC-------.png)|![](./images-std/1.sfgpevsc-------.jpeg)|SFGPEVSC-------|WAR.GRDTRK.EQT.GRDVEH.MSLSPT.CRN|Missile Support Vehicle Crane/Loading Device|POINT|A|
|197||![](./images/SFGPEVSP-------.png)|![](./images-std/1.sfgpevsp-------.jpeg)|SFGPEVSP-------|WAR.GRDTRK.EQT.GRDVEH.MSLSPT.PLNT|Missile Support Vehicle Propellant Transporter|POINT|A|
|198||![](./images/SFGPEVSR-------.png)|![](./images-std/1.sfgpevsr-------.jpeg)|SFGPEVSR-------|WAR.GRDTRK.EQT.GRDVEH.MSLSPT.TPTR|Missile Support Vehicle Transporter|POINT|A|
|199||![](./images/SFGPEVST-------.png)|![](./images-std/1.sfgpevst-------.jpeg)|SFGPEVST-------|WAR.GRDTRK.EQT.GRDVEH.MSLSPT.TLDR|Missile Support Vehicle Transloader|POINT|A|
|200||![](./images/SFGPEVSW-------.png)|![](./images-std/1.sfgpevsw-------.jpeg)|SFGPEVSW-------|WAR.GRDTRK.EQT.GRDVEH.MSLSPT.WH|Missile Support Vehicle Warhead Transporter|POINT|A|
|201||![](./images/SFGPEVT--------.png)|![](./images-std/1.sfgpevt--------.jpeg)|SFGPEVT--------|WAR.GRDTRK.EQT.GRDVEH.TRNLCO|Train Locomotive|POINT|A|
|202||![](./images/SFGPEVU--------.png)|![](./images-std/1.sfgpevu--------.jpeg)|SFGPEVU--------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH|Utility Vehicle|POINT|A|
|203||![](./images/SFGPEVUA-------.png)|![](./images-std/1.sfgpevua-------.jpeg)|SFGPEVUA-------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.AMBLNC|Ambulance|POINT|A|
|204||![](./images/SFGPEVUAA------.png)|![](./images-std/1.sfgpevuaa------.jpeg)|SFGPEVUAA------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.AMBLNC.ARMD|Armored Ambulance|POINT|A|
|205||![](./images/SFGPEVUB-------.png)|![](./images-std/1.sfgpevub-------.jpeg)|SFGPEVUB-------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.BUS|Bus|POINT|A|
|206||![](./images/SFGPEVUL-------.png)|![](./images-std/1.sfgpevul-------.jpeg)|SFGPEVUL-------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.LCCTRK|Limited Cross-Country Truck|POINT|A|
|207||![](./images/SFGPEVUR-------.png)|![](./images-std/1.sfgpevur-------.jpeg)|SFGPEVUR-------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.H2OCRT|Water Craft|POINT|A|
|208||![](./images/SFGPEVUS-------.png)|![](./images-std/1.sfgpevus-------.jpeg)|SFGPEVUS-------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.SEMI|Semi|POINT|A|
|209||![](./images/SFGPEVUSH------.png)|![](./images-std/1.sfgpevush------.jpeg)|SFGPEVUSH------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.SEMI.HVY|Semi Heavy|POINT|A|
|210||![](./images/SFGPEVUSL------.png)|![](./images-std/1.sfgpevusl------.jpeg)|SFGPEVUSL------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.SEMI.LIT|Semi Light|POINT|A|
|211||![](./images/SFGPEVUSM------.png)|![](./images-std/1.sfgpevusm------.jpeg)|SFGPEVUSM------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.SEMI.MDM|Semi Medium|POINT|A|
|212||![](./images/SFGPEVUT-------.png)|![](./images-std/1.sfgpevut-------.jpeg)|SFGPEVUT-------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.TOWTRK|Tow Truck|POINT|A|
|213||![](./images/SFGPEVUTH------.png)|![](./images-std/1.sfgpevuth------.jpeg)|SFGPEVUTH------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.TOWTRK.HVY|Tow Truck Heavy|POINT|A|
|214||![](./images/SFGPEVUTL------.png)|![](./images-std/1.sfgpevutl------.jpeg)|SFGPEVUTL------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.TOWTRK.LIT|Tow Truck Light|POINT|A|
|215||![](./images/SFGPEVUX-------.png)|![](./images-std/1.sfgpevux-------.jpeg)|SFGPEVUX-------|WAR.GRDTRK.EQT.GRDVEH.UTYVEH.CCTRK|Cross-Country Truck|POINT|A|
|216||![](./images/SFGPEWA--------.png)|![](./images-std/1.sfgpewa--------.jpeg)|SFGPEWA--------|WAR.GRDTRK.EQT.WPN.ADFG|Air Defense Gun|POINT|A|
|217||![](./images/SFGPEWAH-------.png)|![](./images-std/1.sfgpewah-------.jpeg)|SFGPEWAH-------|WAR.GRDTRK.EQT.WPN.ADFG.HVY|Air Defense Gun Heavy|POINT|A|
|218||![](./images/SFGPEWAL-------.png)|![](./images-std/1.sfgpewal-------.jpeg)|SFGPEWAL-------|WAR.GRDTRK.EQT.WPN.ADFG.LIT|Air Defense Gun Light|POINT|A|
|219||![](./images/SFGPEWAM-------.png)|![](./images-std/1.sfgpewam-------.jpeg)|SFGPEWAM-------|WAR.GRDTRK.EQT.WPN.ADFG.MDM|Air Defense Gun Medium|POINT|A|
|220||![](./images/SFGPEWD--------.png)|![](./images-std/1.sfgpewd--------.jpeg)|SFGPEWD--------|WAR.GRDTRK.EQT.WPN.DFG|Direct Fire Gun|POINT|A|
|221||![](./images/SFGPEWDH-------.png)|![](./images-std/1.sfgpewdh-------.jpeg)|SFGPEWDH-------|WAR.GRDTRK.EQT.WPN.DFG.HVY|Direct Fire Gun Heavy|POINT|A|
|222||![](./images/SFGPEWDHS------.png)|![](./images-std/1.sfgpewdhs------.jpeg)|SFGPEWDHS------|WAR.GRDTRK.EQT.WPN.DFG.HVY.SPD|Direct Fire Gun Heavy Self-Propelled|POINT|A|
|223||![](./images/SFGPEWDL-------.png)|![](./images-std/1.sfgpewdl-------.jpeg)|SFGPEWDL-------|WAR.GRDTRK.EQT.WPN.DFG.LIT|Direct Fire Gun Light|POINT|A|
|224||![](./images/SFGPEWDLS------.png)|![](./images-std/1.sfgpewdls------.jpeg)|SFGPEWDLS------|WAR.GRDTRK.EQT.WPN.DFG.LIT.SPD|Direct Fire Gun Light Self-Propelled|POINT|A|
|225||![](./images/SFGPEWDM-------.png)|![](./images-std/1.sfgpewdm-------.jpeg)|SFGPEWDM-------|WAR.GRDTRK.EQT.WPN.DFG.MDM|Direct Fire Gun Medium|POINT|A|
|226||![](./images/SFGPEWDMS------.png)|![](./images-std/1.sfgpewdms------.jpeg)|SFGPEWDMS------|WAR.GRDTRK.EQT.WPN.DFG.MDM.SPD|Direct Fire Gun Medium Self-Propelled|POINT|A|
|227||![](./images/SFGPEWG--------.png)|![](./images-std/1.sfgpewg--------.jpeg)|SFGPEWG--------|WAR.GRDTRK.EQT.WPN.ATG|Antitank Gun|POINT|A|
|228||![](./images/SFGPEWGH-------.png)|![](./images-std/1.sfgpewgh-------.jpeg)|SFGPEWGH-------|WAR.GRDTRK.EQT.WPN.ATG.HVY|Antitank Gun Heavy|POINT|A|
|229||![](./images/SFGPEWGL-------.png)|![](./images-std/1.sfgpewgl-------.jpeg)|SFGPEWGL-------|WAR.GRDTRK.EQT.WPN.ATG.LIT|Antitank Gun Light|POINT|A|
|230||![](./images/SFGPEWGM-------.png)|![](./images-std/1.sfgpewgm-------.jpeg)|SFGPEWGM-------|WAR.GRDTRK.EQT.WPN.ATG.MDM|Antitank Gun Medium|POINT|A|
|231||![](./images/SFGPEWGR-------.png)|![](./images-std/1.sfgpewgr-------.jpeg)|SFGPEWGR-------|WAR.GRDTRK.EQT.WPN.ATG.RECL|Antitank Gun Recoilless|POINT|A|
|232||![](./images/SFGPEWH--------.png)|![](./images-std/1.sfgpewh--------.jpeg)|SFGPEWH--------|WAR.GRDTRK.EQT.WPN.HOW|Howitzer|POINT|A|
|233||![](./images/SFGPEWHH-------.png)|![](./images-std/1.sfgpewhh-------.jpeg)|SFGPEWHH-------|WAR.GRDTRK.EQT.WPN.HOW.HVY|Howitzer Heavy|POINT|A|
|234||![](./images/SFGPEWHHS------.png)|![](./images-std/1.sfgpewhhs------.jpeg)|SFGPEWHHS------|WAR.GRDTRK.EQT.WPN.HOW.HVY.SPD|Howitzer Heavy Self-Propelled|POINT|A|
|235||![](./images/SFGPEWHL-------.png)|![](./images-std/1.sfgpewhl-------.jpeg)|SFGPEWHL-------|WAR.GRDTRK.EQT.WPN.HOW.LIT|Howitzer Light|POINT|A|
|236||![](./images/SFGPEWHLS------.png)|![](./images-std/1.sfgpewhls------.jpeg)|SFGPEWHLS------|WAR.GRDTRK.EQT.WPN.HOW.LIT.SPD|Howitzer Light Self-Propelled|POINT|A|
|237||![](./images/SFGPEWHM-------.png)|![](./images-std/1.sfgpewhm-------.jpeg)|SFGPEWHM-------|WAR.GRDTRK.EQT.WPN.HOW.MDM|Howitzer Medium|POINT|A|
|238||![](./images/SFGPEWHMS------.png)|![](./images-std/1.sfgpewhms------.jpeg)|SFGPEWHMS------|WAR.GRDTRK.EQT.WPN.HOW.MDM.SPD|Howitzer Medium Self-Propelled|POINT|A|
|239||![](./images/SFGPEWM--------.png)|![](./images-std/1.sfgpewm--------.jpeg)|SFGPEWM--------|WAR.GRDTRK.EQT.WPN.MSLL|Missile Launcher|POINT|A|
|240||![](./images/SFGPEWMA-------.png)|![](./images-std/1.sfgpewma-------.jpeg)|SFGPEWMA-------|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD|Air Defense (Ad) Missile Launcher|POINT|A|
|241||![](./images/SFGPEWMAI------.png)|![](./images-std/1.sfgpewmai------.jpeg)|SFGPEWMAI------|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.INTMR|Intermediate Range Ad Missile Launcher|POINT|A|
|242||![](./images/SFGPEWMAIE-----.png)|![](./images-std/1.sfgpewmaie-----.jpeg)|SFGPEWMAIE-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.INTMR.TELAR|Transporter Erector Launcher And Radar (Telar)|POINT|A|
|243||![](./images/SFGPEWMAIR-----.png)|![](./images-std/1.sfgpewmair-----.jpeg)|SFGPEWMAIR-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.INTMR.TLAR|Transporter Launcher And Radar (Tlar)|POINT|A|
|244||![](./images/SFGPEWMAL------.png)|![](./images-std/1.sfgpewmal------.jpeg)|SFGPEWMAL------|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.LNGR|Long Range Ad Missile Launcher|POINT|A|
|245||![](./images/SFGPEWMALE-----.png)|![](./images-std/1.sfgpewmale-----.jpeg)|SFGPEWMALE-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.LNGR.TELAR|Transporter Erector Launcher And Radar (Telar)|POINT|A|
|246||![](./images/SFGPEWMALR-----.png)|![](./images-std/1.sfgpewmalr-----.jpeg)|SFGPEWMALR-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.LNGR.TLAR|Transporter Launcher And Radar (Tlar)|POINT|A|
|247||![](./images/SFGPEWMAS------.png)|![](./images-std/1.sfgpewmas------.jpeg)|SFGPEWMAS------|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.SHTR|Short Range Ad Missile Launcher|POINT|A|
|248||![](./images/SFGPEWMASE-----.png)|![](./images-std/1.sfgpewmase-----.jpeg)|SFGPEWMASE-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.SHTR.TELAR|Transporter Erector Launcher And Radar (Telar)|POINT|A|
|249||![](./images/SFGPEWMASR-----.png)|![](./images-std/1.sfgpewmasr-----.jpeg)|SFGPEWMASR-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.SHTR.TLAR|Transporter Launcher And Radar (Tlar)|POINT|A|
|250||![](./images/SFGPEWMAT------.png)|![](./images-std/1.sfgpewmat------.jpeg)|SFGPEWMAT------|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.THT|Ad Missile Launcher Theater|POINT|A|
|251||![](./images/SFGPEWMATE-----.png)|![](./images-std/1.sfgpewmate-----.jpeg)|SFGPEWMATE-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.THT.TELAR|Transporter Erector Launcher And Radar (Telar)|POINT|A|
|252||![](./images/SFGPEWMATR-----.png)|![](./images-std/1.sfgpewmatr-----.jpeg)|SFGPEWMATR-----|WAR.GRDTRK.EQT.WPN.MSLL.ADFAD.THT.TLAR|Transporter Launcher And Radar (Tlar)|POINT|A|
|253||![](./images/SFGPEWMS-------.png)|![](./images-std/1.sfgpewms-------.jpeg)|SFGPEWMS-------|WAR.GRDTRK.EQT.WPN.MSLL.SUF|Surf-Surf (Ss) Missile Launcher|POINT|A|
|254||![](./images/SFGPEWMSI------.png)|![](./images-std/1.sfgpewmsi------.jpeg)|SFGPEWMSI------|WAR.GRDTRK.EQT.WPN.MSLL.SUF.INTMR|Intermediate Range Ss Missile Launcher|POINT|A|
|255||![](./images/SFGPEWMSL------.png)|![](./images-std/1.sfgpewmsl------.jpeg)|SFGPEWMSL------|WAR.GRDTRK.EQT.WPN.MSLL.SUF.LNGR|Long Range Ss Missile Launcher|POINT|A|
|256||![](./images/SFGPEWMSS------.png)|![](./images-std/1.sfgpewmss------.jpeg)|SFGPEWMSS------|WAR.GRDTRK.EQT.WPN.MSLL.SUF.SHTR|Short Range Ss Missile Launcher|POINT|A|
|257||![](./images/SFGPEWMT-------.png)|![](./images-std/1.sfgpewmt-------.jpeg)|SFGPEWMT-------|WAR.GRDTRK.EQT.WPN.MSLL.AT|Missile Launcher Antitank (At)|POINT|A|
|258||![](./images/SFGPEWMTH------.png)|![](./images-std/1.sfgpewmth------.jpeg)|SFGPEWMTH------|WAR.GRDTRK.EQT.WPN.MSLL.AT.HVY|Missile Launcher At Heavy|POINT|A|
|259||![](./images/SFGPEWMTL------.png)|![](./images-std/1.sfgpewmtl------.jpeg)|SFGPEWMTL------|WAR.GRDTRK.EQT.WPN.MSLL.AT.LIT|Missile Launcher At Light|POINT|A|
|260||![](./images/SFGPEWMTM------.png)|![](./images-std/1.sfgpewmtm------.jpeg)|SFGPEWMTM------|WAR.GRDTRK.EQT.WPN.MSLL.AT.MDM|Missile Launcher At Medium|POINT|A|
|261||![](./images/SFGPEWO--------.png)|![](./images-std/1.sfgpewo--------.jpeg)|SFGPEWO--------|WAR.GRDTRK.EQT.WPN.MORT|Mortar|POINT|A|
|262||![](./images/SFGPEWOH-------.png)|![](./images-std/1.sfgpewoh-------.jpeg)|SFGPEWOH-------|WAR.GRDTRK.EQT.WPN.MORT.HVY|Mortar Heavy|POINT|A|
|263||![](./images/SFGPEWOL-------.png)|![](./images-std/1.sfgpewol-------.jpeg)|SFGPEWOL-------|WAR.GRDTRK.EQT.WPN.MORT.LIT|Mortar Light|POINT|A|
|264||![](./images/SFGPEWOM-------.png)|![](./images-std/1.sfgpewom-------.jpeg)|SFGPEWOM-------|WAR.GRDTRK.EQT.WPN.MORT.MDM|Mortar Medium|POINT|A|
|265||![](./images/SFGPEWR--------.png)|![](./images-std/1.sfgpewr--------.jpeg)|SFGPEWR--------|WAR.GRDTRK.EQT.WPN.RIFWPN|Rifle/Automatic Weapon|POINT|A|
|266||![](./images/SFGPEWRH-------.png)|![](./images-std/1.sfgpewrh-------.jpeg)|SFGPEWRH-------|WAR.GRDTRK.EQT.WPN.RIFWPN.HMG|Heavy Machine Gun|POINT|A|
|267||![](./images/SFGPEWRL-------.png)|![](./images-std/1.sfgpewrl-------.jpeg)|SFGPEWRL-------|WAR.GRDTRK.EQT.WPN.RIFWPN.LMG|Light Machine Gun|POINT|A|
|268||![](./images/SFGPEWRR-------.png)|![](./images-std/1.sfgpewrr-------.jpeg)|SFGPEWRR-------|WAR.GRDTRK.EQT.WPN.RIFWPN.RIF|Rifle|POINT|A|
|269||![](./images/SFGPEWS--------.png)|![](./images-std/1.sfgpews--------.jpeg)|SFGPEWS--------|WAR.GRDTRK.EQT.WPN.SRL|Single Rocket Launcher|POINT|A|
|270||![](./images/SFGPEWSH-------.png)|![](./images-std/1.sfgpewsh-------.jpeg)|SFGPEWSH-------|WAR.GRDTRK.EQT.WPN.SRL.HVY|Single Rocket Launcher Heavy|POINT|A|
|271||![](./images/SFGPEWSL-------.png)|![](./images-std/1.sfgpewsl-------.jpeg)|SFGPEWSL-------|WAR.GRDTRK.EQT.WPN.SRL.LIT|Single Rocket Launcher Light|POINT|A|
|272||![](./images/SFGPEWSM-------.png)|![](./images-std/1.sfgpewsm-------.jpeg)|SFGPEWSM-------|WAR.GRDTRK.EQT.WPN.SRL.MDM|Single Rocket Launcher Medium|POINT|A|
|273||![](./images/SFGPEWT--------.png)|![](./images-std/1.sfgpewt--------.jpeg)|SFGPEWT--------|WAR.GRDTRK.EQT.WPN.ATRL|Antitank Rocket Launcher|POINT|A|
|274||![](./images/SFGPEWTH-------.png)|![](./images-std/1.sfgpewth-------.jpeg)|SFGPEWTH-------|WAR.GRDTRK.EQT.WPN.ATRL.HVY|Antitank Rocket Launcher Heavy|POINT|A|
|275||![](./images/SFGPEWTL-------.png)|![](./images-std/1.sfgpewtl-------.jpeg)|SFGPEWTL-------|WAR.GRDTRK.EQT.WPN.ATRL.LIT|Antitank Rocket Launcher Light|POINT|A|
|276||![](./images/SFGPEWTM-------.png)|![](./images-std/1.sfgpewtm-------.jpeg)|SFGPEWTM-------|WAR.GRDTRK.EQT.WPN.ATRL.MDM|Antitank Rocket Launcher Medium|POINT|A|
|277||![](./images/SFGPEWX--------.png)|![](./images-std/1.sfgpewx--------.jpeg)|SFGPEWX--------|WAR.GRDTRK.EQT.WPN.MRL|Multiple Rocket Launcher|POINT|A|
|278||![](./images/SFGPEWXH-------.png)|![](./images-std/1.sfgpewxh-------.jpeg)|SFGPEWXH-------|WAR.GRDTRK.EQT.WPN.MRL.HVY|Multiple Rocket Launcher Heavy|POINT|A|
|279||![](./images/SFGPEWXL-------.png)|![](./images-std/1.sfgpewxl-------.jpeg)|SFGPEWXL-------|WAR.GRDTRK.EQT.WPN.MRL.LIT|Multiple Rocket Launcher Light|POINT|A|
|280||![](./images/SFGPEWXM-------.png)|![](./images-std/1.sfgpewxm-------.jpeg)|SFGPEWXM-------|WAR.GRDTRK.EQT.WPN.MRL.MDM|Multiple Rocket Launcher Medium|POINT|A|
|281||![](./images/SFGPEWZ--------.png)|![](./images-std/1.sfgpewz--------.jpeg)|SFGPEWZ--------|WAR.GRDTRK.EQT.WPN.GREL|Grenade Launcher|POINT|A|
|282||![](./images/SFGPEWZH-------.png)|![](./images-std/1.sfgpewzh-------.jpeg)|SFGPEWZH-------|WAR.GRDTRK.EQT.WPN.GREL.HVY|Grenade Launcher Heavy|POINT|A|
|283||![](./images/SFGPEWZL-------.png)|![](./images-std/1.sfgpewzl-------.jpeg)|SFGPEWZL-------|WAR.GRDTRK.EQT.WPN.GREL.LIT|Grenade Launcher Light|POINT|A|
|284||![](./images/SFGPEWZM-------.png)|![](./images-std/1.sfgpewzm-------.jpeg)|SFGPEWZM-------|WAR.GRDTRK.EQT.WPN.GREL.MDM|Grenade Launcher Medium|POINT|A|
|285||![](./images/SFGPEXF--------.png)|![](./images-std/1.sfgpexf--------.jpeg)|SFGPEXF--------|WAR.GRDTRK.EQT.SPL.FLMTHR|Flame Thrower|POINT|A|
|286||![](./images/SFGPEXL--------.png)|![](./images-std/1.sfgpexl--------.jpeg)|SFGPEXL--------|WAR.GRDTRK.EQT.SPL.LSR|Laser|POINT|A|
|287||![](./images/SFGPEXM--------.png)|![](./images-std/1.sfgpexm--------.jpeg)|SFGPEXM--------|WAR.GRDTRK.EQT.SPL.LNDMNE|Land Mines|POINT|A|
|288||![](./images/SFGPEXMC-------.png)|![](./images-std/1.sfgpexmc-------.jpeg)|SFGPEXMC-------|WAR.GRDTRK.EQT.SPL.LNDMNE.CLM|Claymore|POINT|A|
|289||![](./images/SFGPEXML-------.png)|![](./images-std/1.sfgpexml-------.jpeg)|SFGPEXML-------|WAR.GRDTRK.EQT.SPL.LNDMNE.LTL|Less Than Lethal|POINT|A|
|290||![](./images/SFGPEXN--------.png)|![](./images-std/1.sfgpexn--------.jpeg)|SFGPEXN--------|WAR.GRDTRK.EQT.SPL.CBRNEQ|Cbrn Equipment|POINT|A|
|291||![](./images/SFGPIBA---H----.png)|![](./images-std/1.sfgpiba---h----.jpeg)|SFGPIBA---H----|WAR.GRDTRK.INS.MILBF.AB|Airport/Airbase|POINT|A|
|292||![](./images/SFGPIB----H----.png)|![](./images-std/1.sfgpib----h----.jpeg)|SFGPIB----H----|WAR.GRDTRK.INS.MILBF|Military Base/Facility|POINT|A|
|293||![](./images/SFGPIBN---H----.png)|![](./images-std/1.sfgpibn---h----.jpeg)|SFGPIBN---H----|WAR.GRDTRK.INS.MILBF.SP|Seaport/Naval Base|POINT|A|
|294||![](./images/SFGPIE----H----.png)|![](./images-std/1.sfgpie----h----.jpeg)|SFGPIE----H----|WAR.GRDTRK.INS.EQTMNF|Equipment Manufacture|POINT|A|
|295||![](./images/SFGPIG----H----.png)|![](./images-std/1.sfgpig----h----.jpeg)|SFGPIG----H----|WAR.GRDTRK.INS.GOVLDR|Government Leadership|POINT|A|
|296||![](./images/SFGPI-----H----.png)|![](./images-std/1.sfgpi-----h----.jpeg)|SFGPI-----H----|WAR.GRDTRK.INS|Installation|POINT|A|
|297||![](./images/SFGPIMA---H----.png)|![](./images-std/1.sfgpima---h----.jpeg)|SFGPIMA---H----|WAR.GRDTRK.INS.MMF.APA|Aircraft Production & Assembly|POINT|A|
|298||![](./images/SFGPIMC---H----.png)|![](./images-std/1.sfgpimc---h----.jpeg)|SFGPIMC---H----|WAR.GRDTRK.INS.MMF.CBWP|Chemical & Biological Warfare Production|POINT|A|
|299||![](./images/SFGPIME---H----.png)|![](./images-std/1.sfgpime---h----.jpeg)|SFGPIME---H----|WAR.GRDTRK.INS.MMF.AMEP|Ammunition And Explosives Production|POINT|A|
|300||![](./images/SFGPIMFA--H----.png)|![](./images-std/1.sfgpimfa--h----.jpeg)|SFGPIMFA--H----|WAR.GRDTRK.INS.MMF.NENY.ATMER|Atomic Energy Reactor|POINT|A|
|301||![](./images/SFGPIMF---H----.png)|![](./images-std/1.sfgpimf---h----.jpeg)|SFGPIMF---H----|WAR.GRDTRK.INS.MMF.NENY|Nuclear Energy|POINT|A|
|302||![](./images/SFGPIMFP--H----.png)|![](./images-std/1.sfgpimfp--h----.jpeg)|SFGPIMFP--H----|WAR.GRDTRK.INS.MMF.NENY.NMP|Nuclear Material Production|POINT|A|
|303||![](./images/SFGPIMFPW-H----.png)|![](./images-std/1.sfgpimfpw-h----.jpeg)|SFGPIMFPW-H----|WAR.GRDTRK.INS.MMF.NENY.NMP.WPNGR|Weapons Grade|POINT|A|
|304||![](./images/SFGPIMFS--H----.png)|![](./images-std/1.sfgpimfs--h----.jpeg)|SFGPIMFS--H----|WAR.GRDTRK.INS.MMF.NENY.NMS|Nuclear Material Storage|POINT|A|
|305||![](./images/SFGPIMG---H----.png)|![](./images-std/1.sfgpimg---h----.jpeg)|SFGPIMG---H----|WAR.GRDTRK.INS.MMF.AMTP|Armament Production|POINT|A|
|306||![](./images/SFGPIMM---H----.png)|![](./images-std/1.sfgpimm---h----.jpeg)|SFGPIMM---H----|WAR.GRDTRK.INS.MMF.MSSP|Missile & Space System Production|POINT|A|
|307||![](./images/SFGPIMNB--H----.png)|![](./images-std/1.sfgpimnb--h----.jpeg)|SFGPIMNB--H----|WAR.GRDTRK.INS.MMF.ENGEP.BRG|Bridge|POINT|A|
|308||![](./images/SFGPIMN---H----.png)|![](./images-std/1.sfgpimn---h----.jpeg)|SFGPIMN---H----|WAR.GRDTRK.INS.MMF.ENGEP|Engineering Equipment Production|POINT|A|
|309||![](./images/SFGPIMS---H----.png)|![](./images-std/1.sfgpims---h----.jpeg)|SFGPIMS---H----|WAR.GRDTRK.INS.MMF.SHPCSN|Ship Construction|POINT|A|
|310||![](./images/SFGPIMV---H----.png)|![](./images-std/1.sfgpimv---h----.jpeg)|SFGPIMV---H----|WAR.GRDTRK.INS.MMF.MILVP|Military Vehicle Production|POINT|A|
|311||![](./images/SFGPIPD---H----.png)|![](./images-std/1.sfgpipd---h----.jpeg)|SFGPIPD---H----|WAR.GRDTRK.INS.PF.DECON|Decontamination|POINT|A|
|312||![](./images/SFGPIP----H----.png)|![](./images-std/1.sfgpip----h----.jpeg)|SFGPIP----H----|WAR.GRDTRK.INS.PF|Processing Facility|POINT|A|
|313||![](./images/SFGPIR----H----.png)|![](./images-std/1.sfgpir----h----.jpeg)|SFGPIR----H----|WAR.GRDTRK.INS.RMP|Raw Material Production/Storage|POINT|A|
|314||![](./images/SFGPIRM---H----.png)|![](./images-std/1.sfgpirm---h----.jpeg)|SFGPIRM---H----|WAR.GRDTRK.INS.RMP.MNE|Mine|POINT|A|
|315||![](./images/SFGPIRNB--H----.png)|![](./images-std/1.sfgpirnb--h----.jpeg)|SFGPIRNB--H----|WAR.GRDTRK.INS.RMP.CBRN.BIO|Biological|POINT|A|
|316||![](./images/SFGPIRNC--H----.png)|![](./images-std/1.sfgpirnc--h----.jpeg)|SFGPIRNC--H----|WAR.GRDTRK.INS.RMP.CBRN.CML|Chemical|POINT|A|
|317||![](./images/SFGPIRN---H----.png)|![](./images-std/1.sfgpirn---h----.jpeg)|SFGPIRN---H----|WAR.GRDTRK.INS.RMP.CBRN|Cbrn|POINT|A|
|318||![](./images/SFGPIRNN--H----.png)|![](./images-std/1.sfgpirnn--h----.jpeg)|SFGPIRNN--H----|WAR.GRDTRK.INS.RMP.CBRN.NUC|Nuclear|POINT|A|
|319||![](./images/SFGPIRP---H----.png)|![](./images-std/1.sfgpirp---h----.jpeg)|SFGPIRP---H----|WAR.GRDTRK.INS.RMP.PGO|Petroleum/Gas/Oil|POINT|A|
|320||![](./images/SFGPIT----H----.png)|![](./images-std/1.sfgpit----h----.jpeg)|SFGPIT----H----|WAR.GRDTRK.INS.TSPF|Transport Facility|POINT|A|
|321||![](./images/SFGPIUED--H----.png)|![](./images-std/1.sfgpiued--h----.jpeg)|SFGPIUED--H----|WAR.GRDTRK.INS.SRUF.EPF.DAM|Dam|POINT|A|
|322||![](./images/SFGPIUEF--H----.png)|![](./images-std/1.sfgpiuef--h----.jpeg)|SFGPIUEF--H----|WAR.GRDTRK.INS.SRUF.EPF.FOSF|Fossil Fuel|POINT|A|
|323||![](./images/SFGPIUE---H----.png)|![](./images-std/1.sfgpiue---h----.jpeg)|SFGPIUE---H----|WAR.GRDTRK.INS.SRUF.EPF|Electric Power Facility|POINT|A|
|324||![](./images/SFGPIUEN--H----.png)|![](./images-std/1.sfgpiuen--h----.jpeg)|SFGPIUEN--H----|WAR.GRDTRK.INS.SRUF.EPF.NPT|Nuclear Plant|POINT|A|
|325||![](./images/SFGPIU----H----.png)|![](./images-std/1.sfgpiu----h----.jpeg)|SFGPIU----H----|WAR.GRDTRK.INS.SRUF|Service Research Utility Facility|POINT|A|
|326||![](./images/SFGPIUP---H----.png)|![](./images-std/1.sfgpiup---h----.jpeg)|SFGPIUP---H----|WAR.GRDTRK.INS.SRUF.PWS|Public Water Services|POINT|A|
|327||![](./images/SFGPIUR---H----.png)|![](./images-std/1.sfgpiur---h----.jpeg)|SFGPIUR---H----|WAR.GRDTRK.INS.SRUF.TRF|Technological Research Facility|POINT|A|
|328||![](./images/SFGPIUT---H----.png)|![](./images-std/1.sfgpiut---h----.jpeg)|SFGPIUT---H----|WAR.GRDTRK.INS.SRUF.TCF|Telecommunications Facility|POINT|A|
|329||![](./images/SFGPIX----H----.png)|![](./images-std/1.sfgpix----h----.jpeg)|SFGPIX----H----|WAR.GRDTRK.INS.MEDF|Medical Facility|POINT|A|
|330||![](./images/SFGPIXH---H----.png)|![](./images-std/1.sfgpixh---h----.jpeg)|SFGPIXH---H----|WAR.GRDTRK.INS.MEDF.HSP|Hospital|POINT|A|
|331||![](./images/SFGPU----------.png)|![](./images-std/1.sfgpu----------.jpeg)|SFGPU----------|WAR.GRDTRK.UNT|Unit|POINT|A|
|332||![](./images/SFGPUC---------.png)|![](./images-std/1.sfgpuc---------.jpeg)|SFGPUC---------|WAR.GRDTRK.UNT.CBT|Combat|POINT|A|
|333||![](./images/SFGPUCA--------.png)|![](./images-std/1.sfgpuca--------.jpeg)|SFGPUCA--------|WAR.GRDTRK.UNT.CBT.ARM|Armor|POINT|A|
|334||![](./images/SFGPUCAA-------.png)|![](./images-std/1.sfgpucaa-------.jpeg)|SFGPUCAA-------|WAR.GRDTRK.UNT.CBT.AARM|Antiarmor|POINT|A|
|335||![](./images/SFGPUCAAA------.png)|![](./images-std/1.sfgpucaaa------.jpeg)|SFGPUCAAA------|WAR.GRDTRK.UNT.CBT.AARM.ARMD|Antiarmor Armored|POINT|A|
|336||![](./images/SFGPUCAAAS-----.png)|![](./images-std/1.sfgpucaaas-----.jpeg)|SFGPUCAAAS-----|WAR.GRDTRK.UNT.CBT.AARM.ARMD.AAST|Antiarmor Armored Air Assault|POINT|A|
|337||![](./images/SFGPUCAAAT-----.png)|![](./images-std/1.sfgpucaaat-----.jpeg)|SFGPUCAAAT-----|WAR.GRDTRK.UNT.CBT.AARM.ARMD.TKD|Antiarmor Armored Tracked|POINT|A|
|338||![](./images/SFGPUCAAAW-----.png)|![](./images-std/1.sfgpucaaaw-----.jpeg)|SFGPUCAAAW-----|WAR.GRDTRK.UNT.CBT.AARM.ARMD.WHD|Antiarmor Armored Wheeled|POINT|A|
|339||![](./images/SFGPUCAAC------.png)|![](./images-std/1.sfgpucaac------.jpeg)|SFGPUCAAC------|WAR.GRDTRK.UNT.CBT.AARM.ARC|Antiarmor Arctic|POINT|A|
|340||![](./images/SFGPUCAAD------.png)|![](./images-std/1.sfgpucaad------.jpeg)|SFGPUCAAD------|WAR.GRDTRK.UNT.CBT.AARM.DMD|Antiarmor Dismounted|POINT|A|
|341||![](./images/SFGPUCAAL------.png)|![](./images-std/1.sfgpucaal------.jpeg)|SFGPUCAAL------|WAR.GRDTRK.UNT.CBT.AARM.LIT|Antiarmor Light|POINT|A|
|342||![](./images/SFGPUCAAM------.png)|![](./images-std/1.sfgpucaam------.jpeg)|SFGPUCAAM------|WAR.GRDTRK.UNT.CBT.AARM.ABN|Antiarmor Airborne|POINT|A|
|343||![](./images/SFGPUCAAO------.png)|![](./images-std/1.sfgpucaao------.jpeg)|SFGPUCAAO------|WAR.GRDTRK.UNT.CBT.AARM.MOT|Antiarmor Motorized|POINT|A|
|344||![](./images/SFGPUCAAOS-----.png)|![](./images-std/1.sfgpucaaos-----.jpeg)|SFGPUCAAOS-----|WAR.GRDTRK.UNT.CBT.AARM.MOT.AAST|Antiarmor Motorized Air Assault|POINT|A|
|345||![](./images/SFGPUCAAS------.png)|![](./images-std/1.sfgpucaas------.jpeg)|SFGPUCAAS------|WAR.GRDTRK.UNT.CBT.AARM.AAST|Antiarmor Air Assault|POINT|A|
|346||![](./images/SFGPUCAAU------.png)|![](./images-std/1.sfgpucaau------.jpeg)|SFGPUCAAU------|WAR.GRDTRK.UNT.CBT.AARM.MNT|Antiarmor Mountain|POINT|A|
|347||![](./images/SFGPUCAT-------.png)|![](./images-std/1.sfgpucat-------.jpeg)|SFGPUCAT-------|WAR.GRDTRK.UNT.CBT.ARM.TRK|Armor Track|POINT|A|
|348||![](./images/SFGPUCATA------.png)|![](./images-std/1.sfgpucata------.jpeg)|SFGPUCATA------|WAR.GRDTRK.UNT.CBT.ARM.TRK.ABN|Armor Track Airborne|POINT|A|
|349||![](./images/SFGPUCATH------.png)|![](./images-std/1.sfgpucath------.jpeg)|SFGPUCATH------|WAR.GRDTRK.UNT.CBT.ARM.TRK.HVY|Armor Track Heavy|POINT|A|
|350||![](./images/SFGPUCATL------.png)|![](./images-std/1.sfgpucatl------.jpeg)|SFGPUCATL------|WAR.GRDTRK.UNT.CBT.ARM.TRK.LIT|Armor Track Light|POINT|A|
|351||![](./images/SFGPUCATM------.png)|![](./images-std/1.sfgpucatm------.jpeg)|SFGPUCATM------|WAR.GRDTRK.UNT.CBT.ARM.TRK.MDM|Armor Track Medium|POINT|A|
|352||![](./images/SFGPUCATR------.png)|![](./images-std/1.sfgpucatr------.jpeg)|SFGPUCATR------|WAR.GRDTRK.UNT.CBT.ARM.TRK.RCY|Armor Track Recovery|POINT|A|
|353||![](./images/SFGPUCATW------.png)|![](./images-std/1.sfgpucatw------.jpeg)|SFGPUCATW------|WAR.GRDTRK.UNT.CBT.ARM.TRK.AMP|Armor Track Amphibious|POINT|A|
|354||![](./images/SFGPUCATWR-----.png)|![](./images-std/1.sfgpucatwr-----.jpeg)|SFGPUCATWR-----|WAR.GRDTRK.UNT.CBT.ARM.TRK.AMP.RCY|Armor Track Amphibious Recovery|POINT|A|
|355||![](./images/SFGPUCAW-------.png)|![](./images-std/1.sfgpucaw-------.jpeg)|SFGPUCAW-------|WAR.GRDTRK.UNT.CBT.ARM.WHD|Armor Wheeled|POINT|A|
|356||![](./images/SFGPUCAWA------.png)|![](./images-std/1.sfgpucawa------.jpeg)|SFGPUCAWA------|WAR.GRDTRK.UNT.CBT.ARM.WHD.ABN|Armor Wheeled Airborne|POINT|A|
|357||![](./images/SFGPUCAWH------.png)|![](./images-std/1.sfgpucawh------.jpeg)|SFGPUCAWH------|WAR.GRDTRK.UNT.CBT.ARM.WHD.HVY|Armor Wheeled Heavy|POINT|A|
|358||![](./images/SFGPUCAWL------.png)|![](./images-std/1.sfgpucawl------.jpeg)|SFGPUCAWL------|WAR.GRDTRK.UNT.CBT.ARM.WHD.LIT|Armor Wheeled Light|POINT|A|
|359||![](./images/SFGPUCAWM------.png)|![](./images-std/1.sfgpucawm------.jpeg)|SFGPUCAWM------|WAR.GRDTRK.UNT.CBT.ARM.WHD.MDM|Armor Wheeled Medium|POINT|A|
|360||![](./images/SFGPUCAWR------.png)|![](./images-std/1.sfgpucawr------.jpeg)|SFGPUCAWR------|WAR.GRDTRK.UNT.CBT.ARM.WHD.RCY|Armor Wheeled Recovery|POINT|A|
|361||![](./images/SFGPUCAWS------.png)|![](./images-std/1.sfgpucaws------.jpeg)|SFGPUCAWS------|WAR.GRDTRK.UNT.CBT.ARM.WHD.AAST|Armor Wheeled Air Assault|POINT|A|
|362||![](./images/SFGPUCAWW------.png)|![](./images-std/1.sfgpucaww------.jpeg)|SFGPUCAWW------|WAR.GRDTRK.UNT.CBT.ARM.WHD.AMP|Armor Wheeled Amphibious|POINT|A|
|363||![](./images/SFGPUCAWWR-----.png)|![](./images-std/1.sfgpucawwr-----.jpeg)|SFGPUCAWWR-----|WAR.GRDTRK.UNT.CBT.ARM.WHD.AMP.RCY|Armor Wheeled Amphibious Recovery|POINT|A|
|364||![](./images/SFGPUCD--------.png)|![](./images-std/1.sfgpucd--------.jpeg)|SFGPUCD--------|WAR.GRDTRK.UNT.CBT.ADF|Air Defense|POINT|A|
|365||![](./images/SFGPUCDC-------.png)|![](./images-std/1.sfgpucdc-------.jpeg)|SFGPUCDC-------|WAR.GRDTRK.UNT.CBT.ADF.CMPS|Composite|POINT|A|
|366||![](./images/SFGPUCDG-------.png)|![](./images-std/1.sfgpucdg-------.jpeg)|SFGPUCDG-------|WAR.GRDTRK.UNT.CBT.ADF.GUNUNT|Gun Unit|POINT|A|
|367||![](./images/SFGPUCDH-------.png)|![](./images-std/1.sfgpucdh-------.jpeg)|SFGPUCDH-------|WAR.GRDTRK.UNT.CBT.ADF.MSL.HMAD|H/Mad|POINT|A|
|368||![](./images/SFGPUCDHH------.png)|![](./images-std/1.sfgpucdhh------.jpeg)|SFGPUCDHH------|WAR.GRDTRK.UNT.CBT.ADF.MSL.HMAD.HWK|Hawk|POINT|A|
|369||![](./images/SFGPUCDHP------.png)|![](./images-std/1.sfgpucdhp------.jpeg)|SFGPUCDHP------|WAR.GRDTRK.UNT.CBT.ADF.MSL.HMAD.PATT|Patriot|POINT|A|
|370||![](./images/SFGPUCDM-------.png)|![](./images-std/1.sfgpucdm-------.jpeg)|SFGPUCDM-------|WAR.GRDTRK.UNT.CBT.ADF.MSL|Air Defense Missile|POINT|A|
|371||![](./images/SFGPUCDMH------.png)|![](./images-std/1.sfgpucdmh------.jpeg)|SFGPUCDMH------|WAR.GRDTRK.UNT.CBT.ADF.MSL.HVY|Air Defense Missile Heavy|POINT|A|
|372||![](./images/SFGPUCDML------.png)|![](./images-std/1.sfgpucdml------.jpeg)|SFGPUCDML------|WAR.GRDTRK.UNT.CBT.ADF.MSL.LIT|Air Defense Missile Light|POINT|A|
|373||![](./images/SFGPUCDMLA-----.png)|![](./images-std/1.sfgpucdmla-----.jpeg)|SFGPUCDMLA-----|WAR.GRDTRK.UNT.CBT.ADF.MSL.LIT.MOT|Air Defense Missile Motorized (Avenger)|POINT|A|
|374||![](./images/SFGPUCDMM------.png)|![](./images-std/1.sfgpucdmm------.jpeg)|SFGPUCDMM------|WAR.GRDTRK.UNT.CBT.ADF.MSL.MDM|Air Defense Missile Medium|POINT|A|
|375||![](./images/SFGPUCDO-------.png)|![](./images-std/1.sfgpucdo-------.jpeg)|SFGPUCDO-------|WAR.GRDTRK.UNT.CBT.ADF.TMDU|Theater Missile Defense Unit|POINT|A|
|376||![](./images/SFGPUCDS-------.png)|![](./images-std/1.sfgpucds-------.jpeg)|SFGPUCDS-------|WAR.GRDTRK.UNT.CBT.ADF.SHTR|Short Range|POINT|A|
|377||![](./images/SFGPUCDSC------.png)|![](./images-std/1.sfgpucdsc------.jpeg)|SFGPUCDSC------|WAR.GRDTRK.UNT.CBT.ADF.SHTR.CPL|Chaparral|POINT|A|
|378||![](./images/SFGPUCDSS------.png)|![](./images-std/1.sfgpucdss------.jpeg)|SFGPUCDSS------|WAR.GRDTRK.UNT.CBT.ADF.SHTR.STG|Stinger|POINT|A|
|379||![](./images/SFGPUCDSV------.png)|![](./images-std/1.sfgpucdsv------.jpeg)|SFGPUCDSV------|WAR.GRDTRK.UNT.CBT.ADF.SHTR.VUL|Vulcan|POINT|A|
|380||![](./images/SFGPUCDT-------.png)|![](./images-std/1.sfgpucdt-------.jpeg)|SFGPUCDT-------|WAR.GRDTRK.UNT.CBT.ADF.TGTGUT|Targeting Unit|POINT|A|
|381||![](./images/SFGPUCE--------.png)|![](./images-std/1.sfgpuce--------.jpeg)|SFGPUCE--------|WAR.GRDTRK.UNT.CBT.ENG|Engineer|POINT|A|
|382||![](./images/SFGPUCEC-------.png)|![](./images-std/1.sfgpucec-------.jpeg)|SFGPUCEC-------|WAR.GRDTRK.UNT.CBT.ENG.CBT|Engineer Combat|POINT|A|
|383||![](./images/SFGPUCECA------.png)|![](./images-std/1.sfgpuceca------.jpeg)|SFGPUCECA------|WAR.GRDTRK.UNT.CBT.ENG.CBT.ABN|Engineer Combat Airborne|POINT|A|
|384||![](./images/SFGPUCECC------.png)|![](./images-std/1.sfgpucecc------.jpeg)|SFGPUCECC------|WAR.GRDTRK.UNT.CBT.ENG.CBT.ARC|Engineer Combat Arctic|POINT|A|
|385||![](./images/SFGPUCECH------.png)|![](./images-std/1.sfgpucech------.jpeg)|SFGPUCECH------|WAR.GRDTRK.UNT.CBT.ENG.CBT.HVY|Engineer Combat Heavy|POINT|A|
|386||![](./images/SFGPUCECL------.png)|![](./images-std/1.sfgpucecl------.jpeg)|SFGPUCECL------|WAR.GRDTRK.UNT.CBT.ENG.CBT.LIT|Engineer Combat Light (Sapper)|POINT|A|
|387||![](./images/SFGPUCECM------.png)|![](./images-std/1.sfgpucecm------.jpeg)|SFGPUCECM------|WAR.GRDTRK.UNT.CBT.ENG.CBT.MDM|Engineer Combat Medium|POINT|A|
|388||![](./images/SFGPUCECO------.png)|![](./images-std/1.sfgpuceco------.jpeg)|SFGPUCECO------|WAR.GRDTRK.UNT.CBT.ENG.CBT.MNT|Engineer Combat Mountain|POINT|A|
|389||![](./images/SFGPUCECR------.png)|![](./images-std/1.sfgpucecr------.jpeg)|SFGPUCECR------|WAR.GRDTRK.UNT.CBT.ENG.CBT.RECON|Engineer Combat Recon|POINT|A|
|390||![](./images/SFGPUCECS------.png)|![](./images-std/1.sfgpucecs------.jpeg)|SFGPUCECS------|WAR.GRDTRK.UNT.CBT.ENG.CBT.AAST|Engineer Combat Air Assault|POINT|A|
|391||![](./images/SFGPUCECT------.png)|![](./images-std/1.sfgpucect------.jpeg)|SFGPUCECT------|WAR.GRDTRK.UNT.CBT.ENG.CBT.MECH|Engineer Combat Mechanized (Track)|POINT|A|
|392||![](./images/SFGPUCECW------.png)|![](./images-std/1.sfgpucecw------.jpeg)|SFGPUCECW------|WAR.GRDTRK.UNT.CBT.ENG.CBT.MOT|Engineer Combat Motorized|POINT|A|
|393||![](./images/SFGPUCEN-------.png)|![](./images-std/1.sfgpucen-------.jpeg)|SFGPUCEN-------|WAR.GRDTRK.UNT.CBT.ENG.CSN|Engineer Construction|POINT|A|
|394||![](./images/SFGPUCENN------.png)|![](./images-std/1.sfgpucenn------.jpeg)|SFGPUCENN------|WAR.GRDTRK.UNT.CBT.ENG.CSN.NAV|Engineer Naval Construction|POINT|A|
|395||![](./images/SFGPUCF--------.png)|![](./images-std/1.sfgpucf--------.jpeg)|SFGPUCF--------|WAR.GRDTRK.UNT.CBT.FLDART|Field Artillery|POINT|A|
|396||![](./images/SFGPUCFH-------.png)|![](./images-std/1.sfgpucfh-------.jpeg)|SFGPUCFH-------|WAR.GRDTRK.UNT.CBT.FLDART.HOW|Howitzer/Gun|POINT|A|
|397||![](./images/SFGPUCFHA------.png)|![](./images-std/1.sfgpucfha------.jpeg)|SFGPUCFHA------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.ABN|Airborne|POINT|A|
|398||![](./images/SFGPUCFHC------.png)|![](./images-std/1.sfgpucfhc------.jpeg)|SFGPUCFHC------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.ARC|Arctic|POINT|A|
|399||![](./images/SFGPUCFHE------.png)|![](./images-std/1.sfgpucfhe------.jpeg)|SFGPUCFHE------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.SPD|Self-Propelled|POINT|A|
|400||![](./images/SFGPUCFHH------.png)|![](./images-std/1.sfgpucfhh------.jpeg)|SFGPUCFHH------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.HVY|Heavy|POINT|A|
|401||![](./images/SFGPUCFHL------.png)|![](./images-std/1.sfgpucfhl------.jpeg)|SFGPUCFHL------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.LIT|Light|POINT|A|
|402||![](./images/SFGPUCFHM------.png)|![](./images-std/1.sfgpucfhm------.jpeg)|SFGPUCFHM------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.MDM|Medium|POINT|A|
|403||![](./images/SFGPUCFHO------.png)|![](./images-std/1.sfgpucfho------.jpeg)|SFGPUCFHO------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.MNT|Mountain|POINT|A|
|404||![](./images/SFGPUCFHS------.png)|![](./images-std/1.sfgpucfhs------.jpeg)|SFGPUCFHS------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.AAST|Air Assault|POINT|A|
|405||![](./images/SFGPUCFHX------.png)|![](./images-std/1.sfgpucfhx------.jpeg)|SFGPUCFHX------|WAR.GRDTRK.UNT.CBT.FLDART.HOW.AMP|Amphibious|POINT|A|
|406||![](./images/SFGPUCFM-------.png)|![](./images-std/1.sfgpucfm-------.jpeg)|SFGPUCFM-------|WAR.GRDTRK.UNT.CBT.FLDART.MORT|Mortar|POINT|A|
|407||![](./images/SFGPUCFML------.png)|![](./images-std/1.sfgpucfml------.jpeg)|SFGPUCFML------|WAR.GRDTRK.UNT.CBT.FLDART.MORT.AMP|Amphibious Mortar|POINT|A|
|408||![](./images/SFGPUCFMS------.png)|![](./images-std/1.sfgpucfms------.jpeg)|SFGPUCFMS------|WAR.GRDTRK.UNT.CBT.FLDART.MORT.SPDTRK|Self-Propelled (Sp) Tracked Mortar|POINT|A|
|409||![](./images/SFGPUCFMT------.png)|![](./images-std/1.sfgpucfmt------.jpeg)|SFGPUCFMT------|WAR.GRDTRK.UNT.CBT.FLDART.MORT.TOW|Towed Mortar|POINT|A|
|410||![](./images/SFGPUCFMTA-----.png)|![](./images-std/1.sfgpucfmta-----.jpeg)|SFGPUCFMTA-----|WAR.GRDTRK.UNT.CBT.FLDART.MORT.TOW.ABN|Towed Airborne Mortar|POINT|A|
|411||![](./images/SFGPUCFMTC-----.png)|![](./images-std/1.sfgpucfmtc-----.jpeg)|SFGPUCFMTC-----|WAR.GRDTRK.UNT.CBT.FLDART.MORT.TOW.ARC|Towed Arctic Mortar|POINT|A|
|412||![](./images/SFGPUCFMTO-----.png)|![](./images-std/1.sfgpucfmto-----.jpeg)|SFGPUCFMTO-----|WAR.GRDTRK.UNT.CBT.FLDART.MORT.TOW.MNT|Towed Mountain Mortar|POINT|A|
|413||![](./images/SFGPUCFMTS-----.png)|![](./images-std/1.sfgpucfmts-----.jpeg)|SFGPUCFMTS-----|WAR.GRDTRK.UNT.CBT.FLDART.MORT.TOW.AAST|Towed Air Assault Mortar|POINT|A|
|414||![](./images/SFGPUCFMW------.png)|![](./images-std/1.sfgpucfmw------.jpeg)|SFGPUCFMW------|WAR.GRDTRK.UNT.CBT.FLDART.MORT.SPDWHD|Sp Wheeled Mortar|POINT|A|
|415||![](./images/SFGPUCFO-------.png)|![](./images-std/1.sfgpucfo-------.jpeg)|SFGPUCFO-------|WAR.GRDTRK.UNT.CBT.FLDART.METO|Meteorological|POINT|A|
|416||![](./images/SFGPUCFOA------.png)|![](./images-std/1.sfgpucfoa------.jpeg)|SFGPUCFOA------|WAR.GRDTRK.UNT.CBT.FLDART.METO.ABN|Airborne Meteorological|POINT|A|
|417||![](./images/SFGPUCFOL------.png)|![](./images-std/1.sfgpucfol------.jpeg)|SFGPUCFOL------|WAR.GRDTRK.UNT.CBT.FLDART.METO.LIT|Light Meteorological|POINT|A|
|418||![](./images/SFGPUCFOO------.png)|![](./images-std/1.sfgpucfoo------.jpeg)|SFGPUCFOO------|WAR.GRDTRK.UNT.CBT.FLDART.METO.MNT|Mountain Meteorological|POINT|A|
|419||![](./images/SFGPUCFOS------.png)|![](./images-std/1.sfgpucfos------.jpeg)|SFGPUCFOS------|WAR.GRDTRK.UNT.CBT.FLDART.METO.AAST|Air Assault Meteorological|POINT|A|
|420||![](./images/SFGPUCFR-------.png)|![](./images-std/1.sfgpucfr-------.jpeg)|SFGPUCFR-------|WAR.GRDTRK.UNT.CBT.FLDART.ROC|Rocket|POINT|A|
|421||![](./images/SFGPUCFRM------.png)|![](./images-std/1.sfgpucfrm------.jpeg)|SFGPUCFRM------|WAR.GRDTRK.UNT.CBT.FLDART.ROC.MRL|Multiple Rocket Launcher|POINT|A|
|422||![](./images/SFGPUCFRMR-----.png)|![](./images-std/1.sfgpucfrmr-----.jpeg)|SFGPUCFRMR-----|WAR.GRDTRK.UNT.CBT.FLDART.ROC.MRL.MRTRK|Multiple Rocket Truck|POINT|A|
|423||![](./images/SFGPUCFRMS-----.png)|![](./images-std/1.sfgpucfrms-----.jpeg)|SFGPUCFRMS-----|WAR.GRDTRK.UNT.CBT.FLDART.ROC.MRL.MRSPD|Multiple Rocket Self-Propelled|POINT|A|
|424||![](./images/SFGPUCFRMT-----.png)|![](./images-std/1.sfgpucfrmt-----.jpeg)|SFGPUCFRMT-----|WAR.GRDTRK.UNT.CBT.FLDART.ROC.MRL.MRTOW|Multiple Rocket Towed|POINT|A|
|425||![](./images/SFGPUCFRS------.png)|![](./images-std/1.sfgpucfrs------.jpeg)|SFGPUCFRS------|WAR.GRDTRK.UNT.CBT.FLDART.ROC.SRL|Single Rocket Launcher|POINT|A|
|426||![](./images/SFGPUCFRSR-----.png)|![](./images-std/1.sfgpucfrsr-----.jpeg)|SFGPUCFRSR-----|WAR.GRDTRK.UNT.CBT.FLDART.ROC.SRL.SRTRK|Single Rocket Truck|POINT|A|
|427||![](./images/SFGPUCFRSS-----.png)|![](./images-std/1.sfgpucfrss-----.jpeg)|SFGPUCFRSS-----|WAR.GRDTRK.UNT.CBT.FLDART.ROC.SRL.SRSPD|Single Rocket Self-Propelled|POINT|A|
|428||![](./images/SFGPUCFRST-----.png)|![](./images-std/1.sfgpucfrst-----.jpeg)|SFGPUCFRST-----|WAR.GRDTRK.UNT.CBT.FLDART.ROC.SRL.SRTOW|Single Rocket Towed|POINT|A|
|429||![](./images/SFGPUCFS-------.png)|![](./images-std/1.sfgpucfs-------.jpeg)|SFGPUCFS-------|WAR.GRDTRK.UNT.CBT.FLDART.ARTSVY|Artillery Survey|POINT|A|
|430||![](./images/SFGPUCFSA------.png)|![](./images-std/1.sfgpucfsa------.jpeg)|SFGPUCFSA------|WAR.GRDTRK.UNT.CBT.FLDART.ARTSVY.ABN|Airborne|POINT|A|
|431||![](./images/SFGPUCFSL------.png)|![](./images-std/1.sfgpucfsl------.jpeg)|SFGPUCFSL------|WAR.GRDTRK.UNT.CBT.FLDART.ARTSVY.LIT|Light|POINT|A|
|432||![](./images/SFGPUCFSO------.png)|![](./images-std/1.sfgpucfso------.jpeg)|SFGPUCFSO------|WAR.GRDTRK.UNT.CBT.FLDART.ARTSVY.MNT|Mountain|POINT|A|
|433||![](./images/SFGPUCFSS------.png)|![](./images-std/1.sfgpucfss------.jpeg)|SFGPUCFSS------|WAR.GRDTRK.UNT.CBT.FLDART.ARTSVY.AAST|Air Assault|POINT|A|
|434||![](./images/SFGPUCFT-------.png)|![](./images-std/1.sfgpucft-------.jpeg)|SFGPUCFT-------|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ|Target Acquisition|POINT|A|
|435||![](./images/SFGPUCFTA------.png)|![](./images-std/1.sfgpucfta------.jpeg)|SFGPUCFTA------|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ.ANG|Anglico|POINT|A|
|436||![](./images/SFGPUCFTC------.png)|![](./images-std/1.sfgpucftc------.jpeg)|SFGPUCFTC------|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ.CLT|Colt/Fist|POINT|A|
|437||![](./images/SFGPUCFTCD-----.png)|![](./images-std/1.sfgpucftcd-----.jpeg)|SFGPUCFTCD-----|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ.CLT.DMD|Dismounted Colt/Fist|POINT|A|
|438||![](./images/SFGPUCFTCM-----.png)|![](./images-std/1.sfgpucftcm-----.jpeg)|SFGPUCFTCM-----|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ.CLT.TKD|Tracked Colt/Fist|POINT|A|
|439||![](./images/SFGPUCFTF------.png)|![](./images-std/1.sfgpucftf------.jpeg)|SFGPUCFTF------|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ.FLH|Flash (Optical)|POINT|A|
|440||![](./images/SFGPUCFTR------.png)|![](./images-std/1.sfgpucftr------.jpeg)|SFGPUCFTR------|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ.RAD|Radar|POINT|A|
|441||![](./images/SFGPUCFTS------.png)|![](./images-std/1.sfgpucfts------.jpeg)|SFGPUCFTS------|WAR.GRDTRK.UNT.CBT.FLDART.TGTAQ.SND|Sound|POINT|A|
|442||![](./images/SFGPUCI--------.png)|![](./images-std/1.sfgpuci--------.jpeg)|SFGPUCI--------|WAR.GRDTRK.UNT.CBT.INF|Infantry|POINT|A|
|443||![](./images/SFGPUCIA-------.png)|![](./images-std/1.sfgpucia-------.jpeg)|SFGPUCIA-------|WAR.GRDTRK.UNT.CBT.INF.ABN|Infantry Airborne|POINT|A|
|444||![](./images/SFGPUCIC-------.png)|![](./images-std/1.sfgpucic-------.jpeg)|SFGPUCIC-------|WAR.GRDTRK.UNT.CBT.INF.ARC|Infantry Arctic|POINT|A|
|445||![](./images/SFGPUCII-------.png)|![](./images-std/1.sfgpucii-------.jpeg)|SFGPUCII-------|WAR.GRDTRK.UNT.CBT.INF.INFFV|Infantry Fighting Vehicle|POINT|A|
|446||![](./images/SFGPUCIL-------.png)|![](./images-std/1.sfgpucil-------.jpeg)|SFGPUCIL-------|WAR.GRDTRK.UNT.CBT.INF.LIT|Infantry Light|POINT|A|
|447||![](./images/SFGPUCIM-------.png)|![](./images-std/1.sfgpucim-------.jpeg)|SFGPUCIM-------|WAR.GRDTRK.UNT.CBT.INF.MOT|Infantry Motorized|POINT|A|
|448||![](./images/SFGPUCIN-------.png)|![](./images-std/1.sfgpucin-------.jpeg)|SFGPUCIN-------|WAR.GRDTRK.UNT.CBT.INF.NAV|Infantry Naval|POINT|A|
|449||![](./images/SFGPUCIO-------.png)|![](./images-std/1.sfgpucio-------.jpeg)|SFGPUCIO-------|WAR.GRDTRK.UNT.CBT.INF.MNT|Infantry Mountain|POINT|A|
|450||![](./images/SFGPUCIS-------.png)|![](./images-std/1.sfgpucis-------.jpeg)|SFGPUCIS-------|WAR.GRDTRK.UNT.CBT.INF.AAST|Infantry Air Assault|POINT|A|
|451||![](./images/SFGPUCIZ-------.png)|![](./images-std/1.sfgpuciz-------.jpeg)|SFGPUCIZ-------|WAR.GRDTRK.UNT.CBT.INF.MECH|Infantry Mechanized|POINT|A|
|452||![](./images/SFGPUCM--------.png)|![](./images-std/1.sfgpucm--------.jpeg)|SFGPUCM--------|WAR.GRDTRK.UNT.CBT.MSL|Missile (Surf-Surf)|POINT|A|
|453||![](./images/SFGPUCMS-------.png)|![](./images-std/1.sfgpucms-------.jpeg)|SFGPUCMS-------|WAR.GRDTRK.UNT.CBT.MSL.STGC|Missile (Surf-Surf) Strategic|POINT|A|
|454||![](./images/SFGPUCMT-------.png)|![](./images-std/1.sfgpucmt-------.jpeg)|SFGPUCMT-------|WAR.GRDTRK.UNT.CBT.MSL.TAC|Missile (Surf-Surf) Tactical|POINT|A|
|455||![](./images/SFGPUCR--------.png)|![](./images-std/1.sfgpucr--------.jpeg)|SFGPUCR--------|WAR.GRDTRK.UNT.CBT.RECON|Reconnaissance|POINT|A|
|456||![](./images/SFGPUCRA-------.png)|![](./images-std/1.sfgpucra-------.jpeg)|SFGPUCRA-------|WAR.GRDTRK.UNT.CBT.RECON.ABN|Reconnaissance Airborne|POINT|A|
|457||![](./images/SFGPUCRC-------.png)|![](./images-std/1.sfgpucrc-------.jpeg)|SFGPUCRC-------|WAR.GRDTRK.UNT.CBT.RECON.ARC|Reconnaissance Arctic|POINT|A|
|458||![](./images/SFGPUCRH-------.png)|![](./images-std/1.sfgpucrh-------.jpeg)|SFGPUCRH-------|WAR.GRDTRK.UNT.CBT.RECON.HRE|Reconnaissance Horse|POINT|A|
|459||![](./images/SFGPUCRL-------.png)|![](./images-std/1.sfgpucrl-------.jpeg)|SFGPUCRL-------|WAR.GRDTRK.UNT.CBT.RECON.LIT|Reconnaissance Light|POINT|A|
|460||![](./images/SFGPUCRO-------.png)|![](./images-std/1.sfgpucro-------.jpeg)|SFGPUCRO-------|WAR.GRDTRK.UNT.CBT.RECON.MNT|Reconnaissance Mountain|POINT|A|
|461||![](./images/SFGPUCRR-------.png)|![](./images-std/1.sfgpucrr-------.jpeg)|SFGPUCRR-------|WAR.GRDTRK.UNT.CBT.RECON.MAR|Reconnaissance Marine|POINT|A|
|462||![](./images/SFGPUCRRD------.png)|![](./images-std/1.sfgpucrrd------.jpeg)|SFGPUCRRD------|WAR.GRDTRK.UNT.CBT.RECON.MAR.DIV|Reconnaissance Marine Division|POINT|A|
|463||![](./images/SFGPUCRRF------.png)|![](./images-std/1.sfgpucrrf------.jpeg)|SFGPUCRRF------|WAR.GRDTRK.UNT.CBT.RECON.MAR.FOR|Reconnaissance Marine Force|POINT|A|
|464||![](./images/SFGPUCRRL------.png)|![](./images-std/1.sfgpucrrl------.jpeg)|SFGPUCRRL------|WAR.GRDTRK.UNT.CBT.RECON.MAR.LAR|Reconnaissance Marine Light Armored Reconnaissnace (Lar)|POINT|A|
|465||![](./images/SFGPUCRS-------.png)|![](./images-std/1.sfgpucrs-------.jpeg)|SFGPUCRS-------|WAR.GRDTRK.UNT.CBT.RECON.AAST|Reconnaissance Air Assault|POINT|A|
|466||![](./images/SFGPUCRV-------.png)|![](./images-std/1.sfgpucrv-------.jpeg)|SFGPUCRV-------|WAR.GRDTRK.UNT.CBT.RECON.CVY|Reconnaissance Cavalry|POINT|A|
|467||![](./images/SFGPUCRVA------.png)|![](./images-std/1.sfgpucrva------.jpeg)|SFGPUCRVA------|WAR.GRDTRK.UNT.CBT.RECON.CVY.ARMD|Reconnaissance Cavalry Armored|POINT|A|
|468||![](./images/SFGPUCRVG------.png)|![](./images-std/1.sfgpucrvg------.jpeg)|SFGPUCRVG------|WAR.GRDTRK.UNT.CBT.RECON.CVY.GRD|Reconnaissance Cavalry Ground|POINT|A|
|469||![](./images/SFGPUCRVM------.png)|![](./images-std/1.sfgpucrvm------.jpeg)|SFGPUCRVM------|WAR.GRDTRK.UNT.CBT.RECON.CVY.MOT|Reconnaissance Cavalry Motorized|POINT|A|
|470||![](./images/SFGPUCRVO------.png)|![](./images-std/1.sfgpucrvo------.jpeg)|SFGPUCRVO------|WAR.GRDTRK.UNT.CBT.RECON.CVY.AIR|Reconnaissance Cavalry Air|POINT|A|
|471||![](./images/SFGPUCRX-------.png)|![](./images-std/1.sfgpucrx-------.jpeg)|SFGPUCRX-------|WAR.GRDTRK.UNT.CBT.RECON.LRS|Reconnaissance Long Range Surveillance (Lrs)|POINT|A|
|472||![](./images/SFGPUCS--------.png)|![](./images-std/1.sfgpucs--------.jpeg)|SFGPUCS--------|WAR.GRDTRK.UNT.CBT.ISF|Internal Security Forces|POINT|A|
|473||![](./images/SFGPUCSA-------.png)|![](./images-std/1.sfgpucsa-------.jpeg)|SFGPUCSA-------|WAR.GRDTRK.UNT.CBT.ISF.AVN|Aviation|POINT|A|
|474||![](./images/SFGPUCSG-------.png)|![](./images-std/1.sfgpucsg-------.jpeg)|SFGPUCSG-------|WAR.GRDTRK.UNT.CBT.ISF.GRD|Ground|POINT|A|
|475||![](./images/SFGPUCSGA------.png)|![](./images-std/1.sfgpucsga------.jpeg)|SFGPUCSGA------|WAR.GRDTRK.UNT.CBT.ISF.GRD.MECH|Mechanized Ground|POINT|A|
|476||![](./images/SFGPUCSGD------.png)|![](./images-std/1.sfgpucsgd------.jpeg)|SFGPUCSGD------|WAR.GRDTRK.UNT.CBT.ISF.GRD.DMD|Dismounted Ground|POINT|A|
|477||![](./images/SFGPUCSGM------.png)|![](./images-std/1.sfgpucsgm------.jpeg)|SFGPUCSGM------|WAR.GRDTRK.UNT.CBT.ISF.GRD.MOT|Motorized Ground|POINT|A|
|478||![](./images/SFGPUCSM-------.png)|![](./images-std/1.sfgpucsm-------.jpeg)|SFGPUCSM-------|WAR.GRDTRK.UNT.CBT.ISF.WHMECH|Wheeled Mechanized|POINT|A|
|479||![](./images/SFGPUCSR-------.png)|![](./images-std/1.sfgpucsr-------.jpeg)|SFGPUCSR-------|WAR.GRDTRK.UNT.CBT.ISF.RALRD|Railroad|POINT|A|
|480||![](./images/SFGPUCSW-------.png)|![](./images-std/1.sfgpucsw-------.jpeg)|SFGPUCSW-------|WAR.GRDTRK.UNT.CBT.ISF.RIV|Riverine|POINT|A|
|481||![](./images/SFGPUCV--------.png)|![](./images-std/1.sfgpucv--------.jpeg)|SFGPUCV--------|WAR.GRDTRK.UNT.CBT.AVN|Aviation|POINT|A|
|482||![](./images/SFGPUCVC-------.png)|![](./images-std/1.sfgpucvc-------.jpeg)|SFGPUCVC-------|WAR.GRDTRK.UNT.CBT.AVN.CMPS|Composite|POINT|A|
|483||![](./images/SFGPUCVF-------.png)|![](./images-std/1.sfgpucvf-------.jpeg)|SFGPUCVF-------|WAR.GRDTRK.UNT.CBT.AVN.FIXD|Fixed Wing|POINT|A|
|484||![](./images/SFGPUCVFA------.png)|![](./images-std/1.sfgpucvfa------.jpeg)|SFGPUCVFA------|WAR.GRDTRK.UNT.CBT.AVN.FIXD.ATK|Attack Fixed Wing|POINT|A|
|485||![](./images/SFGPUCVFR------.png)|![](./images-std/1.sfgpucvfr------.jpeg)|SFGPUCVFR------|WAR.GRDTRK.UNT.CBT.AVN.FIXD.RECON|Recon Fixed Wing|POINT|A|
|486||![](./images/SFGPUCVFU------.png)|![](./images-std/1.sfgpucvfu------.jpeg)|SFGPUCVFU------|WAR.GRDTRK.UNT.CBT.AVN.FIXD.UTY|Utility Fixed Wing|POINT|A|
|487||![](./images/SFGPUCVR-------.png)|![](./images-std/1.sfgpucvr-------.jpeg)|SFGPUCVR-------|WAR.GRDTRK.UNT.CBT.AVN.ROT|Rotary Wing|POINT|A|
|488||![](./images/SFGPUCVRA------.png)|![](./images-std/1.sfgpucvra------.jpeg)|SFGPUCVRA------|WAR.GRDTRK.UNT.CBT.AVN.ROT.ATK|Attack Rotary Wing|POINT|A|
|489||![](./images/SFGPUCVRM------.png)|![](./images-std/1.sfgpucvrm------.jpeg)|SFGPUCVRM------|WAR.GRDTRK.UNT.CBT.AVN.ROT.MNECM|Mine Countermeasure Rotary Wing|POINT|A|
|490||![](./images/SFGPUCVRS------.png)|![](./images-std/1.sfgpucvrs------.jpeg)|SFGPUCVRS------|WAR.GRDTRK.UNT.CBT.AVN.ROT.SCUT|Scout Rotary Wing|POINT|A|
|491||![](./images/SFGPUCVRU------.png)|![](./images-std/1.sfgpucvru------.jpeg)|SFGPUCVRU------|WAR.GRDTRK.UNT.CBT.AVN.ROT.UTY|Utility Rotary Wing|POINT|A|
|492||![](./images/SFGPUCVRUC-----.png)|![](./images-std/1.sfgpucvruc-----.jpeg)|SFGPUCVRUC-----|WAR.GRDTRK.UNT.CBT.AVN.ROT.C2|C2 Rotary Wing|POINT|A|
|493||![](./images/SFGPUCVRUE-----.png)|![](./images-std/1.sfgpucvrue-----.jpeg)|SFGPUCVRUE-----|WAR.GRDTRK.UNT.CBT.AVN.ROT.MEDV|Medevac Rotary Wing|POINT|A|
|494||![](./images/SFGPUCVRUH-----.png)|![](./images-std/1.sfgpucvruh-----.jpeg)|SFGPUCVRUH-----|WAR.GRDTRK.UNT.CBT.AVN.ROT.UTY.HVY|Heavy Utility Rotary Wing|POINT|A|
|495||![](./images/SFGPUCVRUL-----.png)|![](./images-std/1.sfgpucvrul-----.jpeg)|SFGPUCVRUL-----|WAR.GRDTRK.UNT.CBT.AVN.ROT.UTY.LIT|Light Utility Rotary Wing|POINT|A|
|496||![](./images/SFGPUCVRUM-----.png)|![](./images-std/1.sfgpucvrum-----.jpeg)|SFGPUCVRUM-----|WAR.GRDTRK.UNT.CBT.AVN.ROT.UTY.MDM|Medium Utility Rotary Wing|POINT|A|
|497||![](./images/SFGPUCVRW------.png)|![](./images-std/1.sfgpucvrw------.jpeg)|SFGPUCVRW------|WAR.GRDTRK.UNT.CBT.AVN.ROT.ASBW|Antisubmarine Warfare Rotary Wing|POINT|A|
|498||![](./images/SFGPUCVS-------.png)|![](./images-std/1.sfgpucvs-------.jpeg)|SFGPUCVS-------|WAR.GRDTRK.UNT.CBT.AVN.SAR|Search And Rescue|POINT|A|
|499||![](./images/SFGPUCVU-------.png)|![](./images-std/1.sfgpucvu-------.jpeg)|SFGPUCVU-------|WAR.GRDTRK.UNT.CBT.AVN.UA|Unmanned Aircraft|POINT|A|
|500||![](./images/SFGPUCVUF------.png)|![](./images-std/1.sfgpucvuf------.jpeg)|SFGPUCVUF------|WAR.GRDTRK.UNT.CBT.AVN.UA.FIXD|Unmanned Aircraft Fixed Wing|POINT|A|
|501||![](./images/SFGPUCVUR------.png)|![](./images-std/1.sfgpucvur------.jpeg)|SFGPUCVUR------|WAR.GRDTRK.UNT.CBT.AVN.UA.ROT|Unmanned Aircraft Rotary Wing|POINT|A|
|502||![](./images/SFGPUCVV-------.png)|![](./images-std/1.sfgpucvv-------.jpeg)|SFGPUCVV-------|WAR.GRDTRK.UNT.CBT.AVN.VSTOL|Vertical And/Or Short Takeoff And Landing Aircraft (V/Stol)|POINT|A|
|503||![](./images/SFGPUH---------.png)|![](./images-std/1.sfgpuh---------.jpeg)|SFGPUH---------|WAR.GRDTRK.UNT.C2HQ|Special C2 Headquarters Component|POINT|A|
|504||![](./images/SFGPUS---------.png)|![](./images-std/1.sfgpus---------.jpeg)|SFGPUS---------|WAR.GRDTRK.UNT.CSS|Combat Service Support|POINT|A|
|505||![](./images/SFGPUSA--------.png)|![](./images-std/1.sfgpusa--------.jpeg)|SFGPUSA--------|WAR.GRDTRK.UNT.CSS.ADMIN|Administrative (Admin)|POINT|A|
|506||![](./images/SFGPUSAC-------.png)|![](./images-std/1.sfgpusac-------.jpeg)|SFGPUSAC-------|WAR.GRDTRK.UNT.CSS.ADMIN.CRP|Admin Corps|POINT|A|
|507||![](./images/SFGPUSAF-------.png)|![](./images-std/1.sfgpusaf-------.jpeg)|SFGPUSAF-------|WAR.GRDTRK.UNT.CSS.ADMIN.FIN|Finance|POINT|A|
|508||![](./images/SFGPUSAFC------.png)|![](./images-std/1.sfgpusafc------.jpeg)|SFGPUSAFC------|WAR.GRDTRK.UNT.CSS.ADMIN.FIN.CRP|Finance Corps|POINT|A|
|509||![](./images/SFGPUSAFT------.png)|![](./images-std/1.sfgpusaft------.jpeg)|SFGPUSAFT------|WAR.GRDTRK.UNT.CSS.ADMIN.FIN.THT|Finance Theater|POINT|A|
|510||![](./images/SFGPUSAJ-------.png)|![](./images-std/1.sfgpusaj-------.jpeg)|SFGPUSAJ-------|WAR.GRDTRK.UNT.CSS.ADMIN.JAG|Judge Advocate General (Jag)|POINT|A|
|511||![](./images/SFGPUSAJC------.png)|![](./images-std/1.sfgpusajc------.jpeg)|SFGPUSAJC------|WAR.GRDTRK.UNT.CSS.ADMIN.JAG.CRP|Jag Corps|POINT|A|
|512||![](./images/SFGPUSAJT------.png)|![](./images-std/1.sfgpusajt------.jpeg)|SFGPUSAJT------|WAR.GRDTRK.UNT.CSS.ADMIN.JAG.THT|Jag Theater|POINT|A|
|513||![](./images/SFGPUSAL-------.png)|![](./images-std/1.sfgpusal-------.jpeg)|SFGPUSAL-------|WAR.GRDTRK.UNT.CSS.ADMIN.LBR|Labor|POINT|A|
|514||![](./images/SFGPUSALC------.png)|![](./images-std/1.sfgpusalc------.jpeg)|SFGPUSALC------|WAR.GRDTRK.UNT.CSS.ADMIN.LBR.CRP|Labor Corps|POINT|A|
|515||![](./images/SFGPUSALT------.png)|![](./images-std/1.sfgpusalt------.jpeg)|SFGPUSALT------|WAR.GRDTRK.UNT.CSS.ADMIN.LBR.THT|Labor Theater|POINT|A|
|516||![](./images/SFGPUSAM-------.png)|![](./images-std/1.sfgpusam-------.jpeg)|SFGPUSAM-------|WAR.GRDTRK.UNT.CSS.ADMIN.MTRY|Mortuary/Graves Registry|POINT|A|
|517||![](./images/SFGPUSAMC------.png)|![](./images-std/1.sfgpusamc------.jpeg)|SFGPUSAMC------|WAR.GRDTRK.UNT.CSS.ADMIN.MTRY.CRP|Mortuary/Graves Registry Corps|POINT|A|
|518||![](./images/SFGPUSAMT------.png)|![](./images-std/1.sfgpusamt------.jpeg)|SFGPUSAMT------|WAR.GRDTRK.UNT.CSS.ADMIN.MTRY.THT|Mortuary/Graves Registry Theater|POINT|A|
|519||![](./images/SFGPUSAO-------.png)|![](./images-std/1.sfgpusao-------.jpeg)|SFGPUSAO-------|WAR.GRDTRK.UNT.CSS.ADMIN.PST|Postal|POINT|A|
|520||![](./images/SFGPUSAOC------.png)|![](./images-std/1.sfgpusaoc------.jpeg)|SFGPUSAOC------|WAR.GRDTRK.UNT.CSS.ADMIN.PST.CRP|Postal Corps|POINT|A|
|521||![](./images/SFGPUSAOT------.png)|![](./images-std/1.sfgpusaot------.jpeg)|SFGPUSAOT------|WAR.GRDTRK.UNT.CSS.ADMIN.PST.THT|Postal Theater|POINT|A|
|522||![](./images/SFGPUSAP-------.png)|![](./images-std/1.sfgpusap-------.jpeg)|SFGPUSAP-------|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF|Public Affairs|POINT|A|
|523||![](./images/SFGPUSAPB------.png)|![](./images-std/1.sfgpusapb------.jpeg)|SFGPUSAPB------|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.BRCT|Public Affairs Broadcast|POINT|A|
|524||![](./images/SFGPUSAPBC-----.png)|![](./images-std/1.sfgpusapbc-----.jpeg)|SFGPUSAPBC-----|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.BRCT.CRP|Public Affairs Broadcast Corps|POINT|A|
|525||![](./images/SFGPUSAPBT-----.png)|![](./images-std/1.sfgpusapbt-----.jpeg)|SFGPUSAPBT-----|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.BRCT.THT|Public Affairs Broadcast Theater|POINT|A|
|526||![](./images/SFGPUSAPC------.png)|![](./images-std/1.sfgpusapc------.jpeg)|SFGPUSAPC------|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.CRP|Public Affairs Corps|POINT|A|
|527||![](./images/SFGPUSAPM------.png)|![](./images-std/1.sfgpusapm------.jpeg)|SFGPUSAPM------|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.JIB|Public Affairs Joint Information Bureau (Jib)|POINT|A|
|528||![](./images/SFGPUSAPMC-----.png)|![](./images-std/1.sfgpusapmc-----.jpeg)|SFGPUSAPMC-----|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.JIB.CRP|Public Affairs Jib Corps|POINT|A|
|529||![](./images/SFGPUSAPMT-----.png)|![](./images-std/1.sfgpusapmt-----.jpeg)|SFGPUSAPMT-----|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.JIB.THT|Public Affairs Jib Theater|POINT|A|
|530||![](./images/SFGPUSAPT------.png)|![](./images-std/1.sfgpusapt------.jpeg)|SFGPUSAPT------|WAR.GRDTRK.UNT.CSS.ADMIN.PUBAFF.THT|Public Affairs Theater|POINT|A|
|531||![](./images/SFGPUSAQ-------.png)|![](./images-std/1.sfgpusaq-------.jpeg)|SFGPUSAQ-------|WAR.GRDTRK.UNT.CSS.ADMIN.SUPPLY|Quartermaster (Supply)|POINT|A|
|532||![](./images/SFGPUSAQC------.png)|![](./images-std/1.sfgpusaqc------.jpeg)|SFGPUSAQC------|WAR.GRDTRK.UNT.CSS.ADMIN.SUPPLY.CRP|Quartermaster (Supply) Corps|POINT|A|
|533||![](./images/SFGPUSAQT------.png)|![](./images-std/1.sfgpusaqt------.jpeg)|SFGPUSAQT------|WAR.GRDTRK.UNT.CSS.ADMIN.SUPPLY.THT|Quartermaster (Supply) Theater|POINT|A|
|534||![](./images/SFGPUSAR-------.png)|![](./images-std/1.sfgpusar-------.jpeg)|SFGPUSAR-------|WAR.GRDTRK.UNT.CSS.ADMIN.RELG|Religious/Chaplain|POINT|A|
|535||![](./images/SFGPUSARC------.png)|![](./images-std/1.sfgpusarc------.jpeg)|SFGPUSARC------|WAR.GRDTRK.UNT.CSS.ADMIN.RELG.CRP|Religious/Chaplain Corps|POINT|A|
|536||![](./images/SFGPUSART------.png)|![](./images-std/1.sfgpusart------.jpeg)|SFGPUSART------|WAR.GRDTRK.UNT.CSS.ADMIN.RELG.THT|Religious/Chaplain Theater|POINT|A|
|537||![](./images/SFGPUSAS-------.png)|![](./images-std/1.sfgpusas-------.jpeg)|SFGPUSAS-------|WAR.GRDTRK.UNT.CSS.ADMIN.PERSVC|Personnel Services|POINT|A|
|538||![](./images/SFGPUSASC------.png)|![](./images-std/1.sfgpusasc------.jpeg)|SFGPUSASC------|WAR.GRDTRK.UNT.CSS.ADMIN.PERSVC.CRP|Personnel Corps|POINT|A|
|539||![](./images/SFGPUSAST------.png)|![](./images-std/1.sfgpusast------.jpeg)|SFGPUSAST------|WAR.GRDTRK.UNT.CSS.ADMIN.PERSVC.THT|Personnel Theater|POINT|A|
|540||![](./images/SFGPUSAT-------.png)|![](./images-std/1.sfgpusat-------.jpeg)|SFGPUSAT-------|WAR.GRDTRK.UNT.CSS.ADMIN.THT|Admin Theater|POINT|A|
|541||![](./images/SFGPUSAW-------.png)|![](./images-std/1.sfgpusaw-------.jpeg)|SFGPUSAW-------|WAR.GRDTRK.UNT.CSS.ADMIN.MWR|Morale Welfare Recreation (Mwr)|POINT|A|
|542||![](./images/SFGPUSAWC------.png)|![](./images-std/1.sfgpusawc------.jpeg)|SFGPUSAWC------|WAR.GRDTRK.UNT.CSS.ADMIN.MWR.CRP|Mwr Corps|POINT|A|
|543||![](./images/SFGPUSAWT------.png)|![](./images-std/1.sfgpusawt------.jpeg)|SFGPUSAWT------|WAR.GRDTRK.UNT.CSS.ADMIN.MWR.THT|Mwr Theater|POINT|A|
|544||![](./images/SFGPUSAX-------.png)|![](./images-std/1.sfgpusax-------.jpeg)|SFGPUSAX-------|WAR.GRDTRK.UNT.CSS.ADMIN.RHU|Replacement Holding Unit (Rhu)|POINT|A|
|545||![](./images/SFGPUSAXC------.png)|![](./images-std/1.sfgpusaxc------.jpeg)|SFGPUSAXC------|WAR.GRDTRK.UNT.CSS.ADMIN.RHU.CRP|Rhu Corps|POINT|A|
|546||![](./images/SFGPUSAXT------.png)|![](./images-std/1.sfgpusaxt------.jpeg)|SFGPUSAXT------|WAR.GRDTRK.UNT.CSS.ADMIN.RHU.THT|Rhu Theater|POINT|A|
|547||![](./images/SFGPUSM--------.png)|![](./images-std/1.sfgpusm--------.jpeg)|SFGPUSM--------|WAR.GRDTRK.UNT.CSS.MED|Medical|POINT|A|
|548||![](./images/SFGPUSMC-------.png)|![](./images-std/1.sfgpusmc-------.jpeg)|SFGPUSMC-------|WAR.GRDTRK.UNT.CSS.MED.CRP|Medical Corps|POINT|A|
|549||![](./images/SFGPUSMD-------.png)|![](./images-std/1.sfgpusmd-------.jpeg)|SFGPUSMD-------|WAR.GRDTRK.UNT.CSS.MED.DEN|Medical Dental|POINT|A|
|550||![](./images/SFGPUSMDC------.png)|![](./images-std/1.sfgpusmdc------.jpeg)|SFGPUSMDC------|WAR.GRDTRK.UNT.CSS.MED.DEN.CRP|Medical Dental Corps|POINT|A|
|551||![](./images/SFGPUSMDT------.png)|![](./images-std/1.sfgpusmdt------.jpeg)|SFGPUSMDT------|WAR.GRDTRK.UNT.CSS.MED.DEN.THT|Medical Dental Theater|POINT|A|
|552||![](./images/SFGPUSMM-------.png)|![](./images-std/1.sfgpusmm-------.jpeg)|SFGPUSMM-------|WAR.GRDTRK.UNT.CSS.MED.MEDTF|Medical Treatment Facility|POINT|A|
|553||![](./images/SFGPUSMMC------.png)|![](./images-std/1.sfgpusmmc------.jpeg)|SFGPUSMMC------|WAR.GRDTRK.UNT.CSS.MED.MEDTF.CRP|Medical Treatment Facility Corps|POINT|A|
|554||![](./images/SFGPUSMMT------.png)|![](./images-std/1.sfgpusmmt------.jpeg)|SFGPUSMMT------|WAR.GRDTRK.UNT.CSS.MED.MEDTF.THT|Medical Treatment Facility Theater|POINT|A|
|555||![](./images/SFGPUSMP-------.png)|![](./images-std/1.sfgpusmp-------.jpeg)|SFGPUSMP-------|WAR.GRDTRK.UNT.CSS.MED.PSY|Medical Psychological|POINT|A|
|556||![](./images/SFGPUSMPC------.png)|![](./images-std/1.sfgpusmpc------.jpeg)|SFGPUSMPC------|WAR.GRDTRK.UNT.CSS.MED.PSY.CRP|Medical Psychological Corps|POINT|A|
|557||![](./images/SFGPUSMPT------.png)|![](./images-std/1.sfgpusmpt------.jpeg)|SFGPUSMPT------|WAR.GRDTRK.UNT.CSS.MED.PSY.THT|Medical Psychological Theater|POINT|A|
|558||![](./images/SFGPUSMT-------.png)|![](./images-std/1.sfgpusmt-------.jpeg)|SFGPUSMT-------|WAR.GRDTRK.UNT.CSS.MED.THT|Medical Theater|POINT|A|
|559||![](./images/SFGPUSMV-------.png)|![](./images-std/1.sfgpusmv-------.jpeg)|SFGPUSMV-------|WAR.GRDTRK.UNT.CSS.MED.VNY|Medical Veterinary|POINT|A|
|560||![](./images/SFGPUSMVC------.png)|![](./images-std/1.sfgpusmvc------.jpeg)|SFGPUSMVC------|WAR.GRDTRK.UNT.CSS.MED.VNY.CRP|Medical Veterinary Corps|POINT|A|
|561||![](./images/SFGPUSMVT------.png)|![](./images-std/1.sfgpusmvt------.jpeg)|SFGPUSMVT------|WAR.GRDTRK.UNT.CSS.MED.VNY.THT|Medical Veterinary Theater|POINT|A|
|562||![](./images/SFGPUSS--------.png)|![](./images-std/1.sfgpuss--------.jpeg)|SFGPUSS--------|WAR.GRDTRK.UNT.CSS.SLP|Supply|POINT|A|
|563||![](./images/SFGPUSS1-------.png)|![](./images-std/1.sfgpuss1-------.jpeg)|SFGPUSS1-------|WAR.GRDTRK.UNT.CSS.SLP.CLS1|Supply Class I|POINT|A|
|564||![](./images/SFGPUSS1C------.png)|![](./images-std/1.sfgpuss1c------.jpeg)|SFGPUSS1C------|WAR.GRDTRK.UNT.CSS.SLP.CLS1.CRP|Supply Class I Corps|POINT|A|
|565||![](./images/SFGPUSS1T------.png)|![](./images-std/1.sfgpuss1t------.jpeg)|SFGPUSS1T------|WAR.GRDTRK.UNT.CSS.SLP.CLS1.THT|Supply Class I Theater|POINT|A|
|566||![](./images/SFGPUSS2-------.png)|![](./images-std/1.sfgpuss2-------.jpeg)|SFGPUSS2-------|WAR.GRDTRK.UNT.CSS.SLP.CLS2|Supply Class Ii|POINT|A|
|567||![](./images/SFGPUSS2C------.png)|![](./images-std/1.sfgpuss2c------.jpeg)|SFGPUSS2C------|WAR.GRDTRK.UNT.CSS.SLP.CLS2.CRP|Supply Class Ii Corps|POINT|A|
|568||![](./images/SFGPUSS2T------.png)|![](./images-std/1.sfgpuss2t------.jpeg)|SFGPUSS2T------|WAR.GRDTRK.UNT.CSS.SLP.CLS2.THT|Supply Class Ii Theater|POINT|A|
|569||![](./images/SFGPUSS3-------.png)|![](./images-std/1.sfgpuss3-------.jpeg)|SFGPUSS3-------|WAR.GRDTRK.UNT.CSS.SLP.CLS3|Supply Class Iii|POINT|A|
|570||![](./images/SFGPUSS3A------.png)|![](./images-std/1.sfgpuss3a------.jpeg)|SFGPUSS3A------|WAR.GRDTRK.UNT.CSS.SLP.CLS3.AVN|Supply Class Iii Aviation|POINT|A|
|571||![](./images/SFGPUSS3AC-----.png)|![](./images-std/1.sfgpuss3ac-----.jpeg)|SFGPUSS3AC-----|WAR.GRDTRK.UNT.CSS.SLP.CLS3.AVN.CRP|Supply Class Iii Aviation Corps|POINT|A|
|572||![](./images/SFGPUSS3AT-----.png)|![](./images-std/1.sfgpuss3at-----.jpeg)|SFGPUSS3AT-----|WAR.GRDTRK.UNT.CSS.SLP.CLS3.AVN.THT|Supply Class Iii Aviation Theater|POINT|A|
|573||![](./images/SFGPUSS3C------.png)|![](./images-std/1.sfgpuss3c------.jpeg)|SFGPUSS3C------|WAR.GRDTRK.UNT.CSS.SLP.CLS3.CRP|Supply Class Iii Corps|POINT|A|
|574||![](./images/SFGPUSS3T------.png)|![](./images-std/1.sfgpuss3t------.jpeg)|SFGPUSS3T------|WAR.GRDTRK.UNT.CSS.SLP.CLS3.THT|Supply Class Iii Theater|POINT|A|
|575||![](./images/SFGPUSS4-------.png)|![](./images-std/1.sfgpuss4-------.jpeg)|SFGPUSS4-------|WAR.GRDTRK.UNT.CSS.SLP.CLS4|Supply Class Iv|POINT|A|
|576||![](./images/SFGPUSS4C------.png)|![](./images-std/1.sfgpuss4c------.jpeg)|SFGPUSS4C------|WAR.GRDTRK.UNT.CSS.SLP.CLS4.CRP|Supply Class Iv Corps|POINT|A|
|577||![](./images/SFGPUSS4T------.png)|![](./images-std/1.sfgpuss4t------.jpeg)|SFGPUSS4T------|WAR.GRDTRK.UNT.CSS.SLP.CLS4.THT|Supply Class Iv Theater|POINT|A|
|578||![](./images/SFGPUSS5-------.png)|![](./images-std/1.sfgpuss5-------.jpeg)|SFGPUSS5-------|WAR.GRDTRK.UNT.CSS.SLP.CLS5|Supply Class V|POINT|A|
|579||![](./images/SFGPUSS5C------.png)|![](./images-std/1.sfgpuss5c------.jpeg)|SFGPUSS5C------|WAR.GRDTRK.UNT.CSS.SLP.CLS5.CRP|Supply Class V Corps|POINT|A|
|580||![](./images/SFGPUSS5T------.png)|![](./images-std/1.sfgpuss5t------.jpeg)|SFGPUSS5T------|WAR.GRDTRK.UNT.CSS.SLP.CLS5.THT|Supply Class V Theater|POINT|A|
|581||![](./images/SFGPUSS6-------.png)|![](./images-std/1.sfgpuss6-------.jpeg)|SFGPUSS6-------|WAR.GRDTRK.UNT.CSS.SLP.CLS6|Supply Class Vi|POINT|A|
|582||![](./images/SFGPUSS6C------.png)|![](./images-std/1.sfgpuss6c------.jpeg)|SFGPUSS6C------|WAR.GRDTRK.UNT.CSS.SLP.CLS6.CRP|Supply Class Vi Corps|POINT|A|
|583||![](./images/SFGPUSS6T------.png)|![](./images-std/1.sfgpuss6t------.jpeg)|SFGPUSS6T------|WAR.GRDTRK.UNT.CSS.SLP.CLS6.THT|Supply Class Vi Theater|POINT|A|
|584||![](./images/SFGPUSS7-------.png)|![](./images-std/1.sfgpuss7-------.jpeg)|SFGPUSS7-------|WAR.GRDTRK.UNT.CSS.SLP.CLS7|Supply Class Vii|POINT|A|
|585||![](./images/SFGPUSS7C------.png)|![](./images-std/1.sfgpuss7c------.jpeg)|SFGPUSS7C------|WAR.GRDTRK.UNT.CSS.SLP.CLS7.CRP|Supply Class Vii Corps|POINT|A|
|586||![](./images/SFGPUSS7T------.png)|![](./images-std/1.sfgpuss7t------.jpeg)|SFGPUSS7T------|WAR.GRDTRK.UNT.CSS.SLP.CLS7.THT|Supply Class Vii Theater|POINT|A|
|587||![](./images/SFGPUSS8-------.png)|![](./images-std/1.sfgpuss8-------.jpeg)|SFGPUSS8-------|WAR.GRDTRK.UNT.CSS.SLP.CLS8|Supply Class Viii|POINT|A|
|588||![](./images/SFGPUSS8C------.png)|![](./images-std/1.sfgpuss8c------.jpeg)|SFGPUSS8C------|WAR.GRDTRK.UNT.CSS.SLP.CLS8.CRP|Supply Class Viii Corps|POINT|A|
|589||![](./images/SFGPUSS8T------.png)|![](./images-std/1.sfgpuss8t------.jpeg)|SFGPUSS8T------|WAR.GRDTRK.UNT.CSS.SLP.CLS8.THT|Supply Class Viii Theater|POINT|A|
|590||![](./images/SFGPUSS9-------.png)|![](./images-std/1.sfgpuss9-------.jpeg)|SFGPUSS9-------|WAR.GRDTRK.UNT.CSS.SLP.CLS9|Supply Class Ix|POINT|A|
|591||![](./images/SFGPUSS9C------.png)|![](./images-std/1.sfgpuss9c------.jpeg)|SFGPUSS9C------|WAR.GRDTRK.UNT.CSS.SLP.CLS9.CRP|Supply Class Ix Corps|POINT|A|
|592||![](./images/SFGPUSS9T------.png)|![](./images-std/1.sfgpuss9t------.jpeg)|SFGPUSS9T------|WAR.GRDTRK.UNT.CSS.SLP.CLS9.THT|Supply Class Ix Theater|POINT|A|
|593||![](./images/SFGPUSSC-------.png)|![](./images-std/1.sfgpussc-------.jpeg)|SFGPUSSC-------|WAR.GRDTRK.UNT.CSS.SLP.CRP|Supply Corps|POINT|A|
|594||![](./images/SFGPUSSL-------.png)|![](./images-std/1.sfgpussl-------.jpeg)|SFGPUSSL-------|WAR.GRDTRK.UNT.CSS.SLP.LDY|Supply Laundry/Bath|POINT|A|
|595||![](./images/SFGPUSSLC------.png)|![](./images-std/1.sfgpusslc------.jpeg)|SFGPUSSLC------|WAR.GRDTRK.UNT.CSS.SLP.LDY.CRP|Supply Laundry/Bath Corps|POINT|A|
|596||![](./images/SFGPUSSLT------.png)|![](./images-std/1.sfgpusslt------.jpeg)|SFGPUSSLT------|WAR.GRDTRK.UNT.CSS.SLP.LDY.THT|Supply Laundry/Bath Theater|POINT|A|
|597||![](./images/SFGPUSST-------.png)|![](./images-std/1.sfgpusst-------.jpeg)|SFGPUSST-------|WAR.GRDTRK.UNT.CSS.SLP.THT|Supply Theater|POINT|A|
|598||![](./images/SFGPUSSW-------.png)|![](./images-std/1.sfgpussw-------.jpeg)|SFGPUSSW-------|WAR.GRDTRK.UNT.CSS.SLP.H2O|Supply Water|POINT|A|
|599||![](./images/SFGPUSSWC------.png)|![](./images-std/1.sfgpusswc------.jpeg)|SFGPUSSWC------|WAR.GRDTRK.UNT.CSS.SLP.H2O.CRP|Supply Water Corps|POINT|A|
|600||![](./images/SFGPUSSWP------.png)|![](./images-std/1.sfgpusswp------.jpeg)|SFGPUSSWP------|WAR.GRDTRK.UNT.CSS.SLP.H2O.PUR|Supply Water Purification|POINT|A|
|601||![](./images/SFGPUSSWPC-----.png)|![](./images-std/1.sfgpusswpc-----.jpeg)|SFGPUSSWPC-----|WAR.GRDTRK.UNT.CSS.SLP.H2O.PUR.CRP|Supply Water Purification Corps|POINT|A|
|602||![](./images/SFGPUSSWPT-----.png)|![](./images-std/1.sfgpusswpt-----.jpeg)|SFGPUSSWPT-----|WAR.GRDTRK.UNT.CSS.SLP.H2O.PUR.THT|Supply Water Purification Theater|POINT|A|
|603||![](./images/SFGPUSSWT------.png)|![](./images-std/1.sfgpusswt------.jpeg)|SFGPUSSWT------|WAR.GRDTRK.UNT.CSS.SLP.H2O.THT|Supply Water Theater|POINT|A|
|604||![](./images/SFGPUSSX-------.png)|![](./images-std/1.sfgpussx-------.jpeg)|SFGPUSSX-------|WAR.GRDTRK.UNT.CSS.SLP.CLS10|Supply Class X|POINT|A|
|605||![](./images/SFGPUSSXC------.png)|![](./images-std/1.sfgpussxc------.jpeg)|SFGPUSSXC------|WAR.GRDTRK.UNT.CSS.SLP.CLS10.CRP|Supply Class X Corps|POINT|A|
|606||![](./images/SFGPUSSXT------.png)|![](./images-std/1.sfgpussxt------.jpeg)|SFGPUSSXT------|WAR.GRDTRK.UNT.CSS.SLP.CLS10.THT|Supply Class X Theater|POINT|A|
|607||![](./images/SFGPUST--------.png)|![](./images-std/1.sfgpust--------.jpeg)|SFGPUST--------|WAR.GRDTRK.UNT.CSS.TPT|Transportation|POINT|A|
|608||![](./images/SFGPUSTA-------.png)|![](./images-std/1.sfgpusta-------.jpeg)|SFGPUSTA-------|WAR.GRDTRK.UNT.CSS.TPT.APOD|Apod/Apoe|POINT|A|
|609||![](./images/SFGPUSTAC------.png)|![](./images-std/1.sfgpustac------.jpeg)|SFGPUSTAC------|WAR.GRDTRK.UNT.CSS.TPT.APOD.CRP|Apod/Apoe Corps|POINT|A|
|610||![](./images/SFGPUSTAT------.png)|![](./images-std/1.sfgpustat------.jpeg)|SFGPUSTAT------|WAR.GRDTRK.UNT.CSS.TPT.APOD.THT|Apod/Apoe Theater|POINT|A|
|611||![](./images/SFGPUSTC-------.png)|![](./images-std/1.sfgpustc-------.jpeg)|SFGPUSTC-------|WAR.GRDTRK.UNT.CSS.TPT.CRP|Transportation Corps|POINT|A|
|612||![](./images/SFGPUSTI-------.png)|![](./images-std/1.sfgpusti-------.jpeg)|SFGPUSTI-------|WAR.GRDTRK.UNT.CSS.TPT.MSL|Missile|POINT|A|
|613||![](./images/SFGPUSTIC------.png)|![](./images-std/1.sfgpustic------.jpeg)|SFGPUSTIC------|WAR.GRDTRK.UNT.CSS.TPT.MSL.CRP|Missile Corps|POINT|A|
|614||![](./images/SFGPUSTIT------.png)|![](./images-std/1.sfgpustit------.jpeg)|SFGPUSTIT------|WAR.GRDTRK.UNT.CSS.TPT.MSL.THT|Missile Theater|POINT|A|
|615||![](./images/SFGPUSTM-------.png)|![](./images-std/1.sfgpustm-------.jpeg)|SFGPUSTM-------|WAR.GRDTRK.UNT.CSS.TPT.MCC|Movement Control Center (Mcc)|POINT|A|
|616||![](./images/SFGPUSTMC------.png)|![](./images-std/1.sfgpustmc------.jpeg)|SFGPUSTMC------|WAR.GRDTRK.UNT.CSS.TPT.MCC.CRP|Mcc Corps|POINT|A|
|617||![](./images/SFGPUSTMT------.png)|![](./images-std/1.sfgpustmt------.jpeg)|SFGPUSTMT------|WAR.GRDTRK.UNT.CSS.TPT.MCC.THT|Mcc Theater|POINT|A|
|618||![](./images/SFGPUSTR-------.png)|![](./images-std/1.sfgpustr-------.jpeg)|SFGPUSTR-------|WAR.GRDTRK.UNT.CSS.TPT.RHD|Railhead|POINT|A|
|619||![](./images/SFGPUSTRC------.png)|![](./images-std/1.sfgpustrc------.jpeg)|SFGPUSTRC------|WAR.GRDTRK.UNT.CSS.TPT.RHD.CRP|Railhead Corps|POINT|A|
|620||![](./images/SFGPUSTRT------.png)|![](./images-std/1.sfgpustrt------.jpeg)|SFGPUSTRT------|WAR.GRDTRK.UNT.CSS.TPT.RHD.THT|Railhead Theater|POINT|A|
|621||![](./images/SFGPUSTS-------.png)|![](./images-std/1.sfgpusts-------.jpeg)|SFGPUSTS-------|WAR.GRDTRK.UNT.CSS.TPT.SPOD|Spod/Spoe|POINT|A|
|622||![](./images/SFGPUSTSC------.png)|![](./images-std/1.sfgpustsc------.jpeg)|SFGPUSTSC------|WAR.GRDTRK.UNT.CSS.TPT.SPOD.CRP|Spod/Spoe Corps|POINT|A|
|623||![](./images/SFGPUSTST------.png)|![](./images-std/1.sfgpustst------.jpeg)|SFGPUSTST------|WAR.GRDTRK.UNT.CSS.TPT.SPOD.THT|Spod/Spoe Theater|POINT|A|
|624||![](./images/SFGPUSTT-------.png)|![](./images-std/1.sfgpustt-------.jpeg)|SFGPUSTT-------|WAR.GRDTRK.UNT.CSS.TPT.THT|Transportation Theater|POINT|A|
|625||![](./images/SFGPUSX--------.png)|![](./images-std/1.sfgpusx--------.jpeg)|SFGPUSX--------|WAR.GRDTRK.UNT.CSS.MAINT|Maintenance|POINT|A|
|626||![](./images/SFGPUSXC-------.png)|![](./images-std/1.sfgpusxc-------.jpeg)|SFGPUSXC-------|WAR.GRDTRK.UNT.CSS.MAINT.CRP|Maintenance Corps|POINT|A|
|627||![](./images/SFGPUSXE-------.png)|![](./images-std/1.sfgpusxe-------.jpeg)|SFGPUSXE-------|WAR.GRDTRK.UNT.CSS.MAINT.EOP|Electro-Optical|POINT|A|
|628||![](./images/SFGPUSXEC------.png)|![](./images-std/1.sfgpusxec------.jpeg)|SFGPUSXEC------|WAR.GRDTRK.UNT.CSS.MAINT.EOP.CRP|Electro-Optical Corps|POINT|A|
|629||![](./images/SFGPUSXET------.png)|![](./images-std/1.sfgpusxet------.jpeg)|SFGPUSXET------|WAR.GRDTRK.UNT.CSS.MAINT.EOP.THT|Electro-Optical Theater|POINT|A|
|630||![](./images/SFGPUSXH-------.png)|![](./images-std/1.sfgpusxh-------.jpeg)|SFGPUSXH-------|WAR.GRDTRK.UNT.CSS.MAINT.HVY|Maintenance Heavy|POINT|A|
|631||![](./images/SFGPUSXHC------.png)|![](./images-std/1.sfgpusxhc------.jpeg)|SFGPUSXHC------|WAR.GRDTRK.UNT.CSS.MAINT.HVY.CRP|Maintenance Heavy Corps|POINT|A|
|632||![](./images/SFGPUSXHT------.png)|![](./images-std/1.sfgpusxht------.jpeg)|SFGPUSXHT------|WAR.GRDTRK.UNT.CSS.MAINT.HVY.THT|Maintenance Heavy Theater|POINT|A|
|633||![](./images/SFGPUSXO-------.png)|![](./images-std/1.sfgpusxo-------.jpeg)|SFGPUSXO-------|WAR.GRDTRK.UNT.CSS.MAINT.ORD|Ordnance|POINT|A|
|634||![](./images/SFGPUSXOC------.png)|![](./images-std/1.sfgpusxoc------.jpeg)|SFGPUSXOC------|WAR.GRDTRK.UNT.CSS.MAINT.ORD.CRP|Ordnance Corps|POINT|A|
|635||![](./images/SFGPUSXOM------.png)|![](./images-std/1.sfgpusxom------.jpeg)|SFGPUSXOM------|WAR.GRDTRK.UNT.CSS.MAINT.ORD.MSL|Ordnance Missile|POINT|A|
|636||![](./images/SFGPUSXOMC-----.png)|![](./images-std/1.sfgpusxomc-----.jpeg)|SFGPUSXOMC-----|WAR.GRDTRK.UNT.CSS.MAINT.ORD.MSL.CRP|Ordnance Missile Corps|POINT|A|
|637||![](./images/SFGPUSXOMT-----.png)|![](./images-std/1.sfgpusxomt-----.jpeg)|SFGPUSXOMT-----|WAR.GRDTRK.UNT.CSS.MAINT.ORD.MSL.THT|Ordnance Missile Theater|POINT|A|
|638||![](./images/SFGPUSXOT------.png)|![](./images-std/1.sfgpusxot------.jpeg)|SFGPUSXOT------|WAR.GRDTRK.UNT.CSS.MAINT.ORD.THT|Ordnance Theater|POINT|A|
|639||![](./images/SFGPUSXR-------.png)|![](./images-std/1.sfgpusxr-------.jpeg)|SFGPUSXR-------|WAR.GRDTRK.UNT.CSS.MAINT.RCY|Maintenance Recovery|POINT|A|
|640||![](./images/SFGPUSXRC------.png)|![](./images-std/1.sfgpusxrc------.jpeg)|SFGPUSXRC------|WAR.GRDTRK.UNT.CSS.MAINT.RCY.CRP|Maintenance Recovery Corps|POINT|A|
|641||![](./images/SFGPUSXRT------.png)|![](./images-std/1.sfgpusxrt------.jpeg)|SFGPUSXRT------|WAR.GRDTRK.UNT.CSS.MAINT.RCY.THT|Maintenance Recovery Theater|POINT|A|
|642||![](./images/SFGPUSXT-------.png)|![](./images-std/1.sfgpusxt-------.jpeg)|SFGPUSXT-------|WAR.GRDTRK.UNT.CSS.MAINT.THT|Maintenance Theater|POINT|A|
|643||![](./images/SFGPUU---------.png)|![](./images-std/1.sfgpuu---------.jpeg)|SFGPUU---------|WAR.GRDTRK.UNT.CS|Combat Support|POINT|A|
|644||![](./images/SFGPUUA--------.png)|![](./images-std/1.sfgpuua--------.jpeg)|SFGPUUA--------|WAR.GRDTRK.UNT.CS.CBRN|Combat Support Cbrn|POINT|A|
|645||![](./images/SFGPUUAB-------.png)|![](./images-std/1.sfgpuuab-------.jpeg)|SFGPUUAB-------|WAR.GRDTRK.UNT.CS.CBRN.BIO|Biological|POINT|A|
|646||![](./images/SFGPUUABR------.png)|![](./images-std/1.sfgpuuabr------.jpeg)|SFGPUUABR------|WAR.GRDTRK.UNT.CS.CBRN.BIO.RECEQP|Recon Equipped|POINT|A|
|647||![](./images/SFGPUUAC-------.png)|![](./images-std/1.sfgpuuac-------.jpeg)|SFGPUUAC-------|WAR.GRDTRK.UNT.CS.CBRN.CML|Chemical|POINT|A|
|648||![](./images/SFGPUUACC------.png)|![](./images-std/1.sfgpuuacc------.jpeg)|SFGPUUACC------|WAR.GRDTRK.UNT.CS.CBRN.CML.SMKDEC|Smoke/Decon|POINT|A|
|649||![](./images/SFGPUUACCK-----.png)|![](./images-std/1.sfgpuuacck-----.jpeg)|SFGPUUACCK-----|WAR.GRDTRK.UNT.CS.CBRN.CML.SMKDEC.MECH|Mechanized Smoke/Decon|POINT|A|
|650||![](./images/SFGPUUACCM-----.png)|![](./images-std/1.sfgpuuaccm-----.jpeg)|SFGPUUACCM-----|WAR.GRDTRK.UNT.CS.CBRN.CML.SMKDEC.MOT|Motorized Smoke/Decon|POINT|A|
|651||![](./images/SFGPUUACR------.png)|![](./images-std/1.sfgpuuacr------.jpeg)|SFGPUUACR------|WAR.GRDTRK.UNT.CS.CBRN.CML.RECON|Chemical Recon|POINT|A|
|652||![](./images/SFGPUUACRS-----.png)|![](./images-std/1.sfgpuuacrs-----.jpeg)|SFGPUUACRS-----|WAR.GRDTRK.UNT.CS.CBRN.CML.RECON.WAVS|Chemical Wheeled Armored Vehicle Reconnaissance Surveillance|POINT|A|
|653||![](./images/SFGPUUACRW-----.png)|![](./images-std/1.sfgpuuacrw-----.jpeg)|SFGPUUACRW-----|WAR.GRDTRK.UNT.CS.CBRN.CML.RECON.WARMVH|Chemical Wheeled Armored Vehicle|POINT|A|
|654||![](./images/SFGPUUACS------.png)|![](./images-std/1.sfgpuuacs------.jpeg)|SFGPUUACS------|WAR.GRDTRK.UNT.CS.CBRN.CML.SMK|Smoke|POINT|A|
|655||![](./images/SFGPUUACSA-----.png)|![](./images-std/1.sfgpuuacsa-----.jpeg)|SFGPUUACSA-----|WAR.GRDTRK.UNT.CS.CBRN.CML.SMK.ARM|Armor Smoke|POINT|A|
|656||![](./images/SFGPUUACSM-----.png)|![](./images-std/1.sfgpuuacsm-----.jpeg)|SFGPUUACSM-----|WAR.GRDTRK.UNT.CS.CBRN.CML.SMK.MOT|Motorized Smoke|POINT|A|
|657||![](./images/SFGPUUAD-------.png)|![](./images-std/1.sfgpuuad-------.jpeg)|SFGPUUAD-------|WAR.GRDTRK.UNT.CS.CBRN.DECON|Decontamination|POINT|A|
|658||![](./images/SFGPUUAN-------.png)|![](./images-std/1.sfgpuuan-------.jpeg)|SFGPUUAN-------|WAR.GRDTRK.UNT.CS.CBRN.NUC|Nuclear|POINT|A|
|659||![](./images/SFGPUUE--------.png)|![](./images-std/1.sfgpuue--------.jpeg)|SFGPUUE--------|WAR.GRDTRK.UNT.CS.EOD|Explosive Ordnance Disposal|POINT|A|
|660||![](./images/SFGPUUI--------.png)|![](./images-std/1.sfgpuui--------.jpeg)|SFGPUUI--------|WAR.GRDTRK.UNT.CS.IWU|Information Warfare Unit|POINT|A|
|661||![](./images/SFGPUUL--------.png)|![](./images-std/1.sfgpuul--------.jpeg)|SFGPUUL--------|WAR.GRDTRK.UNT.CS.LAWENU|Law Enforcement Unit|POINT|A|
|662||![](./images/SFGPUULC-------.png)|![](./images-std/1.sfgpuulc-------.jpeg)|SFGPUULC-------|WAR.GRDTRK.UNT.CS.LAWENU.CLE|Civilian Law Enforcement|POINT|A|
|663||![](./images/SFGPUULD-------.png)|![](./images-std/1.sfgpuuld-------.jpeg)|SFGPUULD-------|WAR.GRDTRK.UNT.CS.LAWENU.CID|Central Intelligence Division (Cid)|POINT|A|
|664||![](./images/SFGPUULF-------.png)|![](./images-std/1.sfgpuulf-------.jpeg)|SFGPUULF-------|WAR.GRDTRK.UNT.CS.LAWENU.SECPOL|Security Police (Air)|POINT|A|
|665||![](./images/SFGPUULM-------.png)|![](./images-std/1.sfgpuulm-------.jpeg)|SFGPUULM-------|WAR.GRDTRK.UNT.CS.LAWENU.MILP|Military Police|POINT|A|
|666||![](./images/SFGPUULS-------.png)|![](./images-std/1.sfgpuuls-------.jpeg)|SFGPUULS-------|WAR.GRDTRK.UNT.CS.LAWENU.SHRPAT|Shore Patrol|POINT|A|
|667||![](./images/SFGPUUM--------.png)|![](./images-std/1.sfgpuum--------.jpeg)|SFGPUUM--------|WAR.GRDTRK.UNT.CS.MILINT|Military Intelligence|POINT|A|
|668||![](./images/SFGPUUMA-------.png)|![](./images-std/1.sfgpuuma-------.jpeg)|SFGPUUMA-------|WAR.GRDTRK.UNT.CS.MILINT.AEREXP|Aerial Exploitation|POINT|A|
|669||![](./images/SFGPUUMC-------.png)|![](./images-std/1.sfgpuumc-------.jpeg)|SFGPUUMC-------|WAR.GRDTRK.UNT.CS.MILINT.CINT|Counterintelligence|POINT|A|
|670||![](./images/SFGPUUMJ-------.png)|![](./images-std/1.sfgpuumj-------.jpeg)|SFGPUUMJ-------|WAR.GRDTRK.UNT.CS.MILINT.JINTCT|Joint Intelligence Center|POINT|A|
|671||![](./images/SFGPUUMMO------.png)|![](./images-std/1.sfgpuummo------.jpeg)|SFGPUUMMO------|WAR.GRDTRK.UNT.CS.MILINT.SVL.METO|Meteorological|POINT|A|
|672||![](./images/SFGPUUMO-------.png)|![](./images-std/1.sfgpuumo-------.jpeg)|SFGPUUMO-------|WAR.GRDTRK.UNT.CS.MILINT.OPN|Operations|POINT|A|
|673||![](./images/SFGPUUMQ-------.png)|![](./images-std/1.sfgpuumq-------.jpeg)|SFGPUUMQ-------|WAR.GRDTRK.UNT.CS.MILINT.INTGN|Interrogation|POINT|A|
|674||![](./images/SFGPUUMR-------.png)|![](./images-std/1.sfgpuumr-------.jpeg)|SFGPUUMR-------|WAR.GRDTRK.UNT.CS.MILINT.SVL|Surveillance|POINT|A|
|675||![](./images/SFGPUUMRG------.png)|![](./images-std/1.sfgpuumrg------.jpeg)|SFGPUUMRG------|WAR.GRDTRK.UNT.CS.MILINT.SVL.GRDSR|Ground Surveillance Radar|POINT|A|
|676||![](./images/SFGPUUMRS------.png)|![](./images-std/1.sfgpuumrs------.jpeg)|SFGPUUMRS------|WAR.GRDTRK.UNT.CS.MILINT.SVL.SNS|Sensor|POINT|A|
|677||![](./images/SFGPUUMRSS-----.png)|![](./images-std/1.sfgpuumrss-----.jpeg)|SFGPUUMRSS-----|WAR.GRDTRK.UNT.CS.MILINT.SVL.SNS.SCM|Sensor Scm|POINT|A|
|678||![](./images/SFGPUUMRX------.png)|![](./images-std/1.sfgpuumrx------.jpeg)|SFGPUUMRX------|WAR.GRDTRK.UNT.CS.MILINT.SVL.GRDSM|Ground Station Module|POINT|A|
|679||![](./images/SFGPUUMS-------.png)|![](./images-std/1.sfgpuums-------.jpeg)|SFGPUUMS-------|WAR.GRDTRK.UNT.CS.MILINT.SIGINT|Signal Intelligence (Sigint)|POINT|A|
|680||![](./images/SFGPUUMSE------.png)|![](./images-std/1.sfgpuumse------.jpeg)|SFGPUUMSE------|WAR.GRDTRK.UNT.CS.MILINT.SIGINT.ECW|Electronic Warfare|POINT|A|
|681||![](./images/SFGPUUMSEA-----.png)|![](./images-std/1.sfgpuumsea-----.jpeg)|SFGPUUMSEA-----|WAR.GRDTRK.UNT.CS.MILINT.SIGINT.ECW.ARMWVH|Armored Wheeled Vehicle|POINT|A|
|682||![](./images/SFGPUUMSEC-----.png)|![](./images-std/1.sfgpuumsec-----.jpeg)|SFGPUUMSEC-----|WAR.GRDTRK.UNT.CS.MILINT.SIGINT.ECW.CRP|Corps|POINT|A|
|683||![](./images/SFGPUUMSED-----.png)|![](./images-std/1.sfgpuumsed-----.jpeg)|SFGPUUMSED-----|WAR.GRDTRK.UNT.CS.MILINT.SIGINT.ECW.DFN|Direction Finding|POINT|A|
|684||![](./images/SFGPUUMSEI-----.png)|![](./images-std/1.sfgpuumsei-----.jpeg)|SFGPUUMSEI-----|WAR.GRDTRK.UNT.CS.MILINT.SIGINT.ECW.INC|Intercept|POINT|A|
|685||![](./images/SFGPUUMSEJ-----.png)|![](./images-std/1.sfgpuumsej-----.jpeg)|SFGPUUMSEJ-----|WAR.GRDTRK.UNT.CS.MILINT.SIGINT.ECW.JMG|Jamming|POINT|A|
|686||![](./images/SFGPUUMSET-----.png)|![](./images-std/1.sfgpuumset-----.jpeg)|SFGPUUMSET-----|WAR.GRDTRK.UNT.CS.MILINT.SIGINT.ECW.THT|Theater|POINT|A|
|687||![](./images/SFGPUUMT-------.png)|![](./images-std/1.sfgpuumt-------.jpeg)|SFGPUUMT-------|WAR.GRDTRK.UNT.CS.MILINT.TACEXP|Tactical Exploit|POINT|A|
|688||![](./images/SFGPUUP--------.png)|![](./images-std/1.sfgpuup--------.jpeg)|SFGPUUP--------|WAR.GRDTRK.UNT.CS.LNDSUP|Landing Support|POINT|A|
|689||![](./images/SFGPUUS--------.png)|![](./images-std/1.sfgpuus--------.jpeg)|SFGPUUS--------|WAR.GRDTRK.UNT.CS.SIGUNT|Signal Unit|POINT|A|
|690||![](./images/SFGPUUSA-------.png)|![](./images-std/1.sfgpuusa-------.jpeg)|SFGPUUSA-------|WAR.GRDTRK.UNT.CS.SIGUNT.ARA|Area|POINT|A|
|691||![](./images/SFGPUUSC-------.png)|![](./images-std/1.sfgpuusc-------.jpeg)|SFGPUUSC-------|WAR.GRDTRK.UNT.CS.SIGUNT.COMCP|Communication Configured Package|POINT|A|
|692||![](./images/SFGPUUSCL------.png)|![](./images-std/1.sfgpuuscl------.jpeg)|SFGPUUSCL------|WAR.GRDTRK.UNT.CS.SIGUNT.COMCP.LCCP|Large Communication Configured Package (Lccp)|POINT|A|
|693||![](./images/SFGPUUSF-------.png)|![](./images-std/1.sfgpuusf-------.jpeg)|SFGPUUSF-------|WAR.GRDTRK.UNT.CS.SIGUNT.FWDCOM|Forward Communications|POINT|A|
|694||![](./images/SFGPUUSM-------.png)|![](./images-std/1.sfgpuusm-------.jpeg)|SFGPUUSM-------|WAR.GRDTRK.UNT.CS.SIGUNT.MSE|Multiple Subscriber Element|POINT|A|
|695||![](./images/SFGPUUSML------.png)|![](./images-std/1.sfgpuusml------.jpeg)|SFGPUUSML------|WAR.GRDTRK.UNT.CS.SIGUNT.MSE.LEN|Large Extension Node|POINT|A|
|696||![](./images/SFGPUUSMN------.png)|![](./images-std/1.sfgpuusmn------.jpeg)|SFGPUUSMN------|WAR.GRDTRK.UNT.CS.SIGUNT.MSE.NODCTR|Node Center|POINT|A|
|697||![](./images/SFGPUUSMS------.png)|![](./images-std/1.sfgpuusms------.jpeg)|SFGPUUSMS------|WAR.GRDTRK.UNT.CS.SIGUNT.MSE.SEN|Small Extension Node|POINT|A|
|698||![](./images/SFGPUUSO-------.png)|![](./images-std/1.sfgpuuso-------.jpeg)|SFGPUUSO-------|WAR.GRDTRK.UNT.CS.SIGUNT.CMDOPN|Command Operations|POINT|A|
|699||![](./images/SFGPUUSR-------.png)|![](./images-std/1.sfgpuusr-------.jpeg)|SFGPUUSR-------|WAR.GRDTRK.UNT.CS.SIGUNT.RDOUNT|Radio Unit|POINT|A|
|700||![](./images/SFGPUUSRS------.png)|![](./images-std/1.sfgpuusrs------.jpeg)|SFGPUUSRS------|WAR.GRDTRK.UNT.CS.SIGUNT.RDOUNT.TACSAT|Tactical Satellite|POINT|A|
|701||![](./images/SFGPUUSRT------.png)|![](./images-std/1.sfgpuusrt------.jpeg)|SFGPUUSRT------|WAR.GRDTRK.UNT.CS.SIGUNT.RDOUNT.TTYCTR|Teletype Center|POINT|A|
|702||![](./images/SFGPUUSRW------.png)|![](./images-std/1.sfgpuusrw------.jpeg)|SFGPUUSRW------|WAR.GRDTRK.UNT.CS.SIGUNT.RDOUNT.RLY|Relay|POINT|A|
|703||![](./images/SFGPUUSS-------.png)|![](./images-std/1.sfgpuuss-------.jpeg)|SFGPUUSS-------|WAR.GRDTRK.UNT.CS.SIGUNT.SIGSUP|Signal Support|POINT|A|
|704||![](./images/SFGPUUSW-------.png)|![](./images-std/1.sfgpuusw-------.jpeg)|SFGPUUSW-------|WAR.GRDTRK.UNT.CS.SIGUNT.PHOSWT|Telephone Switch|POINT|A|
|705||![](./images/SFGPUUSX-------.png)|![](./images-std/1.sfgpuusx-------.jpeg)|SFGPUUSX-------|WAR.GRDTRK.UNT.CS.SIGUNT.ECRG|Electronic Ranging|POINT|A|
|706||![](./images/SFPP-----------.png)|![](./images-std/1.sfpp-----------.jpeg)|SFPP-----------|WAR.SPC|Space Track|POINT|A|
|707||![](./images/SFPPL----------.png)|![](./images-std/1.sfppl----------.jpeg)|SFPPL----------|WAR.SPC.SLV|Space Launch Vehicle|POINT|A|
|708||![](./images/SFPPS----------.png)|![](./images-std/1.sfpps----------.jpeg)|SFPPS----------|WAR.SPC.SAT|Satellite|POINT|A|
|709||![](./images/SFPPT----------.png)|![](./images-std/1.sfppt----------.jpeg)|SFPPT----------|WAR.SPC.SST|Space Station|POINT|A|
|710||![](./images/SFPPV----------.png)|![](./images-std/1.sfppv----------.jpeg)|SFPPV----------|WAR.SPC.CSV|Crewed Space Vehicle|POINT|A|
|711||![](./images/SFSP-----------.png)|![](./images-std/1.sfsp-----------.jpeg)|SFSP-----------|WAR.SSUF|Sea Surface Track|POINT|A|
|712||![](./images/SFSPC----------.png)|![](./images-std/1.sfspc----------.jpeg)|SFSPC----------|WAR.SSUF.CBTT|Combatant|POINT|A|
|713||![](./images/SFSPCA---------.png)|![](./images-std/1.sfspca---------.jpeg)|SFSPCA---------|WAR.SSUF.CBTT.AMPWS|Amphibious Warfare Ship|POINT|A|
|714||![](./images/SFSPCALA-------.png)|![](./images-std/1.sfspcala-------.jpeg)|SFSPCALA-------|WAR.SSUF.CBTT.AMPWS.ASTVES|Assault Vessel|POINT|A|
|715||![](./images/SFSPCALC-------.png)|![](./images-std/1.sfspcalc-------.jpeg)|SFSPCALC-------|WAR.SSUF.CBTT.AMPWS.LNDCRT|Landing Craft|POINT|A|
|716||![](./images/SFSPCALS-------.png)|![](./images-std/1.sfspcals-------.jpeg)|SFSPCALS-------|WAR.SSUF.CBTT.AMPWS.LNDSHP|Landing Ship|POINT|A|
|717||![](./images/SFSPCALSM------.png)|![](./images-std/1.sfspcalsm------.jpeg)|SFSPCALSM------|WAR.SSUF.CBTT.AMPWS.LNDSHP.MDM|Landing Ship Medium|POINT|A|
|718||![](./images/SFSPCALST------.png)|![](./images-std/1.sfspcalst------.jpeg)|SFSPCALST------|WAR.SSUF.CBTT.AMPWS.LNDSHP.TANK|Landing Ship Tank|POINT|A|
|719||![](./images/SFSPCD---------.png)|![](./images-std/1.sfspcd---------.jpeg)|SFSPCD---------|WAR.SSUF.CBTT.SUFDCY|Surface Decoy|POINT|A|
|720||![](./images/SFSPCH---------.png)|![](./images-std/1.sfspch---------.jpeg)|SFSPCH---------|WAR.SSUF.CBTT.HOV|Hovercraft|POINT|A|
|721||![](./images/SFSPCL---------.png)|![](./images-std/1.sfspcl---------.jpeg)|SFSPCL---------|WAR.SSUF.CBTT.LNE|Line|POINT|A|
|722||![](./images/SFSPCLBB-------.png)|![](./images-std/1.sfspclbb-------.jpeg)|SFSPCLBB-------|WAR.SSUF.CBTT.LNE.BBS|Battleship|POINT|A|
|723||![](./images/SFSPCLCC-------.png)|![](./images-std/1.sfspclcc-------.jpeg)|SFSPCLCC-------|WAR.SSUF.CBTT.LNE.CRU|Cruiser|POINT|A|
|724||![](./images/SFSPCLCV-------.png)|![](./images-std/1.sfspclcv-------.jpeg)|SFSPCLCV-------|WAR.SSUF.CBTT.LNE.CRR|Carrier|POINT|A|
|725||![](./images/SFSPCLDD-------.png)|![](./images-std/1.sfspcldd-------.jpeg)|SFSPCLDD-------|WAR.SSUF.CBTT.LNE.DD|Destroyer|POINT|A|
|726||![](./images/SFSPCLFF-------.png)|![](./images-std/1.sfspclff-------.jpeg)|SFSPCLFF-------|WAR.SSUF.CBTT.LNE.FFR|Frigate/Corvette|POINT|A|
|727||![](./images/SFSPCLLL-------.png)|![](./images-std/1.sfspclll-------.jpeg)|SFSPCLLL-------|WAR.SSUF.CBTT.LNE.LL|Littoral Combatant|POINT|A|
|728||![](./images/SFSPCLLLAS-----.png)|![](./images-std/1.sfspclllas-----.jpeg)|SFSPCLLLAS-----|WAR.SSUF.CBTT.LNE.LL.ASBW|Antisubmarine Warfare Mission Package|POINT|A|
|729||![](./images/SFSPCLLLMI-----.png)|![](./images-std/1.sfspclllmi-----.jpeg)|SFSPCLLLMI-----|WAR.SSUF.CBTT.LNE.LL.MNEW|Mine Warfare Mission Package|POINT|A|
|730||![](./images/SFSPCLLLSU-----.png)|![](./images-std/1.sfspclllsu-----.jpeg)|SFSPCLLLSU-----|WAR.SSUF.CBTT.LNE.LL.SUW|Surface Warfare (Suw) Mission Package|POINT|A|
|731||![](./images/SFSPCM---------.png)|![](./images-std/1.sfspcm---------.jpeg)|SFSPCM---------|WAR.SSUF.CBTT.MNEWV|Mine Warfare Vessel|POINT|A|
|732||![](./images/SFSPCMMA-------.png)|![](./images-std/1.sfspcmma-------.jpeg)|SFSPCMMA-------|WAR.SSUF.CBTT.MNEWV.MCMSUP|Mcm Support|POINT|A|
|733||![](./images/SFSPCMMH-------.png)|![](./images-std/1.sfspcmmh-------.jpeg)|SFSPCMMH-------|WAR.SSUF.CBTT.MNEWV.MNEHNT|Minehunter|POINT|A|
|734||![](./images/SFSPCMML-------.png)|![](./images-std/1.sfspcmml-------.jpeg)|SFSPCMML-------|WAR.SSUF.CBTT.MNEWV.MNELYR|Minelayer|POINT|A|
|735||![](./images/SFSPCMMS-------.png)|![](./images-std/1.sfspcmms-------.jpeg)|SFSPCMMS-------|WAR.SSUF.CBTT.MNEWV.MNESWE|Minesweeper|POINT|A|
|736||![](./images/SFSPCP---------.png)|![](./images-std/1.sfspcp---------.jpeg)|SFSPCP---------|WAR.SSUF.CBTT.PAT|Patrol|POINT|A|
|737||![](./images/SFSPCPSB-------.png)|![](./images-std/1.sfspcpsb-------.jpeg)|SFSPCPSB-------|WAR.SSUF.CBTT.PAT.ASBW|Antisubmarine Warfare|POINT|A|
|738||![](./images/SFSPCPSU-------.png)|![](./images-std/1.sfspcpsu-------.jpeg)|SFSPCPSU-------|WAR.SSUF.CBTT.PAT.ASUW|Antisurface Warfare|POINT|A|
|739||![](./images/SFSPCPSUG------.png)|![](./images-std/1.sfspcpsug------.jpeg)|SFSPCPSUG------|WAR.SSUF.CBTT.PAT.ASUW.GUN|Gun Patrol Craft|POINT|A|
|740||![](./images/SFSPCPSUM------.png)|![](./images-std/1.sfspcpsum------.jpeg)|SFSPCPSUM------|WAR.SSUF.CBTT.PAT.ASUW.ASMSL|Antiship Missile Patrol Craft|POINT|A|
|741||![](./images/SFSPCPSUT------.png)|![](./images-std/1.sfspcpsut------.jpeg)|SFSPCPSUT------|WAR.SSUF.CBTT.PAT.ASUW.TPD|Torpedo Patrol Craft|POINT|A|
|742||![](./images/SFSPCU---------.png)|![](./images-std/1.sfspcu---------.jpeg)|SFSPCU---------|WAR.SSUF.CBTT.USV|Unmanned Surface Vehicle|POINT|A|
|743||![](./images/SFSPCUM--------.png)|![](./images-std/1.sfspcum--------.jpeg)|SFSPCUM--------|WAR.SSUF.CBTT.USV.MNECM|Mine Countermeasures Surface Drone|POINT|A|
|744||![](./images/SFSPCUN--------.png)|![](./images-std/1.sfspcun--------.jpeg)|SFSPCUN--------|WAR.SSUF.CBTT.USV.ASUW|Antisurface Warfare Surface Drone|POINT|A|
|745||![](./images/SFSPCUS--------.png)|![](./images-std/1.sfspcus--------.jpeg)|SFSPCUS--------|WAR.SSUF.CBTT.USV.ASBW|Antisubmarine Warfare Surface Drone|POINT|A|
|746||![](./images/SFSPG----------.png)|![](./images-std/1.sfspg----------.jpeg)|SFSPG----------|WAR.SSUF.CBTT.NAVGRP|Navy Group|POINT|A|
|747||![](./images/SFSPGC---------.png)|![](./images-std/1.sfspgc---------.jpeg)|SFSPGC---------|WAR.SSUF.CBTT.NAVGRP.CNY|Convoy|POINT|A|
|748||![](./images/SFSPGG---------.png)|![](./images-std/1.sfspgg---------.jpeg)|SFSPGG---------|WAR.SSUF.CBTT.NAVGRP.NAVTG|Navy Task Group|POINT|A|
|749||![](./images/SFSPGT---------.png)|![](./images-std/1.sfspgt---------.jpeg)|SFSPGT---------|WAR.SSUF.CBTT.NAVGRP.NAVTF|Navy Task Force|POINT|A|
|750||![](./images/SFSPGU---------.png)|![](./images-std/1.sfspgu---------.jpeg)|SFSPGU---------|WAR.SSUF.CBTT.NAVGRP.NAVTU|Navy Task Unit|POINT|A|
|751||![](./images/SFSPN----------.png)|![](./images-std/1.sfspn----------.jpeg)|SFSPN----------|WAR.SSUF.NCBTT|Noncombatant|POINT|A|
|752||![](./images/SFSPNF---------.png)|![](./images-std/1.sfspnf---------.jpeg)|SFSPNF---------|WAR.SSUF.NCBTT.FLTSUP|Fleet Support|POINT|A|
|753||![](./images/SFSPNH---------.png)|![](./images-std/1.sfspnh---------.jpeg)|SFSPNH---------|WAR.SSUF.NCBTT.HOV|Hovercraft|POINT|A|
|754||![](./images/SFSPNI---------.png)|![](./images-std/1.sfspni---------.jpeg)|SFSPNI---------|WAR.SSUF.NCBTT.INT|Intelligence|POINT|A|
|755||![](./images/SFSPNM---------.png)|![](./images-std/1.sfspnm---------.jpeg)|SFSPNM---------|WAR.SSUF.NCBTT.HSPSHP|Hospital Ship|POINT|A|
|756||![](./images/SFSPNN---------.png)|![](./images-std/1.sfspnn---------.jpeg)|SFSPNN---------|WAR.SSUF.NCBTT.STN|STATION|POINT|A|
|757||![](./images/SFSPNNR--------.png)|![](./images-std/1.sfspnnr--------.jpeg)|SFSPNNR--------|WAR.SSUF.NCBTT.STN.RSC|RESCUE|POINT|A|
|758||![](./images/SFSPNR---------.png)|![](./images-std/1.sfspnr---------.jpeg)|SFSPNR---------|WAR.SSUF.NCBTT.UWRPM|Underway Replenishment|POINT|A|
|759||![](./images/SFSPNS---------.png)|![](./images-std/1.sfspns---------.jpeg)|SFSPNS---------|WAR.SSUF.NCBTT.SSH|Service & Support Harbor|POINT|A|
|760||![](./images/SFSPO----------.png)|![](./images-std/1.sfspo----------.jpeg)|SFSPO----------|WAR.SSUF.OWN|Own Track|POINT|A|
|761||![](./images/SFSPS----------.png)|![](./images-std/1.sfsps----------.jpeg)|SFSPS----------|WAR.SSUF.CBTT.STN|STATION|POINT|A|
|762||![](./images/SFSPSA---------.png)|![](./images-std/1.sfspsa---------.jpeg)|SFSPSA---------|WAR.SSUF.CBTT.STN.ASWSHP|ASW SHIP|POINT|A|
|763||![](./images/SFSPSP---------.png)|![](./images-std/1.sfspsp---------.jpeg)|SFSPSP---------|WAR.SSUF.CBTT.STN.PKT|PICKET|POINT|A|
|764||![](./images/SFSPXF---------.png)|![](./images-std/1.sfspxf---------.jpeg)|SFSPXF---------|WAR.SSUF.NMIL.FSG|Fishing|POINT|A|
|765||![](./images/SFSPXFDF-------.png)|![](./images-std/1.sfspxfdf-------.jpeg)|SFSPXFDF-------|WAR.SSUF.NMIL.FSG.DRFT|Drifter|POINT|A|
|766||![](./images/SFSPXFDR-------.png)|![](./images-std/1.sfspxfdr-------.jpeg)|SFSPXFDR-------|WAR.SSUF.NMIL.FSG.DRG|Dredge|POINT|A|
|767||![](./images/SFSPXFTR-------.png)|![](./images-std/1.sfspxftr-------.jpeg)|SFSPXFTR-------|WAR.SSUF.NMIL.FSG.TRW|Trawler|POINT|A|
|768||![](./images/SFSPXH---------.png)|![](./images-std/1.sfspxh---------.jpeg)|SFSPXH---------|WAR.SSUF.NMIL.HOV|Hovercraft|POINT|A|
|769||![](./images/SFSPXL---------.png)|![](./images-std/1.sfspxl---------.jpeg)|SFSPXL---------|WAR.SSUF.NMIL.LAWENV|Law Enforcement Vessel|POINT|A|
|770||![](./images/SFSPXM---------.png)|![](./images-std/1.sfspxm---------.jpeg)|SFSPXM---------|WAR.SSUF.NMIL.MCT|Merchant|POINT|A|
|771||![](./images/SFSPXMC--------.png)|![](./images-std/1.sfspxmc--------.jpeg)|SFSPXMC--------|WAR.SSUF.NMIL.MCT.CGO|Cargo|POINT|A|
|772||![](./images/SFSPXMF--------.png)|![](./images-std/1.sfspxmf--------.jpeg)|SFSPXMF--------|WAR.SSUF.NMIL.MCT.FRY|Ferry|POINT|A|
|773||![](./images/SFSPXMH--------.png)|![](./images-std/1.sfspxmh--------.jpeg)|SFSPXMH--------|WAR.SSUF.NMIL.MCT.HAZMAT|Hazardous Materials (Hazmat)|POINT|A|
|774||![](./images/SFSPXMO--------.png)|![](./images-std/1.sfspxmo--------.jpeg)|SFSPXMO--------|WAR.SSUF.NMIL.MCT.OLR|Oiler/Tanker|POINT|A|
|775||![](./images/SFSPXMP--------.png)|![](./images-std/1.sfspxmp--------.jpeg)|SFSPXMP--------|WAR.SSUF.NMIL.MCT.PSG|Passenger|POINT|A|
|776||![](./images/SFSPXMR--------.png)|![](./images-std/1.sfspxmr--------.jpeg)|SFSPXMR--------|WAR.SSUF.NMIL.MCT.RORO|Roll On/Roll Off|POINT|A|
|777||![](./images/SFSPXMTO-------.png)|![](./images-std/1.sfspxmto-------.jpeg)|SFSPXMTO-------|WAR.SSUF.NMIL.MCT.TOWVES|Towing Vessel|POINT|A|
|778||![](./images/SFSPXMTU-------.png)|![](./images-std/1.sfspxmtu-------.jpeg)|SFSPXMTU-------|WAR.SSUF.NMIL.MCT.TUG|Tug|POINT|A|
|779||![](./images/SFSPXR---------.png)|![](./images-std/1.sfspxr---------.jpeg)|SFSPXR---------|WAR.SSUF.NMIL.LESCRT|Leisure Craft|POINT|A|
|780||![](./images/SFUP-----------.png)|![](./images-std/1.sfup-----------.jpeg)|SFUP-----------|WAR.SBSUF|Subsurface Track|POINT|A|
|781||![](./images/SFUPND---------.png)|![](./images-std/1.sfupnd---------.jpeg)|SFUPND---------|WAR.SBSUF.NSUB.DVR|Diver|POINT|A|
|782||![](./images/SFUPS----------.png)|![](./images-std/1.sfups----------.jpeg)|SFUPS----------|WAR.SBSUF.SUB|Submarine|POINT|A|
|783||![](./images/SFUPSC---------.png)|![](./images-std/1.sfupsc---------.jpeg)|SFUPSC---------|WAR.SBSUF.SUB.CNVPRN|Conventional Propulsion|POINT|A|
|784||![](./images/SFUPSCA--------.png)|![](./images-std/1.sfupsca--------.jpeg)|SFUPSCA--------|WAR.SBSUF.SUB.CNVPRN.ATK|Attack Submarine (Ss)|POINT|A|
|785||![](./images/SFUPSCB--------.png)|![](./images-std/1.sfupscb--------.jpeg)|SFUPSCB--------|WAR.SBSUF.SUB.CNVPRN.BLST|Ballistic Missile Submarine (Ssb)|POINT|A|
|786||![](./images/SFUPSCF--------.png)|![](./images-std/1.sfupscf--------.jpeg)|SFUPSCF--------|WAR.SBSUF.SUB.CNVPRN.SURF|Surfaced Conventional Propulsion Submarine|POINT|A|
|787||![](./images/SFUPSCG--------.png)|![](./images-std/1.sfupscg--------.jpeg)|SFUPSCG--------|WAR.SBSUF.SUB.CNVPRN.GDD|Guided Missile Submarine (Ssg)|POINT|A|
|788||![](./images/SFUPSCM--------.png)|![](./images-std/1.sfupscm--------.jpeg)|SFUPSCM--------|WAR.SBSUF.SUB.CNVPRN.MSL|Missile Submarine (Type Unknown)|POINT|A|
|789||![](./images/SFUPSF---------.png)|![](./images-std/1.sfupsf---------.jpeg)|SFUPSF---------|WAR.SBSUF.SUB.SURF|Surfaced Submarine|POINT|A|
|790||![](./images/SFUPSN---------.png)|![](./images-std/1.sfupsn---------.jpeg)|SFUPSN---------|WAR.SBSUF.SUB.NPRN|Nuclear Propulsion|POINT|A|
|791||![](./images/SFUPSNA--------.png)|![](./images-std/1.sfupsna--------.jpeg)|SFUPSNA--------|WAR.SBSUF.SUB.NPRN.ATK|Attack Submarine (Ssn)|POINT|A|
|792||![](./images/SFUPSNB--------.png)|![](./images-std/1.sfupsnb--------.jpeg)|SFUPSNB--------|WAR.SBSUF.SUB.NPRN.BLST|Ballistic Missile Submarine (Ssbn)|POINT|A|
|793||![](./images/SFUPSNF--------.png)|![](./images-std/1.sfupsnf--------.jpeg)|SFUPSNF--------|WAR.SBSUF.SUB.NPRN.SURF|Surfaced Nuclear Propulsion Submarine|POINT|A|
|794||![](./images/SFUPSNG--------.png)|![](./images-std/1.sfupsng--------.jpeg)|SFUPSNG--------|WAR.SBSUF.SUB.NPRN.GDD|Guided Missile Submarine (Ssgn)|POINT|A|
|795||![](./images/SFUPSNM--------.png)|![](./images-std/1.sfupsnm--------.jpeg)|SFUPSNM--------|WAR.SBSUF.SUB.NPRN.MSL|Missile Submarine (Type Unknown)|POINT|A|
|796||![](./images/SFUPSO---------.png)|![](./images-std/1.sfupso---------.jpeg)|SFUPSO---------|WAR.SBSUF.SUB.OTH|Other Submersible|POINT|A|
|797||![](./images/SFUPSOF--------.png)|![](./images-std/1.sfupsof--------.jpeg)|SFUPSOF--------|WAR.SBSUF.SUB.OTH.SURF|Surfaced Other Submersible|POINT|A|
|798||![](./images/SFUPSS---------.png)|![](./images-std/1.sfupss---------.jpeg)|SFUPSS---------|WAR.SBSUF.SUB.STN|STATION|POINT|A|
|799||![](./images/SFUPSSA--------.png)|![](./images-std/1.sfupssa--------.jpeg)|SFUPSSA--------|WAR.SBSUF.SUB.STN.ASWSUB|ASW SUBMARINE|POINT|A|
|800||![](./images/SFUPSU---------.png)|![](./images-std/1.sfupsu---------.jpeg)|SFUPSU---------|WAR.SBSUF.SUB.UUV|Unmanned Underwater Vehicle (Uuv)|POINT|A|
|801||![](./images/SFUPSUM--------.png)|![](./images-std/1.sfupsum--------.jpeg)|SFUPSUM--------|WAR.SBSUF.SUB.UUV.MNEW|Mine Warfare Subsurface Drone|POINT|A|
|802||![](./images/SFUPSUN--------.png)|![](./images-std/1.sfupsun--------.jpeg)|SFUPSUN--------|WAR.SBSUF.SUB.UUV.ASUW|Antisurface Warfare Subsurface Drone|POINT|A|
|803||![](./images/SFUPSUS--------.png)|![](./images-std/1.sfupsus--------.jpeg)|SFUPSUS--------|WAR.SBSUF.SUB.UUV.ASBW|Antisubmarine Warfare Subsurface Drone|POINT|A|
|804||![](./images/SFUPW----------.png)|![](./images-std/1.sfupw----------.jpeg)|SFUPW----------|WAR.SBSUF.UH2WPN|Underwater Weapon|POINT|A|
|805||![](./images/SFUPWD---------.png)|![](./images-std/1.sfupwd---------.jpeg)|SFUPWD---------|WAR.SBSUF.UH2DCY|Underwater Decoy|POINT|A|
|806||![](./images/SFUPWDM--------.png)|![](./images-std/1.sfupwdm--------.jpeg)|SFUPWDM--------|WAR.SBSUF.UH2DCY.SMDCY|Sea Mine Decoy|POINT|A|
|807||![](./images/SFUPWM---------.png)|![](./images-std/1.sfupwm---------.jpeg)|SFUPWM---------|WAR.SBSUF.UH2WPN.SMNE|Sea Mine|POINT|A|
|808||![](./images/SFUPWMD--------.png)|![](./images-std/1.sfupwmd--------.jpeg)|SFUPWMD--------|WAR.SBSUF.UH2WPN.SMNE.NTRLZD|Sea Mine Neutralized|POINT|A|
|809||![](./images/SFUPWMF--------.png)|![](./images-std/1.sfupwmf--------.jpeg)|SFUPWMF--------|WAR.SBSUF.UH2WPN.SMNE.SMF|Sea Mine (Floating)|POINT|A|
|810||![](./images/SFUPWMFD-------.png)|![](./images-std/1.sfupwmfd-------.jpeg)|SFUPWMFD-------|WAR.SBSUF.UH2WPN.SMNE.SMF.NTRLZD|Sea Mine (Floating) Neutralized|POINT|A|
|811||![](./images/SFUPWMG--------.png)|![](./images-std/1.sfupwmg--------.jpeg)|SFUPWMG--------|WAR.SBSUF.UH2WPN.SMNE.SMG|Sea Mine (Ground)|POINT|A|
|812||![](./images/SFUPWMGD-------.png)|![](./images-std/1.sfupwmgd-------.jpeg)|SFUPWMGD-------|WAR.SBSUF.UH2WPN.SMNE.SMG.NTRLZD|Sea Mine (Ground) Neutralized|POINT|A|
|813||![](./images/SFUPWMM--------.png)|![](./images-std/1.sfupwmm--------.jpeg)|SFUPWMM--------|WAR.SBSUF.UH2WPN.SMNE.SMM|Sea Mine (Moored)|POINT|A|
|814||![](./images/SFUPWMMD-------.png)|![](./images-std/1.sfupwmmd-------.jpeg)|SFUPWMMD-------|WAR.SBSUF.UH2WPN.SMNE.SMM.NTRLZD|Sea Mine (Moored) Neutralized|POINT|A|
|815||![](./images/SFUPWMO--------.png)|![](./images-std/1.sfupwmo--------.jpeg)|SFUPWMO--------|WAR.SBSUF.UH2WPN.SMNE.SMOP|Sea Mine (Other Position)|POINT|A|
|816||![](./images/SFUPWMOD-------.png)|![](./images-std/1.sfupwmod-------.jpeg)|SFUPWMOD-------|WAR.SBSUF.UH2WPN.SMNE.SMOP.NTRLZD|Sea Mine (Other Position) Neutralized|POINT|A|
|817||![](./images/SFUPWT---------.png)|![](./images-std/1.sfupwt---------.jpeg)|SFUPWT---------|WAR.SBSUF.UH2WPN.TPD|Torpedo|POINT|A|
|818||![](./images/GFFPACAC------X.png)|![](./images-std/1.g-fpacac------x.jpeg)|GFFPACAC------X|TACGRP.FSUPP.ARS.C2ARS.ACA.CIRCLR|Airspace Coordination Area (Aca)  Circular|AREA|B|
|819||![](./images/GFFPACAI------X.png)|![](./images-std/1.g-fpacai------x.jpeg)|GFFPACAI------X|TACGRP.FSUPP.ARS.C2ARS.ACA.IRR|Airspace Coordination Area (Aca)  Irregular|AREA|B|
|820||![](./images/GFFPACAR------X.png)|![](./images-std/1.g-fpacar------x.jpeg)|GFFPACAR------X|TACGRP.FSUPP.ARS.C2ARS.ACA.RTG|Airspace Coordination Area (Aca)  Rectangular|AREA|B|
|821||![](./images/GFFPACFC------X.png)|![](./images-std/1.g-fpacfc------x.jpeg)|GFFPACFC------X|TACGRP.FSUPP.ARS.C2ARS.FFA.CIRCLR|Free Fire Area (Ffa)  Circular|AREA|B|
|822||![](./images/GFFPACFI------X.png)|![](./images-std/1.g-fpacfi------x.jpeg)|GFFPACFI------X|TACGRP.FSUPP.ARS.C2ARS.FFA.IRR|Free Fire Area (Ffa)  Irregular|AREA|B|
|823||![](./images/GFFPACFR------X.png)|![](./images-std/1.g-fpacfr------x.jpeg)|GFFPACFR------X|TACGRP.FSUPP.ARS.C2ARS.FFA.RTG|Free Fire Area (Ffa)  Rectangular|AREA|B|
|824||![](./images/GFFPACNC------X.png)|![](./images-std/1.g-fpacnc------x.jpeg)|GFFPACNC------X|TACGRP.FSUPP.ARS.C2ARS.NFA.CIRCLR|No Fire Area (Nfa)  Circular|AREA|B|
|825||![](./images/GFFPACNI------X.png)|![](./images-std/1.g-fpacni------x.jpeg)|GFFPACNI------X|TACGRP.FSUPP.ARS.C2ARS.NFA.IRR|No Fire Area (Nfa)  Irregular|AREA|B|
|826||![](./images/GFFPACNR------X.png)|![](./images-std/1.g-fpacnr------x.jpeg)|GFFPACNR------X|TACGRP.FSUPP.ARS.C2ARS.NFA.RTG|No Fire Area (Nfa)  Rectangular|AREA|B|
|827||![](./images/GFFPACPC------X.png)|![](./images-std/1.g-fpacpc------x.jpeg)|GFFPACPC------X|TACGRP.FSUPP.ARS.C2ARS.PAA.CIRCLR|Position Area For Artillery (Paa)  Circular|AREA|B|
|828||![](./images/GFFPACPR------X.png)|![](./images-std/1.g-fpacpr------x.jpeg)|GFFPACPR------X|TACGRP.FSUPP.ARS.C2ARS.PAA.RTG|Position Area For Artillery (Paa)  Rectangular|AREA|B|
|829||![](./images/GFFPACRC------X.png)|![](./images-std/1.g-fpacrc------x.jpeg)|GFFPACRC------X|TACGRP.FSUPP.ARS.C2ARS.RFA.CIRCLR|Restrictive Fire Area (Rfa)  Circular|AREA|B|
|830||![](./images/GFFPACRI------X.png)|![](./images-std/1.g-fpacri------x.jpeg)|GFFPACRI------X|TACGRP.FSUPP.ARS.C2ARS.RFA.IRR|Restrictive Fire Area (Rfa)  Irregular|AREA|B|
|831||![](./images/GFFPACRR------X.png)|![](./images-std/1.g-fpacrr------x.jpeg)|GFFPACRR------X|TACGRP.FSUPP.ARS.C2ARS.RFA.RTG|Restrictive Fire Area (Rfa)  Rectangular|AREA|B|
|832||![](./images/GFFPACSC------X.png)|![](./images-std/1.g-fpacsc------x.jpeg)|GFFPACSC------X|TACGRP.FSUPP.ARS.C2ARS.FSA.CIRCLR|Fire Support Area (Fsa)  Circular|AREA|B|
|833||![](./images/GFFPACSI------X.png)|![](./images-std/1.g-fpacsi------x.jpeg)|GFFPACSI------X|TACGRP.FSUPP.ARS.C2ARS.FSA.IRR|Fire Support Area (Fsa)  Irregular|AREA|B|
|834||![](./images/GFFPACSR------X.png)|![](./images-std/1.g-fpacsr------x.jpeg)|GFFPACSR------X|TACGRP.FSUPP.ARS.C2ARS.FSA.RTG|Fire Support Area (Fsa)  Rectangular|AREA|B|
|835||![](./images/GFFPATB-------X.png)|![](./images-std/1.g-fpatb-------x.jpeg)|GFFPATB-------X|TACGRP.FSUPP.ARS.ARATGT.BMARA|Bomb Area|AREA|B|
|836||![](./images/GFFPATC-------X.png)|![](./images-std/1.g-fpatc-------x.jpeg)|GFFPATC-------X|TACGRP.FSUPP.ARS.ARATGT.CIRTGT|Circular Target|AREA|B|
|837||![](./images/GFFPATG-------X.png)|![](./images-std/1.g-fpatg-------x.jpeg)|GFFPATG-------X|TACGRP.FSUPP.ARS.ARATGT.SGTGT|Series Or Group Of Targets|AREA|B|
|838||![](./images/GFFPATR-------X.png)|![](./images-std/1.g-fpatr-------x.jpeg)|GFFPATR-------X|TACGRP.FSUPP.ARS.ARATGT.RTGTGT|Rectangular Target|AREA|B|
|839||![](./images/GFFPATS-------X.png)|![](./images-std/1.g-fpats-------x.jpeg)|GFFPATS-------X|TACGRP.FSUPP.ARS.ARATGT.SMK|Smoke|AREA|B|
|840||![](./images/GFFPAT--------X.png)|![](./images-std/1.g-fpat--------x.jpeg)|GFFPAT--------X|TACGRP.FSUPP.ARS.ARATGT|Area Target|AREA|B|
|841||![](./images/GFFPAXC-------X.png)|![](./images-std/1.g-fpaxc-------x.jpeg)|GFFPAXC-------X|TACGRP.FSUPP.ARS.WPNRF.CIRCLR|Weapon/Sensor Range Fan  Circular|AREA|B|
|842||![](./images/GFFPAXS-------X.png)|![](./images-std/1.g-fpaxs-------x.jpeg)|GFFPAXS-------X|TACGRP.FSUPP.ARS.WPNRF.SCR|Weapon/Sensor Range Fan  Sector|AREA|B|
|843||![](./images/GFFPAZBC------X.png)|![](./images-std/1.g-fpazbc------x.jpeg)|GFFPAZBC------X|TACGRP.FSUPP.ARS.TGTAQZ.TBA.CIRCLR|Target Build Up Area (Tba)  Circular|AREA|B|
|844||![](./images/GFFPAZBI------X.png)|![](./images-std/1.g-fpazbi------x.jpeg)|GFFPAZBI------X|TACGRP.FSUPP.ARS.TGTAQZ.TBA.IRR|Target Build Up Area (Tba)  Irregular|AREA|B|
|845||![](./images/GFFPAZBR------X.png)|![](./images-std/1.g-fpazbr------x.jpeg)|GFFPAZBR------X|TACGRP.FSUPP.ARS.TGTAQZ.TBA.RTG|Target Build Up Area (Tba)  Rectangular|AREA|B|
|846||![](./images/GFFPAZCC------X.png)|![](./images-std/1.g-fpazcc------x.jpeg)|GFFPAZCC------X|TACGRP.FSUPP.ARS.TGTAQZ.CNS.CIRCLR|CENSOR ZONE, CIRCULAR|AREA|B|
|847||![](./images/GFFPAZCI------X.png)|![](./images-std/1.g-fpazci------x.jpeg)|GFFPAZCI------X|TACGRP.FSUPP.ARS.TGTAQZ.CNS.IRR|Censor Zone  Irregular|AREA|B|
|848||![](./images/GFFPAZCR------X.png)|![](./images-std/1.g-fpazcr------x.jpeg)|GFFPAZCR------X|TACGRP.FSUPP.ARS.TGTAQZ.CNS.RTG|Censor Zone  Rectangular|AREA|B|
|849||![](./images/GFFPAZDC------X.png)|![](./images-std/1.g-fpazdc------x.jpeg)|GFFPAZDC------X|TACGRP.FSUPP.ARS.TGTAQZ.DA.CIRCLR|Dead Space Area (Da)  Circular|AREA|B|
|850||![](./images/GFFPAZDI------X.png)|![](./images-std/1.g-fpazdi------x.jpeg)|GFFPAZDI------X|TACGRP.FSUPP.ARS.TGTAQZ.DA.IRR|Dead Space Area (Da)  Irregular|AREA|B|
|851||![](./images/GFFPAZDR------X.png)|![](./images-std/1.g-fpazdr------x.jpeg)|GFFPAZDR------X|TACGRP.FSUPP.ARS.TGTAQZ.DA.RTG|Dead Space Area (Da)  Rectangular|AREA|B|
|852||![](./images/GFFPAZFC------X.png)|![](./images-std/1.g-fpazfc------x.jpeg)|GFFPAZFC------X|TACGRP.FSUPP.ARS.TGTAQZ.CFZ.CIRCLR|CRITICAL FRIENDLY ZONE (CFZ), CIRCULAR|AREA|B|
|853||![](./images/GFFPAZFI------X.png)|![](./images-std/1.g-fpazfi------x.jpeg)|GFFPAZFI------X|TACGRP.FSUPP.ARS.TGTAQZ.CFZ.IRR|Critical Friendly Zone (Cfz)  Irregular|AREA|B|
|854||![](./images/GFFPAZFR------X.png)|![](./images-std/1.g-fpazfr------x.jpeg)|GFFPAZFR------X|TACGRP.FSUPP.ARS.TGTAQZ.CFZ.RTG|Critical Friendly Zone (Cfz)  Rectangular|AREA|B|
|855||![](./images/GFFPAZIC------X.png)|![](./images-std/1.g-fpazic------x.jpeg)|GFFPAZIC------X|TACGRP.FSUPP.ARS.TGTAQZ.ATIZ.CIRCLR|ARTILLERY TARGET INTELLIGENCE (ATI) ZONE, CIRCULAR|AREA|B|
|856||![](./images/GFFPAZII------X.png)|![](./images-std/1.g-fpazii------x.jpeg)|GFFPAZII------X|TACGRP.FSUPP.ARS.TGTAQZ.ATIZ.IRR|Artillery Target Intelligence (Ati) Zone  Irregular|AREA|B|
|857||![](./images/GFFPAZIR------X.png)|![](./images-std/1.g-fpazir------x.jpeg)|GFFPAZIR------X|TACGRP.FSUPP.ARS.TGTAQZ.ATIZ.RTG|Artillery Target Intelligence (Ati) Zone  Rectangular|AREA|B|
|858||![](./images/GFFPAZSC------X.png)|![](./images-std/1.g-fpazsc------x.jpeg)|GFFPAZSC------X|TACGRP.FSUPP.ARS.TGTAQZ.SNSZ.CIRCLR|Sensor Zone  Circular|AREA|B|
|859||![](./images/GFFPAZSI------X.png)|![](./images-std/1.g-fpazsi------x.jpeg)|GFFPAZSI------X|TACGRP.FSUPP.ARS.TGTAQZ.SNSZ.IRR|Sensor Zone  Irregular|AREA|B|
|860||![](./images/GFFPAZSR------X.png)|![](./images-std/1.g-fpazsr------x.jpeg)|GFFPAZSR------X|TACGRP.FSUPP.ARS.TGTAQZ.SNSZ.RTG|Sensor Zone  Rectangular|AREA|B|
|861||![](./images/GFFPAZVC------X.png)|![](./images-std/1.g-fpazvc------x.jpeg)|GFFPAZVC------X|TACGRP.FSUPP.ARS.TGTAQZ.TVAR.CIRCLR|Target Value Area (Tvar)  Circular|AREA|B|
|862||![](./images/GFFPAZVI------X.png)|![](./images-std/1.g-fpazvi------x.jpeg)|GFFPAZVI------X|TACGRP.FSUPP.ARS.TGTAQZ.TVAR.IRR|Target Value Area (Tvar)  Irregular|AREA|B|
|863||![](./images/GFFPAZVR------X.png)|![](./images-std/1.g-fpazvr------x.jpeg)|GFFPAZVR------X|TACGRP.FSUPP.ARS.TGTAQZ.TVAR.RTG|Target Value Area (Tvar)  Rectangular|AREA|B|
|864||![](./images/GFFPAZXC------X.png)|![](./images-std/1.g-fpazxc------x.jpeg)|GFFPAZXC------X|TACGRP.FSUPP.ARS.TGTAQZ.CFFZ.CIRCLR|CALL FOR FIRE ZONE (CFFZ), CIRCULAR|AREA|B|
|865||![](./images/GFFPAZXI------X.png)|![](./images-std/1.g-fpazxi------x.jpeg)|GFFPAZXI------X|TACGRP.FSUPP.ARS.TGTAQZ.CFFZ.IRR|Call For Fire Zone (Cffz)  Irregular|AREA|B|
|866||![](./images/GFFPAZXR------X.png)|![](./images-std/1.g-fpazxr------x.jpeg)|GFFPAZXR------X|TACGRP.FSUPP.ARS.TGTAQZ.CFFZ.RTG|Call For Fire Zone (Cffz)  Rectangular|AREA|B|
|867||![](./images/GFFPAZZC------X.png)|![](./images-std/1.g-fpazzc------x.jpeg)|GFFPAZZC------X|TACGRP.FSUPP.ARS.TGTAQZ.ZOR.CIRCLR|Zone Of Responsibility (Zor)  Circular|AREA|B|
|868||![](./images/GFFPAZZI------X.png)|![](./images-std/1.g-fpazzi------x.jpeg)|GFFPAZZI------X|TACGRP.FSUPP.ARS.TGTAQZ.ZOR.IRR|Zone Of Responsibility (Zor)  Irregular|AREA|B|
|869||![](./images/GFFPAZZR------X.png)|![](./images-std/1.g-fpazzr------x.jpeg)|GFFPAZZR------X|TACGRP.FSUPP.ARS.TGTAQZ.ZOR.RTG|Zone Of Responsibility (Zor)  Rectangular|AREA|B|
|870||![](./images/GFFPLCC-------X.png)|![](./images-std/1.g-fplcc-------x.jpeg)|GFFPLCC-------X|TACGRP.FSUPP.LNE.C2LNE.CFL|Coordinated Fire Line (Cfl)|LINE|B|
|871||![](./images/GFFPLCF-------X.png)|![](./images-std/1.g-fplcf-------x.jpeg)|GFFPLCF-------X|TACGRP.FSUPP.LNE.C2LNE.FSCL|Fire Support Coordination Line (Fscl)|LINE|B|
|872||![](./images/GFFPLCN-------X.png)|![](./images-std/1.g-fplcn-------x.jpeg)|GFFPLCN-------X|TACGRP.FSUPP.LNE.C2LNE.NFL|No-Fire Line (Nfl)|LINE|B|
|873||![](./images/GFFPLCR-------X.png)|![](./images-std/1.g-fplcr-------x.jpeg)|GFFPLCR-------X|TACGRP.FSUPP.LNE.C2LNE.RFL|Restrictive Fire Line (Rfl)|LINE|B|
|874||![](./images/GFFPLTF-------X.png)|![](./images-std/1.g-fpltf-------x.jpeg)|GFFPLTF-------X|TACGRP.FSUPP.LNE.LNRTGT.FPF|Final Protective Fire (Fpf)|LINE|B|
|875||![](./images/GFFPLTS-------X.png)|![](./images-std/1.g-fplts-------x.jpeg)|GFFPLTS-------X|TACGRP.FSUPP.LNE.LNRTGT.LSTGT|Linear Smoke Target|LINE|B|
|876||![](./images/GFFPLT--------X.png)|![](./images-std/1.g-fplt--------x.jpeg)|GFFPLT--------X|TACGRP.FSUPP.LNE.LNRTGT|Linear Target|LINE|B|
|877||![](./images/GFFPPCB-------X.png)|![](./images-std/1.g-fppcb-------x.jpeg)|GFFPPCB-------X|TACGRP.FSUPP.PNT.C2PNT.FP|Firing Point|POINT|B|
|878||![](./images/GFFPPCF-------X.png)|![](./images-std/1.g-fppcf-------x.jpeg)|GFFPPCF-------X|TACGRP.FSUPP.PNT.C2PNT.FSS|Fire Support Station|POINT|B|
|879||![](./images/GFFPPCH-------X.png)|![](./images-std/1.g-fppch-------x.jpeg)|GFFPPCH-------X|TACGRP.FSUPP.PNT.C2PNT.HP|Hide Point|POINT|B|
|880||![](./images/GFFPPCL-------X.png)|![](./images-std/1.g-fppcl-------x.jpeg)|GFFPPCL-------X|TACGRP.FSUPP.PNT.C2PNT.LP|Launch Point|POINT|B|
|881||![](./images/GFFPPCR-------X.png)|![](./images-std/1.g-fppcr-------x.jpeg)|GFFPPCR-------X|TACGRP.FSUPP.PNT.C2PNT.RP|Reload Point|POINT|B|
|882||![](./images/GFFPPCS-------X.png)|![](./images-std/1.g-fppcs-------x.jpeg)|GFFPPCS-------X|TACGRP.FSUPP.PNT.C2PNT.SCP|Survey Control Point|POINT|B|
|883||![](./images/GFFPPTN-------X.png)|![](./images-std/1.g-fpptn-------x.jpeg)|GFFPPTN-------X|TACGRP.FSUPP.PNT.TGT.NUCTGT|Nuclear Target|POINT|B|
|884||![](./images/GFFPPTS-------X.png)|![](./images-std/1.g-fppts-------x.jpeg)|GFFPPTS-------X|TACGRP.FSUPP.PNT.TGT.PTGT|Point/Single Target|POINT|B|
|885||![](./images/GFGPAAF-------X.png)|![](./images-std/1.g-gpaaf-------x.jpeg)|GFGPAAF-------X|TACGRP.C2GM.AVN.ARS.FAADEZ|FORWARD AREA AIR DEFENSE ZONE (FAADEZ)|AREA|B|
|886||![](./images/GFGPAAH-------X.png)|![](./images-std/1.g-gpaah-------x.jpeg)|GFGPAAH-------X|TACGRP.C2GM.AVN.ARS.HIDACZ|High Density Airspace Control Zone (Hidacz)|AREA|B|
|887||![](./images/GFGPAAMH------X.png)|![](./images-std/1.g-gpaamh------x.jpeg)|GFGPAAMH------X|TACGRP.C2GM.AVN.ARS.MEZ.HAMEZ|High Altitude Mez|AREA|B|
|888||![](./images/GFGPAAML------X.png)|![](./images-std/1.g-gpaaml------x.jpeg)|GFGPAAML------X|TACGRP.C2GM.AVN.ARS.MEZ.LAMEZ|Low Altitude Mez|AREA|B|
|889||![](./images/GFGPAAM-------X.png)|![](./images-std/1.g-gpaam-------x.jpeg)|GFGPAAM-------X|TACGRP.C2GM.AVN.ARS.MEZ|Missile Engagement Zone (Mez)|AREA|B|
|890||![](./images/GFGPAAR-------X.png)|![](./images-std/1.g-gpaar-------x.jpeg)|GFGPAAR-------X|TACGRP.C2GM.AVN.ARS.ROZ|Restricted Operations Zone (Roz)|AREA|B|
|891||![](./images/GFGPAAW-------X.png)|![](./images-std/1.g-gpaaw-------x.jpeg)|GFGPAAW-------X|TACGRP.C2GM.AVN.ARS.WFZ|Weapons Free Zone|AREA|B|
|892||![](./images/GFGPALC-------X.png)|![](./images-std/1.g-gpalc-------x.jpeg)|GFGPALC-------X|TACGRP.C2GM.AVN.LNE.ACDR|Air Corridor|LINE|B|
|893||![](./images/GFGPALL-------X.png)|![](./images-std/1.g-gpall-------x.jpeg)|GFGPALL-------X|TACGRP.C2GM.AVN.LNE.LLTR|Low Level Transit Route (Lltr)|LINE|B|
|894||![](./images/GFGPALM-------X.png)|![](./images-std/1.g-gpalm-------x.jpeg)|GFGPALM-------X|TACGRP.C2GM.AVN.LNE.MRR|Minimum Risk Route (Mrr)|LINE|B|
|895||![](./images/GFGPALS-------X.png)|![](./images-std/1.g-gpals-------x.jpeg)|GFGPALS-------X|TACGRP.C2GM.AVN.LNE.SAAFR|Standard-Use Army Aircraft Flight Route (Saafr)|LINE|B|
|896||![](./images/GFGPALU-------X.png)|![](./images-std/1.g-gpalu-------x.jpeg)|GFGPALU-------X|TACGRP.C2GM.AVN.LNE.UAR|Unmanned Aircraft (Ua) Route|LINE|B|
|897||![](./images/GFGPAPC-------X.png)|![](./images-std/1.g-gpapc-------x.jpeg)|GFGPAPC-------X|TACGRP.C2GM.AVN.PNT.COMMCP|Communications Checkpoint (Ccp)|POINT|B|
|898||![](./images/GFGPAPD-------X.png)|![](./images-std/1.g-gpapd-------x.jpeg)|GFGPAPD-------X|TACGRP.C2GM.AVN.PNT.DAPP|Downed Aircrew Pickup Point|POINT|B|
|899||![](./images/GFGPAPP-------X.png)|![](./images-std/1.g-gpapp-------x.jpeg)|GFGPAPP-------X|TACGRP.C2GM.AVN.PNT.ACP|Air Control Point (Acp)|POINT|B|
|900||![](./images/GFGPAPU-------X.png)|![](./images-std/1.g-gpapu-------x.jpeg)|GFGPAPU-------X|TACGRP.C2GM.AVN.PNT.PUP|Pull-Up Point (Pup)|POINT|B|
|901||![](./images/GFGPDABP------X.png)|![](./images-std/1.g-gpdabp------x.jpeg)|GFGPDABP------X|TACGRP.C2GM.DEF.ARS.BTLPSN.PBNO|Prepared But Not Occupied|POINT|B|
|902||![](./images/GFGPDAB-------X.png)|![](./images-std/1.g-gpdab-------x.jpeg)|GFGPDAB-------X|TACGRP.C2GM.DEF.ARS.BTLPSN|Battle Position|POINT|B|
|903||![](./images/GFGPDAE-------X.png)|![](./images-std/1.g-gpdae-------x.jpeg)|GFGPDAE-------X|TACGRP.C2GM.DEF.ARS.EMTARA|Engagement Area|AREA|B|
|904||![](./images/GFGPDLF-------X.png)|![](./images-std/1.g-gpdlf-------x.jpeg)|GFGPDLF-------X|TACGRP.C2GM.DEF.LNE.FEBA|Forward Edge Of Battle Area (Feba)|LINE|B|
|905||![](./images/GFGPDLP-------X.png)|![](./images-std/1.g-gpdlp-------x.jpeg)|GFGPDLP-------X|TACGRP.C2GM.DEF.LNE.PDF|Principal Direction Of Fire (Pdf)|LINE|B|
|906||![](./images/GFGPDPOC------X.png)|![](./images-std/1.g-gpdpoc------x.jpeg)|GFGPDPOC------X|TACGRP.C2GM.DEF.PNT.OBSPST.CBTPST|Combat Outpost|POINT|B|
|907||![](./images/GFGPDPOF------X.png)|![](./images-std/1.g-gpdpof------x.jpeg)|GFGPDPOF------X|TACGRP.C2GM.DEF.PNT.OBSPST.FWDOP|Forward Observer Position|POINT|B|
|908||![](./images/GFGPDPON------X.png)|![](./images-std/1.g-gpdpon------x.jpeg)|GFGPDPON------X|TACGRP.C2GM.DEF.PNT.OBSPST.CBRNOP|Cbrn Observation Post (Dismounted)|POINT|B|
|909||![](./images/GFGPDPOR------X.png)|![](./images-std/1.g-gpdpor------x.jpeg)|GFGPDPOR------X|TACGRP.C2GM.DEF.PNT.OBSPST.RECON|Observation Post Occupied By Dismounted Scouts Or Reconnaissance|POINT|B|
|910||![](./images/GFGPDPOS------X.png)|![](./images-std/1.g-gpdpos------x.jpeg)|GFGPDPOS------X|TACGRP.C2GM.DEF.PNT.OBSPST.SOP|Sensor Outpost/Listening Post (Op/Lp)|POINT|B|
|911||![](./images/GFGPDPO-------X.png)|![](./images-std/1.g-gpdpo-------x.jpeg)|GFGPDPO-------X|TACGRP.C2GM.DEF.PNT.OBSPST|Observation Post/Outpost|POINT|B|
|912||![](./images/GFGPDPT-------X.png)|![](./images-std/1.g-gpdpt-------x.jpeg)|GFGPDPT-------X|TACGRP.C2GM.DEF.PNT.TGTREF|Target Reference Point (Trp)|POINT|B|
|913||![](./images/GFGPGAA-------X.png)|![](./images-std/1.g-gpgaa-------x.jpeg)|GFGPGAA-------X|TACGRP.C2GM.GNL.ARS.ABYARA|Assembly Area|AREA|B|
|914||![](./images/GFGPGAD-------X.png)|![](./images-std/1.g-gpgad-------x.jpeg)|GFGPGAD-------X|TACGRP.C2GM.GNL.ARS.DRPZ|Drop Zone|POINT|B|
|915||![](./images/GFGPGAE-------X.png)|![](./images-std/1.g-gpgae-------x.jpeg)|GFGPGAE-------X|TACGRP.C2GM.GNL.ARS.EMTARA|Engagement Area|AREA|B|
|916||![](./images/GFGPGAF-------X.png)|![](./images-std/1.g-gpgaf-------x.jpeg)|GFGPGAF-------X|TACGRP.C2GM.GNL.ARS.FTFDAR|Fortified Area|AREA|B|
|917||![](./images/GFGPGAG-------X.png)|![](./images-std/1.g-gpgag-------x.jpeg)|GFGPGAG-------X|TACGRP.C2GM.GNL.ARS.GENARA|General Area|AREA|B|
|918||![](./images/GFGPGAL-------X.png)|![](./images-std/1.g-gpgal-------x.jpeg)|GFGPGAL-------X|TACGRP.C2GM.GNL.ARS.LZ|Landing Zone (Lz)|POINT|B|
|919||![](./images/GFGPGAP-------X.png)|![](./images-std/1.g-gpgap-------x.jpeg)|GFGPGAP-------X|TACGRP.C2GM.GNL.ARS.PZ|Pickup Zone (Pz)|POINT|B|
|920||![](./images/GFGPGAS-------X.png)|![](./images-std/1.g-gpgas-------x.jpeg)|GFGPGAS-------X|TACGRP.C2GM.GNL.ARS.SRHARA|Search Area/Reconnaissance Area|LINE|B|
|921||![](./images/GFGPGAX-------X.png)|![](./images-std/1.g-gpgax-------x.jpeg)|GFGPGAX-------X|TACGRP.C2GM.GNL.ARS.EZ|Extraction Zone (Ez)|POINT|B|
|922||![](./images/GFGPGAY-------X.png)|![](./images-std/1.g-gpgay-------x.jpeg)|GFGPGAY-------X|TACGRP.C2GM.GNL.ARS.LAARA|Limited Access Area|AREA|B|
|923||![](./images/GFGPGAZ-------X.png)|![](./images-std/1.g-gpgaz-------x.jpeg)|GFGPGAZ-------X|TACGRP.C2GM.GNL.ARS.AIRFZ|Airfield Zone|POINT|B|
|924||![](./images/GFGPGLB-------X.png)|![](./images-std/1.g-gpglb-------x.jpeg)|GFGPGLB-------X|TACGRP.C2GM.GNL.LNE.BNDS|Boundaries|LINE|B|
|925||![](./images/GFGPGLC-------X.png)|![](./images-std/1.g-gpglc-------x.jpeg)|GFGPGLC-------X|TACGRP.C2GM.GNL.LNE.LOC|Line Of Contact|LINE|B|
|926||![](./images/GFGPGLF-------X.png)|![](./images-std/1.g-gpglf-------x.jpeg)|GFGPGLF-------X|TACGRP.C2GM.GNL.LNE.FLOT|Forward Line Of Own Troops (Flot)|LINE|B|
|927||![](./images/GFGPGLL-------X.png)|![](./images-std/1.g-gpgll-------x.jpeg)|GFGPGLL-------X|TACGRP.C2GM.GNL.LNE.LITLNE|Light Line|LINE|B|
|928||![](./images/GFGPGLP-------X.png)|![](./images-std/1.g-gpglp-------x.jpeg)|GFGPGLP-------X|TACGRP.C2GM.GNL.LNE.PHELNE|Phase Line|LINE|B|
|929||![](./images/GFGPGPAA------X.png)|![](./images-std/1.g-gpgpaa------x.jpeg)|GFGPGPAA------X|TACGRP.C2GM.GNL.PNT.ACTL.ASBWF|Antisubmarine Warfare  Fixed Wing|POINT|B|
|930||![](./images/GFGPGPAC------X.png)|![](./images-std/1.g-gpgpac------x.jpeg)|GFGPGPAC------X|TACGRP.C2GM.GNL.PNT.ACTL.CRDRTB|Corridor Tab|POINT|B|
|931||![](./images/GFGPGPAH------X.png)|![](./images-std/1.g-gpgpah------x.jpeg)|GFGPGPAH------X|TACGRP.C2GM.GNL.PNT.ACTL.ASBWR|Antisubmarine Warfare  Rotary Wing|POINT|B|
|932||![](./images/GFGPGPAK------X.png)|![](./images-std/1.g-gpgpak------x.jpeg)|GFGPGPAK------X|TACGRP.C2GM.GNL.PNT.ACTL.TAK|Tanking|POINT|B|
|933||![](./images/GFGPGPAL------X.png)|![](./images-std/1.g-gpgpal------x.jpeg)|GFGPGPAL------X|TACGRP.C2GM.GNL.PNT.ACTL.RPH|Replenish|POINT|B|
|934||![](./images/GFGPGPAM------X.png)|![](./images-std/1.g-gpgpam------x.jpeg)|GFGPGPAM------X|TACGRP.C2GM.GNL.PNT.ACTL.MRSH|Marshall|POINT|B|
|935||![](./images/GFGPGPAO------X.png)|![](./images-std/1.g-gpgpao------x.jpeg)|GFGPGPAO------X|TACGRP.C2GM.GNL.PNT.ACTL.TMC|Tomcat|POINT|B|
|936||![](./images/GFGPGPAP------X.png)|![](./images-std/1.g-gpgpap------x.jpeg)|GFGPGPAP------X|TACGRP.C2GM.GNL.PNT.ACTL.CAP|Combat Air Patrol (Cap)|POINT|B|
|937||![](./images/GFGPGPAR------X.png)|![](./images-std/1.g-gpgpar------x.jpeg)|GFGPGPAR------X|TACGRP.C2GM.GNL.PNT.ACTL.RSC|Rescue|POINT|B|
|938||![](./images/GFGPGPAS------X.png)|![](./images-std/1.g-gpgpas------x.jpeg)|GFGPGPAS------X|TACGRP.C2GM.GNL.PNT.ACTL.SKEIP|Strike Ip|POINT|B|
|939||![](./images/GFGPGPAT------X.png)|![](./images-std/1.g-gpgpat------x.jpeg)|GFGPGPAT------X|TACGRP.C2GM.GNL.PNT.ACTL.TCN|Tacan|POINT|B|
|940||![](./images/GFGPGPAW------X.png)|![](./images-std/1.g-gpgpaw------x.jpeg)|GFGPGPAW------X|TACGRP.C2GM.GNL.PNT.ACTL.ABNEW|Airborne Early Warning (Aew)|POINT|B|
|942||![](./images/GFGPGPF-------X.png)|![](./images-std/1.g-gpgpf-------x.jpeg)|GFGPGPF-------X|TACGRP.C2GM.GNL.PNT.FRMN|Formation|POINT|B|
|943||![](./images/GFGPGPHA------X.png)|![](./images-std/1.g-gpgpha------x.jpeg)|GFGPGPHA------X|TACGRP.C2GM.GNL.PNT.HBR.PNTA|Point A|POINT|B|
|944||![](./images/GFGPGPHQ------X.png)|![](./images-std/1.g-gpgphq------x.jpeg)|GFGPGPHQ------X|TACGRP.C2GM.GNL.PNT.HBR.PNTQ|Point Q|POINT|B|
|945||![](./images/GFGPGPH-------X.png)|![](./images-std/1.g-gpgph-------x.jpeg)|GFGPGPH-------X|TACGRP.C2GM.GNL.PNT.HBR|Harbor (General)|POINT|B|
|946||![](./images/GFGPGPHX------X.png)|![](./images-std/1.g-gpgphx------x.jpeg)|GFGPGPHX------X|TACGRP.C2GM.GNL.PNT.HBR.PNTX|Point X|POINT|B|
|947||![](./images/GFGPGPHY------X.png)|![](./images-std/1.g-gpgphy------x.jpeg)|GFGPGPHY------X|TACGRP.C2GM.GNL.PNT.HBR.PNTY|Point Y|POINT|B|
|948||![](./images/GFGPGPOD------X.png)|![](./images-std/1.g-gpgpod------x.jpeg)|GFGPGPOD------X|TACGRP.C2GM.GNL.PNT.RTE.DVSN|Diversions|POINT|B|
|949||![](./images/GFGPGPOP------X.png)|![](./images-std/1.g-gpgpop------x.jpeg)|GFGPGPOP------X|TACGRP.C2GM.GNL.PNT.RTE.PIM|Pim|POINT|B|
|950||![](./images/GFGPGPOR------X.png)|![](./images-std/1.g-gpgpor------x.jpeg)|GFGPGPOR------X|TACGRP.C2GM.GNL.PNT.RTE.PNTR|Point R|POINT|B|
|951||![](./images/GFGPGPOW------X.png)|![](./images-std/1.g-gpgpow------x.jpeg)|GFGPGPOW------X|TACGRP.C2GM.GNL.PNT.RTE.WAP|Waypoint|POINT|B|
|952||![](./images/GFGPGPO-------X.png)|![](./images-std/1.g-gpgpo-------x.jpeg)|GFGPGPO-------X|TACGRP.C2GM.GNL.PNT.RTE|Route|POINT|B|
|953||![](./images/GFGPGPOZ------X.png)|![](./images-std/1.g-gpgpoz------x.jpeg)|GFGPGPOZ------X|TACGRP.C2GM.GNL.PNT.RTE.RDV|Rendezvous|POINT|B|
|954||![](./images/GFGPGPPA------X.png)|![](./images-std/1.g-gpgppa------x.jpeg)|GFGPGPPA------X|TACGRP.C2GM.GNL.PNT.ACTPNT.AMNPNT|Amnesty Point|POINT|B|
|955||![](./images/GFGPGPPC------X.png)|![](./images-std/1.g-gpgppc------x.jpeg)|GFGPGPPC------X|TACGRP.C2GM.GNL.PNT.ACTPNT.CONPNT|Contact Point|POINT|B|
|956||![](./images/GFGPGPPD------X.png)|![](./images-std/1.g-gpgppd------x.jpeg)|GFGPGPPD------X|TACGRP.C2GM.GNL.PNT.ACTPNT.DCNPNT|Decision Point|POINT|B|
|957||![](./images/GFGPGPPE------X.png)|![](./images-std/1.g-gpgppe------x.jpeg)|GFGPGPPE------X|TACGRP.C2GM.GNL.PNT.ACTPNT.RELPNT|Release Point|POINT|B|
|958||![](./images/GFGPGPPK------X.png)|![](./images-std/1.g-gpgppk------x.jpeg)|GFGPGPPK------X|TACGRP.C2GM.GNL.PNT.ACTPNT.CHKPNT|Check Point|POINT|B|
|959||![](./images/GFGPGPPL------X.png)|![](./images-std/1.g-gpgppl------x.jpeg)|GFGPGPPL------X|TACGRP.C2GM.GNL.PNT.ACTPNT.LNKUPT|Linkup Point|POINT|B|
|960||![](./images/GFGPGPPO------X.png)|![](./images-std/1.g-gpgppo------x.jpeg)|GFGPGPPO------X|TACGRP.C2GM.GNL.PNT.ACTPNT.CRDPNT|Coordination Point|POINT|B|
|961||![](./images/GFGPGPPP------X.png)|![](./images-std/1.g-gpgppp------x.jpeg)|GFGPGPPP------X|TACGRP.C2GM.GNL.PNT.ACTPNT.PSSPNT|Passage Point|POINT|B|
|962||![](./images/GFGPGPPR------X.png)|![](./images-std/1.g-gpgppr------x.jpeg)|GFGPGPPR------X|TACGRP.C2GM.GNL.PNT.ACTPNT.RAYPNT|Rally Point|POINT|B|
|963||![](./images/GFGPGPPS------X.png)|![](./images-std/1.g-gpgpps------x.jpeg)|GFGPGPPS------X|TACGRP.C2GM.GNL.PNT.ACTPNT.STRPNT|Start Point|POINT|B|
|964||![](./images/GFGPGPPW------X.png)|![](./images-std/1.g-gpgppw------x.jpeg)|GFGPGPPW------X|TACGRP.C2GM.GNL.PNT.ACTPNT.WAP|Waypoint|POINT|B|
|965||![](./images/GFGPGPP-------X.png)|![](./images-std/1.g-gpgpp-------x.jpeg)|GFGPGPP-------X|TACGRP.C2GM.GNL.PNT.ACTPNT|Action Points (General)|POINT|B|
|966||![](./images/GFGPGPRD------X.png)|![](./images-std/1.g-gpgprd------x.jpeg)|GFGPGPRD------X|TACGRP.C2GM.GNL.PNT.REFPNT.DLRP|Dlrp|POINT|B|
|967||![](./images/GFGPGPRI------X.png)|![](./images-std/1.g-gpgpri------x.jpeg)|GFGPGPRI------X|TACGRP.C2GM.GNL.PNT.REFPNT.PNTINR|Point Of Interest|POINT|B|
|968||![](./images/GFGPGPRN------X.png)|![](./images-std/1.g-gpgprn------x.jpeg)|GFGPGPRN------X|TACGRP.C2GM.GNL.PNT.REFPNT.NAVREF|Navigational Reference Point|POINT|B|
|969||![](./images/GFGPGPRS------X.png)|![](./images-std/1.g-gpgprs------x.jpeg)|GFGPGPRS------X|TACGRP.C2GM.GNL.PNT.REFPNT.SPLPNT|Special Point|POINT|B|
|971||![](./images/GFGPGPUSA-----X.png)|![](./images-std/1.g-gpgpusa-----x.jpeg)|GFGPGPUSA-----X|TACGRP.C2GM.GNL.PNT.USW.SRH.ARA|Search Area|POINT|B|
|972||![](./images/GFGPGPUSC-----X.png)|![](./images-std/1.g-gpgpusc-----x.jpeg)|GFGPGPUSC-----X|TACGRP.C2GM.GNL.PNT.USW.SRH.CTR|Search Center|POINT|B|
|973||![](./images/GFGPGPUSD-----X.png)|![](./images-std/1.g-gpgpusd-----x.jpeg)|GFGPGPUSD-----X|TACGRP.C2GM.GNL.PNT.USW.SRH.DIPPSN|Dip Position|POINT|B|
|974||![](./images/GFGPGPUS------X.png)|![](./images-std/1.g-gpgpus------x.jpeg)|GFGPGPUS------X|TACGRP.C2GM.GNL.PNT.USW.SRH|Search|POINT|B|
|975||![](./images/GFGPGPUUB-----X.png)|![](./images-std/1.g-gpgpuub-----x.jpeg)|GFGPGPUUB-----X|TACGRP.C2GM.GNL.PNT.USW.UH2.BCON|Brief Contact|POINT|B|
|976||![](./images/GFGPGPUUD-----X.png)|![](./images-std/1.g-gpgpuud-----x.jpeg)|GFGPGPUUD-----X|TACGRP.C2GM.GNL.PNT.USW.UH2.DTM|Datum|POINT|B|
|977||![](./images/GFGPGPUUL-----X.png)|![](./images-std/1.g-gpgpuul-----x.jpeg)|GFGPGPUUL-----X|TACGRP.C2GM.GNL.PNT.USW.UH2.LCON|Lost Contact|POINT|B|
|978||![](./images/GFGPGPUUS-----X.png)|![](./images-std/1.g-gpgpuus-----x.jpeg)|GFGPGPUUS-----X|TACGRP.C2GM.GNL.PNT.USW.UH2.SNK|Sinker|POINT|B|
|979||![](./images/GFGPGPUYA-----X.png)|![](./images-std/1.g-gpgpuya-----x.jpeg)|GFGPGPUYA-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.ANM|Anm|POINT|B|
|980||![](./images/GFGPGPUYB-----X.png)|![](./images-std/1.g-gpgpuyb-----x.jpeg)|GFGPGPUYB-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.BT|Bathythermograph Transmitting (Bt)|POINT|B|
|981||![](./images/GFGPGPUYC-----X.png)|![](./images-std/1.g-gpgpuyc-----x.jpeg)|GFGPGPUYC-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.CASS|Command Active Sonobuoy System (Cass)|POINT|B|
|982||![](./images/GFGPGPUYD-----X.png)|![](./images-std/1.g-gpgpuyd-----x.jpeg)|GFGPGPUYD-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.DIFAR|Directional Frequency Analyzing And Recording (Difar)|POINT|B|
|983||![](./images/GFGPGPUYK-----X.png)|![](./images-std/1.g-gpgpuyk-----x.jpeg)|GFGPGPUYK-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.KGP|Kingpin|POINT|B|
|984||![](./images/GFGPGPUYL-----X.png)|![](./images-std/1.g-gpgpuyl-----x.jpeg)|GFGPGPUYL-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.LOFAR|Low Frequency Analyzing And Recording (Lofar)|POINT|B|
|985||![](./images/GFGPGPUYP-----X.png)|![](./images-std/1.g-gpgpuyp-----x.jpeg)|GFGPGPUYP-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.PTNCTR|Pattern Center|POINT|B|
|986||![](./images/GFGPGPUYR-----X.png)|![](./images-std/1.g-gpgpuyr-----x.jpeg)|GFGPGPUYR-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.RO|Range Only (Ro)|POINT|B|
|987||![](./images/GFGPGPUYS-----X.png)|![](./images-std/1.g-gpgpuys-----x.jpeg)|GFGPGPUYS-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.DICASS|Directional Command Active Sonobuoy System (Dicass)|POINT|B|
|988||![](./images/GFGPGPUYT-----X.png)|![](./images-std/1.g-gpgpuyt-----x.jpeg)|GFGPGPUYT-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.ATAC|Atac|POINT|B|
|989||![](./images/GFGPGPUYV-----X.png)|![](./images-std/1.g-gpgpuyv-----x.jpeg)|GFGPGPUYV-----X|TACGRP.C2GM.GNL.PNT.USW.SNBY.VLAD|Vertical Line Array Difar (Vlad)|POINT|B|
|990||![](./images/GFGPGPUY------X.png)|![](./images-std/1.g-gpgpuy------x.jpeg)|GFGPGPUY------X|TACGRP.C2GM.GNL.PNT.USW.SNBY|Sonobuoy|POINT|B|
|991||![](./images/GFGPGPWA------X.png)|![](./images-std/1.g-gpgpwa------x.jpeg)|GFGPGPWA------X|TACGRP.C2GM.GNL.PNT.WPN.AIMPNT|Aim Point|POINT|B|
|992||![](./images/GFGPGPWD------X.png)|![](./images-std/1.g-gpgpwd------x.jpeg)|GFGPGPWD------X|TACGRP.C2GM.GNL.PNT.WPN.DRPPNT|Drop Point|POINT|B|
|993||![](./images/GFGPGPWE------X.png)|![](./images-std/1.g-gpgpwe------x.jpeg)|GFGPGPWE------X|TACGRP.C2GM.GNL.PNT.WPN.ENTPNT|Entry Point|POINT|B|
|994||![](./images/GFGPGPWG------X.png)|![](./images-std/1.g-gpgpwg------x.jpeg)|GFGPGPWG------X|TACGRP.C2GM.GNL.PNT.WPN.GRDZRO|Ground Zero|POINT|B|
|995||![](./images/GFGPGPWI------X.png)|![](./images-std/1.g-gpgpwi------x.jpeg)|GFGPGPWI------X|TACGRP.C2GM.GNL.PNT.WPN.IMTPNT|Impact Point|POINT|B|
|996||![](./images/GFGPGPWM------X.png)|![](./images-std/1.g-gpgpwm------x.jpeg)|GFGPGPWM------X|TACGRP.C2GM.GNL.PNT.WPN.MSLPNT|Msl Detect Point|POINT|B|
|997||![](./images/GFGPGPWP------X.png)|![](./images-std/1.g-gpgpwp------x.jpeg)|GFGPGPWP------X|TACGRP.C2GM.GNL.PNT.WPN.PIPNT|Predicted Impact Point|POINT|B|
|998||![](./images/GFGPOAA-------X.png)|![](./images-std/1.g-gpoaa-------x.jpeg)|GFGPOAA-------X|TACGRP.C2GM.OFF.ARS.ASTPSN|Assault Position|AREA|B|
|999||![](./images/GFGPOAF-------X.png)|![](./images-std/1.g-gpoaf-------x.jpeg)|GFGPOAF-------X|TACGRP.C2GM.OFF.ARS.AFP|Attack By Fire Position|AREA|B|
|1000||![](./images/GFGPOAK-------X.png)|![](./images-std/1.g-gpoak-------x.jpeg)|GFGPOAK-------X|TACGRP.C2GM.OFF.ARS.ATKPSN|Attack Position|AREA|B|
|1001||![](./images/GFGPOAO-------X.png)|![](./images-std/1.g-gpoao-------x.jpeg)|GFGPOAO-------X|TACGRP.C2GM.OFF.ARS.OBJ|Objective|AREA|B|
|1002||![](./images/GFGPOAP-------X.png)|![](./images-std/1.g-gpoap-------x.jpeg)|GFGPOAP-------X|TACGRP.C2GM.OFF.ARS.PBX|Penetration Box|AREA|B|
|1003||![](./images/GFGPOAS-------X.png)|![](./images-std/1.g-gpoas-------x.jpeg)|GFGPOAS-------X|TACGRP.C2GM.OFF.ARS.SFP|Support By Fire Position|LINE|B|
|1004||![](./images/GFGPOLAA------X.png)|![](./images-std/1.g-gpolaa------x.jpeg)|GFGPOLAA------X|TACGRP.C2GM.OFF.LNE.AXSADV.ABN|Airborne|LINE|B|
|1005||![](./images/GFGPOLAGM-----X.png)|![](./images-std/1.g-gpolagm-----x.jpeg)|GFGPOLAGM-----X|TACGRP.C2GM.OFF.LNE.AXSADV.GRD.MANATK|Main Attack|LINE|B|
|1006||![](./images/GFGPOLAGS-----X.png)|![](./images-std/1.g-gpolags-----x.jpeg)|GFGPOLAGS-----X|TACGRP.C2GM.OFF.LNE.AXSADV.GRD.SUPATK|Supporting Attack|LINE|B|
|1007||![](./images/GFGPOLAR------X.png)|![](./images-std/1.g-gpolar------x.jpeg)|GFGPOLAR------X|TACGRP.C2GM.OFF.LNE.AXSADV.ATK|Attack  Rotary Wing|LINE|B|
|1008||![](./images/GFGPOLAV------X.png)|![](./images-std/1.g-gpolav------x.jpeg)|GFGPOLAV------X|TACGRP.C2GM.OFF.LNE.AXSADV.AVN|Aviation|LINE|B|
|1009||![](./images/GFGPOLC-------X.png)|![](./images-std/1.g-gpolc-------x.jpeg)|GFGPOLC-------X|TACGRP.C2GM.OFF.LNE.LDLC|Line Of Departure/Line Of Contact (Ld/Lc)|LINE|B|
|1010||![](./images/GFGPOLF-------X.png)|![](./images-std/1.g-gpolf-------x.jpeg)|GFGPOLF-------X|TACGRP.C2GM.OFF.LNE.FCL|Final Coordination Line|LINE|B|
|1011||![](./images/GFGPOLI-------X.png)|![](./images-std/1.g-gpoli-------x.jpeg)|GFGPOLI-------X|TACGRP.C2GM.OFF.LNE.INFNLE|Infiltration Lane|LINE|B|
|1012||![](./images/GFGPOLKA------X.png)|![](./images-std/1.g-gpolka------x.jpeg)|GFGPOLKA------X|TACGRP.C2GM.OFF.LNE.DIRATK.AVN|Aviation|LINE|B|
|1013||![](./images/GFGPOLKGM-----X.png)|![](./images-std/1.g-gpolkgm-----x.jpeg)|GFGPOLKGM-----X|TACGRP.C2GM.OFF.LNE.DIRATK.GRD.MANATK|Main Attack|LINE|B|
|1014||![](./images/GFGPOLKGS-----X.png)|![](./images-std/1.g-gpolkgs-----x.jpeg)|GFGPOLKGS-----X|TACGRP.C2GM.OFF.LNE.DIRATK.GRD.SUPATK|Supporting Attack|LINE|B|
|1015||![](./images/GFGPOLL-------X.png)|![](./images-std/1.g-gpoll-------x.jpeg)|GFGPOLL-------X|TACGRP.C2GM.OFF.LNE.LMTADV|Limit Of Advance|LINE|B|
|1016||![](./images/GFGPOLP-------X.png)|![](./images-std/1.g-gpolp-------x.jpeg)|GFGPOLP-------X|TACGRP.C2GM.OFF.LNE.PLD|Probable Line Of Deployment (Pld)|LINE|B|
|1017||![](./images/GFGPOLT-------X.png)|![](./images-std/1.g-gpolt-------x.jpeg)|GFGPOLT-------X|TACGRP.C2GM.OFF.LNE.LD|Line Of Departure|LINE|B|
|1018||![](./images/GFGPOPP-------X.png)|![](./images-std/1.g-gpopp-------x.jpeg)|GFGPOPP-------X|TACGRP.C2GM.OFF.PNT.PNTD|Point Of Departure|POINT|B|
|1019||![](./images/GFGPPA--------X.png)|![](./images-std/1.g-gppa--------x.jpeg)|GFGPPA--------X|TACGRP.C2GM.DCPN.AAFF|Axis Of Advance For Feint|POINT|B|
|1020||![](./images/GFGPPC--------X.png)|![](./images-std/1.g-gppc--------x.jpeg)|GFGPPC--------X|TACGRP.C2GM.DCPN.DMYMD|Dummy Minefield (Dynamic)|POINT|B|
|1021||![](./images/GFGPPD--------X.png)|![](./images-std/1.g-gppd--------x.jpeg)|GFGPPD--------X|TACGRP.C2GM.DCPN.DMY|Dummy (Deception/Decoy)|POINT|B|
|1022||![](./images/GFGPPF--------X.png)|![](./images-std/1.g-gppf--------x.jpeg)|GFGPPF--------X|TACGRP.C2GM.DCPN.DAFF|Direction Of Attack For Feint|POINT|B|
|1023||![](./images/GFGPPM--------X.png)|![](./images-std/1.g-gppm--------x.jpeg)|GFGPPM--------X|TACGRP.C2GM.DCPN.DMA|Decoy Mined Area|AREA|B|
|1024||![](./images/GFGPPN--------X.png)|![](./images-std/1.g-gppn--------x.jpeg)|GFGPPN--------X|TACGRP.C2GM.DCPN.DMYMS|Dummy Minefield (Static)|POINT|B|
|1025||![](./images/GFGPPY--------X.png)|![](./images-std/1.g-gppy--------x.jpeg)|GFGPPY--------X|TACGRP.C2GM.DCPN.DMAF|Decoy Mined Area  Fenced|AREA|B|
|1026||![](./images/GFGPSAA-------X.png)|![](./images-std/1.g-gpsaa-------x.jpeg)|GFGPSAA-------X|TACGRP.C2GM.SPL.ARA.AHD|Airhead|AREA|B|
|1027||![](./images/GFGPSAE-------X.png)|![](./images-std/1.g-gpsae-------x.jpeg)|GFGPSAE-------X|TACGRP.C2GM.SPL.ARA.ENCMT|Encirclement|AREA|B|
|1028||![](./images/GFGPSAN-------X.png)|![](./images-std/1.g-gpsan-------x.jpeg)|GFGPSAN-------X|TACGRP.C2GM.SPL.ARA.NAI|Named Area Of Interest (Nai)|AREA|B|
|1029||![](./images/GFGPSAO-------X.png)|![](./images-std/1.g-gpsao-------x.jpeg)|GFGPSAO-------X|TACGRP.C2GM.SPL.ARA.AOO|Area Of Operations (Ao)|AREA|B|
|1030||![](./images/GFGPSAT-------X.png)|![](./images-std/1.g-gpsat-------x.jpeg)|GFGPSAT-------X|TACGRP.C2GM.SPL.ARA.TAI|Targeted Area Of Interest (Tai)|AREA|B|
|1031||![](./images/GFGPSLA-------X.png)|![](./images-std/1.g-gpsla-------x.jpeg)|GFGPSLA-------X|TACGRP.C2GM.SPL.LNE.AMB|Ambush|LINE|B|
|1032||![](./images/GFGPSLB-------X.png)|![](./images-std/1.g-gpslb-------x.jpeg)|GFGPSLB-------X|TACGRP.C2GM.SPL.LNE.BRGH|Bridgehead|LINE|B|
|1033||![](./images/GFGPSLH-------X.png)|![](./images-std/1.g-gpslh-------x.jpeg)|GFGPSLH-------X|TACGRP.C2GM.SPL.LNE.HGL|Holding Line|LINE|B|
|1034||![](./images/GFGPSLR-------X.png)|![](./images-std/1.g-gpslr-------x.jpeg)|GFGPSLR-------X|TACGRP.C2GM.SPL.LNE.REL|Release Line|LINE|B|
|1035||![](./images/GFMPBCA-------X.png)|![](./images-std/1.g-mpbca-------x.jpeg)|GFMPBCA-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.ASTCA|Assault Crossing Area|LINE|B|
|1036||![](./images/GFMPBCB-------X.png)|![](./images-std/1.g-mpbcb-------x.jpeg)|GFMPBCB-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.BRG|Bridge Or Gap|LINE|B|
|1037||![](./images/GFMPBCD-------X.png)|![](./images-std/1.g-mpbcd-------x.jpeg)|GFMPBCD-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.FRDDFT|Ford Difficult|LINE|B|
|1038||![](./images/GFMPBCE-------X.png)|![](./images-std/1.g-mpbce-------x.jpeg)|GFMPBCE-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.FRDESY|Ford Easy|LINE|B|
|1039||![](./images/GFMPBCF-------X.png)|![](./images-std/1.g-mpbcf-------x.jpeg)|GFMPBCF-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.FRY|Ferry|LINE|B|
|1040||![](./images/GFMPBCL-------X.png)|![](./images-std/1.g-mpbcl-------x.jpeg)|GFMPBCL-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.LANE|Lane|LINE|B|
|1041||![](./images/GFMPBCP-------X.png)|![](./images-std/1.g-mpbcp-------x.jpeg)|GFMPBCP-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.ERP|Engineer Regulating Point|LINE|B|
|1042||![](./images/GFMPBCR-------X.png)|![](./images-std/1.g-mpbcr-------x.jpeg)|GFMPBCR-------X|TACGRP.MOBSU.OBSTBP.CSGSTE.RFT|Raft Site|LINE|B|
|1043||![](./images/GFMPBDD-------X.png)|![](./images-std/1.g-mpbdd-------x.jpeg)|GFMPBDD-------X|TACGRP.MOBSU.OBSTBP.DFTY.DFT|Bypass Difficult|LINE|B|
|1044||![](./images/GFMPBDE-------X.png)|![](./images-std/1.g-mpbde-------x.jpeg)|GFMPBDE-------X|TACGRP.MOBSU.OBSTBP.DFTY.ESY|Bypass Easy|LINE|B|
|1045||![](./images/GFMPBDI-------X.png)|![](./images-std/1.g-mpbdi-------x.jpeg)|GFMPBDI-------X|TACGRP.MOBSU.OBSTBP.DFTY.IMP|Bypass Impossible|LINE|B|
|1046||![](./images/GFMPNB--------X.png)|![](./images-std/1.g-mpnb--------x.jpeg)|GFMPNB--------X|TACGRP.MOBSU.CBRN.BIOCA|Biologically Contaminated Area|AREA|B|
|1047||![](./images/GFMPNC--------X.png)|![](./images-std/1.g-mpnc--------x.jpeg)|GFMPNC--------X|TACGRP.MOBSU.CBRN.CMLCA|Chemically Contaminated Area|AREA|B|
|1048||![](./images/GFMPNDA-------X.png)|![](./images-std/1.g-mpnda-------x.jpeg)|GFMPNDA-------X|TACGRP.MOBSU.CBRN.DECONP.ALTUSP|Alternate Decon Site/Point (Unspecified)|POINT|B|
|1049||![](./images/GFMPNDB-------X.png)|![](./images-std/1.g-mpndb-------x.jpeg)|GFMPNDB-------X|TACGRP.MOBSU.CBRN.DECONP.EQTTRP|Decon Site/Point (Equipment And Troops)|POINT|B|
|1050||![](./images/GFMPNDD-------X.png)|![](./images-std/1.g-mpndd-------x.jpeg)|GFMPNDD-------X|TACGRP.MOBSU.CBRN.DECONP.TRGH|Decon Site/Point (Thorough Decontamination)|POINT|B|
|1051||![](./images/GFMPNDE-------X.png)|![](./images-std/1.g-mpnde-------x.jpeg)|GFMPNDE-------X|TACGRP.MOBSU.CBRN.DECONP.EQT|Decon Site/Point (Equipment)|POINT|B|
|1052||![](./images/GFMPNDO-------X.png)|![](./images-std/1.g-mpndo-------x.jpeg)|GFMPNDO-------X|TACGRP.MOBSU.CBRN.DECONP.OPDECN|Decon Site/Point (Operational Decontamination)|POINT|B|
|1053||![](./images/GFMPNDP-------X.png)|![](./images-std/1.g-mpndp-------x.jpeg)|GFMPNDP-------X|TACGRP.MOBSU.CBRN.DECONP.USP|Decon Site/Point (Unspecified)|POINT|B|
|1054||![](./images/GFMPNDT-------X.png)|![](./images-std/1.g-mpndt-------x.jpeg)|GFMPNDT-------X|TACGRP.MOBSU.CBRN.DECONP.TRP|Decon Site/Point (Troops)|POINT|B|
|1055||![](./images/GFMPNEB-------X.png)|![](./images-std/1.g-mpneb-------x.jpeg)|GFMPNEB-------X|TACGRP.MOBSU.CBRN.REEVNT.BIO|Biological|POINT|B|
|1056||![](./images/GFMPNEC-------X.png)|![](./images-std/1.g-mpnec-------x.jpeg)|GFMPNEC-------X|TACGRP.MOBSU.CBRN.REEVNT.CML|Chemical|POINT|B|
|1057||![](./images/GFMPNF--------X.png)|![](./images-std/1.g-mpnf--------x.jpeg)|GFMPNF--------X|TACGRP.MOBSU.CBRN.FAOTP|Fallout Producing|POINT|B|
|1058||![](./images/GFMPNL--------X.png)|![](./images-std/1.g-mpnl--------x.jpeg)|GFMPNL--------X|TACGRP.MOBSU.CBRN.DRCL|Dose Rate Contour Lines|AREA|B|
|1059||![](./images/GFMPNM--------X.png)|![](./images-std/1.g-mpnm--------x.jpeg)|GFMPNM--------X|TACGRP.MOBSU.CBRN.MSDZ|Minimum Safe Distance Zones|POINT|B|
|1060||![](./images/GFMPNR--------X.png)|![](./images-std/1.g-mpnr--------x.jpeg)|GFMPNR--------X|TACGRP.MOBSU.CBRN.RADA|Radioactive Area|AREA|B|
|1061||![](./images/GFMPNZ--------X.png)|![](./images-std/1.g-mpnz--------x.jpeg)|GFMPNZ--------X|TACGRP.MOBSU.CBRN.NDGZ|Nuclear Detonations Ground Zero|POINT|B|
|1062||![](./images/GFMPOADC------X.png)|![](./images-std/1.g-mpoadc------x.jpeg)|GFMPOADC------X|TACGRP.MOBSU.OBST.ATO.ATD.ATDC|Complete|LINE|B|
|1063||![](./images/GFMPOADU------X.png)|![](./images-std/1.g-mpoadu------x.jpeg)|GFMPOADU------X|TACGRP.MOBSU.OBST.ATO.ATD.ATDUC|Under Construction|LINE|B|
|1065||![](./images/GFMPOAOF------X.png)|![](./images-std/1.g-mpoaof------x.jpeg)|GFMPOAOF------X|TACGRP.MOBSU.OBST.ATO.TDTSM.FIXPFD|Fixed And Prefabricated|POINT|B|
|1066||![](./images/GFMPOAOM------X.png)|![](./images-std/1.g-mpoaom------x.jpeg)|GFMPOAOM------X|TACGRP.MOBSU.OBST.ATO.TDTSM.MVB|Moveable|POINT|B|
|1067||![](./images/GFMPOAOP------X.png)|![](./images-std/1.g-mpoaop------x.jpeg)|GFMPOAOP------X|TACGRP.MOBSU.OBST.ATO.TDTSM.MVBPFD|Moveable And Prefabricated|POINT|B|
|1069||![](./images/GFMPOAR-------X.png)|![](./images-std/1.g-mpoar-------x.jpeg)|GFMPOAR-------X|TACGRP.MOBSU.OBST.ATO.ATDATM|Antitank Ditch Reinforced With Antitank Mines|LINE|B|
|1070||![](./images/GFMPOAW-------X.png)|![](./images-std/1.g-mpoaw-------x.jpeg)|GFMPOAW-------X|TACGRP.MOBSU.OBST.ATO.ATW|Antitank Wall|LINE|B|
|1072||![](./images/GFMPOB--------X.png)|![](./images-std/1.g-mpob--------x.jpeg)|GFMPOB--------X|TACGRP.MOBSU.OBST.BBY|Booby Trap|POINT|B|
|1073||![](./images/GFMPOEB-------X.png)|![](./images-std/1.g-mpoeb-------x.jpeg)|GFMPOEB-------X|TACGRP.MOBSU.OBST.OBSEFT.BLK|Block|LINE|B|
|1074||![](./images/GFMPOED-------X.png)|![](./images-std/1.g-mpoed-------x.jpeg)|GFMPOED-------X|TACGRP.MOBSU.OBST.OBSEFT.DRT|Disrupt|LINE|B|
|1075||![](./images/GFMPOEF-------X.png)|![](./images-std/1.g-mpoef-------x.jpeg)|GFMPOEF-------X|TACGRP.MOBSU.OBST.OBSEFT.FIX|Fix|LINE|B|
|1076||![](./images/GFMPOET-------X.png)|![](./images-std/1.g-mpoet-------x.jpeg)|GFMPOET-------X|TACGRP.MOBSU.OBST.OBSEFT.TUR|Turn|LINE|B|
|1077||![](./images/GFMPOFA-------X.png)|![](./images-std/1.g-mpofa-------x.jpeg)|GFMPOFA-------X|TACGRP.MOBSU.OBST.MNEFLD.MNDARA|Mined Area|AREA|B|
|1078||![](./images/GFMPOFD-------X.png)|![](./images-std/1.g-mpofd-------x.jpeg)|GFMPOFD-------X|TACGRP.MOBSU.OBST.MNEFLD.DYN|Dynamic Depiction|AREA|B|
|1079||![](./images/GFMPOFG-------X.png)|![](./images-std/1.g-mpofg-------x.jpeg)|GFMPOFG-------X|TACGRP.MOBSU.OBST.MNEFLD.GAP|Gap|LINE|B|
|1080||![](./images/GFMPOFS-------X.png)|![](./images-std/1.g-mpofs-------x.jpeg)|GFMPOFS-------X|TACGRP.MOBSU.OBST.MNEFLD.STC|Static Depiction|POINT|B|
|1081||![](./images/GFMPOGB-------X.png)|![](./images-std/1.g-mpogb-------x.jpeg)|GFMPOGB-------X|TACGRP.MOBSU.OBST.GNL.BLT|Belt|AREA|B|
|1082||![](./images/GFMPOGF-------X.png)|![](./images-std/1.g-mpogf-------x.jpeg)|GFMPOGF-------X|TACGRP.MOBSU.OBST.GNL.OFA|Obstacle Free Area|AREA|B|
|1083||![](./images/GFMPOGL-------X.png)|![](./images-std/1.g-mpogl-------x.jpeg)|GFMPOGL-------X|TACGRP.MOBSU.OBST.GNL.LNE|Line|LINE|B|
|1084||![](./images/GFMPOGR-------X.png)|![](./images-std/1.g-mpogr-------x.jpeg)|GFMPOGR-------X|TACGRP.MOBSU.OBST.GNL.ORA|Obstacle Restricted Area|AREA|B|
|1085||![](./images/GFMPOGZ-------X.png)|![](./images-std/1.g-mpogz-------x.jpeg)|GFMPOGZ-------X|TACGRP.MOBSU.OBST.GNL.Z|Zone|AREA|B|
|1086||![](./images/GFMPOMC-------X.png)|![](./images-std/1.g-mpomc-------x.jpeg)|GFMPOMC-------X|TACGRP.MOBSU.OBST.MNE.MCLST|Mine Cluster|LINE|B|
|1087||![](./images/GFMPOMD-------X.png)|![](./images-std/1.g-mpomd-------x.jpeg)|GFMPOMD-------X|TACGRP.MOBSU.OBST.MNE.ATMAHD|Antitank Mine With Antihandling Device|POINT|B|
|1088||![](./images/GFMPOME-------X.png)|![](./images-std/1.g-mpome-------x.jpeg)|GFMPOME-------X|TACGRP.MOBSU.OBST.MNE.ATMDIR|Antitank Mine (Directional)|POINT|B|
|1089||![](./images/GFMPOMP-------X.png)|![](./images-std/1.g-mpomp-------x.jpeg)|GFMPOMP-------X|TACGRP.MOBSU.OBST.MNE.APMNE|Antipersonnel (Ap) Mines|POINT|B|
|1090||![](./images/GFMPOMT-------X.png)|![](./images-std/1.g-mpomt-------x.jpeg)|GFMPOMT-------X|TACGRP.MOBSU.OBST.MNE.ATMNE|Antitank Mine (At)|POINT|B|
|1091||![](./images/GFMPOMU-------X.png)|![](./images-std/1.g-mpomu-------x.jpeg)|GFMPOMU-------X|TACGRP.MOBSU.OBST.MNE.USPMNE|Unspecified Mine|POINT|B|
|1092||![](./images/GFMPOMW-------X.png)|![](./images-std/1.g-mpomw-------x.jpeg)|GFMPOMW-------X|TACGRP.MOBSU.OBST.MNE.WAMNE|Wide Area Mines|POINT|B|
|1093||![](./images/GFMPORA-------X.png)|![](./images-std/1.g-mpora-------x.jpeg)|GFMPORA-------X|TACGRP.MOBSU.OBST.RCBB.ABP|Explosives  State Of Readiness 2 (Armed-But Passable)|LINE|B|
|1094||![](./images/GFMPORC-------X.png)|![](./images-std/1.g-mporc-------x.jpeg)|GFMPORC-------X|TACGRP.MOBSU.OBST.RCBB.EXCD|Roadblock Complete (Executed)|LINE|B|
|1095||![](./images/GFMPORP-------X.png)|![](./images-std/1.g-mporp-------x.jpeg)|GFMPORP-------X|TACGRP.MOBSU.OBST.RCBB.PLND|Planned|LINE|B|
|1096||![](./images/GFMPORS-------X.png)|![](./images-std/1.g-mpors-------x.jpeg)|GFMPORS-------X|TACGRP.MOBSU.OBST.RCBB.SAFE|Explosives  State Of Readiness 1 (Safe)|LINE|B|
|1097||![](./images/GFMPOS--------X.png)|![](./images-std/1.g-mpos--------x.jpeg)|GFMPOS--------X|TACGRP.MOBSU.OBST.ABS|Abatis|LINE|B|
|1098||![](./images/GFMPOT--------X.png)|![](./images-std/1.g-mpot--------x.jpeg)|GFMPOT--------X|TACGRP.MOBSU.OBST.TRIPWR|Trip Wire|LINE|B|
|1099||![](./images/GFMPOU--------X.png)|![](./images-std/1.g-mpou--------x.jpeg)|GFMPOU--------X|TACGRP.MOBSU.OBST.UXO|Unexploded Ordnance Area (Uxo)|AREA|B|
|1100||![](./images/GFMPOWA-------X.png)|![](./images-std/1.g-mpowa-------x.jpeg)|GFMPOWA-------X|TACGRP.MOBSU.OBST.WREOBS.DAFNC|Double Apron Fence|LINE|B|
|1101||![](./images/GFMPOWCD------X.png)|![](./images-std/1.g-mpowcd------x.jpeg)|GFMPOWCD------X|TACGRP.MOBSU.OBST.WREOBS.CCTA.DBLSTD|Double Strand Concertina|LINE|B|
|1102||![](./images/GFMPOWCS------X.png)|![](./images-std/1.g-mpowcs------x.jpeg)|GFMPOWCS------X|TACGRP.MOBSU.OBST.WREOBS.CCTA.SNG|Single Concertina|LINE|B|
|1103||![](./images/GFMPOWCT------X.png)|![](./images-std/1.g-mpowct------x.jpeg)|GFMPOWCT------X|TACGRP.MOBSU.OBST.WREOBS.CCTA.TRISTD|Triple Strand Concertina|LINE|B|
|1104||![](./images/GFMPOWD-------X.png)|![](./images-std/1.g-mpowd-------x.jpeg)|GFMPOWD-------X|TACGRP.MOBSU.OBST.WREOBS.DBLFNC|Double Fence|LINE|B|
|1105||![](./images/GFMPOWH-------X.png)|![](./images-std/1.g-mpowh-------x.jpeg)|GFMPOWH-------X|TACGRP.MOBSU.OBST.WREOBS.HWFNC|High Wire Fence|LINE|B|
|1106||![](./images/GFMPOWL-------X.png)|![](./images-std/1.g-mpowl-------x.jpeg)|GFMPOWL-------X|TACGRP.MOBSU.OBST.WREOBS.LWFNC|Low Wire Fence|LINE|B|
|1107||![](./images/GFMPOWS-------X.png)|![](./images-std/1.g-mpows-------x.jpeg)|GFMPOWS-------X|TACGRP.MOBSU.OBST.WREOBS.SNGFNC|Single Fence|LINE|B|
|1108||![](./images/GFMPOWU-------X.png)|![](./images-std/1.g-mpowu-------x.jpeg)|GFMPOWU-------X|TACGRP.MOBSU.OBST.WREOBS.USP|Unspecified|LINE|B|
|1109||![](./images/GFMPSE--------X.png)|![](./images-std/1.g-mpse--------x.jpeg)|GFMPSE--------X|TACGRP.MOBSU.SU.ESTOF|Earthwork  Small Trench Or Fortification|POINT|B|
|1110||![](./images/GFMPSF--------X.png)|![](./images-std/1.g-mpsf--------x.jpeg)|GFMPSF--------X|TACGRP.MOBSU.SU.FRT|Fort|POINT|B|
|1111||![](./images/GFMPSL--------X.png)|![](./images-std/1.g-mpsl--------x.jpeg)|GFMPSL--------X|TACGRP.MOBSU.SU.FTFDLN|Fortified Line|LINE|B|
|1112||![](./images/GFMPSP--------X.png)|![](./images-std/1.g-mpsp--------x.jpeg)|GFMPSP--------X|TACGRP.MOBSU.SU.STRGPT|Strong Point|AREA|B|
|1113||![](./images/GFMPSS--------X.png)|![](./images-std/1.g-mpss--------x.jpeg)|GFMPSS--------X|TACGRP.MOBSU.SU.SUFSHL|Surface Shelter|POINT|B|
|1114||![](./images/GFMPSU--------X.png)|![](./images-std/1.g-mpsu--------x.jpeg)|GFMPSU--------X|TACGRP.MOBSU.SU.UGDSHL|Underground Shelter|POINT|B|
|1115||![](./images/GFMPSW--------X.png)|![](./images-std/1.g-mpsw--------x.jpeg)|GFMPSW--------X|TACGRP.MOBSU.SU.FEWS|Foxhole  Emplacement Or Weapon Site|LINE|B|
|1116||![](./images/GFOPBA--------X.png)|![](./images-std/1.g-opba--------x.jpeg)|GFOPBA--------X|TACGRP.OTH.BERLNE.ACU|Acoustic|LINE|B|
|1117||![](./images/GFOPBE--------X.png)|![](./images-std/1.g-opbe--------x.jpeg)|GFOPBE--------X|TACGRP.OTH.BERLNE.ELC|Electronic|LINE|B|
|1118||![](./images/GFOPBO--------X.png)|![](./images-std/1.g-opbo--------x.jpeg)|GFOPBO--------X|TACGRP.OTH.BERLNE.EOPI|Electro-Optical Intercept|LINE|B|
|1119||![](./images/GFOPBT--------X.png)|![](./images-std/1.g-opbt--------x.jpeg)|GFOPBT--------X|TACGRP.OTH.BERLNE.TPD|Torpedo|LINE|B|
|1120||![](./images/GFOPB---------X.png)|![](./images-std/1.g-opb---------x.jpeg)|GFOPB---------X|TACGRP.OTH.BERLNE|Bearing Line|LINE|B|
|1121||![](./images/GFOPED--------X.png)|![](./images-std/1.g-oped--------x.jpeg)|GFOPED--------X|TACGRP.OTH.ER.DTHAC|Ditched Aircraft|POINT|B|
|1122||![](./images/GFOPEP--------X.png)|![](./images-std/1.g-opep--------x.jpeg)|GFOPEP--------X|TACGRP.OTH.ER.PIW|Person In Water|POINT|B|
|1123||![](./images/GFOPEV--------X.png)|![](./images-std/1.g-opev--------x.jpeg)|GFOPEV--------X|TACGRP.OTH.ER.DSTVES|Distressed Vessel|POINT|B|
|1124||![](./images/GFOPFA--------X.png)|![](./images-std/1.g-opfa--------x.jpeg)|GFOPFA--------X|TACGRP.OTH.FIX.ACU|Acoustic|POINT|B|
|1125||![](./images/GFOPFE--------X.png)|![](./images-std/1.g-opfe--------x.jpeg)|GFOPFE--------X|TACGRP.OTH.FIX.EM|Electro-Magnetic|POINT|B|
|1126||![](./images/GFOPFO--------X.png)|![](./images-std/1.g-opfo--------x.jpeg)|GFOPFO--------X|TACGRP.OTH.FIX.EOP|Electro-Optical|POINT|B|
|1127||![](./images/GFOPHI--------X.png)|![](./images-std/1.g-ophi--------x.jpeg)|GFOPHI--------X|TACGRP.OTH.HAZ.IB|Iceberg|POINT|B|
|1128||![](./images/GFOPHM--------X.png)|![](./images-std/1.g-ophm--------x.jpeg)|GFOPHM--------X|TACGRP.OTH.HAZ.SML|Sea Mine-Like|POINT|B|
|1129||![](./images/GFOPHN--------X.png)|![](./images-std/1.g-ophn--------x.jpeg)|GFOPHN--------X|TACGRP.OTH.HAZ.NVGL|Navigational|LINE|B|
|1130||![](./images/GFOPHO--------X.png)|![](./images-std/1.g-opho--------x.jpeg)|GFOPHO--------X|TACGRP.OTH.HAZ.OLRG|Oil Rig|POINT|B|
|1131||![](./images/GFOPSBM-------X.png)|![](./images-std/1.g-opsbm-------x.jpeg)|GFOPSBM-------X|TACGRP.OTH.SSUBSR.BTMRTN.INS|Installation/Manmade|POINT|B|
|1132||![](./images/GFOPSBN-------X.png)|![](./images-std/1.g-opsbn-------x.jpeg)|GFOPSBN-------X|TACGRP.OTH.SSUBSR.BTMRTN.SBRSOO|Seabed Rock/Stone  Obstacle  Other|POINT|B|
|1133||![](./images/GFOPSBWD------X.png)|![](./images-std/1.g-opsbwd------x.jpeg)|GFOPSBWD------X|TACGRP.OTH.SSUBSR.BTMRTN.WRKD|Wreck  Dangerous|POINT|B|
|1134||![](./images/GFOPSBW-------X.png)|![](./images-std/1.g-opsbw-------x.jpeg)|GFOPSBW-------X|TACGRP.OTH.SSUBSR.BTMRTN.WRKND|Wreck  Non Dangerous|POINT|B|
|1135||![](./images/GFOPSB--------X.png)|![](./images-std/1.g-opsb--------x.jpeg)|GFOPSB--------X|TACGRP.OTH.SSUBSR.BTMRTN|Bottom Return/Non-Milco|POINT|B|
|1136||![](./images/GFOPSM--------X.png)|![](./images-std/1.g-opsm--------x.jpeg)|GFOPSM--------X|TACGRP.OTH.SSUBSR.MARLFE|Marine Life|POINT|B|
|1137||![](./images/GFOPSS--------X.png)|![](./images-std/1.g-opss--------x.jpeg)|GFOPSS--------X|TACGRP.OTH.SSUBSR.SA|Sea Anomaly (Wake  Current  Knuckle)|POINT|B|
|1138||![](./images/GFSPAD--------X.png)|![](./images-std/1.g-spad--------x.jpeg)|GFSPAD--------X|TACGRP.CSS.ARA.DHA|Detainee Holding Area|AREA|B|
|1139||![](./images/GFSPAE--------X.png)|![](./images-std/1.g-spae--------x.jpeg)|GFSPAE--------X|TACGRP.CSS.ARA.EPWHA|Enemy Prisoner Of War (Epw) Holding Area|AREA|B|
|1140||![](./images/GFSPAH--------X.png)|![](./images-std/1.g-spah--------x.jpeg)|GFSPAH--------X|TACGRP.CSS.ARA.RHA|Refugee Holding Area|AREA|B|
|1141||![](./images/GFSPAR--------X.png)|![](./images-std/1.g-spar--------x.jpeg)|GFSPAR--------X|TACGRP.CSS.ARA.FARP|Forward Arming And Refueling Area (Farp)|AREA|B|
|1142||![](./images/GFSPASB-------X.png)|![](./images-std/1.g-spasb-------x.jpeg)|GFSPASB-------X|TACGRP.CSS.ARA.SUPARS.BSA|Brigade (Bsa)|AREA|B|
|1143||![](./images/GFSPASD-------X.png)|![](./images-std/1.g-spasd-------x.jpeg)|GFSPASD-------X|TACGRP.CSS.ARA.SUPARS.DSA|Division (Dsa)|AREA|B|
|1144||![](./images/GFSPASR-------X.png)|![](./images-std/1.g-spasr-------x.jpeg)|GFSPASR-------X|TACGRP.CSS.ARA.SUPARS.RSA|Regimental (Rsa)|AREA|B|
|1145||![](./images/GFSPLCH-------X.png)|![](./images-std/1.g-splch-------x.jpeg)|GFSPLCH-------X|TACGRP.CSS.LNE.CNY.HCNY|Halted Convoy|LINE|B|
|1146||![](./images/GFSPLCM-------X.png)|![](./images-std/1.g-splcm-------x.jpeg)|GFSPLCM-------X|TACGRP.CSS.LNE.CNY.MCNY|Moving Convoy|LINE|B|
|1147||![](./images/GFSPLRA-------X.png)|![](./images-std/1.g-splra-------x.jpeg)|GFSPLRA-------X|TACGRP.CSS.LNE.SLPRUT.ASRUT|Alternate Supply Route|LINE|B|
|1148||![](./images/GFSPLRM-------X.png)|![](./images-std/1.g-splrm-------x.jpeg)|GFSPLRM-------X|TACGRP.CSS.LNE.SLPRUT.MSRUT|Main Supply Route|LINE|B|
|1149||![](./images/GFSPLRO-------X.png)|![](./images-std/1.g-splro-------x.jpeg)|GFSPLRO-------X|TACGRP.CSS.LNE.SLPRUT.1WTRFF|One-Way Traffic|LINE|B|
|1150||![](./images/GFSPLRT-------X.png)|![](./images-std/1.g-splrt-------x.jpeg)|GFSPLRT-------X|TACGRP.CSS.LNE.SLPRUT.ATRFF|Alternating Traffic|LINE|B|
|1151||![](./images/GFSPLRW-------X.png)|![](./images-std/1.g-splrw-------x.jpeg)|GFSPLRW-------X|TACGRP.CSS.LNE.SLPRUT.2WTRFF|Two-Way Traffic|LINE|B|
|1152||![](./images/GFSPPAS-------X.png)|![](./images-std/1.g-sppas-------x.jpeg)|GFSPPAS-------X|TACGRP.CSS.PNT.AP.ASP|Ammunition Supply Point (Asp)|POINT|B|
|1153||![](./images/GFSPPAT-------X.png)|![](./images-std/1.g-sppat-------x.jpeg)|GFSPPAT-------X|TACGRP.CSS.PNT.AP.ATP|Ammunition Transfer Point (Atp)|POINT|B|
|1154||![](./images/GFSPPC--------X.png)|![](./images-std/1.g-sppc--------x.jpeg)|GFSPPC--------X|TACGRP.CSS.PNT.CBNP|Cannibalization Point|POINT|B|
|1155||![](./images/GFSPPD--------X.png)|![](./images-std/1.g-sppd--------x.jpeg)|GFSPPD--------X|TACGRP.CSS.PNT.DCP|Detainee Collection Point|POINT|B|
|1156||![](./images/GFSPPE--------X.png)|![](./images-std/1.g-sppe--------x.jpeg)|GFSPPE--------X|TACGRP.CSS.PNT.EPWCP|Enemy Prisoner Of War (Epw) Collection Point|POINT|B|
|1157||![](./images/GFSPPI--------X.png)|![](./images-std/1.g-sppi--------x.jpeg)|GFSPPI--------X|TACGRP.CSS.PNT.TTP|Trailer Transfer Point|POINT|B|
|1158||![](./images/GFSPPL--------X.png)|![](./images-std/1.g-sppl--------x.jpeg)|GFSPPL--------X|TACGRP.CSS.PNT.LRP|Logistics Release Point (Lrp)|POINT|B|
|1159||![](./images/GFSPPM--------X.png)|![](./images-std/1.g-sppm--------x.jpeg)|GFSPPM--------X|TACGRP.CSS.PNT.MCP|Maintenance Collection Point|POINT|B|
|1160||![](./images/GFSPPN--------X.png)|![](./images-std/1.g-sppn--------x.jpeg)|GFSPPN--------X|TACGRP.CSS.PNT.UMC|Unit Maintenance Collection Point|POINT|B|
|1161||![](./images/GFSPPO--------X.png)|![](./images-std/1.g-sppo--------x.jpeg)|GFSPPO--------X|TACGRP.CSS.PNT.TCP|Traffic Control Post (Tcp)|POINT|B|
|1162||![](./images/GFSPPR--------X.png)|![](./images-std/1.g-sppr--------x.jpeg)|GFSPPR--------X|TACGRP.CSS.PNT.RRRP|Rearm  Refuel And Resupply Point|POINT|B|
|1163||![](./images/GFSPPSA-------X.png)|![](./images-std/1.g-sppsa-------x.jpeg)|GFSPPSA-------X|TACGRP.CSS.PNT.SPT.CLS1|Class I|POINT|B|
|1164||![](./images/GFSPPSB-------X.png)|![](./images-std/1.g-sppsb-------x.jpeg)|GFSPPSB-------X|TACGRP.CSS.PNT.SPT.CLS2|Class Ii|POINT|B|
|1165||![](./images/GFSPPSC-------X.png)|![](./images-std/1.g-sppsc-------x.jpeg)|GFSPPSC-------X|TACGRP.CSS.PNT.SPT.CLS3|Class Iii|POINT|B|
|1166||![](./images/GFSPPSD-------X.png)|![](./images-std/1.g-sppsd-------x.jpeg)|GFSPPSD-------X|TACGRP.CSS.PNT.SPT.CLS4|Class Iv|POINT|B|
|1167||![](./images/GFSPPSE-------X.png)|![](./images-std/1.g-sppse-------x.jpeg)|GFSPPSE-------X|TACGRP.CSS.PNT.SPT.CLS5|Class V|POINT|B|
|1168||![](./images/GFSPPSF-------X.png)|![](./images-std/1.g-sppsf-------x.jpeg)|GFSPPSF-------X|TACGRP.CSS.PNT.SPT.CLS6|Class Vi|POINT|B|
|1169||![](./images/GFSPPSG-------X.png)|![](./images-std/1.g-sppsg-------x.jpeg)|GFSPPSG-------X|TACGRP.CSS.PNT.SPT.CLS7|Class Vii|POINT|B|
|1170||![](./images/GFSPPSH-------X.png)|![](./images-std/1.g-sppsh-------x.jpeg)|GFSPPSH-------X|TACGRP.CSS.PNT.SPT.CLS8|Class Viii|POINT|B|
|1171||![](./images/GFSPPSI-------X.png)|![](./images-std/1.g-sppsi-------x.jpeg)|GFSPPSI-------X|TACGRP.CSS.PNT.SPT.CLS9|Class Ix|POINT|B|
|1172||![](./images/GFSPPSJ-------X.png)|![](./images-std/1.g-sppsj-------x.jpeg)|GFSPPSJ-------X|TACGRP.CSS.PNT.SPT.CLS10|Class X|POINT|B|
|1173||![](./images/GFSPPSZ-------X.png)|![](./images-std/1.g-sppsz-------x.jpeg)|GFSPPSZ-------X|TACGRP.CSS.PNT.SPT.GNL|General|POINT|B|
|1174||![](./images/GFSPPT--------X.png)|![](./images-std/1.g-sppt--------x.jpeg)|GFSPPT--------X|TACGRP.CSS.PNT.CVP|Civilian Collection Point|POINT|B|
|1175||![](./images/GFSPPU--------X.png)|![](./images-std/1.g-sppu--------x.jpeg)|GFSPPU--------X|TACGRP.CSS.PNT.ROM|Refuel On The Move (Rom) Point|POINT|B|
|1176||![](./images/GFSPPX--------X.png)|![](./images-std/1.g-sppx--------x.jpeg)|GFSPPX--------X|TACGRP.CSS.PNT.AEP|Ambulance Exchange Point|POINT|B|
|1177||![](./images/GFSPPY--------X.png)|![](./images-std/1.g-sppy--------x.jpeg)|GFSPPY--------X|TACGRP.CSS.PNT.CCP|Casualty Collection Point|POINT|B|
|1178||![](./images/GFTPAS--------X.png)|![](./images-std/1.g-tpas--------x.jpeg)|GFTPAS--------X|TACGRP.TSK.FLWASS.FLWSUP|Follow And Support|LINE|B|
|1179||![](./images/GFTPA---------X.png)|![](./images-std/1.g-tpa---------x.jpeg)|GFTPA---------X|TACGRP.TSK.FLWASS|Follow And Assume|LINE|B|
|1180||![](./images/GFTPB---------X.png)|![](./images-std/1.g-tpb---------x.jpeg)|GFTPB---------X|TACGRP.TSK.BLK|Block|LINE|B|
|1181||![](./images/GFTPC---------X.png)|![](./images-std/1.g-tpc---------x.jpeg)|GFTPC---------X|TACGRP.TSK.CNZ|Canalize|LINE|B|
|1182||![](./images/GFTPD---------X.png)|![](./images-std/1.g-tpd---------x.jpeg)|GFTPD---------X|TACGRP.TSK.DSTY|Destroy|POINT|B|
|1183||![](./images/GFTPE---------X.png)|![](./images-std/1.g-tpe---------x.jpeg)|GFTPE---------X|TACGRP.TSK.ISL|Isolate|POINT|B|
|1184||![](./images/GFTPF---------X.png)|![](./images-std/1.g-tpf---------x.jpeg)|GFTPF---------X|TACGRP.TSK.FIX|Fix|LINE|B|
|1185||![](./images/GFTPH---------X.png)|![](./images-std/1.g-tph---------x.jpeg)|GFTPH---------X|TACGRP.TSK.BRH|Breach|LINE|B|
|1186||![](./images/GFTPI---------X.png)|![](./images-std/1.g-tpi---------x.jpeg)|GFTPI---------X|TACGRP.TSK.ITDT|Interdict|POINT|B|
|1187||![](./images/GFTPJ---------X.png)|![](./images-std/1.g-tpj---------x.jpeg)|GFTPJ---------X|TACGRP.TSK.CNT|Contain|LINE|B|
|1188||![](./images/GFTPKF--------X.png)|![](./images-std/1.g-tpkf--------x.jpeg)|GFTPKF--------X|TACGRP.TSK.CATK.CATKF|Counterattack By Fire|LINE|B|
|1189||![](./images/GFTPK---------X.png)|![](./images-std/1.g-tpk---------x.jpeg)|GFTPK---------X|TACGRP.TSK.CATK|Counterattack (Catk)|LINE|B|
|1190||![](./images/GFTPL---------X.png)|![](./images-std/1.g-tpl---------x.jpeg)|GFTPL---------X|TACGRP.TSK.DLY|Delay|LINE|B|
|1191||![](./images/GFTPM---------X.png)|![](./images-std/1.g-tpm---------x.jpeg)|GFTPM---------X|TACGRP.TSK.RTM|Retirement|LINE|B|
|1192||![](./images/GFTPN---------X.png)|![](./images-std/1.g-tpn---------x.jpeg)|GFTPN---------X|TACGRP.TSK.NEUT|Neutralize|POINT|B|
|1193||![](./images/GFTPO---------X.png)|![](./images-std/1.g-tpo---------x.jpeg)|GFTPO---------X|TACGRP.TSK.OCC|Occupy|LINE|B|
|1194||![](./images/GFTPP---------X.png)|![](./images-std/1.g-tpp---------x.jpeg)|GFTPP---------X|TACGRP.TSK.PNE|Penetrate|LINE|B|
|1195||![](./images/GFTPQ---------X.png)|![](./images-std/1.g-tpq---------x.jpeg)|GFTPQ---------X|TACGRP.TSK.RTN|Retain|LINE|B|
|1196||![](./images/GFTPR---------X.png)|![](./images-std/1.g-tpr---------x.jpeg)|GFTPR---------X|TACGRP.TSK.RIP|Relief In Place (Rip)|LINE|B|
|1197||![](./images/GFTPS---------X.png)|![](./images-std/1.g-tps---------x.jpeg)|GFTPS---------X|TACGRP.TSK.SCE|Secure|LINE|B|
|1198||![](./images/GFTPT---------X.png)|![](./images-std/1.g-tpt---------x.jpeg)|GFTPT---------X|TACGRP.TSK.DRT|Disrupt|LINE|B|
|1199||![](./images/GFTPUC--------X.png)|![](./images-std/1.g-tpuc--------x.jpeg)|GFTPUC--------X|TACGRP.TSK.SEC.COV|Cover|LINE|B|
|1200||![](./images/GFTPUG--------X.png)|![](./images-std/1.g-tpug--------x.jpeg)|GFTPUG--------X|TACGRP.TSK.SEC.GUD|Guard|LINE|B|
|1201||![](./images/GFTPUS--------X.png)|![](./images-std/1.g-tpus--------x.jpeg)|GFTPUS--------X|TACGRP.TSK.SEC.SCN|Screen|LINE|B|
|1202||![](./images/GFTPWP--------X.png)|![](./images-std/1.g-tpwp--------x.jpeg)|GFTPWP--------X|TACGRP.TSK.WDR.WDRUP|Withdraw Under Pressure|LINE|B|
|1203||![](./images/GFTPW---------X.png)|![](./images-std/1.g-tpw---------x.jpeg)|GFTPW---------X|TACGRP.TSK.WDR|Withdraw|LINE|B|
|1204||![](./images/GFTPX---------X.png)|![](./images-std/1.g-tpx---------x.jpeg)|GFTPX---------X|TACGRP.TSK.CLR|Clear|LINE|B|
|1205||![](./images/GFTPY---------X.png)|![](./images-std/1.g-tpy---------x.jpeg)|GFTPY---------X|TACGRP.TSK.BYS|Bypass|LINE|B|
|1206||![](./images/GFTPZ---------X.png)|![](./images-std/1.g-tpz---------x.jpeg)|GFTPZ---------X|TACGRP.TSK.SZE|Seize|LINE|B|
|1207||![](./images/WA-DBAD-----A--.png)|![](./images-std/0.wa-dbad-----a--.jpeg)|WA-DBAD-----A--|METOC.AMPHC.BDAWTH.DT-SD|Dust Or Sand|AREA|C|
|1208||![](./images/WA-DBAFF----A--.png)|![](./images-std/0.wa-dbaff----a--.jpeg)|WA-DBAFF----A--|METOC.AMPHC.BDAWTH.ODFF|Operator-Defined Freeform|AREA|C|
|1209||![](./images/WA-DBAFG----A--.png)|![](./images-std/0.wa-dbafg----a--.jpeg)|WA-DBAFG----A--|METOC.AMPHC.BDAWTH.FG|Fog|AREA|C|
|1210||![](./images/WA-DBAFP----A--.png)|![](./images-std/0.wa-dbafp----a--.jpeg)|WA-DBAFP----A--|METOC.AMPHC.BDAWTH.FZPPN|Freezing-Frozen Precipitation|AREA|C|
|1211||![](./images/WA-DBAI-----A--.png)|![](./images-std/0.wa-dbai-----a--.jpeg)|WA-DBAI-----A--|METOC.AMPHC.BDAWTH.ICG|Icing|AREA|C|
|1212||![](./images/WA-DBAIF----A--.png)|![](./images-std/0.wa-dbaif----a--.jpeg)|WA-DBAIF----A--|METOC.AMPHC.BDAWTH.IFR|Instrument Flight Rule (Ifr)|AREA|C|
|1213||![](./images/WA-DBALPC---A--.png)|![](./images-std/0.wa-dbalpc---a--.jpeg)|WA-DBALPC---A--|METOC.AMPHC.BDAWTH.LPNCI.LPC|Liquid Precipitation - Convective|AREA|C|
|1214||![](./images/WA-DBALPNC--A--.png)|![](./images-std/0.wa-dbalpnc--a--.jpeg)|WA-DBALPNC--A--|METOC.AMPHC.BDAWTH.LPNCI|Liquid Precipitation - Non-Convective Continuous Or Intermittent|AREA|C|
|1215||![](./images/WA-DBAMV----A--.png)|![](./images-std/0.wa-dbamv----a--.jpeg)|WA-DBAMV----A--|METOC.AMPHC.BDAWTH.MVFR|Marginal Visual Flight Rule (Mvfr)|AREA|C|
|1216||![](./images/WA-DBAT-----A--.png)|![](./images-std/0.wa-dbat-----a--.jpeg)|WA-DBAT-----A--|METOC.AMPHC.BDAWTH.TS|Thunderstorms|AREA|C|
|1217||![](./images/WA-DBATB----A--.png)|![](./images-std/0.wa-dbatb----a--.jpeg)|WA-DBATB----A--|METOC.AMPHC.BDAWTH.TRB|Turbulence|AREA|C|
|1218||![](./images/WA-DIPCO---L---.png)|![](./images-std/0.wa-dipco---l---.jpeg)|WA-DIPCO---L---|METOC.AMPHC.ISP.CTUR|Contour - Upper Air|LINE|C|
|1219||![](./images/WA-DIPFF---L---.png)|![](./images-std/0.wa-dipff---l---.jpeg)|WA-DIPFF---L---|METOC.AMPHC.ISP.ODFF|Operator-Defined Freeform|LINE|C|
|1220||![](./images/WA-DIPIB---L---.png)|![](./images-std/0.wa-dipib---l---.jpeg)|WA-DIPIB---L---|METOC.AMPHC.ISP.ISB|Isobar - Surface|LINE|C|
|1221||![](./images/WA-DIPID---L---.png)|![](./images-std/0.wa-dipid---l---.jpeg)|WA-DIPID---L---|METOC.AMPHC.ISP.ISD|Isodrosotherm|LINE|C|
|1222||![](./images/WA-DIPIS---L---.png)|![](./images-std/0.wa-dipis---l---.jpeg)|WA-DIPIS---L---|METOC.AMPHC.ISP.IST|Isotherm|LINE|C|
|1223||![](./images/WA-DIPIT---L---.png)|![](./images-std/0.wa-dipit---l---.jpeg)|WA-DIPIT---L---|METOC.AMPHC.ISP.ISH|Isotach|LINE|C|
|1224||![](./images/WA-DIPTH---L---.png)|![](./images-std/0.wa-dipth---l---.jpeg)|WA-DIPTH---L---|METOC.AMPHC.ISP.THK|Thickness|LINE|C|
|1225||![](./images/WA-DPFC-FG-L---.png)|![](./images-std/0.wa-dpfc-fg-l---.jpeg)|WA-DPFC-FG-L---|METOC.AMPHC.PRS.FRNSYS.CLDFRN.FRGS|Cold Frontogenesis|LINE|C|
|1226||![](./images/WA-DPFC-FY-L---.png)|![](./images-std/0.wa-dpfc-fy-l---.jpeg)|WA-DPFC-FY-L---|METOC.AMPHC.PRS.FRNSYS.CLDFRN.FRLS|Cold Frontolysis|LINE|C|
|1227||![](./images/WA-DPFC----L---.png)|![](./images-std/0.wa-dpfc----l---.jpeg)|WA-DPFC----L---|METOC.AMPHC.PRS.FRNSYS.CLDFRN|Cold Front|LINE|C|
|1228||![](./images/WA-DPFCU---L---.png)|![](./images-std/0.wa-dpfcu---l---.jpeg)|WA-DPFCU---L---|METOC.AMPHC.PRS.FRNSYS.CLDFRN.UPP|Upper Cold Front|LINE|C|
|1229||![](./images/WA-DPFO-FY-L---.png)|![](./images-std/0.wa-dpfo-fy-l---.jpeg)|WA-DPFO-FY-L---|METOC.AMPHC.PRS.FRNSYS.OCD.FRLS|Occluded Frontolysis|LINE|C|
|1230||![](./images/WA-DPFO----L---.png)|![](./images-std/0.wa-dpfo----l---.jpeg)|WA-DPFO----L---|METOC.AMPHC.PRS.FRNSYS.OCD|Occluded Front|LINE|C|
|1231||![](./images/WA-DPFOU---L---.png)|![](./images-std/0.wa-dpfou---l---.jpeg)|WA-DPFOU---L---|METOC.AMPHC.PRS.FRNSYS.OCD.UPP|Upper Occluded Front|LINE|C|
|1232||![](./images/WA-DPFS-FG-L---.png)|![](./images-std/0.wa-dpfs-fg-l---.jpeg)|WA-DPFS-FG-L---|METOC.AMPHC.PRS.FRNSYS.STAT.FRGS|Stationary Frontogenesis|LINE|C|
|1233||![](./images/WA-DPFS-FY-L---.png)|![](./images-std/0.wa-dpfs-fy-l---.jpeg)|WA-DPFS-FY-L---|METOC.AMPHC.PRS.FRNSYS.STAT.FRLS|Stationary Frontolysis|LINE|C|
|1234||![](./images/WA-DPFS----L---.png)|![](./images-std/0.wa-dpfs----l---.jpeg)|WA-DPFS----L---|METOC.AMPHC.PRS.FRNSYS.STAT|Stationary Front|LINE|C|
|1235||![](./images/WA-DPFSU---L---.png)|![](./images-std/0.wa-dpfsu---l---.jpeg)|WA-DPFSU---L---|METOC.AMPHC.PRS.FRNSYS.STAT.UPP|Upper Stationary Front|LINE|C|
|1236||![](./images/WA-DPFW-FG-L---.png)|![](./images-std/0.wa-dpfw-fg-l---.jpeg)|WA-DPFW-FG-L---|METOC.AMPHC.PRS.FRNSYS.WRMFRN.FRGS|Warm Frontogenesis|LINE|C|
|1237||![](./images/WA-DPFW-FY-L---.png)|![](./images-std/0.wa-dpfw-fy-l---.jpeg)|WA-DPFW-FY-L---|METOC.AMPHC.PRS.FRNSYS.WRMFRN.FRLS|Warm Frontolysis|LINE|C|
|1238||![](./images/WA-DPFW----L---.png)|![](./images-std/0.wa-dpfw----l---.jpeg)|WA-DPFW----L---|METOC.AMPHC.PRS.FRNSYS.WRMFRN|Warm Front|LINE|C|
|1239||![](./images/WA-DPFWU---L---.png)|![](./images-std/0.wa-dpfwu---l---.jpeg)|WA-DPFWU---L---|METOC.AMPHC.PRS.FRNSYS.WRMFRN.UPP|Upper Warm Front|LINE|C|
|1240||![](./images/WA-DPXCV---L---.png)|![](./images-std/0.wa-dpxcv---l---.jpeg)|WA-DPXCV---L---|METOC.AMPHC.PRS.LNE.CNGLNE|Convergance Line|LINE|C|
|1241||![](./images/WA-DPXIL---L---.png)|![](./images-std/0.wa-dpxil---l---.jpeg)|WA-DPXIL---L---|METOC.AMPHC.PRS.LNE.ISTB|Instability Line|LINE|C|
|1242||![](./images/WA-DPXITCZ-L---.png)|![](./images-std/0.wa-dpxitcz-l---.jpeg)|WA-DPXITCZ-L---|METOC.AMPHC.PRS.LNE.ITCZ|Inter-Tropical Convergance Zone|LINE|C|
|1243||![](./images/WA-DPXITD--L---.png)|![](./images-std/0.wa-dpxitd--l---.jpeg)|WA-DPXITD--L---|METOC.AMPHC.PRS.LNE.ITD|Inter-Tropical Discontinuity|LINE|C|
|1244||![](./images/WA-DPXR----L---.png)|![](./images-std/0.wa-dpxr----l---.jpeg)|WA-DPXR----L---|METOC.AMPHC.PRS.LNE.RDGAXS|Ridge Axis|LINE|C|
|1245||![](./images/WA-DPXSH---L---.png)|![](./images-std/0.wa-dpxsh---l---.jpeg)|WA-DPXSH---L---|METOC.AMPHC.PRS.LNE.SHA|Shear Line|LINE|C|
|1246||![](./images/WA-DPXSQ---L---.png)|![](./images-std/0.wa-dpxsq---l---.jpeg)|WA-DPXSQ---L---|METOC.AMPHC.PRS.LNE.SSL|Severe Squall Line|LINE|C|
|1247||![](./images/WA-DPXT----L---.png)|![](./images-std/0.wa-dpxt----l---.jpeg)|WA-DPXT----L---|METOC.AMPHC.PRS.LNE.TRUAXS|Trough Axis|LINE|C|
|1248||![](./images/WA-DWJ-----L---.png)|![](./images-std/0.wa-dwj-----l---.jpeg)|WA-DWJ-----L---|METOC.AMPHC.WND.JTSM|Jet Stream|LINE|C|
|1249||![](./images/WA-DWS-----L---.png)|![](./images-std/0.wa-dws-----l---.jpeg)|WA-DWS-----L---|METOC.AMPHC.WND.SMLNE|Stream Line|LINE|C|
|1250||![](./images/WA-DWSTSWA--A--.png)|![](./images-std/0.wa-dwstswa--a--.jpeg)|WA-DWSTSWA--A--|METOC.AMPHC.WTH.TPLSYS.TSWADL|Tropical Storm Wind Areas And Date-Time Labels|AREA|C|
|1251||![](./images/WAS-CCCSBCP----.png)|![](./images-std/0.was-cccsbcp----.jpeg)|WAS-CCCSBCP----|METOC.AMPHC.CUDCOV.SYM.BKN|Broken Coverage|POINT|C|
|1252||![](./images/WAS-CCCSCSP----.png)|![](./images-std/0.was-cccscsp----.jpeg)|WAS-CCCSCSP----|METOC.AMPHC.CUDCOV.SYM.SKC|Clear Sky|POINT|C|
|1253||![](./images/WAS-CCCSFCP----.png)|![](./images-std/0.was-cccsfcp----.jpeg)|WAS-CCCSFCP----|METOC.AMPHC.CUDCOV.SYM.FEW|Few Coverage|POINT|C|
|1254||![](./images/WAS-CCCSOBP----.png)|![](./images-std/0.was-cccsobp----.jpeg)|WAS-CCCSOBP----|METOC.AMPHC.CUDCOV.SYM.STOPO|Sky Totally Or Partially Obscured|POINT|C|
|1255||![](./images/WAS-CCCSOCP----.png)|![](./images-std/0.was-cccsocp----.jpeg)|WAS-CCCSOCP----|METOC.AMPHC.CUDCOV.SYM.OVC|Overcast Coverage|POINT|C|
|1256||![](./images/WAS-CCCSSCP----.png)|![](./images-std/0.was-cccsscp----.jpeg)|WAS-CCCSSCP----|METOC.AMPHC.CUDCOV.SYM.SCT|Scattered Coverage|POINT|C|
|1257||![](./images/WAS-GNDEWCP----.png)|![](./images-std/0.was-gndewcp----.jpeg)|WAS-GNDEWCP----|METOC.AMPHC.STOG.WOSMIC.EXTDWC|Extremely Dry With Cracks|POINT|C|
|1258||![](./images/WAS-GND-NCP----.png)|![](./images-std/0.was-gnd-ncp----.jpeg)|WAS-GND-NCP----|METOC.AMPHC.STOG.WOSMIC.SUFDRY|Surface Dry Without Cracks Or Appreciable Dust Or Loose Sand|POINT|C|
|1259||![](./images/WAS-GNFL--P----.png)|![](./images-std/0.was-gnfl--p----.jpeg)|WAS-GNFL--P----|METOC.AMPHC.STOG.WOSMIC.SUFFLD|Surface Flooded|POINT|C|
|1260||![](./images/WAS-GNFZ--P----.png)|![](./images-std/0.was-gnfz--p----.jpeg)|WAS-GNFZ--P----|METOC.AMPHC.STOG.WOSMIC.SUFFZN|Surface Frozen|POINT|C|
|1261||![](./images/WAS-GNG-TIP----.png)|![](./images-std/0.was-gng-tip----.jpeg)|WAS-GNG-TIP----|METOC.AMPHC.STOG.WOSMIC.GLZGRD|Glaze (Thin Ice) On Ground|POINT|C|
|1262||![](./images/WAS-GNLDMCP----.png)|![](./images-std/0.was-gnldmcp----.jpeg)|WAS-GNLDMCP----|METOC.AMPHC.STOG.WOSMIC.MLDCGC|Moderate/Thick Loose Dry Dust Or Sand Covering Ground Completely|POINT|C|
|1263||![](./images/WAS-GNLDN-P----.png)|![](./images-std/0.was-gnldn-p----.jpeg)|WAS-GNLDN-P----|METOC.AMPHC.STOG.WOSMIC.LDNCGC|Loose Dry Dust Or Sand Not Covering Ground Completely|POINT|C|
|1264||![](./images/WAS-GNLDTCP----.png)|![](./images-std/0.was-gnldtcp----.jpeg)|WAS-GNLDTCP----|METOC.AMPHC.STOG.WOSMIC.TLDCGC|Thin Loose Dry Dust Or Sand Covering Ground Completely|POINT|C|
|1265||![](./images/WAS-GNM---P----.png)|![](./images-std/0.was-gnm---p----.jpeg)|WAS-GNM---P----|METOC.AMPHC.STOG.WOSMIC.SUFMST|Surface Moist|POINT|C|
|1266||![](./images/WAS-GNW-SWP----.png)|![](./images-std/0.was-gnw-swp----.jpeg)|WAS-GNW-SWP----|METOC.AMPHC.STOG.WOSMIC.SUFWET|Surface Wet  Standing Water In Small Or Large Pools|POINT|C|
|1267||![](./images/WAS-GSI---P----.png)|![](./images-std/0.was-gsi---p----.jpeg)|WAS-GSI---P----|METOC.AMPHC.STOG.WSMIC.PDMIC|Predominately Ice Covered|POINT|C|
|1268||![](./images/WAS-GSSCCEP----.png)|![](./images-std/0.was-gssccep----.jpeg)|WAS-GSSCCEP----|METOC.AMPHC.STOG.WSMIC.ELCSCG|Even Layer Of Compact Or Wet Snow Covering Ground Completely|POINT|C|
|1269||![](./images/WAS-GSSCCUP----.png)|![](./images-std/0.was-gssccup----.jpeg)|WAS-GSSCCUP----|METOC.AMPHC.STOG.WSMIC.ULCSCG|Uneven Layer Of Compact Or Wet Snow Covering Ground Completely|POINT|C|
|1270||![](./images/WAS-GSSCH-P----.png)|![](./images-std/0.was-gssch-p----.png)|WAS-GSSCH-P----|METOC.AMPHC.STOG.WSMIC.CSNALH|Compact Or Wet Snow (With Or Without Ice) Covering At Least One-Half Ground  But Ground Not Completely Covered|POINT|C|
|1271||![](./images/WAS-GSSCL-P----.png)|![](./images-std/0.was-gsscl-p----.jpeg)|WAS-GSSCL-P----|METOC.AMPHC.STOG.WSMIC.CWSNLH|Compact Or Wet Snow (With Or Without Ice) Covering Less Than One-Half Of Ground|POINT|C|
|1272||![](./images/WAS-GSSDC-P----.png)|![](./images-std/0.was-gssdc-p----.jpeg)|WAS-GSSDC-P----|METOC.AMPHC.STOG.WSMIC.SCGC|Snow Covering Ground Completely; Deep Drifts|POINT|C|
|1273||![](./images/WAS-GSSLCEP----.png)|![](./images-std/0.was-gsslcep----.jpeg)|WAS-GSSLCEP----|METOC.AMPHC.STOG.WSMIC.ELDSCG|Even Layer Of Loose Dry Snow Covering Ground Completely|POINT|C|
|1274||![](./images/WAS-GSSLCUP----.png)|![](./images-std/0.was-gsslcup----.jpeg)|WAS-GSSLCUP----|METOC.AMPHC.STOG.WSMIC.ULDSCG|Uneven Layer Of Loose Dry Snow Covering Ground Completely|POINT|C|
|1275||![](./images/WAS-GSSLH-P----.png)|![](./images-std/0.was-gsslh-p----.jpeg)|WAS-GSSLH-P----|METOC.AMPHC.STOG.WSMIC.LDSALH|Loose Dry Snow Covering At Least One-Half Ground  But Ground Not Completely Covered|POINT|C|
|1276||![](./images/WAS-GSSLL-P----.png)|![](./images-std/0.was-gssll-p----.jpeg)|WAS-GSSLL-P----|METOC.AMPHC.STOG.WSMIC.LDSNLH|Loose Dry Snow Covering Less Than One-Half Of Ground|POINT|C|
|1277||![](./images/WAS-ICL---P----.png)|![](./images-std/0.was-icl---p----.jpeg)|WAS-ICL---P----|METOC.AMPHC.ICG.CLR.LIT|Clear Icing - Light|POINT|C|
|1278||![](./images/WAS-ICM---P----.png)|![](./images-std/0.was-icm---p----.jpeg)|WAS-ICM---P----|METOC.AMPHC.ICG.CLR.MOD|Clear Icing - Moderate|POINT|C|
|1279||![](./images/WAS-ICS---P----.png)|![](./images-std/0.was-ics---p----.jpeg)|WAS-ICS---P----|METOC.AMPHC.ICG.CLR.SVR|Clear Icing - Severe|POINT|C|
|1280||![](./images/WAS-IML---P----.png)|![](./images-std/0.was-iml---p----.jpeg)|WAS-IML---P----|METOC.AMPHC.ICG.MIX.LIT|Mixed Icing - Light|POINT|C|
|1281||![](./images/WAS-IMM---P----.png)|![](./images-std/0.was-imm---p----.jpeg)|WAS-IMM---P----|METOC.AMPHC.ICG.MIX.MOD|Mixed Icing - Moderate|POINT|C|
|1282||![](./images/WAS-IMS---P----.png)|![](./images-std/0.was-ims---p----.jpeg)|WAS-IMS---P----|METOC.AMPHC.ICG.MIX.SVR|Mixed Icing - Severe|POINT|C|
|1283||![](./images/WAS-IRL---P----.png)|![](./images-std/0.was-irl---p----.jpeg)|WAS-IRL---P----|METOC.AMPHC.ICG.RIME.LIT|Rime Icing - Light|POINT|C|
|1284||![](./images/WAS-IRM---P----.png)|![](./images-std/0.was-irm---p----.jpeg)|WAS-IRM---P----|METOC.AMPHC.ICG.RIME.MOD|Rime Icing - Moderate|POINT|C|
|1285||![](./images/WAS-IRS---P----.png)|![](./images-std/0.was-irs---p----.jpeg)|WAS-IRS---P----|METOC.AMPHC.ICG.RIME.SVR|Rime Icing - Severe|POINT|C|
|1286||![](./images/WAS-PA----P----.png)|![](./images-std/0.was-pa----p----.jpeg)|WAS-PA----P----|METOC.AMPHC.PRS.HGHCTR.ACYC|Anticyclone Center|POINT|C|
|1287||![](./images/WAS-PC----P----.png)|![](./images-std/0.was-pc----p----.jpeg)|WAS-PC----P----|METOC.AMPHC.PRS.LOWCTR.CYC|Cyclone Center|POINT|C|
|1288||![](./images/WAS-PH----P----.png)|![](./images-std/0.was-ph----p----.jpeg)|WAS-PH----P----|METOC.AMPHC.PRS.HGHCTR|High Pressure Center|POINT|C|
|1289||![](./images/WAS-PHT---P----.png)|![](./images-std/0.was-pht---p----.jpeg)|WAS-PHT---P----|METOC.AMPHC.PRS.HGHCTR.TROPHG|Tropopause High|POINT|C|
|1290||![](./images/WAS-PL----P----.png)|![](./images-std/0.was-pl----p----.jpeg)|WAS-PL----P----|METOC.AMPHC.PRS.LOWCTR|Low Pressure Center|POINT|C|
|1291||![](./images/WAS-PLT---P----.png)|![](./images-std/0.was-plt---p----.jpeg)|WAS-PLT---P----|METOC.AMPHC.PRS.LOWCTR.TROPLW|Tropopause Low|POINT|C|
|1292||![](./images/WAS-TE----P----.png)|![](./images-std/0.was-te----p----.jpeg)|WAS-TE----P----|METOC.AMPHC.TRB.EXT|Turbulence - Extreme|POINT|C|
|1293||![](./images/WAS-TL----P----.png)|![](./images-std/0.was-tl----p----.jpeg)|WAS-TL----P----|METOC.AMPHC.TRB.LIT|Turbulence - Light|POINT|C|
|1294||![](./images/WAS-TM----P----.png)|![](./images-std/0.was-tm----p----.jpeg)|WAS-TM----P----|METOC.AMPHC.TRB.MOD|Turbulence - Moderate|POINT|C|
|1295||![](./images/WAS-T-MW--P----.png)|![](./images-std/0.was-t-mw--p----.jpeg)|WAS-T-MW--P----|METOC.AMPHC.TRB.MNTWAV|Mountain Waves|POINT|C|
|1296||![](./images/WAS-TS----P----.png)|![](./images-std/0.was-ts----p----.jpeg)|WAS-TS----P----|METOC.AMPHC.TRB.SVR|Turbulence - Severe|POINT|C|
|1297||![](./images/WAS-WC----P----.png)|![](./images-std/0.was-wc----p----.jpeg)|WAS-WC----P----|METOC.AMPHC.WND.CALM|Calm Winds|POINT|C|
|1298||![](./images/WAS-WP----P----.png)|![](./images-std/0.was-wp----p----.jpeg)|WAS-WP----P----|METOC.AMPHC.WND.PLT|Wind Plot|LINE|C|
|1299||![](./images/WAS-WSBR--P----.png)|![](./images-std/0.was-wsbr--p----.jpeg)|WAS-WSBR--P----|METOC.AMPHC.WTH.MIST|Mist|POINT|C|
|1300||![](./images/WAS-WSDB--P----.png)|![](./images-std/0.was-wsdb--p----.jpeg)|WAS-WSDB--P----|METOC.AMPHC.WTH.DT-SD.BLDTSD|Blowing Dust Or Sand|POINT|C|
|1301||![](./images/WAS-WSDD--P----.png)|![](./images-std/0.was-wsdd--p----.jpeg)|WAS-WSDD--P----|METOC.AMPHC.WTH.DT-SD.DTDVL|Dust Devil|POINT|C|
|1302||![](./images/WAS-WSDFL-P----.png)|![](./images-std/0.was-wsdfl-p----.jpeg)|WAS-WSDFL-P----|METOC.AMPHC.WTH.FZDZ.LIT|Freezing Drizzle - Light|POINT|C|
|1303||![](./images/WAS-WSDFMHP----.png)|![](./images-std/0.was-wsdfmhp----.jpeg)|WAS-WSDFMHP----|METOC.AMPHC.WTH.FZDZ.MODHVY|Freezing Drizzle - Moderate/Heavy|POINT|C|
|1304||![](./images/WAS-WSD-HCP----.png)|![](./images-std/0.was-wsd-hcp----.jpeg)|WAS-WSD-HCP----|METOC.AMPHC.WTH.DZ.INMHVY.CTSHVY|Drizzle - Continuous Heavy|POINT|C|
|1305||![](./images/WAS-WSD-HIP----.png)|![](./images-std/0.was-wsd-hip----.jpeg)|WAS-WSD-HIP----|METOC.AMPHC.WTH.DZ.INMHVY|Drizzle - Intermittent Heavy|POINT|C|
|1306||![](./images/WAS-WSD-LCP----.png)|![](./images-std/0.was-wsd-lcp----.jpeg)|WAS-WSD-LCP----|METOC.AMPHC.WTH.DZ.INMLIT.CTSLIT|Drizzle - Continuous Light|POINT|C|
|1307||![](./images/WAS-WSD-LIP----.png)|![](./images-std/0.was-wsd-lip----.jpeg)|WAS-WSD-LIP----|METOC.AMPHC.WTH.DZ.INMLIT|Drizzle - Intermittent Light|POINT|C|
|1308||![](./images/WAS-WSD-MCP----.png)|![](./images-std/0.was-wsd-mcp----.jpeg)|WAS-WSD-MCP----|METOC.AMPHC.WTH.DZ.INMMOD.CTSMOD|Drizzle - Continuous Moderate|POINT|C|
|1309||![](./images/WAS-WSD-MIP----.png)|![](./images-std/0.was-wsd-mip----.jpeg)|WAS-WSD-MIP----|METOC.AMPHC.WTH.DZ.INMMOD|Drizzle - Intermittent Moderate|POINT|C|
|1310||![](./images/WAS-WSDSLMP----.png)|![](./images-std/0.was-wsdslmp----.jpeg)|WAS-WSDSLMP----|METOC.AMPHC.WTH.DT-SD.LITMOD|Dust-Sand Storm - Light To Moderate|POINT|C|
|1311||![](./images/WAS-WSDSS-P----.png)|![](./images-std/0.was-wsdss-p----.jpeg)|WAS-WSDSS-P----|METOC.AMPHC.WTH.DT-SD.SVR|Dust-Sand Storm - Severe|POINT|C|
|1312||![](./images/WAS-WSFGCSP----.png)|![](./images-std/0.was-wsfgcsp----.jpeg)|WAS-WSFGCSP----|METOC.AMPHC.WTH.FG.SHWCTS|Fog - Shallow Continuous|POINT|C|
|1313||![](./images/WAS-WSFGFOP----.png)|![](./images-std/0.was-wsfgfop----.jpeg)|WAS-WSFGFOP----|METOC.AMPHC.WTH.FG.FZSNV|Fog - Freezing  Sky Not Visible|POINT|C|
|1314||![](./images/WAS-WSFGFVP----.png)|![](./images-std/0.was-wsfgfvp----.jpeg)|WAS-WSFGFVP----|METOC.AMPHC.WTH.FG.FZSV|Fog - Freezing  Sky Visible|POINT|C|
|1315||![](./images/WAS-WSFGP-P----.png)|![](./images-std/0.was-wsfgp-p----.jpeg)|WAS-WSFGP-P----|METOC.AMPHC.WTH.FG.PTHY|Fog - Patchy|POINT|C|
|1316||![](./images/WAS-WSFGPSP----.png)|![](./images-std/0.was-wsfgpsp----.jpeg)|WAS-WSFGPSP----|METOC.AMPHC.WTH.FG.SHWPTH|Fog - Shallow Patches|POINT|C|
|1317||![](./images/WAS-WSFGSOP----.png)|![](./images-std/0.was-wsfgsop----.jpeg)|WAS-WSFGSOP----|METOC.AMPHC.WTH.FG.SKYOBD|Fog - Sky Obscured|POINT|C|
|1318||![](./images/WAS-WSFGSVP----.png)|![](./images-std/0.was-wsfgsvp----.jpeg)|WAS-WSFGSVP----|METOC.AMPHC.WTH.FG.SKYVSB|Fog - Sky Visible|POINT|C|
|1319||![](./images/WAS-WSF-LVP----.png)|![](./images-std/0.was-wsf-lvp----.jpeg)|WAS-WSF-LVP----|METOC.AMPHC.WTH.FZLVL|Freezing Level|POINT|C|
|1320||![](./images/WAS-WSFU--P----.png)|![](./images-std/0.was-wsfu--p----.jpeg)|WAS-WSFU--P----|METOC.AMPHC.WTH.FU|Smoke|POINT|C|
|1321||![](./images/WAS-WSGRL-P----.png)|![](./images-std/0.was-wsgrl-p----.jpeg)|WAS-WSGRL-P----|METOC.AMPHC.WTH.HL.LIT|Hail - Light Not Associated With Thunder|POINT|C|
|1322||![](./images/WAS-WSGRMHP----.png)|![](./images-std/0.was-wsgrmhp----.jpeg)|WAS-WSGRMHP----|METOC.AMPHC.WTH.HL.MODHVY|Hail - Moderate/Heavy Not Associated With Thunder|POINT|C|
|1323||![](./images/WAS-WSHZ--P----.png)|![](./images-std/0.was-wshz--p----.jpeg)|WAS-WSHZ--P----|METOC.AMPHC.WTH.HZ|Haze|POINT|C|
|1324||![](./images/WAS-WSIC--P----.png)|![](./images-std/0.was-wsic--p----.jpeg)|WAS-WSIC--P----|METOC.AMPHC.WTH.IC|Ice Crystals (Diamond Dust)|POINT|C|
|1325||![](./images/WAS-WSM-L-P----.png)|![](./images-std/0.was-wsm-l-p----.jpeg)|WAS-WSM-L-P----|METOC.AMPHC.WTH.RASN.RDSLIT|Rain Or Drizzle And Snow - Light|POINT|C|
|1326||![](./images/WAS-WSM-MHP----.png)|![](./images-std/0.was-wsm-mhp----.jpeg)|WAS-WSM-MHP----|METOC.AMPHC.WTH.RASN.RDSMH|Rain Or Drizzle And Snow - Moderate/Heavy|POINT|C|
|1327||![](./images/WAS-WSMSL-P----.png)|![](./images-std/0.was-wsmsl-p----.jpeg)|WAS-WSMSL-P----|METOC.AMPHC.WTH.RASN.SWRLIT|Rain And Snow Showers - Light|POINT|C|
|1328||![](./images/WAS-WSMSMHP----.png)|![](./images-std/0.was-wsmsmhp----.jpeg)|WAS-WSMSMHP----|METOC.AMPHC.WTH.RASN.SWRMOD|Rain And Snow Showers - Moderate/Heavy|POINT|C|
|1329||![](./images/WAS-WSPLH-P----.png)|![](./images-std/0.was-wsplh-p----.jpeg)|WAS-WSPLH-P----|METOC.AMPHC.WTH.PE.HVY|Ice Pellets - Heavy|POINT|C|
|1330||![](./images/WAS-WSPLL-P----.png)|![](./images-std/0.was-wspll-p----.jpeg)|WAS-WSPLL-P----|METOC.AMPHC.WTH.PE.LIT|Ice Pellets - Light|POINT|C|
|1331||![](./images/WAS-WSPLM-P----.png)|![](./images-std/0.was-wsplm-p----.jpeg)|WAS-WSPLM-P----|METOC.AMPHC.WTH.PE.MOD|Ice Pellets - Moderate|POINT|C|
|1332||![](./images/WAS-WSRFL-P----.png)|![](./images-std/0.was-wsrfl-p----.jpeg)|WAS-WSRFL-P----|METOC.AMPHC.WTH.FZRA.LIT|Freezing Rain - Light|POINT|C|
|1333||![](./images/WAS-WSRFMHP----.png)|![](./images-std/0.was-wsrfmhp----.jpeg)|WAS-WSRFMHP----|METOC.AMPHC.WTH.FZRA.MODHVY|Freezing Rain - Moderate/Heavy|POINT|C|
|1334||![](./images/WAS-WSR-HCP----.png)|![](./images-std/0.was-wsr-hcp----.jpeg)|WAS-WSR-HCP----|METOC.AMPHC.WTH.RA.INMHVY.CTSHVY|Rain - Continuous Heavy|POINT|C|
|1335||![](./images/WAS-WSR-HIP----.png)|![](./images-std/0.was-wsr-hip----.jpeg)|WAS-WSR-HIP----|METOC.AMPHC.WTH.RA.INMHVY|Rain - Intermittent Heavy|POINT|C|
|1336||![](./images/WAS-WSR-LCP----.png)|![](./images-std/0.was-wsr-lcp----.jpeg)|WAS-WSR-LCP----|METOC.AMPHC.WTH.RA.INMLIT.CTSLIT|Rain - Continuous Light|POINT|C|
|1337||![](./images/WAS-WSR-LIP----.png)|![](./images-std/0.was-wsr-lip----.jpeg)|WAS-WSR-LIP----|METOC.AMPHC.WTH.RA.INMLIT|Rain - Intermittent Light|POINT|C|
|1338||![](./images/WAS-WSR-MCP----.png)|![](./images-std/0.was-wsr-mcp----.jpeg)|WAS-WSR-MCP----|METOC.AMPHC.WTH.RA.INMMOD.CTSMOD|Rain - Continuous Moderate|POINT|C|
|1339||![](./images/WAS-WSR-MIP----.png)|![](./images-std/0.was-wsr-mip----.jpeg)|WAS-WSR-MIP----|METOC.AMPHC.WTH.RA.INMMOD|Rain - Intermittent Moderate|POINT|C|
|1340||![](./images/WAS-WSRSL-P----.png)|![](./images-std/0.was-wsrsl-p----.jpeg)|WAS-WSRSL-P----|METOC.AMPHC.WTH.RASWR.LIT|Rain Showers - Light|POINT|C|
|1341||![](./images/WAS-WSRSMHP----.png)|![](./images-std/0.was-wsrsmhp----.jpeg)|WAS-WSRSMHP----|METOC.AMPHC.WTH.RASWR.MODHVY|Rain Showers - Moderate/Heavy|POINT|C|
|1342||![](./images/WAS-WSRST-P----.png)|![](./images-std/0.was-wsrst-p----.jpeg)|WAS-WSRST-P----|METOC.AMPHC.WTH.RASWR.TOR|Rain Showers - Torrential|POINT|C|
|1343||![](./images/WAS-WSSBH-P----.png)|![](./images-std/0.was-wssbh-p----.jpeg)|WAS-WSSBH-P----|METOC.AMPHC.WTH.SN.BLSNHY|Blowing Snow - Heavy|POINT|C|
|1344||![](./images/WAS-WSSBLMP----.png)|![](./images-std/0.was-wssblmp----.jpeg)|WAS-WSSBLMP----|METOC.AMPHC.WTH.SN.BLSNLM|Blowing Snow - Light/Moderate|POINT|C|
|1345||![](./images/WAS-WSSG--P----.png)|![](./images-std/0.was-wssg--p----.jpeg)|WAS-WSSG--P----|METOC.AMPHC.WTH.SG|Snow Grains|POINT|C|
|1346||![](./images/WAS-WSS-HCP----.png)|![](./images-std/0.was-wss-hcp----.jpeg)|WAS-WSS-HCP----|METOC.AMPHC.WTH.SN.INMHVY.CTSHVY|Snow - Continuous Heavy|POINT|C|
|1347||![](./images/WAS-WSS-HIP----.png)|![](./images-std/0.was-wss-hip----.jpeg)|WAS-WSS-HIP----|METOC.AMPHC.WTH.SN.INMHVY|Snow - Intermittent Heavy|POINT|C|
|1348||![](./images/WAS-WSS-LCP----.png)|![](./images-std/0.was-wss-lcp----.jpeg)|WAS-WSS-LCP----|METOC.AMPHC.WTH.SN.INMLIT.CTSLIT|Snow - Continuous Light|POINT|C|
|1349||![](./images/WAS-WSS-LIP----.png)|![](./images-std/0.was-wss-lip----.jpeg)|WAS-WSS-LIP----|METOC.AMPHC.WTH.SN.INMLIT|Snow - Intermittent Light|POINT|C|
|1350||![](./images/WAS-WSS-MCP----.png)|![](./images-std/0.was-wss-mcp----.jpeg)|WAS-WSS-MCP----|METOC.AMPHC.WTH.SN.INMMOD.CTSMOD|Snow - Continuous Moderate|POINT|C|
|1351||![](./images/WAS-WSS-MIP----.png)|![](./images-std/0.was-wss-mip----.jpeg)|WAS-WSS-MIP----|METOC.AMPHC.WTH.SN.INMMOD|Snow - Intermittent Moderate|POINT|C|
|1352||![](./images/WAS-WSSSL-P----.png)|![](./images-std/0.was-wsssl-p----.jpeg)|WAS-WSSSL-P----|METOC.AMPHC.WTH.SSWR.LIT|Snow Showers - Light|POINT|C|
|1353||![](./images/WAS-WSSSMHP----.png)|![](./images-std/0.was-wsssmhp----.jpeg)|WAS-WSSSMHP----|METOC.AMPHC.WTH.SSWR.MODHVY|Snow Showers - Moderate/Heavy|POINT|C|
|1354||![](./images/WAS-WST-FCP----.png)|![](./images-std/0.was-wst-fcp----.jpeg)|WAS-WST-FCP----|METOC.AMPHC.WTH.STMS.FC|Funnel Cloud (Tornado-Waterspout)|POINT|C|
|1355||![](./images/WAS-WSTHH-P----.png)|![](./images-std/0.was-wsthh-p----.jpeg)|WAS-WSTHH-P----|METOC.AMPHC.WTH.STMS.TSHVWH|Thunderstorm Heavy - With Hail|POINT|C|
|1356||![](./images/WAS-WSTHR-P----.png)|![](./images-std/0.was-wsthr-p----.jpeg)|WAS-WSTHR-P----|METOC.AMPHC.WTH.STMS.TSHVNH|Thunderstorm Heavy With Rain-Snow - No Hail|POINT|C|
|1357||![](./images/WAS-WST-LGP----.png)|![](./images-std/0.was-wst-lgp----.jpeg)|WAS-WST-LGP----|METOC.AMPHC.WTH.STMS.LTG|Lightning|POINT|C|
|1358||![](./images/WAS-WST-LVP----.png)|![](./images-std/0.was-wst-lvp----.jpeg)|WAS-WST-LVP----|METOC.AMPHC.WTH.TROPLV|Tropopause Level|POINT|C|
|1359||![](./images/WAS-WSTMH-P----.png)|![](./images-std/0.was-wstmh-p----.jpeg)|WAS-WSTMH-P----|METOC.AMPHC.WTH.STMS.TSLMWH|Thunderstorm Light To Moderate - With Hail|POINT|C|
|1360||![](./images/WAS-WSTMR-P----.png)|![](./images-std/0.was-wstmr-p----.jpeg)|WAS-WSTMR-P----|METOC.AMPHC.WTH.STMS.TSLMNH|Thunderstorm Light To Moderate With Rain/Snow - No Hail|POINT|C|
|1361||![](./images/WAS-WST-NPP----.png)|![](./images-std/0.was-wst-npp----.jpeg)|WAS-WST-NPP----|METOC.AMPHC.WTH.STMS.TS|Thunderstorm - No Precipitation|POINT|C|
|1362||![](./images/WAS-WSTSD-P----.png)|![](./images-std/0.was-wstsd-p----.jpeg)|WAS-WSTSD-P----|METOC.AMPHC.WTH.TPLSYS.TROPDN|Tropical Depression|POINT|C|
|1363||![](./images/WAS-WSTSH-P----.png)|![](./images-std/0.was-wstsh-p----.jpeg)|WAS-WSTSH-P----|METOC.AMPHC.WTH.TPLSYS.HC|Hurricane-Typhoon|POINT|C|
|1364||![](./images/WAS-WST-SQP----.png)|![](./images-std/0.was-wst-sqp----.jpeg)|WAS-WST-SQP----|METOC.AMPHC.WTH.STMS.SQL|Squall|POINT|C|
|1365||![](./images/WAS-WSTSS-P----.png)|![](./images-std/0.was-wstss-p----.jpeg)|WAS-WSTSS-P----|METOC.AMPHC.WTH.TPLSYS.TROPSM|Tropical Storm|POINT|C|
|1366||![](./images/WAS-WSUKP-P----.png)|![](./images-std/0.was-wsukp-p----.jpeg)|WAS-WSUKP-P----|METOC.AMPHC.WTH.POUTAI|Precipitation Of Unknown Type And Intensity|POINT|C|
|1367||![](./images/WAS-WSVA--P----.png)|![](./images-std/0.was-wsva--p----.jpeg)|WAS-WSVA--P----|METOC.AMPHC.WTH.VOLERN.VOLASH|Volcanic Ash|POINT|C|
|1368||![](./images/WAS-WSVE--P----.png)|![](./images-std/0.was-wsve--p----.jpeg)|WAS-WSVE--P----|METOC.AMPHC.WTH.VOLERN|Volcanic Eruption|POINT|C|
|1369||![](./images/WO-DBSF-----A--.png)|![](./images-std/0.wo-dbsf-----a--.jpeg)|WO-DBSF-----A--|METOC.OCA.OCNGRY.BEHSPE.FLT|Flat|AREA|C|
|1370||![](./images/WO-DBSG-----A--.png)|![](./images-std/0.wo-dbsg-----a--.jpeg)|WO-DBSG-----A--|METOC.OCA.OCNGRY.BEHSPE.GTL|Gentle|AREA|C|
|1371||![](./images/WO-DBSM-----A--.png)|![](./images-std/0.wo-dbsm-----a--.jpeg)|WO-DBSM-----A--|METOC.OCA.OCNGRY.BEHSPE.MOD|Moderate|AREA|C|
|1372||![](./images/WO-DBST-----A--.png)|![](./images-std/0.wo-dbst-----a--.jpeg)|WO-DBST-----A--|METOC.OCA.OCNGRY.BEHSPE.STP|Steep|AREA|C|
|1373||![](./images/WO-DGMBCA---A--.png)|![](./images-std/0.wo-dgmbca---a--.jpeg)|WO-DGMBCA---A--|METOC.OCA.GPHY.MNEWBD.MIWBC.A|A|AREA|C|
|1374||![](./images/WO-DGMBCB---A--.png)|![](./images-std/0.wo-dgmbcb---a--.jpeg)|WO-DGMBCB---A--|METOC.OCA.GPHY.MNEWBD.MIWBC.B|B|AREA|C|
|1375||![](./images/WO-DGMBCC---A--.png)|![](./images-std/0.wo-dgmbcc---a--.jpeg)|WO-DGMBCC---A--|METOC.OCA.GPHY.MNEWBD.MIWBC.C|C|AREA|C|
|1376||![](./images/WO-DGMBTA---A--.png)|![](./images-std/0.wo-dgmbta---a--.jpeg)|WO-DGMBTA---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.A1|A1|AREA|C|
|1377||![](./images/WO-DGMBTB---A--.png)|![](./images-std/0.wo-dgmbtb---a--.jpeg)|WO-DGMBTB---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.A2|A2|AREA|C|
|1378||![](./images/WO-DGMBTC---A--.png)|![](./images-std/0.wo-dgmbtc---a--.jpeg)|WO-DGMBTC---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.A3|A3|AREA|C|
|1379||![](./images/WO-DGMBTD---A--.png)|![](./images-std/0.wo-dgmbtd---a--.jpeg)|WO-DGMBTD---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.B1|B1|AREA|C|
|1380||![](./images/WO-DGMBTE---A--.png)|![](./images-std/0.wo-dgmbte---a--.jpeg)|WO-DGMBTE---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.B2|B2|AREA|C|
|1381||![](./images/WO-DGMBTF---A--.png)|![](./images-std/0.wo-dgmbtf---a--.jpeg)|WO-DGMBTF---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.B3|B3|AREA|C|
|1382||![](./images/WO-DGMBTG---A--.png)|![](./images-std/0.wo-dgmbtg---a--.jpeg)|WO-DGMBTG---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.C1|C1|AREA|C|
|1383||![](./images/WO-DGMBTH---A--.png)|![](./images-std/0.wo-dgmbth---a--.jpeg)|WO-DGMBTH---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.C2|C2|AREA|C|
|1384||![](./images/WO-DGMBTI---A--.png)|![](./images-std/0.wo-dgmbti---a--.jpeg)|WO-DGMBTI---A--|METOC.OCA.GPHY.MNEWBD.MIWBT.C3|C3|AREA|C|
|1385||![](./images/WO-DGMCH----A--.png)|![](./images-std/0.wo-dgmch----a--.jpeg)|WO-DGMCH----A--|METOC.OCA.GPHY.MNEWBD.CTRB.HGH|High|AREA|C|
|1386||![](./images/WO-DGMCL----A--.png)|![](./images-std/0.wo-dgmcl----a--.jpeg)|WO-DGMCL----A--|METOC.OCA.GPHY.MNEWBD.CTRB.LW|Low|AREA|C|
|1387||![](./images/WO-DGMCM----A--.png)|![](./images-std/0.wo-dgmcm----a--.jpeg)|WO-DGMCM----A--|METOC.OCA.GPHY.MNEWBD.CTRB.MDM|Medium|AREA|C|
|1388||![](./images/WO-DGMIBA---A--.png)|![](./images-std/0.wo-dgmiba---a--.jpeg)|WO-DGMIBA---A--|METOC.OCA.GPHY.MNEWBD.IMTBUR.0%|0|AREA|C|
|1389||![](./images/WO-DGMIBB---A--.png)|![](./images-std/0.wo-dgmibb---a--.jpeg)|WO-DGMIBB---A--|METOC.OCA.GPHY.MNEWBD.IMTBUR.0-10-|0-10-|AREA|C|
|1390||![](./images/WO-DGMIBC---A--.png)|![](./images-std/0.wo-dgmibc---a--.jpeg)|WO-DGMIBC---A--|METOC.OCA.GPHY.MNEWBD.IMTBUR.10-20-|10-20-|AREA|C|
|1391||![](./images/WO-DGMIBD---A--.png)|![](./images-std/0.wo-dgmibd---a--.jpeg)|WO-DGMIBD---A--|METOC.OCA.GPHY.MNEWBD.IMTBUR.20-75-|20-75-|AREA|C|
|1392||![](./images/WO-DGMIBE---A--.png)|![](./images-std/0.wo-dgmibe---a--.jpeg)|WO-DGMIBE---A--|METOC.OCA.GPHY.MNEWBD.IMTBUR.-75-|-75-|AREA|C|
|1393||![](./images/WO-DGML-----A--.png)|![](./images-std/0.wo-dgml-----a--.jpeg)|WO-DGML-----A--|METOC.OCA.GPHY.MNEWBD.MIWBS.LND|Land|AREA|C|
|1394||![](./images/WO-DGMN-----A--.png)|![](./images-std/0.wo-dgmn-----a--.jpeg)|WO-DGMN-----A--|METOC.OCA.GPHY.MNEWBD.MIWBS.NODAT|No Data|AREA|C|
|1395||![](./images/WO-DGMRM----A--.png)|![](./images-std/0.wo-dgmrm----a--.jpeg)|WO-DGMRM----A--|METOC.OCA.GPHY.MNEWBD.BTMRGN.MOD|Moderate|AREA|C|
|1396||![](./images/WO-DGMRR----A--.png)|![](./images-std/0.wo-dgmrr----a--.jpeg)|WO-DGMRR----A--|METOC.OCA.GPHY.MNEWBD.BTMRGN.RGH|Rough|AREA|C|
|1397||![](./images/WO-DGMRS----A--.png)|![](./images-std/0.wo-dgmrs----a--.jpeg)|WO-DGMRS----A--|METOC.OCA.GPHY.MNEWBD.BTMRGN.SMH|Smooth|AREA|C|
|1398||![](./images/WO-DGMSB----A--.png)|![](./images-std/0.wo-dgmsb----a--.jpeg)|WO-DGMSB----A--|METOC.OCA.GPHY.MNEWBD.MIWBS.BLDS|Boulders|AREA|C|
|1399||![](./images/WO-DGMSC----A--.png)|![](./images-std/0.wo-dgmsc----a--.jpeg)|WO-DGMSC----A--|METOC.OCA.GPHY.MNEWBD.MIWBS.CLAY|Clay|AREA|C|
|1400||![](./images/WO-DGMS-CO--A--.png)|![](./images-std/0.wo-dgms-co--a--.jpeg)|WO-DGMS-CO--A--|METOC.OCA.GPHY.MNEWBD.MIWBS.COBLOS|Cobbles  Oyster Shells|AREA|C|
|1401||![](./images/WO-DGMSIC---A--.png)|![](./images-std/0.wo-dgmsic---a--.jpeg)|WO-DGMSIC---A--|METOC.OCA.GPHY.MNEWBD.MIWBS.CSESLT|Coarse Silt|AREA|C|
|1402||![](./images/WO-DGMSIF---A--.png)|![](./images-std/0.wo-dgmsif---a--.jpeg)|WO-DGMSIF---A--|METOC.OCA.GPHY.MNEWBD.MIWBS.FNESLT|Fine Silt|AREA|C|
|1403||![](./images/WO-DGMSIM---A--.png)|![](./images-std/0.wo-dgmsim---a--.jpeg)|WO-DGMSIM---A--|METOC.OCA.GPHY.MNEWBD.MIWBS.MDMSLT|Medium Silt|AREA|C|
|1404||![](./images/WO-DGMSIVF--A--.png)|![](./images-std/0.wo-dgmsivf--a--.jpeg)|WO-DGMSIVF--A--|METOC.OCA.GPHY.MNEWBD.MIWBS.VFNSLT|Very Fine Silt|AREA|C|
|1405||![](./images/WO-DGMS-PH--A--.png)|![](./images-std/0.wo-dgms-ph--a--.jpeg)|WO-DGMS-PH--A--|METOC.OCA.GPHY.MNEWBD.MIWBS.PBLSHE|Pebbles  Shells|AREA|C|
|1406||![](./images/WO-DGMSR----A--.png)|![](./images-std/0.wo-dgmsr----a--.jpeg)|WO-DGMSR----A--|METOC.OCA.GPHY.MNEWBD.MIWBS.SLDRCK|Solid Rock|AREA|C|
|1407||![](./images/WO-DGMSSC---A--.png)|![](./images-std/0.wo-dgmssc---a--.jpeg)|WO-DGMSSC---A--|METOC.OCA.GPHY.MNEWBD.MIWBS.CSESD|Coarse Sand|AREA|C|
|1408||![](./images/WO-DGMSSF---A--.png)|![](./images-std/0.wo-dgmssf---a--.jpeg)|WO-DGMSSF---A--|METOC.OCA.GPHY.MNEWBD.MIWBS.FNESD|Fine Sand|AREA|C|
|1409||![](./images/WO-DGMS-SH--A--.png)|![](./images-std/0.wo-dgms-sh--a--.jpeg)|WO-DGMS-SH--A--|METOC.OCA.GPHY.MNEWBD.MIWBS.SD&SHE|Sand And Shells|AREA|C|
|1410||![](./images/WO-DGMSSM---A--.png)|![](./images-std/0.wo-dgmssm---a--.jpeg)|WO-DGMSSM---A--|METOC.OCA.GPHY.MNEWBD.MIWBS.MDMSD|Medium Sand|AREA|C|
|1411||![](./images/WO-DGMSSVF--A--.png)|![](./images-std/0.wo-dgmssvf--a--.jpeg)|WO-DGMSSVF--A--|METOC.OCA.GPHY.MNEWBD.MIWBS.VFNESD|Very Fine Sand|AREA|C|
|1412||![](./images/WO-DGMSSVS--A--.png)|![](./images-std/0.wo-dgmssvs--a--.jpeg)|WO-DGMSSVS--A--|METOC.OCA.GPHY.MNEWBD.MIWBS.VCSESD|Very Coarse Sand|AREA|C|
|1413||![](./images/WO-DHABP----A--.png)|![](./images-std/0.wo-dhabp----a--.jpeg)|WO-DHABP----A--|METOC.OCA.HYDGRY.ATN.PRH1.PRH3|Perches-Stakes|POINT|C|
|1414||![](./images/WO-DHALLA--L---.png)|![](./images-std/0.wo-dhalla--l---.jpeg)|WO-DHALLA--L---|METOC.OCA.HYDGRY.ATN.LDGLNE|Leading Line|LINE|C|
|1415||![](./images/WO-DHCB-----A--.png)|![](./images-std/0.wo-dhcb-----a--.jpeg)|WO-DHCB-----A--|METOC.OCA.HYDGRY.CSTHYD.BEH|Beach|AREA|C|
|1416||![](./images/WO-DHCC----L---.png)|![](./images-std/0.wo-dhcc----l---.jpeg)|WO-DHCC----L---|METOC.OCA.HYDGRY.CSTHYD.CSTLN|Coastline|LINE|C|
|1417||![](./images/WO-DHCF-----A--.png)|![](./images-std/0.wo-dhcf-----a--.jpeg)|WO-DHCF-----A--|METOC.OCA.HYDGRY.CSTHYD.FSH1.FSH3|Foreshore|AREA|C|
|1418||![](./images/WO-DHCF----L---.png)|![](./images-std/0.wo-dhcf----l---.jpeg)|WO-DHCF----L---|METOC.OCA.HYDGRY.CSTHYD.FSH1.FSH2|Foreshore|LINE|C|
|1419||![](./images/WO-DHCI-----A--.png)|![](./images-std/0.wo-dhci-----a--.jpeg)|WO-DHCI-----A--|METOC.OCA.HYDGRY.CSTHYD.ISND|Island|AREA|C|
|1420||![](./images/WO-DHCW-----A--.png)|![](./images-std/0.wo-dhcw-----a--.jpeg)|WO-DHCW-----A--|METOC.OCA.HYDGRY.CSTHYD.H2O|Water|AREA|C|
|1421||![](./images/WO-DHDDA----A--.png)|![](./images-std/0.wo-dhdda----a--.jpeg)|WO-DHDDA----A--|METOC.OCA.HYDGRY.DPH.ARA|Depth Area|POINT|C|
|1422||![](./images/WO-DHDDC---L---.png)|![](./images-std/0.wo-dhddc---l---.jpeg)|WO-DHDDC---L---|METOC.OCA.HYDGRY.DPH.CTUR|Depth Contour|LINE|C|
|1423||![](./images/WO-DHDDL---L---.png)|![](./images-std/0.wo-dhddl---l---.jpeg)|WO-DHDDL---L---|METOC.OCA.HYDGRY.DPH.CRV|Depth Curve|LINE|C|
|1424||![](./images/WO-DHHD-----A--.png)|![](./images-std/0.wo-dhhd-----a--.jpeg)|WO-DHHD-----A--|METOC.OCA.HYDGRY.DANHAZ.UH2DAN|Underwater Danger-Hazard|AREA|C|
|1425||![](./images/WO-DHHDB---L---.png)|![](./images-std/0.wo-dhhdb---l---.jpeg)|WO-DHHDB---L---|METOC.OCA.HYDGRY.DANHAZ.BRKS|Breakers|LINE|C|
|1426||![](./images/WO-DHHDD----A--.png)|![](./images-std/0.wo-dhhdd----a--.jpeg)|WO-DHHDD----A--|METOC.OCA.HYDGRY.DANHAZ.DCDH2O|Discolored Water|AREA|C|
|1427||![](./images/WO-DHHDF----A--.png)|![](./images-std/0.wo-dhhdf----a--.jpeg)|WO-DHHDF----A--|METOC.OCA.HYDGRY.DANHAZ.FLGRD1.FLGRD3|Foul Ground|AREA|C|
|1428||![](./images/WO-DHHDK----A--.png)|![](./images-std/0.wo-dhhdk----a--.jpeg)|WO-DHHDK----A--|METOC.OCA.HYDGRY.DANHAZ.KLP1.KLP3|Kelp3-Seaweed|AREA|C|
|1429||![](./images/WO-DHHDK--P----.png)|![](./images-std/0.wo-dhhdk--p----.jpeg)|WO-DHHDK--P----|METOC.OCA.HYDGRY.DANHAZ.KLP1.KLP2|Kelp2-Seaweed|POINT|C|
|1430||![](./images/WO-DHPBA----A--.png)|![](./images-std/0.wo-dhpba----a--.jpeg)|WO-DHPBA----A--|METOC.OCA.HYDGRY.PRTHBR.PRT.ANCRG3|Anchorage|AREA|C|
|1431||![](./images/WO-DHPBA---L---.png)|![](./images-std/0.wo-dhpba---l---.jpeg)|WO-DHPBA---L---|METOC.OCA.HYDGRY.PRTHBR.PRT.ANCRG2|Anchorage|LINE|C|
|1432||![](./images/WO-DHPBP---L---.png)|![](./images-std/0.wo-dhpbp---l---.jpeg)|WO-DHPBP---L---|METOC.OCA.HYDGRY.PRTHBR.PRT.PWQ|Pier-Wharf-Quay|LINE|C|
|1433||![](./images/WO-DHPMD----A--.png)|![](./images-std/0.wo-dhpmd----a--.jpeg)|WO-DHPMD----A--|METOC.OCA.HYDGRY.PRTHBR.FAC.DDCK|Drydock|AREA|C|
|1434||![](./images/WO-DHPMO----A--.png)|![](./images-std/0.wo-dhpmo----a--.jpeg)|WO-DHPMO----A--|METOC.OCA.HYDGRY.PRTHBR.FAC.OSLF3|Offshore Loading Facility|AREA|C|
|1435||![](./images/WO-DHPMO---L---.png)|![](./images-std/0.wo-dhpmo---l---.jpeg)|WO-DHPMO---L---|METOC.OCA.HYDGRY.PRTHBR.FAC.OSLF2|Offshore Loading Facility|LINE|C|
|1436||![](./images/WO-DHPMO--P----.png)|![](./images-std/0.wo-dhpmo--p----.jpeg)|WO-DHPMO--P----|METOC.OCA.HYDGRY.PRTHBR.FAC.OSLF1|Offshore Loading Facility|POINT|C|
|1437||![](./images/WO-DHPMRA--L---.png)|![](./images-std/0.wo-dhpmra--l---.jpeg)|WO-DHPMRA--L---|METOC.OCA.HYDGRY.PRTHBR.FAC.RAMPAW|Ramp (Above Water)|LINE|C|
|1438||![](./images/WO-DHPMRB--L---.png)|![](./images-std/0.wo-dhpmrb--l---.jpeg)|WO-DHPMRB--L---|METOC.OCA.HYDGRY.PRTHBR.FAC.RAMPBW|Ramp (Below Water)|LINE|C|
|1439||![](./images/WO-DHPSPA--L---.png)|![](./images-std/0.wo-dhpspa--l---.jpeg)|WO-DHPSPA--L---|METOC.OCA.HYDGRY.PRTHBR.SHRLNE.BWGJAW|Breakwater-Groin-Jetty (Above Water)|LINE|C|
|1440||![](./images/WO-DHPSPB--L---.png)|![](./images-std/0.wo-dhpspb--l---.jpeg)|WO-DHPSPB--L---|METOC.OCA.HYDGRY.PRTHBR.SHRLNE.BWGJBW|Breakwater-Groin-Jetty (Below Water)|LINE|C|
|1441||![](./images/WO-DHPSPS--L---.png)|![](./images-std/0.wo-dhpsps--l---.jpeg)|WO-DHPSPS--L---|METOC.OCA.HYDGRY.PRTHBR.SHRLNE.SW|Seawall|LINE|C|
|1442||![](./images/WO-DIDID---L---.png)|![](./images-std/0.wo-didid---l---.jpeg)|WO-DIDID---L---|METOC.OCA.ISYS.DYNPRO.ID|Ice Drift (Direction)|POINT|C|
|1443||![](./images/WO-DILIEE--L---.png)|![](./images-std/0.wo-diliee--l---.jpeg)|WO-DILIEE--L---|METOC.OCA.ISYS.LMT.EIEOB|Estimated Ice Edge Or Boundary|LINE|C|
|1444||![](./images/WO-DILIEO--L---.png)|![](./images-std/0.wo-dilieo--l---.jpeg)|WO-DILIEO--L---|METOC.OCA.ISYS.LMT.OIEOB|Observed Ice Edge Or Boundary|LINE|C|
|1445||![](./images/WO-DILIER--L---.png)|![](./images-std/0.wo-dilier--l---.jpeg)|WO-DILIER--L---|METOC.OCA.ISYS.LMT.IEOBFR|Ice Edge Or Boundary From Radar|LINE|C|
|1446||![](./images/WO-DILOR---L---.png)|![](./images-std/0.wo-dilor---l---.jpeg)|WO-DILOR---L---|METOC.OCA.ISYS.LMT.LORO|Limit Of Radar Observation|LINE|C|
|1447||![](./images/WO-DILOV---L---.png)|![](./images-std/0.wo-dilov---l---.jpeg)|WO-DILOV---L---|METOC.OCA.ISYS.LMT.LOVO|Limit Of Visual Observation|LINE|C|
|1448||![](./images/WO-DILUC---L---.png)|![](./images-std/0.wo-diluc---l---.jpeg)|WO-DILUC---L---|METOC.OCA.ISYS.LMT.LOU|Limit Of Undercast|LINE|C|
|1449||![](./images/WO-DIOC----L---.png)|![](./images-std/0.wo-dioc----l---.jpeg)|WO-DIOC----L---|METOC.OCA.ISYS.OITI.CRK|Cracks|LINE|C|
|1450||![](./images/WO-DIOCS---L---.png)|![](./images-std/0.wo-diocs---l---.jpeg)|WO-DIOCS---L---|METOC.OCA.ISYS.OITI.CRKASL|Cracks At A Specific Location|LINE|C|
|1451||![](./images/WO-DIOLF---L---.png)|![](./images-std/0.wo-diolf---l---.jpeg)|WO-DIOLF---L---|METOC.OCA.ISYS.OITI.FZLED|Frozen Lead|LINE|C|
|1452||![](./images/WO-DIOL----L---.png)|![](./images-std/0.wo-diol----l---.jpeg)|WO-DIOL----L---|METOC.OCA.ISYS.OITI.LED|Lead|LINE|C|
|1453||![](./images/WO-DL-MA----A--.png)|![](./images-std/0.wo-dl-ma----a--.jpeg)|WO-DL-MA----A--|METOC.OCA.LMT.MARTAR|Maritime Area|AREA|C|
|1454||![](./images/WO-DL-ML---L---.png)|![](./images-std/0.wo-dl-ml---l---.jpeg)|WO-DL-ML---L---|METOC.OCA.LMT.MARTLB|Maritime Limit Boundary|LINE|C|
|1455||![](./images/WO-DL-O-----A--.png)|![](./images-std/0.wo-dl-o-----a--.jpeg)|WO-DL-O-----A--|METOC.OCA.LMT.OD|Operator-Defined|AREA|C|
|1456||![](./images/WO-DL-RA---L---.png)|![](./images-std/0.wo-dl-ra---l---.jpeg)|WO-DL-RA---L---|METOC.OCA.LMT.RSDARA|Restricted Area|LINE|C|
|1457||![](./images/WO-DL-SA----A--.png)|![](./images-std/0.wo-dl-sa----a--.jpeg)|WO-DL-SA----A--|METOC.OCA.LMT.SWPARA|Swept Area|AREA|C|
|1458||![](./images/WO-DL-TA----A--.png)|![](./images-std/0.wo-dl-ta----a--.jpeg)|WO-DL-TA----A--|METOC.OCA.LMT.TRGARA|Training Area|AREA|C|
|1459||![](./images/WO-DMCA----L---.png)|![](./images-std/0.wo-dmca----l---.jpeg)|WO-DMCA----L---|METOC.OCA.MMD.SUBCBL|Submarine Cable|LINE|C|
|1460||![](./images/WO-DMCC-----A--.png)|![](./images-std/0.wo-dmcc-----a--.jpeg)|WO-DMCC-----A--|METOC.OCA.MMD.SBMCRB|Submerged Crib|AREA|C|
|1461||![](./images/WO-DMCD----L---.png)|![](./images-std/0.wo-dmcd----l---.jpeg)|WO-DMCD----L---|METOC.OCA.MMD.CNL|Canal|LINE|C|
|1462||![](./images/WO-DMOA-----A--.png)|![](./images-std/0.wo-dmoa-----a--.jpeg)|WO-DMOA-----A--|METOC.OCA.MMD.OLRGFD|Oil/Gas Rig Field|AREA|C|
|1463||![](./images/WO-DMPA----L---.png)|![](./images-std/0.wo-dmpa----l---.jpeg)|WO-DMPA----L---|METOC.OCA.MMD.PPELNE|Pipelines/Pipe|LINE|C|
|1464||![](./images/WO-DOBVA----A--.png)|![](./images-std/0.wo-dobva----a--.jpeg)|WO-DOBVA----A--|METOC.OCA.OCNGRY.BIOLUM.VDR1-2|Vdr Level 1-2|AREA|C|
|1465||![](./images/WO-DOBVB----A--.png)|![](./images-std/0.wo-dobvb----a--.jpeg)|WO-DOBVB----A--|METOC.OCA.OCNGRY.BIOLUM.VDR2-3|Vdr Level 2-3|AREA|C|
|1466||![](./images/WO-DOBVC----A--.png)|![](./images-std/0.wo-dobvc----a--.jpeg)|WO-DOBVC----A--|METOC.OCA.OCNGRY.BIOLUM.VDR3-4|Vdr Level 3-4|AREA|C|
|1467||![](./images/WO-DOBVD----A--.png)|![](./images-std/0.wo-dobvd----a--.jpeg)|WO-DOBVD----A--|METOC.OCA.OCNGRY.BIOLUM.VDR4-5|Vdr Level 4-5|AREA|C|
|1468||![](./images/WO-DOBVE----A--.png)|![](./images-std/0.wo-dobve----a--.jpeg)|WO-DOBVE----A--|METOC.OCA.OCNGRY.BIOLUM.VDR5-6|Vdr Level 5-6|AREA|C|
|1469||![](./images/WO-DOBVF----A--.png)|![](./images-std/0.wo-dobvf----a--.jpeg)|WO-DOBVF----A--|METOC.OCA.OCNGRY.BIOLUM.VDR6-7|Vdr Level 6-7|AREA|C|
|1470||![](./images/WO-DOBVG----A--.png)|![](./images-std/0.wo-dobvg----a--.jpeg)|WO-DOBVG----A--|METOC.OCA.OCNGRY.BIOLUM.VDR7-8|Vdr Level 7-8|AREA|C|
|1471||![](./images/WO-DOBVH----A--.png)|![](./images-std/0.wo-dobvh----a--.jpeg)|WO-DOBVH----A--|METOC.OCA.OCNGRY.BIOLUM.VDR8-9|Vdr Level 8-9|AREA|C|
|1472||![](./images/WO-DOBVI----A--.png)|![](./images-std/0.wo-dobvi----a--.jpeg)|WO-DOBVI----A--|METOC.OCA.OCNGRY.BIOLUM.VDR9-0|Vdr Level 9-10|AREA|C|
|1473||![](./images/WO-DTCCCFE-L---.png)|![](./images-std/0.wo-dtcccfe-l---.jpeg)|WO-DTCCCFE-L---|METOC.OCA.HYDGRY.TDECUR.EBB|Current Flow - Ebb|LINE|C|
|1474||![](./images/WO-DTCCCFF-L---.png)|![](./images-std/0.wo-dtcccff-l---.jpeg)|WO-DTCCCFF-L---|METOC.OCA.HYDGRY.TDECUR.FLOOD|Current Flow - Flood|LINE|C|
|1475||![](./images/WOS-BFC-CBP----.png)|![](./images-std/0.wos-bfc-cbp----.jpeg)|WOS-BFC-CBP----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.COBL|Cobbles|POINT|C|
|1476||![](./images/WOS-BFC-CLP----.png)|![](./images-std/0.wos-bfc-clp----.jpeg)|WOS-BFC-CLP----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.CLAY|Clay|POINT|C|
|1477||![](./images/WOS-BFC-COP----.png)|![](./images-std/0.wos-bfc-cop----.jpeg)|WOS-BFC-COP----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.CRL|Coral|POINT|C|
|1478||![](./images/WOS-BFC-G-P----.png)|![](./images-std/0.wos-bfc-g-p----.jpeg)|WOS-BFC-G-P----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.GVL|Gravel|POINT|C|
|1479||![](./images/WOS-BFC-M-P----.png)|![](./images-std/0.wos-bfc-m-p----.jpeg)|WOS-BFC-M-P----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.MUD|Mud|POINT|C|
|1480||![](./images/WOS-BFC-P-P----.png)|![](./images-std/0.wos-bfc-p-p----.jpeg)|WOS-BFC-P-P----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.PBL|Pebbles|POINT|C|
|1481||![](./images/WOS-BFC-R-P----.png)|![](./images-std/0.wos-bfc-r-p----.jpeg)|WOS-BFC-R-P----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.RCK|Rock|POINT|C|
|1482||![](./images/WOS-BFC-SHP----.png)|![](./images-std/0.wos-bfc-shp----.jpeg)|WOS-BFC-SHP----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.SHE|Shell|POINT|C|
|1483||![](./images/WOS-BFC-SIP----.png)|![](./images-std/0.wos-bfc-sip----.jpeg)|WOS-BFC-SIP----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.SLT|Silt|POINT|C|
|1484||![](./images/WOS-BFC-S-P----.png)|![](./images-std/0.wos-bfc-s-p----.jpeg)|WOS-BFC-S-P----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.SD|Sand|POINT|C|
|1485||![](./images/WOS-BFC-STP----.png)|![](./images-std/0.wos-bfc-stp----.jpeg)|WOS-BFC-STP----|METOC.OCA.HYDGRY.BTMFAT.BTMCHR.STNE|Stones|POINT|C|
|1486||![](./images/WOS-BFQ-C-P----.png)|![](./images-std/0.wos-bfq-c-p----.jpeg)|WOS-BFQ-C-P----|METOC.OCA.HYDGRY.BTMFAT.QLFYTM.CSE|Coarse|POINT|C|
|1487||![](./images/WOS-BFQ-F-P----.png)|![](./images-std/0.wos-bfq-f-p----.jpeg)|WOS-BFQ-F-P----|METOC.OCA.HYDGRY.BTMFAT.QLFYTM.FNE|Fine|POINT|C|
|1488||![](./images/WOS-BFQ-M-P----.png)|![](./images-std/0.wos-bfq-m-p----.jpeg)|WOS-BFQ-M-P----|METOC.OCA.HYDGRY.BTMFAT.QLFYTM.MDM|Medium|POINT|C|
|1489||![](./images/WOS-HABA--P----.png)|![](./images-std/0.wos-haba--p----.jpeg)|WOS-HABA--P----|METOC.OCA.HYDGRY.ATN.BCN|Beacon|POINT|C|
|1490||![](./images/WOS-HABB--P----.png)|![](./images-std/0.wos-habb--p----.jpeg)|WOS-HABB--P----|METOC.OCA.HYDGRY.ATN.BUOY|Buoy Default|POINT|C|
|1491||![](./images/WOS-HABM--P----.png)|![](./images-std/0.wos-habm--p----.jpeg)|WOS-HABM--P----|METOC.OCA.HYDGRY.ATN.MRK|Marker|POINT|C|
|1492||![](./images/WOS-HABP--P----.png)|![](./images-std/0.wos-habp--p----.jpeg)|WOS-HABP--P----|METOC.OCA.HYDGRY.ATN.PRH1.PRH2|Perches-Stakes|POINT|C|
|1493||![](./images/WOS-HALH--P----.png)|![](./images-std/0.wos-halh--p----.jpeg)|WOS-HALH--P----|METOC.OCA.HYDGRY.ATN.LITHSE|Lighthouse|POINT|C|
|1494||![](./images/WOS-HAL---P----.png)|![](./images-std/0.wos-hal---p----.jpeg)|WOS-HAL---P----|METOC.OCA.HYDGRY.ATN.LIT|Light|POINT|C|
|1495||![](./images/WOS-HALV--P----.png)|![](./images-std/0.wos-halv--p----.jpeg)|WOS-HALV--P----|METOC.OCA.HYDGRY.ATN.LITVES|Light Vessel-Lightship|POINT|C|
|1496||![](./images/WOS-HDS---P----.png)|![](./images-std/0.wos-hds---p----.jpeg)|WOS-HDS---P----|METOC.OCA.HYDGRY.DPH.SNDG|Soundings|POINT|C|
|1497||![](./images/WOS-HHDE--P----.png)|![](./images-std/0.wos-hhde--p----.jpeg)|WOS-HHDE--P----|METOC.OCA.HYDGRY.DANHAZ.EOTR|Eddies-Overfalls-Tide Rips|POINT|C|
|1498||![](./images/WOS-HHDF--P----.png)|![](./images-std/0.wos-hhdf--p----.jpeg)|WOS-HHDF--P----|METOC.OCA.HYDGRY.DANHAZ.FLGRD1.FLGRD2|Foul Ground|POINT|C|
|1499||![](./images/WOS-HHDMDBP----.png)|![](./images-std/0.wos-hhdmdbp----.jpeg)|WOS-HHDMDBP----|METOC.OCA.HYDGRY.DANHAZ.MNENAV.DBT|Mine-Naval (Doubtful)|POINT|C|
|1500||![](./images/WOS-HHDMDFP----.png)|![](./images-std/0.wos-hhdmdfp----.jpeg)|WOS-HHDMDFP----|METOC.OCA.HYDGRY.DANHAZ.MNENAV.DEFN|Mine-Naval (Definite)|POINT|C|
|1501||![](./images/WOS-HHDR---L---.png)|![](./images-std/0.wos-hhdr---l---.jpeg)|WOS-HHDR---L---|METOC.OCA.HYDGRY.DANHAZ.REEF|Reef|LINE|C|
|1502||![](./images/WOS-HHDS--P----.png)|![](./images-std/0.wos-hhds--p----.jpeg)|WOS-HHDS--P----|METOC.OCA.HYDGRY.DANHAZ.SNAG|Snags-Stumps|POINT|C|
|1503||![](./images/WOS-HHDWA-P----.png)|![](./images-std/0.wos-hhdwa-p----.jpeg)|WOS-HHDWA-P----|METOC.OCA.HYDGRY.DANHAZ.WRK.UCOV|Wreck (Uncovers)|POINT|C|
|1504||![](./images/WOS-HHDWB-P----.png)|![](./images-std/0.wos-hhdwb-p----.jpeg)|WOS-HHDWB-P----|METOC.OCA.HYDGRY.DANHAZ.WRK.SBM|Wreck (Submerged)|POINT|C|
|1505||![](./images/WOS-HHRA--P----.png)|![](./images-std/0.wos-hhra--p----.jpeg)|WOS-HHRA--P----|METOC.OCA.HYDGRY.DANHAZ.RCKAWD|Rock Awashed|POINT|C|
|1506||![](./images/WOS-HHRS--P----.png)|![](./images-std/0.wos-hhrs--p----.jpeg)|WOS-HHRS--P----|METOC.OCA.HYDGRY.DANHAZ.RCKSBM|Rock Submergered|POINT|C|
|1507||![](./images/WOS-HPBA--P----.png)|![](./images-std/0.wos-hpba--p----.jpeg)|WOS-HPBA--P----|METOC.OCA.HYDGRY.PRTHBR.PRT.ANCRG1|Anchorage|POINT|C|
|1508||![](./images/WOS-HPB-A-P----.png)|![](./images-std/0.wos-hpb-a-p----.jpeg)|WOS-HPB-A-P----|METOC.OCA.HYDGRY.PRTHBR.PRT.BRHSA|Berths (Anchor)|POINT|C|
|1509||![](./images/WOS-HPB-O-P----.png)|![](./images-std/0.wos-hpb-o-p----.jpeg)|WOS-HPB-O-P----|METOC.OCA.HYDGRY.PRTHBR.PRT.BRHSO|Berths (Onshore)|POINT|C|
|1510||![](./images/WOS-HPCP--P----.png)|![](./images-std/0.wos-hpcp--p----.jpeg)|WOS-HPCP--P----|METOC.OCA.HYDGRY.PRTHBR.PRT.CIP|Call In Point|POINT|C|
|1511||![](./images/WOS-HPD---P----.png)|![](./images-std/0.wos-hpd---p----.jpeg)|WOS-HPD---P----|METOC.OCA.HYDGRY.PRTHBR.FAC.DOPN|Dolphin|POINT|C|
|1512||![](./images/WOS-HPFF----A--.png)|![](./images-std/0.wos-hpff----a--.jpeg)|WOS-HPFF----A--|METOC.OCA.HYDGRY.PRTHBR.FSG.FSTK3|Fish Stakes-Traps-Weirs Fstk3|AREA|C|
|1513||![](./images/WOS-HPFH--P----.png)|![](./images-std/0.wos-hpfh--p----.jpeg)|WOS-HPFH--P----|METOC.OCA.HYDGRY.PRTHBR.FSG.FSGHBR|Fishing Harbor|POINT|C|
|1514||![](./images/WOS-HPFS---L---.png)|![](./images-std/0.wos-hpfs---l---.jpeg)|WOS-HPFS---L---|METOC.OCA.HYDGRY.PRTHBR.FSG.FSTK2|Fish Stakes-Traps-Weirs Fstk2|POINT|C|
|1515||![](./images/WOS-HPFS--P----.png)|![](./images-std/0.wos-hpfs--p----.jpeg)|WOS-HPFS--P----|METOC.OCA.HYDGRY.PRTHBR.FSG.FSTK1|Fish Stakes-Traps-Weirs Fstk1|POINT|C|
|1516||![](./images/WOS-HPM-CC-L---.png)|![](./images-std/0.wos-hpm-cc-l---.jpeg)|WOS-HPM-CC-L---|METOC.OCA.HYDGRY.PRTHBR.FAC.CFCSG|Cable Ferry Crossing|POINT|C|
|1517||![](./images/WOS-HPM-FC-L---.png)|![](./images-std/0.wos-hpm-fc-l---.jpeg)|WOS-HPM-FC-L---|METOC.OCA.HYDGRY.PRTHBR.FAC.FRYCSG|Ferry Crossing|POINT|C|
|1518||![](./images/WOS-HPML--P----.png)|![](./images-std/0.wos-hpml--p----.jpeg)|WOS-HPML--P----|METOC.OCA.HYDGRY.PRTHBR.FAC.LNDPLC|Landing Place|POINT|C|
|1519||![](./images/WOS-HPM-R-P----.png)|![](./images-std/0.wos-hpm-r-p----.jpeg)|WOS-HPM-R-P----|METOC.OCA.HYDGRY.PRTHBR.FAC.LNDRNG|Landing Ring|POINT|C|
|1520||![](./images/WOS-IBBBM-P----.png)|![](./images-std/0.wos-ibbbm-p----.jpeg)|WOS-IBBBM-P----|METOC.OCA.ISYS.IB.MNYBB|Many Bergy Bits|POINT|C|
|1521||![](./images/WOS-IBBB--P----.png)|![](./images-std/0.wos-ibbb--p----.jpeg)|WOS-IBBB--P----|METOC.OCA.ISYS.IB.BB|Bergy Bit|POINT|C|
|1522||![](./images/WOS-IBBS--P----.png)|![](./images-std/0.wos-ibbs--p----.jpeg)|WOS-IBBS--P----|METOC.OCA.ISYS.IB.BAS|Belts And Strips|POINT|C|
|1523||![](./images/WOS-IBF---P----.png)|![](./images-std/0.wos-ibf---p----.jpeg)|WOS-IBF---P----|METOC.OCA.ISYS.IB.FBG|Floeberg|POINT|C|
|1524||![](./images/WOS-IBGLM-P----.png)|![](./images-std/0.wos-ibglm-p----.jpeg)|WOS-IBGLM-P----|METOC.OCA.ISYS.IB.MNYGWL|Many Growlers|POINT|C|
|1525||![](./images/WOS-IBGL--P----.png)|![](./images-std/0.wos-ibgl--p----.jpeg)|WOS-IBGL--P----|METOC.OCA.ISYS.IB.GWL|Growler|POINT|C|
|1526||![](./images/WOS-IBG---P----.png)|![](./images-std/0.wos-ibg---p----.jpeg)|WOS-IBG---P----|METOC.OCA.ISYS.IB.GNL|Iceberg - General|POINT|C|
|1527||![](./images/WOS-IBII--P----.png)|![](./images-std/0.wos-ibii--p----.jpeg)|WOS-IBII--P----|METOC.OCA.ISYS.IB.II|Ice Island|POINT|C|
|1528||![](./images/WOS-IBMG--P----.png)|![](./images-std/0.wos-ibmg--p----.jpeg)|WOS-IBMG--P----|METOC.OCA.ISYS.IB.MNYGNL|Many Icebergs - General|POINT|C|
|1529||![](./images/WOS-IBM---P----.png)|![](./images-std/0.wos-ibm---p----.jpeg)|WOS-IBM---P----|METOC.OCA.ISYS.IB.MNY|Many Icebergs|POINT|C|
|1530||![](./images/WOS-IB----P----.png)|![](./images-std/0.wos-ib----p----.jpeg)|WOS-IB----P----|METOC.OCA.ISYS.IB|Icebergs|POINT|C|
|1531||![](./images/WOS-ICIF--P----.png)|![](./images-std/0.wos-icif--p----.jpeg)|WOS-ICIF--P----|METOC.OCA.ISYS.ICN.IF|Ice Free|POINT|C|
|1532||![](./images/WOS-ICWB--P----.png)|![](./images-std/0.wos-icwb--p----.jpeg)|WOS-ICWB--P----|METOC.OCA.ISYS.ICN.BW|Bergy Water|POINT|C|
|1533||![](./images/WOS-ICWR--P----.png)|![](./images-std/0.wos-icwr--p----.jpeg)|WOS-ICWR--P----|METOC.OCA.ISYS.ICN.WWRT|Water With Radar Targets|POINT|C|
|1534||![](./images/WOS-IDC---P----.png)|![](./images-std/0.wos-idc---p----.jpeg)|WOS-IDC---P----|METOC.OCA.ISYS.DYNPRO.CNG|Convergence|POINT|C|
|1535||![](./images/WOS-IDD---P----.png)|![](./images-std/0.wos-idd---p----.jpeg)|WOS-IDD---P----|METOC.OCA.ISYS.DYNPRO.DVG|Divergence|POINT|C|
|1536||![](./images/WOS-IDS---P----.png)|![](./images-std/0.wos-ids---p----.jpeg)|WOS-IDS---P----|METOC.OCA.ISYS.DYNPRO.SHAZ|Shearing Or Shear Zone|POINT|C|
|1537||![](./images/WOS-II----P----.png)|![](./images-std/0.wos-ii----p----.jpeg)|WOS-II----P----|METOC.OCA.ISYS.SI|Sea Ice|POINT|C|
|1538||![](./images/WOS-IIP---P----.png)|![](./images-std/0.wos-iip---p----.jpeg)|WOS-IIP---P----|METOC.OCA.ISYS.SI.MPOFI|Melt Puddles Or Flooded Ice|POINT|C|
|1539||![](./images/WOS-IITE--P----.png)|![](./images-std/0.wos-iite--p----.jpeg)|WOS-IITE--P----|METOC.OCA.ISYS.SI.ITEST|Ice Thickness (Estimated)|POINT|C|
|1540||![](./images/WOS-IITM--P----.png)|![](./images-std/0.wos-iitm--p----.jpeg)|WOS-IITM--P----|METOC.OCA.ISYS.SI.ITOBS|Ice Thickness (Observed)|POINT|C|
|1541||![](./images/WOS-ISC---P----.png)|![](./images-std/0.wos-isc---p----.jpeg)|WOS-ISC---P----|METOC.OCA.ISYS.SC|Snow Cover|POINT|C|
|1542||![](./images/WOS-ISS---P----.png)|![](./images-std/0.wos-iss---p----.jpeg)|WOS-ISS---P----|METOC.OCA.ISYS.SC.SWO|Sastrugi (With Orientation)|POINT|C|
|1543||![](./images/WOS-ITBB--P----.png)|![](./images-std/0.wos-itbb--p----.jpeg)|WOS-ITBB--P----|METOC.OCA.ISYS.TOPFTR.JBB|Jammed Brash Barrier|POINT|C|
|1544||![](./images/WOS-ITRH--P----.png)|![](./images-std/0.wos-itrh--p----.jpeg)|WOS-ITRH--P----|METOC.OCA.ISYS.TOPFTR.HUM|Ridges Or Hummocks|POINT|C|
|1545||![](./images/WOS-ITR---P----.png)|![](./images-std/0.wos-itr---p----.jpeg)|WOS-ITR---P----|METOC.OCA.ISYS.TOPFTR.RFTG|Rafting|POINT|C|
|1546||![](./images/WOS-MF----P----.png)|![](./images-std/0.wos-mf----p----.jpeg)|WOS-MF----P----|METOC.OCA.MMD.FRD|Ford|POINT|C|
|1547||![](./images/WOS-ML----P----.png)|![](./images-std/0.wos-ml----p----.jpeg)|WOS-ML----P----|METOC.OCA.MMD.LCK|Lock|POINT|C|
|1548||![](./images/WOS-MOA---P----.png)|![](./images-std/0.wos-moa---p----.jpeg)|WOS-MOA---P----|METOC.OCA.MMD.OLRG|Oil/Gas Rig|POINT|C|
|1549||![](./images/WOS-MPA---P----.png)|![](./images-std/0.wos-mpa---p----.jpeg)|WOS-MPA---P----|METOC.OCA.MMD.PLE|Pile/Piling/Post|POINT|C|
|1550||![](./images/WOS-TCCTD-P----.png)|![](./images-std/0.wos-tcctd-p----.jpeg)|WOS-TCCTD-P----|METOC.OCA.HYDGRY.TDECUR.TDEDP|Tide Data Point|POINT|C|
|1551||![](./images/WOS-TCCTG-P----.png)|![](./images-std/0.wos-tcctg-p----.jpeg)|WOS-TCCTG-P----|METOC.OCA.HYDGRY.TDECUR.TDEG|Tide Gauge|POINT|C|
|1552||![](./images/WOS-TCCW--P----.png)|![](./images-std/0.wos-tccw--p----.jpeg)|WOS-TCCW--P----|METOC.OCA.HYDGRY.TDECUR.H2OTRB|Water Turbulence|POINT|C|
|1553||![](./images/IFAPSCC--------.png)|![](./images-std/1.ifapscc--------.jpeg)|IFAPSCC--------|SIGINT.AIRTRK.SIGINC.COMM.CELL|Cellular/Mobile|POINT|D|
|1554||![](./images/IFAPSCO--------.png)|![](./images-std/1.ifapsco--------.jpeg)|IFAPSCO--------|SIGINT.AIRTRK.SIGINC.COMM.OLOS|Omni-Line Of Sight (Los)|POINT|D|
|1555||![](./images/IFAPSCP--------.png)|![](./images-std/1.ifapscp--------.jpeg)|IFAPSCP--------|SIGINT.AIRTRK.SIGINC.COMM.PTPLOS|Point-To-Point Line Of Sight (Los)|POINT|D|
|1556||![](./images/IFAPSCS--------.png)|![](./images-std/1.ifapscs--------.jpeg)|IFAPSCS--------|SIGINT.AIRTRK.SIGINC.COMM.SATUL|Satellite Uplink|POINT|D|
|1557||![](./images/IFAPSRAI-------.png)|![](./images-std/1.ifapsrai-------.jpeg)|IFAPSRAI-------|SIGINT.AIRTRK.SIGINC.RAD.ABNINC|Airborne Intercept|POINT|D|
|1558||![](./images/IFAPSRAS-------.png)|![](./images-std/1.ifapsras-------.jpeg)|IFAPSRAS-------|SIGINT.AIRTRK.SIGINC.RAD.ABNSB|Airborne Search & Bombing|POINT|D|
|1559||![](./images/IFAPSRC--------.png)|![](./images-std/1.ifapsrc--------.jpeg)|IFAPSRC--------|SIGINT.AIRTRK.SIGINC.RAD.CTDINC|Controlled Intercept|POINT|D|
|1560||![](./images/IFAPSRD--------.png)|![](./images-std/1.ifapsrd--------.jpeg)|IFAPSRD--------|SIGINT.AIRTRK.SIGINC.RAD.DATTMN|Data Transmission|POINT|D|
|1561||![](./images/IFAPSRE--------.png)|![](./images-std/1.ifapsre--------.jpeg)|IFAPSRE--------|SIGINT.AIRTRK.SIGINC.RAD.EW|Early Warning|POINT|D|
|1562||![](./images/IFAPSRF--------.png)|![](./images-std/1.ifapsrf--------.jpeg)|IFAPSRF--------|SIGINT.AIRTRK.SIGINC.RAD.FIRCTL|Fire Control|POINT|D|
|1563||![](./images/IFAPSRI--------.png)|![](./images-std/1.ifapsri--------.jpeg)|IFAPSRI--------|SIGINT.AIRTRK.SIGINC.RAD.IFF|Iff (Transponder)|POINT|D|
|1564||![](./images/IFAPSRMA-------.png)|![](./images-std/1.ifapsrma-------.jpeg)|IFAPSRMA-------|SIGINT.AIRTRK.SIGINC.RAD.MSLAQ|Missile Acquisition|POINT|D|
|1565||![](./images/IFAPSRMD-------.png)|![](./images-std/1.ifapsrmd-------.jpeg)|IFAPSRMD-------|SIGINT.AIRTRK.SIGINC.RAD.MSLDL|Missile Downlink|POINT|D|
|1566||![](./images/IFAPSRMF-------.png)|![](./images-std/1.ifapsrmf-------.jpeg)|IFAPSRMF-------|SIGINT.AIRTRK.SIGINC.RAD.MFN|Multifunction|POINT|D|
|1567||![](./images/IFAPSRMG-------.png)|![](./images-std/1.ifapsrmg-------.jpeg)|IFAPSRMG-------|SIGINT.AIRTRK.SIGINC.RAD.MSLGDN|Missile Guidance|POINT|D|
|1568||![](./images/IFAPSRMT-------.png)|![](./images-std/1.ifapsrmt-------.jpeg)|IFAPSRMT-------|SIGINT.AIRTRK.SIGINC.RAD.MSLTRK|Missile Tracking|POINT|D|
|1569||![](./images/IFAPSRTA-------.png)|![](./images-std/1.ifapsrta-------.jpeg)|IFAPSRTA-------|SIGINT.AIRTRK.SIGINC.RAD.TGTAQ|Target Acquisition|POINT|D|
|1570||![](./images/IFAPSRTI-------.png)|![](./images-std/1.ifapsrti-------.jpeg)|IFAPSRTI-------|SIGINT.AIRTRK.SIGINC.RAD.TGTILL|Target Illuminator|POINT|D|
|1571||![](./images/IFAPSRTT-------.png)|![](./images-std/1.ifapsrtt-------.jpeg)|IFAPSRTT-------|SIGINT.AIRTRK.SIGINC.RAD.TGTTRK|Target Tracking|POINT|D|
|1572||![](./images/IFAPSRU--------.png)|![](./images-std/1.ifapsru--------.jpeg)|IFAPSRU--------|SIGINT.AIRTRK.SIGINC.RAD.UNK|Unknown|POINT|D|
|1573||![](./images/IFGPSCC--------.png)|![](./images-std/1.ifgpscc--------.jpeg)|IFGPSCC--------|SIGINT.GRDTRK.SIGINC.COMM.CELL|Cellular/Mobile|POINT|D|
|1574||![](./images/IFGPSCO--------.png)|![](./images-std/1.ifgpsco--------.jpeg)|IFGPSCO--------|SIGINT.GRDTRK.SIGINC.COMM.OLOS|Omni-Line Of Sight (Los)|POINT|D|
|1575||![](./images/IFGPSCP--------.png)|![](./images-std/1.ifgpscp--------.jpeg)|IFGPSCP--------|SIGINT.GRDTRK.SIGINC.COMM.PTPLOS|Point-To-Point Line Of Sight (Los)|POINT|D|
|1576||![](./images/IFGPSCS--------.png)|![](./images-std/1.ifgpscs--------.jpeg)|IFGPSCS--------|SIGINT.GRDTRK.SIGINC.COMM.SATUL|Satellite Uplink|POINT|D|
|1577||![](./images/IFGPSCT--------.png)|![](./images-std/1.ifgpsct--------.jpeg)|IFGPSCT--------|SIGINT.GRDTRK.SIGINC.COMM.TPSSCT|Tropospheric Scatter|POINT|D|
|1578||![](./images/IFGPSRA--------.png)|![](./images-std/1.ifgpsra--------.jpeg)|IFGPSRA--------|SIGINT.GRDTRK.SIGINC.RAD.AA/C|ANTI-AIRCRAFT|POINT|D|
|1579||![](./images/IFGPSRAT-------.png)|![](./images-std/1.ifgpsrat-------.jpeg)|IFGPSRAT-------|SIGINT.GRDTRK.SIGINC.RAD.ATCTL|Air Traffic Control|POINT|D|
|1580||![](./images/IFGPSRB--------.png)|![](./images-std/1.ifgpsrb--------.jpeg)|IFGPSRB--------|SIGINT.GRDTRK.SIGINC.RAD.BTFSVL|Battlefield Surveillance|POINT|D|
|1581||![](./images/IFGPSRCA-------.png)|![](./images-std/1.ifgpsrca-------.jpeg)|IFGPSRCA-------|SIGINT.GRDTRK.SIGINC.RAD.CTDAPP|Controlled Approach|POINT|D|
|1582||![](./images/IFGPSRCS-------.png)|![](./images-std/1.ifgpsrcs-------.jpeg)|IFGPSRCS-------|SIGINT.GRDTRK.SIGINC.RAD.CSTSVL|Coastal Surveillance|POINT|D|
|1583||![](./images/IFGPSRD--------.png)|![](./images-std/1.ifgpsrd--------.jpeg)|IFGPSRD--------|SIGINT.GRDTRK.SIGINC.RAD.DATTMN|Data Transmission|POINT|D|
|1584||![](./images/IFGPSRE--------.png)|![](./images-std/1.ifgpsre--------.jpeg)|IFGPSRE--------|SIGINT.GRDTRK.SIGINC.RAD.EW|Early Warning|POINT|D|
|1585||![](./images/IFGPSRF--------.png)|![](./images-std/1.ifgpsrf--------.jpeg)|IFGPSRF--------|SIGINT.GRDTRK.SIGINC.RAD.FIRCTL|Fire Control|POINT|D|
|1586||![](./images/IFGPSRH--------.png)|![](./images-std/1.ifgpsrh--------.jpeg)|IFGPSRH--------|SIGINT.GRDTRK.SIGINC.RAD.HGTFDG|Height Finding|POINT|D|
|1587||![](./images/IFGPSRI--------.png)|![](./images-std/1.ifgpsri--------.jpeg)|IFGPSRI--------|SIGINT.GRDTRK.SIGINC.RAD.IDFF|Identification Friend/Foe (Interrogator)|POINT|D|
|1588||![](./images/IFGPSRMA-------.png)|![](./images-std/1.ifgpsrma-------.jpeg)|IFGPSRMA-------|SIGINT.GRDTRK.SIGINC.RAD.MSLAQ|Missile Acquisition|POINT|D|
|1589||![](./images/IFGPSRMF-------.png)|![](./images-std/1.ifgpsrmf-------.jpeg)|IFGPSRMF-------|SIGINT.GRDTRK.SIGINC.RAD.MFN|Multifunction|POINT|D|
|1590||![](./images/IFGPSRMG-------.png)|![](./images-std/1.ifgpsrmg-------.jpeg)|IFGPSRMG-------|SIGINT.GRDTRK.SIGINC.RAD.MSLGDN|Missile Guidance|POINT|D|
|1591||![](./images/IFGPSRMM-------.png)|![](./images-std/1.ifgpsrmm-------.jpeg)|IFGPSRMM-------|SIGINT.GRDTRK.SIGINC.RAD.METO|Meteorological (Military)|POINT|D|
|1592||![](./images/IFGPSRMT-------.png)|![](./images-std/1.ifgpsrmt-------.jpeg)|IFGPSRMT-------|SIGINT.GRDTRK.SIGINC.RAD.MSLTRK|Missile Tracking|POINT|D|
|1593||![](./images/IFGPSRS--------.png)|![](./images-std/1.ifgpsrs--------.jpeg)|IFGPSRS--------|SIGINT.GRDTRK.SIGINC.RAD.SHETKG|Shell Tracking|POINT|D|
|1594||![](./images/IFGPSRTA-------.png)|![](./images-std/1.ifgpsrta-------.jpeg)|IFGPSRTA-------|SIGINT.GRDTRK.SIGINC.RAD.TGTAQ|Target Acquisition|POINT|D|
|1595||![](./images/IFGPSRTI-------.png)|![](./images-std/1.ifgpsrti-------.jpeg)|IFGPSRTI-------|SIGINT.GRDTRK.SIGINC.RAD.TGTILL|Target Illuminator|POINT|D|
|1596||![](./images/IFGPSRTT-------.png)|![](./images-std/1.ifgpsrtt-------.jpeg)|IFGPSRTT-------|SIGINT.GRDTRK.SIGINC.RAD.TGTTRK|Target Tracking|POINT|D|
|1597||![](./images/IFGPSRU--------.png)|![](./images-std/1.ifgpsru--------.jpeg)|IFGPSRU--------|SIGINT.GRDTRK.SIGINC.RAD.UNK|Unknown|POINT|D|
|1598||![](./images/IFPPSCD--------.png)|![](./images-std/1.ifppscd--------.jpeg)|IFPPSCD--------|SIGINT.SPC.SIGINC.COMM.SATDL|Satellite Downlink|POINT|D|
|1599||![](./images/IFPPSRD--------.png)|![](./images-std/1.ifppsrd--------.jpeg)|IFPPSRD--------|SIGINT.SPC.SIGINC.RAD.DATTMN|Data Transmission|POINT|D|
|1600||![](./images/IFPPSRE--------.png)|![](./images-std/1.ifppsre--------.jpeg)|IFPPSRE--------|SIGINT.SPC.SIGINC.RAD.ERHSVL|Earth Surveillance|POINT|D|
|1601||![](./images/IFPPSRI--------.png)|![](./images-std/1.ifppsri--------.jpeg)|IFPPSRI--------|SIGINT.SPC.SIGINC.RAD.IFF|Iff (Transponder)|POINT|D|
|1602||![](./images/IFPPSRM--------.png)|![](./images-std/1.ifppsrm--------.jpeg)|IFPPSRM--------|SIGINT.SPC.SIGINC.RAD.MFN|Multifunction|POINT|D|
|1603||![](./images/IFPPSRS--------.png)|![](./images-std/1.ifppsrs--------.jpeg)|IFPPSRS--------|SIGINT.SPC.SIGINC.RAD.SPC|Space|POINT|D|
|1604||![](./images/IFPPSRT--------.png)|![](./images-std/1.ifppsrt--------.jpeg)|IFPPSRT--------|SIGINT.SPC.SIGINC.RAD.TGTAQ|Target Acquisition|POINT|D|
|1605||![](./images/IFPPSRU--------.png)|![](./images-std/1.ifppsru--------.jpeg)|IFPPSRU--------|SIGINT.SPC.SIGINC.RAD.UNK|Unknown|POINT|D|
|1606||![](./images/IFSPSCC--------.png)|![](./images-std/1.ifspscc--------.jpeg)|IFSPSCC--------|SIGINT.SSUF.SIGINC.COMM.CELL|Cellular-Mobile|POINT|D|
|1607||![](./images/IFSPSCO--------.png)|![](./images-std/1.ifspsco--------.jpeg)|IFSPSCO--------|SIGINT.SSUF.SIGINC.COMM.OLOS|Omni-Line Of Sight (Los)|POINT|D|
|1608||![](./images/IFSPSCP--------.png)|![](./images-std/1.ifspscp--------.jpeg)|IFSPSCP--------|SIGINT.SSUF.SIGINC.COMM.PTPLOS|Point-To-Point Line Of Sight (Los)|POINT|D|
|1609||![](./images/IFSPSCS--------.png)|![](./images-std/1.ifspscs--------.jpeg)|IFSPSCS--------|SIGINT.SSUF.SIGINC.COMM.SATUL|Satellite Uplink|POINT|D|
|1610||![](./images/IFSPSRAA-------.png)|![](./images-std/1.ifspsraa-------.jpeg)|IFSPSRAA-------|SIGINT.SSUF.SIGINC.RAD.AA-C|Antiaircraft|POINT|D|
|1611||![](./images/IFSPSRAT-------.png)|![](./images-std/1.ifspsrat-------.jpeg)|IFSPSRAT-------|SIGINT.SSUF.SIGINC.RAD.ATCTL|Air Traffic Control|POINT|D|
|1612||![](./images/IFSPSRCA-------.png)|![](./images-std/1.ifspsrca-------.jpeg)|IFSPSRCA-------|SIGINT.SSUF.SIGINC.RAD.CTDAPP|Controlled Approach|POINT|D|
|1613||![](./images/IFSPSRCI-------.png)|![](./images-std/1.ifspsrci-------.jpeg)|IFSPSRCI-------|SIGINT.SSUF.SIGINC.RAD.CTDINC|Controlled Intercept|POINT|D|
|1614||![](./images/IFSPSRD--------.png)|![](./images-std/1.ifspsrd--------.jpeg)|IFSPSRD--------|SIGINT.SSUF.SIGINC.RAD.DATTMN|Data Transmission|POINT|D|
|1615||![](./images/IFSPSRE--------.png)|![](./images-std/1.ifspsre--------.jpeg)|IFSPSRE--------|SIGINT.SSUF.SIGINC.RAD.EW|Early Warning|POINT|D|
|1616||![](./images/IFSPSRF--------.png)|![](./images-std/1.ifspsrf--------.jpeg)|IFSPSRF--------|SIGINT.SSUF.SIGINC.RAD.FIRCTL|Fire Control|POINT|D|
|1617||![](./images/IFSPSRH--------.png)|![](./images-std/1.ifspsrh--------.jpeg)|IFSPSRH--------|SIGINT.SSUF.SIGINC.RAD.HGTFDG|Height Finding|POINT|D|
|1618||![](./images/IFSPSRI--------.png)|![](./images-std/1.ifspsri--------.jpeg)|IFSPSRI--------|SIGINT.SSUF.SIGINC.RAD.IDFF|Identification Friend-Foe (Interrogator)|POINT|D|
|1619||![](./images/IFSPSRMA-------.png)|![](./images-std/1.ifspsrma-------.jpeg)|IFSPSRMA-------|SIGINT.SSUF.SIGINC.RAD.MSLAQ|Missile Acquisition|POINT|D|
|1620||![](./images/IFSPSRMF-------.png)|![](./images-std/1.ifspsrmf-------.jpeg)|IFSPSRMF-------|SIGINT.SSUF.SIGINC.RAD.MFN|Multifunction|POINT|D|
|1621||![](./images/IFSPSRMG-------.png)|![](./images-std/1.ifspsrmg-------.jpeg)|IFSPSRMG-------|SIGINT.SSUF.SIGINC.RAD.MSLGDN|Missile Guidance|POINT|D|
|1622||![](./images/IFSPSRMM-------.png)|![](./images-std/1.ifspsrmm-------.jpeg)|IFSPSRMM-------|SIGINT.SSUF.SIGINC.RAD.METO|Meteorological (Military)|POINT|D|
|1623||![](./images/IFSPSRMT-------.png)|![](./images-std/1.ifspsrmt-------.jpeg)|IFSPSRMT-------|SIGINT.SSUF.SIGINC.RAD.MSLTRK|Missile Tracking|POINT|D|
|1624||![](./images/IFSPSRS--------.png)|![](./images-std/1.ifspsrs--------.jpeg)|IFSPSRS--------|SIGINT.SSUF.SIGINC.RAD.SUFSRH|Surface Search|POINT|D|
|1625||![](./images/IFSPSRTA-------.png)|![](./images-std/1.ifspsrta-------.jpeg)|IFSPSRTA-------|SIGINT.SSUF.SIGINC.RAD.TGTAQ|Target Acquisition|POINT|D|
|1626||![](./images/IFSPSRTI-------.png)|![](./images-std/1.ifspsrti-------.jpeg)|IFSPSRTI-------|SIGINT.SSUF.SIGINC.RAD.TGTILL|Target Illuminator|POINT|D|
|1627||![](./images/IFSPSRTT-------.png)|![](./images-std/1.ifspsrtt-------.jpeg)|IFSPSRTT-------|SIGINT.SSUF.SIGINC.RAD.TGTTRK|Target Tracking|POINT|D|
|1628||![](./images/IFSPSRU--------.png)|![](./images-std/1.ifspsru--------.jpeg)|IFSPSRU--------|SIGINT.SSUF.SIGINC.RAD.UNK|Unknown|POINT|D|
|1629||![](./images/IFUPSCO--------.png)|![](./images-std/1.ifupsco--------.jpeg)|IFUPSCO--------|SIGINT.SBSUF.SIGINC.COMM.OLOS|Omni-Line Of Sight (Los)|POINT|D|
|1630||![](./images/IFUPSCP--------.png)|![](./images-std/1.ifupscp--------.jpeg)|IFUPSCP--------|SIGINT.SBSUF.SIGINC.COMM.PTPLOS|Point-To-Point Line Of Sight (Los)|POINT|D|
|1631||![](./images/IFUPSCS--------.png)|![](./images-std/1.ifupscs--------.jpeg)|IFUPSCS--------|SIGINT.SBSUF.SIGINC.COMM.SATUL|Satellite Uplink|POINT|D|
|1632||![](./images/IFUPSRD--------.png)|![](./images-std/1.ifupsrd--------.jpeg)|IFUPSRD--------|SIGINT.SBSUF.SIGINC.RAD.DATTMN|Data Transmission|POINT|D|
|1633||![](./images/IFUPSRE--------.png)|![](./images-std/1.ifupsre--------.jpeg)|IFUPSRE--------|SIGINT.SBSUF.SIGINC.RAD.EW|Early Warning|POINT|D|
|1634||![](./images/IFUPSRM--------.png)|![](./images-std/1.ifupsrm--------.jpeg)|IFUPSRM--------|SIGINT.SBSUF.SIGINC.RAD.MFN|Multifunction|POINT|D|
|1635||![](./images/IFUPSRS--------.png)|![](./images-std/1.ifupsrs--------.jpeg)|IFUPSRS--------|SIGINT.SBSUF.SIGINC.RAD.SUFSRH|Surface Search|POINT|D|
|1636||![](./images/IFUPSRT--------.png)|![](./images-std/1.ifupsrt--------.jpeg)|IFUPSRT--------|SIGINT.SBSUF.SIGINC.RAD.TGTAQ|Target Acquisition|POINT|D|
|1637||![](./images/IFUPSRU--------.png)|![](./images-std/1.ifupsru--------.jpeg)|IFUPSRU--------|SIGINT.SBSUF.SIGINC.RAD.UNK|Unknown|POINT|D|
|1638||![](./images/OFIPD----------.png)|![](./images-std/1.ofipd----------.jpeg)|OFIPD----------|STBOPS.ITM.DGVEH|Drug Vehicle|POINT|E|
|1639||![](./images/OFIPF----------.png)|![](./images-std/1.ofipf----------.jpeg)|OFIPF----------|STBOPS.ITM.ISF|Internal Security Force|POINT|E|
|1640||![](./images/OFIPG----------.png)|![](./images-std/1.ofipg----------.jpeg)|OFIPG----------|STBOPS.ITM.GRF|Graffiti|POINT|E|
|1641||![](./images/OFIPI----------.png)|![](./images-std/1.ofipi----------.jpeg)|OFIPI----------|STBOPS.ITM.KNIVEH|Known Insurgent Vehicle|POINT|E|
|1642||![](./images/OFIPR----------.png)|![](./images-std/1.ofipr----------.jpeg)|OFIPR----------|STBOPS.ITM.RFG|Refugees|POINT|E|
|1643||![](./images/OFIPS----------.png)|![](./images-std/1.ofips----------.jpeg)|OFIPS----------|STBOPS.ITM.SAFHSE|Safe House|POINT|E|
|1644||![](./images/OFIPV----------.png)|![](./images-std/1.ofipv----------.jpeg)|OFIPV----------|STBOPS.ITM.VRLRPS|Vandalism/Loot/Ransack/Plunder/Sack|POINT|E|
|1645||![](./images/OFLPB----------.png)|![](./images-std/1.oflpb----------.jpeg)|OFLPB----------|STBOPS.LOCAT.BLST|Black List Location|POINT|E|
|1646||![](./images/OFLPG----------.png)|![](./images-std/1.oflpg----------.jpeg)|OFLPG----------|STBOPS.LOCAT.GLST|Gray List Location|POINT|E|
|1647||![](./images/OFLPM----------.png)|![](./images-std/1.oflpm----------.jpeg)|OFLPM----------|STBOPS.LOCAT.MASS|Mass Grave Location|POINT|E|
|1648||![](./images/OFLPW----------.png)|![](./images-std/1.oflpw----------.jpeg)|OFLPW----------|STBOPS.LOCAT.WLST|White List Location|POINT|E|
|1649||![](./images/OFOPA----------.png)|![](./images-std/1.ofopa----------.jpeg)|OFOPA----------|STBOPS.OPN.ARR|Arrest|POINT|E|
|1650||![](./images/OFOPD----------.png)|![](./images-std/1.ofopd----------.jpeg)|OFOPD----------|STBOPS.OPN.DEMO|Demonstration|POINT|E|
|1651||![](./images/OFOPE----------.png)|![](./images-std/1.ofope----------.jpeg)|OFOPE----------|STBOPS.OPN.EXTN|Extortion|POINT|E|
|1652||![](./images/OFOPF----------.png)|![](./images-std/1.ofopf----------.jpeg)|OFOPF----------|STBOPS.OPN.FRGSRH|Foraging/Searching|POINT|E|
|1653||![](./images/OFOPHA---------.png)|![](./images-std/1.ofopha---------.jpeg)|OFOPHA---------|STBOPS.OPN.HJKG.APL|Hijacking (Airplane)|POINT|E|
|1654||![](./images/OFOPHT---------.png)|![](./images-std/1.ofopht---------.jpeg)|OFOPHT---------|STBOPS.OPN.HJKG.VEH|Hijacking (Vehicle)|POINT|E|
|1655||![](./images/OFOPHV---------.png)|![](./images-std/1.ofophv---------.jpeg)|OFOPHV---------|STBOPS.OPN.HJKG.BOAT|Hijacking (Boat)|POINT|E|
|1656||![](./images/OFOPK----------.png)|![](./images-std/1.ofopk----------.jpeg)|OFOPK----------|STBOPS.OPN.KDNG|Kidnapping|POINT|E|
|1657||![](./images/OFOPM----------.png)|![](./images-std/1.ofopm----------.jpeg)|OFOPM----------|STBOPS.OPN.ML|Mine Laying|POINT|E|
|1658||![](./images/OFOPO----------.png)|![](./images-std/1.ofopo----------.jpeg)|OFOPO----------|STBOPS.OPN.FDDIST|Food Distribution|POINT|E|
|1659||![](./images/OFOPP----------.png)|![](./images-std/1.ofopp----------.jpeg)|OFOPP----------|STBOPS.OPN.PATG|Patrolling|POINT|E|
|1660||![](./images/OFOPRC---------.png)|![](./images-std/1.ofoprc---------.jpeg)|OFOPRC---------|STBOPS.OPN.RCMT.CRCD|Recruitment (Coerced/Impressed)|POINT|E|
|1661||![](./images/OFOPRW---------.png)|![](./images-std/1.ofoprw---------.jpeg)|OFOPRW---------|STBOPS.OPN.RCMT.WLG|Recruitment (Willing)|POINT|E|
|1662||![](./images/OFOPS----------.png)|![](./images-std/1.ofops----------.jpeg)|OFOPS----------|STBOPS.OPN.SPY|Spy|POINT|E|
|1663||![](./images/OFOPU----------.png)|![](./images-std/1.ofopu----------.jpeg)|OFOPU----------|STBOPS.OPN.DGOPN|Drug Operation|POINT|E|
|1664||![](./images/OFOPY----------.png)|![](./images-std/1.ofopy----------.jpeg)|OFOPY----------|STBOPS.OPN.PSYOP|Psychological Operations (Psyop)|POINT|E|
|1665||![](./images/OFOPYH---------.png)|![](./images-std/1.ofopyh---------.jpeg)|OFOPYH---------|STBOPS.OPN.PSYOP.HTHP|House-To-House Propaganda|POINT|E|
|1666||![](./images/OFOPYT---------.png)|![](./images-std/1.ofopyt---------.jpeg)|OFOPYT---------|STBOPS.OPN.PSYOP.TARP|Psyop (Tv And Radio Propaganda)|POINT|E|
|1667||![](./images/OFOPYW---------.png)|![](./images-std/1.ofopyw---------.jpeg)|OFOPYW---------|STBOPS.OPN.PSYOP.WP|Psyop (Written Propaganda)|POINT|E|
|1668||![](./images/OFVPA----------.png)|![](./images-std/1.ofvpa----------.jpeg)|OFVPA----------|STBOPS.VIOATY.ASN|Arson/Fire|POINT|E|
|1669||![](./images/OFVPB----------.png)|![](./images-std/1.ofvpb----------.jpeg)|OFVPB----------|STBOPS.VIOATY.BM|Bomb/Bombing|POINT|E|
|1670||![](./images/OFVPD----------.png)|![](./images-std/1.ofvpd----------.jpeg)|OFVPD----------|STBOPS.VIOATY.DBS|Drive-By Shooting|POINT|E|
|1671||![](./images/OFVPM----------.png)|![](./images-std/1.ofvpm----------.jpeg)|OFVPM----------|STBOPS.VIOATY.KILL|Killing (General)|POINT|E|
|1672||![](./images/OFVPMA---------.png)|![](./images-std/1.ofvpma---------.jpeg)|OFVPMA---------|STBOPS.VIOATY.KILL.MDR|Murder|POINT|E|
|1673||![](./images/OFVPMB---------.png)|![](./images-std/1.ofvpmb---------.jpeg)|OFVPMB---------|STBOPS.VIOATY.KILL.EX|Execution|POINT|E|
|1674||![](./images/OFVPMC---------.png)|![](./images-std/1.ofvpmc---------.jpeg)|OFVPMC---------|STBOPS.VIOATY.KILL.ASS|Assassination|POINT|E|
|1675||![](./images/OFVPP----------.png)|![](./images-std/1.ofvpp----------.jpeg)|OFVPP----------|STBOPS.VIOATY.PSNG|Poisoning|POINT|E|
|1676||![](./images/OFVPS----------.png)|![](./images-std/1.ofvps----------.jpeg)|OFVPS----------|STBOPS.VIOATY.SPG|Sniping|POINT|E|
|1677||![](./images/OFVPY----------.png)|![](./images-std/1.ofvpy----------.jpeg)|OFVPY----------|STBOPS.VIOATY.BBY|Booby Trap|POINT|E|
